<#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />
<@fmt.setBundle basename="backstage"/> 
<div class="grid">
 
	<div class="toolbar">
		<ul><li><a href="multiSite!add.do">添加子站</a></li></ul>
		<div style="clear:both"></div>
	</div>

<div id="cat_list">
	
<table>
	<thead>
		<tr>
		<th width=300><@fmt.message key="common.name" /></th> 
		<th width=300>域名</th> 
		<th width=100><@fmt.message key="cententman.cms.edit" /></th>
		<th><@fmt.message key="common.list.del" /></th>
		</tr>
	</thead> 
	<tbody>
		<#assign children=siteList />
		<#assign level=1 />
		<#include 'list_children.html' />  
	</tbody>
</table>	
	
</div>
</div>
