<#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />
<@fmt.setBundle basename="backstage"/> 
<form class="validate" id="addForm">
<input type="hidden" name="productSoftwareConfig.softwareFlag" value="0" />
<div class="input">
   <table cellspacing="1" cellpadding="3" width="100%" class="form-table">
	<tr height="5">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
     <tr> 
       <th><label class="text"><@fmt.message key="common.name" /></label></th>
       <td><input type="text" name="productSoftwareConfig.name" id="name"   maxlength="60" value=""  dataType="string" isrequired="true"/>       </td>
     </tr>
     <tr>
       <th><label class="text"><@fmt.message key="product.virtualdir.parentdir" /></label></th>
       <td>
		<select name="productSoftwareConfig.parentCode"  id="parentCode">
 		<#assign children=productSoftwareConfigList />
		<#assign level=0 />
		<#assign parentCode=parentCode />
		<#include 'select_children.html' />  
		</select>	</td>
     </tr>
	<tr height="5">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
   </table>
   
   </div>
	<div class="submitlist" align="center">
	 <table>
	 <tr><td >
	           <input  type="button"  value=<@fmt.message key="common.btn.ok" /> class="submitBtn" id="saveAddBtn"/>
	           <input name="reset" type="reset"  value=<@fmt.message key="common.btn.reset" /> class="submitBtn"/>
	   </td>
	   </tr>
	 </table>
	</div>   
   </form>
<script type="text/javascript">
$(function(){
	$("#addForm").validate();
});
</script>
