<#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />
<@fmt.setBundle basename="backstage"/> 
<#list children as productSoftwareConfig> 
<tr>
    <td style="padding-left:${level*40+20}px;font-weight: bold;" align="left">${productSoftwareConfig.name}</td>
    <td>
    <a href="javascript:;" parentCode="${productSoftwareConfig.code}" class="addBtn"><@fmt.message key="common.btn.add" /></a>
    </td>
    <td> 
    <#if productSoftwareConfig.hasChildren>
        <#else>
        <a href="productSoftwareConfig!addUpgrade.do?productSoftwareConfigCode=${productSoftwareConfig.code}"  class="addUpgradeBtn">消息推送维护
        </a>
        </#if>
        </td>
    <td>
    	<#if productSoftwareConfig.parentCode != "0">
    		<a href="javascript:;" productSoftwareConfigCode="${productSoftwareConfig.code}" class="editBtn"><@fmt.message key="common.list.mod" /></a>
   	 	<#else>
   	 		<@fmt.message key="common.list.mod" />
    	</#if>
    </td>
    <td>
    	<#if productSoftwareConfig.parentCode != "0">
    		<a href="javascript:;" productSoftwareConfigCode="${productSoftwareConfig.code}" class="delBtn"><@fmt.message key="common.list.del" /></a>
   	 	<#else>
   	 		<@fmt.message key="common.list.del" />
    	</#if>
    </td>
</tr>
	<#if productSoftwareConfig.hasChildren>
		<#assign level=level+1 />
	  	<#assign children=productSoftwareConfig.children />
		<#include 'list_children.html' />
  		<#assign level=level-1/>
	</#if>
</#list>