<#if SECURETOKEN==null||SECURETOKEN=="null"||SECURETOKEN=="error">
    error
<#else>
<script type="text/javascript">
$(document).ready(function(){
$("#submitToPay").submit();
});
</script>
<!-- 测试地址 https://pilot-payflowpro.paypal.com  MODE=TEST
     正式地址：https://payflowlink.paypal.com/    MODE=LIVE
-->
<form id="submitToPay" method='post' action='https://payflowlink.paypal.com'> 
<input type='hidden' id="SECURETOKEN" name='SECURETOKEN' value='${SECURETOKEN}'/>
<input type='hidden' id="SECURETOKENID" name='SECURETOKENID' value='${SECURETOKENID}'  />
<input type='hidden' name='MODE' value='LIVE' />
<input type='hidden' id="CANCELURL" name='CANCELURL' value="${bundle('autelproweb.url')}/pay_error.html" />
<input type='hidden' id="RETURNURL " name='RETURNURL'  value="${bundle('autelproweb.url')}/pay_success.html"/>
<input type='hidden' id="ERRORURL   " name='ERRORURL'  value="${bundle('autelproweb.url')}/pay_error.html"/>
</form>
</#if>