<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- by 2017-09-11 -->
<div id="userAutelId" style="font-size:28px;position:relative;top:-60px;color:#999999;">Hello  ${autelId!}</div>
<div class="account_left">
<dl>
	<#assign mi = 1 />
	
   <#if updateFlag==false>   
	    <dt title="myAccount">
			<a href="myAccount.html?m=${mi}&operationType=5" >${bundle("autel.menu.myaccount")}</a>
		</dt>
		<dd title="updateAutelId"	<#if cusmenu='0' >class="account_left_dd"</#if>> 
			<a href="updateAutelID.html" >${bundle("customer.change.update.autel")}</a>
		</dd>
	
	<#elseif proCount gt 0>
		<dt title="myAccount">
			<a href="myAccount.html?m=${mi}&operationType=5" >${bundle("autel.menu.myaccount")}</a>
		</dt>
		<dd title="myProducts" <#if cusmenu='1' >class="account_left_dd"</#if> > 
			<a href="myProducts-1-1.html?m=${mi}">${bundle("autel.menu.myproduct")}</a>
	    </dd>
<!-- 		<dd <#if cusmenu='2' >class="account_left_dd"</#if> >  -->
<!-- 			<a href="myOrders-1-1.html?m=${mi}">${bundle("autel.menu.myorders")}</a> -->
<!-- 	    </dd> -->
	    
<!-- 	    <dd <#if cusmenu='9' >class="account_left_dd"</#if> >  -->
<!-- 			<a href="renewByCard.html?m=${mi}">${bundle("renew.card.name")}</a> -->
<!-- 	    </dd> -->
	    
		<dd title="regProduct" <#if cusmenu='3' >class="account_left_dd"</#if> > 
			<a href="regProduct.html?m=${mi}">${bundle("autel.menu.productreg")}</a>
	    </dd>
<!-- 		<dd title="complaint" <#if cusmenu='4' >class="account_left_dd"</#if> >  -->
<!-- 			<a href="customerComplaintInfo-1-1.html?m=${mi}&userType=1&operationType=1">${bundle("autel.menu.mycomplaints")}</a> -->
<!-- 	    </dd> -->

<!-- 		<dd <#if cusmenu='5' >class="account_left_dd"</#if> >  -->
<!-- 			<a href="queryProductToolsList.html?m=${mi}&operationType=1">${bundle("autel.menu.mytooldownload")}</a> -->
<!-- 	    </dd> -->
		<dd title="myMessage" <#if cusmenu='6' >class="account_left_dd"</#if> > 
			<a href="myMessageInfo-1-1.html?m=${mi}&userType=1">${bundle("autel.menu.mymessage")}</a>
	    </dd>
		<!-- <dd title="accountInformation" <#if cusmenu='7' >class="account_left_dd"</#if> > 
			<a href="updateCustomerInfo.html?m=${mi}&operationType=5">${bundle("autel.menu.myaccountinformation")}</a>
	    </dd> -->
		
	
<!-- 		<dd <#if cusmenu='10' >class="account_left_dd"</#if> >  -->
<!-- 			<a href="myPayDesc.html?m=${mi}">${bundle("autel.menu.payinstructions")}</a> -->
<!-- 	    </dd> -->
	<#else>
		<dt title="myAccount">
			<a href="myAccount.html?m=${mi}&operationType=5">${bundle("autel.menu.myaccount")}</a>
		</dt>
		<dd title="regProduct"	<#if cusmenu='3' >class="account_left_dd"</#if> > 
			<a href="regProduct.html?m=${mi}" >${bundle("autel.menu.productreg")}</a>
		</dd>
	</#if>	
	<dd <#if cusmenu='8' >class="account_left_dd"</#if> > 
		<a href="updatePasswordCustomer.html?m=${mi}&operationType=7">${bundle("autel.menu.myupdatepassword")}</a>
	</dd>
	<dd> 
		<a href="${bundle('autelproweb.url')}/loginOut.html?loginToType=1&operationType=18&userType=${userType!''}&m=1">Sign out</a>
	</dd>
	<dd> 
		<a href="sdkApp.html?userType=${userType!''}">Back</a>
	</dd>
</dl>
</div>