<div style=" height:200px;"></div>

<!--中间结束-->

<div style="width:970px;margin:0px auto">

<div class="down_menu">
<ul class="clearfix">

<li class="down_menu_lm" style="width:40px;text-align:left;padding-top: 8px;"><a target="_self" class="footer_a" href="${bundle('autelcms.path')}">${bundle('footer.html.cmsweb')}</a></li>
<li class="down_menu_tb"><strong>|</strong></li>
<li class="down_menu_lm" style="width:100px;padding-top: 8px;"><a  target="_self" class="footer_a" href="${bundle('autelcms.path')}/CustomerSupport/413.jhtml">${bundle('footer.html.support')}</a></li>
<li class="down_menu_tb"><strong>|</strong></li>
<li class="down_menu_lm" style="width:120px;padding-top: 8px;"><a target="_self" class="footer_a" href="${bundle('autelcms.path')}/CustomerSupport/414.jhtml">${bundle('footer.html.use')}</a></li>
<li class="down_menu_tb"><strong>|</strong></li>
<li class="down_menu_lm" style="width:120px;padding-top: 8px;"><a target="_self" class="footer_a" href="${bundle('autelcms.path')}/CustomerSupport/416.jhtml">${bundle('footer.html.training')}</a></li>
<li class="down_menu_tb" ><strong>|</strong></li>
<li class="down_menu_lm" style="width:120px;padding-top: 8px;"><a target="_self" class="footer_a" href="${bundle('autelcms.path')}/CustomerSupport/418.jhtml">${bundle('footer.html.return')}</a></li>

<li class="down_menu_tb"><strong>|</strong></li>
<li class="down_menu_lm" style="width:120px;padding-top: 8px;"><a target="_self" class="footer_a" href="${bundle('autelcms.path')}/NewsRoom/467.jhtml">${bundle('footer.html.launch')}</a></li>
<li class="down_menu_tb"><strong>|</strong></li>
<li class="down_menu_lm" style="width:95px;padding-top: 8px;"><a target="_self" class="footer_a" href="${bundle('autelcms.path')}/NewsRoom/468.jhtml">${bundle('footer.html.exhibitions')}</a></li>
<li class="down_menu_tb"><strong>|</strong></li>
<li class="down_menu_lm" style="width:70px;padding-top: 8px;"><a target="_self" class="footer_a" href="${bundle('autelcms.path')}/Sitemap/410.jhtml">${bundle('footer.html.sitemap')}</a></li>
<li class="down_menu_tb"><strong>|</strong></li>
<li class="down_menu_lm" style="width:80px;padding-top: 8px;"><a target="_self" class="footer_a" href="${bundle('autelcms.path')}/CorporateInformation/463.jhtml">${bundle('footer.html.about')}</a></li>
<li class="down_menu_tb"><strong>|</strong></li>
<li class="down_menu_lm" style="width:62px;padding-left:6px;padding-top: 8px;"><a target="_self" class="footer_a" href="${bundle('autelcms.path')}/CorporateInformation/461.jhtml">${bundle('footer.html.contract')}</a></li>
</ul>
</div>
<div class="foot2014">
	<div class="foot_copy">
	
	<span class="down_menu_lm2"> 
		    <a href="${bundle('autelproweb.url')}/themes/autel/images/TeamViewerQS_en.exe"><img src="${bundle('autelproweb.url')}/themes/autel/images/tv.png" width="16" height="16" /></a>
		    <a href="http://www.twitter.com/"><img src="${bundle('autelproweb.url')}/themes/autel/images/Twitter.png" width="16" height="16" /></a>
			<a href="http://www.facebook.com"><img src="${bundle('autelproweb.url')}/themes/autel/images/Facebook.png" width="16" height="16" /></a>
			<a href="http://www.podcast.com"><img src="${bundle('autelproweb.url')}/themes/autel/images/podcast.png" width="16" height="16" /></a>
			<a href="http://www.youtube.com/autelus"><img src="${bundle('autelproweb.url')}/themes/autel/images/youtube.png" width="16" height="16" /></a>
	</span>
	
		<img style="padding-bottom:2px" src="${bundle('autelproweb.url')}/themes/autel/images/new_logo_foot.png" />&nbsp;${bundle('footer.html.copy')}
			&nbsp;&nbsp;<a style="font-size: 12px; target="_self"  href="${bundle('autelcms.path')}/Terms/531.jhtml">${bundle('footer.html.terms')}</a>
            &nbsp;&nbsp;<strong>|</strong>
	        &nbsp;&nbsp;<a style="font-size: 12px; target="_self" href="${bundle('autelcms.path')}/privacy/532.jhtml">${bundle('footer.html.privacy')}</a>
	</div>
</div>
<style>
a:hover{
cursor: pointer;
text-decoration: none;
}

 .goog-te-gadget-icon{
 display:none 
}
/*.goog-te-menu-value{
 margin-right: 0px;
 margin-left: 0px;
} */
.goog-te-menu-value span{
float:none
}
</style>