<script type="text/javascript">
	AutelHeadFoot({
		lang: 'en',// Language cn or en
		userprofile:'http://pro.autelrobotics.com/myAccount.html?m=&operationType=5',
		show_globe: false, //Toggle globe
		show_newsletter : true, //Toggle newsletter
		show_langtopbar : false,//Toggle languagebar
		show_buynow : true,//Toggle buynow
		show_buy_now : true, //Toggle buy now for mobile view
		show_support : true, //Toggle support menu
		buzz_menu: false, //Show Buzz menu item in header
		support_menu: false, //Support submenu, pass object to override. If false then default menu will be shown.
		show_news : true, //Toggle news
		custom_contact: true, //Custom contact data. If true then contact field must be passed along with HTML
		contact: '<strong>Support:</strong> <a href="tel:844-692-8835">1-844-My-Autel</a> <span>·</span> <a href="tel:844-692-8835">(844)-692-8835</a><br> <a href="mailto:support@autelrobotics.com">support@autelrobotics.com</a>   <br>',//Contact html
		footer_menu: false,
		terms_menu: false,
		prod: true,
		custom_social: false,//Show custom social link. If so social array must be passed.
		social:[
			{ link: 'https://www.facebook.com/autelrobotics/', icon: 'fa-facebook' },
			{ link: 'https://twitter.com/autelrobotics', icon: 'fa-twitter' },
			{ link: 'https://www.instagram.com/autelrobotics/', icon: 'fa-instagram' },
			{ link: 'https://www.youtube.com/channel/UC1QYiRZkTUkmyW7atm776nA', icon: 'fa-youtube' }
		]
	});
</script>
<footer id="global-footer" class="autel-hf">

</footer>

<script>
<#if userType ?? && userType == '1'>
	jQuery(document).ready(function(){
		jQuery('.menu-menu-support-container a[href="http://support.autelrobotics.com/support/discussions"]').attr('href','http://support.autelrobotics.com/support/login');
    });

<#else>
	jQuery(document).ready(function(){
		jQuery('.menu-menu-support-container a[href="http://support.autelrobotics.com/support/discussions"]').attr('href','http://support.autelrobotics.com/support/discussions');
    });
</#if>
  </script>  
