<header>
<style>


.my_footer{
	width:100%;/*'Lato',Heltevica,Arial,sans-serif*/
	font-family:'Lato',Heltevica,Arial,sans-serif;/*Heltevica*/
	font-size:18px;
	font-weight:300;
	color:rgb(240,​ 240,​ 240);
}
.my_footer_top{ 

   padding-top: 30px;
    padding-bottom: 30px;
    background: #505050;
    width:100%;
    height:40px;
   }
 .my_footer_top  .con_box{
 	width:65%;
 	margin:0 auto;
 	position:relative;
 }
  .my_footer_top  .con_box a{
/*  	position:absolute; */
 	right:80px;
 	top:10px;
 	padding: 0 10px;
  }
  .my_footer_top  .con_box .m_b{ 
/*  	position:absolute; */
/*  	right:60px; */
/*  	top:10px; */
  }
  .my_footer_top  .con_box .m_c{
/*  	position:absolute; */
/*  	right:40px; */
/*  	top:10px; */
  }
  .my_footer_top  .con_box .m_d{
/*  	position:absolute; */
/*  	right:20px; */
/*  	top:10px; */
  }
.my_footer_bottom{
/* height:100px; */
	padding-bottom: 22px;
    padding-top: 27px;
    background: #383838;
    font-size: 14px;
}
 .my_footer_bottom  .con_box{
/*  	width:65%; */
width:1140px;
 	margin:0 auto;
 	position:relative;
 	
 }
 .my_footer_bottom hr{
/*  	border-color: -moz-use-text-color -moz-use-text-color #454545; */
	border-bottom: 1px solid #454545;
 	border-style: none none solid;
 	margin: 10px 0;
 }
 .Contact_us{
/*  	position:absolute; */
/*  	right:20px;top:40px; */
 }
 .con_box_bottom{
/*   border-top:1px solid #ddd; */
/*   margin-top: 20px; */
	color: #aeaeae;
	font-size:14px;
 }
 
 .con_box_top {
/*  	margin-bottom: 20px; */
 	font-size: 14px;
 	font-weight: normal;
 	vertical-align: 3px;
 	display:inline-block;
 	width:100%;
 	font-family: "Lato",Heltevica,Arial,sans-serif;
 }
 
 .con_box_top a{
 	color:#aeaeae;
 }
 .con_box_top .fontWeight_change a{
 	font-weight: 400;
 }
 .con_email_send{
 	float:left;
 }
 
 .con_email_box{
 	float:right;
 	margin-top: 2px;
 }
 
 .email_ent_box{
 	display:inline-block;
 	width:240px;
 	height:32px;
 	background:#fff;
 	border-radius:3px;
 }
 
 .con_email_box a{
/*  	float:right; */
 	margin:0 20px;
 	vertical-align:center;
 }
 
 .email_ent_box span{
 	display:inline-block;
 	width:32px;
 	height:32px;
 	vertical-align:middle;
 	background:url(themes/autel/images/email_ent_box.png) 6px 7px  no-repeat;
 	cursor: pointer;
 }
 
 .email_ent_box input{
 	width:200px;line-height:32px;padding-left:5px;
 	border:none;
 	color:#000;
 	vertical-align:middle;
 	border-radius:3px;
 }
 
 .email_notation_pic{
 	display:inline-block;
 	width:25px;
 	height:19px;
 	vertical-align:middle;
 	margin-right:5px;
 	background:url(themes/autel/images/email_notation_pic.png) 0px 0px no-repeat;
 }
 
 .container {
 	 /*height: 40px;*/
     width: 1140px; 
 	 margin:0 auto;
	 padding-left: 15px;
	 padding-right: 15px;
 }
 .footer-social {
 	line-height: 34px;
/*  	margin-left: 66.6667%; */
 	width: 33.3333%;
 	margin-left:86%;
 }
 
 .footer-social a{
 	display: inline-block;
 	margin-left: 5px;
 }
 .mc-field-group {
    display: inline-block;
/*     float: left; */
    margin-top: 3px;
    position: relative;
    width: 240px;
}
.email {
    border: 0 none;
    border-radius: 5px;
    font-size: 13px;
    height: 33px;
    letter-spacing: 1px;
    outline: 0 none;
    padding: 0 10px;
    width: 220px;
    color:#aeaeae;
}
.smallsubscribe {
    background: gray none repeat scroll 0 0;
    border: 0 none;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    height: 22px;
    line-height: 21px;
    padding-bottom: 7px;
    position: absolute;
    right: 5px;
    top: 6px;
    width: 22px;
    font-family: "Lato",Heltevica,Arial,sans-serif;
}
.fontWeight_change{font-weight:700;}
.new_title_tip{
	font-size:18px;
	color:#f0f0f0;
	/* word-spacing:3px; */
	vertical-align:middle;
	font-weight:300;
	margin-right:6px;
	display:inline-block;
	/* letter-spacing:-0.4px;  */
	font-family: inherit;
}
.con_email_box a{
	margin:0 10px 0px 12px;
}


@media screen and (-webkit-min-device-pixel-ratio:0){

.new_title_tipnow{
	font-size:18px;
	color:#f0f0f0;
	/* word-spacing:3px; */
	vertical-align:middle;
	font-weight:300;
	margin-right:6px;
	display:inline-block;
	/* letter-spacing:-0.4px;  */
	font-family: inherit;
	}
}
   </style>
</header>

<div class="my_footer">


	<div class="my_footer_top">
		<div class="container clearfix">
		
			<div class="con_email_send">
			<form novalidate="" target="_blank" class="validate" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" method="post" action="//AutelRobotics.us12.list-manage.com/subscribe/post?u=e664c2724313d3297d47b6d87&amp;id=d873b62c6c">
<!-- 				<span class="email_notation_pic"></span> -->
<!-- 				<span style="font-family:'Myriad Pro';font-size:16px;color:#a9a9a9;vertical-align:middle;margin-right:15px;">Stay in the Loop!</span> -->
				<h4 class="new_title_tip new_title_tipnow">Get all the latest news, updates, special deals and giveaways</h4>

<!-- 				<span class="email_ent_box" style=""> -->
<!-- 					<input placeholder="Enter your email" name="EMAIL" type="text"  /> -->
<!-- 					<span style="onblur:point;" onclick="sendEmailSubmit()"> -->
<!-- <!-- 						<input type="submit" name="subscribe" value=">>" style="border-radius:60px;border:none;background:#999999;color:#FFF;width:22px;height:22px;margin:5px" /> -->
<!-- 					</span> -->
<!-- 				</span> -->

<div class="mc-field-group">
    <input type="email" id="mce-EMAIL" class="required email" placeholder="Enter your email" name="EMAIL" value="">
    <div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text" value="" tabindex="-1" name="b_e664c2724313d3297d47b6d87_d873b62c6c"></div>
    <input type="submit" class="smallsubscribe" id="mc-embedded-subscribe" name="subscribe" value=">>">
</div>
				</form>
			</div>
			
			<div class="con_email_box">
						
					<a class="m_a" style="" href="http://facebook.com/AutelRobotics">
					<img alt="" src="themes/autel/images/facebook_bak.png">
										</a>
									<a class="m_b" style="" href="http://twitter.com/autelrobotics">
					<img src="themes/autel/images/twitter_bak.png">
										</a>	
										<a class="m_c" style="" href="http://instagram.com/autelrobotics">
					<img width="18px" height="18px" src="themes/autel/images/instagram_bak.png">
										</a>
										<a class="m_d" style="" href="https://www.youtube.com/channel/UC1QYiRZkTUkmyW7atm776nA">
					<img src="themes/autel/images/youtube_bak.png">
										</a>
					
					
					
			</div>
		</div>
	</div>
	
	
	<div class="my_footer_bottom">
		<div class="con_box">
			<div class="con_box_top" style="margin-top:10px;">
				<div style="width:100%;">
				<a class="" href="http://www.autelrobotics.com/about-us">About Us</a>
				&nbsp;&nbsp;<span style="font-weight:bold;color:#999999;">&middot;</span>&nbsp;&nbsp;
				<a class="" href="http://www.autelrobotics.com/careers">Careers</a>
				
				&nbsp;&nbsp;<span style="font-weight:bold;color:#999999;">&middot;</span>&nbsp;&nbsp;
				<a class="" href="https://www.autelrobotics.com/news">News</a>
				&nbsp;&nbsp;<span style="font-weight:bold;color:#999999;">&middot;</span>&nbsp;&nbsp;
				<a class="" href="https://www.autelrobotics.com/warranty">Warranty</a>
				
				<span style="display:inline-block;float:right;font-size:14px;color:#aeaeae;" class="Contact_us" href="javascript:;"><span class="fontWeight_change">Contact Support: <a href="tel:844-692-8835">1-844-My-Autel</a></span> <span style="padding:0 8px;font-weight:blod;color: #757575;">·</span><a href="tel:844-692-8835">(844)-692-8835</a></span><br>
				<span style="display:inline-block;float:right;font-size:14px;color:#aeaeae;margin-top:5px;" class="Contact_us" href="javascript:;"><span class="fontWeight_change">  <a href="mailto:support@autelrobotics.com">support@autelrobotics.com</a></span>
<!-- 				<span style="display:inline-block;float:right;font-size:14px;color:#aeaeae;" class="Contact_us" href="javascript:;"><span class="fontWeight_change">Contact Support: (844)-898-0290</span> <span style="padding:0 5px;font-weight:blod;">·</span>  support@autelrobotics.com</span><br> -->
<!-- 				<span style="display:inline-block;float:right;font-size:14px;color:#aeaeae;"><span class="fontWeight_change">Contact Sales</span>: sales@autelrobotics.com</span> -->
				</div>
<!-- 				<div style="width:50%;"> -->
<!-- 				</div> -->
			</div>
			<hr/>
			<div class="con_box_bottom clearfix">
				<div style="font-weight:normal; float:left;font-family: "Lato",Heltevica,Arial,sans-serif;">
					<img style="padding-right:6px;" width="80px" alt="" src="themes/autel/images/autel-footer.png">
					 Copyright &copy;2016 Autel Robotics. All Rights Reserved. <br>
					 <a href="http://www.autelrobotics.com/privacy-policy" style="color: #aeaeae;line-height: 2.6em;padding-right:10px;">Privacy Policy</a> <span style="padding:0 7px;">·</span> 
					 <a href="http://www.autelrobotics.com/terms-of-use" style="color: #aeaeae;">Terms of use</a> 
				 </div>
<!-- 				 <div style="float:right;font-family:myriad pro;"> -->
<!-- 				 	<span>United States</span> -->
<!-- 					 <span> -->
<!-- 					 	<img src="themes/autel/images/country_chs_pic.png" /> -->
<!-- 					 </span> -->
<!-- 				 </div> -->
			</div>
		</div>
	<!-- 	<p style="height:45px;background:#383838 ">&nbsp</p> -->
	</div>
</div>
<script type="text/javascript">
	function sendEmailSubmit() {
		$("#mc-embedded-subscribe-form").submit();
	}
</script>
