	<#assign mi = 1 />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<div class="account_left">
			<dl>
				<dt><a style="color:#FFFFFF" href="myDistributorAccount-1-1.html?m=${mi}">${bundle("homepage.customer.allinfo")}</a></dt>
			    <#list leftMenuList as menu >
			     <dd <#if sealermenu=menu.sealermenu >class="account_left_dd"</#if> >
	             <a href="${menu.url}">${bundle(menu.name)}</a>
	             </dd>
			    </#list>
	        </dl>
	</div>