<div style=" height:200px;"></div>
<div class="dibu">
	<div style="padding-bottom:12px; border-bottom:#ca0002 11px solid;">
	<a target="_self" href="${bundle('autelcms.path')}">首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a target="_self" href="${bundle('autelcms.path')}/CustomerSupport/415.jhtml">技术支持</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a target="_self" href="${bundle('autelcms.path')}/CustomerSupport/416.jhtml">产品手册</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a target="_self" href="${bundle('autelcms.path')}/CustomerSupport/538.jhtml">操作视频</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a target="_self" href="${bundle('autelcms.path')}/CustomerSupport/539.jhtml">售后政策</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a target="_self" href="${bundle('autelcms.path')}/socialrecruitment/index.jhtml">社会招聘</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a target="_self" href="${bundle('autelcms.path')}/campusrecruitment/index.jhtml">校园招聘</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a target="_self" href="${bundle('autelcms.path')}/CustomerSupport/418.jhtml">升级公告</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a href="${bundle('autelcms.path')}/Sitemap/410.jhtml" target="_blank">网站地图</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a target="_self" href="${bundle('autelcms.path')}/CorporateInformation/540.jhtml">公司简介</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	<a target="_self" href="${bundle('autelcms.path')}/CorporateInformation/461.jhtml">联系我们</a>
	
		<span style="float: right;">
<div class="wrapwx">
<div class="box">
<h1>
<img width="95" height="101" src="${bundle('autelproweb.url')}/themes/autel/images/weixin.jpg">
</h1>
</div>
</div>
</span>
	
	</div>
    <div class="banquan">
    <span style="margin-left:146px;">
    	
	    		<a href="${bundle('autelcms.path')}/Disclaimer/672.jhtml">法律声明</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
	    
	    		<a href="${bundle('autelcms.path')}/privacy/673.jhtml">隐私保护</a>
	  
	    
    </span>
    <img src="${bundle('autelproweb.url')}/themes/autel/images/dt.gif" width="89" height="11" />&nbsp;&nbsp;版权所有 深圳市道通科技股份有限公司2004-2015。保留所有权利。粤ICP备14011537号-1</div>
</div>
<!--中间结束-->
<div style="height:42px;"></div>