<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="${bundle('autelproweb.url')}/themes/autel/css/autelcmscn/css2014.css" rel="stylesheet" type="text/css" />
<link href="${bundle('autelproweb.url')}/themes/autel/css/autelcmscn/select2css.css" rel="stylesheet" type="text/css" />
<link href="${bundle('autelproweb.url')}/themes/autel/css/autelcmscn/style.css" rel="stylesheet" type="text/css"/>
<LINK rev=stylesheet media=all href="${bundle('autelproweb.url')}/themes/autel/css/autelcmscn/bunner.css" type=text/css rel=stylesheet>
<!--头部开始-->
<div style="position:fixed;z-index:999999999;left:0px;right:0px;width:auto;margin-left:auto;margin-right:auto;">
<div class="top2014">
<div class="top clearfix">
	<div class="top_left"><a href="${bundle('autelcms.path')}"><img src="${bundle('autelproweb.url')}/themes/autel/images/new_logo.png" /></a></div>
	<div class="top_right">
    <div style="text-align:right;">
  
    <a href="${bundle('autelcms.path')}/changelanguage/409.jhtml" target="_self"><img src="${bundle('autelproweb.url')}/themes/autel/images/Map.png" width="29" height="12" />&nbsp;<span id="custCountry"></span></a>&nbsp; 
  
    <span id="autelIdStr">
    
    
    <#if userType ?? >
    			&nbsp;&nbsp;${country!''}&nbsp;&nbsp; |&nbsp;&nbsp;${bundle("common.hello.name")}, ${autelId!''}&nbsp;&nbsp;  
    			|&nbsp;&nbsp;<a href="${bundle('autelproweb.url')}/loginOut.html?loginToType=1&operationType=18&userType=${userType!''}&m=1" style="color:#ffffff">${bundle("common.exit.name")}</a>&nbsp;&nbsp;|
    		<#else>
    			${bundle("header.html.country")}&nbsp;&nbsp; 
    			|&nbsp;&nbsp;<a href="${bundle('autelproweb.url')}/login.html?loginToType=1&operationType=3&m=1" style="color:#ffffff">${bundle("accountinformation.login.name")}</a>&nbsp;&nbsp;|
    			&nbsp;&nbsp;<a href="${bundle('autelproweb.url')}/regCustomerInfo.html?operationType=1&m=1" style="color:#ffffff">${bundle("accountinformation.regin.name")}</a>&nbsp;&nbsp;|
    		</#if>
    
    </span>
 
    
    </div>
    
    </div>
</div>
</div>
<script language="javascript" type="text/javascript">
$(function(){
	
	$(".box-163css li").hover(function(){
		$(this).find("span").show();
	},function(){
		$(this).find("span").hide();
	});
});

	
</script>
<div id="head_div">
	<div style="width: 970px; margin: 0 auto;">
		<ul id="nav_ul">
			  

			<!-- 产品导航 -->

			<li style="padding-top: 1px;"><a href="javascript:void(0);">产品中心</a>
				<ul>
					<li><div style="">
							<div class="cp_center">
								<ul>

 
									<li><a href="${bundle('autelcms.path')}/product/556.jhtml" style="padding-top:17px"><img src="${bundle('autelproweb.url')}/themes/autel/images/22141917nl0u.png" /></a><a
										href="${bundle('autelcms.path')}/product/556.jhtml" style="padding-top:2px">MaxiSys MS908</a></li> 
									<li><a href="${bundle('autelcms.path')}/product/557.jhtml" style="padding-top:17px"><img src="${bundle('autelproweb.url')}/themes/autel/images/2214193603kk.png" /></a><a
										href="${bundle('autelcms.path')}/product/557.jhtml" style="padding-top:2px">MaxiSys Pro</a></li> 
									<li><a href="${bundle('autelcms.path')}/product/558.jhtml" style="padding-top:17px"><img src="${bundle('autelproweb.url')}/themes/autel/images/22141832pauk.png" /></a><a
										href="${bundle('autelcms.path')}/product/558.jhtml" style="padding-top:2px">MaxiSys MS905</a></li> 
									<li><a href="${bundle('autelcms.path')}/product/559.jhtml" style="padding-top:17px"><img src="${bundle('autelproweb.url')}/themes/autel/images/22142019sf4i.png" /></a><a
										href="${bundle('autelcms.path')}/product/559.jhtml" style="padding-top:2px">MaxiDAS DS708</a></li> 
									<li><a href="${bundle('autelcms.path')}/product/560.jhtml" style="padding-top:17px"><img src="${bundle('autelproweb.url')}/themes/autel/images/22142120bfkj.png" /></a><a
										href="${bundle('autelcms.path')}/product/560.jhtml" style="padding-top:2px">MaxiFlash Pro</a></li> 
									<li><a href="${bundle('autelcms.path')}/product/561.jhtml" style="padding-top:17px"><img src="${bundle('autelproweb.url')}/themes/autel/images/22142032cya6.png" /></a><a
										href="${bundle('autelcms.path')}/product/561.jhtml" style="padding-top:2px">MaxiVideo MV400</a></li> 
									<li><a href="${bundle('autelcms.path')}/product/562.jhtml" style="padding-top:17px"><img src="${bundle('autelproweb.url')}/themes/autel/images/221420453wdy.png" /></a><a
										href="${bundle('autelcms.path')}/product/562.jhtml" style="padding-top:2px">胎压传感器MX-315Mhz</a></li> 
									<li><a href="${bundle('autelcms.path')}/product/563.jhtml" style="padding-top:17px"><img src="${bundle('autelproweb.url')}/themes/autel/images/22142055h4rk.png" /></a><a
										href="${bundle('autelcms.path')}/product/563.jhtml" style="padding-top:2px">胎压传感器MX-433Mhz</a></li>  
								</ul>
							</div>
						</div></li>
				</ul></li>
			<li class="menu_mid"></li>

			<!-- 支持与更新 -->
   

			<!-- 产品导航 -->

			<li style="padding-top: 1px;"><a href="javascript:void(0);">支持与更新</a>
				<ul>
					<li><div
							style="padding-left: 10px; background: url(${bundle('autelproweb.url')}/themes/autel/images/update.gif) top left repeat-x; height: 261px; width: 606px;">
							 							<dl>
								<dt style="height: 20px;">客户支持</dt>
 
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/CustomerSupport/415.jhtml" target="_self">技术支持</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/CustomerSupport/416.jhtml" target="_self">产品手册</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/CustomerSupport/418.jhtml" target="_self">升级公告</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/CustomerSupport/538.jhtml" target="_self">操作视频</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/CustomerSupport/539.jhtml" target="_self">售后政策</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/CustomerSupport/696.jhtml" target="_self">车型查询</a>
								</dd>
								 
							</dl>
														<dl>
								<dt style="height: 20px;">用户中心</dt>
 
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/Account/423.jhtml" target="_self">登录</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/Account/475.jhtml" target="_self">注册</a>
								</dd>
								 
							</dl>
														<dl>
								<dt style="height: 20px;">论坛与培训</dt>
 
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/ForumsTraining/425.jhtml" target="_self">交流论坛</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/ForumsTraining/426.jhtml" target="_self">技术培训</a>
								</dd>
								 
							</dl>
														<dl>
								<dt style="height: 20px;">升级/下载</dt>
 
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/UpdatesDownloads/413.jhtml" target="_self">软件升级</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/UpdatesDownloads/431.jhtml" target="_self">技术资料下载</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/UpdatesDownloads/678.jhtml" target="_self">升级助手下载</a>
								</dd>
								 
							</dl>
							 
						</div></li>
				</ul>
			<li class="menu_mid"></li>
			</li>

			<!-- 关于道通 -->
   

			<!-- 产品导航 -->

			<li style="padding-top: 1px;"><a href="javascript:void(0);">媒体中心</a>
				<ul>
					<li><div
							style="padding-left: 15px; background: url(${bundle('autelproweb.url')}/themes/autel/images/cen.gif) top left repeat-x; height: 312px; width: 853px;">
							<div class="clearfix" style="padding-top: 18px;">
								<div class="mt_gs">
									  <a href="${bundle('autelcms.path')}/companynews/index.jhtml">公司新闻</a>
									 <a href="${bundle('autelcms.path')}/mediareport/index.jhtml">媒体报道</a>
									 
								</div>

								<div class="dahui">
									<div>
										<a style="padding-left: 0px; text-align: left"
											href="${bundle('autelcms.path')}/companynewtop/690.jhtml"><img
											src="${bundle('autelproweb.url')}/themes/autel/images/221058454wzk.jpg" width="269" height="146" /></a>
									</div>
									<a style="padding-left: 0px; text-align: left"
										href="${bundle('autelcms.path')}/companynewtop/690.jhtml"><h4 style="color: #555555;">深圳市道通科技股份有限公司召开创立大会 </h4></a>
									<p>5月30日深圳市道通科技股份有限公司创立大会暨第一次股东大会在公司圆满召开。公司董事长兼总经理李红京先生主持会议。</p>
								</div>
								 								<div class="dahui1">
									<div>
										<a style="padding-left: 0px; text-align: left"
											href="${bundle('autelcms.path')}/medianewstop/693.jhtml"><img
											src="${bundle('autelproweb.url')}/themes/autel/images/22100149wa9o.jpg" width="269" height="146" /></a>
									</div>
									<a style="padding-left: 0px; text-align: left"
										href="${bundle('autelcms.path')}/medianewstop/693.jhtml"><h4 style="color: #555555;">【汽保十大获奖专访】蔡鹏：荣誉就是动力</h4></a>
									<p>2013年12月10日，2013汽车维修保养行业十大评选颁奖盛典在上海成功举办。深圳市道通科技有限公司荣获“十大影响力品牌”奖项。</p>
								</div>



							</div>
						</div></li>
				</ul>
			<li class="menu_mid"></li>
			</li>




			<!-- 加入道通 -->
   

			<!-- 产品导航 -->

			<li style="padding-top: 1px;"><a href="javascript:void(0);">关于道通</a>
				<ul>
					<li><div
							style="padding-left: 40px; background: url(${bundle('autelproweb.url')}/themes/autel/images/about.gif) top left repeat-x; height: 182px; width: 450px; margin-left: 358px;">
							 							<dl>
								<dt style="height: 20px;">公司介绍</dt>
 
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/CorporateInformation/540.jhtml" target="_self">公司简介</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/CorporateInformation/681.jhtml" target="_self">发展历程</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/CorporateInformation/682.jhtml" target="_self">公司荣誉</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/CorporateInformation/683.jhtml" target="_self">联系我们</a>
								</dd>
								 
							</dl>
														<dl>
								<dt style="height: 20px;">企业文化</dt>
 
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/VisionMission/465.jhtml" target="_self">愿景与使命</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/VisionMission/541.jhtml" target="_self">核心价值观</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/VisionMission/684.jhtml" target="_self">质量方针</a>
								</dd>
								 
							</dl>
														<dl>
								<dt style="height: 20px;">销售网络</dt>
 
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/salenet/542.jhtml" target="_self">国内销售网络</a>
								</dd>
								
								<dd style="line-height: 20px;padding-top:0px">
									<a style="color: #555555;" href="${bundle('autelcms.path')}/salenet/543.jhtml" target="_self">国际销售网络</a>
								</dd>
								 
							</dl>
							 
						</div></li>
				</ul>
			<li class="menu_mid"></li>
			</li>


			<!-- 媒体中心 -->
   

			<!-- 产品导航 -->

			<li style="padding-top: 1px;"><a href="javascript:void(0);">加入道通</a>
				<ul>
					<li><div
							style="padding-left: 15px; background: url(${bundle('autelproweb.url')}/themes/autel/images/cen.gif) top left repeat-x; height: 312px; width: 853px; margin-left: 102px;">
							<div class="clearfix" style="padding-top: 18px;">
								<div class="mt_gs">
									   <a
										href="${bundle('autelcms.path')}/companycharm/index.jhtml">公司魅力</a>    <a
										href="${bundle('autelcms.path')}/welfare/index.jhtml">薪资福利</a>    <a
										href="${bundle('autelcms.path')}/talentstrategy/index.jhtml">人才战略</a>    <a
										href="${bundle('autelcms.path')}/employeegrowth/index.jhtml">员工成长</a>      
								</div>

								              
								<div class="dahui">
									<div>
										<a style="padding-left: 0px; text-align: left"
											href="${bundle('autelcms.path')}/campusrecruitment/index.jhtml"><img
											src="${bundle('autelproweb.url')}/themes/autel/images/170903210gkh.jpg" width="269"
											height="146" /></a>
									</div>
									<a style="padding-left: 0px; text-align: left"
										href="${bundle('autelcms.path')}/campusrecruitment/index.jhtml"><h4 style="color: #555555;">校园招聘</h4></a>
									<p>离开校园的您，不仅仅是只想找到一份工作，而是有提升及成长的机会与环境。道通能为您提供广阔的舞台、自由发挥创新的机会、核心研发的参与。</p>
								</div>
								    
								<div class="dahui1">
									<div>
										<a style="padding-left: 0px; text-align: left"
											href="${bundle('autelcms.path')}/socialrecruitment/index.jhtml"><img
											src="${bundle('autelproweb.url')}/themes/autel/images/170903475k5d.jpg" width="269"
											height="146" /></a>
									</div>
									<a style="padding-left: 0px; text-align: left"
										href="${bundle('autelcms.path')}/socialrecruitment/index.jhtml"><h4 style="color: #555555;">社会招聘</h4></a>
									<p>这里提供不断成长的工作空间、不断上升的职业通道、物质与精神的双层奖励。道通能够让您的努力获得认可，付出得到回报，才学得以施展，价值得以体现。</p>
								</div>
								  


							</div>
						</div></li>
				</ul>
			<li class="menu_mid"></li>
			</li>    

			<!-- 产品导航 -->


			<li style="padding-top: 1px;"><a href="javascript:void(0);">投资者关系</a>
			</li>                    

		<!-- 	<li style="padding-left: 13px; line-height: 20px;">
				<form id="searchForm" action="/autelcmscn/search.jspx" target="_blank">
					<div class="menu_right">
						<input style="padding-left: 5px" name="q" style="width:120px"
							value="关键字" type="text" id="txtKey"
							onfocus="if(this.value=='关键字')this.value=''"
							onblur="if(this.value=='')this.value='关键字'" maxlength="24"
							autocomplete="off" class="search" /> <input name=""
							type="button" class="search_but"
							onclick="$('#searchForm').submit();" value="搜索" />
					</div>
				</form>
			</li> -->

		</ul>

	</div>
	
</div>
<div style="height:8px;background:#e5e5e5"></div>
</div>
