/*xuanxiangka*/
#my_tabs0 {}
.my_tt{ position:relative; height:34px; line-height:34px;text-align: center;}
.my_menu0 li{
display:block;
float: left;
width:132px;
cursor:pointer;
background:url(../images/pay_4.gif) top left no-repeat;
width:132px; margin-right:6px; height:34px;
}
.my_menu0 li.hover{ background:url(../images/pay_5.gif) top left no-repeat; width:132px; height:34px;}
#my_main0 ul{ display: none;}
#my_main0 ul.block{ display: block;}
.my_main h3{
	font-size:12.5px;
	margin-bottom:5px;
	}
.my_main p{
	line-height:18px; 
	color:#4d4d4d; 
	font-size:12.5px;
	padding-left:26px;
	}
.my_mess{
	margin-left:10px;
	margin-right:10px;
	padding-left:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-top:10px;
	}
.border_bottom{
	border-bottom:#cccccc 1px solid;
	margin-left:10px;
	margin-right:10px;
	}
.top_online{ 
	width:670px;
	 height:58px; 
	 background-color:#cb0003; 
	 margin:0 auto;
	 }