/*****************全局设置+导航****************************/
body,div,ul,li{margin:0;padding:0;}

li{list-style:none;}
a:link,a:visited{outline: medium none;text-decoration: none;}
#wrapdh{width:970px; margin:0 auto;}
#topBar{color:#ffffff;height:18px;background:#131623;overflow:hidden;font:12px/28px Arial;text-align:right;}
#topBar a{color:#FFF;background:#ffffff;padding:2px 5px;border-radius:10px;}
#navll{height:28px;  width:970px; margin:0 auto;overflow:hidden; background:url(../images/menubg.gif) top left repeat-x;}
 
#navll ul,#navll ul li{float:left;}
.nav_home a{float:left; color:#ffffff;height:28px;padding:0 20px; font-size:13px; line-height:28px; font-weight:bold;}
#navll ul li a{float:left;color:#FFFFFF;height:28px;padding:0 20px; font-size:13px; line-height:28px; font-weight:bold;}
#navll ul li .obg{ color:#e40218;}
.onbg a{ background:url(../images/menu_onbg.gif) top left repeat-x; height:28px; color:#e40218;}
#navll ul li a:hover{ color:#e40218;}

#navll ul li:hover{ background:url(../images/menu_onbg.gif) top left repeat-x; height:28px; color:#e40218;}

#navll.hide ul{display:none;}

/***********************导航pane*******************************/
h3 {
display: block;
font-size: 1.17em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

.crbt{
	background:url(../images/btn_autelid.jpg.gif) top left no-repeat;
	width:156px;
	height:33px;
	color:#404040;
	cursor:pointer;
	font-size:15px;
	border:0;
	}
.canbt{
	background:url(../images/btn_cancel1.jpg) top left no-repeat;
	width:98px;
	height:33px;
	color:#404040;
	cursor:pointer;
	font-size:15px;
	border:0;
	}
.create_bt{
	background:url(../images/btn_create.jpg) top left no-repeat;
	width:203px;
	height:32px;
	color:#404040;
	cursor:pointer;
	font-size:14px;
	border:0;
	}
.sign_bt{
	background:url(../images/btn_signin.jpg) top left no-repeat;
	width:120px;
	height:36px;
	color:#404040;
	cursor:pointer;
	font-size:15px;
	border:0;
	}










