@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, input, textarea, img, blockquote, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5 arial ;}
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:bold; }
ul, ol { list-style:none; }
select, input, img { vertical-align:middle; }
a:link, a:visited { text-decoration:none; color:#4d4d4d; }
a:hover{ color:#e60012; text-decoration:none;}
fieldset, img { border:0 ;   }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility:hidden; }
.clearfix { display: inline-block; } /* Hides from IE-mac\*/
* html .clearfix { height: 1%; }
.clearfix { display: block; } /* End hide from IE-mac*/
#footercon{ width:100%; border-top:#E9E4E4 5px solid; padding-top:10px; margin-top:10px;}

#content, #footer{ clear:both;}
.layout:after{content:'\20';display:block;height:0;clear:both;}
.layout{*zoom:1;} 

.all{
	width:1024px;
	}
.all_left{
	float:left;
	width:165px;
	background:url(../images/surface/leftbg.gif) top left repeat-y;
	height:660px;
	}
.all_right{
	float:right;
	width:859px;
	height:660px;
	overflow-y:auto;
	overflow-x:hidden;
	}
.logo{
	height:42px;
	padding-left:19px;
	}
.all_left dl dt{
	height:103px;
	}

.tit{
	height:44px;
	background:url(../images/surface/titbg.gif) top left repeat-x;
	line-height:44px;
	padding-left:12px;
	padding-right:12px;
	
	}
.tit strong{
	color:#999999;
	font-size:25px;
	}
.tit span{
	float:right;
	font-size:13px;
	color:#999999;
	}
.sorted{
	height:45px;
	padding-right:12px;
	text-align:right;
	padding-top:12px;
	font-size:20px;
	color:#3a3a3a;
	
	}
.s_b{
	font-size:20px;
	color:#000000;
	width:218px;
	height:32px;
	border:#a7b1bd 1px solid;
	padding-left:9px;
	}
.s_b_a{
	font-size:20px;
	color:#000000;
	width:165px;
	height:32px;
	border:#a7b1bd 1px solid;
	padding-left:9px;
	}
.create{
	font-size:20px;
	cursor:pointer;
	border:0;
	background:url(../images/surface/b1bg.gif) top left no-repeat;
	width:164px;
	height:34px;
	}
.com1_tab dl dt{
	height:65px;
	border-top:#cccccc 1px solid;
	padding-left:35px;
	padding-right:13px;
	
	padding-top:10px;
	}
.com1_tab dl dt:hover{
	height:65px;
	padding-top:10px;
	background:url(../images/surface/hovebg.gif) top left repeat-x;
	color:#ffffff;
	}
.ds{
	font-size:20px; 
	font-weight:bold; 
	color:#3a3a3a;
	}
.d4{
	font-size:16px; 
	color:#4d4d4d; 
	height:22px;
	}
.ticket{
	color:#3a3a3a;
	}
.com1_tab dl dt:hover .ds{
	color:#ffffff;
	}
.com1_tab dl dt:hover .d4{
	color:#ffffff;
	}
.com1_tab dl dt:hover .ticket{
	color:#ffffff;
	}
.view_bg{
	background:url(../images/surface/lan.gif) center right no-repeat;
	width:51px;
	padding-right:32px;
	}
.view_bg a{
	color:#0085cd;
	}
.com1_tab dl dt:hover .view_bg a{
	color:#ffffff;
	}
.com1_tab dl dt:hover .view_bg{
	background:url(../images/surface/lanjt.gif) center right no-repeat;
	width:51px;
	padding-right:32px;
	}
.select{
	height:47px;
	padding-left:36px;
	font-weight:bold;
	font-size:25px;
	color:#000000;
	padding-top:10px;
	}
.solu{
	border-top:#cccccc 1px solid;
	padding-left:36px;
	}
.solu p{
	font-size:18px;
	color:#000000;
	padding-top:16px;
	}
.solu h4{
	font-size:20px;
	color:#3a3a3a;
	margin-top:26px;
	margin-bottom:12px;
	}
.solu li{
	font-size:20px;
	color:#3a3a3a;
	margin-bottom:20px;
	}
.t1{
	width:23px;
	height:20px;
	}
.next{
	font-size:20px;
	color:#686666;
	cursor:pointer;
	border:0;
	width:148px;
	height:45px;
	background:url(../images/surface/next.gif) top left no-repeat;
	}
.com3{
	padding-left:14px;
	padding-top:15px;
	font-size:18px;
	color:#4d4d4d;
	}
.com3 td{
	border:#cccccc 1px solid;
	}
.td1{
	width:106px;
	padding-left:8px;
	}
.td2{
	width:125px;
	padding-left:6px;
	}
.de_input{
	width:291px;
	height:46px;
	border:0;
	font-size:18px;
	color:#4d4d4d;
	}
.de_input1{
	width:308px;
	height:46px;
	border:0;
	font-size:18px;
	color:#4d4d4d;
	}
.de_input2{
	width:159px;
	height:46px;
	border:0;
	font-size:18px;
	color:#4d4d4d;
	}
.de_input3{
	width:33.4px;
	height:46px;
	border:0;
	font-size:18px;
	color:#4d4d4d;
	border-right:1px solid #cccccc;
	}
.de_input4{
	width:33px;
	height:46px;
	border:0;
	font-size:18px;
	color:#4d4d4d;
	
	}
.de_input5{
	width:580px;
	height:46px;
	border:0;
	font-size:18px;
	color:#4d4d4d;
	
	}
.att{
	padding-left:37px;
	padding-top:41px;
	padding-bottom:40px;
	}
.de_input6{
	width:438px;
	height:51px;
	border:0;
	font-size:18px;
	color:#4d4d4d;
	background:url(../images/surface/attbg.gif) top left no-repeat;
	}
.att1{
	padding-left:32px;
	padding-top:26px;
	padding-bottom:26px;
	}
.in_order p{
	line-height:24px;
	font-size:18px;
	}
.in_order{
	padding-top:20px;
	}
.view{
	height:34px;
	padding-bottom:11px;
	padding-top:11px;
	border-top:#cccccc 1px solid;
	font-size:20px;
	padding-left:35px;
	padding-right:14px;
	color:#020202;
	}
.update{
	width:140px;
	height:34px;
	border:0;
	cursor:pointer;
	background:url(../images/surface/update.gif) top left no-repeat;
	font-size:20px;
	color:#4d4d4d;
	}
.cc{
	width:140px;
	height:34px;
	border:0;
	cursor:pointer;
	background:url(../images/surface/cc.gif) top left no-repeat;
	font-size:20px;
	color:#ffffff;
	}
.view span{
	float:right;
	}
.com_st td{
	border:#cccccc 1px solid;
	text-align:center;
	font-size:20px;
	color:#010101;
	}
.com_st{
	padding-left:13px;
	}
.open{
	color:#010101;
	font-size:20px;
	width:188px;
	height:32px;
	border:#a7b1bd 1px solid;
	}
.ews h4{
	font-size:20px;
	color:#020202;
	line-height:52px;
	padding-left:35px;
	}
.tex{
	padding-left:13px;
	}
.rabb{
	padding-left:35px;
	}
.rabb img{
	margin-right:17px;
	}
.once{
	 border:#cccccc 1px solid; 
	 font-size:18px; 
	 width:830px;
	 margin-left:13px; 
	 background:url(../images/surface/hbg.gif) top left repeat-y;
	 margin-bottom:34px;
	 }
.once_left{
	float:left;
	width:156px;
	
	text-align:center;
	}
.once_left h5{
	font-size:18px;
	margin-bottom:10px;
	margin-top:8px;
	color:#272727;
	}
.once_left p img{
	margin-right:3px;
	}
.once_right{
	float:right;
	color:#000000;
	width:638px;
	padding-top:8px;
	padding-left:26px;
	padding-right:10px;
	padding-bottom:10px;
	}
.succ{
	background-color:#e6e6e6;
	border:#cccccc 1px solid;
	width:830px;
	margin-left:13px;
	font-size:20px;
	color:#4d4d4d;
	padding-bottom:15px;
	padding-top:15px;
	padding-left:19px;
	}
.view_11{
	height:34px;
	padding-bottom:11px;
	padding-top:11px;
	font-size:20px;
	padding-left:35px;
	padding-right:14px;
	color:#020202;
	}
.view_11 span{
	float:right;
	}
.on_ser{
	padding-left:11px;
	border-top:#cccccc 1px solid;
	font-size:16px;
	color:#3a3a3a;
	padding-top:10px;
	}
.depar{
	font-size:16px;
	text-align:right;
	width:136px;
	padding-right:11px;
	font-weight:bold;
	}
.full{
	width:567px;
	height:46px;
	font-size:16px;
	color:#3a3a3a;
	border:#908e8f 1px solid;
	margin-bottom:14px;
	margin-top:8px;
	}
.you_qu{
	width:567px;
	height:162px;
	font-size:16px;
	color:#3a3a3a;
	border:#908e8f 1px solid;
	margin-bottom:20px;
	}
.pay_leg{ margin-top:8px; font-size:18px; color:#686666;}
#my_tabs0 {}
.my_tt{ position:relative; height:40px; line-height:40px;text-align: center;}
.my_menu0 li{
display:block;
float: left;
width:132px;
cursor:pointer;
background:url(../images/surface/pay_4.gif) top left no-repeat;
width:132px; margin-right:6px; height:40px;
}
.my_menu0 li.hover{ background:url(../images/surface/pay_5.gif) top left no-repeat; width:132px; height:40px; color:#000000;}
#my_main0 ul{ display: none;}
#my_main0 ul.block{ display: block;}
.my_main{
	
border-top:#cccccc 1px solid;
margin-top:-1px;}
.payment{
	width:830px;
	border:#cccccc 1px solid;
	margin-top:14px;
	margin-left:13px;
	}
.payment h4{
	font-size:25px;
	color:#000000;
	background-color:#e6e6e6;
	padding-left:17px;
	height:46px;
	line-height:46px;
	border-bottom:#cccccc 1px solid;
	padding-right:5px;
	}
.pay_search{
	width:253px;
	height:32px;
	border-bottom:#a7b1bd 1px solid;
	border-left:#a7b1bd 1px solid;
	border-top:#a7b1bd 1px solid;
	border-right:0;
	}
.sousuo{
	background:url(../images/surface/ss.gif) top left no-repeat;
	width:90px;
	height:34px;
	border:0;
	cursor:pointer;
	}
.payment h4 span{
	float:right;
	margin-top:6px;
	}
.ques{
	font-size:18px;
	color:#000000;
	padding-left:18px;
	line-height:24px;
	padding-top:7px;
	}
.ques span{
	color:#9e9e9e;
	margin-left:72px;
	}
.answer{
	font-size:18px;
	color:#000000;
	padding-left:18px;
	line-height:24px;
	padding-top:10px;
	padding-bottom:8px;
	}
.models{
	border-bottom:#cccccc 1px solid;
	padding-left:9px;
	padding-right:9px;
	}
.q_nr{
	padding-left:18px;
	text-indent:1.4em;
	color:#000000;
	}
.person{
	color:#000000;
	padding-left:17px;
	line-height:27px;
	padding-top:10px;
	padding-bottom:10px;
	}
.person dd{
	padding-left:48px;
	}	
.uer td{
	border:#cccccc 1px solid;
	text-align:center;
	}
.info_bg{
	background-color:#e6e6e6;
	color:#7d7b7b;
	}
.uer{
	color:#000000;
	margin-left:13px;
	margin-top:14px;sss
	}
.messges{
	background:url(../images/surface/xinxi.gif) top right no-repeat;
	width:797px;
	height:44px;
	font-size:20px;
	color:#000000;
	text-align:right;
	margin-left:13px;
	line-height:44px;
	padding-right:35px;
	margin-top:49px;
	}
.chinese{
	font-size:20px;
	color:#686666;
	background:url(../images/surface/chin.gif) top left no-repeat;
	width:257px;
	height:71px;
	border:0;
	cursor:pointer;
	}
.chin_version{
	padding-top:226px;
	padding-left:143px;
	}
.sorted span{
	float:left;
	font-size:20px;
	font-weight:bold;
	color:#020202;
	margin-left:35px;
	}
.me_top{
	background:url(../images/surface/mtop.gif) top left no-repeat;
	width:416px;
	height:30px;
	color:#0085cd;
	font-size:18px;
	padding-left:30px;
	padding-top:11px;
	}
.me_top span{
	color:#666666;
	margin-left:56px;
	}
.me_mid{
	background:url(../images/surface/mmid.gif) top left repeat-y;
	width:388px;
	padding-left:33px;
	padding-right:25px;
	font-size:18px;
	color:#020202;
	line-height:20px;
	}
.me_dow{
	background:url(../images/surface/mdow.gif) top left repeat-y;
	width:446px;
	height:13px;
	}
.dh{
	border-top:#cccccc 1px solid;
	}
.dh dl dt{
	margin-left:50px;
	margin-top:15px;
	}
.dh dl dd{
	margin-left:354px;
	margin-top:15px;
	}

.me_top1{
	background:url(../images/surface/mtop1.gif) top right no-repeat;
	width:426px;
	height:30px;
	color:#333333;
	font-size:18px;
	padding-left:20px;
	padding-top:11px;
	}
.me_top1 span{
	color:#666666;
	margin-left:56px;
	}
.me_mid1{
	background:url(../images/surface/mmid1.gif) top right repeat-y;
	width:401px;
	padding-left:20px;
	padding-right:25px;
	font-size:18px;
	color:#020202;
	line-height:24px;
	}
.me_dow1{
	background:url(../images/surface/mdow1.gif) top right repeat-y;
	width:446px;
	height:13px;
	}
.on_wnb{
	width:786px;
	height:142px;
	border:#908e8f 1px solid;
	}
.create{
	font-size:20px;
	cursor:pointer;
	border:0;
	background:url(../images/surface/b1bg.gif) top left no-repeat;
	width:164px;
	height:34px;
	color:#686666;
	}
/*5-2*/
.w_f1{
	height:267px;
	background:url(../images/surface/ff1.gif) top right no-repeat;
	padding-left:35px;
	}
.w_f1 h4{
	font-size:30px;
	color:#3a3a3a;
	font-weight:bold;
	margin-top:30px;
	}
.w_f1 p{
	color:#3a3a3a;
	font-size:18px;
	line-height:24px;
	}
.f1_left{
	float:left;
	background:url(../images/surface/touxbg.gif) top left no-repeat;
	width:85px;
	height:87px;
	padding-left:9px;
	padding-top:7px;
	}
.f1_right{
	float:right;
	}
.s_a_p{
	background:url(../images/surface/s_bbg.gif) top left no-repeat;
	width:171px;
	height:46px;
	color:#ffffff;
	font-size:20px;
	border:0;
	cursor:pointer;
	}
.sub{
	width:299px;
	margin-top:12px;
	}
.all_for h4{
	font-size:25px;
	color:#000000;
	background-color:#e6e6e6;
	height:46px;
	line-height:46px;
	border-bottom:#cccccc 1px solid;
	border-top:#cccccc 1px solid;
	padding-right:15px;
	padding-left:35px;
	}
.all_for h4 span{
	float:right;
	margin-top:6px;
	}
.au_dia{
	font-size:20px;
	color:#828282;
	font-weight:bold;
	width:462px;
	padding-left:35px;
	}
.au_cars{
	font-size:21px;
	font-weight:bold;
	padding-top:7px;
	padding-bottom:7px;
	background:url(../images/surface/all1bg.gif) top left no-repeat;
	background-position-y:5px;
	padding-left:53px;
	}

.au_cars:hover{
	font-size:21px;
	font-weight:bold;
	padding-top:7px;
	padding-bottom:7px;
	background:url(../images/surface/all2bg.gif) top left no-repeat;
	background-position-y:5px;
	padding-left:53px;
	color:#0085cd;
	}
.all_for_tab{
	padding-top:5px;
	}
.all_for2 h4{
	font-size:24px;
	height:62px;
	line-height:62px;
	background-color:#e6e6e6;
	border-bottom:#cccccc 1px solid;
	border-top:#cccccc 1px solid;
	padding-left:29px;
	}
.all_for2 h5{
	font-size:21px;
	height:47px;
	line-height:47px;
	border-bottom:#cccccc 1px solid;
	padding-left:29px;
	}
.all_for2 td{
	padding-left:26px;
	padding-right:26px;
	padding-top:14px;
	}
.h17{
	background-color:#e6e6e6;
	height:17px;
	border-bottom:#cccccc 1px solid;
	border-top:#cccccc 1px solid;
	margin-top:14px;
	}
.com1_tab_all dl dt{
	height:66px;
	border-bottom:#cccccc 1px solid;
	
	padding-right:13px;
	
	padding-top:12px;
	}
.com1_tab_all dl dt:hover{
	height:66px;
	padding-top:12px;
	background:url(../images/surface/hovebg1.gif) top left repeat-x;
	color:#ffffff;
	}
.com1_tab_all dl dt:hover .ds{
	color:#ffffff;
	}
.com1_tab_all dl dt:hover .d4{
	color:#ffffff;
	}
.com1_tab_all dl dt:hover .ticket{
	color:#ffffff;
	}
.com1_tab_all dl dt:hover .view_bg a{
	color:#ffffff;
	}
.com1_tab_all dl dt:hover .view_bg{
	background:url(../images/surface/lanjt.gif) center right no-repeat;
	width:51px;
	padding-right:32px;
	}
.sout{
	background:url(../images/surface/wenh.gif) top left no-repeat;
	background-position-x:28px;
	width:68px;
	}
.com1_tab_all dl dt:hover .sout{
	background:url(../images/surface/lanwenh.gif) top left no-repeat;
	background-position-x:28px;
	width:68px;
	}
.a_group{
	font-size:24px;
	height:63px;
	line-height:63px;
	padding-left:27px;
	border-top:#cccccc 1px solid;
	}
.all_for_group h4{
	font-size:20px;
	color:#666666;
	background-color:#e6e6e6;
	height:46px;
	line-height:46px;
	border-bottom:#cccccc 1px solid;
	border-top:#cccccc 1px solid;
	padding-right:15px;
	padding-left:35px;
	}
.ak_qu{
	background:url(../images/surface/inoutbg.gif) top left no-repeat;
	width:684px;
	height:50px;
	border:0;
	font-size:20px;
	line-height:50px;
	}

.as_q{
	width:804px;
	height:404px;
	margin-left:29px;
	border:#cccccc 1px solid;
	margin-top:15px;
	}
.cate span{
	display:block;
	font-size:18px;
	background:url(../images/surface/wjj.gif) top left no-repeat;
	padding-left:50px;
	padding-bottom:14px;
	}
.cate{
	padding-left:29px;
	border-top:#cccccc 1px solid;
	padding-top:23px;
	}
.with{
	font-size:18px;
	color:#3a3a3a;
	padding-left:29px;
	line-height:30px;
	}
.cate td{
	padding-bottom:14px;
	padding-right:20px;
	}
.tags span{
	display:block;
	font-size:18px;
	background:url(../images/surface/tags.gif) top left no-repeat;
	padding-left:30px;
	padding-bottom:4px;
	color:#808080;
	}
.tags{
	padding-left:29px;
	border-top:#cccccc 1px solid;
	padding-top:23px;
	}
.discuss span{
	font-size:18px;
	color:#333333;
	background:url(../images/surface/wjj.gif) top left no-repeat;
	padding-left:40px;
	display:block;
	padding-right:120px;
	margin-left:25px;
	line-height:22px;
	}
.discuss{
	padding-left:29px;
	padding-top:5px;
	}
.discuss11 span{
	font-size:18px;
	color:#333333;
	background:url(../images/surface/sgu.gif) top left no-repeat;
	padding-left:40px;
	display:block;
	padding-right:10px;
	line-height:22px;
	}
.discuss11{
	padding-left:29px;
	padding-top:5px;
	}
.discuss11 h4{
	font-size:18px;
	margin-top:15px;
	margin-bottom:10px;
	}
.right_now td{
	border:#cccccc 1px solid;
	text-align:center;
	font-size:20px;
	}
.right_now{
	padding-top:14px;
	padding-left:17px;
	}
.tit_now{
	font-size:24px;
	color:#7d7b7b;
	}
.con_tent{
	background-color:#e6e6e6;
	border-bottom:#cccccc 1px solid;
	border-top:#cccccc 1px solid;
	font-size:20px;
	}
.seat{
	background:url(../images/surface/ifon.gif) top left no-repeat;
	width:617px;
	height:50px;
	border:0;
	font-size:20px;
	}
.want{
	width:386px;
	height:32px;
	border:#a7b1bd 1px solid;
	padding-left:10px;
	}
.cear_no{
	background:url(../images/surface/noser.gif) top left no-repeat;
	width:687px;
	height:38px;
	border:0;
	font-size:18px;
	padding-left:12px;
	}
.a_less{
	padding-left:36px;
	padding-top:16px;
	}
.res_for{
	color:#fe1008;
	font-size:18px;
	padding-left:12px;
	}
.kind_help{
	font-size:18px;
	line-height:24px;
	}
.kind_help dd{
	padding-left:20px;
	}
.kind_help dt{
	padding-top:20px;
	}
.kind_help dt a{
	background-color:#56bcf3;
	}
.minp{
	float:left;
	width:220px;
	height:219px;
	border:#cccccc 1px solid;
	padding-left:8px;
	padding-bottom:7px;
	padding-right:8px;
	padding-top:7px;
	}
.user_pro{
	
	padding-top:26px;
	padding-left:33px;
	
	}
.xinxiy{
	font-size:18px;
	width:508px;
	float:right;
	}
.xinxiy .dao{
	font-size:30px;
	color:#3c3c3c;
	font-weight:bold;
	}
.xinxiy dd{
	color:#000000;
	font-weight:bold;s
	}
.related{
	font-size:18px;
	font-weight:bold;
	padding-left:35px;
	padding-top:16px;
	border-top:#cccccc 1px solid;
	margin-top:44px;
	}
.related h4{
	margin-bottom:10px;
	}
.related dt{
	color:#0085cd;
	margin-bottom:18px;
	}
.related dt img{
	margin-right:16px;
	}
.change{
	font-size:18px;
	font-weight:bold;
	color:#000000;
	padding-left:33px;
	border-bottom:#cccccc 1px solid;
	padding-bottom:10px;
	padding-top:10px;
	}
.xinxiy dt{
	width:77px;
	height:78px;
	padding:4px;
	border:#cccccc 1px solid;
	float:left;
	margin-right:23px;
	margin-bottom:20px;
	}
.on_ser_oo{
	padding-left:11px;
	border-top:#cccccc 1px solid;
	font-size:20px;
	color:#000000;
	font-weight:bold;
	padding-top:10px;
	}
.depar_oo{
	font-size:20px;
	text-align:right;
	width:176px;
	padding-right:11px;
	font-weight:bold;
	}
.payment_posts{
	
	
	margin-top:14px;
	
	}
.payment_posts h4{
	font-size:25px;
	color:#000000;
	background-color:#e6e6e6;
	padding-left:17px;
	height:46px;
	line-height:46px;
	border-bottom:#cccccc 1px solid;
	border-top:#cccccc 1px solid;
	padding-right:5px;
	}
.ques_qw{
	font-size:21px;
	color:#000000;
	padding-left:18px;
	line-height:24px;
	padding-top:7px;
	}
.ques_qw span{
	color:#9e9e9e;
	margin-left:72px;
	font-size:18px;
	}
.vie_la{
	font-size:18px;
	padding-bottom:20px;
	}
.duanx{
	padding-left:27px;
	}
.dan_pic{
	width:77px;
	height:78px;
	border:#cccccc 1px solid;
	padding:4px;
	}
.r1{
	background:url(../images/surface/lr.gif) top left no-repeat;
	width:628px;
	
	padding-left:45px;
	height:45px;
	padding-top:18px;
	line-height:18px;
	}
.r2{
	background:url(../images/surface/lr2.gif) top left repeat-y;
	width:628px;
	font-size:18px;
	padding-left:45px;
	line-height:24px;
	}
.r3{
	background:url(../images/surface/lr3.gif) top left no-repeat;
	width:643px;
	height:35px;
	text-align:right;
	font-size:18px;
	color:#4f698f;
	font-weight:bold;
	padding-right:30px;
	}
.r1 h4{
	font-size:18px;
	color:#0a3d88;
	}
.r1 p{
	font-size:18px;
	color:#666666;
	}
.hui1{
	background:url(../images/surface/hr.gif) top left no-repeat;
	width:628px;
	
	padding-left:45px;
	height:47px;
	padding-top:16px;
	line-height:18px;
	}
.hui2{
	background:url(../images/surface/hr2.gif) top left repeat-y;
	width:628px;
	font-size:18px;
	padding-left:45px;
	line-height:24px;
	}
.hui3{
	background:url(../images/surface/hr3.gif) top left no-repeat;
	width:643px;
	height:35px;
	text-align:right;
	font-size:18px;
	color:#4f698f;
	font-weight:bold;
	padding-right:30px;
	}
.hui1 h4{
	font-size:18px;
	color:#333333;
	}
.hui1 p{
	font-size:18px;
	color:#666666;
	}
.origin{
	font-size:18px;
	text-align:right;
	line-height:28px;
	margin-top:90px;
	}
.sandt38 h4{
	font-size:18px;
	}
.as_qff{
	width:804px;
	height:404px;
	border:#cccccc 1px solid;
	margin-top:15px;
	}
.sandt38{
	margin-top:40px;
	}
.origin_ak{
	font-size:18px;
	text-align:right;
	line-height:28px;
	margin-top:34px;
	}


