/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, input, textarea, img, blockquote, th, td { margin:0; padding:0; }
body, button, input, select, textarea ,pre{ font:12px/1.5 arial ;}
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:bold; }
ul, ol { list-style:none; }
select, input, img { vertical-align:middle; }
input{padding-left:3px;}
a:link, a:visited { text-decoration:none; color:#4d4d4d; cursor:pointer; }
a:hover{ color:#e60012; text-decoration:underline;}
a{
	 cursor:pointer; 
}
fieldset, img { border:0 ;   }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility:hidden; }
.clearfix { display: inline-block; } /* Hides from IE-mac\*/
* html .clearfix { height: 1%; }
.clearfix { display: block; } /* End hide from IE-mac*/
#footercon{ width:100%; border-top:#E9E4E4 5px solid; padding-top:10px; margin-top:10px;}

#content, #footer{ clear:both;}
.layout:after{content:'\20';display:block;height:0;clear:both;}
.layout{*zoom:1;} 

/*top*/
.top{ width:970px; background-color:#cb0003; margin:0 auto;}
.top_left{ float:left; height:50px; padding-top:8px;}
.top_right{ float:right; padding-top:34px; color:#ffffff; padding-right:12px; height:23px;}

.change{ width:340px;}
.lang{ width:151px; height:20px; border:#7f9db9 1px solid; text-align:right;}
/*top*/
/*menu*/
.menu{ width:970px; margin:0 auto; height:28px; background:url(../images/menubg.gif) top left repeat-x;}
.menu_mid{ background:url(../images/menumid.gif) top left no-repeat; width:2px; height:28px;}
.on{ background:url(../images/menu_onbg.gif) top left repeat-x; height:28px; color:#e40218;}
.on a{ color:#e40218;}
.home{ padding-left:20px; padding-right:20px; text-align:center;}

.menu ul li{ float:left; font-size:13px; color:#ffffff; font-weight:bold; line-height:28px; display:inline;}
.menu_left{ float:left;} 
.menu_right{ float:right;}
.search_but{ background:url(../images/srabg.gif) top left no-repeat; border:0; width:53px; height:20px; margin-top:5px; margin-right:8px;}
.search{ width:154px; height:20px; background:url(../images/searchbg.gif) top left no-repeat; border:0; margin-top:5px; line-height:20px; color:#cccccc; font-size:13px;}
.ad{ width:970px; margin:0 auto; height:105px; padding-top:11px; padding-bottom:23px;}
/*menu*/
/*middle*/
.leg{ width:970px; margin:0 auto; height:382px; padding-bottom:46px;}
.leg_let{ float:left; width:712px;}
.leg_right{ float:right; width:225px; height:355px; padding-left:10px; padding-right:10px; padding-top:16px; border:#cecece 1px solid;}
.spname{border-bottom:#cecece 1px solid; padding-left:5px; margin-bottom:10px; margin-top:5px; padding-bottom:5px; color:#898989;}
.spname1{ padding-left:5px; margin-bottom:10px; margin-top:5px; padding-bottom:5px; color:#898989;}
/*left*/
.banner{ width:970px; height:437px; margin:0 auto;}
/*banner*/
.hdp { width:970px; height:437px;}
.clear{clear:both;  font-size:0; overflow:hidden; height:0;}
.blank10{clear:both;  font-size:0; overflow:hidden; height:10px;}
.blank{clear:both;  font-size:0; overflow:hidden; height:10px; background:#FFF;}
/*********content css***********/
#content{width:970px;margin:0 auto;}

#footer{padding-bottom:0;margin:0px auto 0;}
/*********main css***********/
.mb15 {margin-bottom: 0px;}
#main{width:970px; overflow:hidden;}

/*banner*/

.thr{ height:402px; width:712px;}
.new{ width:212px; border-right:#cccccc 1px solid; float:left; height:402px; padding-right:12px;}
.new h4{ border-top:#e40210 3px solid; font-size:18px; color:#999999; border-bottom:#cccccc 1px solid; line-height:34px;}
.new h5{ font-size:13px; color:#ff0000;}
.new_pic{ margin-top:10px;}
.new_word{ color:#575757; margin-bottom:10px; padding-top:10px; height:78px; border-bottom:#c8c8c8 1px solid; font-size:13px;}
.new_word1{ color:#575757; margin-bottom:12px; padding-top:10px; height:114px; border-bottom:#c8c8c8 1px solid; font-size:13px;}
.new_word2{ color:#575757; height:103px; font-size:13px;}
.more{ text-align:right; padding-right:3px; padding-top:25px;}
.new_word4{ font-size:13px; font-weight:bold; color:#fd1610;}
.new_word5{ font-size:11.5px; font-weight:bold; color:#8f1d22;}

.supports{ width:210px; border-right:#cccccc 1px solid; float:left; height:402px; padding-left:12px; padding-right:12px;}
.supports h4{ border-top:#e40210 3px solid; font-size:18px; color:#999999; border-bottom:#cccccc 1px solid; line-height:34px;}

.community{ width:220px; border-right:#cccccc 1px solid; float:right; height:402px; padding-right:18px;}
.community h4{ border-top:#e40210 3px solid; font-size:18px; color:#999999; border-bottom:#cccccc 1px solid; line-height:34px; margin-bottom:10px;}
.comm{ height:130px; margin-top:10px;}
.comm_left{ float:left; width:104px;}
.comm_right{ float:right; width:105px; height:128px;}
.comm_right img{ width:105px; height:128px;}
.community ul li{ height:23px; line-height:23px; padding-top:4px; border-bottom:#e5e5e5 1px solid; color:#5c5b5b; background:url(../images/cion1.gif) center left no-repeat; padding-left:10px;}

.join_in{ margin-top:19px; margin-bottom:19px; background:url(../images/inputbg.gif) top left no-repeat; width:155px; height:21px; border:0px; padding-left:3px; padding-right:42px; padding-top:3px;}
/*left*/
/*right*/


/*right*/
/*middle*/
#slide-box {
	MARGIN: 0 auto; WIDTH: 232px; POSITION: relative; HEIGHT: 194px
}
#slide-box .corner {
	CLEAR: both; DISPLAY: block; MARGIN: 0px 1px; OVERFLOW: hidden; HEIGHT: 0px
}

#slide-box .ks-switchable-triggers A {
	DISPLAY: block; Z-INDEX: 99; WIDTH: 29px; COLOR: #b4b4b4; POSITION: absolute; TOP: 89px; HEIGHT: 47px; TEXT-DECORATION: none
}
#slide-box .ks-switchable-triggers .sp_left {
	DISPLAY: block; color:#000; background:url(../images/left.png) top left no-repeat; FONT: 500 53px/37px arial; WIDTH: 29px; CURSOR: pointer; HEIGHT: 47px; TEXT-ALIGN: center
}
#slide-box .ks-switchable-triggers .sp_right {
	DISPLAY: block; color:#000; background:url(../images/right.png) top left no-repeat; FONT: 500 53px/37px arial; WIDTH: 29px; CURSOR: pointer; HEIGHT: 47px; TEXT-ALIGN: center
}

#slide-box .ks-switchable-triggers .prev {
	LEFT: 0px
}
#slide-box .ks-switchable-triggers .next {
	RIGHT: 0px
}
#slide-box .ks-switchable-triggers A:hover {
	COLOR: #f43d1e
}
#slide-box .ks-switchable-triggers A:hover SPAN {
	COLOR: #f43d1e
}

#slide-box .wrap {
	OVERFLOW: hidden; WIDTH: 232px; HEIGHT: 194px
}
#slide-box UL {
	WIDTH: 10000px
}
#slide-box LI {
	FLOAT: left; WIDTH: 232px; HEIGHT: 194px
}
#slide-box LI IMG {
	WIDTH: 232px; HEIGHT: 194px
}

.foot{ color:#808081; width:970px; margin:0 auto; font-size:11px;  border-top:#e40210 3px solid; padding-top:12px;}
.links{ text-align:center; padding-top:13px; padding-bottom:10px;}
.links img{ margin-right:10px; margin-left:10px;}
.copy{ text-align:center; padding-bottom:10px;}
.foot span{ float:right;}
.down_menu{ color:#808080; width:970px; height:32px; border-bottom:#cccccc 1px solid; border-top:#cccccc 1px solid; margin:0 auto;}
.down_menu li{ float:left;}
.down_menu_lm{ width:190px; text-align:center; padding-top:8px;}
.down_menu_tb{ padding-top:10px;}
/*products*/
.products{ width:970px; margin:0 auto;}
.products_right_dow{ padding-left:8px; padding-right:50px; width:912px;}
.products_right{ width:912px;}
.pro_title{ font-size:14px; color:#e60011; padding-left:8px; margin-bottom:35px;}
.pro_shp{ width:324px; height:214px;}
.pro_email{ float:right; color:#9a9a9a; font-size:14px;padding-right:6px;}
.pro360{ text-align:center; color:#e60011; margin-top:13px;}
.pro_js{ font-size:13px; margin-top:3px; border-bottom:#b5b5b5 1px solid; height:132px;}
.products_p1{ color:#e60011; font-weight:bold; font-size:18px;}
.products_right_downle{ float:left; width:324px;}
.products_right_downri{ width:552px; float:right;}
.acc1{ width:196px; height:30px; padding-left:40px; line-height:30px; background:#e3e3e3 url(../images/acc1.gif) top left no-repeat; float:left; margin-right:2px;}
.acc2{ width:196px; height:30px; padding-left:40px; line-height:30px; background:#ffffff url(../images/acc3.gif) top left no-repeat; float:left; margin-right:2px;}
.acc3{ width:196px; height:30px; padding-left:40px; line-height:30px; background:#e3e3e3 url(../images/acc2.gif) top left no-repeat; float:left; margin-right:2px;}
.acc4{ width:196px; height:30px; padding-left:40px; line-height:30px; background:#ffffff url(../images/acc4.gif) top left no-repeat; float:left; margin-right:2px;}
.pic_pro{ margin-top:30px; width:746px; height:196px; border:#c3c1c1 1px solid; margin-left:8px;}
.pic_pro h3{ font-size:13px; height:27px; border-bottom:#c3c1c1 1px solid; padding-top:8px; padding-left:15px; padding-right:15px;}
.pic_pro h3 span{ float:right; color:#9a0201; text-decoration:underline;}
.pic_pro h3 a{ color:#9a0201;}
/*xuanxiangka*/
.main{
height:500px;
clear:both;
padding:16px 16px;
border: 1px solid #cbcbcb;
}

#tabs0 {
height: 562px;
width: 748px;
margin-top:78px;
}
.menu0{
width: 509px;
}
.menu0 li{
font-weight:bold;
display:block;
float: left;
line-height:26px;
width:100px;
height:26px;
background:url(../images/pro_22.gif) top left no-repeat;
text-align: center;
cursor:pointer;
}
.menu0 li.hover{
font-weight:bold;
color:#ffffff;
background:url(../images/pro_21.gif) top left no-repeat;
}
#main0 ul{
display: none;
}
#main0 ul.block{
display: block;
}
.pro_size{ width:97px;border-left:#e4e4e4 1px solid;border-RIGHT:#e4e4e4 1px solid; text-align:center; font-size:12px;}
.pro_name{ width:262px; padding-left:6px;}
.downl_bg{ background-color:#e4e4e4;}
.pro_down{ text-align:right; padding-right:3px;}
.downl_h1{height:24px; line-height:24px;}
.downl_h2{height:30px; line-height:30px;}
.feature_tex{ background:url(../images/faetur_bg.gif) center left no-repeat; padding-left:18px; line-height:20px;}
.spec_name{ width:148px; padding-left:6px; line-height:30px;}
.spec_down{padding-left:6px;}

/*gundong*/
#featureContainer {
	WIDTH: 728px; FONT-SIZE: 80%; margin-left:10px; margin-top:10px;
}
#wrap {
	OVERFLOW: hidden; width:738px;
}
#load {
	BACKGROUND-IMAGE: url(images/loader32x32.gif); BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; TEXT-INDENT: -9999px; MARGIN: 0px auto; WIDTH: 923px; DISPLAY: none; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; HEIGHT: 100px; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted;
}
#feature {
	BORDER-BOTTOM: #999 0px dotted; POSITION: relative; BORDER-LEFT: #999 0px dotted; MARGIN-TOP: 5px; MARGIN-BOTTOM: 20px; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted;
}
#feature .button {
	BORDER-BOTTOM: #999 0px dotted; POSITION: absolute; BORDER-LEFT: #999 0px dotted; WIDTH: 840px; BORDER-TOP: #999 0px dotted; TOP: 72px; BORDER-RIGHT: #999 0px dotted; LEFT: 0px; 
}
#feature .prev {
 TEXT-INDENT: -9999px; WIDTH: 30px; DISPLAY: block; BACKGROUND: url(../images/feature_left.gif) center top; FLOAT: left; HEIGHT: 48px; TOP: -100px; position:relative; 
}
#feature .next {
	 TEXT-INDENT: -9999px; WIDTH: 30px; DISPLAY: block; BACKGROUND: url(../images/feature_right.gif) center top; FLOAT: right; HEIGHT: 48px;  TOP: -100px; position:relative; 
}
#feature .prev:hover {
	BACKGROUND-POSITION: center bottom
}
#feature .next:hover {
	BACKGROUND-POSITION: center bottom
}
.featureUL {
	 POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 2800px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px; LEFT: 0px;
}
.featureBox {
	  WIDTH: 156px; background:url(../images/boxbg.gif) top left no-repeat; FLOAT: left; HEIGHT: 143px; OVERFLOW: hidden; margin-left:8px; text-align:center; font-size:12px; color:#a72120; font-weight:bold; display:inline;
}
/*.featureBox a, a:link{color:#a72120;}*/
#botton-scroll {
	Z-INDEX: 0; BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; margin-left:35px; WIDTH: 636px; FLOAT: left; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted; display:inline;
}
#block {
	Z-INDEX: 0; POSITION: relative; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH:734px; PADDING-RIGHT: 0px;FONT-SIZE: 70%; OVERFLOW: hidden; PADDING-TOP: 0px;
}
#block .box {
	 WIDTH: 156px; FLOAT: left; HEIGHT: 143px;
}
#block .box .feature-title {
	FONT-SIZE: 140%; FONT-WEIGHT: normal
}
#block .box .feature-thumb {
	WIDTH: 240px; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 150px
}

/*about
.products_right H6{ font-size:16px; color:#a72223;}
.products_p2{ font-weight:bold; font-size:14px;}
.about_ma{ color:#666666; background:url(../images/ab_03.gif) top right no-repeat; width:736px; height:160px; margin-top:5px;}
.about_ad{ color:#666666; background:url(../images/ab_06.gif) top left no-repeat; width:366px; padding-left:36px;}
.about_phone{ color:#666666; background:url(../images/ab_09.gif) top left no-repeat; width:366px; padding-left:36px; margin-top:10px;}
.about_ma span{ color:#666666; font-size:14px; font-weight:bold;}
.about_fax{ color:#666666; background:url(../images/ab_11.gif) top left no-repeat; width:366px; padding-left:36px; margin-top:10px;}
.about_emall{ color:#666666; background:url(../images/ab_13.gif) top left no-repeat; width:366px; padding-left:36px; margin-top:10px;}
.about_table{ width:700px; border-top:#221816 2px solid;}
.table_top{ padding-right:30px; padding-top:16px; padding-bottom:16px; color:#666666;}
table{ border-top:1px #999999 solid; border-right:1px #999999 solid; border-bottom:#999999 1px solid;}
table td{ border-top:1px #999999 solid; border-left:1px #999999 solid;}
.tab_bd{ width:152px; height:20px; margin-left:5px; margin-right:10px;}
.tab_wb{ width:340px; height:80px; margin:5px;}
.table_butt{ width:58px; height:24px; margin-right:10px;}
.about_add{ background:url(../images/addbg.gif) top left repeat-x; line-height:40px; width:970px; margin:0 auto;}
.about_menu ul li{ height:28px; border-bottom:#c3c3c3 1px solid; line-height:28px; padding-left:24px; color:#666666;}
.about_on{ background:url(../images/abm.gif) top left no-repeat;}
.about_menu ul li:hover{  background:url(../images/abm.gif) top left no-repeat;}
*/
/*support*/
.sign_in{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:24px; color:#333333; padding-bottom:15px; padding-top:10px;}
.autel{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:30px; color:#444444; padding-bottom:15px; padding-top:10px;}
.sign_in span{ float:right; font-size:12px; color:#666666; padding-top:15px;}
.supp{ width:970px; margin:0 auto; height:281px;}
.supp_left{ width:8px; height:281px; float:left; background:url(../images/suppor_03.gif) top left no-repeat;}
.supp_midd{  width:954px; height:279px; float:left; border-bottom:#dad7d7 1px solid; border-top:#dad7d7 1px solid;}
.supp_right{ width:8px; height:281px; float:right; background:url(../images/suppor_05.gif) top left no-repeat;}
.sign_left{ padding-top:26px; width:374px; float:left; height:253px;}
.sign_right{ display:inline; width:340px; float:right; margin-right:148px; padding-top:26px;}
.sign_right p{ line-height:26px;  color:#666666;}
.login{ border:0; background:url(../images/suppor_08.gif) top left no-repeat; width:71px; height:25px;}
.password{ width:260px; height:22px; border:#c0c0c0 1px solid;}
.password1{ width:167px; height:22px; border:#c0c0c0 1px solid;}
.supp_name{ width:96px; text-align:right; padding-right:16px; font-size:14px; color:#333333; height:38px;}
.forgot{ color:#3385ad; font-size:12px; height:36px;}
.forgot a{ color:#3385ad; text-decoration:underline;}
.welcome{ font-size:24px; color:#333333;}
.regsiter{ background:url(../images/suppor_12.gif) top left no-repeat; width:98px; height:33px; border:0;}
.foot_supp{ text-align:center; font-size:14px; color:#666666;}
/**/
.forums{ width:967px; margin:0 auto;}
.for_down{ height:8px; width:967px; background:url(../images/forbg.gif) top left no-repeat;}
.for_wel{ padding-left:32px; padding-right:36px; padding-top:26px; width:899px; height:48px; background:url(../images/autel1.gif) top left no-repeat; color:#666666; font-size:14px;}
.tools{ padding:28px; width:909px; border-top:#d9d9d9 1px solid; border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid;}
.for_search{ color:#929292; font-size:11px; padding-left:9px; width:168px; line-height:23px; height:23px; background:url(../images/autel_03.gif) top left no-repeat; border:0; float:right;}
.hongs{ color:#ca0002;}
.tools_left{ float:left; width:636px;}
.tools_right{ float:right; width:195px;}
.tools_right ul li{ line-height:24px; color:#76797c;}
.toux{ margin-left:14px; width:78px; height:78px; float:left;}
.wel_word{ float:right; width:516px;}
.wel_word dl dt{ font-size:30px; color:#000000; line-height:30px;}
.wel_word dl dd{ font-size:16px; color:#333333;}
.quse{ width:617px; height:99px; border:#e8e8e8 1px solid; margin-top:22px; padding-left:17px; padding-top:17px;}
.your_ques{ width:451px; height:29px; border:#c5c5c5 1px solid; color:#ca0002; font-size:14px; line-height:29px; padding-left:11px;}
.submit{ width:294px; height:20px; background-color:#878787; padding-left:11px; margin-top:9px;}
.tolls{ font-size:18px;}
.autel_table{ margin-top:20px;}
/**/
.au_table{ width:908px; height:32px; background:url(../images/autel19.gif) top left repeat-x; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid;}
.autel_pa{ padding-left:36px; width:393px; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid; font-size:14px;}
.topics{ width:101px; text-align:center; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid; font-size:14px;} 
.posts{ width:131px; text-align:center; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid; font-size:14px;}
.last{ padding-left:53px; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid;}
.foot_autel{ font-size:12px; width:970px; margin:0 auto; color:#76797c; margin-bottom:95px;}
/**/
.regi{ width:970px; margin:0 auto;}
.regi_top{ background:url(../images/regit.gif) top left no-repeat; height:8px; width:942px; overflow:hidden;}
.regi_dowm{ background:url(../images/regid.gif) top left no-repeat; height:8px; width:942px;}
.regi_midd{ padding-bottom:30px; padding-top:42px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.regi_name{ width:170px; text-align:right; padding-right:6px; font-size:14px; color:#333333; height:38px;}
.techid{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:30px; color:#333333; padding-bottom:15px; padding-top:10px;}
.techid span{ float:right; font-size:12px; color:#666666; padding-top:15px;}
.male{ margin-left:20px; vertical-align:middle; line-height:38px; margin-right:2px;}
.dl_yzm{ margin-left:20px;}
.fuxuan{ height:58px; text-decoration:underline; font-size:14px; color:#666666;}
.create{ color:#666666; font-size:14px; width:970px; margin:0 auto;}
.create span{ font-size:20px; padding-left:18px;}
/**/
.discuss{ color:#929292; font-size:14px; margin-top:4px;}
.discuss span{ color:#333333;}
.peoblem_left{ width:674px; float:left;}
.peoblem_right{ width:215px; float:right;}
.pro_up{ font-size:18px; color:#444444; text-decoration:underline;}
.pro_date{ font-size:14px; color:#01398d; margin-top:16px;}
.pro_page{ color:#737373;}
.pro_page .heise{ color:#000000;}
.fenye{ float:right;}
.page_1{ border:#e8e6e7 1px solid; width:16px; height:16px; background-color:#f9f9f9; float:left; text-align:center; margin-right:2px;}
.page2{ float:left; text-align:center;width:16px; height:16px; border:#ffffff 1px solid; margin-right:4px;}
.previous{ float:left; line-height:19px; padding-left:3px; float:left; width:59px; height:19px; border-left:#e8e6e7 1px solid; background-color:#f9f9f9; border-bottom:#e8e6e7 1px solid; border-top:#e8e6e7 1px solid;}
.page_next{ color:#333333; width:39px; border:#e8e6e7 1px solid; height:19px; float:left; background-color:#f9f9f9; line-height:19px; padding-left:6px;}
.level{ float:left; width:55px; color:#929292;}
.level img{ border:#dbd9dc 1px solid; }
.level_right{ width:609px; float:right;}
.spirzzon{ padding-top:24px; padding-right:20px; padding-left:53px; color:#0a3d88; width:536px; background:url(../images/tech21.gif) top right no-repeat; height:18px;}
.lev_word span{ color:#929292;}
.lev_word{ padding-bottom:24px; color:#545454; padding-right:20px; padding-left:53px; width:536px; background:url(../images/tech30.gif) top right repeat-y;}
.lev_down{ text-align:right; padding-right:20px; padding-left:53px; color:#777777; width:536px; background:url(../images/tech_46.gif) top right no-repeat; height:33px;}
.lev_down span{ margin-left:70px; color:#545454; font-weight:bold;}
.spirzzon_black{ padding-top:24px; padding-right:20px; padding-left:53px; color:#0a3d88; width:536px; background:url(../images/tech47.gif) top right no-repeat; height:18px;}
.huise{ color:#929292;}
.lev_word_black{ padding-bottom:24px; color:#545454; padding-right:20px; padding-left:53px; width:536px; background:url(../images/tech61.gif) top right repeat-y;}
.lev_down_black{ text-align:right; padding-right:20px; padding-left:53px; color:#777777; width:536px; background:url(../images/tech62.gif) top right no-repeat; height:33px;}
.lev_down_black span{ margin-left:34px; color:#545454; font-weight:bold;}
.lvse{ color:#67cb2a;}
.peoblem_left ul li{ margin-top:50px;}
.reply{ margin-bottom:30px; text-align:right; margin-top:10px;}
.reply span{ margin-left:34px; color:#545454;}
.rel_links{ width:197px; border:#e8e6e7 1px solid; background-color:#f9f9f9; color:#444444; padding-left:16px; padding-top:12px; padding-bottom:12px; line-height:26px;}
.rel_links dl dt{ font-size:14px;}
.rel_links dl dd{ font-size:12px;}
.rel_links img{ vertical-align:middle; margin-right:5px;}
.more_links{ margin-top:50px;}
.links_top{ color:#444444; padding-left:15px; background:url(../images/tech22.gif) top left no-repeat; width:200px; height:34px; line-height:34px;}
.links_down{ border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid; border-bottom:#d9d9d9 1px solid; padding:13px 10px 20px 10px;}
.links_down ul li{ color:#444444; margin-bottom:5px;}
.links_down img{ margin-right:5px; vertical-align:middle;}
/**/
.submit{ background:url(../images/submit.gif) top left no-repeat; width:92px; height:30px; border:0; margin-top:20px;}
.cancel{ background:url(../images/cancel.gif) top left no-repeat; width:92px; height:30px; border:0; margin-left:22px; margin-top:20px;}
.regi_name_sub{ width:190px; text-align:right; padding-right:20px; font-size:14px; color:#333333; height:38px;}
.resetmain{
clear:both;
padding-top:20px;
border-top: 1px solid #dddddd;
margin-top:-1px;
position:relative;
width: 908px;
}
.resettt{ height:40px;}
#resettabs0 {
width: 898px;

padding-left:10px; font-size:14px;
}
.resetmenu0{
width: 509px;
 height:40px;

 position:absolute;
 z-index:99999;
 padding-left:28px;
 font-size:14px;

}
.resetmenu0 li{

display:block;
float: left;
line-height:39px;
padding-left:10px;
padding-right:10px;
height:39px;
color:#333333;
text-align: center;
cursor:pointer;

 border-top:#ffffff 1px solid;
}
.resetmenu0 li.hover{

 background-color:#ffffff;
 height:39px;
color:#333333;
border-left:#dddddd 1px solid;border-top:#dddddd 1px solid;border-right:#dddddd 1px solid;
}
#resetmain0 ul{
display: none;
}
#resetmain0 ul.block{
display: block;
}
.forget{ font-size:14px; padding-left:40px; margin-bottom:20px;}
.forget_midd{ padding-bottom:30px; padding-top:30px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.regi_name_forget{ width:140px; text-align:right; padding-right:20px; font-size:14px; color:#333333; height:38px;}
/**/
.commu_top{ background:url(../images/commutop.gif) top left no-repeat; height:8px; width:918px; overflow:hidden;}
.commu_dowm{ background:url(../images/commudo.gif) top left no-repeat; height:8px; width:918px;}
.commu_midd{ padding-bottom:30px; padding-top:20px; width:918px; background:url(../images/commumi.gif) top left repeat-y;}
.commu_left{ float:left; width:325px; font-size:14px; color:#888888; padding-left:25px;}
.commu_right{ width:418px; float:right; color:#333333; margin-right:80px; display:inline;}
.commu_right h3{ font-size:16px;}
.ready{ font-size:14px; border-bottom:#e3e3e3 1px solid; padding-bottom:128px; padding-top:10px;}
/**/
.tby_top{ color:#333333; margin-top:30px; margin-bottom:10px;}
.tyb_sr dl dt{ float:left; margin-left:3px;}
.rep_wb{ width:680px; height:228px;}
.bro{ width:172px; height:15px; border:#dddddd 1px solid; background-color:#f0f0f0; margin-left:14px; margin-right:6px;}
.browse{ border:0; background:url(../images/tby_68.jpg) top left no-repeat; width:69px; height:23px;}
.bro_lj{ margin-top:6px; color:#333333; margin-bottom:40px;}
.add_replay{ background:url(../images/tby_71.jpg) top left no-repeat; width:131px; height:30px; border:0;}
.cancel_re{ background:url(../images/cancel.gif) top left no-repeat; width:92px; height:30px; border:0; margin-left:22px;}
.add{ margin-bottom:72px;}
.for_wel_ydl{ padding-left:32px; padding-right:36px; padding-top:16px; width:899px; height:58px; background:url(../images/autel1.gif) top left no-repeat; color:#666666; font-size:14px;}
.for_search_ydl{ color:#929292; font-size:11px; padding-left:9px; width:168px; line-height:23px; height:23px; background:url(../images/autel_03.gif) top left no-repeat; border:0; float:right; margin-top:10px;}
.edit{ color:#333333; font-weight:bold;}
.edit span{ color:#929292;}
.edit h4{ font-size:14px; margin-bottom:30px;}
.how{ width:760px; height:27px; border:#cccccc 1px solid; color:#333333; font-size:18px; line-height:27px; padding-left:24px; margin-top:52px; margin-bottom:14px;}
.edit1{ color:#333333; font-weight:bold; margin-bottom:10px;}
.edit1 span{ color:#929292; font-weight:normal;}
.post{ background:url(../images/post.jpg) top left no-repeat; width:131px; height:30px; border:0;}
/*8-10*/
.etiq_midd{ padding-bottom:30px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.etiq_midd dl dt{ font-size:30px; color:#444444; text-align:center;}
.etiq_midd dl dd{ color:#444444; padding-left:170px; padding-right:150px; font-size:14px; margin-top:30px;}
.guide{ width:524px; margin:0 auto;}
.guide_top{ background:url(../images/guideto.gif) top left no-repeat; width:524px; height:14px;}
.guide_mi{ background:url(../images/guidemi.gif) top left repeat-y; width:389px; padding-left:55px; padding-right:80px;}
.guide_down{ background:url(../images/guidedo.gif) top left no-repeat; width:524px; height:14px;}
.guide_mi ul li{ background:url(../images/hfk.gif) top left no-repeat; padding-left:18px; padding-top:10px; padding-bottom:10px; font-size:14px; color:#444444; background-position-y:17px;}
.datails{ text-align:center; color:#434343; font-size:14px;}
.datails span{ color:#cb0003;}
.forums_bg{ background:url(../images/ready.gif) top left repeat-x; width:885px; padding-left:55px; margin-top:25px;}
.forums_bg span{ color:#cb0003;}
.forums_bg ul li{ padding-top:25px;}
/*asking*/
.asking_midd{ padding-bottom:30px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.ask_title{ font-size:24px; color:#444444;}
.to_ask{ color:#777777; font-size:14px; margin-bottom:15px;}
.asking_midd span{ color:#cb0003;}
.asking_midd ul li{ padding-left:46px; padding-right:60px;}
.before{ margin-bottom:15px; font-size:14px; color:#444444; margin-top:5px;}
.asking_midd dl{ padding-left:34px; font-size:14px; color:#333333;}
.asking_midd dl dt,.asking_midd dl dd{ margin-bottom:28px;}
.asking_midd dl dt h3{ font-size:18px; font-weight:bold;}
/*user*/
.user_left{ float:left; width:667px;}
.user_right{ float:right;}
.user_left_top{ width:667px; height:8px; background:url(../images/user_03.gif) top left no-repeat;}
.user_left_down{ width:667px; height:8px; background:url(../images/user_06.gif) top left no-repeat;}
.user_left_mid{ padding-top:20px; padding-bottom:118px; padding-left:25px; padding-right:25px; width:616px; border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid;}
.user_tx{ float:left; width:204px; font-size:12px;}
.toux_xx{ float:right; width:335px; color:#333333;}
.user_tx img{ border:#dddddd 1px solid; width:202px; height:150px;}
.user_tx dl dt{ margin-bottom:30px;}
.user_tx dl dd{ margin-top:3px;}
.user_tx dl dd span{ color:#777777;}
.toux_tx{ width:52px; height:52px; float:left;}
.toux_mail{ float:right; width:270px; font-size:12px; color:#333333;}
.toux_tx img{ border:#dddddd 1px solid; width:50px; height:50px;}
.toux_mail span{ color:#fb0202;}
.toux_mail dl dd{ margin-bottom:20px; margin-top:20px;}
.toux_mail dl dt{ margin-top:10px;}
.actions img{ margin-right:7px;}
.actions dl dt{ font-size:18px; margin-left:20px; margin-bottom:10px; color:#777777;}
.acti_on{ background:url(../images/acti_07.gif) bottom right no-repeat;}

.actions dl dd{}
.actions{ margin-bottom:25px;}
.act_img{ float:left; padding-top:10px;submit}
.act_title{ float:right; width:173px; height:28px; border-bottom:#dddddd 1px solid; margin-right:20px; padding-top:6px;}
.save{ background:url(../images/save.gif) top left no-repeat; width:92px; height:30px; border:0; margin-top:20px;}
.photo{ margin-left:144px; font-size:12px; color:#333333; width:204px; text-align:center; margin-bottom:5px;}
.photo1{ margin-left:144px; font-size:12px; color:#333333;}
.photo img{ border:#dddddd 1px solid;}
.dont_have{ color:#fb0202; margin-left:58px; margin-top:20px;}
.tiez_top{ background:url(../images/tz.gif) top left no-repeat; width:650px; height:33px; color:#333333; line-height:33px; padding-left:17px;}
.tiez_down{ width:587px; border:#e1e1e1 1px solid; padding:10px 53px 30px 25px;}
.tiez_down dl dd{ color:#fb0202; margin-bottom:10px; margin-top:5px;}
.shenhong{ color:#fb0202;}
.tiez_down dl dt{ font-size:12px;}
.jf_name{ background:url(../images/jf.gif) top left repeat-x; height:28px; width:188px; padding-left:29px;}
.jf_time{ background:url(../images/jf.gif) top left repeat-x; height:28px; width:214px; padding-left:29px;}
.jf_points{ background:url(../images/jf.gif) top left repeat-x; height:28px; width:131px; padding-left:29px;}
.jf_expert{ background:url(../images/jf.gif) top left repeat-x; height:28px; padding-left:29px;}
.jf_bg{ height:27px; border-bottom:#dddddd 1px solid;}
.jf_sz{ width:16px; height:16px; background-color:#dddddd; float:left; text-align:center; margin-right:7px; margin-left:2px;}
.jf_midd{ color:#333333; padding-top:10px; padding-bottom:30px; padding-left:30px; width:910px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.sw_user{ background:url(../images/jf.gif) top left repeat-x; height:28px; width:203px; padding-left:14px;}
.sw_login{ background:url(../images/jf.gif) top left repeat-x; height:28px; width:125px; text-align:center;}
.sw_online{ background:url(../images/jf.gif) top left repeat-x; height:28px; width:118px; text-align:center;}
.sw_idle{ background:url(../images/jf.gif) top left repeat-x; height:28px; width:121px; text-align:center;}
.sw_posts{ background:url(../images/jf.gif) top left repeat-x; height:28px; text-align:center;}
.sw_bg{ height:43px; border-bottom:#dddddd 1px solid;}
.sw_sz{ width:16px; height:16px; background-color:#dddddd; float:left; text-align:center; margin-right:4px; margin-left:10px;}
.ss_left{ width:10px; height:141px; background:url(../images/ss_03.gif) top left no-repeat; float:left;}
.ss_mid{ padding-top:10px; width:910px; height:131px; background:url(../images/ss_04.gif) top left repeat-x; float:left;}
.ss_right{ width:10px; height:141px; background:url(../images/ss_05.gif) top left no-repeat; float:right;}
.ss_jm{ padding-left:17px; padding-right:18px; padding-top:24px; width:930px; border-top:#d9d9d9 1px solid; border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid;}
.conte{ font-size:18px; line-height:27px; padding-left:10px; height:27px; border:#cccccc 1px solid; background-color:#f8fafd; width:606px;}
.cate{ width:277px; height:17px; border:#7f9db9 1px solid; padding-left:20px;}
.ss_sea{ text-align:right; padding-right:24px; color:#414141; font-size:14px;}
.ssbg{ height:35px;}
.ss_serch{ width:131px; height:30px; background:url(../images/ss08.gif) top left no-repeat; border:0;}
.ss_mess{ background:url(../images/ss_14.gif) top left no-repeat; margin-top:20px; width:869px; height:31px; line-height:31px; margin-left:20px; padding-left:10px;}
.ss_nos{ color:#fe1008; padding-left:10px; margin-top:10px; margin-left:20px; padding-bottom:200px;}
.ss_wt{ padding-left:15px; padding-right:150px; line-height:20px;}
.ss_wt dl dt{ margin-top:20px;}
.ss_wt dl dd{ padding-left:15px;}
/*8-13*/
.north{ width:970px; margin:0 auto;}
.su_addres{ width:960px; margin:0 auto; padding-left:10px;}
.su_addres dl dt{ font-size:14px; margin-top:25px; color:#3f3e3d; font-weight:bold;}
.su_addres dl dd{ margin-top:10px; color:#666666;}
.su_addres dl dd img{ margin-right:15px;}
.lanse{ color:#041a76;}
.lo_top{ background:url(../images/lo_03.gif) top left no-repeat; width:303px; height:10px;}
.lo_dow{ background:url(../images/lo_23.gif) top left no-repeat; width:303px; height:10px;}
.lo_mid{ background:url(../images/lo_05.gif) top left repeat-y; padding-bottom:22px;}
.login_form{ width:303px; text-align:center;}
.login_form ul li{ padding-top:10px;}
.lo_in{ width:218px; height:37px; background:url(../images/lo_08.gif) top left no-repeat; border:0; color:#525252; font-size:13px; line-height:37px; padding-left:25px;}
.lo_in1{ width:218px; height:37px; background:url(../images/lo_11.gif) top left no-repeat; border:0; color:#525252; font-size:13px; line-height:37px; padding-left:25px;}
.infor{ margin-top:35px; margin-left:10px;}
.manuals{ width:876px; border-bottom:#9b9b9b 1px solid; margin-left:30px; padding-top:10px;}
.manu_name{ font-size:18px; color:#373737;}
.bowse{ padding-bottom:40px;}
.bowse h4{ font-size:14px; color:#373737; background:url(../images/fea_03.gif) center left no-repeat; padding-left:10px;}
.auto{ width:204px; height:47px; color:#373737; background-color:#efefef; text-align:center; padding-top:3px;}
.auto_img{ height:197px;}
.bowse dl dt{ float:left; width:204px; height:247px;}
.bowse dl dd{ width:20px; height:247px; float:left;}
.auto_midd{ padding-bottom:30px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.manual_li ul li{ background:url(../images/fea_15.gif) top left no-repeat; margin-bottom:17px; text-align:center; width:266px; height:164px; float:left; margin-left:17px;}
.manu_li_img{ height:118px; padding-top:2px;}
.manual_li{ width:876px; margin-left:30px; font-size:12px; color:#9e9798; padding-bottom:100px;}
.pro_title_su{ font-size:14px; color:#e60011; padding-left:18px; margin-bottom:15px;}
.vedio_li_img{ height:139px; padding-top:3px;}

.sufor_top{ width:747px; height:20px; background:url(../images/sufor1.jpg) top left no-repeat;}
.sufor_mid{ padding-bottom:50px; width:747px; background:url(../images/sufor2.jpg) top left repeat-y;}
.sufor_dow{ width:747px; height:20px; background:url(../images/sufor3.jpg) top left no-repeat;}
.sufor_name{ padding-left:10px; width:258px; text-align:right; padding-right:6px; font-size:12px; color:#000000; height:38px;}
.plea_sel{ width:298px; height:20px; border:#7f9db9 1px solid; line-height:20px;}
.plea_sel1{ width:298px; height:120px; border:#7f9db9 1px solid; line-height:20px;}
.subm{ width:72px; height:23px; background:url(../images/sufor_08.gif) top left no-repeat; border:0;}

.follow{ color:#666666; line-height:24px; padding-left:20px;}
.follow dl dd{ padding-left:12px;}
.follow span{ color:#03F;}
.sitemap{ font-size:14px; color:#605e5f;}
.sie_bg{ padding-bottom:10px;}
.tip_sear{ color:#dddddd; width:527px; height:21px; font-size:14px; line-height:21px; border:#dddddd 1px solid;}
.tips{ font-size:14px;}
.tips a{ color:#00649a; text-decoration:underline;}
.sear_coun{ width:210px; float:left; margin-right:110px;color:#666666; margin-top:20px;}
.country{ color:#666666; width:210px; height:22px; border:#dddddd 1px solid;}
.sear_langu{ float:left;color:#666666; margin-top:20px;}
.sear_langu span{ margin-left:10px;}
.many_eys{ width:780px; border-bottom:#dddddd 2px solid; border-top:#dddddd 2px solid; margin-top:60px;}
.per_page a{ color:#0064c4;}
.per_page span{ float:right;}
.per_page{ height:35px; line-height:35px; border-bottom:#dddddd 1px dashed;}
.eyes_dl{ font-size:16px; padding-right:10px;color:#343233; padding-bottom:25px; border-bottom:#dddddd 1px dashed; margin-bottom:10px;}
.eyes_dl dl dt{ color:#0064c4; margin-top:10px; margin-bottom:2px;}
.eyes_dl dl dt{ margin-bottom:3px;}
.eye_wz{ color:#666666;}
.eyes_feny{ width:780px; margin-top:10px; margin-bottom:50px; text-align:center;}
.eyes_feny a{ color:#0064c4;}
.eyes_feny span{ margin-left:5px; margin-right:5px;}

.sup_bj{ width:802px; border-bottom:#999999 10px solid; border-left:#999999 10px solid; border-right:#999999 10px solid; padding:0px 32px 36px 16px;}
.pro_com{ color:#ffffff; text-align:center; font-weight:bold; width:190px; height:21px; border-bottom:#e5e5e3 1px solid; border-top:#e5e5e3 1px solid; border-left:#e5e5e3 1px solid; background-color:#1f1a17;}
.al_301{ color:#ffffff; text-align:center; font-weight:bold; width:67px; height:21px; border-bottom:#e5e5e3 1px solid; border-top:#e5e5e3 1px solid; background-color:#da251c;}
.bj_baid{ height:20px; text-align:center;}
.bj_baid1 td{ height:20px; text-align:center;}
.al_302{ text-align:center; font-weight:bold; height:20px; background-color:#c3c3c1;}
.bj_kong{ border-bottom:#e5e5e3 1px solid; border-top:#e5e5e3 1px solid; border-left:#e5e5e3 1px solid;}
.bj_img{ width:66px; height:108px; border-bottom:#e5e5e3 1px solid; border-left:#e5e5e3 1px solid;}
.bj_img1{ width:65px; height:108px; border-bottom:#e5e5e3 1px solid; border-left:#e5e5e3 1px solid; border-right:#e5e5e3 1px solid;}
.chaz{ height:10px; background-color:#999999; text-align:right; width:872px;}


.sea_sous h4{ margin-top:30px; margin-bottom:10px;}
#overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0;filter:alpha(opacity=0);display:none;}
#win{position:absolute;top:50%;width:805px;height:590px; background:url(../images/tc.gif) top left no-repeat;margin:-102px 0 0 60px;display:none;}
h2{font-size:12px;height:18px;text-align:right;padding:5px;cursor:move;}
h2 span{cursor:pointer;padding:0 2px;}
.pro_compar{ background:url(../images/pc.jpg) top left no-repeat; border:0; width:133px; height:17px; padding-top:5px; margin-bottom:10px; vertical-align:middle;}
.web_top{ padding-left:5px; background:url(../images/colobg.jpg) top left no-repeat; width:525px; height:22px; line-height:22px; font-size:14px; font-weight:bold;}
.wen_con_down{ width:528px; border:#cccccc 1px solid;}
.sleect_one{ border:#7e9db9 1px solid; width:257px; height:17px;}
.web_choose{ margin-left:6px; margin-top:8px;}
.web_chioce{ margin-left:6px; margin-top:15px; margin-bottom:15px;}
.web_wird{ padding-left:6px; padding-right:25px; margin-bottom:10px;}
.web_con_an{ width:530px; margin-bottom:180px;}
.tl_top{ width:833px; height:53px; background-color:#ca0002; padding-top:10px;}
.tech_nical{ padding-top:20px; padding-bottom:10px; color:#ca0002; font-size:18px; width:798px; margin:0 auto;}
.tl_all{ width:833px;}
.tl_nr{ width:798px; margin:0 auto;}
.tl_input{ width:793px; margin:0 auto; height:430px; padding-left:5px; padding-top:10px;}
.dl_clo{ background:url(../images/close.gif) top left no-repeat; width:92px; height:30px; border:0;}
.dl_close{ width:798px; margin:0 auto; text-align:right; padding-bottom:20px; padding-top:20px;}
#close{ padding-right:5px; }

/*about*/
.about_all{ width:970px; margin:0 auto;}
.last_news{ width:930px; margin:0 auto;}
.last_news ul li{ border-top:#cccccc 1px solid; padding-top:14px; padding-bottom:16px;}
.last_news ul li p{ color:#666666;}
.last_news h3{ border-bottom:#cccccc 2PX solid; padding-bottom:10px; font-size:16px;}
.latest_left{ float:left; width:75px;}
.latest_left img{ width:73px; height:95px; border:#000000 1px solid;}
.latest_right{ float:right; width:812px;}
.latest_right dl dt{ font-weight:bold; margin-bottom:3px;}
.latest_right dl dd{ line-height:20px;}
.view1{ color:#666666;}
.view{ color:#b4b4b4}
.su_addres1{ margin:0 auto;}
.su_addres1{ width:960px; margin:0 auto; padding-left:10px;}
.su_addres1 dl dt{ font-size:14px; margin-top:25px; color:#3f3e3d; font-weight:bold;}
.su_addres1 dl dd{ margin-top:10px; color:#666666;}
.su_addres1 dl dd img{ margin-right:15px;}

/*News*/

#resettabs1 {
width:100%;
font-size:14px;
overflow:hidden;
}
.tools1{ padding:12px 0 28px 0; width:965px; border-top:#d9d9d9 1px solid; border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid;}
.tools_left1{ float:left; width:636px;}
.tools_right1{ float:right; width:195px;}
.tools_right1 ul li{ line-height:24px; color:#76797c;}
.resetmain1{
clear:both;
padding-top:20px;
border-top: 1px solid #dddddd;
margin-top:-1px;
position:relative;
width: 963px;
}
.resetmain2{
clear:both;
padding-top:20px;
border-top: 1px solid #dddddd;
margin:0 15px;
position:relative;
width: 933px;
}
.autel1{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:24px; color:#444444; padding-bottom:15px; padding-top:80px;}
.autel2{ padding-left:0; padding-right:32px; width:930px; margin:0 auto; font-size:14px; color:#414141; padding-bottom:0; padding-top:5px;}
.discuss1{width:960px; margin:0 auto; color:#ff0000; font-size:14px; margin-top:4px;}
.discuss1 span{ color:#a2a2a2; font-size:12px}
.for_wel_ydl1{ padding-left:32px; padding-right:36px; padding-top:10px; padding-bottom:10px; width:899px; height:34px; background:url(../images/autel1a.jpg) top left no-repeat; color:#333; font-size:14px;}
.for_wel_ydl1 img{ border:#ccc solid 1px;}
.for_wel_ydl1font1{
	font-size:14px;
	font-weight:bold;
}
.Edit_Profile{
	width:900px; padding:0 30px 10px 30px;
}
.Edit_Profile h4{
	font-size:18px;
	color:#373737;
	font-weight:normal;
	padding-left:16px;
	background:url(../images/dot_2.jpg) no-repeat left center;
}
.Edit_Profile h5{
	font-size:14px;
	color:#373737;
	font-weight:normal;
	padding-left:16px;
}

.resettt1{ height:25px;}
#resettabs01 {
width: 898px;

padding-left:10px; font-size:14px;
}
.resetmenu01{
width: 509px;
 height:40px;

 position:absolute;
 z-index:99999;
 padding-left:28px;
 font-size:14px;

}
.resetmenu01 li{

display:block;
float: left;
line-height:39px;
padding-left:10px;
padding-right:10px;
height:39px;
color:#333333;
text-align: center;
cursor:pointer;

 border-top:#ffffff 1px solid;
}
.resetmenu01 li.hover{

 background-color:#ffffff;
 height:39px;
color:#333333;
border-left:#dddddd 1px solid;border-top:#dddddd 1px solid;border-right:#dddddd 1px solid;
}
#resetmain01 ul{
display: none;
}
#resetmain01 ul.block{
display: block;
}
.input_support{
	border:#b9c9d9 solid 1px;
	height:19px;
	line-height:19px;
}
.textarea_support{
	border:#b9c9d9 solid 1px;
}
.textarea_support1{
	border:#dad7d7 solid 1px;
}
.border_bottom{
	border-bottom:#e3e3e3 solid 1px;
}
.table_from td{
	font-size:12px;
	padding:5px;
}
.hongs1{ color:#ff0000;}
.user_left1{ float:left; width:667px; padding-left:20px;}
.user_right1{ float:right; padding-right:20px;}
.table_user_info{
	float:left;
}
.table_user_info td{
	font-size:14px;
	padding:3px;
}
.table_user_info img{
	border:#ccc solid 1px;
}
.user_info{
	float:left;
	padding-left:20px;}
.user_info td{
	padding:3px;}
.user_info img{
	border:#ccc solid 1px;
}
.font24black{
	font-size:24px;
	font-weight:bold;
	color:#000000;
	line-height:18px;
}
.font24black1{
	font-size:18px;
	font-weight:normal;
	color:#000000;
	font-weight:bold;
}
.font18gray{
	font-size:18px;
	font-weight:bold;
	color:#9a9a9a;
	line-height:18px;
}
.font18black{
	font-size:18px;
	color:#030303;
}
.font12gray{
	font-size:12px;
	color:#9a9a9a;
}
.font14black{
	font-size:14px;
	color:#333;
}
.font14gray{
	font-size:14px;
	color:#666666;
}
.font12red{
	font-size:12px;
	color:#ff0000;
}
.font14red{
	font-size:12px;
	color:#924343;
}
.font14red1{
	font-size:14px;
	color:#ff0000;
}
.no_info{
	padding:10px 30px;
}
.no_info .p2border{
	font-size:12px;
	padding-top:10px;
	margin-top:5px;
	border-top:#d3d3d3 solid 1px;
}
.input_sign{
	height:22px;
	line-height:22px;
	border:#c0c0c0 solid 1px;
}
.input_sign2{
	height:22px;
	line-height:22px;
	width:180px;
	border:#c0c0c0 solid 1px;
}
/**/
.regi1{ width:950px; margin:0 auto;}
.commu_top1{ background:url(../images/commutop.jpg) top left no-repeat; height:8px; width:950px; overflow:hidden;}
.commu_dowm1{ background:url(../images/commudo.jpg) bottom left no-repeat; height:8px; width:950px;}
.commu_midd1{ padding-bottom:30px; padding-top:20px; width:950px; background:url(../images/commumi.jpg) top left repeat-y;}
.commu_left1{ float:left; width:325px; font-size:14px; color:#888888; padding-left:25px;}
.commu_right1{ width:518px; float:left; color:#333333;display:inline; padding:0 0 0 50px;}
.commu_right1 h3{ font-size:16px;}
.ready{ font-size:14px; border-bottom:#e3e3e3 1px solid; padding-bottom:128px; padding-top:10px;}

/*nw_tl*/
.autel_tl{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:30px; color:#444444; padding-top:10px;}
.new_pp{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:14px; color:#666666; padding-bottom:15px;}
.new_pp a{ color:#db0404;}
.new_tl_p1{ font-size:18px; color:#343434; padding-left:8px; padding-right:32px; margin-bottom:10px;}
.new_tl_p2{ font-size:14px; color:#000000; padding-left:8px; padding-right:32px; margin-bottom:15px;}
.new_tl_p3{ background:url(../images/fk.gif) top left no-repeat; background-position-x:15px; background-position-y:8px; font-size:14px; color:#000000; padding-left:28px; padding-right:32px; margin-bottom:15px;}
.new_tl_p2 a,.new_tl_p3 a{ color:#db0404;}
.new_tl_p4{ font-size:18px; color:#db0404; padding-left:8px; padding-right:32px; margin-bottom:10px;}

.btn_next{background:url(../images/btn_next.jpg) top left no-repeat;width:100px;height:34px;border-style:none;cursor: pointer;}
.login_sub_btn{background:url(../images/btn_signin.jpg) top left no-repeat;width:120px;height:37px;border-style:none;cursor: pointer;}
.reg_sub_btn{background:url(../images/btn_autelid.jpg) top left no-repeat;width:158px;height:34px;border-style:none;cursor: pointer;}
.reg_sub_btn_1{background:url(../images/autel1.jpg) top left no-repeat;width:158px;height:34px;border-style:none;cursor: pointer;}
.btn_cancl{background:url(../images/btn_cancel1.jpg) top left no-repeat;width:100px;height:34px;border-style:none;cursor: pointer;}
.join_in{ margin-top:19px; margin-bottom:19px; background:url(../images/inputbg.gif) top left no-repeat; width:103px; height:21px; border:0px; padding-left:3px; padding-right:42px; padding-top:3px;}
.next_index{ background:url(../images/next.gif) top left no-repeat; width:42px; height:24px; border:0;}


/*account*/
.account{
	width:970px;
	margin:0 auto;
	}
.account_left{
	float:left;
	width:166px;
	border-bottom:#cccccc 1px solid;
	}
.account_left69{
	float:right;
	width:166px;
	border-bottom:#cccccc 1px solid;
	}
.account_right{
	float:right;
	width:792px;
	}
.account_right69{
	float:left;
	width:792px;
	}
.account_left dt{
	background-color:#596167;
	height:24px;
	line-height:24px;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	padding-left:18px;
	}
.account_left69 dt{
	background-color:#596167;
	height:24px;
	line-height:24px;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	padding-left:18px;
	}
.account_left dd{
	height:28px;
	line-height:28px;
	font-size:13px;
	color:#2d2d2d;
	border-left:#cccccc 1px solid;
	border-right:#cccccc 1px solid;
	}
.account_left dd a{
	color:#2d2d2d;
	display:block;
	height:28px;
	width:146px;
	padding-left:18px;
	}
.account_left_dd{
	background-color:#ececec;
}
.account_left dd a:hover{
	background-color:#ececec;
	}
.account_right h4{
	font-size:20px;
	border-top:#e40210 3px solid;
	color:#999999;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:18px;
	padding-right:7px;
	}
.account_right69 h4{
	font-size:20px;
	border-top:#e40210 3px solid;
	color:#999999;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:18px;
	padding-right:7px;
	}
.my_products{
	width:790px;
	border:#cccccc 1px solid;
	}
.my_products dt{
	margin-top:12px;
	margin-bottom:12px;
	}
.my_products dd{
	border-bottom:#cccccc 1px solid;
	height:1px;
	}
.my_pr_in{
	width:35px;
	height:70px;
	float:left;
	text-align:center;
	padding-top:57px;
	}
.my_pr_in69_tl{
	width:36px;
	height:91px;
	float:left;
	text-align:center;
	
	}
.my_pr_in69{
	width:14px;
	height:91px;
	float:left;
	text-align:center;
	
	}
.my_pr_in69_ll{
	width:28px;
	height:91px;
	float:left;
	text-align:center;
	
	}
.my_pro_pic{
	border:#cccccc 1px solid;
	width:185px;
	height:127px;
	float:left;
	}
.my_pro_piciit{
	
	width:80px;
	height:91px;
	float:left;
	}
.my_pro_pic69{
	
	width:183px;
	height:125px;
	float:left;
	}
.extend{
	width:531px;
	float:right;
	margin-right:10px;
	}
.extend h3{
	color:#000000;
	font-size:16px;
	}
.extend h5{
	line-height:28px;
	border-top:#cccccc 1px solid;
	font-size:14px;
	}
.extend h5 a{
	color:#000000;
	font-size:14px;
	line-height:24px;
	}
.s_n span{
	margin-right:10px;
	color:#696868;
	font-size:12.5px;
	}
.ext{
	background:url(../images/ext.gif) top left no-repeat;
	width:105px;
	height:29px;
	cursor:pointer;
	border:0;
	margin-right:12px;
	}
.my_add{
	background:url(../images/add.gif) top left no-repeat;
	width:105px;
	height:28px;
	cursor:pointer;
	border:0;
	}
.warranty{
	
	color:#696868;
	font-size:12.5px;
	padding-bottom:4px;
	}
.my_pro_title{ font-size:14px; color:#e60011; padding-left:16px; padding-right:7px;}
.welcome_to{
	width:790px;
	background-color:#f8f8f8;
	padding-top:10px;
	}
.my_message{
	float:left;
	width:394px;
	border-right:#cccccc 1px solid;
	}
.expir{
	float:left;
	width:394px;
	}
.message_pic{
	float:left;
	width:96px;
	height:85px;
	}
.mess_one{
	margin-right:14px;
	border-bottom:#cccccc 1px solid;
	padding-bottom:12px;
	margin-left:14px;
	padding-left:18px;
	}
.message_wor{
	float:right;
	width:220px;
	}
.message_wor h6{
	font-size:14px;
	color:#333333;
	font-weight:bold;
	line-height:16px;
	}
.my_all{
	border-top:#cccccc 1px solid;
	padding-top:12px;
	padding-bottom:12px;
	}
.mess_two{
	margin-right:14px;
	margin-left:14px;
	padding-left:18px;
	padding-top:12px;
	}
.message_wor p{
	font-size:12px;
	color:#727272;
	line-height:20px;
	}
.message_wor h6 a{
	color:#000000;
	}
.message_wor p a{
	color:#000000;
	}
.my_on{
	background-color:#ececec;
	}
.extend h3 span{
	color:#4d4d4d;
	font-size:12px;
	font-weight:normal;
	margin-left:68px;
	}
.add_tocart{
	text-decoration:underline;
	color:#0085cd;
	font-size:12.5px;
	}
.add_tocart a{
	text-decoration:underline;
	color:#0085cd;
	}
.add_tocart69{
	color:#8f1d22;
	font-size:12.5px;
	}
.add_tocart69 a{
	text-decoration:underline;
	color:#8f1d22;
	}
.add_tocart69_ll{
	color:#8f1d22;
	font-size:16px;
	}
.add_tocart69_ll a{
	text-decoration:underline;
	color:#8f1d22;
	}
.my_table{
	color:#4d4d4d;
	font-size:13px;
	line-height:20px;
	}
.check{
	background-color:#f2f2f2;
	border-top:#cccccc 1px solid;
	padding-bottom:20px;
	padding-top:20px;
	}
.check1{
	background-color:#f2f2f2;
	padding-bottom:20px;
	padding-top:20px;
	}
.add_lan{
	border-left:#cccccc 1px solid;
	padding-left:10px;
	color:#0085cd;
	font-size:14px;
	height:26px;
	line-height:26px;
	margin-left:10px;
	}
.add_lan a{
	color:#0085cd;
	}
.chickall{
	display:block;
	width:25px;
	float:left;
	height:20px;
	padding-top:6px;
	padding-left:10px;
	}
.chickall_a530{
	display:block;
	width:15px;
	float:left;
	height:20px;
	padding-top:6px;
	padding-left:10px;
	}
.my_page{
	float:right;
	height:26px;
	padding-top:3px;
	padding-right:6px;
	}
.page_all a{
	display:block;
	float:left;
	padding-left:5px;
	padding-right:5px;
	color:#333333;
	line-height:16px;
	}
.page_all a:hover{

	background-color:#f9f9f9;
	padding-left:5px;
	padding-right:5px;
	height:16px;
	border:#cccccc 1px solid;
	}
.page_on{
	background-color:#f9f9f9;
	padding-left:5px;
	padding-right:5px;
	line-height:16px;
	height:16px;
	border:#cccccc 1px solid;
	}
.go{
	background:url(../images/go.gif) top left no-repeat;
	width:26px;
	height:19px;
	border:0;
	cursor:pointer;
	color:#333333;
	font-size:12px;
	line-height:18PX;
	}
.page_shuz{
	width:33px;
	height:17px;
	border:#7f9db9 1px solid;
	}
.no_on{
	border:#f2f2f2 1px solid;
	}
.previ{
	background:url(../images/pbg.gif) top left no-repeat;
	display:block;
	float:left;
	width:110px;
	height:18px;
	line-height:21px;
	margin-left:5px;
	margin-right:5px;
	}
.pre_pa{margin-left:3px; margin-right:11px; line-height:16px;}
.pre_pa a{ color:#333333;}

.next_pa {margin-left:5px; margin-right:5px; line-height:16px;}
.next_pa a{ color:#333333;}
.check_hei a{ color:#4d4d4d; line-height:24px;}

.buy_shuz{ background:url(../images/buy.gif) bottom center no-repeat; color:#f00; font-size:12px; padding-left:5px; padding-right:5px; padding-bottom:-8px; margin-top:-8px; line-height:24px; height:24px;}
/*xuzu*/
.account_right h4 span{
	float:right;
	}
.account_right69 h4 span{
	float:right;
	}
.renew{
	background:url(../images/rene.gif) top left no-repeat;
	width:173px;
	height:26px;
	color:#ffffff;
	font-size:16px;
	border:0;
	cursor:pointer;
	}
.rechar{
	border:#cccccc 1px solid;
	margin-top:12px;
	margin-left:12px;
	margin-right:12px;
	padding-left:20px;
	padding-right:65px;
	padding-bottom:15px;
	}
.rechar li{
	font-size:14px;
	color:#4d4d4d;
	line-height:22px;
	padding-top:10px;
	}
.ok{
	background:url(../images/can.gif) top left no-repeat;
	width:105px;
	height:28px;
	border:0;
	cursor:pointer;
	}
.rechar li span{
	float:right;
	}
.rech_input{
	width:266px;
	height:20px;
	border:#7f9db9 1px solid;
	}
.re_year{
	width:24px;
	height:16px;
	border:#7f9db9 1px solid;
	text-align:right;
	margin-left:10px;
	margin-right:10px;
	}
.since{
	width:750px;
	margin-left:10px;
	border-top:#cccccc 1px solid;
	padding-left:20px;
	padding-bottom:16px;
	line-height:22px;
	}
.since h5{
	font-size:14px;
	line-height:24px;
	}
.renew_lan{
	background:url(../images/renehui.gif) top left no-repeat;
	width:190px;
	height:26px;
	color:#4c4c4c;
	font-size:16px;
	border:0;
	cursor:pointer;
	}
.renew_lan2{
	background:url(../images/km.gif) top left no-repeat;
	width:143px;
	height:28px;
	color:#4c4c4c;
	font-size:16px;
	border:0;
	cursor:pointer;
	}
.renew_lan618{
	background:url(../images/renehui618.gif) top left no-repeat;
	width:132px;
	height:26px;
	color:#4c4c4c;
	font-size:16px;
	margin-right:7px;
	border:0;
	cursor:pointer;
	}
.no_pro{
	width:970px;
	margin:0 auto;	
	}
.no_pro h4{
	font-size:20px;
	border-top:#e40210 3px solid;
	color:#999999;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:18px;
	padding-right:18px;
	}
.no_pro h4 span{
	float:right;
	}
.no_cart{
	background-color:#f3f3f4;
	border:#cccccc 1px solid;
	width:968px;
	margin:0 auto;
	text-align:center;
	padding-bottom:50px;
	padding-top:70px;
	color:#000000;
	margin-bottom:470px;
	}
.remove a{
	float:right;
	font-size:12.5px;
	color:#0085cd;
	text-decoration:underline;
	}
.cart2{
	width:531px;
	float:right;
	margin-right:10px;
	}
.cart2 h3 .cart_name{
	color:#000000;
	font-size:16px;
	}
.cart2 h5{
	line-height:28px;
	border-top:#cccccc 1px solid;
	font-size:14px;
	}
.cart2 h5 a{
	color:#000000;
	font-size:14px;
	line-height:24px;
	}
.cart2 h3 span{
	color:#4d4d4d;
	font-size:12px;
	font-weight:normal;
	margin-left:68px;
	}
.cart2_a69{
	width:666px;
	float:right;
	margin-right:10px;
	}
.cart2_a69 h3 .cart_name{
	color:#000000;
	font-size:16px;
	}
.cart2_a69 h5{
	line-height:28px;
	border-top:#cccccc 1px solid;
	font-size:14px;
	}
.cart2_a69 h5 a{
	color:#000000;
	font-size:14px;
	line-height:24px;
	}
.cart2_a69 h3 span{
	color:#4d4d4d;
	font-size:12px;
	font-weight:normal;
	margin-left:68px;
	}
.cart2_a69_tl{
	width:642px;
	float:right;
	margin-right:10px;
	padding-top:20px;
	}
.cart2_a69_tl h3 .cart_name{
	color:#000000;
	font-size:16px;
	}
.cart2_a69_tl h5{
	line-height:28px;
	border-top:#cccccc 1px solid;
	font-size:14px;
	}
.cart2_a69_tl h5 a{
	color:#000000;
	font-size:14px;
	line-height:24px;
	}
.cart2_a69_tl h3 span{
	color:#4d4d4d;
	font-size:12px;
	font-weight:normal;
	margin-left:68px;
	}
.cart2_a69_ll{
	width:826px;
	float:right;
	margin-right:10px;
	}
.cart2_a69_ll h3 .cart_name{
	color:#000000;
	font-size:16px;
	}
.cart2_a69_ll h5{
	line-height:28px;
	border-top:#cccccc 1px solid;
	font-size:14px;
	}
.cart2_a69_ll h5 a{
	color:#000000;
	font-size:14px;
	line-height:24px;
	}
.cart2_a69_ll h3 span{
	color:#4d4d4d;
	font-size:12px;
	font-weight:normal;
	margin-left:68px;
	}
.renew1{
	background:url(../images/checknow.gif) top left no-repeat;
	width:132px;
	height:28px;
	color:#ffffff;
	font-size:16px;
	border:0;
	cursor:pointer;
	margin-right:7px;
	vertical-align:middle;
	}
.renew1618{
	background:url(../images/checknow618.gif) top left no-repeat;
	width:173px;
	height:28px;
	color:#ffffff;
	font-size:16px;
	border:0;
	cursor:pointer;
	vertical-align:middle;
	}
.renew1669{
	background:url(../images/checknow618.gif) top left no-repeat;
	width:173px;
	height:28px;
	color:#ffffff;
	font-size:14px;
	border:0;
	cursor:pointer;
	margin-right:7px;
	vertical-align:middle;
	}
.total{
	font-size:18px;
	font-weight:bold;
	color:#2d2d2d;
	display:block;
	float:left;
	}
.money{
	font-size:18px;
	font-weight:bold;
	color:#2d2d2d;
	margin-right:20px;
	margin-left:74px;
	display:block;
	float:left;
	}
.my_check_mo{
	float:right;
	line-height:28px;
	}
.placed{
	width:212px;
	height:18px;
	color:#262525;
	border:#a7b1bd 1px solid;
	margin-right:32px;
	margin-left:10px;
	margin-top:4px;
	}
.placed1{
	width:130px;
	height:18px;
	color:#262525;
	border:#a7b1bd 1px solid;
	margin-top:4px;
	}
.placed_tt{
	width:212px;
	height:18px;
	color:#262525;
	border:#a7b1bd 1px solid;
	
	}
.placed1_tt{
	width:130px;
	height:18px;
	color:#262525;
	border:#a7b1bd 1px solid;
	
	}
.order_num{
	border-bottom:#cccccc 1px solid;
	color:#333333;
	background-color:#ececec;
	padding-left:35px;
	height:24px;
	line-height:24px;
	font-size:12.5px;
	}
.order_num span{
	margin-left:62px;
	}
.check_cancel{
	border-top:#cccccc 1px solid;
	margin-left:10px;
	margin-right:10px;
	}
.check_cancel5{
	border-top:#cccccc 1px solid;
	margin-left:20px;
	margin-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	}
.check_cancel69{
	border-top:#dcdcdc 1px dashed;
	margin-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:10px;
	}
.renew2{
	background:url(../images/cho.gif) top left no-repeat;
	width:105px;
	height:28px;
	color:#ffffff;
	font-size:16px;
	border:0;
	cursor:pointer;
	margin-right:7px;
	vertical-align:middle;
	margin-top:4px;
	margin-bottom:4px;
	}
.renew3{
	background:url(../images/can.gif) top left no-repeat;
	width:105px;
	height:28px;
	color:#4c4c4c;
	font-size:16px;
	border:0;
	cursor:pointer;
	margin-right:7px;
	vertical-align:middle;
	margin-bottom:4px;
	}
		
.renew4{
	background:url(../images/cho.gif) top left no-repeat;
	width:105px;
	height:28px;
	color:#ffffff;
	font-size:16px;
	border:0;
	cursor:pointer;
	margin-right:7px;
	vertical-align:middle;
	margin-top:15px;
	margin-bottom:4px;
	}
.renew5{
	background:url(../images/other.gif) top left no-repeat;
	width:131px;
	height:28px;
	color:#4c4c4c;
	font-size:16px;
	border:0;
	cursor:pointer;
	margin-right:7px;
	vertical-align:middle;
	margin-top:15px;
	margin-bottom:4px;
	}
.renew6{
	background:url(../images/cho.gif) top left no-repeat;
	width:105px;
	height:28px;
	color:#ffffff;
	font-size:16px;
	border:0;
	cursor:pointer;
	margin-right:7px;
	vertical-align:middle;
	margin-bottom:4px;
	}
.renew7{
	background:url(../images/delete.gif) top left no-repeat;
	width:94px;
	height:24px;
	color:#4c4c4c;
	font-size:14px;
	border:0;
	cursor:pointer;
	vertical-align:middle;
	}
.renew8{
	background:url(../images/can1.png) top left no-repeat;
	width:63px;
	height:28px;
	color:#4c4c4c;
	font-size:16px;
	border:0;
	cursor:pointer;
	margin-right:0px;
	vertical-align:middle;
	margin-bottom:4px;
	}	
.upload{
	width:200px;
	height:24px;	
}
.money1{
	font-size:18px;
	font-weight:bold;
	color:#2d2d2d;
	margin-right:60px;
	margin-left:74px;
	padding-top:15px;
	padding-bottom:15px;
	display:block;
	float:left;
	}
.money169{
	font-size:18px;
	font-weight:bold;
	color:#2d2d2d;
	margin-right:40px;
	margin-left:4px;
	padding-top:15px;
	padding-bottom:15px;
	display:block;
	float:left;
	color:#990000;
	}
.money2{
	font-size:18px;
	font-weight:bold;
	color:#2d2d2d;
	margin-right:14px;
	margin-left:62px;
	padding-top:15px;
	padding-bottom:15px;
	display:block;
	float:left;
	}
.total1{
	font-size:18px;
	font-weight:bold;
	color:#2d2d2d;
	display:block;
	float:left;
	padding-top:15px;
	padding-bottom:15px;
	}
.status{
	background-color:#f3f3f4;
	padding-top:30px;
	padding-bottom:40px;
	padding-left:35px;
	}
.or_com{
	font-size:18px;
	background:url(../images/gou.gif) top left no-repeat;
	padding-left:85px;
	}
.or_lc{
	margin-left:85px;
	margin-top:30px;
	}
.or_lc dl dt{
	float:left;
	text-align:center;
	vertical-align:middle;
	}
.order_time{
	display:block;
	float:left;
	}
.my_pro_card{
	width:185px;
	float:left;
	}
.my_pro_card h3{
	font-size:16px;
	margin-left:10px;
	}
.my_pro_card h3 a{
	font-size:16px;
	color:#000000;
	}
.my_pro_card h5{
	font-size:14px;
	margin-top:5px;
	text-align:right;
	padding-right:50px;
	}
.cart2 p{
	margin-bottom:8px;
	margin-top:5px;
	}
.year{
	width:26px;
	height:18px;
	background-color:#f2f2f2;
	display:block;
	float:left;
	margin-left:15px;
	text-align:center;
	}
.list{
	margin-left:10px;
	margin-right:10px;
	border-bottom:#cccccc 1px solid;
	font-size:14px;
	padding-left:35px;
	margin-top:12px;
	}
.list69{
	margin-left:10px;
	margin-right:10px;
	border-bottom:#cccccc 1px solid;
	font-size:14px;
	
	margin-top:12px;
	}
.my_pr_in_cart{
	width:35px;
	float:left;
	text-align:center;
	padding-top:57px;
	}
.online{
	border:#cccccc 1px solid;
	width:968px;
	margin:0 auto;
	color:#000000;

	}
.pay_ment{
	font-size:14px;
	padding-left:30px;
	line-height:24px;
	padding-top:14px;
	padding-bottom:10px;
	}
.pay_ment ul{
	margin-top:5px;
	color:#4c4c4c;
	}
.credit{
	margin-left:10px;
	margin-right:10px;
	border-top:#cccccc 1px solid;
	font-size:14px;
	padding-left:23px;
	}
.bank_pic li{
	float:left;
	background:url(../images/picbg.gif) bottom left no-repeat;
	padding-bottom:6px;
	margin-right:8px;
	}
.bank_pic{
	padding-bottom:16px;
	}
.no_pro_kong{
	font-size:20px;
	border-top:#e40210 3px solid;
	color:#999999;
	height:42px;
	margin:0 auto;
	width:970px;
	}
.other_pay{
	width:938px;
	margin:0 auto;
	padding-left:16px;
	padding-right:16px;
	font-size:14px;
	color:#717171;
	line-height:24px;
	}
.other_pay h4{
	color:#000000;
	margin-bottom:10px;
	}
.other_pay p span{
	color:#000000;
	}
.or_com a{
	color:#0085cd;
	}
.status_ok{
	background-color:#f3f3f4;
	padding-top:30px;
	padding-bottom:90px;
	padding-left:35px;
	}
.status_ok1{
	background-color:#f3f3f4;
	padding-top:30px;
	padding-bottom:60px;
	padding-left:35px;
	}
.sn{
	width:262px;
	height:28px;
	background:url(../images/sn.gif) top left no-repeat;
	border:0;
	line-height:28px;
	padding-left:5px;
	}
.sn_question{
	width:100px;
	height:28px;
	background:url(../images/sn.gif) top left no-repeat;
	border:0;
	line-height:28px;
	padding-left:5px;
	}
.registe{
	font-size:12.5px;
	color:#4d4d4d;
	padding-top:36px;
	padding-bottom:36px;
	}
.model{
	width:267px;
	height:28px;
	}
.question{
	background-color:#f3f3f5;
	padding-top:20px;
	padding-left:18px;
	padding-bottom:30px;
	}
.question h5{
	font-size:14px;
	}
.question p{
	color:#4d4d4d;
	font-size:12.5px;
	padding-left:25px;
	}
.ks_tab{
	font-size:14.5px;
	padding-left:22px;
	}
.depar{
	margin-left:10px;
	margin-right:10px;
	}
.depar h3{
	font-size:16px;
	border-bottom:#cccccc 1px solid;
	padding-left:16px;
	padding-bottom:10px;
	padding-top:10px;
	}
.depar p{
	font-size:12.5px;
	padding-left:16px;
	line-height:18px;
	padding-top:10px;
	padding-bottom:15px;
	color:#4d4d4d;
	}
.depar h5{
	font-size:12.5px;
	padding-left:16px;
	}
.depar li{
	padding-left:16px;
	color:#4d4d4d;
	font-size:12.5px;
	padding-top:10px;
	}
.my_products_table{
	width:792px;
	font-size:13px;
	color:#4d4d4d;
	}
.my_products_table td{
	border:#cccccc 1px solid;
	}
.declar{
	width:253px;
	height:40px;
	font-size:13px;
	border:0;
	color:#4d4d4d;
	line-height:40px;
	}
.organ{
	width:300px;
	height:40px;
	font-size:13px;
	border:0;
	color:#4d4d4d;
	line-height:40px;
	}
.organ2{
	width:330px;
	height:40px;
	font-size:13px;
	border:0;
	color:#4d4d4d;
	line-height:40px;
	}	
.tel{
	width:300px;
	height:40px;
	font-size:13px;
	border:0;
	color:#4d4d4d;
	line-height:40px;
	}
.em{
	width:149px;
	height:40px;
	font-size:13px;
	border:0;
	color:#4d4d4d;
	line-height:40px;
	}
.theme{
	width:690px;
	height:40px;
	font-size:13px;
	border:0;
	color:#4d4d4d;
	line-height:40px;
	}
.ve_ser{
	width:200px;
	height:40px;
	font-size:13px;
	border:0;
	color:#4d4d4d;
	line-height:40px;
	}
.sys{
	width:19.2px;
	height:40px;
	font-size:13px;
	border:0;
	color:#4d4d4d;
	line-height:40px;
	border-right:#cccccc 1px solid;
	}
.sys1{
	width:19.2px;
	height:40px;
	font-size:13px;
	border:0;
	color:#4d4d4d;
	line-height:40px;
	}
.other_in{
	width:580px;
	height:40px;
	font-size:13px;
	border:0;
	color:#4d4d4d;
	line-height:40px;
	}
.p_des{
	width:704px;
	height:292px;
	border:0;
	}
.att_name{
	width:247px;
	height:30px;
	border:0;
	background:url(../images/att.gif) top left no-repeat;
	margin-left:15px;
	margin-right:28px;
	margin-bottom:30px;
	margin-top:30px;
	}
.fill h5{
	font-size:13px;
	padding-left:13px;
	line-height:18px;
	padding-right:13px;
	}
.fill p{
	font-size:12.5px;
	padding-left:13px;
	line-height:24px;
	padding-right:13px;
	color:#4d4d4d;
	}
.ticket h3{
	font-size:16px;
	line-height:30px;
	padding-top:5px;
	}
.ticket{
	padding-left:15px;
	padding-right:15px;
	border-bottom:#cccccc 1px solid;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:16px;
	}
.state{
	margin-left:20px;
	margin-bottom:18px;
	color:#4d4d4d;

	}
.state td{
		border-left:#cccccc 1px solid;
	border-top:#cccccc 1px solid;
	border-right:#cccccc 1px solid;
	border-bottom:#cccccc 1px solid;
	}
.state h3{
	font-size:14.5px;
	margin-bottom:10px;
	margin-top:15px;
	}
.p_des_ks{
	width:704px;
	height:292px;
	border:#cccccc 1px solid;
	}
.att_name_ks{
	width:247px;
	height:30px;
	border:0;
	background:url(../images/att.gif) top left no-repeat;
	margin-left:5px;
	margin-right:28px;
	margin-bottom:15px;
	}
.james{
	border:#cccccc 1px solid;
	margin-left:20px;
	margin-right:20px;
	width:750px;
	margin-bottom:20px;
	}
.jam_left{
	width:156px;
	background-color:#eaeaea;
	float:left;
	font-size:13px;
	padding-bottom:25px;
	padding-top:10px;
	}
.jam_left h3{
	font-size:13px;
	text-align:center;
	padding-bottom:40px;
	}
.jam_left p{
	padding-left:30px;
	color:#4d4d4d;
	line-height:24px;
	}
.jam_right{
	float:right;
	font-size:12.5px;
	color:#4d4d4d;
	width:564px;
	padding-top:10px;
	padding-left:15px;
	padding-right:15px;
	}
.success{
	width:778px;
	border:#cccccc 1px solid;
	font-size:14px;
	font-weight:bold;
	color:#4d4d4d;
	line-height:24px;
	padding-left:12px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:15px;
	}
.tool_down{
	width:791px;
	text-align:center;
	font-size:13px;
	color:#4d4d4d;
	border-top:#cccccc 1px solid;
	border-left:#cccccc 1px solid;
	border-right:#cccccc 1px solid;
	border-bottom:#cccccc 1px solid;
	}
.tool_down td{
	border-top:#cccccc 1px solid;
	border-right:#cccccc 1px solid;
	border-bottom:#cccccc 1px solid;
	}
.tool_title{
	background:url(../images/toobg.gif) top left repeat-x;
	height:41px;
	}
.tool_down tr{
	height:41px;
	}
.english{
	width:122px;
	height:19px;
	border:#cccccc 1px solid;
	}
.infor_mation{
	font-size:14px;
	padding-left:35px;
	margin-top:10px;
	}
.registe_infor{
	font-size:12.5px;
	color:#4d4d4d;
	padding-top:5px;
	}
.registe_infor p{
	font-size:12.5px;
	color:#4d4d4d;
	padding-left:58px;
	line-height:24px;
	}
.sn_xiao{
	width:84px;
	height:28px;
	background:url(../images/xiaok.gif) top left no-repeat;
	border:0;
	line-height:28px;
	padding-left:5px;
	margin-right:20px;
	}
.sn_zhong{
	width:107px;
	height:28px;
	background:url(../images/xiaok.gif) top left no-repeat;
	border:0;
	line-height:28px;
	padding-left:5px;
	margin-right:20px;
	}
.pay_leg{ width:792px;}

.my_main{
	padding:8px 0px 0px 0px;
border:#cccccc 1px solid;
margin-top:-1px;}
/*xuanxiangka*/
#my_tabs0 {}
.my_tt{ position:relative; height:34px; line-height:34px;text-align: center;}
.my_menu0 li{
display:block;
float: left;
width:132px;
cursor:pointer;
background:url(../images/pay_4.gif) top left no-repeat;
width:132px; margin-right:6px; height:34px;
}
.my_menu0 li.hover{ background:url(../images/pay_5.gif) top left no-repeat; width:132px; height:34px;}
#my_main0 ul{ display: none;}
#my_main0 ul.block{ display: block;}
.my_main h3{
	font-size:12.5px;
	margin-bottom:5px;
	}
.my_main p{
	line-height:18px; 
	color:#4d4d4d; 
	font-size:12.5px;
	padding-left:26px;
	}
.my_mess{
	margin-left:10px;
	margin-right:10px;
	padding-left:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-top:10px;
	}
.border_bottom{
	border-bottom:#cccccc 1px solid;
	margin-left:10px;
	margin-right:10px;
	}
.top_online{ 
	width:670px;
	 height:58px; 
	 background-color:#cb0003; 
	 margin:0 auto;
	 }
#navll_online{
	height:28px;  
	width:670px; 
	margin:0 auto;
	overflow:hidden;
	 background:url(../images/menubg.gif) top left repeat-x;
	 }
.no_pro_online{
	width:670px;
	margin:0 auto;	
	}
.no_pro_online h4{
	font-size:20px;
	border-top:#e40210 3px solid;
	color:#999999;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:18px;
	padding-right:18px;
	}
.no_pro_online h4 span{
	float:right;
	font-size:12px;
	font-weight:normal;
	line-height:24px;
	color:#000000;
	}
.placed1_on{
	width:130px;
	height:18px;
	color:#262525;
	border:#a7b1bd 1px solid;
	}
.vps{
	width:668px;
	border:#cccccc 1px solid;
	margin:0 auto;
	color:#4d4d4d;
	}
.vps li{
	margin-left:10px;
	margin-right:10px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	color:#4d4d4d;
	font-size:13px;
	border-bottom:#cccccc 1px solid;
	}
.vps p{
	font-size:13px;
	color:#4d4d4d;
	padding-left:36px;
	padding-right:20px;
	padding-top:10px;
	line-height:18px;
	}
.vps p span{
	color:#a8a5a5;
	}
.vps p strong{
	color:#0085cd;
	}
.online_kef{
	width:476px;
	height:74px;
	}
.onli_in{
	padding-left:36px;
	padding-bottom:20px;
	}
.vps_tab{
	width:668px;
	border:#cccccc 1px solid;
	margin:0 auto;
	color:#4d4d4d;
	padding-top:10px;
	}
.bt30{
	padding-bottom:30px;
	}
.languages{
	width:1004px;
	margin:0 auto;
	text-align:right;
	padding-top:40px;
	}
.lan_english{
	border:0;
	}
.fk_tit{
	font-size:18px;
	font-weight:bold;
	padding-bottom:30px;
	margin:0 auto;
	width:1004px;
	}
.pay_zf{
	width:1004px;
	margin:0 auto;
	}
.pay_left{
	float:left;
	width:394px;
	height:629px;
	background:url(../images/payleftbg.gif) top left no-repeat;
	}
.pay_left h4{
	font-size:14px;
	text-align:center;
	padding-top:45px;
	padding-bottom:10px;
	}
.descri{
	background-color:#eeeeee;
	margin-left:38px;
	margin-right:38px;
	padding-left:10px;
	padding-right:20px;
	padding-bottom:5px;
	padding-top:5px;
	}
.descri span{
	float:right;
	}
.max{
	padding-left:48px;
	padding-right:58px;
	padding-top:5px;
	}
.max span{
	float:right;
	}
.item{
	padding-left:48px;
	padding-right:58px;
	font-size:11px;
	color:#757575;
	line-height:24px;
	}
.iten{
	margin-left:38px;
	margin-right:38px;
	padding-left:10px;
	padding-right:20px;
	padding-bottom:5px;
	padding-top:5px;
	border-bottom:#cccccc 1px solid;
	border-top:#cccccc 1px solid;
	}
.iten span{
	float:right;
	}
.tot{
	text-align:right;
	margin-left:38px;
	margin-right:38px;
	font-size:11px;
	}
.pay_right{
	width:610px;
	float:right;
	}
.pay_login{
	background:url(../images/payright.gif) top left no-repeat;
	width:562px;
	height:280px;
	padding-left:48px;
	}
.pay_right h4{
	color:#c88039;
	font-size:16px;
	padding-top:34px;
	padding-bottom:5px;
	padding-left:34px;
	}
.pay_right h3{
	padding-top:30px;
	font-size:14px;
	color:#3267c3;
	}
.paypal{
	width:190px;
	height:20px;
	border:#adc2d6 1px solid;
	}
.pog{
	background:url(../images/login.gif) top left no-repeat;
	width:50px;
	height:21px;
	border:0;
	cursor:pointer;
	margin-bottom:12px;
	margin-top:12px;
	color:#720015;
	font-size:12px;
	}
.pay_login p a{
	color:#084482;
	text-decoration:underline;
	}
.debite{
	background:url(../images/debite.gif) top left no-repeat;
	width:562px;
	height:49px;
	margin-top:10px;
	margin-bottom:20xp;
	padding-left:48px;
	padding-top:15px;
	}
.debite a{
	color:#084482;
	text-decoration:underline;
	font-size:14px;
	font-weight:bold;
	}
.teturn{
	font-size:11px;
	text-decoration:underline;
	text-align:center;
	margin-top:30px;
	color:#084482;
	}
.teturn a{
	color:#084482;
	text-decoration:underline;
	
	}
.pay_foot{
	width:1004px;
	margin:0 auto;
	font-size:11px;
	color:#757575;
	padding-top:10px;
	padding-bottom:10px;
	}
.pay_foot a{
	color:#084482;
	text-decoration:underline;
	}
.pay_left_2{
	float:left;
	width:394px;
	height:1096px;
	background:url(../images/pay2.gif) top left no-repeat;
	}
.pay_left_2 h4{
	font-size:14px;
	text-align:center;
	padding-top:45px;
	padding-bottom:10px;
	}
.pay_bank{
	width:560px;
	height:876px;
	background:url(../images/pay3.gif) top left no-repeat;
	margin-top:10px;
	padding-left:50px;
	}
.pay_new a{
	font-size:14px;
	font-weight:bold;
	color:#084482;
	text-decoration:underline;
	}
.auite{
	width:222px;
	height:19px;
	border:#adc2d6 1px solid;
	}
.paypalaa{
	width:50px;
	height:20px;
	border:#adc2d6 1px solid;
	}
.auite_ph{
	width:62px;
	height:19px;
	border:#adc2d6 1px solid;
	}
.cont{
	background:url(../images/cont.gif) top left no-repeat;
	width:135px;
	height:20px;
	border:0;
	cursor:pointer;
	color:#720015;
	font-size:12px;
	}
.lanjh{
	background-color:#eeeeee;
	padding-bottom:10px;
	padding-left:10px;
	padding-top:10px;
	margin-right:50px;
	font-size:14px;
	}
.lanjh a{
	color:#084482;
	}
.debite_with{
	background:url(../images/pwith.gif) top left no-repeat;
	width:562px;
	height:49px;
	margin-top:10px;
	margin-bottom:20xp;
	padding-left:48px;
	padding-top:15px;
	}
.debite_with a{
	color:#084482;
	text-decoration:underline;
	font-size:14px;
	font-weight:bold;
	}
.pay_cs{
	width:1008px;
	margin:0 auto;
	}
.chs{
	background:url(../images/paycs.gif) top left no-repeat;
	width:964px;
	height:53px;
	padding-left:22px;
	padding-right:22px;
	line-height:53px;
	}
.chs span{
	float:right;
	}
.ch_word{
	width:962px;
	border-left:#cccccc 1px solid;
	border-right:#cccccc 1px solid;
	padding-bottom:10px;
	padding-left:22px;
	padding-right:22px;
	padding-top:10px;
	font-size:13px;
	}
/*320*/
.extend_km{
	width:531px;
	float:right;
	margin-right:10px;
	}
.extend_km h3 a{
	color:#000000;
	font-size:16px;
	}
.extend_km h5{
	line-height:28px;
	border-top:#cccccc 1px solid;
	font-size:14px;

	}
.extend_km h5 a{
	color:#000000;
	font-size:14px;
	line-height:24px;
	}
.extend_km h3 span{
	color:#4d4d4d;
	font-size:14px;
	font-weight:normal;
	margin-left:68px;
	}
.s_n_km span{
	margin-right:22px;
	color:#696868;
	font-size:14px;
	}
.warranty_km{
	
	color:#696868;
	font-size:14px;
	padding-bottom:4px;
	}
.my_xs{
	width:775px;
	border:#cccccc 1px solid;
	font-size:14px;
	color:#4d4d4d;
	padding-left:15px;
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:12px;
	}
.p_name{
	border:#7f9db9 1px solid;
	width:262px;
	height:20px;
	margin-right:28px;
	}
.jss_xx{
	border-top:#cccccc 1px solid;
	border-left:#cccccc 1px solid;
	font-size:12.5px;
	
	}
.jss_xx td{
	border-bottom:#cccccc 1px solid;
	border-right:#cccccc 1px solid;
	text-align:center;
	
	color:#4d4d4d;
	}
.jss_xx69{
	border:#cccccc 1px solid;
	
	font-size:12.5px;
	}
.jss_xx69 td{
	
	
	
	color:#4d4d4d;
	}
.tr_bg{
	background-color:#f7f8f8;
	}
.new_center{
	width:792px;
	border-top:#cccccc 1px solid;
	font-size:14px;
	padding-top:10px;
	}
.new_center a span{
	float:right;
	}
.new_center a{
	color:#4d4d4d;
	}
.new_center a:hover{
	color:#e60011;
	}
.new_center dt{
	
	margin-left:16px;
	padding-right:10px;
	line-height:30px;
	}
.new_center dd{
	border-bottom:#cccccc 1px solid;
	border-top:#cccccc 1px solid;
	font-size:12px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:16px;
	color:#4d4d4d;
	}
.page_all_new a{
	display:block;
	float:right;
	padding-left:5px;
	padding-right:5px;
	color:#333333;
	}
.page_all_new a:hover{

	background-color:#f9f9f9;
	padding-left:5px;
	padding-right:5px;
	height:16px;
	border:#cccccc 1px solid;
	}
.new_center h3{
	font-size:18px;
	text-align:center;
	color:#3a3a3a;
	}
.new_center p{
	color:#4d4d4d;
	margin-bottom:10px;
	text-indent:2em;
	padding-left:10px;
	line-height:24px;
	}
.ser_info{
	width:790px;
	border:#cccccc 1px solid;
	color:#4d4d4d;
	font-size:14.5px;
	}
.ser_info dd{
	padding-left:16px;
	padding-right:16px;
	margin-bottom:5px;
	}
.ser_info strong{
	font-size:16px;
	color:#3a3a3a;
	line-height:30px;
	}
.custom_service{
	width:790px;
	border:#cccccc 1px solid;
	color:#4d4d4d;
	font-size:14px;
	}
.custom_service h3{
	color:#3a3a3a;
	font-size:16px;
	background-color:#f8f8f8;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:16px;
	border-bottom:#cccccc 1px solid;
	}
.custom_service dt{
	padding-left:16px;
	padding-right:16px;
	margin-top:10px;
	}
.custom_service .cus_span{
	margin-left:55px;
	color:#9e9e9e;
	}
.custom_service dd{
	border-bottom:#cccccc 1px solid;
	margin-left:16px;
	margin-right:16px;
	margin-top:10px;
	}
.custom_service dt p{
	text-indent:1.4em;
	}
.cus_page{
	font-size:12px;
	border-top:#cccccc 1px solid;
	padding-top:20px;
	padding-bottom:20px;
	}
.p_name_car{
	border:#7f9db9 1px solid;
	width:153px;
	height:20px;
	margin-right:28px;
	}
.car_kc{
	border:#7f9db9 1px solid;
	width:153px;
	height:20px;
	margin-right:28px;
	}
.my_pay_at{
	margin-left:10px;
	margin-right:10px;
	padding-left:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-top:10px;
	font-size:12.5px;
	color:#4d4d4d;
	}

.my_pay_at dt{
	margin-top:10px;
	}
.my_pay_at dd{
	border-bottom:#cccccc 1px solid;


	margin-top:10px;
	}
.my_pay_at strong{
	color:#2e2d2d;
	}

/*3-31*/
.distri{
	width:775px;
	border:#cccccc 1px solid;
	font-size:14px;
	color:#4d4d4d;
	padding-left:15px;
	padding-bottom:27px;
	padding-top:27px;
	}
.pac{
	width:153px;
	height:20px;
	border:#7f9db9 1px solid;
	font-size:14px;
	color:#4d4d4d;
	margin-right:60px;
	}
.jx_trbg{
	background-color:#f7f8f8;
	}
.check11{
	background-color:#ffffff;
	padding-bottom:22px;
	padding-top:22px;
	padding-right:20px;
	}
.policy{
	width:930px;
	margin:0 auto;
	padding-top:30px;
	padding-left:20px;
	padding-right:20px;
	font-size:14px;
	color:#666666;
	line-height:22px;
	}
.policy h4{
	margin-bottom:20px;
	}
.policy dt{
	text-decoration:underline;
	}
.policy dd{
	margin-bottom:20px;
	}
.policy dd p{
	background:url(../images/heik.gif) left center no-repeat;
	background-position-y:9px;
	padding-left:10px;
	}
.or_com1{
	font-size:18px;
	background:url(../images/cha.gif) left bottom no-repeat;
	padding-left:85px;
	padding-bottom:0px;
	padding-top:40px;
	height:45px;
	}
.or_com1 a{
	color:#981a14;
	}

.left_bg{
	height:28px;
	line-height:28px;
	font-size:13px;
	color:#2d2d2d;
	background-color:#ececec;
	}
	
.checout1{
	line-height:28px;
	font-size:13px;
	border-right: 1px rgb(204, 204, 204);
	border-left: 1px rgb(204, 204, 204);
	}
.checout1 li{
	padding-left:46px;
	border-left:#cccccc 1px solid;
	border-right:#cccccc 1px solid;
	}
.checout1 li a{
	color:#696969;
	}
.checout1 li a:hover{
	color:#030303;
	text-decoration:underline;
	}
	
.checout{
	line-height:28px;
	font-size:13px;
	border-right: 1px solid rgb(204, 204, 204);
	border-left: 1px solid rgb(204, 204, 204);
	}
.checout li{
	padding-left:46px;
	border-left:#cccccc 1px solid;
	border-right:#cccccc 1px solid;
	}
.checout li a{
	color:#696969;
	}
.checout li a:hover{
	color:#030303;
	text-decoration:underline;
	}
.no_pro_small{
	width:670px;
	margin:0 auto;	
	}
.no_pro_small h4{
	font-size:20px;
	color:#999999;
	padding-bottom:6px;
	padding-left:18px;
	padding-right:18px;
	}
.vps_ms{
	width:790px;
	border:#cccccc 1px solid;
	margin:0 auto;
	color:#4d4d4d;
	}
.vps_ms li{
	margin-left:10px;
	margin-right:10px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	color:#4d4d4d;
	font-size:13px;
	border-bottom:#cccccc 1px solid;
	}
.vps_ms p{
	font-size:13px;
	color:#4d4d4d;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	line-height:21px;
	}
.vps_ms pre{
	font-size:13px;
	color:#4d4d4d;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	line-height:21px;
	}
.vps_ms p span{
	color:#a8a5a5;
	}
/*5-30*/
.account_right530{
	width:970px;
	}
.account_right530 h4{
	font-size:20px;
	border-top:#e40210 3px solid;
	color:#999999;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:18px;
	padding-right:7px;
	}
.account_right530 h6{
	font-size:18px;
	border-top:#e40210 3px solid;
	color:#093;
	padding-top:26px;
	padding-bottom:20px;
	padding-left:18px;
	padding-right:7px;
	text-align:center;
	}
.account_right530 h1{
	font-size:20px;;
	color:#999999;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:18px;
	padding-right:7px;
	}
.account_right530 h4 span{
	float:right;
	}

.my_products_g530{
	width:968px;
	border:#cccccc 1px solid;
	}
.my_products_g530 dt{
	margin-top:12px;
	margin-bottom:12px;
	}
.my_products_g530 dd{
	border-bottom:#cccccc 1px solid;
	height:1px;
	}
.cart2530{
	width:711px;
	float:right;
	margin-right:10px;
	}
.cart2530 h3 .cart_name{
	color:#000000;
	font-size:16px;
	}
.cart2530 h5{
	line-height:28px;
	border-top:#cccccc 1px solid;
	font-size:14px;
	}
.cart2530 h5 a{
	color:#000000;
	font-size:14px;
	line-height:24px;
	}
.cart2530 h3 span{
	color:#4d4d4d;
	font-size:12px;
	font-weight:normal;
	margin-left:68px;
	}
.cart2530 p{
	margin-bottom:8px;
	margin-top:5px;
	}
.coning{
	width:963px;
	margin:0 auto;
	padding-left:7px;
	padding-top:10px;
	}
.coning span{
	float:right;
	}
.my_products_re{
	width:792px;
	}
.my_pr_in530{
	width:15px;
	height:70px;
	float:left;
	text-align:center;
	padding-top:57px;
	}
.carttt2530{
	width:561px;
	float:right;
	margin-right:10px;
	}
.carttt2530 h3 .cart_name{
	color:#000000;
	font-size:16px;
	}
.carttt2530 h3 a{
	margin:0;
	}
.carttt2530 h5{
	line-height:28px;
	border-top:#cccccc 1px solid;
	font-size:14px;
	}
.carttt2530 h5 a{
	color:#000000;
	font-size:14px;
	line-height:24px;
	}
.carttt2530 h3 span{
	color:#4d4d4d;
	font-size:12px;
	font-weight:normal;
	margin-left:68px;
	}
.carttt2530 p{
	margin-bottom:8px;
	margin-top:5px;
	}
.my_products_re dd{
	border-bottom:#cccccc 1px solid;
	height:1px;
	margin-top:20px;
	}
.money_a530{
	font-size:18px;
	font-weight:bold;
	color:#2d2d2d;
	margin-right:20px;
	margin-left:24px;
	display:block;
	float:left;
	}

.container4 li, .container4_2 li{ list-style:none;}
.container4 ul, .container4_2{margin:0;}

.container4 {width:300px; margin:0 auto;font:12px Verdana;background:#fff; line-height:15px;height:15px; _overflow:hidden;}
.container4 li {float:right;padding:0 10px; }
.container4 div {float:left;color:#000;padding-right:10px;}

li.menu4 {position:relative; z-index:9999; border-bottom:0; color:#ff6026; background:#fff;}

.container4_2 {width:293px;padding-left:0px; padding-top:30px; padding-bottom:10px; padding-right:0px;background:#fff;line-height:25px;font-size:12px;display:none; margin-top:10px;}

.container4_2 a{ display:block;_zoom:1;}
.container4_2 a:link, .container4_2 a:visited, .container4_2 a:active {color:#565553;text-decoration: none;}
.container4_2 a:hover {color:#e60011;text-decoration: underline;}

.container4 a:link, .container4 a:visited, .container4 a:hover, .container4 a:active {color:#e60011;text-decoration: none;}
.menu4 a:link, .menu4 a:visited, .menu4 a:active {color:#E60011;}
.menu4 a:hover{color:#e60011;text-decoration:underline;}
.moey_st{ float:right; font-weight:bold; color:#e60011;}
.beishu{ float:right; margin-left:10px;}
.sop_st{border-top:#ccc 1px solid; padding-top:6px; color:#000000; font-size:12px; padding-bottom:6px; padding-left:20px; padding-right:20px;}
#idMenu4_1 a{ text-decoration:none; line-height:24px;}
.epb h3{
	font-size:16px;
	color:#000000;
	margin-top:5px;
	}
.epb p{
	font-size:12px;
	color:#666666;
	margin-top:5px;
	}
.epb p span{
	font-size:14px;
	margin-right:10px;
	}
.ql_left{
	float:left;
	font-size:34px;
	font-weight:bold;
	color:#0d990d;
	padding-left:94px;
	padding-top:15px;
	}
.ql_left1{
	float:left;
	font-size:34px;
	font-weight:bold;
	color:#e47911;
	padding-left:94px;
	padding-top:15px;
	}
.ql_right{
	float:right;
	width:348px;
	}
.it_car{
	padding-top:24px;
	padding-bottom:24px;
	background-color:#f3f3f4;
	}
.or1{
	font-size:16px;
	color:#000000;
	}
.or2{
	color:#666666;
	font-size:16px;
	margin-bottom:10px;
	}
.order_lac{
	background-color:#ececec;
	border:#cccccc 1px solid;
	padding:13px;
	margin-bottom:15px;
	}
.order_lac span{
	float:right;
	}
.da_left{
	width:182px;
	float:left;
	
	padding-left:12px;
	padding-top:10px;
	}
.da_right{
	float:right;
	width:578px;
	margin-right:8px;
	border-left:#dcdcdc 1px dashed;
	}
.ll69{
	
	height:109px;
	padding-top:25px;
	}
.mx_left{
	float:left;
	margin-left:18px;
	}
.mx_right{
	float:right;
	width:462px;
	}
.autobr
{
	word-break:break-all;overflow: auto;
}
.autobrtable
{
	TABLE-LAYOUT: fixed;
	OVERFLOW: hidden;
	TEXT-OVERFLOW: ellipsis; 
	WORD-WRAP: break-word;
	border-right:#cccccc 1px solid;
}

.au_id{
	width:200px;
	position:absolute;
	margin-left:200px;
	margin-top:-70px;
	}
.au_id_2{
	width:200px;
	position:absolute;
	margin-left:280px;
	margin-top:-70px;
	}	
.au_pwd{
	width:200px;
	position:absolute;
	margin-left:200px;
	margin-top:-70px;
	}
	
.id_top{
	background:url(../images/myappleid_popover_topcap.png) top right no-repeat;
	width:252px;
	height:13px;
	margin-left:14px;
	}
.id_down{
	background:url(../images/myappleid_popover_bottomcap.png) top right no-repeat;
	width:252px;
	height:13px;
	margin-left:14px;
	}
.id_midd{
	width:240px;
	background:url(../images/myappleid_popover.png) center left no-repeat;
	padding-top:6px;
	padding-bottom:10px;
	padding-left:40px;
	color:#414141;
	line-height:24px;
	}
.id_midd dt{
	font-weight:bold;
	}
.id_midd dd img{
	margin-right:5px;
}
.IE6png{
	behavior:url("iepngfix.htc");
}

.formClass{
	padding-left:50px;
}
