<div class="account_right">
    	<h4><span></span>${catname}</h4>
        <div class="new_center">
        	<h3>${data.title}</h3>
        	<div style="font-size:14.5px; text-align:center;color:#4d4d4d; margin-bottom:10px;">
				${data.page_keywords!''}
				<span style="margin-left:48px;"> <@dateformat time="${data.add_time*1000}" pattern="yyyy-MM-dd"/></span></div>
          		${data.content}
        </div>
</div>
<script type="text/javascript">
	$(function(){
		var n = "${bundle('cms.menu.news')}";
		var url = $("#toplinkurl").val();
		var link = "<a onclick=\"javascript:jump('"+url+"');\" >"+n+"</a>";
		var navbar = "${navbar!''}";
		var nav = link+navbar;
		$("#my_pro_title").append(nav);
	});
</script>
		
		
		