<div class="account_right">
	<h4>${catname}</h4>
    <div class="custom_service">
    	<h3>${data.title}</h3>
    	<dl style="padding-left:15px">
      		${data.content}
		</dl>
    </div>
</div>
<script type="text/javascript">
	$(function(){
		var s = "${bundle('cms.menu.service')}";
		var url = $("#toplinkurl").val();
		var link = "<a onclick=\"javascript:jump('"+url+"');\" >"+s+"</a>";
		var navbar = "${navbar!''}";
		var nav = link+navbar;
		$("#my_pro_title").append(nav);
	});
</script>
		
		