<#-- <#if servlet_path?index_of(catId) gt 0 >class="my_on"</#if>  -->
<div class="account_left">
	<dl>
    	<dt>
    		<div>${bundle('cms.menu.service')}</div>
    	</dt>
    	<#if dataList??>
    		<#list dataList as list>
    			<#if list_index==0>
    				<dd class="left_bg"><a href="service-${list.cat_id}-1.html?m=4">${bundle('cms.service.help')}</a></dd>
    			</#if>
    		</#list>
    	<#else>
    		<dd class="left_bg"><a href="#">${bundle('cms.service.help')}</a></dd>
    	</#if>
    </dl>
    <div class="checout1">
    	<ul>
    		<#list dataList as list>
				<#if list_index == 0 >
					<script>
						$("#toplinkurl").val("service-${list.cat_id}-1.html?m=4");
					</script>
				</#if>
				<#assign catId=("-"+(list.cat_id)+"-") />
				<li>
					<a href="service-${list.cat_id}-1.html?m=4">${list.name}</a>
				</li>
			</#list>
        </ul>
    </div>
    <dl>
        <dd><a href="measurecar-1-1.html?m=4">${bundle('cms.menu.supported')}</a></dd>
        <!--  <dd><a href="#">${bundle('cms.menu.online.server')}</a></dd> -->
    </dl>
</div>
