



#myjQuery {
	 OVERFLOW: hidden; WIDTH: 970px;POSITION: relative; HEIGHT: 435px
}
#myjQueryContent {
	 OVERFLOW: hidden; WIDTH: 968px;  HEIGHT: 352px; position:absolute; border:#b3b2b2 1px solid;
}
#myjQueryContent DIV {
	POSITION: absolute; HEIGHT: 355px;
}
#myjQueryContent .smask {
	Z-INDEX: -1
}
#myjQueryContent IMG {
	WIDTH: 968px; HEIGHT: 352px;
}
#myjQueryNav {
	 DISPLAY: block; OVERFLOW: hidden; WIDTH: 970px; HEIGHT:101px; position:relative;  z-index:200; top:343px;
}
#myjQueryNav LI {
	DISPLAY: block; FLOAT: left; WIDTH: 163px; CURSOR: pointer; PADDING-TOP: 28px; HEIGHT: 67px; TEXT-ALIGN: center; BACKGROUND: url(../img/images/sanj1.gif) bottom left no-repeat; padding-left:15px; padding-right:15px;
}
#myjQueryNav .nbg {
	
}
#myjQueryNav A {
	DISPLAY: block; Z-INDEX: 9999; font-size:15px; font-weight:bold; text-align:left; MARGIN: 1px auto; TEXT-TRANSFORM: uppercase; WIDTH: 163px; COLOR: #000000; LINE-HEIGHT: 16px; POSITION: relative; HEIGHT: 85px;text-align:center;
}
#myjQueryNav .current {
	 BACKGROUND: url(../img/images/sanj1.gif) bottom left no-repeat;
}
#myjQueryNav .current A {
	COLOR: #000000; 
}
#myjQuery #flow {
	MARGIN-TOP: 236px; Z-INDEX: 1; BACKGROUND: url(../img/images/sanj.png) top left no-repeat; POSITION: absolute; HEIGHT: 67px; width:163px; padding-top:30px; padding-left:10px; padding-right:10px;
}
