/* CSS Document */
body, button, input, select, textarea { font:12px/1.5 arial ;}
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:bold; }
ul, ol { list-style:none; }
select, input, img { vertical-align:middle; }
/* a:link, a:visited { text-decoration:none; color:#4d4d4d; } */
a:hover{ color:#F15A2A; text-decoration:none;}
fieldset, img { border:0 ;   }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility:hidden; }
.clearfix { display: inline-block; } /* Hides from IE-mac\*/
* html .clearfix { height: 1%; }
.clearfix { display: block; } /* End hide from IE-mac*/
#footercon{ width:100%; border-top:#E9E4E4 5px solid; padding-top:10px; margin-top:10px;}

#content, #footer{ clear:both;}
.layout:after{content:'\20';display:block;height:0;clear:both;}
.layout{*zoom:1;} 

/*top*/
.top{ width:970px; height:71px; margin:0 auto;}
.top_left{ float:left; height:50px; padding-top:22px;}
.top_right{ float:right; padding-top:46px; color:#ffffff;}
.top_font_color{color:#ffffff;}
.change{ width:340px;}
.lang{ width:151px; height:20px; border:#7f9db9 1px solid; text-align:right;}
/*top*/
/*menu*/
.menu{ width:970px; margin:0 auto; height:28px; background:url('../../images/menubg.gif') top left repeat-x;}
.menu_mid{ background:url(../../images/menumid.gif) top left no-repeat; width:2px; height:28px;}
.on{ background:url(../img/images/menu_onbg.gif) top left repeat-x; height:28px; width:75px; color:#e40218;}
.on a{ color:#e40218;}
.home{ padding-left:20px; padding-right:20px; text-align:center;}

.menu ul li{ float:left; font-size:13px; color:#ffffff; font-weight:bold; line-height:28px; display:inline;}
.menu_left{ float:left;} 
.menu_right{ float:right;}
.search_but{ background:url(../img/images/search.png) top left no-repeat; border:0; width:53px; height:20px; margin-top:5px;}
.search{ width:154px; height:20px; background:url(../img/images/searchbg.gif) top left no-repeat; border:medium; margin-top:5px; line-height:20px; color:#cccccc; font-size:13px;}
.ad{ width:970px; margin:0 auto; height:105px; padding-top:11px; padding-bottom:23px;}
/*menu*/
/*middle*/
.leg{ width:970px; margin:0 auto; padding-bottom:10px;}
.leg_forums{ width:970px; margin:0 auto; padding-bottom:46px;}
.leg_let{ float:left; width:712px;}
.leg_right{ float:right; width:320px; height:375px; padding-left:10px; padding-right:0px; padding-top:0px; border:#cecece 0px solid;}
.spname{border-bottom:#cecece 1px solid; padding-left:5px; margin-bottom:10px; margin-top:5px; padding-bottom:5px; color:#898989;}
.spname1{ padding-left:5px; margin-bottom:10px; margin-top:5px; padding-bottom:5px; color:#898989;}
/*left*/
.banner{ width:970px; height:437px; margin:0 auto;padding-top: 95px;}
.products{padding-top: 110px;}
.about_all{padding-top: 10px;}
.regi{/* padding-top: 40px; */}
/*banner*/
.hdp { width:970px; height:437px;}
.clear{clear:both;  font-size:0; overflow:hidden; height:0;}
.blank10{clear:both;  font-size:0; overflow:hidden; height:10px;}
.blank{clear:both;  font-size:0; overflow:hidden; height:10px; background:#FFF;}
/*********content css***********/
#content{width:970px;margin:0 auto;}

#footer{padding-bottom:0;margin:0px auto 0;}
/*********main css***********/
.mb15 {margin-bottom: 0px;}
#main{width:970px; overflow:hidden;}
/********* css***********/
.sub_box{width:970px; height:437px; float:left; position:relative; overflow:hidden;  background:url() center center no-repeat; *background:url() 220px 120px no-repeat;}
.sub_box img{border:none; width:970px; height:353px;}
#bd1lfimg{ position:absolute; width:968px; height:353px; overflow:hidden; border:#b3b2b2 1px solid;}
#bd1lfimg div{width:100000px; margin-left:-4px;}
#bd1lfimg dl{width:970px; height:355px; position:relative; overflow:hidden; float:left;}
#bd1lfimg dt{width:970px; height:355px; position:absolute; left:0px; top:0px;}
#bd1lfimg dd{width:970px; height:355px; background:#000000; filter:alpha(Opacity=70); Opacity:0.7; position:absolute; left:0px; bottom:0px; padding:0 20px;}
.sub_nav{ width:972px; height:101px; bottom:0px; position:relative;  z-index:200; top:338px;}
.sub_no{ height:101px; float:left;}
.sub_no li{ font-weight:bold; padding-left:15px; padding-right:15px; padding-top:28px; background:url(../img/images/sanj1.gif) bottom left no-repeat; font-size:15px; font-weight:bold; display:block; width:211.8px; height:73px; float:left; overflow:hidden; vertical-align:middle; text-align:left; color:#000000; cursor:pointer;}
.sub_no li.show{ padding-left:15px; padding-right:15px; padding-top:28px; background:url(../img/images/sanj.png) top left no-repeat; font-size:15px; font-weight:bold; color:#000000; display:block; width:211.8px; height:73px;}
.sub_more{float:right; width:50px; height:25px; background:#000000; color:#999999; text-align:center; line-height:25px;}
.sub_more a{color:#999999;}
.sub_more a:hover{color:#cccccc; text-decoration:none;}

.sub_no5{ height:101px; float:right;}
.sub_no5 li{ font-weight:bold; padding-top:28px; background:url(../img/images/sanj1.gif) bottom left no-repeat; font-size:15px; font-weight:bold; display:block; width:193px; margin-right:1px; height:73px; float:left; overflow:hidden; vertical-align:middle; text-align:center; color:#000000; cursor:pointer;}
.sub_no5 li.show{ padding-top:28px; background:url(../img/images/sanj.png) top center no-repeat; font-size:15px; font-weight:bold; color:#242424; display:block; width:193px; height:73px;}
/*banner*/

.thr{ height:275px; width:712px;}
.new{ width:192px; border-right:#cccccc 1px solid; float:left; height:275px; padding-right:12px;}
.new h4{ border-top:#e40210 3px solid; font-size:18px; color:#999999; border-bottom:#cccccc 1px solid; line-height:34px;}
.new h5{ font-size:13px; color:#ff0000;}
.new_pic{ margin-top:10px;}
.new_word{ color:#575757; margin-bottom:10px; padding-top:10px; height:78px; border-bottom:#c8c8c8 1px solid; font-size:13px;}
.new_word1{ color:#575757; margin-bottom:12px; padding-top:10px; height:68px; /* border-bottom:#c8c8c8 1px solid; */ font-size:13px;}
.new_word2{ color:#575757; height:103px; font-size:13px;}
.more{ text-align:right; padding-right:3px; padding-top:25px;}
.more1{ text-align:right; padding-right:3px; padding-top:10px;}
.new_word4{ font-size:13px; font-weight:bold; color:#fd1610;}
.new_word5{ font-size:11.5px; font-weight:bold; color:#8f1d22;}

.supports{ width:192px; border-right:#cccccc 1px solid; float:left; height:275px; padding-left:12px; padding-right:12px;}
.supports h4{ border-top:#e40210 3px solid; font-size:18px; color:#999999; border-bottom:#cccccc 1px solid; line-height:34px;}

.community{width: 192px;
border-right: 1px solid #CCC;
float: left;
height: 275px;
padding-right: 10px;
padding-left: 10px}
.community h4{ border-top:#e40210 3px solid; font-size:18px; color:#999999; border-bottom:#cccccc 1px solid; line-height:34px; margin-bottom:10px;}
.comm{ height:130px; margin-top:10px;}
.comm_left{ float:left; width:104px;}
.comm_right{ float:right; width:105px; height:128px;}
.comm_right img{ width:105px; height:128px;}
.community ul li{ height:23px; line-height:23px; padding-top:4px; border-bottom:#e5e5e5 1px solid; color:#5c5b5b; background:url(../img/images/cion1.gif) center left no-repeat; padding-left:10px; }


/*left*/
/*right*/


/*right*/
/*middle*/
#slide-box {
	MARGIN: 0 auto; WIDTH: 232px; POSITION: relative; HEIGHT: 194px
}
#slide-box .corner {
	CLEAR: both; DISPLAY: block; MARGIN: 0px 1px; OVERFLOW: hidden; HEIGHT: 0px
}

#slide-box .ks-switchable-triggers A {
	DISPLAY: block; Z-INDEX: 99; WIDTH: 29px; COLOR: #b4b4b4; POSITION: absolute; TOP: 89px; HEIGHT: 47px; TEXT-DECORATION: none
}
#slide-box .ks-switchable-triggers .sp_left {
	DISPLAY: block; color:#000; background:url(../img/images/left.png) top left no-repeat; FONT: 500 53px/37px arial; WIDTH: 29px; CURSOR: pointer; HEIGHT: 47px; TEXT-ALIGN: center
}
#slide-box .ks-switchable-triggers .sp_right {
	DISPLAY: block; color:#000; background:url(../img/images/right.png) top left no-repeat; FONT: 500 53px/37px arial; WIDTH: 29px; CURSOR: pointer; HEIGHT: 47px; TEXT-ALIGN: center
}

#slide-box .ks-switchable-triggers .prev {
	LEFT: 0px
}
#slide-box .ks-switchable-triggers .next {
	RIGHT: 0px
}
#slide-box .ks-switchable-triggers A:hover {
	COLOR: #f43d1e
}
#slide-box .ks-switchable-triggers A:hover SPAN {
	COLOR: #f43d1e
}

#slide-box .wrap {
	OVERFLOW: hidden; WIDTH: 232px; HEIGHT: 194px
}
#slide-box UL {
	WIDTH: 10000px
}
#slide-box LI {
	FLOAT: left; WIDTH: 232px; HEIGHT: 194px
}
#slide-box LI IMG {
	WIDTH: 232px; HEIGHT: 194px
}

.foot{ color:#808081; width:970px; margin:0 auto; font-size:11px;  border-top:#e40210 3px solid; padding-top:12px;}
.links{ text-align:center; padding-top:13px; padding-bottom:10px;}
.links img{ margin-right:10px; margin-left:10px;}
.copy{ text-align:center; padding-bottom:20px;}
.foot span{ float:right;}
.down_menu{ color:#999999; width:970px; height:32px; border-bottom:#CA0002 11px solid; border-top:#cccccc 1px solid; margin:0 auto;}
.down_menu li{ float:left;}
.down_menu_lm{ /* width:160px;*/ text-align:center;  padding-top:8px;}
.down_menu_tb{ padding-top:7px;color: #999999}
/*products*/
.products{ width:970px; margin:0 auto;}
.products_right_dow{ padding-left:8px; padding-right:50px; width:912px;}
.products_right{ width:912px;}
.pro_title{ font-size:14px; color:#e60011; padding-left:8px; margin-bottom:35px;}
.pro_shp{ width:324px;}
.pro_shp_img{ width:324px; height:222px;border:#b3b2b2 1px solid;}
.pro_shp_flash{ width:324px; height:222px;border:#FFFFFF 1px solid;}
.pro_email{ float:right; color:#9a9a9a; font-size:12px;}
.pro_email a{ color:#9a9a9a; font-size:12px;}
.pro360{ text-align:center; color:#e60011; margin-top:1px;}
.pro_js{ font-size:13px; margin-top:3px; }
.pro_detail_solid{margin-top:30px;border-bottom:#b5b5b5 1px solid;}
.products_p1{ color:#e60011; font-weight:bold; font-size:18px;}
.products_right_downle{float:left;width:324px;}
.products_right_downri{width:552px;float:right;}
.acc1{ width:196px; height:30px; padding-left:40px; line-height:30px; background:#e3e3e3 url(../img/images/acc1.gif) top left no-repeat; float:left; margin-right:2px;}
.acc2{ width:196px; height:30px; padding-left:40px; line-height:30px; background:#ffffff url(../img/images/acc3.gif) top left no-repeat; float:left; margin-right:2px;}
.acc3{ width:196px; height:30px; padding-left:40px; line-height:30px; background:#e3e3e3 url(../img/images/acc2.gif) top left no-repeat; float:left; margin-right:2px;}
.acc4{ width:196px; height:30px; padding-left:40px; line-height:30px; background:#ffffff url(../img/images/acc4.gif) top left no-repeat; float:left; margin-right:2px;}
.pic_pro{ margin-top:30px; width:746px; height:196px; border:#c3c1c1 1px solid; margin-left:8px;}
.pic_pro h3{ font-size:13px; height:35px; border-bottom:#c3c1c1 1px solid; line-height:35px; padding-left:15px; padding-right:15px;}
.pic_pro h3 span{ float:right; color:#9a0201; text-decoration:underline;}

/*xuanxiangka*/
.main{
height:500px;
clear:both;
padding:16px 16px;
border: 1px solid #cbcbcb;
}

#tabs0 {
width: 748px;
margin-top:20px;
margin-left:8px;
}
.menu0{
width: 509px;
}
.menu0 li{
font-weight:bold;
display:block;
float: left;
line-height:26px;
width:100px;
height:26px;
background:url(../img/images/pro_22.gif) top left no-repeat;
text-align: center;
cursor:pointer;
}
.menu0 li.hover{
font-weight:bold;
color:#ffffff;
background:url(../img/images/pro_21.gif) top left no-repeat;
}
#main0 ul{
display: none;
}
#main0 ul.block{
display: block;
}
.pro_size{ width:97px;border-left:#e4e4e4 1px solid;border-RIGHT:#e4e4e4 1px solid; text-align:center; font-size:12px;}
.pro_name{ width:500px; padding-left:6px;}
.downl_bg{ background-color:#e4e4e4;}
.pro_down{ text-align:right; padding-right:3px;}
.downl_h1{height:24px; line-height:24px;}
.downl_h2{height:30px; line-height:30px;}
.feature_tex{ background:url(../img/images/faetur_bg.gif) center left no-repeat; padding-left:18px; line-height:20px;}
.spec_name{ width:148px; padding-left:6px; line-height:30px;}
.spec_down{padding-left:6px;}

/*gundong*/
#featureContainer {
	WIDTH: 728px; FONT-SIZE: 80%; margin-left:10px; margin-top:10px;
}
#wrap {
	OVERFLOW: hidden; width:738px;
}
#load {
	BACKGROUND-IMAGE: url(../img/images/loader32x32.gif); BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; TEXT-INDENT: -9999px; MARGIN: 0px auto; WIDTH: 923px; DISPLAY: none; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; HEIGHT: 100px; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted;
}
#feature {
	BORDER-BOTTOM: #999 0px dotted; POSITION: relative; BORDER-LEFT: #999 0px dotted; MARGIN-TOP: 5px; MARGIN-BOTTOM: 20px; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted;
}
#feature .button {
	BORDER-BOTTOM: #999 0px dotted; POSITION: absolute; BORDER-LEFT: #999 0px dotted; WIDTH: 840px; BORDER-TOP: #999 0px dotted; TOP: 72px; BORDER-RIGHT: #999 0px dotted; LEFT: 0px; 
}
#feature .prev {
 TEXT-INDENT: -9999px; WIDTH: 30px; DISPLAY: block; BACKGROUND: url(../img/images/feature_left.gif) center top; FLOAT: left; HEIGHT: 48px; TOP: -100px; position:relative; 
}
#feature .next {
	 TEXT-INDENT: -9999px; WIDTH: 30px; DISPLAY: block; BACKGROUND: url(../img/images/feature_right.gif) center top; FLOAT: right; HEIGHT: 48px;  TOP: -100px; position:relative; 
}
#feature .prev:hover {
	BACKGROUND-POSITION: center bottom
}
#feature .next:hover {
	BACKGROUND-POSITION: center bottom
}
.featureUL {
	 POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 2800px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px; LEFT: 0px;
}
.featureBox {
	  WIDTH: 156px; background:url(../img/images/boxbg.gif) top left no-repeat; FLOAT: left; HEIGHT: 143px; OVERFLOW: hidden; margin-left:8px; text-align:center; font-size:12px; color:#a72120; font-weight:bold; display:inline;
}
/*.featureBox a, a:link{color:#a72120;}*/
#botton-scroll {
	Z-INDEX: 0; BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; margin-left:35px; WIDTH: 636px; FLOAT: left; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted; display:inline;
}
#block {
	Z-INDEX: 0; POSITION: relative; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH:734px; PADDING-RIGHT: 0px;FONT-SIZE: 70%; OVERFLOW: hidden; PADDING-TOP: 0px;
}
#block .box {
	 WIDTH: 156px; FLOAT: left; HEIGHT: 143px;
}
#block .box .feature-title {
	FONT-SIZE: 140%; FONT-WEIGHT: normal
}
#block .box .feature-thumb {
	WIDTH: 240px; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 150px
}

/*about
.products_right H6{ font-size:16px; color:#a72223;}
.products_p2{ font-weight:bold; font-size:14px;}
.about_ma{ color:#666666; background:url(../img/images/ab_03.gif) top right no-repeat; width:736px; height:160px; margin-top:5px;}
.about_ad{ color:#666666; background:url(../img/images/ab_06.gif) top left no-repeat; width:366px; padding-left:36px;}
.about_phone{ color:#666666; background:url(../img/images/ab_09.gif) top left no-repeat; width:366px; padding-left:36px; margin-top:10px;}
.about_ma span{ color:#666666; font-size:14px; font-weight:bold;}
.about_fax{ color:#666666; background:url(../img/images/ab_11.gif) top left no-repeat; width:366px; padding-left:36px; margin-top:10px;}
.about_emall{ color:#666666; background:url(../img/images/ab_13.gif) top left no-repeat; width:366px; padding-left:36px; margin-top:10px;}
.about_table{ width:700px; border-top:#221816 2px solid;}
.table_top{ padding-right:30px; padding-top:16px; padding-bottom:16px; color:#666666;}
table{ border-top:1px #999999 solid; border-right:1px #999999 solid; border-bottom:#999999 1px solid;}
table td{ border-top:1px #999999 solid; border-left:1px #999999 solid;}
.tab_bd{ width:152px; height:20px; margin-left:5px; margin-right:10px;}
.tab_wb{ width:340px; height:80px; margin:5px;}
.table_butt{ width:58px; height:24px; margin-right:10px;}
.about_add{ background:url(../img/images/addbg.gif) top left repeat-x; line-height:40px; width:970px; margin:0 auto;}
.about_menu ul li{ height:28px; border-bottom:#c3c3c3 1px solid; line-height:28px; padding-left:24px; color:#666666;}
.about_on{ background:url(../img/images/abm.gif) top left no-repeat;}
.about_menu ul li:hover{  background:url(../img/images/abm.gif) top left no-repeat;}
*/



/*support*/
.sign_in{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:24px; color:#333333; padding-bottom:15px; padding-top:10px;}
.autel{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:30px; color:#444444; padding-bottom:15px; }
.sign_in span{ float:right; font-size:12px; color:#666666; padding-top:15px;}
.supp{ width:970px; margin:0 auto; height:281px;}
.supp_left{ width:8px; height:281px; float:left; background:url(../img/images/suppor_03.gif) top left no-repeat;}
.supp_midd{  width:954px; height:279px; float:left; border-bottom:#dad7d7 1px solid; border-top:#dad7d7 1px solid;}
.supp_right{ width:8px; height:281px; float:right; background:url(../img/images/suppor_05.gif) top left no-repeat;}
.sign_left{ padding-top:26px; width:374px; float:left; height:253px;}
.sign_right{ display:inline; width:340px; float:right; margin-right:148px; padding-top:26px;}
.sign_right p{ line-height:26px;  color:#666666;}
.login{ border:0; background:url(../img/images/suppor_08.gif) top left no-repeat; width:71px; height:25px;}
.password{ width:260px; height:22px; border:#c0c0c0 1px solid;}
.password1{ width:167px; height:22px; border:#c0c0c0 1px solid;}
.supp_name{ width:96px; text-align:right; padding-right:16px; font-size:14px; color:#333333; height:38px;}
.forgot{ color:#3385ad; font-size:12px; height:36px;}
.forgot a{ color:#3385ad; text-decoration:underline;}
.welcome{ font-size:24px; color:#333333;}
.regsiter{ background:url(../img/images/suppor_12.gif) top left no-repeat; width:98px; height:33px; border:0;}
.foot_supp{ text-align:center; font-size:14px; color:#666666;}
/**/
.forums{ width:967px; margin:0 auto;}
.tools{ padding:28px; width:909px; border-top:#d9d9d9 1px solid; border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid;}
.hongs{ color:#ca0002;}
.tools_left{ float:left; width:636px;}
.tools_right{ float:right; width:195px;}
.tools_right ul li{ line-height:24px; color:#76797c;}
.toux{ margin-left:14px; width:78px; height:78px; float:left;}
.wel_word{ float:right; width:516px;}
.wel_word dl dt{ font-size:30px; color:#000000; line-height:30px;}
.wel_word dl dd{ font-size:16px; color:#333333;}
.quse{ width:617px; height:99px; border:#e8e8e8 1px solid; margin-top:22px; padding-left:17px; padding-top:17px;}
.your_ques{ width:451px; height:29px; border:#c5c5c5 1px solid; color:#ca0002; font-size:14px; line-height:29px; padding-left:11px;}
.submit{ width:294px; height:20px; background-color:#878787; padding-left:11px; margin-top:9px;}
.tolls{ font-size:18px;}
.autel_table{ margin-top:20px;}
/**/
.au_table{ width:908px; height:32px; background:url(../img/images/autel19.gif) top left repeat-x; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid;}
.autel_pa{ padding-left:36px; width:393px; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid; font-size:14px;}
.topics{ width:101px; text-align:center; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid; font-size:14px;} 
.posts{ width:131px; text-align:center; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid; font-size:14px;}
.last{ padding-left:53px; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid;}
.foot_autel{ font-size:12px; width:970px; margin:0 auto; color:#76797c; margin-bottom:95px;}
/**/
.regi{ width:970px; margin:0 auto;}
.regi_top{ background:url(../img/images/regit.gif) top left no-repeat; height:8px; width:942px; overflow:hidden;}
.regi_dowm{ background:url(../img/images/regid.gif) top left no-repeat; height:8px; width:942px;}
.regi_midd{ padding-bottom:30px; padding-top:42px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.regi_name{ width:170px; text-align:right; padding-right:6px; font-size:14px; color:#333333; height:38px;}
.techid{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:30px; color:#333333; padding-bottom:15px; padding-top:10px;}
.techid span{ float:right; font-size:12px; color:#666666; padding-top:15px;}
.male{ margin-left:20px; vertical-align:middle; line-height:38px; margin-right:2px;}
.dl_yzm{ margin-left:20px;}
.fuxuan{ height:58px; text-decoration:underline; font-size:14px; color:#666666;}
.create{ color:#666666; font-size:14px; width:970px; margin:0 auto;}
.create span{ font-size:20px; padding-left:18px;}
/**/
.discuss{ color:#929292; font-size:14px; margin-top:4px;}
.discuss span{ color:#333333;}
.peoblem_left{ width:674px; float:left;}
.peoblem_right{ width:215px; float:right;}
.pro_up{ font-size:18px; color:#444444; text-decoration:underline;}
.pro_date{ font-size:14px; color:#01398d; margin-top:16px;}
.pro_page{ color:#737373;}
.pro_page .heise{ color:#000000;}
.fenye{ float:right;}
.page_1{ border:#e8e6e7 1px solid; width:16px; height:16px; background-color:#f9f9f9; float:left; text-align:center; margin-right:2px;}
.page2{ float:left; text-align:center;width:16px; height:16px; border:#ffffff 1px solid; margin-right:4px;}
.previous{ float:left; line-height:19px; padding-left:3px; float:left; width:59px; height:19px; border-left:#e8e6e7 1px solid; background-color:#f9f9f9; border-bottom:#e8e6e7 1px solid; border-top:#e8e6e7 1px solid;}
.page_next{ color:#333333; width:39px; border:#e8e6e7 1px solid; height:19px; float:left; background-color:#f9f9f9; line-height:19px; padding-left:6px;}
.level{ float:left; width:55px; color:#929292;}
.level img{ border:#dbd9dc 1px solid; }
.level_right{ width:609px; float:right;}
.spirzzon{ padding-top:24px; padding-right:20px; padding-left:53px; color:#0a3d88; width:536px; background:url(../img/images/tech21.gif) top right no-repeat; height:18px;}
.lev_word span{ color:#929292;}
.lev_word{ padding-bottom:24px; color:#545454; padding-right:20px; padding-left:53px; width:536px; background:url(../img/images/tech30.gif) top right repeat-y;}
.lev_down{ text-align:right; padding-right:20px; padding-left:53px; color:#777777; width:536px; background:url(../img/images/tech_46.gif) top right no-repeat; height:33px;}
.lev_down span{ margin-left:70px; color:#545454; font-weight:bold;}
.spirzzon_black{ padding-top:24px; padding-right:20px; padding-left:53px; color:#0a3d88; width:536px; background:url(../img/images/tech47.gif) top right no-repeat; height:18px;}
.huise{ color:#929292;}
.lev_word_black{ padding-bottom:24px; color:#545454; padding-right:20px; padding-left:53px; width:536px; background:url(../img/images/tech61.gif) top right repeat-y;}
.lev_down_black{ text-align:right; padding-right:20px; padding-left:53px; color:#777777; width:536px; background:url(../img/images/tech62.gif) top right no-repeat; height:33px;}
.lev_down_black span{ margin-left:34px; color:#545454; font-weight:bold;}
.lvse{ color:#67cb2a;}
.peoblem_left ul li{ margin-top:50px;}
.reply{ margin-bottom:30px; text-align:right; margin-top:10px;}
.reply span{ margin-left:34px; color:#545454;}
.rel_links{ width:197px; border:#e8e6e7 1px solid; background-color:#f9f9f9; color:#444444; padding-left:16px; padding-top:12px; padding-bottom:12px; line-height:26px;}
.rel_links dl dt{ font-size:14px;}
.rel_links dl dd{ font-size:12px;}
.rel_links img{ vertical-align:middle; margin-right:5px;}
.more_links{ margin-top:50px;}
.links_top{ color:#444444; padding-left:15px; background:url(../img/images/tech22.gif) top left no-repeat; width:200px; height:34px; line-height:34px;}
.links_down{ border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid; border-bottom:#d9d9d9 1px solid; padding:13px 10px 20px 10px;}
.links_down ul li{ color:#444444; margin-bottom:5px;}
.links_down img{ margin-right:5px; vertical-align:middle;}
/**/
.submit{ background:url(../img/images/submit.gif) top left no-repeat; width:92px; height:30px; border:0; margin-top:20px;}
.cancel{ background:url(../img/images/cancel.gif) top left no-repeat; width:92px; height:30px; border:0; margin-left:22px; margin-top:20px;}
.regi_name_sub{ width:190px; text-align:right; padding-right:20px; font-size:14px; color:#333333; height:38px;}
.resetmain{
clear:both;
padding-top:20px;
border-top: 1px solid #dddddd;
margin-top:-1px;
position:relative;
width: 908px;
}
.resettt{ height:40px;}
#resettabs0 {
width: 898px;

padding-left:10px; font-size:14px;
}
.resetmenu0{
width: 509px;
 height:40px;

 position:absolute;
 z-index:99999;
 padding-left:28px;
 font-size:14px;

}
.resetmenu0 li{

display:block;
float: left;
line-height:39px;
padding-left:10px;
padding-right:10px;
height:39px;
color:#333333;
text-align: center;
cursor:pointer;

 border-top:#ffffff 1px solid;
}
.resetmenu0 li.hover{

 background-color:#ffffff;
 height:39px;
color:#333333;
border-left:#dddddd 1px solid;border-top:#dddddd 1px solid;border-right:#dddddd 1px solid;
}
#resetmain0 ul{
display: none;
}
#resetmain0 ul.block{
display: block;
}
.forget{ font-size:14px; padding-left:40px; margin-bottom:20px;}
.forget_midd{ padding-bottom:30px; padding-top:30px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.regi_name_forget{ width:140px; text-align:right; padding-right:20px; font-size:14px; color:#333333; height:38px;}
/**/
.commu_top{ background:url(../img/images/commutop.gif) top left no-repeat; height:8px; width:918px; overflow:hidden;}
.commu_dowm{ background:url(../img/images/commudo.gif) top left no-repeat; height:8px; width:918px;}
.commu_midd{ padding-bottom:30px; padding-top:20px; width:918px; background:url(../img/images/commumi.gif) top left repeat-y;}
.commu_left{ float:left; width:325px; font-size:14px; color:#888888; padding-left:25px;}
.commu_right{ width:418px; float:right; color:#333333; margin-right:80px; display:inline;}
.commu_right h3{ font-size:16px;}
.ready{ font-size:14px; border-bottom:#e3e3e3 1px solid; padding-bottom:128px; padding-top:10px;}
/**/
.tby_top{ color:#333333; margin-top:30px; margin-bottom:10px;}
.tyb_sr dl dt{ float:left; margin-left:3px;}
.rep_wb{ width:680px; height:228px;}
.bro{ width:172px; height:15px; border:#dddddd 1px solid; background-color:#f0f0f0; margin-left:14px; margin-right:6px;}
.browse{ border:0; background:url(../img/images/tby_68.jpg) top left no-repeat; width:69px; height:23px;}
.bro_lj{ margin-top:6px; color:#333333; margin-bottom:40px;}
.add_replay{ background:url(../img/images/tby_71.jpg) top left no-repeat; width:131px; height:30px; border:0;}
.cancel_re{ background:url(../img/images/cancel.gif) top left no-repeat; width:92px; height:30px; border:0; margin-left:22px;}
.add{ margin-bottom:72px;}
.for_search_ydl{ color:#929292; font-size:11px; padding-left:9px; width:168px; line-height:23px; height:23px; background:url(../img/images/autel_03.gif) top left no-repeat; border:0; float:right; margin-top:10px;}
.edit{ color:#333333; font-weight:bold;}
.edit span{ color:#929292;}
.edit h4{ font-size:14px; margin-bottom:30px;}
.how{ width:760px; height:27px; border:#cccccc 1px solid; color:#333333; font-size:18px; line-height:27px; padding-left:24px; margin-top:52px; margin-bottom:14px;}
.edit1{ color:#333333; font-weight:bold; margin-bottom:10px;}
.edit1 span{ color:#929292; font-weight:normal;}
.post{ background:url(../img/images/post.jpg) top left no-repeat; width:131px; height:30px; border:0;}
/*8-10*/
.etiq_midd{ padding-bottom:30px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.etiq_midd dl dt{ font-size:30px; color:#444444; text-align:center;}
.etiq_midd dl dd{ color:#444444; padding-left:170px; padding-right:150px; font-size:14px; margin-top:30px;}
.guide{ width:524px; margin:0 auto;}
.guide_top{ background:url(../img/images/guideto.gif) top left no-repeat; width:524px; height:14px;}
.guide_mi{ background:url(../img/images/guidemi.gif) top left repeat-y; width:389px; padding-left:55px; padding-right:80px;}
.guide_down{ background:url(../img/images/guidedo.gif) top left no-repeat; width:524px; height:14px;}
.guide_mi ul li{ background:url(../img/images/hfk.gif) top left no-repeat; padding-left:18px; padding-top:10px; padding-bottom:10px; font-size:14px; color:#444444; background-position-y:17px;}
.datails{ text-align:center; color:#434343; font-size:14px;}
.datails span{ color:#cb0003;}
.forums_bg{ background:url(../img/images/ready.gif) top left repeat-x; width:885px; padding-left:55px; margin-top:25px;}
.forums_bg span{ color:#cb0003;}
.forums_bg ul li{ padding-top:25px;}
/*asking*/
.asking_midd{ padding-bottom:30px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.ask_title{ font-size:24px; color:#444444;}
.to_ask{ color:#777777; font-size:14px; margin-bottom:15px;}
.asking_midd span{ color:#cb0003;}
.asking_midd ul li{ padding-left:46px; padding-right:60px;}
.before{ margin-bottom:15px; font-size:14px; color:#444444; margin-top:5px;}
.asking_midd dl{ padding-left:34px; font-size:14px; color:#333333;}
.asking_midd dl dt,.asking_midd dl dd{ margin-bottom:28px;}
.asking_midd dl dt h3{ font-size:18px; font-weight:bold;}
/*user*/
.user_left{ float:left; width:667px;}
.user_right{ float:right;}
.user_left_top{ width:667px; height:8px; background:url(../img/images/user_03.gif) top left no-repeat;}
.user_left_down{ width:667px; height:8px; background:url(../img/images/user_06.gif) top left no-repeat;}
.user_left_mid{ padding-top:20px; padding-bottom:118px; padding-left:25px; padding-right:25px; width:616px; border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid;}
.user_tx{ float:left; width:204px; font-size:12px;}
.toux_xx{ float:right; width:335px; color:#333333;}
.user_tx img{ border:#dddddd 1px solid; width:202px; height:150px;}
.user_tx dl dt{ margin-bottom:30px;}
.user_tx dl dd{ margin-top:3px;}
.user_tx dl dd span{ color:#777777;}
.toux_tx{ width:52px; height:52px; float:left;}
.toux_mail{ float:right; width:270px; font-size:12px; color:#333333;}
.toux_tx img{ border:#dddddd 1px solid; width:50px; height:50px;}
.toux_mail span{ color:#fb0202;}
.toux_mail dl dd{ margin-bottom:20px; margin-top:20px;}
.toux_mail dl dt{ margin-top:10px;}
.actions img{ margin-right:7px;}
.actions dl dt{ font-size:18px; margin-left:20px; margin-bottom:10px; color:#777777;}
.acti_on{ background:url(../img/images/acti_07.gif) bottom right no-repeat;}

.actions dl dd{}
.actions{ margin-bottom:25px;}
.act_img{ float:left; padding-top:10px;submit}
.act_title{ float:right; width:173px; height:28px; border-bottom:#dddddd 1px solid; margin-right:20px; padding-top:6px;}
.save{ background:url(../img/images/save.gif) top left no-repeat; width:92px; height:30px; border:0; margin-top:20px;}
.photo{ margin-left:144px; font-size:12px; color:#333333; width:204px; text-align:center; margin-bottom:5px;}
.photo1{ margin-left:144px; font-size:12px; color:#333333;}
.photo img{ border:#dddddd 1px solid;}
.dont_have{ color:#fb0202; margin-left:58px; margin-top:20px;}
.tiez_top{ background:url(../img/images/tz.gif) top left no-repeat; width:650px; height:33px; color:#333333; line-height:33px; padding-left:17px;}
.tiez_down{ width:587px; border:#e1e1e1 1px solid; padding:10px 53px 30px 25px;}
.tiez_down dl dd{ color:#fb0202; margin-bottom:10px; margin-top:5px;}
.shenhong{ color:#fb0202;}
.tiez_down dl dt{ font-size:12px;}
.jf_name{ background:url(../img/images/jf.gif) top left repeat-x; height:28px; width:188px; padding-left:29px;}
.jf_time{ background:url(../img/images/jf.gif) top left repeat-x; height:28px; width:214px; padding-left:29px;}
.jf_points{ background:url(../img/images/jf.gif) top left repeat-x; height:28px; width:131px; padding-left:29px;}
.jf_expert{ background:url(../img/images/jf.gif) top left repeat-x; height:28px; padding-left:29px;}
.jf_bg{ height:27px; border-bottom:#dddddd 1px solid;}
.jf_sz{ width:16px; height:16px; background-color:#dddddd; float:left; text-align:center; margin-right:7px; margin-left:2px;}
.jf_midd{ color:#333333; padding-top:10px; padding-bottom:30px; padding-left:30px; width:910px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.sw_user{ background:url(../img/images/jf.gif) top left repeat-x; height:28px; width:203px; padding-left:14px;}
.sw_login{ background:url(../img/images/jf.gif) top left repeat-x; height:28px; width:125px; text-align:center;}
.sw_online{ background:url(../img/images/jf.gif) top left repeat-x; height:28px; width:118px; text-align:center;}
.sw_idle{ background:url(../img/images/jf.gif) top left repeat-x; height:28px; width:121px; text-align:center;}
.sw_posts{ background:url(../img/images/jf.gif) top left repeat-x; height:28px; text-align:center;}
.sw_bg{ height:43px; border-bottom:#dddddd 1px solid;}
.sw_sz{ width:16px; height:16px; background-color:#dddddd; float:left; text-align:center; margin-right:4px; margin-left:10px;}
.ss_left{ width:10px; height:141px; background:url(../img/images/ss_03.gif) top left no-repeat; float:left;}
.ss_mid{ padding-top:10px; width:910px; height:131px; background:url(../img/images/ss_04.gif) top left repeat-x; float:left;}
.ss_right{ width:10px; height:141px; background:url(../img/images/ss_05.gif) top left no-repeat; float:right;}
.ss_jm{ padding-left:17px; padding-right:18px; padding-top:24px; width:930px; border-top:#d9d9d9 1px solid; border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid;}
.conte{ font-size:18px; line-height:27px; padding-left:10px; height:27px; border:#cccccc 1px solid; background-color:#f8fafd; width:606px;}
.cate{ width:277px; height:17px; border:#7f9db9 1px solid; padding-left:20px;}
.ss_sea{ text-align:right; padding-right:24px; color:#414141; font-size:14px;}
.ssbg{ height:35px;}
.ss_serch{ width:131px; height:30px; background:url(../img/images/ss08.gif) top left no-repeat; border:0;}
.ss_mess{ background:url(../img/images/ss_14.gif) top left no-repeat; margin-top:20px; width:869px; height:31px; line-height:31px; margin-left:20px; padding-left:10px;}
.ss_nos{ color:#fe1008; padding-left:10px; margin-top:10px; margin-left:20px; padding-bottom:200px;}
.ss_wt{ padding-left:15px; padding-right:150px; line-height:20px;}
.ss_wt dl dt{ margin-top:20px;}
.ss_wt dl dd{ padding-left:15px;}
/*8-13*/
.north{ width:970px;padding-top:80px; margin:0 auto;}
.su_addres{ width:960px; margin:0 auto; padding-left:10px;}
.su_addres dl dt{ font-size:14px; margin-top:25px; color:#3f3e3d; font-weight:bold;}
.su_addres dl dd{ margin-top:10px; color:#666666;}
.su_addres dl dd img{ margin-right:15px;}
.lanse{ color:#041a76;}
.lo_top{ background:url(../img/images/lo_03.gif) top left no-repeat; width:303px; height:10px;}
.lo_dow{ background:url(../img/images/lo_23.gif) top left no-repeat; width:303px; height:10px;}
.lo_mid{ background:url(../img/images/lo_05.gif) top left repeat-y; padding-bottom:22px;}
.login_form{ width:303px; text-align:center;}
.login_form ul li{ padding-top:10px;}
.lo_in{ width:218px; height:37px; background:url(../img/images/lo_08.gif) top left no-repeat; border:0; color:#525252; font-size:13px; line-height:37px; padding-left:25px;}
.lo_in1{ width:218px; height:37px; background:url(../img/images/lo_11.gif) top left no-repeat; border:0; color:#525252; font-size:13px; line-height:37px; padding-left:25px;}
.infor{ margin-top:35px; margin-left:10px;}
.manuals{ width:876px; border-bottom:#9b9b9b 1px solid; margin-left:30px; padding-top:10px;}
.manu_name{ font-size:18px; color:#373737;}
.bowse{ padding-bottom:40px;}
.bowse h4{ font-size:14px; color:#373737; background:url(../img/images/fea_03.gif) center left no-repeat; padding-left:10px;}
.auto{ width:204px; height:47px; color:#373737; background-color:#efefef; text-align:center; padding-top:3px;}
.auto_img{ height:197px;}
.bowse dl dt{ float:left; width:204px; height:247px;}
.bowse dl dd{ width:20px; height:247px; float:left;}
.auto_midd{ padding-bottom:30px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.manual_li ul li{ background:url(../img/images/fea_15.gif) top left no-repeat; margin-bottom:17px; text-align:center; width:266px; height:164px; float:left; margin-left:17px;}
#manual_li0 ul{
display: none;
}
#manual_li0 ul.block{
display: block;
}
.manu_li_img{ height:140px; padding-top:2px;}
.manual_li{ width:876px; margin-left:30px; font-size:12px; color:#9e9798; padding-bottom:100px;}
.video_li ul li{ margin-bottom:17px; text-align:center; width:275px; height:220px; float:left; margin-left:17px;}
#video_li0 ul{
display: none;
}
#video_li0 ul.block{
display: block;
}
.video_li_img{ height:145px; padding-top:2px;}
.video_li{ width:876px; margin-left:20px; font-size:12px; color:#9e9798; padding-bottom:100px;}
.pro_title_su{ font-size:14px; color:#e60011; padding-left:18px; margin-bottom:15px;}
.sufor_top{ width:747px; height:20px; background:url(../img/images/sufor1.jpg) top left no-repeat;}
.sufor_mid{ padding-bottom:50px; width:747px; background:url(../img/images/sufor2.jpg) top left repeat-y;}
.sufor_dow{ width:747px; height:20px; background:url(../img/images/sufor3.jpg) top left no-repeat;}
.sufor_name{ padding-left:10px; width:258px; text-align:right; padding-right:6px; font-size:12px; color:#000000; height:38px;}
.plea_sel{ width:298px; height:20px; border:#7f9db9 1px solid; line-height:20px;}
.plea_sel1{ width:298px; height:120px; border:#7f9db9 1px solid; line-height:20px;}
.subm{ width:72px; height:23px; background:url(../img/images/sufor_08.gif) top left no-repeat; border:0;}

.follow{ color:#666666;}
.sitemap{ font-size:14px; color:#605e5f;}
.sie_bg{ padding-bottom:10px;}
.tip_sear{ color:#dddddd; width:527px; height:21px; font-size:14px; line-height:21px; border:#dddddd 1px solid;}
.tips{ font-size:14px;}
.tips a{ color:#00649a; text-decoration:underline;}
.sear_coun{ width:210px; float:left; margin-right:110px;color:#666666; margin-top:20px;}
.country{ color:#666666; width:210px; height:22px; border:#dddddd 1px solid;}
.sear_langu{ float:left;color:#666666; margin-top:20px;}
.sear_langu span{ margin-left:10px;}
.many_eys{ width:780px; border-bottom:#dddddd 2px solid; border-top:#dddddd 2px solid; margin-top:60px;}
.per_page a{ color:#0064c4;}
.per_page span{ float:right;}
.per_page{ height:35px; line-height:35px; border-bottom:#dddddd 1px dashed;}
.eyes_dl{ font-size:16px; padding-right:10px;color:#343233; padding-bottom:25px; border-bottom:#dddddd 1px dashed; margin-bottom:10px;}
.eyes_dl dl dt{ color:#0064c4; margin-top:10px; margin-bottom:2px;}
.eyes_dl dl dt a{color:#0064c4;}
.eyes_dl dl dt{ margin-bottom:3px;}
.eye_wz{ color:#666666;}
.eyes_feny{ width:780px; margin-top:10px; margin-bottom:50px; text-align:center;}
.eyes_feny a{ color:#0064c4;}
.eyes_feny span{ margin-left:5px; margin-right:5px;}



#overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=0);display:none;}
#win{position:absolute;top:50%;width:872px;height:648px; margin:-102px 0 0 30px;display:none;}
#win_close {z-index:9; height:20px; width:802px; POSITION: relative; MARGIN: 19px 15px 0px; }
#win_close span{ 
	CURSOR: pointer; POSITION: absolute; TEXT-ALIGN: center; TEXT-INDENT: -9999em; WIDTH: 802px; DISPLAY: block; BACKGROUND: url(../img/images/cha.gif) no-repeat 782px -2px; HEIGHT: 20px; _background: none
}
.pro_compar{ background:url(../img/images/pc.jpg) top left no-repeat; border:0; width:133px; height:17px; padding-top:5px; margin-bottom:10px; vertical-align:middle;}

.web_top{ padding-left:5px; background:url(../img/images/colobg.jpg) top left no-repeat; width:525px; height:22px; line-height:22px; font-weight:bold;}
.wen_con_down{ width:528px; border:#cccccc 1px solid;}
.sleect_one{ border:#7e9db9 1px solid; width:257px; height:17px;}
.web_choose{ margin-left:6px; margin-top:8px;}
.web_chioce{ margin-left:6px; margin-top:15px; margin-bottom:15px;}
.web_wird{ padding-left:6px; padding-right:25px; margin-bottom:10px;}
.web_con_an{ width:530px; margin-bottom:180px;}
.tl_top{ width:833px; height:53px; background-color:#ca0002; padding-top:10px;}
.tech_nical{ padding-top:20px; padding-bottom:10px; color:#ca0002; font-size:18px; width:798px; margin:0 auto;}
.tl_all{ width:833px;}
.tl_nr{ width:798px; margin:0 auto;}
.tl_input{ width:793px; margin:0 auto; height:430px; padding-left:5px; padding-top:10px;}
.dl_clo{ background:url(../img/images/close.gif) top left no-repeat; width:92px; height:30px; border:0;}
.dl_close{ width:798px; margin:0 auto; text-align:right; padding-bottom:20px; padding-top:20px;}


/*about*/
.about_all{ width:970px; margin:0 auto;}
.last_news{ width:930px; margin:0 auto;}
.last_news ul li{ border-top:#cccccc 1px solid; padding-top:14px; padding-bottom:16px;}
.last_news ul li p{ color:#666666;}
.last_news h3{ border-bottom:#cccccc 2PX solid; padding-bottom:10px; font-size:16px;}
.latest_left{ float:left; width:75px;}
.latest_left img{ width:73px; height:95px; border:#000000 1px solid;}
.latest_right{ float:right; width:812px;}
.latest_right dl dt{ font-weight:bold; margin-bottom:3px;}
.latest_right dl dd{ line-height:20px;}
.view1{ color:#666666;}
.view{ color:#b4b4b4}
.su_addres1{ margin:0 auto;}
.su_addres1{ width:960px; margin:0 auto; padding-left:10px;}
.su_addres1 dl dt{ font-size:14px; margin-top:25px; color:#3f3e3d; font-weight:bold;}
.su_addres1 dl dd{ margin-top:10px; color:#666666;}
.su_addres1 dl dd img{ margin-right:15px;}


/*News*/

#resettabs1 {
width:100%;
font-size:14px;
overflow:hidden;
}
.tools1{ padding:12px 0 28px 0; width:965px; border-top:#d9d9d9 1px solid; border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid;}
.tools_left1{ float:left; width:636px;}
.tools_right1{ float:right; width:195px;}
.tools_right1 ul li{ line-height:24px; color:#76797c;}
.resetmain1{
clear:both;
padding-top:20px;
border-top: 1px solid #dddddd;
margin-top:-1px;
position:relative;
width: 963px;
}
.resetmain2{
clear:both;
padding-top:20px;
border-top: 1px solid #dddddd;
margin:0 15px;
position:relative;
width: 933px;
}
.autel2{ padding-left:0; padding-right:32px; width:930px; margin:0 auto; font-size:14px; color:#414141; padding-bottom:0; padding-top:5px;}
.discuss1{width:960px; margin:0 auto; color:#ff0000; font-size:14px; margin-top:4px;}
.discuss1 span{ color:#a2a2a2; font-size:12px}
.for_wel_ydl1{ padding-left:32px; padding-right:36px; padding-top:10px; padding-bottom:10px; width:899px; height:34px; background:url(../img/images/autel1a.jpg) top left no-repeat; color:#333; font-size:14px;}
.for_wel_ydl1 img{ border:#ccc solid 1px;}
.for_wel_ydl1font1{
	font-size:14px;
	font-weight:bold;
}
.Edit_Profile{
	width:900px; padding:0 30px 10px 30px;
}
.Edit_Profile h4{
	font-size:18px;
	color:#373737;
	font-weight:normal;
	padding-left:16px;
	background:url(../img/images/dot_2.jpg) no-repeat left center;
}
.Edit_Profile h5{
	font-size:14px;
	color:#373737;
	font-weight:normal;
	padding-left:16px;
}

.resettt1{ height:25px;}
#resettabs01 {
width: 898px;

padding-left:10px; font-size:14px;
}
.resetmenu01{
width: 509px;
 height:40px;

 position:absolute;
 z-index:99999;
 padding-left:28px;
 font-size:14px;

}
.resetmenu01 li{

display:block;
float: left;
line-height:39px;
padding-left:10px;
padding-right:10px;
height:39px;
color:#333333;
text-align: center;
cursor:pointer;

 border-top:#ffffff 1px solid;
}
.resetmenu01 li.hover{

 background-color:#ffffff;
 height:39px;
color:#333333;
border-left:#dddddd 1px solid;border-top:#dddddd 1px solid;border-right:#dddddd 1px solid;
}
#resetmain01 ul{
display: none;
}
#resetmain01 ul.block{
display: block;
}
.input_support{
	border:#b9c9d9 solid 1px;
	height:19px;
	line-height:19px;
}
.textarea_support{
	border:#b9c9d9 solid 1px;
}
.textarea_support1{
	border:#dad7d7 solid 1px;
}
.border_bottom{
	border-bottom:#e3e3e3 solid 1px;
}
.table_from td{
	font-size:12px;
	padding:5px;
}
.hongs1{ color:#ff0000;}
.user_left1{ float:left; width:667px; padding-left:20px;}
.user_right1{ float:right; padding-right:20px;}
.table_user_info{
	float:left;
}
.table_user_info td{
	font-size:14px;
	padding:3px;
}
.table_user_info img{
	border:#ccc solid 1px;
}
.user_info{
	float:left;
	padding-left:20px;}
.user_info td{
	padding:3px;}
.user_info img{
	border:#ccc solid 1px;
}
.font24black{
	font-size:24px;
	font-weight:bold;
	color:#000000;
	line-height:18px;
}
.font24black1{
	font-size:24px;
	font-weight:normal;
	color:#000000;
}
.font18gray{
	font-size:18px;
	font-weight:bold;
	color:#9a9a9a;
	line-height:18px;
}
.font18black{
	font-size:18px;
	color:#030303;
}
.font12gray{
	font-size:12px;
	color:#9a9a9a;
}
.font14black{
	font-size:14px;
	color:#333;
}
.font14gray{
	font-size:14px;
	color:#666666;
}
.font12red{
	font-size:12px;
	color:#ff0000;
}
.font14red{
	font-size:14px;
	color:#924343;
}
.font14red1{
	font-size:14px;
	color:#ff0000;
}
.no_info{
	padding:10px 30px;
}
.no_info .p2border{
	font-size:12px;
	padding-top:10px;
	margin-top:5px;
	border-top:#d3d3d3 solid 1px;
}
/* .input_sign{
	height:22px;
	line-height:22px;
	border:#c0c0c0 solid 1px;
} */
/**/
.commu_top1{ background:url(../../images/commutop.jpg) top left no-repeat; height:8px; width:950px; overflow:hidden;}
.commu_dowm1{ background:url(../../images/commudo.jpg) bottom left no-repeat; height:8px; width:950px;}
.commu_midd1{ padding-bottom:30px; padding-top:20px; width:950px; background:url(../../images/commumi.jpg) top left repeat-y;}
.commu_left1{ float:left; width:325px; font-size:14px; color:#888888; padding-left:25px;}
.commu_right1{ width:518px; float:left; color:#333333;display:inline; padding:0 0 0 50px;}
.commu_right1 h3{ font-size:16px;}
.ready{ font-size:14px; border-bottom:#e3e3e3 1px solid; padding-bottom:128px; padding-top:10px;}

/*nw_tl*/
.autel_tl{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:30px; color:#444444; padding-top:10px;}
.new_pp{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:14px; color:#666666; padding-bottom:15px;}
.new_pp a{ color:#db0404;}
.new_tl_p1{ font-size:18px; color:#343434; padding-left:8px; padding-right:32px; margin-bottom:10px;}
.new_tl_p2{ font-size:14px; color:#000000; padding-left:8px; padding-right:32px; margin-bottom:15px;}
.new_tl_p3{ background:url(../img/images/fk.gif) top left no-repeat; background-position-x:15px; background-position-y:8px; font-size:14px; color:#000000; padding-left:28px; padding-right:32px; margin-bottom:15px;}
.new_tl_p2 a,.new_tl_p3 a{ color:#db0404;}
.new_tl_p4{ font-size:18px; color:#db0404; padding-left:8px; padding-right:32px; margin-bottom:10px;}

.btn_next{background:url(../img/images/btn_next.jpg) top left no-repeat;width:100px;height:34px;border-style:none;cursor: pointer;}
.login_sub_btn{background:url(../img/images/btn_signin.jpg) top left no-repeat;width:125px;height:38px;border-style:none;cursor: pointer;}
.reg_sub_btn{background:url(../img/images/btn_autelid.jpg) top left no-repeat;width:158px;height:34px;border-style:none;cursor: pointer;}
.reg_sub_btn_1{background:url(../img/images/autel1.jpg) top left no-repeat;width:158px;height:34px;border-style:none;cursor: pointer;}

.join_in{ margin-top:19px; margin-bottom:19px; background:url(../img/images/inputbg.gif) top left no-repeat; width:103px; height:21px; border:0px; padding-left:3px; padding-right:42px; padding-top:3px;}
.next_index{ background:url(../img/images/next.gif) top left no-repeat; width:42px; height:24px; border:0;}

.down_menu_lm a{color:#999999;}
.down_menu_lm a:hover{color:#F15A2A; text-decoration:none;}
.foot_copy a{color:#999999;}
.foot_copy a:hover{color:#F15A2A; text-decoration:none;}
