<title>${pagetitle}</title>
<meta name="keywords" content="${keywords!''}">
<meta name="description" content="${description!''}">
<link href="${site.icofile!''}" rel="shortcut icon" >
<script src="${staticserver}/js/common/common-min.js" type="text/javascript"></script>
#headerscript#
