<#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />
<@fmt.setBundle basename="backstage"/> 

<#list children as child> 
<tr>
    <td style="padding-left:${(level+1)*20}px;font-weight: bold;">${child.name}</td>
	<td>
		<#list languageList as item>
			<#if (child.language_code)?? && item.code == (child.language_code)>${item.name!''}</#if>
		</#list>
    </td> 
	<td>
		<#if child.type?? && child.type == "1">
			底部链接
		<#else>
			导航菜单
		</#if>
    </td> 
    <td>
    <input type="text" style="width:50px" name="sortArray" value="${child.sort}" />
    <input type="hidden" name="menuidArray" value="${child.menuid}" />
    </td> 
    <td><a href="siteMenu!add.do?menuid=${child.menuid}"><@fmt.message key="common.btn.add" /></a></td>
    <td><a href="siteMenu!edit.do?menuid=${child.menuid}"><@fmt.message key="common.list.mod" /></a></td>
    <td>
    <a href="siteMenu!delete.do?menuid=${child.menuid}" onclick="javascript:return confirm(<@fmt.message key="system.menu.deletemenu.removecheck" />);"><@fmt.message key="common.list.del" /></a>
     
    </td>
</tr>
	<#if child.hasChildren>
		<#assign level=level+1 />
	  	<#assign children=child.children />
		<#include 'list_children.html' />
  		<#assign level=level-1/>
	</#if>
</#list>