<#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />

<@fmt.setBundle basename="backstage"/> 

<div class="leg_topri"><@fmt.message key="common.nva.currentloaction" />:<@fmt.message key="cententman.cms.contentmanager" /> > <@fmt.message key="cententman.overallman" /> > <@fmt.message key="cententman.overallman.nav" /></div>

<form action="siteMenu!updateSort.do" method="post">
<div class="grid">
	<div class="toolbar" >
		<h4 class="sear_tj"><div class="icon">&nbsp;</div><@fmt.message key="common.query.searchcondition" /></h4>
		<div class="active">
			<h4>
				<span>
					<input type="button" onclick="location.href='siteMenu!add.do?menuid=0'" value=<@fmt.message key="cententman.overallman.addtopmenu" /> class="search_but" />
					<input name="submit" type="submit" class="search_but" id="sortBtn" value=<@fmt.message key="cententman.cms.savesort" /> />
				</span>
				<@fmt.message key="memberman.customman.searchresult" />
			</h4>
		</div>
	</div>
	
	
<table>
	<thead>
		<tr>
		<th width=200><@fmt.message key="common.name" /></th> 
		<th width=200><@fmt.message key="memberman.complaintman.language" /></th> 
		<th width=200><@fmt.message key="syssetting.authorityman.managertype" /></th>
		<th width=100><@fmt.message key="cententman.cms.sort" /></th> 
		<th width=100><@fmt.message key="cententman.cms.addchild" /></th>
		<th width=100><@fmt.message key="cententman.cms.edit" /></th>
		<th><@fmt.message key="common.list.del" /></th>
		</tr>
	</thead> 
	<tbody>
		<#assign children=menuList />
		<#assign level=1 />
		<#include 'list_children.html' />  
	</tbody>  
</table>
</div>
</form>