<#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />

<@fmt.setBundle basename="backstage"/> 

<div class="leg_topri">
	<@fmt.message key="common.nva.currentloaction" />:<@fmt.message key="cententman.cms.contentmanager" /> > <@fmt.message key="cententman.overallman" /> > <@fmt.message key="cententman.overallman.nav" />  > 
	<#if isEdit>
		<@fmt.message key="cententman.overallman.editnav" />
	<#else>
		<@fmt.message key="cententman.overallman.addnav" />
	</#if>
</div>

 <form class="validate" method="post" action="siteMenu!save.do"  >
<div class="input">
	<h4 class="title">
		<div class="icon">&nbsp;</div>&nbsp;
		<#if isEdit>
		 	<input type="hidden" name="menuid" value="${menuid}"/>
			<@fmt.message key="cententman.overallman.editnav" />
		<#else>
			<@fmt.message key="cententman.overallman.addnav" />
		</#if>  
	</h4>
   <table cellspacing="1" cellpadding="3" width="100%" class="form-table">
   	<tr> 
       <th><label class="text"><@fmt.message key="memberman.complaintman.language" /></label></th>
       <td>
       		<select name="siteMenu.language_code" id="language_code" >
       			<#list languageList as item>
					<option value="${item.code}" <#if (siteMenu.language_code)?? && (siteMenu.language_code) == item.code>selected="true"</#if> >
						${item.name}
					</option>
				</#list>
       		</select>
       </td>
     </tr>
     <tr> 
       <th ><@fmt.message key="common.name" /></th>
       <td><input type="text" name="siteMenu.name"  value="${siteMenu.name!''}" maxlength="60"   dataType="string" isrequired="true"/>
	   </td>
     </tr>
	 <tr> 
       <th >类型</th>
       <td>
       		<select name="siteMenu.type">
       			<option value="0" <#if siteMenu.type?? && siteMenu.type == '0'>selected="selected"</#if>>导航菜单</option>
				<option value="1" <#if siteMenu.type?? && siteMenu.type == '1'>selected="selected"</#if> >底部链接</option>
       		</select>
	   </td>
     </tr>
     <tr>
       <th><@fmt.message key="cententman.overallman.fathermenu" /></th>
       <td>
		<select name="siteMenu.parentid" id="parentid">
		<option value="0"><@fmt.message key="cententman.cms.topclassify" /></option>
 		<#assign children=menuList />
		<#assign level=1 />
		<#include 'select_children.html' />  
		</select>
		</td>		
     </tr>
     <tr>
       <th><@fmt.message key="cententman.overallman.link" /></th>
       <td>
       <input type="text" name="siteMenu.url"  style="width:200px"  value="${siteMenu.url!''}"  dataType="string" isrequired="true"/> </td>
     </tr>
     <tr>
       <th><@fmt.message key="cententman.overallman.target" /></th>
       <td>
       <input type="text" name="siteMenu.target"  style="width:200px"  value="${siteMenu.target!''}"  dataType="string"/> </td>
     </tr>          
     <tr>
       <th><@fmt.message key="cententman.cms.sort" /></th>
       <td>
       <input type="text" name="siteMenu.sort" style="width:50px"  value="${siteMenu.sort!''}"  dataType="int" isrequired="true"/> </td>
     </tr>
   </table>
   
   </div>
	<div class="submitlist" align="center">
	 <table>
	 <tr><td >
	            <input name="submit" type="submit"  value=<@fmt.message key="common.btn.ok" /> class="submitBtn"/>
	           <input name="reset" type="button" onclick="location.href='siteMenu!list.do'" value=<@fmt.message key="common.btn.return" /> class="submitBtn" />
	   </td>
	   </tr>
	 </table>
	</div>   
   </form>
<script type="text/javascript">
$(function(){
	$("form.validate").validate();
	<#if !isEdit>
	$("#parentid").val(${menuid});
	<#else>
	$("#parentid").val(${siteMenu.parentid});
	</#if>
});


</script>