<div class="pay_leg">
    	<div id="my_tabs0">
			<div class="my_tt">
				<ul class="my_menu0" id="my_menu0">
				   <li onclick="setTab(0,0)" class="hover">Personal Info</li>
				   <li onclick="setTab(0,1)">Update Info</li>
				</ul>
			</div>
			<div class="my_main" id="my_main0">
			   <ul class="block"><li>
		         <div class="payment">
		         	<h4>User Info</h4>
		            <div class="person">
		            	<dl>
		                	<dt><strong>Autel ID:</strong> ${customerInfo.autelId!""}</dt>
		                    <dt><strong>Full Name:</strong> ${customerInfo.comName!""}</dt>
		                    <dt><strong>Username:</strong> ${customerInfo.name!""}</dt>
		                    <dt><strong>Country/Region:</strong> ${customerInfo.country!""}</dt>
		                    <dt><strong>Town/City:</strong> ${customerInfo.city!""}</dt>
		                    <dt><strong>Company/Institution:</strong> ${customerInfo.company!""}</dt>
		                    <dt><strong>Address:</strong> ${customerInfo.address!""}</dt>
		                    <dt><strong>Zip Code:</strong> ${customerInfo.zipCode!""}</dt>
		                </dl>
		            </div>
            		<h4 style="border-top:#cccccc 1px solid">Device Info</h4>
            		<div class="person">
		            	<dl>
		                	<dt><strong>Product S/N:</strong> ${customerInfo.serialNo!""}</dt>
		                    <dt><strong>Register:</strong> ${customerInfo.proRegTime!""}</dt>
		                    <dt><strong>EXP: </strong> ${customerInfo.expTime!""}</dt>
		                    
		                </dl>
		            </div>
         		</div>
         		<div class="messges">Autel Chat(2)</div>
       		</li></ul>
	   
	   		<ul><li>
	       		<div class="uer">
	       	 		<table border="0">
					  <tr height="46" class="info_bg">
					    <td width="276">Product S/N</td>
					    <td width="276">Software</td>
					    <td width="276">Update Time</td>
					  </tr>
					  <tr height="46">
					    <td>DS002Q001001</td>
					    <td>Lamborghini</td>
					    <td>Jan 22th 2013 9:30AM</td>
					  </tr>
					  <tr height="46">
					    <td>DS002Q001010</td>
					    <td>Benz</td>
					    <td>Jan 22th 2013 9:30AM</td>
					  </tr>
					</table>
				</div>
       		</li></ul>
		</div>
	</div>
</div>