<input type="hidden" id="toplinkurl" />
<div style="display:none;">
${widget_servicecat}
</div>
<!-- 左侧导航 -->
<div class="account_left">
	<dl>
    	<dt style="padding-left:15px;">${bundle('cms.menu.service')}</dt>
        <!-- <dd><a id="serverTopUrl" href="#">${bundle('cms.service.help')}</a></dd> -->
    </dl>
    <div class="checout">
    	<ul>
        </ul>
    </div>
    <dl>
        <dd class="left_bg" ><a href="measurecar-1-1.html?m=4">${bundle('cms.menu.supported')}</a></dd>
       <!--  <dd><a href="#">${bundle('cms.menu.online.server')}</a></dd> --> 
    </dl>
</div>

<div class="account_right">
    <h4>${bundle('cms.menu.supported')}</h4>
	
	<div class="my_xs">
		<form  method="post" id="queryForm" >
			 ${bundle('product.producttypevo')}: 
			 <select class="p_name_car" name="proTypeCode" id="proTypeCode" >
			
				<#list productTypeList as item >
					<option value="${item.code}" <#if proTypeCode?? && proTypeCode == item.code > selected="selected"</#if>>${item.name}</option>
				</#list>
			</select>
			 ${bundle('memberman.complaintman.softwarename')}: <input name="softName" class="p_name_car" type="text" value="${softName!''}"/>
			<input type="button" value="${bundle('common.btn.search')}" class="renew3" id="pageQuery" />
		<!-- 	<input type="button" value="${bundle('common.btn.search.all')}" class="renew3" id="pageQueryAll" />   -->
		</form>
	</div>
	<div class="jss_xx">
		<table width="791" border="0">
			<tr class="tool_title">
			    <td width="150">${bundle('product.software.carlogo')}</td>
			    <td width="200">${bundle('memberman.complaintman.softwarename')}</td>
			    <td>${bundle('product.softwareversion')}</td>
				<td>${bundle('product.producttypevo')}</td>
				<td>${bundle('mearcar.product.function')}</td>
			  </tr>
			<#list dataList as item>
				<tr height="80">
				    <td>
				    	<a href="${item.testPath!''}"  target="_blank">
					    	<img src="${(item.path)!''}" width="70" height="70" >
				    	</a>
					</td>
				    <td>${item.sname!''}</td>
				    <td>${item.vname!''}</td>
					<td>${item.proName!''}</td>
					<td>${item.functionName!''}</td>
				  </tr>
			</#list>
		</table>
		
	</div>
	${pager}
</div>



<script type="text/javascript">
	$(function(){
		var s = "${bundle('cms.menu.service')}";
		var url = $("#toplinkurl").val();
		var link = "<a onclick=\"javascript:jump('"+url+"');\" >"+s+"</a>";
		var navbar = "${navbar!''}";
		var nav = link+navbar;
		/* $("#my_pro_title").append(nav);
		
		$("#serverTopUrl").attr("href",url); */
		
		
		$("#pageQuery").click(function(){
			var pageForm = $("#queryForm");
			//var actionUrl = "measurecar-1-1.html?rt="+new Date().getTime();
			var actionUrl = "measurecar-1-1.html?m=4";
			$(pageForm).attr("action",actionUrl);
			$(pageForm).submit();
		});
		
		$("#pageQueryAll").click(function(){
			var pageForm = $("#queryForm");
			//var actionUrl = "measurecar-1-1.html?showall=1&rt="+new Date().getTime();
			var actionUrl = "measurecar-1-1.html?showall=1&m=4";
			$(pageForm).attr("action",actionUrl);
			$(pageForm).submit();
		});
		
		
		var selectPtCode = "${proTypeCode!''}";
		$("#proTypeCode option[value='"+selectPtCode+"']").attr("selected","selected");
		
		
		$(".page_a_query").unbind("click").click(function(){
			var link = $(this).attr("href");
			$(this).attr("href","#");
			var pageForm = $("#queryForm");
			$(pageForm).attr("action",link);
			$(pageForm).submit();
		});
	});
	function downProductTool(downToolPath)
	{
		var code=$("#proTypeCode").val();
		jump("downLoadProductTools.html?operationType=2&code="+code+"&type=3&downToolPath="+downToolPath);
	}

	function jump(url){
		var tmpForm = $("<form  method='post'></form>");
		$(tmpForm).attr("action",url);
		tmpForm.appendTo(document.body).submit();
	}
</script>
