<h4>${catname}</h4>
<div class="new_center">
	<dl>
		<#list dataList as list>
			<dt>
	    		<a href="litera-${list.cat_id}-${list.id}.html?m=3">
	    			<span><@dateformat time="${list.add_time*1000}" pattern="yyyy-MM-dd"/></span>
					${list.title}
				</a>
			</dt>
			<#if list_has_next><dt style="border-bottom:#cccccc 1px solid;"></dt></#if>
		</#list>
    	
		${pager}
    </dl>
</div>
<script type="text/javascript">
	$(function(){
		var l = "${bundle('cms.menu.literature')}";
		var url = $("#toplinkurl").val();
		var link = "<label style='color:#000000;' onclick=\"javascript:jump('"+url+"');\" >"+l+"</label>";
		var navbar = "${navbar!''}";
		var nav = link+navbar;
		$("#my_pro_title").append(nav);
	});
</script>

