<div class="account_left">
	<dl>
    	<dt><div>${bundle('cms.menu.literature')}</div></dt>
		<#list dataList as list>
			<#if list_index == 0 >
				<script>
					$("#toplinkurl").val("literature-${list.cat_id}-1.html?m=3");
				</script>
			</#if>		
			<#assign catId=("-"+(list.cat_id)+"-") />
			<dd <#if servlet_path?index_of(catId) gt 0 >class="my_on"</#if> >
				<a href="literature-${list.cat_id}-1.html?m=3">${list.name}</a>
			</dd>
		</#list>
    </dl>
</div>
