<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
<form id="productToolsForm" name="productToolsForm" method="post" action="downLoadProductTools.html">
<div class="account_right">
    	<h4>${bundle("autel.menu.mytooldownload")}</h4>
    	 <div class="jss_xx">
			<table width="792" border="0" bordercolor="#cccccc" class="autobr">
			  <tr class="tool_title">
			    <td width="101">${bundle("tooldown.function.name")}</td>
			    <td width="191">${bundle("sealerinfo.apply.product")}</td>
			    <td width="118">${bundle("sealerinfo.latest.version")}</td>
			    <td width="96">${bundle("sealerinfo.update.date")}</td>
			    <td width="141">${bundle("sealerinfo.language.type")}</td>
			    <td>${bundle("common.operation.name")}</td>
			  </tr>
			<#if productTypeToolsList?? && productTypeToolsList?size gt 0 >
				<#list productTypeToolsList as item>
				<#if item??>
					<tr align="center">
						<td height="30" style="WORD-BREAK: normal; WORD-WRAP: break-word">
							${item.toolName!''}
						</td>
						<td title="${item.productTypeName}"><@substring title="${item.productTypeName}" length="30" dot="..." /></td>
						<td>${item.lastVersion!''}</td>
						<td>${item.releaseDate!''}</td>	
						<td>
							${item.languageTypeName!''}
						</td>	
						<td><a  class="font14red" style="color:#08c;" href="${item.downloadPath!''}">${bundle("sealerinfo.download.name")}</a></td>
					</tr>  
				</#if>
			   </#list>
			 <#else>
			   		<tr><td colspan="6"><div  class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			</#if>
			</table>
		</div>
</div>
</form>
	