
<@script src="js/tab.js" compress="true" />
<@script src="js/jquery-ApexSlider.js" compress="true" />
<!--content-->
	<center>
		<div class="content">
			${widget_user}	&nbsp;&nbsp;	
			</br></br>
			${widget_news}
		</div>
	</center>
<!--content end-->
