<#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />
<@fmt.setBundle basename="backstage"/>
<div class="leg_topri"><@fmt.message key="common.nva.currentloaction" />:<@fmt.message key="cententman.cms.contentmanager" /> > CMS > <@fmt.message key="syssetting.cmsmenu.setting.article" />  > 
	<#if isEdit>
		<@fmt.message key="cententman.cms.cotntent.cat.edit" />
	<#else>
		<@fmt.message key="cententman.cms.cotntent.cat.add" />
	</#if>
</div>

 <form class="validate" method="post" <#if isEdit>action="cat!saveEdit.do"<#else>action="cat!saveAdd.do"</#if> name="theForm" id="theForm" >
<div class="input">
	<h4 class="title"><div class="icon">&nbsp;</div>&nbsp;
		<#if isEdit>
		<@fmt.message key="cententman.cms.cotntent.cat.edit" />
		<#else>
			<@fmt.message key="cententman.cms.cotntent.cat.add" />
		</#if>
 	</h4>
	
 	<#if isEdit>
 		<input type="hidden" name="cat.cat_id" value="${cat.cat_id}" />
 	</#if>
	
	<input type="hidden" name="parentId" value="${parentId!0}" />
   <table cellspacing="1" cellpadding="3" width="100%" class="form-table">
   	<tr> 
       <th><label class="text"><@fmt.message key="memberman.complaintman.language" /></label></th>
       <td>
       		<select name="cat.language_code" id="language_code" >
       			<#list languageList as item>
					<option value="${item.code}" <#if (cat.language_code)?? && (cat.language_code) == item.code>selected="true"</#if> >
						${item.name}
					</option>
				</#list>
       		</select>
       </td>
     </tr>
     <tr> 
       <th><label class="text"><@fmt.message key="cententman.cms.classifyname" /></label></th>
       <td><input type="text" name="cat.name"   maxlength="60" <#if isEdit>value="${cat.name!''}"</#if>  dataType="string" isrequired="true"/>       </td>
     </tr>
     <tr>
       <th><label class="text"><@fmt.message key="cententman.cms.fatherclassify" /></label></th>
       <td>

		<select name="cat.parent_id"  id="parent_id">
		<option value="0"><@fmt.message key="cententman.cms.topclassify" /></option>
 		<#assign children=catList />
		<#assign level=1 />
		<#include 'select_children.html' />  
		</select>	</td>
     </tr>
     <tr>
       <th><label class="text"><@fmt.message key="cententman.cms.articlemodel" /> </label></th>
       <td>
       
       <select name="cat.model_id"  id="model_id"  dataType="int" isrequired="true">
       <option value="">--<@fmt.message key="cententman.cms.selectmodel" />--</option>
        <#list modelList as model>
			<option value="${model.model_id }" >${model.china_name }</option>
		</#list>	
	 
		</select>
		 
		</td>
		
     </tr>
     
     <tr>
       <th><label class="text"><@fmt.message key="cententman.cms.isaddsitemapy" /></label></th>
       <td>
       <input type="radio" name="cat.tositemap" value="0" checked class="tositemap"/><@fmt.message key="common.no" />&nbsp;<input type="radio" name="cat.tositemap" value="1" class="tositemap"/><@fmt.message key="common.yes" /> </td>
     </tr>
     
     <tr>
       <th><label class="text"><@fmt.message key="cententman.cms.pageaddress" /></label></th>
       <td>
       <input type="text" name="cat.url" <#if isEdit>value="${cat.url!''}" dataType="String" isrequired="true"</#if>  /> <@fmt.message key="cententman.cms.defaulturl" />      </td>
     </tr>

     <tr id="detail_url" <#if isEdit><#if cat.tositemap != 1>style="display:none"</#if><#else>style="display:none"</#if>>
       <th><label class="text"><@fmt.message key="cententman.cms.detail.httppre" /></label></th>
       <td>
       <input type="text" name="cat.detail_url" <#if isEdit>value="${cat.detail_url!''}" </#if>  />       </td>
     </tr>
          
     <tr>
       <th><label class="text"><@fmt.message key="cententman.cms.sort" /></label></th>
       <td>
       <input type="text" name="cat.cat_order" <#if isEdit>value="${cat.cat_order!0}"</#if> style="width:50px"  dataType="int" isrequired="true"/>       </td>
     </tr>

   </table>
   
   </div>
   <div class="submitlist" align="center">
	 <table>
	 <tr><td >
	          <input name="submit" type="submit"  value=<@fmt.message key="common.btn.ok" /> class="submitBtn"/>
			   <input name="reset" type="button" onclick="location.href='cat!list.do'" value=<@fmt.message key="common.btn.return" /> class="submitBtn" />
	   </td>
	   </tr>
	 </table>
	</div>   
   </form>
<script type="text/javascript">
$(function(){
	$("form.validate").validate();

	<#if isEdit >
	$("#parent_id").val(${cat.parent_id});
	$("#model_id").val(${cat.model_id});
	$(".tositemap").each(function(){
		if($(this).val() ==  '${cat.tositemap}' ){
			$(this).attr("checked",true);
		}
	});
	<#else>
	$("#parent_id").val(${cat_id});
	</#if>
	$(".tositemap").click(function(){
		if($(this).val() == '0') $("#detail_url").hide(); else $("#detail_url").show();
	});
	
});

</script>
