<script type="text/javascript" src="js/cat.js"></script>
<#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />
<@fmt.setBundle basename="backstage"/>
<script type="text/javascript">
var deletemsg='<@fmt.message key="contents.cms.delete" />';
var responsemsg='<@fmt.message key="contents.cms.response" />';
var failmsg='<@fmt.message key="contents.cms.fail" />';
var savemsg='<@fmt.message key="contents.cms.savesort" />';
var updatemsg='<@fmt.message key="contents.cms.update" />';
var success='<@fmt.message key="contents.cms.sort" />';
</script>
<div class="leg_topri">
	<@fmt.message key="common.nva.currentloaction" />:<@fmt.message key="cententman.cms.contentmanager" /> > CMS > <@fmt.message key="syssetting.cmsmenu.setting.article" /></div>
<div class="grid">
	
<form>
	<div class="toolbar" >
		<h4 class="sear_tj"></h4>
		<div class="active">
			<h4>
				<span>
					<input type="button" onclick="location.href='cat!add.do?parentId=${parentId!0}'" value=<@fmt.message key="cententman.cms.add.classify" /> class="search_but" />
					<input name="button" type="button" class="search_but" id="sortBtn" value=<@fmt.message key="cententman.cms.savesort" /> />
				</span>
				&nbsp;
			</h4>
		</div>
	</div>
	
<div id="cat_list">
	
<table>
	<thead>
		<tr>
		<th width=50>ID</th> 
		<th width=200><@fmt.message key="common.name" /></th> 
		<th width=200><@fmt.message key="memberman.complaintman.language" /></th> 
		<th width=100><@fmt.message key="cententman.cms.sort" /></th> 
		<th width=100><@fmt.message key="cententman.cms.addchild" /></th>
		<th width=100><@fmt.message key="cententman.cms.edit" /></th>
		<th><@fmt.message key="common.list.del" /></th>
		<th><@fmt.message key="cententman.cms.article" /></th>
		</tr>
	</thead> 
	<tbody>
		<#assign children=catList />
		<#assign level=1 />
		<#include 'list_children.html' />  
	</tbody>
</table>	
	
</div>
</form>
<div style="clear:both;padding-top:5px;"></div>
</div>
<script>
$(function(){
	
	Cat.init();
});
</script>