<#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />
<@fmt.setBundle basename="backstage"/>
<#list children as cat> 
<tr>
	<td>${cat.cat_id}</td>
    <td style="padding-left:${(level+1)*20}px;font-weight: bold;" align="left">${cat.name}</td>
	<td>
		<#list languageList as item>
			<#if (cat.language_code)?? && item.code == (cat.language_code)>${item.name!''}</#if>
		</#list>
    </td> 
    <td>
		 <input type="hidden" name="cat_ids" value="${cat.cat_id }"/>
	     <input type="text" name="cat_sorts" style="width:30px" value="${cat.cat_order!0}"/>
    </td> 
    <td><a href="cat!add.do?cat_id=${cat.cat_id}&parentId=${parentId!0}"><@fmt.message key="common.btn.add" /></a></td>
    <td><a href="cat!edit.do?cat_id=${cat.cat_id}&parentId=${parentId!0}"><@fmt.message key="common.list.mod" /></a></td>
    <td>
    	<a href="javascript:;" ><span class="delete" catid="${cat.cat_id}" style="background:url('');"><@fmt.message key="common.list.del" /></span></a>
    </td>
    
    <td>
    	<a href="data!list.do?catid=${cat.cat_id}" ><@fmt.message key="cententman.cms.articlelist" /></a>&nbsp;&nbsp;
    	<a href="data!add.do?catid=${cat.cat_id}" ><@fmt.message key="cententman.cms.addarticle" /></a>
    </td>
</tr>
	<#if cat.hasChildren>
		<#assign level=level+1 />
	  	<#assign children=cat.children />
		<#include 'list_children.html' />
  		<#assign level=level-1/>
	</#if>
</#list>