
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<!--中间开始-->
<div class="autel1">${bundle("accountinformation.user.active")}</div>
<div class="regi1">
	<div class="commu_top1"></div>
    <div class="commu_midd1 clearfix">
<!--     	<div class="commu_left1"> -->
    	<div class="commu_right1">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td class="font14black">${bundle("customer.change.active.mag2")}</td>
			  </tr>
			</table>

		</div>
  		<div class="commu_right1">
          
          <table width="90%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="8%" class="font24black1">
              	<#if activeResult ?? && activeResult == "2">
              		<img src="${imagePath}/images/dot_7.jpg" width="27" height="27" />
              	<#else>
              		<img src="${imagePath}/images/dot_5.jpg" width="32" height="31" />
              	</#if>
              	
              </td>
              <td width="92%" class="font14black">
              		<#if activeResult ?? && activeResult == "0">
              	 		${bundle("accountinformation.user.isnotexist")}
              	 	<#elseif activeResult ?? && activeResult == "1">
              	 		${bundle("accountinformation.user.activeinvalid")}<br>
              	 		
              	 	<#elseif activeResult ?? && activeResult== "2">
              	 		${bundle("accountinformation.user.activesuccess")}&nbsp;${autelId!""}&nbsp;${bundle("accountinformation.user.activesuccess2")}  
              	 	<#elseif activeResult?? && activeResult== "3">
              	 		${bundle("accountinformation.user.isactive")}
              	 	</#if>
              </td>
            </tr>
           <tr>
              <td height="10" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="2"><a href="#" class="hongs1"></a>
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                     <#if activeResult?? && activeResult=="1"> 
                     <td class="font14red1">&nbsp;&nbsp;&nbsp;&nbsp;<a href="sendEmail.html?operationType=26&autelId=${autelId!''}" style="color:red;">${bundle("email.resend.title")}</a>&nbsp;</td>
                      <td><a href="sendEmail.html?operationType=26&autelId=${autelId!''}" class="hongs1"><img src="${imagePath}/images/dot_6.jpg" width="7" height="7" /></a></td>
                     <#else>
                    <td class="font14red1">&nbsp;&nbsp;&nbsp;&nbsp;<a href="login.html?operationType=3" style="color:red;">${bundle("accountinformation.login.name")}</a>&nbsp;</td>
                    <td><a href="login.html?operationType=3" class="hongs1"><img src="${imagePath}/images/dot_6.jpg" width="7" height="7" /></a></td>
                    </#if>
                  </tr>
                </table></td>
            </tr>
            <tr>
              <td height="180" colspan="2" align="right">&nbsp;</td>
            </tr>
          </table>
  		</div>
    </div>
    <div class="commu_dowm1"></div>
</div>
<div style=" height:30px;"></div>

  		