<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<input type="hidden" id="userType" name="userType" value="${userType!''}">
  <div class="account_right">
  	<h4 style="padding-right:0px"><span><input id="addcomplaint" name="addcomplaint" type="button" value="${bundle('customercomplaint.add.title')}" class="renew_lan" />
  		</span>
  		<span>
  		<select id="timeRange" name="timeRange" class="placed1" style="margin-top:0px;margin-right:30px;width:140px;"  onchange="javascript:queryCustomerComplaint('${userType!''}')">
  				<#if timeRange == '2'>
  					<option value="1" >${bundle("customercomplaint.lately.threemonth")}</option>	
	         		<option value="2" selected="selected">${bundle("customercomplaint.before.threemonth")}</option>
	         	<#else>
	         		<option value="1" selected="selected">${bundle("customercomplaint.lately.threemonth")}</option>	
	         		<option value="2" >${bundle("customercomplaint.before.threemonth")}</option>
	         	</#if>
	         		
  			</select>
  			
  			<select id="complaintState" name="complaintState" class="placed1" style="margin-top:0px;margin-right:30px;width:160px;"  onchange="javascript:queryCustomerComplaint('${userType!''}')">
  				<#if complaintState == '1'>
  					<option value="-1" >${bundle("common.btn.search.all")}</option>	
  					<option value="1" selected="selected">${bundle("customercomplaint.complaintstate.open2")}</option>	
	         		<option value="2" >${bundle("customercomplaint.complaintstate.guaqi2")}</option>
	         		<option value="3" >${bundle("customercomplaint.complaintstate.waitreply2")}</option>
	         		<option value="4" >${bundle("customercomplaint.complaintstate.close2")}</option>
	         	<#elseif complaintState == '2' >
	         		<option value="-1" >${bundle("common.btn.search.all")}</option>	
	         		<option value="1" >${bundle("customercomplaint.complaintstate.open2")}</option>	
	         		<option value="2" selected="selected">${bundle("customercomplaint.complaintstate.guaqi2")}</option>
	         		<option value="3" >${bundle("customercomplaint.complaintstate.waitreply2")}</option>
	         		<option value="4" >${bundle("customercomplaint.complaintstate.close2")}</option>
	         	<#elseif complaintState == '3' >
	         		<option value="-1" >${bundle("common.btn.search.all")}</option>	
	         		<option value="1" >${bundle("customercomplaint.complaintstate.open2")}</option>	
	         		<option value="2" >${bundle("customercomplaint.complaintstate.guaqi2")}</option>
	         		<option value="3" selected="selected">${bundle("customercomplaint.complaintstate.waitreply2")}</option>
	         		<option value="4" >${bundle("customercomplaint.complaintstate.close2")}</option>
	         	<#elseif complaintState == '4' >
	         		<option value="-1" >${bundle("common.btn.search.all")}</option>	
	         		<option value="1" >${bundle("customercomplaint.complaintstate.open2")}</option>	
	         		<option value="2" >${bundle("customercomplaint.complaintstate.guaqi2")}</option>
	         		<option value="3" >${bundle("customercomplaint.complaintstate.waitreply2")}</option>
	         		<option value="4" selected="selected">${bundle("customercomplaint.complaintstate.close2")}</option>
	         	<#else>
	         		<option value="-1" selected="selected">${bundle("common.btn.search.all")}</option>	
	         		<option value="1" >${bundle("customercomplaint.complaintstate.open2")}</option>	
	         		<option value="2" >${bundle("customercomplaint.complaintstate.guaqi2")}</option>
	         		<option value="3" >${bundle("customercomplaint.complaintstate.waitreply2")}</option>
	         		<option value="4" >${bundle("customercomplaint.complaintstate.close2")}</option>
	         	</#if>
	         		
  			</select>
  		</span>
  		${bundle("autel.menu.mycomplaints")}</h4>
  
        <div class="my_products">
        
        	<dl>
			<#list customerComplaintInfoList as item>
            	<dt>
                	<div class="ks_tab" style="width:768px;word-wrap:break-word"><strong><a class="font16red" style="color:#08c;" onclick="javascript:queryCustomerComplaintDeatil('${item.code!''}','${userType!''}')">${item.complaintTitle!""}</a></strong></div>
                    <table width="768" border="0" style="font-size:14px; margin-left:22px; color:#4d4d4d;" class="autobr">
					  <tr>
					    <td width="162"><strong>${bundle("customercomplaint.tickedid.name")}:</strong> ${item.code!""}</td>
					    <td width="240" style="padding-left:20px">${item.complaintPerson!""}</td>
					    <td width="110" align="center">
					    	<#if item.complaintDate??>
					    		${item.complaintDate?substring(0,10)}
					    	</#if>
					    	
					    </td>
					    <td width="160" align="center" style="border-left:#cccccc 1px solid; border-right:#cccccc 1px solid;">
					    	<#if item.complaintState == 1>
									${bundle("customercomplaint.complaintstate.open2")}
								<#elseif item.complaintState == 2>
									${bundle("customercomplaint.complaintstate.guaqi2")}
								<#elseif item.complaintState == 3>
									${bundle("customercomplaint.complaintstate.waitreply2")}
								<#elseif item.complaintState == 4>
									${bundle("customercomplaint.complaintstate.close2")}
								</#if>
					    </td>
					    <td width="100" align="center"><a class="font16red" style="color:#08c;"  onclick="javascript:queryCustomerComplaintDeatil('${item.code!''}','${userType!''}')">${bundle("customercomplaint.view.name")}</a>
					     <img src="${imagePath}/images/view.gif" id="queryCustomer" style="cursor:pointer;padding-bottom: 3px;" name="queryCustomer" width="18" height="18" onclick="javascript:queryCustomerComplaintDeatil('${item.code!''}','${userType!''}')"/>
					    </td>
					  </tr>
					</table>
                </dt>
                <dd></dd>
                <!--  
                <#if (item_index+1)!= customerComplaintInfoList?size>
				 	<dd></dd>
				 </#if>-->
				 
               
                 </#list>
	               <div class="check1 clearfix">
	               		    <#if customerComplaintInfoList?size gt 0 >
	               		    	<table width="100%" border="0"   class="autobr">
									<tr>
										<td width="70%" style="color:#4d4d4d;">
											
											
										</td>
										<td width="30%">
											${pager}	
										</td>
									</tr>
									 <!--  
									<span style="color:#4d4d4d; float:right; margin-right:22px; margin-left:20px;">${bundle("customercomplaint.complaintstate.open")}：${openComplaintState}</span>
					                <span style="color:#4d4d4d; float:right; margin-left:20px;">${bundle("customercomplaint.complaintstate.guaqi")}： ${guaqiComplaintState}</span>                
					                <span style="color:#4d4d4d; float:right; margin-left:20px;">${bundle("customercomplaint.complaintstate.waitreply")}：${waitComplaintState}</span>      
					                <span style="color:#4d4d4d; float:right; margin-left:20px;">${bundle("customercomplaint.complaintstate.close")}：${closeComplaintState}</span>      
					                <span style="color:#4d4d4d; float:right">${bundle("common.total.record")}：${totalcount!''}</span>
									-->
								</table>
							<#else>
								${pager}	
							</#if>
								
					</div>
            </dl>
        </div>
        
    </div>
</div>
