  <form id="customerComplaintType" name="customerComplaintType" method="post" action="addCustomerComplaintInfo.html?operationType=2" >
	  <input type="hidden" id="userType" name="userType" value="${userType!''}"/>
	  <input type="hidden" id="complaintType" name="complaintType" value=""/>
	  <input type="hidden" id="complaintTypeCode" name="complaintTypeCode" value="${complaintTypeCode!''}"/>
 		<div class="account_right">
    	<h4>${bundle("customercomplaint.add.title")}</h4>
        <div class="my_products">
        	<div class="depar">
            	<h3>${bundle("customercomplaint.selectdepartment.name")}</h3>
                <p>${bundle("customercomplaint.department.desc")}
				<h5>${bundle("customercomplaint.departments.name")}</h5>
				
                <ul><li>
                	<#if customerComplaintTypeList?size gt 0 >
					<#list customerComplaintTypeList as item>
						<#if item_index == 0 >
							<script type="text/javascript">
								$("#complaintType").val('${item.complaintTypeCode!''}')
							</script>
							<div style="padding-top:0px;">
								<input  checked="checked" type="radio" id="${item.complaintTypeCode!''}" name="${item.complaintTypeCode!''}" value="${item.name!""}" onclick="javascript:setValue('${item.complaintTypeCode!''}')"/> ${item.name!""}
							</div>
							
						<#else>
							<div style="padding-top:10px;">
								<input type="radio" id="${item.complaintTypeCode!''}" name="${item.complaintTypeCode!''}" value="${item.name!""}" onclick="javascript:setValue('${item.complaintTypeCode!''}')"/> ${item.name!""}
							</div>
							
						</#if>
	                </#list>
                   </#if>
                   </li>
                   <li><input name="subBtn" id="subBtn" type="button" value="${bundle('common.next.name')}" class="renew3"  style="margin-top:10px; margin-bottom:20px;" /></li>
                </ul>
            </div>    		
        </div>
        
    </div>
    </form>