<div class="no_pro_kong"></div>
<div class="online">
	<div class="status_ok">
	<#if flag=='success'> 
		<div class="or_com">
			<strong>${bundle("order.success.name")} ${orderNo} ${bundle("order.success.name2")} , </strong><br />
			<strong>${bundle("order.query.name")} <a href="myOrders-1-1.html">${bundle("order.myorder.name")} </a> ${bundle("order.query.name1")}</strong>
        </div>
     <#else>
             <div class="or_com2">
		     <strong>${bundle("order.success.name")} ${orderNo} ${bundle("order.pay.fail")}  </strong><br />
		     <strong>${bundle("order.pay.fail.desc")}</strong>
		     </div>   
	 </#if>
		
	</div>
</div>