<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--中间开始-->

	
	
	
	

<div class="no_pro_kong">
	
</div>
<div class="online">
	<div class="status_ok">
            		<#if result="1">
            		<div class="or_com1">
            		<strong>
	              		${bundle("sealerinfo.file.isnotexist")}
	                <#elseif result="2">
	                <div class="or_com">
            		<strong>
	              		${bundle("sealerinfo.tooldownload.success")}
	               <#elseif result="3">
	               <div class="or_com1">
            		<strong>
	              		 ${bundle("sealerinfo.tooldownload.fail")}
	               </#if>
            	</strong><br />
            	<strong>${bundle("tooldown.pleaseclick.name")} <a href="javascript:backDownProductTool('${type!''}','${code!''}','${userType!''}')">${bundle("common.return.name")}</a> </strong></div>
    </div>
    
    
   
</div>