<script type="text/javascript">
function fawordUrl(){
    var autelId=$("#autelId").val();
	jump("goForgotPassword.html?operationType=10&autelId="+autelId);
}  

function jump(url){
	var tmpForm = $("<form  method='post'></form>");
	$(tmpForm).attr("action",url);
	tmpForm.appendTo(document.body).submit();
   
}
</script>
<div class="autel1">${bundle("accountinformation.user.resetpasswordtitle")}</div>
<div class="regi1">
	<div class="commu_top1"></div>
    <div class="commu_midd1 clearfix">
    	<div class="commu_left2">
    	      <input type="hidden" value="${findResult!''}"   id="autelId" name="autelId"/>
    	
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td class="font18black">${bundle("accountinformation.forgotautelId2.name")}</td>
			  </tr>
			  <tr>
			    <td class="font14black">${bundle("accountinformation.findID.name")} </td>
			  </tr>
			</table>

		</div>
  		<div class="commu_right1">
  		  <table width="90%" border="0" cellpadding="0" cellspacing="0">
         <!--    <tr>
              <td width="8%" class="font24black1"><img src="${imagePath}/images/dot_7.jpg" width="27" height="27" /></td>
              <td width="92%" class="font24black1">${bundle("accountinformation.emailsent.name")}</td>
            </tr>
            <tr>
              <td height="35" colspan="2" class="font14black">${bundle("accountinformation.recevieresetautelId.name")}
              </td>
            </tr> -->
            
            <#if findResult?? && findResult == "1">
            <tr>
              <td width="8%" class="font24black1"><img src="${imagePath}/images/dot_5.jpg" width="27" height="27" /></td>
              <td width="92%" class="font24black1">${bundle("find.autelID.not.customer")}</td>
            </tr>
           
           <#elseif findResult ?? && findResult == "3">
           <tr>
              <td width="8%" class="font24black1"><img src="${imagePath}/images/dot_5.jpg" width="27" height="27" /></td>
              <td width="92%" class="font24black1">${bundle("common.system.error")}</td>
            </tr>
           <#else>
           <tr>
              <td width="8%" class="font24black1"><img src="${imagePath}/images/dot_7.jpg" width="27" height="27" /></td>
              <td width="92%" class="font24black1">${bundle("find.autelID.is")} ${findResult!''}</td>
            </tr>
           </#if>
            
            <tr height="30px">
            </tr>
            
            <tr>
              <td colspan="2"><a href="#"></a>
                <table border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td class="font14red" style="padding-top:5px;padding-bottom:15px;"><a onclick="javacript:fawordUrl()" class="font14red" style="color:#08c;">${bundle("accountinformation.forgotpassword.name")}&nbsp;</a>
                    <a onclick="javacript:fawordUrl()" class="hongs1"><img src="${imagePath}/images/dot_6.jpg" width="7" height="7" /></a></td>
                  </tr>
                  
                </table></td>
            </tr>
            <tr>
              <td height="180" colspan="2" align="right">&nbsp;</td>
            </tr>
          </table>
  		</div>
        
    </div>
<!--     <div class="commu_dowm1"></div> -->
</div>