<script type="text/javascript">
	window.location="DoExpressCheckout.html?token=${token}&payerID=${PayerID}";
</script>
	<h2>Response Page</h2>
	<div class="section_header">
		<h3>Key values from the response</h3>
	</div>
	<table>
		${sbHtml}
	</table>
	<table>
		<tr>
			<td>Request:</td>
		</tr>
		<tr>
			<td><textarea rows="10" cols="100">${lastReq}</textarea>
			</td>
		</tr>
		<tr>
			<td>Response:</td>
		</tr>
		<tr>
			<td><textarea rows="10" cols="100">${lastResp}</textarea>
			</td>
		</tr>
	</table>
	<div id="related_calls">
		See also
		${relatedUrl}
	</div>