<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div class="autel1">${bundle("accountinformation.user.resetpasswordtitle")}</div>
<div class="regi1">
	<div class="commu_top1"></div>
    <div class="commu_midd1 clearfix">
    	<div class="commu_left2">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td class="font18black">${bundle("accountinformation.forgotautelId2.name")} </td>
				  </tr>
				  <tr>
				    <td class="font14black">${bundle("accountinformation.findID.name")} </td>
				  </tr>
				  <tr>
				    <td class="font14black">${bundle("accountinformation.findID.question")} </td>
				  </tr>
			</table>
		</div>
  		<div class="commu_right1">
  		 <form id="geFindAutelIdForm" name="geFindAutelIdForm" action="findAutelId.html" method="post">
  		 <input type="hidden" id="operationType" name="operationType" value="19">
          <table width="90%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="font24black1">${bundle("accountinformation.autelIdnotfind.name")}</td>
            </tr>

            <tr>
              <td width="19%" height="35" class="font14black">${bundle("accountinformation.findautelidcheck.name")}</td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                <tr>
                  <td align="right" class="font14black">&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                
                
                <tr>
                  <td width="40%"  align="right" class=""><span class="font14black">${bundle("syssetting.batch.productnumber")}<b style="font-family: Lato,Heltevica,Arial,sans-serif;font-weight: normal;padding-right:20px;color:#FF0000;padding-left:4px;">*</b> </td>
                  <td width="60%">
                  <input  id="productSN" name="productSN" type="text"  class="input_sign" maxlength="50" size="35"/>
                  <img id="productSNImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                  </td>
                </tr>
                 <tr height="30" id="productSNNull"></tr>
                 <tr height="30" id="productSNErrorInfo"  style="display:none;">
                 	 <td class="font14black">&nbsp;</td>
              		<td style="padding-top:5px;">
              			<span id="productSNInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span>
              		</td>
            	</tr>
            	
            <!-- 	 <tr>
                  <td width="40%"  align="right" class=""><span class="font14black">${bundle("regproduct.registerpwd.name")}<b style="font-family: '????';font-weight: normal;padding-right:20px;color:#FF0000;padding-left:4px;">*</b> </td>
                  <td width="60%">
                  <input  id="productPwd" name="productPwd" type="text"  class="input_sign" maxlength="50" size="35"/>
                  <img id="productPwdImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                  </td>
                </tr> 
                 <tr height="30" id="productPwdNull"></tr>
                 <tr height="30" id="productPwdErrorInfo"  style="display:none;">
                 	 <td class="font14black">&nbsp;</td>
              		<td style="padding-top:5px;">
              			<span id="productPwdErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span>
              		</td>
            	</tr>
                -->
                <!-- <tr>
                  <td width="40%"  align="right" class=""><span class="font14black">${bundle("accountinformation.second.email")}<b style="font-family: '????';font-weight: normal;padding-right:20px;color:#FF0000;padding-left:4px;">*</b> </td>
                  <td width="60%">
                  <input onfocus="clearSecendEmailValue();"  onblur="onblurSecondEmail();" id="secondEmail" name="secondEmail" type="text" value="${bundle('customerinfo.user.forexample')}:steve@auteltech.com" class="input_sign" maxlength="50" size="35"/>
                  <img id="secondEmailImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                  </td>
                </tr>
                 <tr height="30" id="secondEmailNull"></tr>
                 <tr height="30" id="secondEmailErrorInfo"  style="display:none;">
                 	 <td class="font14black">&nbsp;</td>
              		<td style="padding-top:5px;">
              			<span id="secondEmailErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span>
              		</td>
            	</tr>
            
                <tr>
                  <td width="40%" align="right" class="font14black"><span class="font14black">${bundle("accountinformation.first.name")}<b style="font-family: '????';font-weight: normal;color:#FF0000;padding-right:20px;padding-left:4px;">*</b></span></td>
                  <td width="60%">
                  	<input id="firstName" name="firstName" type="text" class="input_sign" size="35" maxlength="50"/>
                  	<img id="firstNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                  </td>
                </tr>
                <tr height="30" id="firstNameNull"></tr>
                <tr height="30" id="firstNameErrorInfo"  style="display:none;">
                 	 <td class="font14black">&nbsp;</td>
              		<td style="padding-top:5px;">
              			<span id="firstNameErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span>
              		</td>
            	</tr>
                <tr>
                  <td width="40%" align="right" class="font14black">
                  <span class="font14black">
                  ${bundle("accountinformation.last.name")}<b style="font-family: '????';font-weight: normal;color:#FF0000;padding-right:20px;padding-left:4px;">*</b></td>
                  <td width="60%">
                  <input id="lastName" name="lastName" type="text" class="input_sign" size="35" maxlength="50"/>
                  <img id="lastNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                  </td>
                </tr>
                <tr height="30" id="lastNameErrorInfo"  style="display:none;">
                 	 <td class="font14black">&nbsp;</td>
              		<td style="padding-top:5px;">
              			<span id="lastNameErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span>
              		</td>
            	</tr> -->
            	
                <tr>
                  <td align="right" class="font14black">&nbsp;</td>
                  <td></td>
                </tr>
                <tr >
                  <td align="right" class="font14black">&nbsp;</td>
                  <td align="center" height="55">
                    <label>
                      <input type="button" id="calclId" name="calclId" value="${bundle('common.previous.name')}" class="canbt" onclick="window.history.go(-1);" />
                    </label>
                    &nbsp;&nbsp;
                    <input type="button" id="findAutelId" name="findAutelId"  value="${bundle('common.next.name')}" class="canbt" />
                  </td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          </form>
  		</div>
    </div>
<!--     <div class="commu_dowm1"></div> -->
</div>