<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body >
<!--中间开始-->
<div class="autel1"><p class="font24black1">${bundle("accountinformation.user.resetpasswordtitle")}</p></div>
<div class="regi1">
	<div class="commu_top1"></div>
    <div class="commu_midd1 clearfix">
    	<div class="commu_left2">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td class="font18black">${bundle("accountinformation.forgotpassword2.name")} </td>
			  </tr>
			  <tr>
			    <td class="font14black">${bundle("accountinformation.noproblem.name")} </td>
			  </tr>
			  
			  <tr>
			    <td class="font14black">${bundle("accountinformation.findID.question")} </td>
			  </tr>
			  
			</table>

		</div>
  		<div class="commu_right1">
  		<form id="goForgotPasswordForm" name="goForgotPasswordForm" method="post" action="selectForgotPassword.html">
  		  <input type="hidden" id="operationType" name="operationType" value="11"/>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="19%" style="font-size:18px;font-weight:normal;color:#000000;">${bundle("accountinformation.myautelid.name")}.</td>
            </tr>
            <tr>
              <td width="19%" style="font-size:18px;font-weight:normal;color:#000000;">&nbsp;</td>
            </tr>
            <tr>
              <td style="padding-left:100px" align="left"><label>
                 <input onfocus="clearautelIdValue();" onkeyup="checkAutelID();"  onblur="onblurAutelId();" type="text" name="autelId" id="autelId" value="${autelId!''}" class="input_sign" maxlength="50" size="50"/>
                 <img id="userNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
              </label></td>
            </tr>
            
             <tr id="userNameErrorInfo"  style="display:none;">
              <td  style="padding-top:5px;padding-left:100px"><span id="userNameErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
           
             <tr>
              <td class="font14red" style="padding-top:20px;padding-bottom:15px;padding-left:175px"><a onclick="javascript:jump('goFindAutelId.html')" class="font14red" style="color:#08c;">${bundle("accountinformation.forgotautelId.name")}</a></td>
            </tr>
            
            <tr>
              <td height="66" class="font14black">&nbsp;</td>
            </tr>
            <tr>
              <td align="right">
                <label>
                <input type="button" id="calclId" name="calclId" value="${bundle('common.previous.name')}" class="canbt" onclick="window.history.go(-1);" />
                </label>
  				&nbsp;&nbsp;
  				<input type="button" id="checkAutelId" name="checkAutelId"  value="${bundle('common.next.name')}" class="canbt" />
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          </form>
  		</div>
    </div>
<!--     <div class="commu_dowm1"></div> -->
</div>
</body>