
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body onkeydown="enterkey(event.keyCode||event.which)">

<!--中间开始-->
<div class="autel1">
<!-- <p class="font24black1">${bundle("loginpage.html.titile")}.</p> -->
<!-- <p class="autel2">${bundle("accountinformation.returningcommuntity.name")}	 -->

<!--  <span class="autel2" style="color: #E47911;">${bundle("maxidas.titile.info")} -->
 
<!--  ${bundle("create.an.new.user")} -->
<!--  </span> -->
 </p>

</div>


          
<div class="sign_text_tips">Sign in to your Autel Robotics account</div>
<div class="regi1">
<!-- 	<div class="commu_top1"></div> -->
    <div class="commu_midd1 clearfix">
    	<div class="commu_left1" style="font-size:15px;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
<!--     <td class="font24black1">${bundle("accountinformation.newauteltech.name")} </td> -->
  </tr>
  <tr>
    <td height="45"><label>
      <input type="button" id="imageField" value="${bundle('customerinfo.user.create')}" name="imageField" class="create_bt" onclick="" />
    </label></td>
  </tr>
<!--   <tr> -->
<!--     <td class="font14black">${bundle("accountinformation.freetakes.name")}</td> -->
<!--   </tr> -->
  <tr>
    <td><div style="margin-top:20px;font-size:16px;color:#666666;font-family:'Lato',Heltevica,Arial,sans-serif;">${bundle("accountinformation.getcomplete.name")}:</div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
	    <table width="100%" border="0" cellspacing="0" cellpadding="0">
	      <tr>
	        <td width="15" align="left"><img src="${imagePath}/images/dot_3.jpg" width="5" height="5" /></td>
<!-- 	        <td>${bundle("accountinformation.freedownload.name")}</td> -->
<td style="font-family:'Lato',Heltevica,Arial,sans-serif;">Customer support</td>
	      </tr>
	     <!--  <tr>
	        <td width="15" align="left"><img src="${imagePath}/images/dot_3.jpg" width="4" height="4" /></td>
	        <td>${bundle("accountinformation.hundredextension.name")} </td>
	      </tr> -->
	      <tr>
	        <td width="15" align="left"><img src="${imagePath}/images/dot_3.jpg" width="5" height="5" /></td>
<!-- 	        <td>${bundle("accountinformation.communityarea.name")} </td> -->
<td style="font-family:'Lato',Heltevica,Arial,sans-serif;">Software updates</td>
	      </tr>
	      <tr>
	        <td width="15" align="left"><img src="${imagePath}/images/dot_3.jpg" width="5" height="5" /></td>
<!-- 	        <td>${bundle("accountinformation.memberdownload.name")}</td> -->
	        <td style="font-family:'Lato',Heltevica,Arial,sans-serif;">Community forums</td>
	      </tr>
	      <tr>
	        <td width="15" align="left"><img src="${imagePath}/images/dot_3.jpg" width="5" height="5" /></td>
<!-- 	        <td>${bundle("accountinformation.ondemandsemiars.name")}</td> -->
<td style="font-family:'Lato',Heltevica,Arial,sans-serif;">Downloads</td>
	      </tr>
	      <tr>
	        <td width="15" align="left"><img src="${imagePath}/images/dot_3.jpg" width="5" height="5" /></td>
<!-- 	        <td>${bundle("accountinformation.ondemandsemiars.name")}</td> -->
<td style="font-family:'Lato',Heltevica,Arial,sans-serif;">Training</td>
	      </tr>
	    </table>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

		</div>
  		<div class="commu_right2">
  		<form id="loginCustomerInfo" name="loginCustomerInfo" action="loginCustomerInfoResult.html" method="post">
          <input type="hidden" id="operationType" name="operationType" value="4">
          <input type="hidden" id="returnUrl" name="returnUrl" value="">
          <input type="hidden" id="loginToType" name="loginToType" value="${loginToType!}">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
<!--               <td colspan="2" class="font24black1" style="padding-left: 30px">${bundle("accountinformation.returnmember.name")}</td> -->
            </tr>


            <tr>
              <td width="19%" height="10">&nbsp;</td>
              <td width="81%">&nbsp;</td>
            </tr>
            <tr id="userTypeErrorInfo"  style="display:none;">
              <td class="font14black">&nbsp;</td>
              <td style="padding-top:5px;"><span id="userTypeErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
            
            <tr>
              <td class="font14black">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            
            <tr>
              <td align="right">
              	<span  class="font14black" style="font-size:15px;padding-right:15px;font-family:Lato,Heltevica,Arial,sans-serif;color:rgb(135, 133, 133);">${bundle("accountinformation.autelid.name")} :</span><br />
              </td>
              <td valign="top">
	              <input onfocus="clearAutelIdErrorInfo();" name="autelId" id="autelId" type="text" class="input_sign"  size="50" style="width:350px;"/>
	              <img id="autelIdImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
	              <a onclick="jump('goFindAutelId.html')" class="font14red" style="font-size:13px;color:#d64f4f;margin:2px 0 0 5px;font-family:Lato,Heltevica,Arial,sans-serif;"  >${bundle("accountinformation.forgotautelId.name")}</a>
              </td>
            </tr>
            
            <tr id="autelIdErrorInfo"  style="display:none;">
              <td class="font14black">&nbsp;</td>
              <td style="padding-top:5px;"><span id="autelIdErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
            
            <tr>
              <td>&nbsp;</td>
              <td class="font14red" style="padding-top:5px;padding-bottom:15px;"> </td>
            </tr>
           	
            
            <tr style="padding-top:10px;">
              <td align="right">
              	<span class="font14black" style="font-size:15px;padding-right:15px;font-family:Lato,Heltevica,Arial,sans-serif;color:rgb(135, 133, 133);">${bundle("memberman.sealerinfoman.passwd")} :</span>
              </td>
              <td>
              	<input onfocus="clearPasswordErrorInfo();" type="password" id="password" name="password" class="input_sign" style="width:350px;" maxlength="25" size="50"/>
              	<img id="passwordImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
              	<a onclick="javacript:fawordUrl()" class="font14red" style="font-size:13px;color:#d64f4f;margin:2px 0 0 5px;font-family:Lato,Heltevica,Arial,sans-serif;">${bundle("accountinformation.forgotpassword.name")}</a>
              </td>
            </tr>
            
            <tr id="passwordErrorInfo"  style="display:none;">
              <td class="font14black">&nbsp;</td>
              <td style="padding-top:5px;"><span id="passwordErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
            
            <tr>
              <td>&nbsp;</td>
              <td class="font14red" style="padding-top:5px;padding-bottom:15px;"></td>
            </tr>
            <tr>
              <td colspan="1"></td>
            </tr>
            
            <tr>
              <td align="right"><span class="font14black" style="font-size:15px;padding-right:15px;font-family:Lato,Heltevica,Arial,sans-serif;color:rgb(135, 133, 133);">${bundle("accountinformation.user.regcode")} :</span></td>
              <td><input onfocus="clearImagenumErrorInfo();" name="imagenum"  id="imagenum" type="text" class="input_sign" id="textfield4"  maxlength="4" size="15" style="width:200px;"/>
              	  <img style="margin-left:20px;margin-right:28px;" src="" id="image_validate" name="image_validate" class="remember_login_name" width="100" height="30"  onclick="javascript:buildRandom();" alt='${bundle("accountinformation.user.regclickchange")}' style="cursor:hand;"/>
              	  <a onclick="javascript:buildRandom();" style="font-size:13px;padding-left:5px;color:#d64f4f;font-family:Lato,Heltevica,Arial,sans-serif;" class="font14red">${bundle("accountinformation.user.regclickchange")}</a>
              	  
              </td>
            </tr>
            <tr id="imagenumErrorInfo"  style="display:none;">
              <td class="font14black">&nbsp;</td>
              <td><img id="imagenumImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img><span id="imagenumErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
            
            <tr>
              <td>&nbsp;</td>
              <td ><span class="font12gray" style="line-height:15px;color:red"></span></td>
            </tr>
          
            <tr>
              <td colspan="2">&nbsp;</td>
            </tr>
            
            <tr>
                 <td colspan="2" align="right"></td>
            </tr>
          </table>
          </form>
          <div style="border-top: 1px solid #cccccc;margin:0px 20px;"></div>
          <div style="margin: 20px 0px;">
          	<label>
                <input type="button" style="margin-left:20px;" value="${bundle('accountinformation.login.name')}" id="loginCheck" name="loginCheck" class="sign_bt"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            </label>
          	<!-- <span style="color:#666666;font-size:16px;padding-left:50px;margin-top:20px;font-family:Lato,Heltevica,Arial,sans-serif">or login with...</span>
          	<a class="google-btn" style="display:inline-block;background:#b3b3b3;padding-left:13px;color:#fff;margin:20px 0 20px 15px;width:110px;" href="${bundle('freshdesk.notlogin.url')}/google/login"><img class="google-img"  style="border-right:2px solid #c6c6c6;padding-right:10px;" /> Google</a>
<a class="google-btn" style="display:inline-block;background:#b3b3b3;padding-left:13px;color:#fff;margin:20px 0 20px 15px;width:110px;" href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email&response_type=code&redirect_uri=http://localhost:8033/maxaeroproVersion2/oauth2callback.do&client_id=312310724639-igs03e629ctk8mmreqb96gd6bsa2310g.apps.googleusercontent.com"><img class="google-img"  style="border-right:2px solid #c6c6c6;padding-right:10px;" /> Google</a>
          	<a class="facebook-btn" href="${bundle('freshdesk.notlogin.url')}/sso/facebook"><img class="facebook-img" /> Facebook</a>
<a class="facebook-btn" style="display:inline-block;background:#b3b3b3;color:#fff;padding-left:13px;margin:20px 0 20px 10px;width:110px;" href="https://www.facebook.com/dialog/oauth?client_id=180924732273214&redirect_uri=http://localhost:8033/maxaeroproVersion2/facebookLoginFilter.do&response_type=code&scope=user_about_me,email"><img class="facebook-img" style="border-right:2px solid #c6c6c6;padding-right:5px;"/> Facebook</a> -->
          </div>
          
  		</div>

        
        
    </div>
<!--     <div class="commu_dowm1"></div> -->
</div>

<!--中间结束-->
<div style=" height:30px;"></div>

<script type="text/javascript">

function buildRandom()
{
	var date = new Date();
	$("#image_validate").attr("src","validcode.do?vtype=_customer&rmd="+new Date().getTime())

}

buildRandom();
</script>

