<#if customerInfo ??>
<form id="updateCustomerInfo" name="updateCustomerInfo" action="" method="post">
<input type="hidden" name="operationType" id="operationType" value="6">
<input type="hidden" name="autelId" id="autelId" value="${customerInfo.autelId!''}">
<input type="hidden" name="actCode" id="actCode" value="${customerInfo.actCode!''}">
<div >
        <div class="my_products">
        	<div class="registe_infor">
				<h3 class="infor_mation">${bundle("accountinformation.manage.autelid")} </h3>
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.autelid.name")}:</td>
					    <td width="300">${customerInfo.autelId!''}</td>
					    <td>
						  <span id="isshowEdit" style="display:none"> <a class="font14red"  href="updateCustomerAutelID.html?operationType=5" style="color:#08c;">${bundle("common.list.mod")} ></a>
						  </span>
					  </td>
					  </tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
				</table>
				<h3 class="infor_mation">${bundle("accountinformation.preferredlanguage.name")}</h3>
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.preferredlanguage.name2")}:</td>
					    <td width="300"><#if languageInfo??>${languageInfo.name!""}</#if></td>
					    <td><a class="font14red" href="updateCustomerLanguage.html?operationType=5" style="color:#08c;">${bundle("common.list.mod")} ></a></td>
					  </tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
				</table>
            	<h3 class="infor_mation">${bundle("accountinformation.manage.information")}</h3>
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.first.name")}:</td>
					    <td width="300">${customerInfo.firstName!''}</td>
					    <td><a class="font14red" href="updateCustomerInformation.html?operationType=5" style="color:#08c;">${bundle("common.list.mod")} ></a></td>
					  </tr>
<!-- 					  <tr id="middleNameDiv" style="display:none;"> -->
<!-- 					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.middle.name")}:</td> -->
<!-- 					    <td>${customerInfo.middleName!''}</td> -->
<!-- 					    <td>&nbsp;</td> -->
<!-- 					  </tr> -->
					<tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.last.name")}:</td>
					    <td>${customerInfo.lastName!''}</td>
					    <td>&nbsp;</td>
					</tr>
					<tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.sex")}:</td>
					    <td>
						    <#if customerInfo.sex == "1">
						    	${bundle("accountinformation.sex.man")}
						    <#elseif customerInfo.sex == "2">
						    	${bundle("accountinformation.sex.private")}
						    <#else>
						    	${bundle("accountinformation.sex.wo")}
						    </#if>
					    </td>
					    <td>&nbsp;</td>
					</tr>
					<tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.birthdate")}:</td>
					    <td>${customerInfo.birthdate!''}</td>
					    <td>&nbsp;</td>
					</tr>
					<tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.company.name")}:</td>
					    <td>${customerInfo.company!''}</td>
					    <td>&nbsp;</td>
					  </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.address.name")}:</td>
					    <td>${customerInfo.address!''}</td>
					    <td>&nbsp;</td>
					  </tr>
					
					
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.city.name")}:</td>
					    <td>${customerInfo.city!''}</td>
					    <td>&nbsp;</td>
					  </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.country.name")}:</td>
					    <td>${customerInfo.country!''}</td>
					    <td>&nbsp;</td>
					  </tr>
					  
					   <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("regcustomer.info.province")}:</td>
					    <td>${customerInfo.province!''}</td>
					    <td>&nbsp;</td>
					  </tr>
					  
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.zipcode.name")}:</td>
					    <td>${customerInfo.zipCode!''}</td>
					    <td>&nbsp;</td>
					  </tr>
					  
					   <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("memberman.sealerinfoman.phone.number")}:</td>
					    <td>${customerInfo.telephone!''}</td>
					    <td>&nbsp;</td>
					  </tr>
<!-- 					  <tr> -->
<!-- 					    <td align="right" width="238" style="padding-right:16px">${bundle("memberman.sealerinfoman.phonec")}:</td> -->
<!-- 					    <td> -->
<!-- 						    <#if customerInfo.daytimePhoneCC ?? && customerInfo.daytimePhoneCC != ''>${customerInfo.daytimePhoneCC!''}&nbsp;&nbsp;</#if> -->
<!-- 						    <#if customerInfo.daytimePhoneAC ?? && customerInfo.daytimePhoneAC != ''>${customerInfo.daytimePhoneAC!''}&nbsp;&nbsp;</#if> -->
<!-- 						    ${customerInfo.daytimePhone!''} -->
<!-- 					    </td> -->
<!-- 					    <td>&nbsp;</td> -->
<!-- 					  </tr> -->
<!-- 					  <tr> -->
<!-- 					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.mobilephone.name")}:</td> -->
<!-- 					    <td> -->
<!-- 						    <#if customerInfo.mobilePhoneCC ?? && customerInfo.mobilePhoneCC != ''>${customerInfo.mobilePhoneCC!''}&nbsp;&nbsp;</#if> -->
<!-- 						    <#if customerInfo.mobilePhoneAC ?? && customerInfo.mobilePhoneAC != ''>${customerInfo.mobilePhoneAC!''}&nbsp;&nbsp;</#if> -->
<!-- 						    ${customerInfo.mobilePhone!''} -->
<!-- 					    </td> -->
<!-- 					    <td>&nbsp;</td> -->
<!-- 					  </tr> -->
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
				</table>
				
<!-- 				<table width="790" border="0">
					<tr>
						<td align="right" width="238" style="padding-right:16px"></td>
					    <td width="300"></td>
						<td ><h6><a href="updatePasswordCustomer.html?operationType=7"><font color="red"> ${bundle("customer.resetpassword.name")} </font></a></h6></td>
					    <td align="right" width="238" style="padding-right:16px"><h6><a href="updatePasswordCustomer.html?operationType=7">${bundle("customer.resetpassword.name")} </a><img src="themes/autel/images/jiant.gif" width="10" height="10" /></h6></td>
					    <td>${bundle("mydistributor.resetyourpassword.name")}</td>
					    <td>&nbsp;</td>

						<h6><a href="updatePasswordCustomer.html?operationType=7">${bundle("customer.resetpassword.name")} </a><img src="themes/autel/images/jiant.gif" width="10" height="10" /></h6>
		                      <p>${bundle("mydistributor.resetyourpassword.name")}</p>
		            </tr>
                </table> -->
<!-- 				<h3 class="infor_mation">${bundle("accountinformation.manage.autelsupportusername")} </h3> -->
<!--             	<table width="790" border="0"> -->
<!-- 					  <tr> -->
<!-- 					    <td align="right" width="238" style="padding-right:16px">${bundle("memberman.complaintman.username")}:</td> -->
<!-- 					    <td width="300">${customerInfo.comUsername!''}</td> -->
<!-- 					    <td><a class="font14red" href="updateCustomerComUsername.html?operationType=5" style="color:#08c;">${bundle("common.list.mod")} ></a></td> -->
<!-- 					  </tr> -->
<!-- 	        	 	<tr> -->
<!-- 			            <td class="">&nbsp;</td> -->
<!-- 			        </tr> -->
<!-- 				</table> -->
				
<!-- 				<h3 class="infor_mation"> ${bundle("accountinformation.manage.secondemail")} </h3> -->
<!--             	<table width="790" border="0"> -->
<!-- 					  <tr> -->
<!-- 					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.second.email")}:</td> -->
<!-- 					    <td width="300">${customerInfo.secondEmail!''}</td> -->
<!-- 					    <td><a class="font14red" href="updateCustomerSecondEmail.html?operationType=5" style="color:#08c;">${bundle("common.list.mod")} ></a></td> -->
<!-- 					  </tr> -->
<!-- 	        	 	<tr> -->
<!-- 			            <td class="">&nbsp;</td> -->
<!-- 			        </tr> -->
	        	 
<!-- 				</table> -->
				
<!-- 				<h3 class="infor_mation">${bundle("accountinformation.manage.answer")} </h3> -->
<!--             	<table width="790" border="0"> -->
<!-- 					  <tr> -->
<!-- 					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.user.regsecquestion")}:</td> -->
<!-- 					    <td width="300"> -->
<!-- 		                        <#list questionInfoList as questionDesc> -->
<!-- 			                        	<#if customerInfo.questionCode ?? && customerInfo.questionCode == questionDesc.questionCode> -->
<!-- 			                        		${questionDesc.questionDesc!''} -->
<!-- 			                        	</#if> -->
<!-- 								</#list> -->
<!-- 					    </td> -->
<!-- 					    <td><a class="font14red" href="updateCustomerQuestion.html?operationType=5" style="color:#08c;">${bundle("common.list.mod")} ></a></td> -->
<!-- 					  </tr> -->
<!-- 	        	 	<tr> -->
<!-- 			            <td class="">&nbsp;</td> -->
<!-- 			        </tr> -->
<!-- 	        	 	<tr> -->
<!-- 			            <td class="">&nbsp;</td> -->
<!-- 			        </tr> -->
<!-- 	        	 	<tr> -->
<!-- 			            <td class="">&nbsp;</td> -->
<!-- 			        </tr> -->
<!-- 	        	 	<tr> -->
<!-- 			            <td class="">&nbsp;</td> -->
<!-- 			        </tr> -->
<!-- 				</table> -->
            	</div>
        </div>
    </div>
</div>
</form>
<#else>
<script type="text/javascript">
window.location="login.html";
</script>
</#if>