<script>
function rentYear(){
	var year=$("#rentYear");
	if(year.val() == "" || year.val() == "0"){
		year.attr("value",1);
	}else{
		year.attr("value",year.val().replace(/\D+/g,'1'));
	}
}

function jump(url){

	var tmpForm = $("<form  method='post'></form>");
	$(tmpForm).attr("action",url);
	tmpForm.appendTo(document.body).submit();
}
function addtoCart(){
	var type=$("#isRenew").val();
	var isSoft=$("#isSoft").val();
	var minSaleUnitCode=$("#minSaleUnitCode").val();
	var serialNo=$("#serialNo").val();
	var areaCfgCode=$("#areaCfgCode").val();
	var picPath=$("#picPath").val();
	var year=$("#rentYear").val();
	$.ajax({
		url:'front/usercenter/customer/addtocart.do',
		type:'post',
		data:{"type":type,"minSaleUnitCode":minSaleUnitCode,"isSoft":isSoft,"serialNo":serialNo,"areaCfgCode":areaCfgCode,"year":year,"picPath":picPath},
		dataType:'JSON', 
		success:function(data){
			var jsonData=eval(data);
			jump("addToCart.html?isSuccess="+jsonData[0].addResult);
		},
		error:function(){
			
		}
	});
}
</script>
<#macro cfgSoftRent names>
	<#assign minSaleUnitName=""> 
	<#if names??>
			<#list names as minSaleUnitsMemo> 
				<#assign minSaleUnitName=minSaleUnitName+minSaleUnitsMemo.name> 
				<span sname="${minSaleUnitsMemo.name!''}" des="${minSaleUnitsMemo.memo!''}" style="display: none;"></span>
				<#if minSaleUnitsMemo_has_next>
						<#assign minSaleUnitName=minSaleUnitName+"、"> 
				</#if>
			</#list>
	</#if>
	<#if (minSaleUnitName?length>=10) >
				${minSaleUnitName?substring(0,9)}...
		<#else>
				${minSaleUnitName}
	</#if>
</#macro>
<#macro title names>
<#assign minSaleUnitName="">
<#if names??>
<#list names as minSaleUnitsMemo>
<#assign minSaleUnitName=minSaleUnitName+minSaleUnitsMemo.name>
<#if minSaleUnitsMemo_has_next><#assign minSaleUnitName=minSaleUnitName+'&#10'></#if>
</#list>
</#if>${minSaleUnitName}
</#macro>

<#macro minSaleUnitCode names><#assign code=""><#if names??><#list names as minSaleUnitsMemo><#assign code=code+minSaleUnitsMemo.minSaleUnitcode><#if minSaleUnitsMemo_has_next><#assign code=code+"-"></#if></#list></#if>${code?trim}</#macro>
<h4></h4>
<#if minSaleUnitInfo??>
<div class="my_products_re">
        	<dl>
           	  <dt class="clearfix">
           	  	<div class="my_pr_in530"></div>
               	<div class="my_pro_pic69" align="center"><img src="${minSaleUnitInfo.picpath!'' }" width="130" height="120" /></div>
                <div class="carttt2530">
                	<h3 class="clearfix" style="line-height:32px;"><span style=" float:right"><input name="" type="button" value="${bundle('soft.backbutton.name')}" class="renew3" onclick="window.history.back();"/></span><label class="cart_name">${minSaleUnitInfo.minSaleUnitName}</label></h3>
                    <h5></h5>
                    <div class="my_table">
                    	<table width="560" border="0">
  <tr>
    <td colspan="6" align="left" style="font-size:12px;  color:#666666; line-height:24px;padding-top:4px;">${bundle("myproducts.sn.name")}: ${serialNo}</td>
    </tr>
    <tr>
    <td colspan="6" align="left" style="font-size:12px; color:#666666; line-height:24px;">${bundle("myproducts.listPrice.name")}: <span style=" text-decoration:line-through;">$${minSaleUnitInfo.price}</span></td>
    </tr>
    <tr>
    <td colspan="6" align="left" style="font-size:12px; padding-left:22px;  color:#666666; line-height:24px;">${bundle("order.price.name")}: <span style="font-size:20px; color:#84171c;font-weight:bold;">$${minSaleUnitInfo.discountPrice}</span></td>
    </tr>
    <#if isRenew ==1>
	    <!-- <tr>
	    	<td colspan="6" align="left" style="font-size:12px;color:#666666; line-height:24px;"><span style="color:#e47911;">${bundle("myproducts.exp.name")}:${minSaleUnitInfo.date }</span></td>
	    </tr> -->
    </#if>
  <tr height="26">
  	<#if isRenew ==1>
  		<#if minSaleUnitInfo.isValid == 0>
  			<td colspan="6" align="left"  style="color:#000000;">${bundle("myproducts.renewal.name")}<input name="" id="rentYear" type="text" class="re_year" style="text-align:center;" value="1" maxLength="2" onkeyup="value=this.value.replace(/\D+/g,'');rentYear();"/> ${bundle("myproducts.year.name")}</td>
  		<#else>
  			<td colspan="6" align="left"  style="color:#000000;">${bundle("myproducts.renewal.name")}<input name="" id="rentYear" type="text" class="re_year" style="text-align:center;" value="1" readonly="readonly"/> ${bundle("myproducts.year.name")}</td>
  		</#if>
  	<#else>
  		<td colspan="6" align="left" id="rentYear" style="color:#000000;">${bundle("myproducts.new.name")}</td>
  	</#if>
  </tr>
  <tr height="10" style="border-top:#cccccc 1px solid; padding-top:4px;">
  	<td></td>
  </tr>
  <tr>
   	<td colspan="6" align="left"  style="WORD-BREAK: normal; WORD-WRAP: break-word">
   		${minSaleUnitInfo.memoDetail!''}
	</td>
  </tr>
  <tr>
    <td colspan="6" align="left">
    	<input name="" onclick="addtoCart();" type="button" value="${bundle('myproducts.addcart.name')}" class="renew1" style="margin-top:10px;" />
    	<input id="isRenew" type="hidden" value="${isRenew}">
    	<input id="isSoft" type="hidden" value="1">
    	<input id="minSaleUnitCode" type="hidden" value="${minSaleUnitInfo.minSaleUnitCode}">
    	<input id="serialNo" type="hidden" value="${serialNo}">
    	<input id="picPath" type="hidden" value="${minSaleUnitInfo.picpath}">
    	<input id="areaCfgCode" type="hidden" value="${minSaleUnitInfo.areaCfgCode}">
    	
    </td>
  </tr>
</table>
                    </div>
                </div>
              </dt>
            </dl>
</div>
</#if>

<#if cfgSoftRentInfoVO??>
<div class="my_products_re">
        	<dl>
           	  <dt class="clearfix">
           	  	<div class="my_pr_in530"></div>
               	<div class="my_pro_pic69" align="center"><img src="${cfgSoftRentInfoVO.cfgpicpath!''}" width="130" height="120" /></div>
                <div class="carttt2530">
                	<h3 class="clearfix" style="line-height:32px;"><span style=" float:right"><input name="" type="button" value="${bundle('soft.backbutton.name')}" class="renew3" onclick="window.history.back();"/></span><label class="cart_name">${cfgSoftRentInfoVO.saleCfgName }</label></h3>
                    <h5></h5>
                    <div class="my_table">
                    	<table width="560" border="0">
  <tr>
    <td colspan="6" align="left" style="font-size:12px;  color:#666666; line-height:24px;padding-top:4px;">${bundle("myproducts.sn.name")}: ${serialNo}</td>
    </tr>
    <tr>
    <td colspan="6" align="left" style="font-size:12px; color:#666666; line-height:24px;">${bundle("myproducts.listPrice.name")}: <span style=" text-decoration:line-through;">$${cfgSoftRentInfoVO.price!'0'}</span></td>
    </tr>
    <tr>
    <td colspan="6" align="left" style="font-size:12px; padding-left:22px;  color:#666666; line-height:24px;">${bundle("order.price.name")}: <span style="font-size:18px; color:#84171c;font-weight:bold;">$${cfgSoftRentInfoVO.discountPrice!'0'}</span></td>
    </tr>
    <!--  <tr>
    	<td colspan="6" align="left" style="font-size:12px;color:#666666; line-height:24px;"><span style="color:#e47911;">${bundle("myproducts.exp.name")}:${cfgSoftRentInfoVO.date }</span></td>
    </tr> -->
    
  <tr height="26">
  <#if cfgSoftRentInfoVO.isValid == 0>
    	<td colspan="6" align="left"  style="color:#000000;">${bundle("myproducts.renewal.name")}<input name="" id="rentYear" type="text" class="re_year"  style="text-align:center;" value="1" maxLength="2" onkeyup="value=this.value.replace(/\D+/g,'');rentYear();"/> ${bundle("myproducts.year.name")}</td>
    <#else>
    	<td colspan="6" align="left" style="color:#000000;">${bundle("myproducts.renewal.name")}<input name="" id="rentYear"  type="text" class="re_year" style="text-align:center;" value="1" readonly="readonly"/> ${bundle("myproducts.year.name")}</td>
  </#if>
  </tr>
   <tr height="10" style="border-top:#cccccc 1px solid; padding-top:4px;">
  	<td></td>
  </tr>
  <tr>
    	<td colspan="6" align="left" style="WORD-BREAK: normal; WORD-WRAP: break-word">
    	<pre style="white-space: pre-wrap;word-wrap: break-word;font: 13px">${cfgSoftRentInfoVO.memo!''}</PRE>
	</td>
  </tr>
  <tr>
    <td colspan="6" align="left">
    <input name="" onclick="addtoCart();" 
    		type="button" value="${bundle('myproducts.addcart.name')}" class="renew1" style="margin-top:10px;" />
	    	<input id="isRenew" type="hidden" value="1">
	    	<input id="isSoft" type="hidden" value="0">
	    	<input id="minSaleUnitCode" type="hidden" value="${cfgSoftRentInfoVO.saleCfgCode}">
	    	<input id="serialNo" type="hidden" value="${serialNo}">
	    	<input id="picPath" type="hidden" value="${cfgSoftRentInfoVO.cfgpicpath!''}">
	    	<input id="areaCfgCode" type="hidden" value="${cfgSoftRentInfoVO.areaCfgCode}">
    	</td>
    </tr>
</table>
                    </div>
                </div>
              </dt>
            </dl>
</div>
</#if>
        
        
        
<div style="font-size:20px;color:#999999; margin-top:20px;padding-top:6px;padding-bottom:6px;padding-left:18px;padding-right:7px; font-weight:bold;">${bundle("soft.programrenewal.name2")}</div>
<div class="jss_xx">
 <table width="791" border="0">
  <tr class="tool_title">
    <td width="170">${bundle("soft.name")} </td>
    <td width="170">${bundle("soft.versionno.name")} </td>
    <td width="170">${bundle("soft.releasedate.name")} </td>
    <td>${bundle("softe.latestfeaturediscription.name")} </td>
  </tr>
  <#if minSaleUnitSoftwareVO?has_content>
	  	<#list minSaleUnitSoftwareVO as soft>
	  		<#if (soft_index+1) % 2 == 0>
	  			<tr class="tr_bg" height="40">
				    <td>${soft.name}</td>
				    <td>${soft.versionNo}</td>
				    <td>${soft.releaseDate}</td>
				    <td><a href="minSaleUnitSoftwareDetail.html?softwareVersionCode=${soft.versionCode}&name=${soft.name}&versionNo=${soft.versionNo}&releaseDate=${soft.releaseDate2}" style=" font-size:14.5px; color:#0085cd;">${bundle("customercomplaint.view.name")} <img src="themes/autel/images/view.gif" width="18" height="18" /></a></td>
			  	</tr>
			 <#else>
			  	<tr height="40">
				    <td>${soft.name}</td>
				    <td>${soft.versionNo}</td>
				    <td>${soft.releaseDate}</td>
				    <td><a href="minSaleUnitSoftwareDetail.html?softwareVersionCode=${soft.versionCode}&name=${soft.name}&versionNo=${soft.versionNo}&releaseDate=${soft.releaseDate2}" style=" font-size:14.5px; color:#0085cd;">${bundle("customercomplaint.view.name")} <img src="themes/autel/images/view.gif" width="18" height="18" /></a></td>
	  			</tr>
	  		</#if>
	  	</#list>
	  
	  
  </#if>
 
  
 </table>
</div>
