<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style type="text/css">
* {margin:0px;padding:0px;}
html,body { height:100%;}
#tip 
{
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 0px;
	width: 200px;
	border: 1px solid #CCCCCC;
	background-color: #ffffff;
	padding: 1px;
	overflow:hidden;
	display:none;
	font-size:12px;
	z-index:10;
}
#tip p { padding:6px;}
#tip h1,#detail h1
{
	font-size:14px;
	height:25px;
	line-height:25px;
	background-color:#e40210;
	color:#FFFFFF;
	padding:0px 3px 0px 3px;
	filter: Alpha(Opacity=100);
}
#tip h1 a,#detail h1 a 
{
	float:right;
	text-decoration:none;
	color:#FFFFFF;
}

#shadow 
{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000000;
	z-index:11;
	filter: Alpha(Opacity=70);
	display:none;
	overflow:hidden;
}

#detail 
{
	width:500px;
	height:200px;
	border:3px double #ccc;
	background-color:#FFFFFF;
	position:absolute;
	z-index:30;
	display:none;
	left:30%;
	top:30%
}
</style>
<input type="hidden" id="userType" name="userType" value="1"/>
<div class="my_message">
				
            	<div class="mess_one clearfix">
                	<div class="message_pic"><img src="themes/autel/images/feiji.png" width="96" height="85" /></div>
                    <div class="message_wor">
<!--                     	<h6><a href="myMessageInfo-1-1.html?userType=1">${bundle("customer.mymessage.name")}</a> -->
<!--                     		<img src="themes/autel/images/jiant.gif" width="10" height="10" /> -->
<!--                     	</h6> -->
<!--                         <p>${bundle("mydistributor.viewmymessage.name")}</p> -->
                        <h6><a href="regProduct.html?m=1">${bundle("customer.proregister.name")} </a><img src="themes/autel/images/jiant.gif" width="10" height="10" /></h6>
                        <p>${bundle("customer.regyourproducts.name")}</p>
                    </div>
                </div>
            	<div class="mess_two clearfix">
                	<div class="message_pic"><img src="themes/autel/images/shez.gif" width="96" height="85" /></div>
                    <div class="message_wor">
                    	<h6><a href="updateCustomerInfo.html?operationType=5">${bundle("customer.accountinfomation.name")} </a> <img src="themes/autel/images/jiant.gif" width="10" height="10" /></h6>
                      <p>${bundle("customer.editaccountinfomation.name")}</p>
                        <h6><a href="updatePasswordCustomer.html?operationType=7">${bundle("customer.resetpassword.name")} </a><img src="themes/autel/images/jiant.gif" width="10" height="10" /></h6>
                      <p>${bundle("mydistributor.resetyourpassword.name")}</p>
                    </div>
                </div>
</div>
  <div class="expir">
  	<div class="mess_one clearfix">
      	<div class="message_pic"><img src="themes/autel/images/exp.gif" width="96" height="85" /></div>
          
          <div class="message_wor">
<!--           	<h6><a href="myProducts-1-1.html">${bundle("customer.expiringsoftware.name")} </a> <img src="themes/autel/images/jiant.gif" width="10" height="10" /></h6> -->
<!--               <p>${bundle("customer.vierexpiringsoftware.name")}</p> -->
              <h6><a href="queryProductToolsList.html?operationType=1">${bundle("customer.toolsdownload.name")}</a> <img src="themes/autel/images/jiant.gif" width="10" height="10" /></h6>
              <p>${bundle("customer.viewtoolsdownload.name")}</p>
          </div>
      </div>
      <div class="mess_two clearfix">
      <div class="message_pic"><img src="themes/autel/images/message.gif" width="96" height="85" /></div>
<!--       	<div class="message_pic"><img src="themes/autel/images/order.gif" width="96" height="85" /></div> -->
          <div class="message_wor">
          <h6><a href="myMessageInfo-1-1.html?userType=1">${bundle("customer.mymessage.name")}</a>
                    		<img src="themes/autel/images/jiant.gif" width="10" height="10" />
                    	</h6>
                        <p>${bundle("mydistributor.viewmymessage.name")}</p>
<!--           	<h6><a href="myOrders-1-1.html">${bundle("customer.myorders.name")} (${orderNumber}) <img src="themes/autel/images/jiant.gif" width="10" height="10" /></a></h6> -->
<!--             <p>${bundle("customer.vieworders.name")}</p> -->
<!--               <h6><a href="cart.html?way=1">${bundle("customer.mycart.name")} (${shoppingCarNumber}) <img src="themes/autel/images/jiant.gif" width="10" height="10" /></a></h6> -->
<!--             <p>${bundle("customer.viewcart.name")}</p> -->
          </div>
     </div>
</div>
<div id="tip"><h1><a href="javascript:void(0)" onclick="start()">×</a>${bundle("mydistributor.your.have")}<span id="message_count_id">0</span>&nbsp;${bundle("mydistributor.have.newmesage")}</h1>
    <p></p>
   <#list messageList as item>
   		<p><a href="javascript:queryMessageInfo('${item.title!''}','${item.code!''}','${userType!''}','${userCode!''}','0')" ><@substring title="${item.title!''}" length="22" dot="..." /> </a></p>
	</#list>
	<p><a href="myMessageInfo-1-1.html?userType=1" >${bundle("mydistributor.query.all")}</a></p>
</div>


