<h4 style="padding-right:0px">${bundle("autel.menu.myproduct")} (${productCount!0})
<input type="hidden" name="remarkDesc" id="remarkDesc" value="${bundle('myproduct.remark.enter')}"/>
<input type="hidden" name="OKValue" id="OKValue" value="${bundle('common.btn.ok')}"/>
<input type="hidden" name="CancelValue" id="CancelValue" value="${bundle('common.previous.name')}"/>
<!-- <#if showFlag=="no"> -->
<!--     <span> -->
<!--     <input type="text" name="remark" id="remark" value="${remark!''}" style="border-bottom: #c0c0c0 1px solid; border-left: #c0c0c0 1px solid; line-height: 22px; width: 150px; height: 24px; border-top: #c0c0c0 1px solid; border-right: #c0c0c0 1px solid;display:none" /> -->
<!--     <input id="productManager" onclick="jump('productManage.html')" name="productManager" type="button" value="${bundle('myproduct.manage.title')}" class="renew_lan2" /> -->
<!--     </span> -->
<!-- <#else> -->
<!--     <span> -->
    
<!--     <input type="text" name="remark" id="remark" value="${remark!''}" style="border-bottom: #c0c0c0 1px solid; border-left: #c0c0c0 1px solid; line-height: 22px; width: 150px; height: 24px; border-top: #c0c0c0 1px solid; border-right: #c0c0c0 1px solid;" /> -->
<!--     <input id="productManager" style="margin-bottom: 0px;" onclick="javascript:changePageNo('${pagesize!''}')" name="productManager" type="button" value="${bundle('common.btn.search')}" class="renew3" /> -->
<!--     </span> -->
<!-- </#if> -->
</h4>
    <div class="my_products">
        <dl>
            <#list myProducts as myProduct>
                        <dt class="clearfix myProductdt" id="dt_${myProduct.proSerialNo!''}">
                            <div class="my_pr_in"></div>
                            <div class="my_pro_pic"><img src="${myProduct.picPath!''}" width="185" height="127" /></div>
                            <div class="extend">
                                <h3>${myProduct.proTypeName!"" }
                                <#if myProduct.remark??&&myProduct.remark!="">
                                 <span id="remarkDesc" style="font-size: 12.5px; margin-left: 0px;">(${myProduct.remark})</span>
                                </#if>
                                
<!--                                 <span id="remarkEdit" style="float:right"> -->
<!--                                 <a onclick="javascript:addRemark('${myProduct.proCode!''}','${myProduct.proSerialNo!''}','${myProduct.remark!''}')" style="color:#08c;">${bundle("myproduct.remark.edit")}</a> -->
<!--                                 </span>  -->
                                
                                
                                </h3>
                                <div class="s_n">
                                    <span width="200">${bundle("myproducts.sn.name")}:&nbsp;${myProduct.proSerialNo }</span>
                                    <span style="padding-left:50px" width="200">${bundle("myproducts.regisreationdate.name")}:&nbsp;${myProduct.proRegTime!"" }</span>
                                    
                                </div>
<!--                                 <div class="s_n"> -->
<!--                                 <span width="200">${bundle("myproducts.exp.name")}:&nbsp;${myProduct.proRegTime!"" } - ${myProduct.validDate!"" } -->
                                
<!--                                 <#if myProduct.isUpgradeFlag=="1"> -->
<!--                                   <font color="#e47911">${bundle("customer.myproduct.have.update")}</font>  -->
<!--                                 <#else> -->
<!--                                   <font color="#e47911">${bundle("customer.myproduct.have.no.update")}</font>  -->
<!--                                 </#if> -->
<!--                                 </span> -->
<!--                                 </div> -->
                                
<!--                                 <div class="warranty">${bundle("myproducts.warrantyperiod.name")}&nbsp;:&nbsp;${myProduct.proDate!"" } - ${myProduct.period!"" } -->
<!--                                 <div class="warranty">${bundle("myproducts.warrantyperiod.name")}&nbsp;:&nbsp;${myProduct.proRegTime!"" } - ${myProduct.period!"" } -->
                                <#if myProduct.rgaFlag??&&myProduct.rgaFlag!=""><a style="color:#08c;" href="myRGAInfo.html?operationType=6&code=${myProduct.rgaFlag}">RGA</a></#if>
                                </div>
                                <!-- <h5></h5>
                                <div style="padding-top:10px">
                                    <#if myProduct.renewButton=="0">
                                     <input name="" class="renew_lan2" value="${bundle('myproducts.extend.name')}" type="button"  onclick="Extend('${myProduct.proSerialNo}','${myProduct.proTypeName }','${myProduct.saleContractCode}','${myProduct.proCode}','${myProduct.picPath}');" />
                                    </#if>
                                    
                                     <#if myProduct.renewButton=="1">
                                     <input name="" class="renew_lan2" value="${bundle('my.product.software.list')}" type="button"  onclick="getSoftwareList('${myProduct.proSerialNo}','${myProduct.proTypeName }','${myProduct.saleContractCode}','${myProduct.proCode}','${myProduct.picPath}');" />
                                    </#if>
                                </div> -->
                            </div>
                          </dt>
                          <#if (myProduct_index+1)!= myProducts?size>
                            <dd></dd> 
                          </#if>
            </#list>
            <#if pager != "">
                <div class="check clearfix">
                <span>
                <select name="pagesize" class="my_page" id="pagesize" onchange="changePageNo(this.value)">
                                <option value="2" <#if pagesize=="2">selected</#if> >2</option>
                                <option value="5" <#if pagesize=="5">selected</#if>>5</option>
                                <option value="50" <#if pagesize=="50">selected</#if>>50</option>
                                <option value="100" <#if pagesize=="100">selected</#if>>100</option>
                </select>
</span>
                ${pager}            
                </div>
                <#else>
                <div class="check clearfix">
                <select name="pagesize" class="my_page" id="pagesize" onchange="changePageNo(this.value)">
                <option value="2" <#if pagesize=="2">selected</#if> >2</option>
                <option value="5" <#if pagesize=="5">selected</#if>>5</option>
                <option value="50" <#if pagesize=="50">selected</#if>>50</option>
                <option value="100" <#if pagesize=="100">selected</#if>>100</option>
</select>
                </div>
            </#if>
            
            
        </dl>
    </div>