<div class="account_right">
    	<h4>${bundle("customer.myorders.name")}</h4>
        <div class="order_lac">
        <span>
        <select name="" class="placed_tt" id="orderDate">
        	<#if orderDate == 1>
    			<option value="0" >${bundle("order.nearly")}</option>
			<option value="1" selected="selected">${bundle("order.ago")}</option>
		<#else>
			<option value="0" selected="selected">${bundle("order.nearly")}</option>
			<option value="1">${bundle("order.ago")}</option>
    		</#if>
        </select>
        </span>
        <select name="" class="placed1_tt" id="orderState">
        		<#if orderState == 2>
	    			<option value="2" selected="selected">${bundle("order.all")}</option>
				<option value="1">${bundle("order.valid")}</option>
				<option value="0">${bundle("order.canceled")}</option>
    			</#if>	
    			<#if orderState == 1>
		    		<option value="2" >${bundle("order.all")}</option>
				<option value="1" selected="selected">${bundle("order.valid")}</option>
				<option value="0">${bundle("order.canceled")}</option>
	    		</#if>
    			<#if orderState == 0>
    				<option value="2" >${bundle("order.all")}</option>
				<option value="1" >${bundle("order.valid")}</option>
				<option value="0" selected="selected">${bundle("order.canceled")}</option>
    			</#if>
    	</select>
        </div>
        <#list orderPageDatas as data>
	        <div class="my_products clearfix">
	        	<div class="da_left">
	            	<ul>
	                	<li style="font-size:12.5px; color:#666666">${bundle("order.time.name")}: <label style="font-size:14px; color:#666666">${data.orderInfo.orderDate}</label></li>
	                    <li style="font-size:5px; color:#000000">&nbsp;</li>
	                    <li style="font-size:12.5px; color:#000000">${bundle("order.number.name")}: ${data.orderInfo.code}</li>
	                    <li style="font-size:2px; color:#000000">&nbsp;</li>
	                    <li style="font-size:14px; color:#000000"><strong>${bundle("mysales.total.name")}: <span style="color:#990000;font-weight:bold;font-size:20px;">$${data.orderInfo.orderMoney}</span></strong></li>
	                </ul>
	            </div>
	        	<div class="da_right">
	        	<div style="color:#e47911;font-size:18px;margin-left:18px;">
	        		<#if data.orderInfo.orderState == 0>
	            		${bundle("memberman.customman.canceled")}
	            		<#else>
	            		<#if data.orderInfo.orderPayState == 1>
	            			<#if data.orderInfo.recConfirmState == 0>
	            			${bundle("order.wait")}
	            			<#else>
	            			${bundle("order.completed.name")}
	            			</#if>
	            		<#else>
	            			${bundle("order.nopay")}
	            		</#if>
	            	</#if>
	            </div>
	            <div style="border-top:#dcdcdc 1px dashed; margin-left:8px;"></div>
	        	<#list data.details as detail >
	        		<#list detail.minSaleUnitDetails as minSaleUnit >
	        		
		       	    	<div class="clearfix ll69">
		                	   <div class="mx_left"><img src="${detail.picPath!''}" width="80" height="91" /></div>
		              	   <div class="mx_right">
		                    	<div style="font-size:16px;"><strong>${minSaleUnit.saleName}</strong></div>
		                        <div style="font-size:14px; color:#666666; margin-bottom:5px;">${bundle("myproducts.sn.name")}: ${detail.proSerialNo}</div>
		                        <div style="font-size:13px;">Price: <span style="color:#990000;">$${minSaleUnit.minSaleUnitPrice}</span></div>
		                        <#if minSaleUnit.consumeType == 1>
		                         	<div style="font-size:13px;">${bundle("myproducts.renewal.name")} ${minSaleUnit.year} ${bundle("myproducts.year.name")}</div>
		                        <#else>
		                         	<div style="font-size:13px;">${bundle("myproducts.new.name")}</div>
		                        </#if>
		                       
		                    </div>
		              	</div>
		               
	                </#list>
	             </#list>
	                <div>
	                	<div class="check_cancel69 clearfix">
		            	<div style="font-size:14px; float:left;"><span class="chickall"></span></div>
		                	<div class="my_check_mo">
		                	<span style="display:block; width:105px; float:left">
			                	<#if data.orderInfo.orderState==1> 
							<#if data.orderInfo.orderPayState ==0> 
								<input name="" type="button" value="${bundle('order.checkout.name')}" class="renew2" onclick="javascript:jump('OnlinePay.html?orderInfoCode=${data.orderInfo.code}');"/><br />
					                	<input name="" type="button" value="${bundle('order.cancel.name')}" class="renew3" onclick="closeOrder('${data.orderInfo.code}');"/>
					             <#else>
					                	<input name="" type="button" value="${bundle('order.view.name')}" class="renew4" onclick="javascript:jump('orderDetailInfo.html?orderCode=${data.orderInfo.code}');"/>
							</#if>
						<#else>
					              <input name="" type="button" value="${bundle('order.view.name')}" class="renew4" onclick="javascript:jump('orderDetailInfo.html?orderCode=${data.orderInfo.code}');"/>
						</#if> 
		                	</span>
		                </div>
	            	</div>
	                </div>
	                
            	</div>
	      		
	        </div>
        </#list>
       <#if pager != "">	
		<div style="border-bottom:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;width:790px;margin-top:25px;">
			<div class="check clearfix">
				${pager}			
			</div>
		</div>
	</#if>
 </div>
