<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div class="policy">
	<h4><img src="${imagePath}/images/${bundle('accountinformation.regeffectivestatement.img')}" width="238" height="23" /></h4>
    <dl>
    	<dd>${bundle("accountinformation.regprivacystatement.name")}</dd>
        <dt>1. ${bundle("accountinformation.reggeneral.name")}:</dt>
        <dd>${bundle("accountinformation.regrespectstatement.name")}</dd>
    	<dt>2. ${bundle("accountinformation.reginformationwebsite.name")}:</dt>
    	<dd>${bundle("accountinformation.regprivacyinformation.name")}</dd>
        <dt>3. ${bundle("accountinformation.regpersonallycollect.name")}:</dt>
        <dd>${bundle("accountinformation.regvisitaccess.name")} </dd>
        <dd>${bundle("accountinformation.regsiteinformation.name")}</dd>
        <dt>4. ${bundle("accountinformation.regpersonallycollect.name")}:</dt>
        <dd>${bundle("accountinformation.regpersonallyidentifi.name")}:</dd>
        <dd>
        	<p>${bundle("accountinformation.regfufillinformation.name")}</p>
            <p>${bundle("accountinformation.regrespondinformation.name")}</p>
            <p>${bundle("accountinformation.regmeetservices.name")}</p>
            <p>${bundle("accountinformation.regmakefriendly.name")}</p>
            <p>${bundle("accountinformation.regcontactservice.name")}</p>
            <p>${bundle("accountinformation.reggenerateservice.name")}</p>
            <p>${bundle("accountinformation.regcompiledatabase.name")}</p>
            <p>${bundle("accountinformation.regcomplylegal.name")}</p>
        </dd>
        <dt>5. ${bundle("accountinformation.regothervisitor.name")}:</dt>
        <dd>${bundle("accountinformation.reginformationsite.name")}</dd>
        <dd>${bundle("accountinformation.regprimarydesign.name")}</dd>
        <dd>${bundle("accountinformation.regsessioninformation.name")}</dd>
        <dt>6. ${bundle("accountinformation.regaggregatecollect.name")}:</dt>
        <dd>${bundle("accountinformation.regpersonallyidentifi.name")}:</dd>
        <dd>
        	<p>${bundle("accountinformation.regcompilefeature.name")}</p>
            <p>${bundle("accountinformation.regmeasureneeds.name")}</p>
            <p>${bundle("accountinformation.regmakefriendly.name")}</p>
          
        </dd>
        <dd>${bundle("accountinformation.regpersonalanaly.name")}:</dd>
        <dd>
        	<p>${bundle("accountinformation.regperformedpersonally.name")}</p>
            <p>${bundle("accountinformation.regmaybehalf.name")}</p>
            <p>${bundle("accountinformation.regperformedexper.name")}</p>
            <p>${bundle("accountinformation.regincludewebsite.name")}</p>
            <p>${bundle("accountinformation.regverndorinformation.name")}</p>
          
        </dd>
        <dt>7. ${bundle("accountinformation.regmethodcollect.name")}:</dt>
        <dd>${bundle("accountinformation.regsmallcookis.name")}</dd>
        <dd>${bundle("accountinformation.regpersistentpurchase.name")} </dd>
        <dd>${bundle("accountinformation.regsitebeacon.name")}</dd>
        <dd>${bundle("accountinformation.reguserpersonal.name")} </dd>
        <dd>${bundle("accountinformation.regonlineinformation.name")}</dd>
        <dt>8. ${bundle("accountinformation.regsharinginformation.name")}:</dt>
        <dd>${bundle("accountinformation.regidentifiydatabase.name")}</dd>
        <dd>${bundle("accountinformation.regonvendorcontractor.name")}</dd>
        <dd>${bundle("accountinformation.sitemetrics.name")}</dd>
        <dt>9.${bundle("accountinformation.regaccessinformation.name")} :</dt>
        <dd>To ${bundle("accountinformation.regcorrectrequest.name")}</dd>
    	<dt>10. ${bundle("accountinformation.regonsecurityinformation.name")}:</dt>
    	<dd>${bundle("accountinformation.regsafeguardingperforming.name")}</dd>
    	<dt>11.${bundle("accountinformation.regproccessdata.name")} :</dt>
        <dd>${bundle("accountinformation.regvisitcountry.name")}</dd>
        <dt>12. ${bundle("accountinformation.reglinksite.name")}:</dt>
        <dd>${bundle("accountinformation.regprovideswebsite.name")}</dd>
    	<dt>13. ${bundle("accountinformation.regcontactingus.name")}:</dt>
        <dd>${bundle("accountinformation.regquestioncomment.name")}
</dd>
    	<dt>14. ${bundle("accountinformation.regprivacyday.name")}:</dt>
        <dd>${bundle("accountinformation.regoccasionallyeffect.name")}</dd>
    	<dd>${bundle("accountinformation.regeffectivestatement.name")}</dd>
    </dl>
    <dl><input name="" type="button" value="${bundle('calendar.close.name')}" class="renew3" onclick="window.close();"/></dl>
</div>