<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript">
function jump(url){

	var tmpForm = $("<form  method='post'></form>");
	$(tmpForm).attr("action",url);
	tmpForm.appendTo(document.body).submit();
}
</script>
<div class="account_right">
    	<h4>
	    	<span>
				<input class="renew3" type="button" onclick="jump('myMessageInfo-1-1.html?userType=${userType}')" value="${bundle('soft.backbutton.name')}" name="">
			</span>
			${bundle("autel.menu.mymessage")}
		</h4>
        <div class="new_center">
        	<h3>${title!''}</h3>
        	<div style="font-size:14.5px; text-align:center;color:#4d4d4d; margin-bottom:10px;">${messageInfo.creator!''}<span style="margin-left:48px;">${messageInfo.creatTime!""}</span></div>
            <pre style="white-space: pre-wrap;word-wrap: break-word;">${messageInfo.content!''}  </pre>
        </div>
        
        
</div>