
						</tr>
						<tr>
             				<td>&nbsp;</td>
              				<td ><span></span></td>
            			</tr>
						<tr>
							<td class="reg_product_td" align="right" width="238" style="padding-right: 16px"><span  style="color:red">&nbsp;*</span>${bundle("myproducts.sn.name")}:</td>
							<td><input type="text" value="" name="proSerialNo"
								id="proSerialNo" class="input_sign"   onfocus="clearInfo();" style="width:350px;text-transform:uppercase"/>
								<span id="inputSerialNo" class="font12gray" style="line-height:15px;color:red;position:absolute;margin:4px 0 0 4px"></span>
							</td>
						</tr>
<!-- 						<tr> -->
<!--              				<td>&nbsp;</td> -->
<!--               				<td ><span></span></td> -->
<!--             			</tr> -->
            			
<!-- 						<tr> -->
<!-- 							<td class="reg_product_td" align="right" width="238" style="padding-right: 16px"><span style="color:red">&nbsp;*</span>${bundle("regproduct.registerpwd.name")}:</td> -->
<!-- 							<td><input type="text" value="" name="proRegPwd" -->
<!-- 								id="proRegPwd" class="input_sign"  style="width:350px;" onfocus="clearInfo();"/> -->
<!-- 								<span id="inputPwd" class="font12gray" style="line-height:15px;color:red;position:absolute;margin:4px 0 0 4px"></span> -->
<!-- 							</td> -->
<!-- 						</tr> -->
						
						<tr>
             				<td>&nbsp;</td>
              				<td ><span></span></td>
            			</tr>
						
<!--             hlh 20160315 屏蔽注册产品时的验证码			 -->
<!-- 						<tr> -->
<!-- 			              <td class="reg_product_td" align="right"><span style="padding-right:15px;"><span  style="color:red">&nbsp;*</span>${bundle("accountinformation.user.regcode")}:</span></td> -->
<!-- 			              <td class="reg_product_td"><input onfocus="clearImagenumErrorInfo();" name="imagenum"  id="imagenum"  style="width:230px;" -->
<!-- 					              type="text" class="input_sign" -->
<!-- 					              id="textfield4"  maxlength="4" /> -->
<!-- 			              	  <img style="margin:0 15px;" src="" id="image_validate" name="image_validate" class="remember_login_name" width="100" height="30"  onclick="javascript:buildRandom();" alt='${bundle("accountinformation.user.regclickchange")}' style="cursor:hand;"/> -->
<!-- 			              	  <a onclick="javascript:buildRandom();" style="padding-left:5px;font-size:12px;color:#cf0000;" class="font14red">${bundle("accountinformation.user.regclickchange")}</a> -->
			              	  
<!-- 			              </td> -->
<!-- 			            </tr> -->
			            <tr id="imagenumErrorInfo"  style="display:none;">
			              <td class="font14black">&nbsp;</td>
			              <td>
				              <img id="imagenumImg" src="${imagePath}/images/myappleid_error.png"></img>
				              <span id="imagenumErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span>
			              </td>
			            </tr>
			            <tr id="isCommonErrorInfo"  style="display:none;">
             				<td>&nbsp;</td>
              				<td ><span id="isCommon" class="font12gray" style="line-height:15px;color:red"></span></td>
            			</tr>
			            <tr>
			              <td>&nbsp;</td>
			              <td ><span class="font12gray" style="line-height:15px;color:red"></span></td>
			            </tr>
			            
						
            			
						<tr>
							<td align="" width="254">
							</td>
							<td>&nbsp;
<!-- 								<input name="button"  type="button" value="${bundle('customercomplaint.commit.name')}" class="renew3" id="regProductButton" onclick="regProduct();"/> -->
<input style="font-size:16px;font-family:Lato,Heltevica,Arial,sans-serif;font-weight:bold;line-height:2.2;" name="button"  type="button" value="REGISTER" class="renew3" id="regProductButton" onclick="regProduct();"/>
<!-- 								<input name="reset" onclick="clearInfo();" type="reset" value="${bundle('common.btn.reset')}" class="renew3" style="margin-left: 30px;" /> -->
<input style="font-size:16px;font-family:Lato,Heltevica,Arial,sans-serif;font-weight:bold;margin-left:30px;line-height:2.2;" name="reset" onclick="clearInfo();" type="reset" value="RESET" class="renew3" />
							</td>
						</tr>
					</table>
				</div>
			</form>
				<div class="question" style="border-top: 1px solid #CCCCCC">
					<h5>${bundle("regproduct.questions.name")}</h5>
					<h5 style="padding-left: 25px;">${bundle("regproduct.serialnumber.name")}</h5>
					<p>${bundle("regproduct.serialnumberfind.name")}</p>
					<p>${bundle("regproduct.aboutscreen.name")}</p>
					<p id="imageShow" style="padding-left: 100px; margin-top: 10px;">
						
					</p>
				</div>
			</div>
    </div>
    
<script type="text/javascript">

function buildRandom()
{
	var date = new Date();
	$("#image_validate").attr("src","validcode.do?vtype=_customer&rmd="+new Date().getTime())

}

buildRandom();
</script>