<div class="account_right">
    	<h4 style="display:inline-block;color:#5A5858;padding-top:20px;">
    		${bundle("autel.menu.productreg")}
    	</h4>
    		<span style="display:inline-block;font-size:14px;padding:30px 30px 0 0;color:rgb(108, 105, 105);float:right;font-family:Lato,Heltevica,Arial,sans-serif;"><span style="color:red;">*</span>required fields</span>
        <div class="my_products">
        	<form action=""  class="validate" method="post" name="theForm" id="theForm">
				<div class="registe">
					<table width="790" border="0">
						<tr>
							<td align="right" width="238" class="reg_product_td" style="padding-right: 16px;"><span  style="color:red">&nbsp;*</span>${bundle("regproduct.productmodel.name")}:</td>
							
						