<style>
h2{text-align:left;};
</style>
<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/artDialog.js?skin=default"></script>
<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript">
function getThisValue(val){
	    var origin = art.dialog.open.origin;
		art.dialog.close();
		origin.setCountry(val);
} 
 
/* $(function(){ 
	$('il li a').click(function(){
	  alert($(this).text());
});
}); */
</script> 
<form id="selectForm" name="selectForm">

<div id="container" style="margin-top:30px;">
	<div style="width:150px; margin:0px 0px 30px 30px;float:left;">
		<h2><div style="font-size: 18px;line-height: 22px;font-weight: bold;color: #B60005;margin-bottom:10px;">Africa</div></h2>
<div style="line-height: 16px;"> 
<ul>
		
			 
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Algeria');"> Algeria </a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Cameroon');"> Cameroon </a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Congo');"> Congo </a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Egypt');"> Egypt </a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Ghana');"> Ghana </a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Kenya');"> Kenya </a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Morocco');"> Morocco </a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Nigeria');"> Nigeria </a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('South Africa');"> South Africa </a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Sudan');"> Sudan </a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Tanzania');"> Tanzania </a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Uganda');"> Uganda </a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Zambia');"> Zambia </a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Zimbabwe');"> Zimbabwe </a>
				</li>	
		
	</ul>
</div>

	</div>
	<div style="width:150px;  margin:0px 0px 30px 30px;float:left;">
		<h2><div style="font-size: 18px;line-height: 22px;font-weight: bold;color: #B60005;margin-bottom:10px;">Asia Pacific</div></h2>
<div style="line-height: 16px;"> 
	<ul>
		
			 
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Australia');">Australia</a> 
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Bangladesh');">Bangladesh</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Cambodia');">Cambodia</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('中国');">China(中国)</a>
				</li>	
				<!-- <li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue(this);"> HongKong, China </a>
				</li>	 -->
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('India');">India</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Indonesia');">Indonesia</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Japan');">Japan</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Kazakstan');">Kazakstan</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Korea');">Korea</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Malaysia');">Malaysia</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Myanmar');">Myanmar</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('New Zealand');">New Zealand</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Philippines');">Philippines</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Singapore');">Singapore</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Sri Lanka');">Sri Lanka</a>
				</li>	
				<!-- <li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue(this);"> Taiwan, China </a>
				</li> -->	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Thailand');">Thailand</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Turkey');">Turkey</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Uzbekistan');">Uzbekistan</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Vietnam');">Vietnam</a>
				</li>	
		
	</ul>
</div>

	</div>
	<div style="width:150px;  margin:0px 0px 30px 30px;float:left;">
		<h2><div style="font-size: 18px;line-height: 22px;font-weight: bold;color: #B60005;margin-bottom:10px;">Europe</div></h2>
<div style="line-height: 16px;"> 
	<ul>
		
			 
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Austria');">Austria</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Belarus');">Belarus</a>
				</li>
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Belgium');">Belgium</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Czech');">Czech</a>
				</li>
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Denmark');">Denmark</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Finland');">Finland</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('France');">France</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Germany');">Germany</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Greece');">Greece</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Italy');">Italy</a>
				</li>
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Lithuania');">Lithuania</a>
				</li> 	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Luxembourg');">Luxembourg</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Netherlands');">Netherlands</a> 
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Norway');">Norway</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Poland');">Poland</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Portugal');">Portugal</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Romania');">Romania</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Russia');">Russia</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Spain');">Spain</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Sweden');">Sweden</a>
				</li>
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Switzerland');">Switzerland</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('United Kingdom');">United Kingdom</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('European Union');">European Union</a>
				</li>
		
	</ul>
</div>

	</div>
	<div style="width:150px;  margin:0px 0px 30px 30px;float:left;">
		<h2><div style="font-size: 18px;line-height: 22px;font-weight: bold;color: #B60005;margin-bottom:10px;">Latin America</div></h2>
<div style="line-height: 16px;"> 
	<ul>
		
			 
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Argentina');">Argentina</a> 
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Bolivia');">Bolivia</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Brazil');">Brazil</a>
				</li>	
				<!-- <li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue(this);"> Central America and Caribbean</a> 
				</li>	 -->
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Chile');">Chile</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Colombia');">Colombia</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Costa Rica');">Costa Rica</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Ecuador');">Ecuador</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Guatemala');">Guatemala</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Mexico');">Mexico</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Peru');">Peru</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Paraguay');">Paraguay</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Uruguay');">Uruguay</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Venezuela');">Venezuela</a>
				</li>	
		
	</ul>
</div>

	</div>
	
	<div style="width:180px;  margin:0px 0px 30px 30px;float:left;">
		<h2><div style="font-size: 18px;line-height: 22px;font-weight: bold;color: #B60005;margin-bottom:10px;">Middle East</div></h2>
<div style="line-height: 16px;"> 
	<ul>
		
			 
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Qatar');">Qatar</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Saudi Arabia');">Saudi Arabia</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('United Arab Emirates');">United Arab Emirates</a>
				</li>	
		
	</ul>
</div>

		<h2><div style="font-size: 18px;line-height: 22px;font-weight: bold;color: #B60005">North America</div></h2>
<div style="line-height: 16px;"> 
	<ul>
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('Canada');">Canada</a>
				</li>	
				<li style="padding: 4px 0px 4px 5px;"><a style="color:#08c;" onclick="javascript:getThisValue('United States');">United States</a>
				</li>	
		
	</ul>
</div>

	<h2><div style="font-size: 18px;line-height: 22px;font-weight: bold;color: #B60005">Other</div></h2>
<div style="line-height: 16px;"> 
	<ul>
		<li style="padding: 4px 0px 4px 5px;"><input type="text" name="country" id="country" class="input_sign2" style="width:150px">
		</li>	
		
	</ul>
</div>

	</div>
	</div>
	
</form>