

<#if shoppingCart?has_content>
<div class="account clearfix">
	<div class="account_left69">
    	  <dl>
        	<dt>${bundle("cart.summary.name")}</dt>
        </dl>
        <div class="checout">
        	<p style="font-size:15px; padding-left:18px; padding-top:14px;"><strong>${bundle("mysales.total.name")}</strong></p>
            <p style="font-size:18px; padding-left:18px;color:#8F1D22;"><strong id="smoney" sallmoney="0.00"><span id="money" allmoney="0.00" style="color:#8f1d22;font-weight:bold;font-size:20px;">$0.00</span></strong></p>
            <p style="font-size:13px; padding-left:18px;"><span id="number" name="number">0</span> ${bundle("cart.itemscart.name")}</p>
            <p style="text-align:center; padding-top:50px; padding-bottom:20px;"><input name="" type="button" value="${bundle('cart.checkoutnow.name')}" class="renew1" onclick="submitOrdey();"/></p>
        </div>
    </div>
    <div class="account_right69">
    	<h4><span><input name="" type="button" value="${bundle('order.continue.name')}" class="renew_lan" onclick="javascript:jump('myProducts-1-1.html');"/></span>${bundle("cart.itemcart.name")}</h4>
        <table>
        <tr>
	    <td style="padding-left:18px; color:#666666;font-weight:bold;">${bundle("order.items.name")}</td>
	    <td width="350" align="right" style="color:#666666;font-weight:bold;">${bundle("order.type.name")} </td>
	    <td width="120"></td>
	    <td width="104" align="left" style="color:#666666;font-weight:bold;">${bundle("order.quantity.name")}</td>
	    <td width="60" align="right"></td>
	    <td align="right" width="50" style="color:#666666;font-weight:bold;">${bundle("order.price.name")}</td>
	  </tr>
	  </table>
        <div class="my_products">
        	<dl>
        	<#list shoppingCart as cart>
        		<#list cart.minUnitVOs as minUnit>
	           	  <dt class="clearfix" id="${cart.proSerial}_${minUnit.minSaleUnitCode}">
	           	  	<div class="my_pr_in69"></div>
	               	<div class="my_pro_piciit"><img src="${cart.picPath!''}" width="83" height="77" /></div>
	                <div class="cart2_a69">
	                	<h3><label class="cart_name">${minUnit.name}</label></h3>
	                    <p style="font-size:14px; color:#666666;">${bundle("myproducts.sn.name")}: ${cart.proSerial}</p>
	                    <div class="my_table">
	                    	<#if minUnit.type == 1>
		                    	<table width="666" border="0">
						  <tr>
						    <input type="hidden" isSoft="${minUnit.isSoft}" isRenew="1" price="${minUnit.discountPrice}" id="hid_${cart.proSerial}_${minUnit.minSaleUnitCode}" mCode="${minUnit.minSaleUnitCode}" serialNo="${cart.proSerial}" cartid="${cart.id}"/>
						    <td width="27"><span class="remove"><a  onclick="deleteOneData('${cart.proSerial}', '${minUnit.minSaleUnitCode}')">${bundle("cart.remove.name")}</a></span></td>
						    <td align="left" width="78"></td>
						    <td width="227" align="right">${bundle("myproducts.renewal.name")}</td>
						    <td width="100"></td>
						    <td width="104" align="left"><input name=""  maxlength="2" style="text-align:center;" onkeyup="value=this.value.replace(/\D+/g,'');upadateYear('${cart.proSerial}',${cart.id},'${minUnit.minSaleUnitCode}')" id="year_${cart.id}${minUnit.minSaleUnitCode}" type="text" class="re_year" value="${minUnit.year}" rentyear="${minUnit.year}"/> ${bundle("myproducts.year.name")}</td>
						    <td width="60" align="right"></td>
						    <td align="right" width="70" class="add_tocart69"><money id="money_${cart.id}${minUnit.minSaleUnitCode}" smoney="${minUnit.discountPrice}" style="color:#8f1d22;font-weight:bold;font-size:20px;">$${minUnit.discountPrice}</money></td>
						  </tr>
						</table>
					<#else>
						<table width="666" border="0">
						  <tr>
						    <input type="hidden" isSoft="${minUnit.isSoft}" isRenew="0" price="${minUnit.discountPrice}" id="hid_${cart.proSerial}_${minUnit.minSaleUnitCode}" mCode="${minUnit.minSaleUnitCode}" serialNo="${cart.proSerial}" cartid="${cart.id}"/>
						    <td width="27"><span class="remove"><a  onclick="deleteOneData('${cart.proSerial}', '${minUnit.minSaleUnitCode}')">${bundle("cart.remove.name")}</a></span></td>
						    <td align="left" width="78"></td>
						    <td width="227" align="right">${bundle("myproducts.new.name")}</td>
						    <td width="100"></td>
						    <td width="104" align="left"></td>
						    <td width="60" align="right"></td>
						    <td align="right" width="70" class="add_tocart69"><money id="money_${cart.id}${minUnit.minSaleUnitCode}" smoney="${minUnit.discountPrice}" style="color:#8f1d22;font-weight:bold;font-size:20px;">$${minUnit.discountPrice}</money></td>
						  </tr>
						</table>
					</#if>
	                    </div>
	                </div>
	              </dt>
	              <#if (cart_index+1) != shoppingCart?size>
	              	<dd style="margin-left:10px; margin-right:10px;" id="dd_${cart.proSerial}_${minUnit.minSaleUnitCode}"></dd>
	              	<#else>
		              	<#if  (minUnit_index+1) != cart.minUnitVOs?size>
		              		<dd style="margin-left:10px; margin-right:10px;" id="dd_${cart.proSerial}_${minUnit.minSaleUnitCode}"></dd>
		              	</#if>
	              </#if>
              	</#list>
              </#list>
            </dl>
           
      		
        </div>
    </div>
</div>
<#else>
	<div class="no_pro">
	<h4><span><input name="" type="button" value="${bundle('order.continue.name')}" class="renew_lan" onclick="javascript:jump('myProducts-1-1.html');"/></span>${bundle("cart.itemcart.name")}</h4>
	</div>
	<div class="no_cart">${bundle("cart.noitems")}</div>
</#if>