<#macro cfgSoftRent names>
	<#assign minSaleUnitName=""> 
	<#if names??>
			<#list names as minSaleUnitsMemo> 
				<#assign minSaleUnitName=minSaleUnitName+minSaleUnitsMemo.name> 
				<span sname="${minSaleUnitsMemo.name!''}" des="${minSaleUnitsMemo.memo!''}" style="display: none;"></span>
				<#if minSaleUnitsMemo_has_next>
						<#assign minSaleUnitName=minSaleUnitName+"、"> 
				</#if>
			</#list>
	</#if>
	<#if (minSaleUnitName?length>=10) >
				${minSaleUnitName?substring(0,9)}...
		<#else>
				${minSaleUnitName}
	</#if>
</#macro>
<#macro title names>
<#assign minSaleUnitName="">
<#if names??>
<#list names as minSaleUnitsMemo>
<#assign minSaleUnitName=minSaleUnitName+minSaleUnitsMemo.name>
<#if minSaleUnitsMemo_has_next><#assign minSaleUnitName=minSaleUnitName+'&#10'></#if>
</#list>
</#if>${minSaleUnitName}
</#macro>

<#macro minSaleUnitCode names><#assign code=""><#if names??><#list names as minSaleUnitsMemo><#assign code=code+minSaleUnitsMemo.minSaleUnitcode><#if minSaleUnitsMemo_has_next><#assign code=code+"-"></#if></#list></#if>${code?trim}</#macro>
<div class="account_right">
    	<h4>${bundle("myproducts.softwarerenewal.name")}</h4>
        <div class="jss_xx69">
	  <#if cfgSoftRentInfoVO??>
	  		<div style="float:left; width:235px; margin-left:28px;">
	        	<table width="790" border="0">
	  				<tr height="48">
	  					<td colspan="6" ></td>
	  				</tr>
			  		<tr>
					    <td width="235" >
					    	<div><a href="minSaleUnitSoftware.html?saleCfgCode=${cfgSoftRentInfoVO.saleCfgCode}&type=1&serialNo=${cfgSoftRentInfoVO.proSerial!''}&isRenew=1">
					    	<img src="${cfgSoftRentInfoVO.cfgpicpath!'' }" width="130" height="120"/></a></div>
					        <div class="epb">
					        	<h3>${cfgSoftRentInfoVO.saleCfgName!'' }</h3>
					           <div style="width:235px"> <p style="WORD-BREAK: normal; WORD-WRAP: break-word;">${cfgSoftRentInfoVO.memo!'' }</p>
							    </div>
							    <p><a style="color:#08c;font-weight:bold;" class="font14red" onclick="javascript:jump('minSaleUnitSoftware.html?saleCfgCode=${cfgSoftRentInfoVO.saleCfgCode}&type=1&serialNo=${cfgSoftRentInfoVO.proSerial!''}&isRenew=1')">${bundle("myproduct.renew.soft.list")}</a></p>
							    <p>
<!-- 							<span style="color:#e47911;font-size:16px;">${bundle("myproducts.exp.name")}:${cfgSoftRentInfoVO.date!''}</span><br> -->
							<span style="text-decoration:line-through;">$${cfgSoftRentInfoVO.price!'0'}</span><span style="color:#8f1d22;font-weight:bold;font-size:20px;">$${cfgSoftRentInfoVO.discountPrice!'0'}</span>
							
							<br>
									<span><input name="" onclick="addtoCart('0','${cfgSoftRentInfoVO.saleCfgCode}','${cfgSoftRentInfoVO.proSerial}');" type="button" value="${bundle('myproducts.addcart.name')}" class="renew1" style="margin-top:10px;" /></span>
							</p>
					        </div>
					    </td>
				    </tr>
				 </table>
			  </div>
	    	
            
		    <#if minSaleUnitDetailVOs?has_content> 
			<#list minSaleUnitDetailVOs as detailVO>
			    <#if detailVO_index lt 2 >
			    <div style="float:left; width:235px; margin-left:28px;">
		        	<table width="790" border="0">
					  <tr height="48">
					  	<td colspan="6" ></td>
					  </tr>
					  <tr> 
				    <td width="235" >
				    	<div><a href="minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0&serialNo=${buySoftRentInfoVO.proSerial }&isRenew=1"><img src="${detailVO.picpath!'' }" width="130" height="120"/></a></div>
				        <div class="epb">
				        	<h3>${detailVO.minSaleUnitName }</h3>
				            <div style="width:235px"> <p style="WORD-BREAK: normal; WORD-WRAP: break-word;">${detailVO.memo!'' }</p>
							</div>
							
							 <p><a style="color:#08c;font-weight:bold;" class="font14red" onclick="javascript:jump('minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0&serialNo=${buySoftRentInfoVO.proSerial }&isRenew=1')">${bundle("myproduct.renew.soft.list")}</a></p>
							
							<p>
								<!-- <span style="color:#e47911;font-size:16px;">${bundle("myproducts.exp.name")}:${detailVO.date }</span><br> -->
							
								<span style="text-decoration:line-through;">$${detailVO.price}</span>
								<span style="color:#8f1d22;font-weight:bold;font-size:20px;">$${detailVO.discountPrice}</span>
								<br>
									<span><input name="" onclick="addtoCart('0','${detailVO.minSaleUnitCode }','${buySoftRentInfoVO.proSerial }');" type="button" value="${bundle('myproducts.addcart.name')}" class="renew1" style="margin-top:10px;" /></span>
							</p>
				        </div>
				    </td>
				    </tr>
				    </table>
				    </div>
			    </#if>
		   	</#list>
		   	 
		   </#if>
	  <#else>
	  	<#if minSaleUnitDetailVOs?has_content> 
			<#list minSaleUnitDetailVOs as detailVO>
			    <#if detailVO_index lt 3 >
			    <div style="float:left; width:235px; margin-left:28px;">
		        	<table width="790" border="0">
					  <tr height="48">
					  	<td colspan="6" ></td>
					  </tr>
					  <tr> 
					    <td width="235" >
					    	<div><a href="minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0&serialNo=${buySoftRentInfoVO.proSerial }&isRenew=1"><img src="${detailVO.picpath!'' }" width="130" height="120"/></a></div>
					        <div class="epb">
					        	<h3>${detailVO.minSaleUnitName }</h3>
					            <div style="width:235px"> <p style="WORD-BREAK: normal; WORD-WRAP: break-word;">${detailVO.memo!'' }</p>
								</div>
								
															 <p><a style="color:#08c;font-weight:bold;" class="font14red" onclick="javascript:jump('minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0&serialNo=${buySoftRentInfoVO.proSerial }&isRenew=1')">${bundle("myproduct.renew.soft.list")}</a></p>
								
								<p>
									<!-- <span style="color:#e47911;font-size:16px;">${bundle("myproducts.exp.name")}:${detailVO.date }</span><br> -->
									<span style="text-decoration:line-through;">$${detailVO.price}</span>
									<span style="color:#8f1d22;font-weight:bold;font-size:20px;">$${detailVO.discountPrice}</span>
								<br>
									<span><input name="" onclick="addtoCart('0','${detailVO.minSaleUnitCode}','${buySoftRentInfoVO.proSerial }');" type="button" value="${bundle('myproducts.addcart.name')}" class="renew1" style="margin-top:10px;" /></span>
								</p>
					        </div>
					    </td>
					    </tr>
				    </table>
				    </div>
			    </#if>
		   	</#list>
		   	 
		   </#if>
	  </#if>
  <#if cfgSoftRentInfoVO??>
	   <#if minSaleUnitDetailVOs?size gt 2 >
	    	<table width="790" border="0">
			  <tr height="48" style="border-bottom:#cccccc 1px solid;">
			  	<td colspan="6" ></td>
			  </tr>
			</table>
			<#list minSaleUnitDetailVOs as detailVO>
			    <#if detailVO_index gt 1 >
			    <div style="float:left; width:235px; margin-left:28px;">
        			<table width="790" border="0">
	        			<tr height="48">
					  		<td colspan="6" ></td>
						</tr>
						  
						 <tr> 
						    <td width="235" >
						    	<div><a href="minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0&serialNo=${detailVO.minSaleUnitCode }&isRenew=1"><img src="${detailVO.picpath!'' }" width="130" height="120"/></a></div>
						        <div class="epb">
						        	<h3>${detailVO.minSaleUnitName }</h3>
						            <div style="width:235px"> <p style="WORD-BREAK: normal; WORD-WRAP: break-word;">${detailVO.memo!'' }</p>
									</div>
									
																 <p><a style="color:#08c;font-weight:bold;" class="font14red" onclick="javascript:jump('minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0&serialNo=${buySoftRentInfoVO.proSerial }&isRenew=1')">${bundle("myproduct.renew.soft.list")}</a></p>
									
									<p>
										<!-- <span style="color:#e47911;font-size:16px;">${bundle("myproducts.exp.name")}:${detailVO.date }</span><br> -->
										<span style="text-decoration:line-through;">$${detailVO.price}</span>
										<span style="color:#8f1d22;font-weight:bold;font-size:20px;">$${detailVO.discountPrice}</span>
									<br>
									<span><input name="" onclick="addtoCart('0','${detailVO.minSaleUnitCode }','${detailVO.minSaleUnitCode }');" type="button" value="${bundle('myproducts.addcart.name')}" class="renew1" style="margin-top:10px;" /></span>
									</p>
						        </div>
						    </td>
					    </tr>
				    </table>
				  </div>
			    </#if>
		   	</#list>
	  </#if>
  <#else>
  	 <#if minSaleUnitDetailVOs?size gt 3>
			<table width="790" border="0">
			  <tr height="48" style="border-bottom:#cccccc 1px solid;">
			  	<td colspan="6" ></td>
			  </tr>
			</table>
			<#list minSaleUnitDetailVOs as detailVO>
			    <#if detailVO_index gt 3>
			    <div style="float:left; width:235px; margin-left:28px;">
		        	<table width="790" border="0">
					  <tr height="48">
					  	<td colspan="6" ></td>
					  </tr>
			    	<tr>
				    <td width="235" >
				    	<div><a href="minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0&serialNo=${buySoftRentInfoVO.proSerial }&isRenew=1"><img src="${detailVO.picpath!'' }" width="130" height="120"/></a></div>
				        <div class="epb">
				        	<h3>${detailVO.minSaleUnitName }</h3>
				            <div style="width:235px"> <p style="WORD-BREAK: normal; WORD-WRAP: break-word;">${detailVO.memo!'' }</p>
							</div>
							
														 <p><a style="color:#08c;font-weight:bold;" class="font14red" onclick="javascript:jump('minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0&serialNo=${buySoftRentInfoVO.proSerial }&isRenew=1')">${bundle("myproduct.renew.soft.list")}</a></p>
							<p>
								<!-- <span style="color:#e47911;font-size:16px;">${bundle("myproducts.exp.name")}:${detailVO.date }</span><br> -->
								<span style="text-decoration:line-through;">$${detailVO.price}</span>
								<span style="color:#8f1d22;font-weight:bold;font-size:20px;">$${detailVO.discountPrice}</span>
							<br>
									<span><input name="" onclick="addtoCart('0','${buySoftRentInfoVO.proSerial }','${detailVO.minSaleUnitCode }');" type="button" value="${bundle('myproducts.addcart.name')}" class="renew1" style="margin-top:10px;" /></span>
							</p>
				        </div>
				    </td>
				    </tr>
				    </table>
				    </div>
				    
			    </#if>
		   	</#list>
		
	  </#if>
  </#if>
 <table width="790" border="0">
	  <tr height="48" style="border-bottom:#cccccc 1px solid;">
	  	<td colspan="6" ></td>
	  </tr>
	  
	  <tr>
	  	<td colspan="6" >
	  		<div class="check11 clearfix" style="background-color:#f3f3f3;">
	            	<div style="font-size:14px; float:left;"></div>
	                <div class="my_page">
	                	<#if minSaleUnitDetailVOs?has_content> 
					${pager}
				</#if>
	                </div>
	            </div>  
	    </td>
	  </tr>
  </table>
</div>
</div>
