<div class="about_all">
	<div class="last_news">
    	<h3>${bundle("contactUs.name")}</h3>
        <ul>
        	<li>
            	<div class="su_addres1">
  					<h3 style="padding-top: 15px;">Terms and Conditions of Renewal</h3>
    			<dl>
        				<dd>Autel Intelligent Technology Corp., Ltd. or its affiliates (hereinafter “Autel” or “We”) provides you with update services for software installed in Autel’s products for a predefined period. 
        				Your placement of an order for a Renewal constitutes your unconditional acceptance of the following terms and conditions. 
        				These terms and conditions are subject to change without prior written notice from time to time within Autel's sole discretion. </dd>
        				
        				<dt>1.	Description of Renewal</dt>
        				<dd>Renewal ensures your continued access to software upgrades within Update Service Validity Term (hereinafter “USVT”). 
        				USVT is the fixed period of time (one year or years) you are purchasing during which Autel provides you with access to a variety of update resources, 
        				including any updates, enhancements, new features of compatible and related software installed in Autel’s products anytime. Please note that the updates are irreversible.
        				 Without a purchasing the Renewal after the expiration date of each USVT, you are still eligible to use the original or current version of the software. </dd>
        				<dd>Autel will provide notification with renewal instructions to you through email 90 days before your USVT is due to expire. The update service will be automatically terminated after the expiration date, 
        				unless it is renewed prior to the expiration of each USVT. 
        				Prices for Renewal may change at any time, and no refund or price protection is provided in the event of a price reduction or promotional offer.</dd>
        				
        				<dt>2.	Effective Date</dt>
        				<dd>Your update service becomes effective upon first registration on Autel’s website. Early renewal (for the following USVT) does not affect your prior expiration date.
        				 If Renewal is purchased within USVT, the new Term shall be effective on the day following the expiration of a prior USVT. 
        				If Renewal is purchased after the final date of USVT, the new Term shall be effective upon successful acceptance of payment by Autel. </dd>
        				
        				<dt>3.	Payment Policy</dt>
        				<dd>We support three kinds of payment methods, including Credit or Debit Card, PayPal or Bank Transfer. 
        				You are responsible for the timely payment of all fees for Renewal. 
        				You will receive a confirmation email regarding your placement of an order and successful payment respectively. 
        				All sales of Renewals are final and non-refundable upon payment. If any invoice amount owing by you under this agreement for Renewal is not received by us, 
        				we may, without limiting Autel’s other rights and remedies, 
        				suspend your update services and your devices will be locked until the payment has been processed successfully. </dd>
        				<dd>If a Renewal becomes unavailable following a transaction or any error occurs during a transaction, you can notify Autel by sending an email to support@autel.com.</dd>
        				
        				<dt>4.	Your Account</dt>
        				<dd>As a registered user for Autel software update services, it is your full responsibility to maintain the confidentiality and security of your account information and you will be held accountable for all activities that occur to or under your account. 
        				If you believe that your account information is being misused in any way by a third party, 
        				you must notify Autel in a timely manner. Should any loss caused by unauthorized use of your account information, Autel shall not be held responsible. </dd>
        				
        				<dd>You agree to provide accurate and complete information (“Autel Registration Data”) when you register with, and as you use，the Autel service. 
        				You agree to update your Autel Registration Data to keep it accurate and complete. 
        				You agree that Autel may store and use the Autel Registration Data you provide for use in maintaining and billing fees to your Account.</dd>
        				
        				<dt>5.	Copyright </dt>
        				<dd>Copyright © 2015 Autel Intelligent Technology Corp., Ltd. ALL RIGHTS RESERVED. Any software made available to download through Autel’s website or installed in Autel’s devices is the copyrighted work of Autel Intelligent Technology Company, 
        				its affiliated companies and its licensors. The licensed software is made available for download solely for use by end users within the Update Service Validity Term.</dd>
        				<dd>You agree that any proprietary content, information and material contained in software update service is protected by applicable intellectual property and other laws, including but not limited to copyright, and that you will not use such proprietary content, 
        				information or materials in any way whatsoever except the express written permission of Autel. Any copying or reproduction of the software to any other server or location for further reproduction or redistribution is expressly prohibited by law, and may result in severe civil and criminal penalties. </dd>
        				
        				<dt>6.	Warranty Disclaimer</dt>
        				<dd>You expressly agree that your use of, or inability to use, the Renewal is at your sole risk and the entire risk as to satisfactory quality, performance, accuracy and effort is with you. 
        				To the fullest extent permitted by applicable law, the Renewal sold to you through the Autel website and any services provided by the Renewal are (except as expressly stated by Autel) provided “as available” for your use, 
        				without warranties of any kind, either expressed or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, title, and non-infringement of third party rights. 
        				Some jurisdictions do not allow the exclusion of implied warranties, the above exclusion of implied warranties thereby may not apply to you.</dd>
        				
        				<dt>7.	Limitation of Liability</dt>
        				<dd>To the full extent permissible under applicable law, in no event shall Autel Intelligent Technology Company or any of its officers, directors, employees, 
        				representatives, agents, parent companies, subsidiaries, or affiliates be liable for any actual, direct, indirect, incidental, 
        				punitive or consequential damages whatsoever, including, without limitation, damages for loss of profits, loss of data, business interruption or any other commercial damages or losses, 
        				arising out of or related to your use or inability to use the update service.</dd>
        				
        				<dt>8.	Electronic Contracting</dt>
        				<dd>You acknowledge that your electronic submissions constitute your agreement and intent to be bound by and to pay for such agreements and transactions. Your agreement and intent to be bound by electronic submissions applies to all records relating to all transactions you enter into on this site. 
        				In order to access and retain your electronic records, you may be required to have certain hardware and software, which are your sole responsibility.</dd>
        				
        				<dt>9.	Electronic Contracting</dt>
        				<dd>This Agreement shall be governed, construed, and enforced in accordance with the laws of the People’s Replica of China, without regard to its conflict of laws rules.</dd>
        				
        				
        				
        				
        				
        				
    			</dl>
				</div>
            </li>
        </ul>
    </div>
</div>