@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, input, textarea, img, blockquote, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5 arial ;}
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:bold; }
ul, ol { list-style:none; }
select, input, img { vertical-align:middle; }
a:link, a:visited { text-decoration:none; color:#4d4d4d; cursor:pointer; }
a:hover{text-decoration:underline;cursor:pointer;}
fieldset, img { border:0 ;   }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility:hidden; }
.clearfix { display: inline-block; } /* Hides from IE-mac\*/
* html .clearfix { height: 1%; }
.clearfix { display: block; } /* End hide from IE-mac*/
#footercon{ width:100%; border-top:#E9E4E4 5px solid; padding-top:10px; margin-top:10px;}

#content, #footer{ clear:both;}
.layout:after{content:'\20';display:block;height:0;clear:both;}
.layout{*zoom:1;} 
.IE6png{/*** 第二步：通过适当的选择器，让需要在IE6透明的图片或者需要背景图片透明的容器使用上"behavior: url("iepngfix.htc");" ***/
behavior: url("iepngfix.htc");
}


.body_all{
	background:url(../images/ht_02.gif) top left repeat-x;
	background-color:#f7f7f7;
	padding-top:192px;
	}
.login{
	background:url(../images/ht_05.gif) top left no-repeat;
	width:505px;
	height:288px;
	margin:0 auto;
	}
.login h4{
	font-size:22px;
	font-style:normal;
	color:#ffffff;
	text-align:center;
	padding-top:60px;
	padding-bottom:20px;
	}
.login table{
	color:#888888;
	font-size:14px;
	}
.input1{
	width:222px;
	height:27px;
	border:#d5d3d3 1px solid;
	line-height:26px;
	color:#888888;
	padding-left:3px;
	}
.input2{
	width:88px;
	height:27px;
	border:#d5d3d3 1px solid;
	line-height:26px;
	color:#888888;
	padding-left:3px;
	}
.butt1{
	background:url(../images/butt.gif) top left no-repeat;
	width:174px;
	height:31px;
	font-size:14px;
	color:#888888;
	border:0;
	cursor:pointer;
	font-weight:bold;
	}
.try{
	font-size:12px;
	color:#0084cc;
	font-weight:bold;
	}









