.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #333; filter: alpha(opacity=50) }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

 
.dialog {
background:none repeat scroll 0 0 #FFFFFF;
border-color:#3D596F #34495A #2F4251;
border-style:solid;
border-width:1px;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
text-align:left;
position: absolute;
top: 17%;
left: 20%;
}

.dialog .dialog_box {
background:none repeat scroll 0 0 #CAD9E6;
border:1px solid #A1BADF;
padding:0 9px;
}

.dialog .head {
margin-bottom:4px;
padding:3px 0;
position:relative;
}

.dialog .head .title {
cursor:move;
font-weight:bold;
height:20px;
line-height:20px;
margin-right:40px;
overflow:hidden;
padding-left:10px;
}

.dialog .head .closeBtn {
cursor:pointer;
height:17px;
position:absolute;
right:5px;
top:5px;
width:17px;
background-image:url("../images/gridicon.gif");
background-position:-1px -122px;
background-repeat:no-repeat;
}


.dialog .body, .dialog .headContent, .dialog .footContent {
padding:3px;
}
 .dialog .headContent, .dialog .footContent {
background:none repeat scroll 0 0 #F1F4F6;
cursor:default;
}
.dialog .body {
background:none repeat scroll 0 0 #FFFFFF;
overflow-x:hidden;
overflow-y:auto;
}
 
.dialog .dialogContent {
background:none repeat scroll 0 0 #FFFFFF;
}
 
.boxy-wrapper{position:absolute;}
.boxy-wrapper.fixed{position:fixed;}
/* Modal */ 
.boxy-modal-blackout{position:absolute; background-color:black; left:0; top:0;opacity:0.7;} 
/* Border */
.boxy-wrapper{empty-cells:show;}
.boxy-wrapper .top-left,.boxy-wrapper .top-right,.boxy-wrapper .bottom-right,.boxy-wrapper .bottom-left{width:10px; height:10px; padding:0}
.boxy-wrapper .top-left{background:url(http://www.zhangxinxu.com/study/image/boxy/boxy-nw.png);}
.boxy-wrapper .top-right{background:url(http://www.zhangxinxu.com/study/image/boxy/boxy-ne.png);}
.boxy-wrapper .bottom-right{background:url(http://www.zhangxinxu.com/study/image/boxy/boxy-se.png);}
.boxy-wrapper .bottom-left{background:url(http://www.zhangxinxu.com/study/image/boxy/boxy-sw.png);}
/* IE6+7 hacks for the border. IE7 should support this natively but fails in conjuction with modal blackout bg. */
/* NB:these must be absolute paths or URLs to your images */
.boxy-wrapper .top-left{#background:none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=http://www.zhangxinxu.com/study/image/boxy/boxy-nw.png);}
.boxy-wrapper .top-right{#background:none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=http://www.zhangxinxu.com/study/image/boxy/boxy-ne.png);}
.boxy-wrapper .bottom-right{#background:none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=http://www.zhangxinxu.com/study/image/boxy/boxy-se.png);}
.boxy-wrapper .bottom-left{#background:none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=http://www.zhangxinxu.com/study/image/boxy/boxy-sw.png);}
.boxy-wrapper .top,.boxy-wrapper .bottom{height:10px; background-color:black; opacity:0.6; filter:alpha(opacity=60); padding:0}
.boxy-wrapper .left,.boxy-wrapper .right{width:10px; background-color:black; opacity:0.6; filter:alpha(opacity=60); padding:0}
/* Title bar */
.boxy-wrapper .title-bar{background-color:#333333; padding:6px; position:relative;}
.boxy-wrapper .title-bar.dragging{cursor:move;}
.boxy-wrapper .title-bar h2{font-size:12px; color:white; line-height:1; margin:0; padding:0; font-weight:normal;}
.boxy-wrapper .title-bar .close{color:white; position:absolute; top:5px; right:6px; font-size:12px;}
.boxy-wrapper .title-bar .close:hover{background-color:#454545;}
/* Content Region */
.boxy-inner{background-color:white; padding:0}
.boxy-content{padding:15px;}
/* Question Boxes */
.boxy-wrapper .question{width:350px; min-height:60px; _height:60px;}
.boxy-wrapper .answers{text-align:right;}
/*confirm btn by zhangxinxu http://www.zhangxinxu.com*/
.boxy-btn1,.boxy-btn2,.boxy-btn3{padding:3px 12px 1.9px; border-width:1px; border-style:solid; letter-spacing:1px; line-height:15px; cursor:pointer; overflow:visible;} 
.boxy-btn1{background-color:#425f99; border-color:#5A7EC6 #2C3E5F #2C3E5F #5A7EC6; color:white;}
.boxy-btn2{background-color:#ECE9D8; border-color:#eeeeee #bbbbbb #bbbbbb #eeeeee; color:#333333;}
.boxy-btn3{background-color:#EAEAEA; border-color:#EAEAEA #aaaaaa #aaaaaa #EAEAEA; color:#333333; padding:3px 5px 1.9px;}
.boxy-btn3:hover{background-color:#cad5eb; border-color:#CED8E3 #A2ADBC #A2ADBC #CED8E3;}
