th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0;}

/*定义列表容器的样式，使用div元素*/
.grid {
	width:auto;
	padding-right:22px;
}


/*定义列表容器中所有公用元素样式，需要重定义的，在下面再重新定义*/
.grid ul {
	list-style-type: none;
	text-align: center;
}

.grid ul li {
	float: left;
}


/*定义列表容器中表格的样式，使用table元素*/
.grid table {
	width:100%;
	border-left:#dddddd 1px solid;
	color:#888888;
	text-align:center;
	background-color:#ffffff;
}

.sear_table table{
	background-color:#F1F5FE;
}

/*定义表格中列头的样式，使用th元素*/
.grid table th {
	background:url(../images/leg_13.gif) top left repeat-x;
	height:38px;
	color:#5b5a59;
	border-bottom:#dddddd 1px solid;
	border-right:#dddddd 1px solid;
}

/*定义表格中列头中链接样式，使用th元素*/
.grid th a {
	color: #234f8d;
	text-decoration: none;
	padding-left: 10px;
}

/*定义表格中单元格的样式，使用td元素*/
.grid table td {
	border-bottom:#dddddd 1px solid;
	border-right:#dddddd 1px solid;
	height:28px;
}

.grid table td  a{
	color:#d71200;
}

.grid table tbody a {
	text-decoration:none;
}

.grid table tr {
/*	border-collapse: collapse;
	border-bottom: 1px dotted #DEEFFB;
	height: 30px;*/
}

.even{
	background-color:#fafafa;
}

.grid tbody tr:hover {
	background: none repeat scroll 0 0 #F1F7FD;
}

/*定义列表容器中分页的样式，使用div元素*/
.grid .page {
	padding-left:10px;
	padding-right:10px;
	color:#5b5a59;
	background-color:#efefef;
	border-bottom:#dddddd 1px solid;
	border-left:#dddddd 1px solid;
	border-right:#dddddd 1px solid;
	height:25px;
	padding-top:10px
}

.grid .page .margin {
	margin-right:5px;
}

/*定义列表容器中分页链接的样式，使用li元素*/
.grid .page li a {
	text-decoration: none;
	color:blue;
}


/*定义表格中列头升序的样式，使用元素*/
.grid .asc {
	color: #000;
	padding-right: 18px;
	background: url(../images/arrow_up.gif) no-repeat center right;
}

/*定义表格中列头降序的样式，使用a元素*/
.grid .desc {
	color: #000;
	padding-right: 18px;
	background: url(../images/arrow_down.gif) no-repeat center right;
}





/*定义表格中每一页*/
.grid .page .first{
	background:url(../images/leg_34.gif) center no-repeat;
	width:20px;
	height:19px;
}
/*定义表格中上一页*/
.grid .page  .pre{
	background:url(../images/leg_36.gif) center no-repeat;
	width:20px;
	height:18px;
}
/*定义表格中下一页*/
.grid .page  .next{
	background:url(../images/leg_39.gif) center no-repeat;
	width:20px;
	height:18px;
}
/*定义表格中最后一页*/
.grid .page .end{
	background:url(../images/leg_41.gif) center no-repeat;
	width:20px;
	height:19px;
}
/*定义表格中刷新*/
.grid .page .refresh{
	background:url(../images/leg_31.gif) center no-repeat;
	width:20px;
	height:22px;
}

/*定义表格中分割线*/
.grid .page .split{
	background:url(../images/shx.gif) center no-repeat;
	width:20px;
	height:20px;
}

.grid .page .page_in{
	width:28px;
	height:14px;
	border:#bdbec0 1px solid;
	text-align:center;
	line-height:14px;
}



