.input{
	font-family:Arial,"宋体",Verdana,sans-serif;
	font-size:12px;
	_padding-right:5px;
/*	width:96%;*/
	border:#dddddd 1px solid;
	background-color:#ffffff;
}

.input .title{
	background:url(../images/leg_12.gif) top left repeat-x;
	height:28px;
	border-bottom:#dddddd 1px solid;
	line-height:28px;
	padding-left:20px;
	margin:0px;
}

.input .title .icon{
	background:url(../images/leg_16.gif) center no-repeat;
	width:20px;
	float:left
}


.input table{
	background-color:#f1f5fe;
	color:#5b5a59;
	 width:99%;
	 border:0px;
	 margin:7px;
}

.input table tr{
	border-bottom:1px dashed #DEEFFB;
}
.input table td {
	border-bottom:1px dashed #DEEFFB;
	padding:6px 2px;
	vertical-align:center;
	font-weight:bold;
	letter-spacing:2px;
}
.input table th{
	width:130px;
	font-size:12px;
	font-weight:normal;
	padding-left:35px;
	border-bottom:1px dashed #DEEFFB;
}
 
.input ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.input .info{
/*	width:100%;*/
	padding:5px 0 5px 30px;
	background:#fff;
}
.input .info ul{
	display:inline-block;
} 
.input .info ul li{
	float:left;
	line-height:20px;
	padding:0 8px;
}
.input .info ul li a{
	color:#071C8B;
	text-decoration:none;
}
.input .info ul li a:hover{
	text-decoration:underline;
}
.input form{
	padding:0;
	margin:0;
}
