@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, input, textarea, img, blockquote, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5 "宋体",tahoma,arial ;}
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:bold; }
ul, ol { list-style:none; }
select, input,img{ vertical-align:middle; }
a:link, a:visited { text-decoration:none; color:#4d4d4d; }
a:hover{text-decoration:underline;}
fieldset, img { border:0 ;   }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility:hidden; }
.clearfix { display: inline-block; } /* Hides from IE-mac\*/
* html .clearfix { height: 1%; }
.clearfix { display: block; } /* End hide from IE-mac*/
#footercon{ width:100%; border-top:#E9E4E4 5px solid; padding-top:10px; margin-top:10px;}
a{cursor: pointer;}

#content, #footer{ clear:both;}
.layout:after{content:'\20';display:block;height:0;clear:both;}
.layout{*zoom:1;} 
body{
	background-color:#f7f7f7;
	margin: 0px;
            overflow: auto;
            height: 100%;
	}
.IE6png{
behavior: url("/adminthemes/default/css/iepngfix.htc");
/*behavior: url("iepngfix.htc");*/
}	

.login_name{
	font-size:24px;
	color:#ffffff;
	font-family:"微软雅黑";
	text-align:center;
	margin-bottom:25px;
	padding-top:25px;
	}
.login_all{
	margin:0 auto;
	background:url(../images/lobg.gif) bottom left repeat-x;
	padding-top:170px;
	}
.login_logo{
	float:left;
	height:130px;
	padding-top:30px;
	padding-left:20px;
	}
.login_in{
	float:right;
	height:150px;
	width:290px;
	color:#ffffff;
	padding-top:10px;
	}
.login_in tr{
	height:38px;}
.dl{
	background:url(../images/dl.gif) top left no-repeat;
	width:60px;
	height:25px;
	border:0;
	cursor:pointer;
	font-size:12px;
	color:#ffffff;
	line-height:25px;
	}
.name{
	width:159px;
	height:24px;
	border:0;
	padding-left:5px;
	background:url(../images/namebg.gif) top left no-repeat;
	}
.yzm{
	width:93px;
	height:24px;
	background:url(../images/name1bg.gif) top left no-repeat;
	padding-left:5px;
	border:0;
	}
.lo_dl{
	width:560px;
	margin:0 auto;
	background:url(../images/loging.gif) top left no-repeat;
	height:379px;
	}
.login_but{
	text-align:center;
	margin-top:15px;
	width:560px;
	}




