/*======公式样式=====*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	border: 0 none;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	color: #222222;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

ul {
	list-style-type: none;
}

select,input,img {
	vertical-align: middle;
}

a:link,a:visited {
	text-decoration: none;
	color: #4d4d4d;
}

a:hover {
	color: #e60012;
	text-decoration: none;
}

fieldset,img {
	border: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}  /* Hides from IE-mac\*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}  /* End hide from IE-mac*/
/*======  html{overflow-y: hidden;} =====*/
/*======顶部样式=====*/
#head {
	height: 106px;
	background: url(../images/topbg.gif) top right no-repeat;
}

#head .top {
	height: 78px;
	min-width: 1100px;
}

#head .top .logo {
	float: left;
	height: 78px;
	
}
.toplogo{
	float: left;
	height: 78px;
	font-size:24px;
	color:#ffffff;
	font-family:"微软雅黑";

}
#head .top .amo {
	float: right;
	padding-right: 12px;
	color: #ffffff;
	padding-top: 10px;
	height: 68px;
}

#head .top .amo li {
	float: right;
	text-align: center;
	line-height:15px;
}

#head .top .amo li a {
	color: #ffffff;
}

#head .top .amo li img {
	
}

#head .sysmenu li {
	float: left;
	background: url(../images/menubg.png) top left no-repeat;
	width: 85px;
	text-align: center;
	height: 26px;
	line-height: 26px;
	float: right;
	margin-left: 2px;
}

#head .sysmenu li a {
	color:#ffffff;
	width:85px;
	display:block;
	height:26px;
}

#head .appmenu li {
	float: left;
	background: url(../images/menubg.png) top left no-repeat;
	width: 85px;
	text-align: center;
	height: 26px;
	line-height: 26px;
	float: right;
	margin-left: 2px;
}

#head .appmenu li a {
	color:#ffffff;
	width:85px;
	display:block;
	height:26px;
}

#head .sysmenu li a:hover{
	background:url(../images/menubg1.png) top left no-repeat; 
}

#head .appmenu li a:hover{
	background:url(../images/menubg1.png) top left no-repeat; 
}

#head .mous_on{
	background:url(../images/menubg1.png) top left no-repeat;
	width:85px; 
	text-align:center; 
	height:26px; 
	line-height:26px;  
}

/*======左侧菜单样式=====*/
#leftMenus {
	height: 100%;
	width: 245px;
/*	overflow: auto;*/
	background: url(../images/leg_49_1.gif) top left repeat-y;
	float:left;
	
}

#leftMenus .leg_tople_cn {
	width: 224px;
	height: 42px;
	background: url(../images/leg_033.gif) top left no-repeat;
}
#leftMenus .leg_tople_en {
	width: 224px;
	height: 42px;
	background: url(../images/leg_0332.gif) top left no-repeat;
}

#leftMenus  .left_menu {
	padding-top: 21px;
	width: 214px;
	height: 100%;
	overflow:auto;
	padding-left: 10px;
	color: #b74033;
	background: url(../images/leg_49_1.gif) top left repeat-y;
	
	
}

#leftMenus  .left_menu .lanm {
	padding-bottom: 5px;
}

#leftMenus  .left_menu .lanm .folder{
	background: url(../images/leg_09.gif) top left no-repeat;
	padding-left:40px;
	height: 20px;
	line-height:15px;
}

#leftMenus  .left_menu .lanm .folder1{
	background: url(../images/leg_10.gif) top left no-repeat;
	padding-left:40px;
	height: 20px;
	line-height:15px;
}



#leftMenus  .left_menu .lanm dl dt {
	background: url(../images/leg_20.gif) no-repeat scroll left top transparent;
	margin-left: 28px;
	/*padding-left: 20px;*/
	padding-left: 10px;
	/*height: 20px;*/
	/*line-height: 20px;*/
	line-height: 22px;
}

#leftMenus  .left_menu .lanm dl dd {
	/*
	background: url(../images/leg_23.gif) left top no-repeat;
	margin-left: 28px;
	padding-left: 20px;
	height: 20px;
	line-height: 20px;*/
	background:url(../images/leg_23.gif) left top no-repeat;
	margin-left:28px;
	padding-left:10px;
	line-height:22px;
}
#leftMenus .left_menu .lanm dl dl dd{
	background:url(../images/leg_23.gif) left top no-repeat;
	margin-left:10px;
	padding-left:10px;
	line-height:22px;
}	
#leftMenus .left_menu .lanm dl dl dt{
	margin-left:10px;
	padding-left:10px;
	line-height:22px;
}	
#leftMenus  .left_menu .lanm dl dt a,.lanm dl dd a {
	color: #b74033;
}

#leftMenus .lanm dd a:hover,.lanm dt a:hover{
	background:url(../images/leftbg.png) top left repeat-x;
	/*
	display:block;
	width:139px;*/
	height:22px;
	padding-left:4px;
	line-height:22px;
	padding-left:5px; padding-right:5px;
	padding-top:4px;
	padding-bottom:4px;
	}
#leftMenus .lanm dt a,.lanm dd a{
	/*width:139px;*/
	height:22px;
	line-height:22px;
	padding-left:4px;
	/*display:block;*/
	}
#leftMenus .lanm .left_on{
	height:20px;
	background:url(../images/leftbg.png) top left repeat-x;
	padding-left:5px; padding-right:5px;
	padding-top:4px;
	padding-bottom:4px;
	}

#leftMenus .lanm dt img{
	float:left;
	padding-left:5px;
	padding-right:5px;
	padding-top:6px;
	}
	
	#leftMenus .lanm dd img{
	float:left;
	padding-left:5px;
	padding-right:5px;
	padding-top:6px;
	}
/*======右侧内容样式=====*/
#right {
	overflow-y: auto;
}

#right ifram {
	width: 100%;
	height: 100%;
}

/*测试时添加，以后要删除sysmenu的样式*/
#right_content {
	overflow-y: auto;
	width:auto;
	padding-right:22px;
}

.IE6png{
behavior: url("/adminthemes/default/css/iepngfix.htc");
/*behavior: url("iepngfix.htc");*/
}