/*****************全局设置+导航****************************/
body,div,ul,li{margin:0;padding:0;}

li{list-style:none;}
a:link,a:visited{outline:none;text-decoration:none;}
#wrapdh{width:970px; margin:0 auto;}
#topBar{color:#ffffff;height:18px;background:#131623;overflow:hidden;font:12px/28px Arial;text-align:right;}
#topBar a{color:#FFF;background:#ffffff;padding:2px 5px;border-radius:10px;}
#navll{height:30px;  width:970px; margin:0 auto;overflow:hidden; background:url(../../images/menubg.gif) top left repeat-x;}
 
#navll ul,#navll ul li{float:left;}
.nav_home a{float:left; color:#ffffff;height:30px;padding:0 27px; font-size:15px; line-height:30px; font-weight:bold;}
#navll ul li a{float:left;color:#FFFFFF;height:30px;padding:0 27px; font-size:15px; line-height:30px; font-weight:bold;}
#navll ul li.onbg a{ background:url(../../images/menu_onbg.gif) top left repeat-x; height:30px; color:#e40218;}
#navll ul li:hover a{ color:#e40218;}

#navll ul li:hover{ background:url(../../images/menu_onbg.gif) top left repeat-x; height:30px; color:#e40218;}

#navll.hide ul{display:none;}

/***********************导航pane*******************************/
#itemMun
{  width:970px; margin:0 auto;
	
	height:364px;
	background:url(../../images/itbg.gif) top left repeat-x;
	overflow:hidden;
	}
#box{height:364px;width:970px;position:relative; left:0px;white-space:nowrap; }
#box span{display:inline-block;width:970px;white-space:normal ; vertical-align:text-top;}
#box span dl{ width:140px; float:left; margin-left:10px;}
#box span dl dt{ font-weight:bold; color:#595757; line-height:25px; margin-top:10px;}
#box span dl dd{background:url(../../images/bullets.gif) no-repeat -2px 4px; margin-top:3px; padding-left:10px;font-family: Arial, sans-serif; color:#555555; list-style:none; width:130px; }

#box span div h3{
color: rgba(255, 255, 255, .75);
color: #00B0DA 9;
width: 140px;
padding-left: 0;
font-weight: bold;
height:15px;
}
h3 {
display: block;
font-size: 1.17em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}


#itemMun_bottom {z-index:9; height:25px; width:970px; POSITION: relative; MARGIN: -25px auto 0px; OVERFLOW: hidden; CURSOR: pointer}
#itemMun_bottom span{ 
	POSITION: absolute; TEXT-ALIGN: center; TEXT-INDENT: -9999em; WIDTH: 970px; DISPLAY: block; BACKGROUND: url(../../images/mm_hui.png) no-repeat 0px 0px; HEIGHT: 25px; _background: none
}
#itemMun_bottom SPAN:hover {
	BACKGROUND-POSITION: 0px -25px
}
#itemMun_bottom SPAN:active {
	BACKGROUND-POSITION: 0px -49px
}
#itemMun_bottom SPAN:focus {
	BACKGROUND-POSITION: 0px -49px
}












