<script type="text/javascript">
$(document).ready(function(){
$("#submitToPay").submit();
});
</script>
<!-- 测试地址 https://pilot-payflowpro.paypal.com  MODE=TEST
     正式地址：https://payflowlink.paypal.com/    MODE=LIVE
-->
<form id="submitToPay" method='post' action='https://payflowlink.paypal.com'> 
<input type='hidden' id="SECURETOKEN" name='SECURETOKEN' value='${SECURETOKEN}'/>
<input type='hidden' id="SECURETOKENID" name='SECURETOKENID' value='${SECURETOKENID}'  />
<input type='hidden' name='MODE' value='LIVE' />
<!-- <input type='hidden' id="CANCELURL" name='CANCELURL'  /> -->
<!-- <input type='hidden' id="RETURNURL " name='RETURNURL   '  /> -->
<!-- <input type='hidden' id="ERRORURL   " name='ERRORURL   '  /> -->
</form>