	
	<#if userType='1'>
		<div class="my_pro_title clearfix">  
    	<div style="float:right">  	
       <div id="idContainer4" class="container4" >
		  <ul id="idMenu4" onmouseover="reloadPage();" onmouseout="deleteCookie();">
		    <li id="idMenu4_1"><a href="cart.html?way=1">
		    <span style="position:absolute;"><img src="themes/autel/images/buy.gif" width="35" height="23" /></span>
		    <span style="position:relative; top:-7px; left:17px;font-weight:bold;font-weight:bold;" id="item">${items}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		    <a style="color:#666666;font-size:12px;font-weight:bold;position:relative; top:5px;" onclick="javacript:jump('cart.html?way=1')">${bundle("cart.name")}</a></a></li>
		  </ul>
	</div>
 
<div id="idContainer4_2" class="container4_2 IE6png" style="display:none;background:url(themes/autel/images/bybg.png) top left no-repeat;">
</div>
</div>
<div style="float:left"><a href="myAccount.html">${bundle("autel.menu.myaccount")}</a><span style="color:#a2a2a2;"></span></div>  	
</div> 
	<#else>
	<div class="my_pro_title">
		<a href="myDistributorAccount-1-1.html">${bundle("autel.menu.myaccount")}</a><span style="color:#a2a2a2;"></span>
	</div>
	</#if>

<script>
var menu4 = [
         	{ id: 1, parent: 0, elem: 'idMenu4_1', active: "menu4" },

         	{ id: 11, parent: 1, elem: 'idMenu4_11' },
         	{ id: 12, parent: 1, elem: 'idMenu4_12' },
         	{ id: 13, parent: 1, elem: 'idMenu4_13' },
         	{ id: 14, parent: 1, elem: 'idMenu4_14' },
         	{ id: 15, parent: 1, elem: 'idMenu4_15' },
         	{ id: 16, parent: 1, elem: 'idMenu4_16' },
         	{ id: 17, parent: 1, elem: 'idMenu4_17' },
         	{ id: 18, parent: 1, elem: 'idMenu4_18' },
         	{ id: 19, parent: 1, elem: 'idMenu4_19' },
         	{ id: 20, parent: 1, elem: 'idMenu4_20' },
         	{ id: 21, parent: 1, elem: 'idMenu4_21' },
         	{ id: 22, parent: 1, elem: 'idMenu4_22' },
         	{ id: 23, parent: 1, elem: 'idMenu4_23' },
         	{ id: 24, parent: 1, elem: 'idMenu4_24' },
         	{ id: 25, parent: 1, elem: 'idMenu4_25' },
         	{ id: 26, parent: 1, elem: 'idMenu4_26' },
         	{ id: 27, parent: 1, elem: 'idMenu4_27' },
         	{ id: 28, parent: 1, elem: 'idMenu4_28' },
         	{ id: 29, parent: 1, elem: 'idMenu4_29' },
         	{ id: 30, parent: 1, elem: 'idMenu4_30' },
         	{ id: 31, parent: 1, elem: 'idMenu4_31' },
         	{ id: 32, parent: 1, elem: 'idMenu4_32' },
         	{ id: 33, parent: 1, elem: 'idMenu4_33' },
         	{ id: 34, parent: 1, elem: 'idMenu4_34' },
         	{ id: 35, parent: 1, elem: 'idMenu4_35' },
         	{ id: 36, parent: 1, elem: 'idMenu4_36' },
         	{ id: 37, parent: 1, elem: 'idMenu4_37' },
         	{ id: 38, parent: 1, elem: 'idMenu4_38' },
         	{ id: 39, parent: 1, elem: 'idMenu4_39' },
         	{ id: 40, parent: 1, elem: 'idMenu4_40' },
         	{ id: 41, parent: 1, elem: 'idMenu4_41' },
         	{ id: 42, parent: 1, elem: 'idMenu4_42' },
         	{ id: 43, parent: 1, elem: 'idMenu4_43' },
         	{ id: 44, parent: 1, elem: 'idMenu4_44' },
         	{ id: 45, parent: 1, elem: 'idMenu4_45' },
         	{ id: 46, parent: 1, elem: 'idMenu4_46' },
         	{ id: 110, parent: 1, elem: 'idMenu4_110' },
         	{ id: 111, parent: 1, elem: 'idMenu4_111' },
         	{ id: 112, parent: 1, elem: 'idMenu4_112' },
         	{ id: 113, parent: 1, elem: 'idMenu4_113' },
         	
         	
         	
         ];

         new FixedMenu([ { id: "idContainer4", menu: "idMenu4" }, "idContainer4_2" ], {
         	menu: menu4, relContainer: true,
         	relative: { align: "clientleft", vAlign: "bottom", customTop: -0 }
         });

</script>
<script type="text/javascript">
//写cookies函数 作者：翟振凯
function SetCookie(name,value)//两个参数，一个是cookie的名子，一个是值
{
    var Days = 30; //此 cookie 将被保存 30 天
    var exp  = new Date();    //new Date("December 31, 9998");
    exp.setTime(exp.getTime() + Days*24*60*60*1000);
    document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
}
function getCookie(name)//取cookies函数        
{
    var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
     if(arr != null) return unescape(arr[2]); return null;

}
function delCookie(name)//删除cookie
{
    var exp = new Date();
    exp.setTime(exp.getTime() - 1);
    var cval=getCookie(name);
    if(cval!=null) document.cookie= name + "="+cval+";expires="+exp.toGMTString();
}

var firstInPage = true;
function reloadPage(){
	
	if(firstInPage)
	{
		firstInPage = false;
		setTimeout("reloadPage2()",300);
	}
	else
	{
		 reloadPage2();
	}
}

function reloadPage2(){
	var cart1;
	$.ajax({
		url:'front/usercenter/customer/menuCart.do',
		type:"post",
		data:{},
		dataType:'JSON',
		async:false,
		success :function(data){
			var jsonData=eval(data);
			var cart=jsonData[0].shoppingCart;
			cart1=cart;
			$("#item").html("");
			var id=12;
			if(cart1 == null || cart1 == ""){//无数据
				//判断表情是否存在，存在则删除
				if($("#idMenu4_12")!=undefined){
					$("#idMenu4_12").remove();
				}
				if($("#idMenu4_10")!=undefined){
					$("#idMenu4_10").remove();
				}
				if($("#idMenu4_11")!=undefined){
					$("#idMenu4_11").remove();
				}
				$("#idContainer4_2").html("");
				$("#idContainer4_2").html("<div id=\"idMenu4_113\" class=\"IE6png\" style=\" padding-left:15px; width:263px; background:url(themes/autel/images/bybg1.png) top left no-repeat;height:67px;  padding-right:15px;\"><div align=\"center\">${bundle('cart.noshop.name')}</div></div>");
				
				$("#idMenu4_113").html("<div align=\"center\">${bundle('cart.noshop.name')}</div>");
				var len=id-12;
				$("#item").html(len);
			}else{
				
				$("#idContainer4_2").html("");
				$("#idContainer4_2").html("<div id=\"idMenu4_10\"  style=\"padding-left:30px; width:253px; padding-right:10px; height:40px; line-height:38px; color:#666666; font-weight:bold; font-size:14px;\">${bundle('cart.youcart.name')}</div><div id=\"idMenu4_11\" class=\"IE6png\" style=\" background:url(themes/autel/images/bybg2.png) top left repeat-y; padding-left:15px; padding-right:15px; width:263px;\"><div id=\"idMenu4_12\" style=\"max-height:254px; overflow-y:auto;\"></div></div><div id=\"idMenu4_113\" class=\"IE6png\" style=\" padding-left:15px; width:263px; background:url(themes/autel/images/bybg1.png) top left no-repeat;height:67px;  padding-right:15px;\"></div>");
				
				$("#idMenu4_113").html("");
				$("#idMenu4_12").html("");
					
				//for循环
				var str="";
				for ( var i = 0; i < cart1.length; i++) {
					var number = cart1[i];
					var minUnitVOs=number.minUnitVOs;
	                  
					for (var j = 0; j < minUnitVOs.length; j++) {
						var vo = minUnitVOs[j];
						id=id+1;
						if(vo.type == 1){
							str+="<div id=\"idMenu4_"+id+ "\""+" class=\"sop_st\"><strong>"+vo.name+"</strong><br><span class=\"beishu\">x "+vo.year+"</span><span class=\"moey_st\" style=\"color:#8f1d22;\">$"+vo.discountPrice+"</span>${bundle('myproducts.renewal.name')}</div>";
						}else{
							str+="<div id=\"idMenu4_"+id+ "\""+" class=\"sop_st\"><strong>"+vo.name+"</strong><br><span class=\"beishu\"></span><span class=\"moey_st\" style=\"padding-right:27px;color:#8f1d22;\">$"+vo.discountPrice+"</span>${bundle('myproducts.new.name')}</div>";
						}
					}
				}
				$("#idMenu4_12").html(str);
				var len=id-12;
				$("#idMenu4_113").html("<div style=\"border-top:#cccccc 1px solid;padding-top:10px; padding-left:20px;\"><input name=\"\" type=\"button\" value=\"${bundle('cart.viewcart.name')} ("+len+" ${bundle('cart.items.name2')})\" onclick=\"javacript:jump('cart.html?way=1')\" class=\"renew1669\" /></div>");
				$("#item").html(len);
			}
				
		},
		error :function(){
			//alert("<fmt:message key='system.error.name' />");
		}
	});
}

function deleteCookie(){
	delCookie("number");
}

</script>