<link href="${bundle('autelproweb.url')}/themes/autel/css/autelcms/css.css" rel="stylesheet" type="text/css" />
<link href="${bundle('autelproweb.url')}/themes/autel/css/autelcms/select2css.css" rel="stylesheet" type="text/css" />
<link  href="${bundle('autelproweb.url')}/themes/autel/css/autelcms/style.css" rel="stylesheet" type="text/css"/>
<link media="all" href="${bundle('autelproweb.url')}/themes/autel/css/autelcms/bunner.css" type="text/css" rel="stylesheet">
<link media="all" href="${bundle('autelproweb.url')}/themes/autel/css/autelcms/css2014.css" type="text/css" rel="stylesheet">
<script language="javascript" type="text/javascript">
$(document).ready(function(){
	var show=false;
	var li_id;
	
	$("#txtKey").focus(function(){
		
		$(this).css({color:"#3F3E3D"})
	});
   $("#txtKey").blur(function(){
	   $(this).css({color:"#CCCCCC"})
		
	});
	
	$("#itemMun").hide();
	$("#nav_ul li").click(function(){
		
		
		
		if(this.id=="li_4"){
			
			return;
		}
		
		if(this.id != "")
		{
			
			if(show==false)
			{
				$("#itemMun").slideDown("50");
				show=true;
				li_id=this.id; 
				Maxheight();
				var index_li=this.id.substring(3);
				searchItem(index_li);
		     }else if(show==true)
			{
				if(li_id==this.id)
				{
					$("#itemMun").slideUp("80");
					show=false;
					Minheight();
				}else
				{  
				   li_id=this.id;
				   var index_li=this.id.substring(3);
				   searchItem(index_li);
				}			
			}
		}
		$("ul#nav_ul > li[class='onbg'] a").removeAttr("style");
		//$("ul#nav_ul > li a").attr("style","");
		//$("ul#nav_ul > li[class='onbg'] a").css({color:"#ffffff"});
		$("ul#nav_ul > li[class='onbg']").removeClass("onbg");		
		$('#'+li_id).addClass("onbg");
		$('#'+li_id+" a").css({color:"#E40218"});
		$("#home").removeClass("onbg");
		});
		$("#head_div").hover(function(){}, function(){
			show=false;
			$("#itemMun").slideUp("80");
			Minheight();
		});
		function searchItem(index_li)
		{
			  var width; 
			     if(index_li==1)
				 {
					 width="2%";
			     }
				 if(index_li==2)
				 {
					 width="-100%";
			     }  if(index_li==3)
				 {
					 width="-200%";
			     }  if(index_li==4)
				 {
					 width="-300%";
			     }  if(index_li==5)
				 {
					 width="-400%";
			     }  if(index_li==6)
				 {
					 width="-500%";
			     }  if(index_li==7)
				 {
					 width="-600%";
			     }
				 $("#box").animate({left:width},"slow");
			}
	});
	
	function Maxheight(){
		/* var obj=parent.document.getElementById("header");
		var height = $(obj).contents().height();
	    $(obj).height( height < 375 ? 375 : height );  */
	}
	function Minheight(){
		/* var obj=parent.document.getElementById("header");
		var height = $(obj).contents().height();
	    $(obj).height(107);  */
	}
	
   function jumpToURL(url){
	   
	   window.parent.location.href=url;
   }
	
</script>

<div style="position:fixed;z-index:999999999;left:0px;right:0px;width:auto;margin-left:auto;margin-right:auto;">
<div class="top2014">
<div class="top clearfix">
	<div class="top_left"><a href="${bundle('autelcms.path')}"><img src="${bundle('autelproweb.url')}/themes/autel/images/new_logo_top2.png" /></a></div>
	<div class="top_right">
    <div style="text-align:right;">
  
    <a href="${bundle('autelcms.path')}/changelanguage/409.jhtml" target="_self"><img src="${bundle('autelproweb.url')}/themes/autel/images/Map.png" width="29" height="12" />&nbsp;<span 

id="custCountry"></span></a>&nbsp; 
  
    <span id="autelIdStr">
    
    
    <#if userType ?? >
    			&nbsp;&nbsp;${country!''}&nbsp;&nbsp; |&nbsp;&nbsp;${bundle("common.hello.name")}, ${autelId!''}&nbsp;&nbsp;  
    			|&nbsp;&nbsp;<a href="${bundle('autelproweb.url')}/loginOut.html?loginToType=1&operationType=18&userType=${userType!''}&m=1" style="color:#ffffff">${bundle("common.exit.name")}</a>&nbsp;&nbsp;|
    		<#else>
    			${bundle("header.html.country")}&nbsp;&nbsp; 
    			|&nbsp;&nbsp;<a href="${bundle('autelproweb.url')}/login.html?loginToType=1&operationType=3&m=1" style="color:#ffffff">${bundle("accountinformation.login.name")}</a>&nbsp;&nbsp;|
    			&nbsp;&nbsp;<a href="${bundle('autelproweb.url')}/regCustomerInfo.html?operationType=1&m=1" style="color:#ffffff">${bundle("accountinformation.regin.name")}</a>&nbsp;&nbsp;|
    		</#if>
    
    </span>
 
    
    </div>
    
    </div>
</div>
</div>
<div id="head_div" style="padding-top:0px">
<div id="wrap">
    <!--/topBar-->
    <div id="navll">
        <div class="menu_left">
        <ul id="nav_ul">
        	<!-- <li class="menu_mid"></li> -->	
                  <li id="li_2" flag="Products"><a href="javascript:void(0);">${bundle("header.html.product")}</a></li>
                  <li class="menu_mid"></li>
                  <li id="li_3" flag="Diagnostic Platform"><a href="javascript:void(0);">${bundle("header.html.diagnostic")}</a></li>
                  <li class="menu_mid"></li>
                 <li id="li_4" flag="Diagnostic Software" ><a onclick="javascript:jumpToURL('${bundle('autelproweb.url')}')">${bundle("header.html.proweb")}</a></li>
                 <li class="menu_mid"></li>
                 <li id="li_5" flag="TPMS"><a href="javascript:void(0);">${bundle("header.html.tpms")}</a></li>
                 <li class="menu_mid"></li>
                 <li id="li_6" flag="Support & Updates"><a <a href="javascript:void(0);">${bundle("header.html.update")}</a></li>
                 <li class="menu_mid"></li>
                 <li id="li_7" flag="About Autel"><a href="javascript:void(0);">${bundle("header.html.about")}</a></li>
                 <li class="menu_mid"></li>
        </ul>
        </div>
        
    </div>
    <!--/nav-->
   
</div>
<!--/wrap-->
<div id="itemMun" style="display:none">
<div id="box">

<span>
<div><a class="ti"></a><ul><li></li></ul></div>
</span>

 <span>
    <div style="padding-left:30px;">
		          <dl>
			      <dt>${bundle("header.html.Analysis.System")}</dt>	
				   	<dd><a href="${bundle('autelcms.path')}/Automotive Diagnostic& Analysi/341.jhtml" target="_self">MaxiDAS DS708</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/Automotive Diagnostic& Analysi/481.jhtml" target="_self">MaxiSys</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/Automotive Diagnostic& Analysi/513.jhtml" target="_self">MaxiSys Pro</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/Automotive Diagnostic& Analysi/515.jhtml" target="_self">MaxiSys Mini</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/Automotive Diagnostic& Analysi/544.jhtml" target="_self">MaxiSys Elite</a></dd>
			      <dt>${bundle("header.html.TPMS.System")}</dt>	
				   	<dd><a href="${bundle('autelcms.path')}/TPMS Diagnostic & Service Tool/350.jhtml" target="_self">MaxiTPMS TS101</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/TPMS Diagnostic & Service Tool/351.jhtml" target="_self">MaxiTPMS TS401</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/TPMS Diagnostic & Service Tool/352.jhtml" target="_self">MaxiTPMS TS501</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/TPMS Diagnostic & Service Tool/476.jhtml" target="_self">MaxiTPMS TS601</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/TPMS Diagnostic & Service Tool/533.jhtml" target="_self">MaxiTPMS PAD</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/TPMS Diagnostic & Service Tool/534.jhtml" target="_self">MX-Sensor</a></dd>
		          </dl>
		          
		          <dl>
			      <dt>${bundle("header.html.j2534.System")}</dt>	
				   	<dd><a href="${bundle('autelcms.path')}/J2534 Pass Through/492.jhtml" target="_self">MaxiFlash Pro</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/J2534 Pass Through/494.jhtml" target="_self">MaxiFlash Toyota</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/J2534 Pass Through/496.jhtml" target="_self">MaxiFlash Jaguar</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/J2534 Pass Through/498.jhtml" target="_self">MaxiFlash Ford</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/J2534 Pass Through/500.jhtml" target="_self">MaxiFlash GM</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/J2534 Pass Through/502.jhtml" target="_self">MaxiFlash Chrysler</a></dd>
			      <dt>${bundle("header.html.Electrical.Testers")}</dt>	
				   	<dd><a href="${bundle('autelcms.path')}/Electrical Testers/420.jhtml" target="_self">PowerScan PS100</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/Electrical Testers/504.jhtml" target="_self">MaxiTester MX101</a></dd>
				   	<dd><a href="${bundle('autelcms.path')}/Electrical Testers/505.jhtml" target="_self">MaxiTester MX201</a></dd>
		          </dl>
		          
	         
	         <dl>
		      <dt>${bundle("header.html.Code.Scanners")}</dt>	
			   	<dd><a href="${bundle('autelcms.path')}/Code Readers&Code Scanners/357.jhtml" target="_self">Autolink AL301</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Code Readers&Code Scanners/358.jhtml" target="_self">Autolink AL319</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Code Readers&Code Scanners/359.jhtml" target="_self">Autolink AL419</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Code Readers&Code Scanners/360.jhtml" target="_self">Autolink AL519</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Code Readers&Code Scanners/361.jhtml" target="_self">Autolink AL619</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Code Readers&Code Scanners/362.jhtml" target="_self">Autolink AL439</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Code Readers&Code Scanners/363.jhtml" target="_self">Autolink AL539</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Code Readers&Code Scanners/507.jhtml" target="_self">Autolink AL539b</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Code Readers&Code Scanners/508.jhtml" target="_self">Autolink AL609</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Code Readers&Code Scanners/539.jhtml" target="_self">Autolink AL100</a></dd>
	          </dl>
	         
	         <dl>
		      <dt>${bundle("header.html.Professional.Scan")}</dt>	
			   	<dd><a href="${bundle('autelcms.path')}/Professional Scan Tools/364.jhtml" target="_self">MaxiDiag Elite MD701</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Professional Scan Tools/365.jhtml" target="_self">MaxiDiag Elite MD702</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Professional Scan Tools/366.jhtml" target="_self">MaxiDiag Elite MD703</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Professional Scan Tools/367.jhtml" target="_self">MaxiDiag Elite MD704</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Professional Scan Tools/368.jhtml" target="_self">MaxiDiag Elite MD802</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Professional Scan Tools/541.jhtml" target="_self">MOT Pro EU908</a></dd>
	          </dl>
	         
	         
	         
	         
	         <dl>
		      <dt>${bundle("header.html.Inspection.Cameras")}</dt>	
			   	<dd><a href="${bundle('autelcms.path')}/Digital Inspection Cameras/377.jhtml" target="_self">Maxivideo MV101</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Digital Inspection Cameras/378.jhtml" target="_self">Maxivideo MV208</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Digital Inspection Cameras/379.jhtml" target="_self">Maxivideo MV201</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Digital Inspection Cameras/380.jhtml" target="_self">Maxivideo MV301</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Digital Inspection Cameras/381.jhtml" target="_self">Maxivideo MV400</a></dd>
	          </dl>
	         
	           <dl>
		      <dt>Automotive Oscilloscope</dt>	
			   	<dd><a href="${bundle('autelcms.path')}/Automotive Oscilloscope/540.jhtml" target="_self">MaxiScope MP408</a></dd>
	          </dl>
	         
	         <dl>
		      <dt>${bundle("header.html.Specialty.Products")}</dt>	
			   	<dd><a href="${bundle('autelcms.path')}/Specialty Products/369.jhtml" target="_self">MaxiCheck EPB</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Specialty Products/370.jhtml" target="_self">MaxiCheck Oil Light/Service Reset</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Specialty Products/371.jhtml" target="_self">MaxiCheck Airbag/ABS</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Specialty Products/372.jhtml" target="_self">MaxiCheck DPF Reset</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Specialty Products/373.jhtml" target="_self">MaxiCheck Steering Angle Sensor Calibration</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Specialty Products/374.jhtml" target="_self">VAG505</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Specialty Products/375.jhtml" target="_self">OLS301</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Specialty Products/376.jhtml" target="_self">EBS301</a></dd>
	          </dl>
    </div>
    </span>
    <span>
    <div style="padding-left:30px;">
	         <dl>
		      <dt>
		      ${bundle("header.html.Analysis.System")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/Automotive Diagnostic & Analys/382.jhtml" target="_self">MaxiDAS DS708</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Automotive Diagnostic & Analys/458.jhtml" target="_self">MaxiSys</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Automotive Diagnostic & Analys/514.jhtml" target="_self">MaxiSys Pro</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Automotive Diagnostic & Analys/516.jhtml" target="_self">MaxiSys Mini</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Automotive Diagnostic& Analysi/544.jhtml" target="_self">MaxiSys Elite</a></dd>
	          </dl>
	         <dl>
		      <dt>
		     ${bundle("header.html.vci")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/J2534 Pass Through/493.jhtml" target="_self">MaxiFlash Pro</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/J2534 Pass Through/537.jhtml" target="_self">Wireless Diagnostic Interface</a></dd>
	          </dl>
	         <dl>
		      <dt>
		      ${bundle("header.html.Professional.Scan")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/Professional Scan Tools/389.jhtml" target="_self">MaxiDiag Elite MD701</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Professional Scan Tools/390.jhtml" target="_self">MaxiDiag Elite MD702</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Professional Scan Tools/391.jhtml" target="_self">MaxiDiag Elite MD703</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Professional Scan Tools/392.jhtml" target="_self">MaxiDiag Elite MD704</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Professional Scan Tools/393.jhtml" target="_self">MaxiDiag Elite MD802</a></dd>
	          </dl>
	         <dl>
		      <dt>
		         ${bundle("header.html.MaxiCheck")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/MaxiCheck/394.jhtml" target="_self">MaxiCheck EPB</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/MaxiCheck/395.jhtml" target="_self">MaxiCheck Oil Light/Service Reset</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/MaxiCheck/396.jhtml" target="_self">MaxiCheck Airbag/ABS</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/MaxiCheck/397.jhtml" target="_self">MaxiCheck DPF Reset</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/MaxiCheck/398.jhtml" target="_self">MaxiCheck Steering Angle Sensor Calibration</a></dd>
	          </dl>
	         <dl>
		      <dt>
		     ${bundle("header.html.MaxiService")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/MaxiService/399.jhtml" target="_self">VAG505</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/MaxiService/400.jhtml" target="_self">OLS301</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/MaxiService/401.jhtml" target="_self">EBS301</a></dd>
	          </dl>
    </div>
    </span>
    <span>
    <div style="padding-left:30px;">
    </div>
    </span>
    <span>
    <div style="padding-left:30px;">
	         <dl>
		      <dt>
		      ${bundle("header.html.TPMS.System")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/TPMS Diagnostic & Service Tool/402.jhtml" target="_self">MaxiTPMS TS101</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/TPMS Diagnostic & Service Tool/403.jhtml" target="_self">MaxiTPMS TS401</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/TPMS Diagnostic & Service Tool/404.jhtml" target="_self">MaxiTPMS TS501</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/TPMS Diagnostic & Service Tool/472.jhtml" target="_self">MaxiTPMS TS601</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/TPMS Diagnostic & Service Tool/535.jhtml" target="_self">MaxiTPMS PAD</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/TPMS Diagnostic & Service Tool/536.jhtml" target="_self">MX-Sensor</a></dd>
	          </dl>
	         <dl>
		      <dt>
		      <img src='${bundle("autelproweb.url")}/themes/autel/images/TPMS_NEW.jpg'></img>
		      </dt>	
	          </dl>
    </div>
    </span>
    <span>
    <div style="padding-left:30px;">
	         <dl>
		      <dt>
		      ${bundle("header.html.Customer.Support")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/CustomerSupport/413.jhtml" target="_self">${bundle("header.html.Customer.Support.tech")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/CustomerSupport/414.jhtml" target="_self">${bundle("header.html.Customer.Support.manuals")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/CustomerSupport/415.jhtml" target="_self">${bundle("header.html.Customer.Support.forum")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/CustomerSupport/416.jhtml" target="_self">${bundle("header.html.Customer.Support.videos")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/CustomerSupport/418.jhtml" target="_self">${bundle("header.html.Customer.Support.warranty")}</a></dd>
			   	<dd><a href="${bundle('autelproweb.url')}/measurecar-1-1.html?m=4" target="_self">${bundle("cms.menu.supported")}</a></dd>
	          </dl>
	         <dl>
		      <dt>
		       ${bundle("header.html.Customer.account")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/Account/423.jhtml" target="_self">${bundle("header.html.Customer.account.sign")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/Account/475.jhtml" target="_self">${bundle("header.html.Customer.account.register")}</a></dd>
	          </dl>
	         <dl>
		      <dt>
		      ${bundle("header.html.Customer.forums")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/ForumsTraining/425.jhtml" target="_self">${bundle("header.html.Customer.forums.technical")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/ForumsTraining/426.jhtml" target="_self">${bundle("header.html.Customer.forums.training")}</a></dd>
	          </dl>
	         <dl>
		      <dt>
		      ${bundle("header.html.Customer.update")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/UpdatesDownloads/429.jhtml" target="_self">${bundle("header.html.Customer.update.products")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/UpdatesDownloads/430.jhtml" target="_self">${bundle("header.html.Customer.update.code")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/UpdatesDownloads/431.jhtml" target="_self">${bundle("header.html.Customer.update.video")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/UpdatesDownloads/432.jhtml" target="_self">${bundle("header.html.Customer.update.tester")}</a></dd>
	          </dl>
    </div>
    </span>
    <span>
    <div style="padding-left:30px;">
	         <dl>
		      <dt>
		      ${bundle("header.html.about.corporate")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/CorporateInformation/461.jhtml" target="_self">${bundle("header.html.about.corporate.contract")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/CorporateInformation/462.jhtml" target="_self">${bundle("header.html.about.corporate.milestones")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/CorporateInformation/463.jhtml" target="_self">${bundle("header.html.about.corporate.us")}</a></dd>
	          </dl>
	         <dl>
		      <dt>
		      ${bundle("header.html.about.mission")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/VisionMission/464.jhtml" target="_self">${bundle("header.html.about.mission.quality")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/VisionMission/465.jhtml" target="_self">${bundle("header.html.about.mission.brand")}</a></dd>
	          </dl>
	         <dl>
		      <dt>
		      ${bundle("header.html.about.news")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/NewsRoom/467.jhtml" target="_self">${bundle("header.html.about.news.launch")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/NewsRoom/468.jhtml" target="_self">${bundle("header.html.about.news.zhanhui")} </a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/NewsRoom/469.jhtml" target="_self">${bundle("header.html.about.news.lastest")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/NewsRoom/527.jhtml" target="_self">${bundle("header.html.about.news.update")}</a></dd>
	          </dl>
	         <dl>
		      <dt>
		      ${bundle("header.html.about.join")}
		      </dt>	
			   	<dd><a href="${bundle('autelcms.path')}/JobSeekers/473.jhtml" target="_self">${bundle("header.html.about.join.job")}</a></dd>
			   	<dd><a href="${bundle('autelcms.path')}/JobSeekers/506.jhtml" target="_self">${bundle("header.html.about.join.map")}</a></dd>
	          </dl>
    </div>
    </span>
    
  </div>  

<div id="itemMun_bottom">
<span onclick='$("#itemMun").slideUp("80");'>UP</span>
</div>
</div>
</div>
<div style="height:7px;background:#e5e5e5"></div>
<!--导航结束-->
</div>