<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--头部开始-->

${widget_headerTitle}
<!--头部结束-->

<!--导航开始-->
<div id="head_div">
<div id="wrapdh">
    
    <!--/topBar-->
    <div id="navll">
    	
        <div class="menu_left">
<!--         	${widget_nav_menu} -->
        </div>
        <div class="menu_right">	
		
	</div>
    </div>
    <!--/nav-->
</div>
<!--/wrap-->

</div>
<div style="height:10px;"></div>