<ul id="nav_ul">
<#if showMenuIndex==-1 >
	<#assign showMenuIndex = 1 />
</#if>
	<#list menuList as menu >
		<#assign haschild=false />
		<#assign first=false />
		<#assign last=false />
		
		<#if menu.hasChildren ><#assign haschild=true /> </#if>
		<#if menu_index==0><#assign first=true /></#if>
		<#if !menu_has_next><#assign last=true /></#if> 
		
		<li  class="<#if menu_index?? &&  menu_index==showMenuIndex>onbg</#if>"  >
			
			<#if menu.url = 'myAccount'>
			    <#if userType ?? && userType = '2'>
			    	<a href="${bundle('autelproweb.url')}/myDistributorAccount-1-1.html" class="<#if menu_index?? &&  menu_index==showMenuIndex>obg</#if>"  >
						<!-- ${menu.name!''}	 -->
						${bundle("homepage.customer.allinfo")}
					</a>
			    <#else>
			         <#if updateFlag?? && updateFlag==false>
			              <a href="${bundle('autelproweb.url')}/updateAutelID.html?m=1" class="<#if menu_index?? &&  menu_index==showMenuIndex>obg</#if>">${menu.name!''}</a>
			    	<#elseif proCount?? >
				    	<#if proCount gt 0 >
					    	<a href="${bundle('autelproweb.url')}/myAccount.html?m=1" class="<#if menu_index?? &&  menu_index==showMenuIndex>obg</#if>"  >
								${menu.name!''}	
							</a>
						<#else>
							<a href="${bundle('autelproweb.url')}/regProduct.html?m=1" class="<#if menu_index?? &&  menu_index==showMenuIndex>obg</#if>"  >
								${menu.name!''}	
							</a>
						</#if>
					<#else>
						<a href="${bundle('autelproweb.url')}/regProduct.html?m=1" class="<#if menu_index?? &&  menu_index==showMenuIndex>obg</#if>"  >
								${menu.name!''}	
						</a>
					</#if>
			    </#if>
			<#else>
				<#if menu_index==0>
					<a href="${menu.url}" class="<#if menu_index?? &&  menu_index==showMenuIndex>obg</#if>"  >
						${menu.name!''}	
					</a>
				<#else>
					<a href="${bundle('autelproweb.url')}/${menu.url}" class="<#if menu_index?? &&  menu_index==showMenuIndex>obg</#if>"  >
						${menu.name!''}	
					</a>
			    </#if>
			</#if>
		</li>
    	<li class="menu_mid"></li>
	</#list>
</ul>
