<#if result=='Y'> 
<div class="or_com">
			<strong>${bundle("order.success.name")} ${orderNo} ${bundle("order.success.name2")} , </strong><br />
			<strong>${bundle("order.query.name")} <a href="myOrders-1-1.html">${bundle("order.myorder.name")} </a> ${bundle("order.query.name1")}</strong>
 </div>
 
 <#else>
  <div class="or_com2">
		     <strong>${bundle("order.success.name")} ${bundle("order.pay.fail")}  </strong><br />
		     <strong>${errorString!''}</strong>
</div>   
</#if>