	<#assign mi = 1 />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<div class="account_left">
			<dl>
				<dt><a style="color:#FFFFFF" href="myDistributorAccount-1-1.html?m=${mi}">${bundle("homepage.customer.allinfo")}</a></dt>
	          <!--  
	            <dd <#if sealermenu='1' >class="account_left_dd"</#if> >
	            <a href="saleInfo-1-1.html?m=${mi}">${bundle("autel.menu.mysales")}</a>
	            </dd>
	           
	            <dd <#if sealermenu='2' >class="account_left_dd"</#if> >
	            <a href="myVendProduct-1-1.html?m=${mi}">${bundle("autel.menu.myvendproduct")}</a>
	            </dd>
	            -->
			    <#list leftMenuList as menu >
			     <dd <#if sealermenu=menu.sealermenu >class="account_left_dd"</#if> >
	             <a href="${menu.url}">${bundle(menu.name)}</a>
	             </dd>
			    </#list>
	            
	            
	           <!--  <dd <#if sealermenu='3' >class="account_left_dd"</#if> >
	            <a href="queryCustomerInfo-1-1.html?m=${mi}&userType=2&type=1">${bundle("sealer.left.menu.query")}</a>
	            </dd>
	            
	             <dd <#if sealermenu='4' >class="account_left_dd"</#if> >
	            <a href="salerComplaintInfo-1-1.html?m=${mi}&userType=2&operationType=1">${bundle("sealer.left.menu.complaint")}</a>
	            </dd>
	           
	            <dd <#if sealermenu='2' >class="account_left_dd"</#if> >
	            <a href="toCustomerCharge-1-1.html?m=${mi}&operationType=1">${bundle("sealer.left.menu.renew")}</a>
	            </dd>
	            
	            <dd <#if sealermenu='6' >class="account_left_dd"</#if> >
	            <a href="myMessageInfo-1-1.html?m=${mi}&userType=2">${bundle("autel.menu.mymessage")}</a>
	            </dd>
	            
	            <dd <#if sealermenu='5' >class="account_left_dd"</#if> >
	            <a href="updatePasswordSealer.html?m=${mi}&operationType=3">${bundle("autel.menu.myupdatepassword")}</a>
	            </dd>
	            <dd <#if sealermenu='7' >class="account_left_dd"</#if> >
	            <a href="updateSealerInfo.html?m=${mi}&operationType=1">${bundle("autel.menu.myaccountinformation")}</a>
	            </dd> -->
	        </dl>
	</div>