	<div class="tit">
    		<span><img src="themes/autel/images/surface/rt.gif" width="22" height="22" /> 
    		Hello, <img src="themes/autel/images/surface/sign.gif" width="22" height="22" style="margin-left:35px;" /> 
    		Sign Out</span><strong>FAQ.</strong>
    	</div>