<tr>
	 <th>Paypal合作伙伴id :</th>
	 <td>
 	 <input type="text" name="partner" value="${partner!''}" dataType="string" isrequired="true"  />
	</td>
</tr>
<tr>
	 <th> Paypal安全校验码:</th>
	 <td>
 	 <input type="text" name="key"  value="${key!''}" dataType="string" isrequired="true"  />
	</td>
</tr>
<tr>
	 <th> 卖家Paypal帐户:</th>
	 <td>
 	 <input type="text" name="seller_email"  value="${seller_email!''}" dataType="string" isrequired="true" />
	</td>
</tr>
<tr>
	 <th> 人民币兑美元汇率:</th>
	 <td>
 	 	<input type="text" name="exchange_rate"  value="${exchange_rate!''}" dataType="float" isrequired="true" />
	</td>
</tr>
<tr>
	 <th>&nbsp;</th>
	 <td>
 	 下面两个参数定义接收Paypal回调通知和成功返回页面时的参数编码<br>
 	 如果编码不正确会导至签名验证失败<br>
 	 请根据Web服务器的的配置情况选择<br>
	</td>
</tr>
<tr>
	 <th> notify编码:</th>
	 <td>
 	 	<select name="callback_encoding">
 	 		<option value="">不编码</option>
 	 		<option value="UTF-8"  <#if callback_encoding?exists && callback_encoding=='UTF-8'>selected</#if>  >UTF-8</option>
 	 		<option value="GBK" <#if callback_encoding?exists && callback_encoding=='GBK'>selected</#if> >GBK</option>
 	 	</select>
	</td>
</tr>
<tr>
	 <th>return编码:</th>
	 <td>
 	 	<select name="return_encoding">
 	 		<option value="">不编码</option>
 	 		<option value="UTF-8" <#if return_encoding?exists &&  return_encoding=='UTF-8'>selected</#if> >UTF-8</option>
 	 		<option value="GBK" <#if  return_encoding?exists && return_encoding=='GBK'>selected</#if> >GBK</option>
 	 	</select>
	</td>
</tr>

