
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript">
function WidthCheck(str, maxLen){  
	var w = 0;  
	var tempCount = 0;
	for (var i=0; i<str.value.length; i++) {  
	   var c = str.value.charCodeAt(i);  
	   if ((c >= 0x0001 && c <= 0x007e) || (0xff60<=c && c<=0xff9f)) {  
	    w++;    
	   }else {    
	    w+=2;  
	  
	   }   
	   tempCount=w;
	   if (w > maxLen) {  
	   str.value = str.value.substr(0,i);
	   break;
	   }    
	}  

	}
</script>

<div class="account_right">
    	<h4 style="padding-right:0px">${bundle("customercomplaint.add.title")}
    	<span>
    	<input style="margin-right: 0px" type="button" value="${bundle('common.return.name')}" name="previosBtn" id="previosBtn" class="renew3" />
    	</span>
    	</h4>
        <div class="my_products_table">
	        <form id="addCustomerComplaint" name="addCustomerComplaint" method="post"  enctype="multipart/form-data">
			<input type="hidden" name="userType" id="userType" value="${userType!''}">
			<input type="hidden" name="userCode" id="userCode" value="${userCode!''}">
			<input type="hidden" name="productSN" id="productSN" value="${productSN!''}">
			<input type="hidden" name="dataloggingId" id="dataloggingId"/>
			<input type="hidden" name="complaintTypeCode" id="complaintTypeCode" value="${complaintType!''}">
			
			
			<input type="hidden" name="carYear" id="carYear"/>
			<input type="hidden" name="vehicleSystem" id="vehicleSystem"/>
			<input type="hidden" name="vehicleType" id="vehicleType"/>
			<input type="hidden" name="system" id="system"/>
			<input type="hidden" name="engineType" id="engineType"/>
			
			
			
        	<table style="width:790px" border="1" bordercolor="#cccccc">
					  <tr>
					    <td width="85px" height="40" style="padding-left:12px;">${bundle("customercomplaint.person.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="285px" colspan="2"><input style="width:295px"  name="complaintPerson" id="complaintPerson" type="text" value="${userName!''}" maxlength="25" class="declar" /></td>
					    <td width="85px" height="40" style="padding-left:12px;">${bundle("customercomplaint.company.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="315px" colspan="3"><input name="company" id="company" type="text" value="${company!''}" maxlength="120" class="organ"    /></td>
					    </tr>
					  <tr>
					    <td width="85px" height="40" style="padding-left:12px;">${bundle("customercomplaint.phone.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="285px" colspan="2"><input style="width:295px" name="phone" id="phone" type="text" value="${phone!''}" maxlength="120" class="declar" /></td>
					    <td width="85px" height="40" style="padding-left:12px;">${bundle("customercomplaint.email.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="315px" colspan="3"><input name="email" id="email" type="text" value="${email!''}" maxlength="120" class="organ" /></td>
					  </tr>
					  <tr>
					    <td width="85px" height="40" style="padding-left:12px;"><strong>${bundle("customercomplaint.title.name")}</strong><span class="font12red">&nbsp;*</span></td>
					    <td width="705px" colspan="6"><input style="width:700px" name="complaintTitle" id="complaintTitle" type="text" value="" onchange="WidthCheck(this,198);" onkeyup="WidthCheck(this,198);" class="theme"/></td>
					    </tr>
					   
					   <tr>
					    <td width="85px" height="40" style="padding-left:12px;"><strong>${bundle("sealer.plat.complaint.type")}</strong><span class="font12red">&nbsp;</span></td>
					    <td width="705px" colspan="6">
					      <!--  <select name="questionType" id="questionType" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:200px">
					    	<option   value="" selected="selected">${bundle("product.select")}</option>	
						     <option value="1">${bundle("sealer.plat.complaint.type.hardware")}</option>
						     <option value="2">${bundle("sealer.plat.complaint.type.software")}</option>
						     <option value="3">${bundle("sealer.plat.complaint.type.other")}</option>
						 </select> -->
						 <span style="font-size:13px; margin-left:15px;"><input id="questionType" name="questionType" type="radio" value="1" checked="checked"/> ${bundle("sealer.plat.complaint.type.hardware")}</span>
						 <span style="font-size:13px; margin-left:15px;"><input id="questionType" name="questionType" type="radio" value="2" checked="checked"/> ${bundle("sealer.plat.complaint.type.software")}</span>
						 <span style="font-size:13px; margin-left:15px;"><input id="questionType" name="questionType" type="radio" value="3" checked="checked"/> ${bundle("sealer.plat.complaint.type.other")}</span>
					    </td>
					    </tr>
					    
					  <tr>
					    <td width="85px" height="40" style="padding-left:12px;" rowspan="3"><strong>${bundle("customercomplaint.vehicle.name")}<br />${bundle("customercomplaint.info.name")}</strong></td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.caryear.name")}</td>
					    <td width="200px">
					    <select name="carYear2" class="easyui-combobox" id="carYear2" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:200px">
					    <option   value="" selected="selected">${bundle("product.select")}</option>	
						     <#list yearList as item >
						     <option tag="${item.yearName}" value="${item.yearName!''}">${item.yearName!''}</option>
						     </#list>
						 </select>
					    </td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.vehiclesystem.name")}</td>
					    <td width="250px" colspan="3">
					    
					    
					    <select class="easyui-combobox" name="vehicleSystem2" id="vehicleSystem2" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:300px">
					    <option   value="" selected="selected">${bundle("product.select")}</option>	
						</select>
					    
					    </td>
					   
					  </tr>
					 
					  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.vehicletype.name")}</td>
					    <td width="200px">
					    <select name="vehicleType2" class="easyui-combobox" id="vehicleType2" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:200px">
					    <option   value="" selected="selected">${bundle("product.select")}</option>	
						</select>
					    
					    </td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.system.name")}</td>
					    <td width="250px" colspan="3">
					    <select class="easyui-combobox" name="system2" id="system2" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:300px">
					    <option   value="" selected="selected">${bundle("product.select")}</option>	
						</select>
					    
					    </td>
					    
					  </tr>
					  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.enginetype.name")}</td>
					    <td width="200px">
					    <select class="easyui-combobox" name="engineType2" id="engineType2" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:200px">
					    <option   value="" selected="selected">${bundle("product.select")}</option>	
						</select>
					    
					    </td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.carnumber.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="250px" colspan="3">
 							<input name="carnumber" id="carnumber" type="text" value=""  maxlength="120" class="organ"  />					  
					    </tr>
					    
					   <!--  <tr>
					  <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.carnumber.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="620px" colspan="5"><input  name="carnumber" id="carnumber" type="text" value="" maxlength="17" style="width:600px;height:40px;font-size:13px;border:0;color:#4d4d4d;line-height:40px" /></td>
					  </tr>   -->
					    
					 <!--  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.other.name")}</td>
					    <td width="620px" colspan="5"><input name="other" id="other"  type="text" value="" class="other_in" maxlength="255" style="width:600px;" /></td>
					   </tr>
					  -->
					    
					   <tr>
						    <td width="85px" rowspan="3" style="padding-left:12px;"><strong>${bundle("customercomplaint.diagnosticdevice.name")}</strong></td>
						    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.product.name")}</td>
						    <td>
						    <!-- 
						    <input style="width:190px" name="productName" id="productName" value="" maxlength="120" type="text" class="ve_ser" />
						     -->
						     <select  name="productName" id="productName"  style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:200px">
						     <option tag=""  value="" selected="selected">${bundle("product.select")}</option>	
						     <#list listProduct as item >
						     <option tag="${item.proSerialNo}" value="${item.proTypeName!''}">${item.proTypeName!''}(${item.proSerialNo})</option>
						     </#list>
						     </select>
						    </td>
						    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.productno.name")}</td>
						    <td width="250px" colspan="3"><input readonly name="productNo" id="productNo" value="" maxlength="120" type="text" class="organ" /></td>
    					</tr>
					  
					  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.software.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="200px"><input  name="softwareName" id="softwareName" type="text" value="" class="ve_ser"  maxlength="120" /></td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.softwareedition.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="250px" colspan="3"><input name="softwareEdition" id="softwareEdition" type="text" class="organ" value="" maxlength="120"  /></td>
					  </tr>
					  
					  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("complaint.adapter.name")}</td>
					    <td width="200px"><input  name="adapter" id="adapter" type="text" value="" class="ve_ser"  maxlength="120" /></td>
					    <td width="85px" style="padding-left:12px;">${bundle("complaint.datalogging.name")}</td>
					    <td width="250px" colspan="3">
					     <input  name="datalogging" id="datalogging" type="text" value="" class="ve_ser"  maxlength="120" />
					    
					    </td>
					  </tr>
					  
					  <tr>
					    <td width="85px"  style="padding-left:12px;"><strong>${bundle("customercomplaint.complaintcontent.name")}</strong></td>
					    <td width="705px"  colspan="6"><textarea style="width:700px;height:100px" id="complaintContent" name="complaintContent" class="p_des" cols="" rows=""  maxlength="2000" ></textarea></td>
					  </tr>
					
<tr>
					    <td width="85px" style="padding-left:12px;"><strong>${bundle("customercomplaint.attachment.name")}</strong></td>
					    <td colspan="6">
					   		<div style="position:relative;width:340px">
					   			<input type='text' name='textfield' id='textfield' style="height:26px; border:1px solid #cdcdcd; width:180px;"  readonly="readonly"/> &nbsp;&nbsp; 
		 						 <input type='button' class='renew8' value="${bundle('customercomplaint.uploadfile.name')}"/>
		    					 <input type="file" name="uploadFile"  id="uploadFile" size="28" style="position:absolute; top:0; right:80px; filter:alpha(opacity:0);opacity: 0;height:28px; width:260px" onchange="document.getElementById('textfield').value=this.value" />
					   		</div>
					   		<div style="position:relative;width:690px">
					   		<span style="padding-left:12px;color:#e47911">${bundle("complaint.upload.file")}</span>
					   		</div>
					    </td>
					    </tr>					
					
					  <tr>
					    <td style="padding-left:12px;"><strong>${bundle("customercomplaint.degreeofurgency.name")}</strong></td>
					    <td colspan="6" style="padding-bottom:10px;">
					    <h3 style="font-size:13px; margin-left:15px; margin-top:24px; margin-bottom:10px;">${bundle("customercomplaint.peleasemarktime.name")}.</h3>
					       <span style="font-size:13px; margin-left:15px;"><input id="emergencyLevel" name="emergencyLevel" type="radio" value="1" checked="checked"/>${bundle("customercomplaint.oneday.name")}</span>
					       <span style="font-size:13px; margin-left:50px;"><input id="emergencyLevel" name="emergencyLevel" type="radio" value="2" />${bundle("customercomplaint.threeday.name")} </span>
					       <span style="font-size:13px; margin-left:50px;"><input id="emergencyLevel" name="emergencyLevel" type="radio" value="3" />${bundle("customercomplaint.twoweek.name")}</span>
					       <span style="font-size:13px; margin-left:50px;"><input id="emergencyLevel" name="emergencyLevel" type="radio" value="4" />${bundle("customercomplaint.twomonth.name")}</span>
					    	
					    </td>
					  </tr>
					  
					  
					  <tr >
					 
					    <td colspan="7" align="right" style="padding-bottom:20px;">
					    	<p align="center"><span  id="operationResultTip" style="font-size:20px;color:red;">&nbsp;</span></p>
				    		<input  type="button" value="${bundle('common.btn.ok')}" name="subBtn" id="subBtn" class="renew3" style="margin-right:20px;" />
				    		<input  type="reset" name="canelID" id="canelID"  value="${bundle('common.btn.reset')}" class="renew3" />

					    </td>
					  </tr>
					</table>
			</form>
       </div>
</div>

<!--中间结束-->
<div style=" height:40px;"></div>
