 <script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/artDialog.js?skin=default"></script>
<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var str=usaProvinceStr();
	$('#city').append(str);
});
function closePage(){
	$("#submitSales").attr("disabled",false);
	   var origin = art.dialog.open.origin;
		art.dialog.close();
		origin.querySubmit();
	}
function saveSalesQueryInfo(){
	$("#submitSales").attr("disabled",true);
	var firstName=$.trim($("#firstName").val());
	var lastName=$.trim($("#lastName").val());
	var proTypeCode=$("#proTypeCode").val();
	var email=$("#email").val();
	var telphone=$.trim($("#telphone").val());
	var address=$("#address").val();
	var openRemark=$("#openRemark").val();
	var city=$("#city").val();
	var zipCode=$("#zipCode").val();
	var resultTip=$("#resultTip");
	var regEmail = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
	if(proTypeCode=="-1"){
		resultTip.html($('#productTypeNull').val());
		$("#submitSales").attr("disabled",false);
		return;
	}
	if(firstName==""){
		resultTip.html($('#firstNameError').val());
		$("#submitSales").attr("disabled",false);
		return;
	}
	if(lastName==""){
		resultTip.html($('#lastNameError').val());
		$("#submitSales").attr("disabled",false);
		return;
	}
	if(email==""){
		resultTip.html($('#emailError').val());
		$("#submitSales").attr("disabled",false);
		return;
	} 
	if(email!=''){
	if(!regEmail.test(email)){
		resultTip.html($('#emailRegError').val());
		$("#submitSales").attr("disabled",false);
		return;
	}
	}
	if(telphone==""){
		resultTip.html($('#telphoneError').val());
		$("#submitSales").attr("disabled",false);
		return;
	}
	if(city=="-1"){
		city="";
	}
	 $.ajax({
			url:'front/sealer/addSalesQueryInfo.do',
			type:"post",
			async:false,
			data:{"salesQueryInfo.firstName":firstName,
				  "salesQueryInfo.lastName":lastName,
				  "salesQueryInfo.proTypeCode":proTypeCode,
				  "salesQueryInfo.email":email,
				  "salesQueryInfo.telphone":telphone,
				  "salesQueryInfo.address":address,
				  "salesQueryInfo.city":city,
				  "salesQueryInfo.zipCode":zipCode,
				  "salesQueryInfo.openRemark":openRemark},
			dataType:'JSON',
			success :function(data)
			{
				var jsonData = data;
				if(jsonData=="EXIST"){
					resultTip.html($('#usedMsg').val());
					$("#submitSales").attr("disabled",false);
					return;
				}else if(jsonData=="SUCCESS"){
					resultTip.html($('#successMsg').val());
					window.setTimeout(function(){closePage()},500);
				}else{
					resultTip.html($('#FailMsg').val());
					$("#submitSales").attr("disabled",false);
					return;
				}
			}
		}); 
	
}
</script> 

<form id="submitToPay" method='post' action=''>
<input type="hidden" name="nameNull" id="nameNull" value="${bundle('sale.query.customer.name.null')}"/>
<input type="hidden" name="productTypeNull" id="productTypeNull" value="${bundle('sale.query.customer.protype.null')}"/>
<input type="hidden" name="userPwdError" id="userPwdError" value="${bundle('sealer.auth.add.userpwd.error')}"/>
<input type="hidden" name="confirmError" id="confirmError" value="${bundle('sealer.auth.add.confirmpwd.error')}"/>
<input type="hidden" name="matchError" id="matchError" value="${bundle('sealer.auth.add.confirmpwd.match')}"/>
<input type="hidden" name="successMsg" id="successMsg" value="${bundle('customer.plat.soft.change.success')}"/>
<input type="hidden" name="FailMsg" id="FailMsg" value="${bundle('customer.plat.soft.change.fail')}"/>
<input type="hidden" name="usedMsg" id="usedMsg" value="${bundle('sealer.auth.add.used.error')}"/>
<input type="hidden" name="emailError" id="emailError" value="${bundle('card.support.email.null')}"/>
<input type="hidden" name="emailRegError" id="emailRegError" value="${bundle('card.support.email.check')}"/>
<input type="hidden" name="firstNameError" id="firstNameError" value="${bundle('sale.query.customer.first.name.null')}"/>
<input type="hidden" name="lastNameError" id="lastNameError" value="${bundle('sale.query.customer.last.name.null')}"/>
<input type="hidden" name="telphoneError" id="telphoneError" value="${bundle('sale.query.customer.telphone.null')}"/>
<div class="account_right">
        	<div class="registe" style="padding-left:120px">
					<table width="100%" border="0">
			     	<tr>
					    <td style="width:100px;text-align:right" >  ${bundle('product.producttypevo')} <span class="font12red"> *</span></td>
					    <td >
					     <select class="p_name_car" name="proTypeCode" id="proTypeCode" style="width:205px;" >
			    <option value="-1">${bundle("product.select")}</option>
				<#list productTypeList as item >
					<option value="${item.code}" <#if proTypeCode?? && proTypeCode == item.code > selected="selected"</#if>>${item.name}</option>
				</#list>
			</select>
					     </td>
					    <td  style="width:90px;text-align:right" >&nbsp;&nbsp;${bundle('sale.query.customer.first.name')} <span class="font12red"> *</span></td>
					    <td><input name="salesQueryInfo.firstName" id="firstName" type="text" value="" style="width:200px"   class="input_sign"   />
					     </td>
					    
					 </tr>
			     	
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			     	</tr>
			     	
			     	 <tr>
					    <td  style="width:100px;text-align:right">${bundle('sale.query.customer.email')}&nbsp;<span class="font12red"> *</span></td>
					    <td><input name="salesQueryInfo.email" id="email" type="text" value="" style="width:200px"   class="input_sign"   />
					     </td>
					     
					    <td  style="width:90px;text-align:right">&nbsp;&nbsp;${bundle('sale.query.customer.last.name')}<span class="font12red"> *</span></td>
					   <td><input name="salesQueryInfo.lastName" id="lastName" type="text" value="" style="width:200px"   class="input_sign"   />
					  
					  </tr>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			     	</tr>
					   <tr>
					   <td  style="width:100px;text-align:right">&nbsp;&nbsp;${bundle('sale.query.customer.telphone')}<span class="font12red"> *</span></td>
					   <td><input name="salesQueryInfo.telphone" id="telphone" type="text" value="" style="width:200px"   class="input_sign"   />
					    <td  style="width:90px;text-align:right">${bundle('sale.query.customer.address')}&nbsp;</td>
					    <td><input name="salesQueryInfo.address" id="address" type="text" value="" style="width:200px"   class="input_sign"   />
					    
					  </tr>
	        	 	
	        	 	<tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			            <td class="">&nbsp;</td>
			     	</tr>
			     	
			     	 <tr>
					    <td  style="width:100px;text-align:right">${bundle('sale.query.customer.city')}&nbsp;</td>
					    <td>
					    <select class='input_sign2' name='salesQueryInfo.city' id='city' style="width:205px">
					    </select>
					     </td>
					     
					    <td  style="width:90px;text-align:right">&nbsp;&nbsp;${bundle('sale.query.customer.zipcode')}&nbsp;</td>
					   <td><input name="salesQueryInfo.zipCode" id="zipCode" type="text" value="" style="width:200px"   class="input_sign"   />
					  </tr>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			     	</tr>
			     	
	        	 	 <tr>
					    <td  style="width:100px;text-align:right">${bundle('sale.query.customer.create.desc')}&nbsp;</td>
					    <td colspan="3"><textarea name="salesQueryInfo.openRemark" id="openRemark" type="password" value="" style="width:302px;height:80px"   class="input_sign" size="50"  ></textarea>
					  </tr>
					  <tr>
					        <td colspan="4" style="padding-left:80px">&nbsp;<span id="resultTip" style="color: #EA0000;font-size: 12px;font-weight: bold;"></span></td>
					  </tr>
					  
					   <tr height="48">
					   
					    <td align="center" colspan="4"><input onclick="saveSalesQueryInfo();" name="submitSales" id="submitSales"   type="button" value="${bundle('common.btn.ok')}" class="renew3" />
					    </td>
					  </tr> 
					</table>
</div>
</div>
</div>
</form>