 <script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/artDialog.js?skin=default"></script>
<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript">
$(function($) {
	 var oldLanguage=$('#oldLanguage').val();
	 $("#newLanguage").find("option").each(function (){
			if($(this).text()==oldLanguage) $(this).remove();
		 });
	});


 function closePage(){
		
	   var origin = art.dialog.open.origin;
		art.dialog.close();
		origin.querySubmit();
	}
function changeLanguage(){
	var proCode=$("#proCode").val();
	var newLanguage=$("#newLanguage").val();
	var resultTip=$("#resultTip");
	if(newLanguage=="0"){
		resultTip.html($('#nullError').val());
		return;
	}
	
	var confirmStr=$('#confirmMsg').val();
	confirmStr=confirmStr.replace("old",$('#oldLanguage').val());
	confirmStr=confirmStr.replace("new",jQuery("#newLanguage  option:selected").text());
	
	if(confirm(confirmStr)){
	 $.ajax({
			url:'front/sealer/changeLanguage.do',
			type:"post",
			async:false,
			data:{"proCode":proCode,"newLanguage":newLanguage},
			dataType:'JSON',
			success :function(data)
			{
				var jsonData = data;
				if(jsonData=="TimeOut"){
					resultTip.html($('#timeoutError').val());
					return;
				}else if(jsonData=="HadChanged"){
					resultTip.html($('#hadchangedError').val());
				}else if(jsonData=="Success"){
					resultTip.html($('#successMsg').val());
					window.setTimeout(function(){closePage()},3000);
				}else{
					resultTip.html($('#failError').val());
					return;
				}
			}
		}); 
	}
}
</script> 

<form id="submitToPay" method='post' action=''>
<input type="hidden" name="proCode" id="proCode" value="${productInfo.code!''}"/>
<input type="hidden" name="nullError" id="nullError" value="${bundle('sealer.change.language.new.null')}"/>
<input type="hidden" name="hadchangedError" id="hadchangedError" value="${bundle('sealer.change.language.new.hadchanged')}"/>
<input type="hidden" name="timeoutError" id="timeoutError" value="${bundle('sealer.change.language.new.timeout')}"/>
<input type="hidden" name="failError" id="failError" value="${bundle('sealer.change.language.new.fail')}"/>
<input type="hidden" name="successMsg" id="successMsg" value="${bundle('sealer.change.language.new.success')}"/>
<input type="hidden" name="confirmMsg" id="confirmMsg" value="${bundle('sealer.change.language.new.confirm')}"/>

<div class="account_right">
        <div class="my_products">
        	<div class="registe" style="padding-left: 150px;">
					<table width="500" border="0">
			     	<tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("memberman.complaintman.productserial")}</td>
					    <td><input name="oldProductSN" id="oldProductSN" type="text" style="width:200px"  value="${productInfo.serialNo!''}" disabled class="input_sign" size="50" maxlength="25" />
					     </td>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           
			           <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("sealer.change.language.oldlanguage")}</td>
					    <td><input name="oldLanguage" id="oldLanguage" type="text" value="${language!''}" style="width:200px"  disabled class="input_sign" size="50" maxlength="25" />
					     </td>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           
			     	</tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("sealer.change.language.newlanguage")}</td>
					    <td><select name="newLanguage" id="newLanguage" style="width:207px"   class="input_sign" >
					    <option value="0">${bundle("product.select")}</option>
						<#list listLanguage as item >
						<option value="${item.code}">${item.name}</option>
						</#list>
					    </select>
					  </tr>
					 
					 <!--  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("customer.plat.soft.change.password")}</td>
					    <td><input name="registerPassword" id="registerPassword" type="text" value="" class="input_sign" size="50" maxlength="25" />
					  </tr> -->
					 
	        	 	
					  <tr>
					     	<td align="right" class="font14black">&nbsp;</td>
					        <td><span id="resultTip" style="color: #EA0000;font-size: 12px;font-weight: bold;"></span></td>
					  </tr>
					  
					  <tr height="48">
					    <td align="right" width="254">&nbsp;</td>
					    <td align="center"><input onclick="javascript:changeLanguage()" name="changeNo" id="changeNo"   type="button" value="${bundle('common.btn.ok')}" class="renew3" />
					    </td>
					  </tr>
					</table>
</div>
</div>
</div>
</form>