 <script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/artDialog.js?skin=default"></script>
<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript">

function closePage(){
		
	   var origin = art.dialog.open.origin;
		art.dialog.close();
		origin.querySubmit();
	}
function saveSalesQueryInfo(){
	var customerName=$.trim($("#customerName").val());
	var proTypeCode=$("#proTypeCode").val();
	var email=$("#email").val();
	var telphone=$("#telphone").val();
	var address=$("#address").val();
	var openRemark=$("#openRemark").val();
	var resultTip=$("#resultTip");
	var regEmail = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
	if(proTypeCode=="-1"){
		resultTip.html("11");
		return;
	}
	if(customerName==""){
		resultTip.html("222");
		return;
	}
	
	/* if(email==""){
		resultTip.html($('#emailError').val());
		return;
	} */
	if(!regEmail.test(email)){
		resultTip.html($('#emailRegError').val());
		return;
	}
	
	 $.ajax({
			url:'front/sealer/addSalesQueryInfo.do',
			type:"post",
			async:false,
			data:{"salesQueryInfo.customerName":customerName,"salesQueryInfo.proTypeCode":proTypeCode,"salesQueryInfo.email":email,"salesQueryInfo.telphone":telphone,"salesQueryInfo.address":address,"salesQueryInfo.openRemark":openRemark},
			dataType:'JSON',
			success :function(data)
			{
				var jsonData = data;
				if(jsonData=="EXIST"){
					resultTip.html($('#usedMsg').val());
					return;
				}else if(jsonData=="SUCCESS"){
					resultTip.html($('#successMsg').val());
					window.setTimeout(function(){closePage()},3000);
				}else{
					resultTip.html($('#FailMsg').val());
					return;
				}
			}
		}); 
	
}
</script> 

<form id="submitToPay" method='post' action=''>
<input type="hidden" name="accountError" id="accountError" value="${bundle('sealer.auth.add.account.error')}"/>
<input type="hidden" name="nameError" id="nameError" value="${bundle('sealer.auth.add.name.error')}"/>
<input type="hidden" name="userPwdError" id="userPwdError" value="${bundle('sealer.auth.add.userpwd.error')}"/>
<input type="hidden" name="confirmError" id="confirmError" value="${bundle('sealer.auth.add.confirmpwd.error')}"/>
<input type="hidden" name="matchError" id="matchError" value="${bundle('sealer.auth.add.confirmpwd.match')}"/>
<input type="hidden" name="successMsg" id="successMsg" value="${bundle('customer.plat.soft.change.success')}"/>
<input type="hidden" name="FailMsg" id="FailMsg" value="${bundle('customer.plat.soft.change.fail')}"/>
<input type="hidden" name="usedMsg" id="usedMsg" value="${bundle('sealer.auth.add.used.error')}"/>
<input type="hidden" name="emailError" id="emailError" value="${bundle('card.support.email.null')}"/>
<input type="hidden" name="emailRegError" id="emailRegError" value="${bundle('card.support.email.check')}"/>
<input type="hidden" name="tempStatus" id="tempStatus" value="${salesQueryInfo.status}"/>
<div class="account_right">
        	<div class="registe" style="padding-left:150px">
					<table width="500" border="0">
			     	<tr>
					    <td style="width:100px;text-align:right" >产品类型 <span class="font12red"> *</span></td>
					    <td>
					     <select class="p_name_car" name="proTypeCode" id="proTypeCode" >
			    <option value="-1">${bundle("product.select")}</option>
				<#list productTypeList as item >
					<option value="${item.code}" <#if proTypeCode?? && proTypeCode == item.code > selected="selected"</#if>>${item.name}</option>
				</#list>
			</select>
					     </td>
					    <td  style="width:100px;text-align:right" >&nbsp;&nbsp;客户名称 <span class="font12red"> *</span></td>
					    <td><input name="salesQueryInfo.customerName" id="customerName" type="text" value="" style="width:150px"   class="input_sign" size="50"  />
					     </td>
					    
					 </tr>
			     	
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			     	</tr>
			     	
			     	 <tr>
					    <td  style="width:100px;text-align:right">Email&nbsp;&nbsp; </td>
					    <td><input name="salesQueryInfo.email" id="email" type="text" value="" style="width:150px"   class="input_sign" size="50"  />
					     </td>
					     
					    <td  style="width:100px;text-align:right">&nbsp;&nbsp;联系电话 &nbsp;&nbsp;</td>
					   <td><input name="salesQueryInfo.telphone" id="telphone" type="text" value="" style="width:150px"   class="input_sign" size="50"  />
					  </tr>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			     	</tr>
					   <tr>
					    <td  style="width:100px;text-align:right">地址&nbsp;&nbsp; </td>
					    <td colspan="3"><input name="salesQueryInfo.address" id="address" type="text" value="" style="width:300px"   class="input_sign" size="50"  />
					  </tr>
	        	 	
	        	 	<tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			            <td class="">&nbsp;</td>
			     	</tr>
	        	 	 <tr>
					    <td  style="width:100px;text-align:right">说明&nbsp;&nbsp; </td>
					    <td colspan="3"><textarea name="salesQueryInfo.openRemark" id="openRemark" type="password" value="" style="width:302px;height:80px"   class="input_sign" size="50"  ></textarea>
					  </tr>
					  <tr>
					        <td colspan="4">&nbsp;<span id="resultTip" style="color: #EA0000;font-size: 12px;font-weight: bold;"></span></td>
					  </tr>
					  
					   <tr height="48">
					   
					    <td align="center" colspan="4"><input onclick="saveSalesQueryInfo();" name="submitSales" id="submitSales"   type="button" value="${bundle('common.btn.ok')}" class="renew3" />
					    </td>
					  </tr> 
					</table>
</div>
</div>
</div>
</form>