<script type="text/javascript">
$(document).ready(function(){
	
	$('input:radio[name="selectCode"]')[0].checked=true;
	
	$("#proUpgrade").click(function(){
		var code=$('input:radio[name="selectCode"]:checked').val();
		if(code==''){
			return;
		}else{
			jump("customerProductUpdate.html?type=7&proCode="+code);
		}
		
	});
	$("#proSoftware").click(function(){
		var code=$('input:radio[name="selectCode"]:checked').val();
		if(code==''){
			return;
		}else{
		jump("customerProductSoft.html?type=8&proCode="+code);
		}
	});
	$("#proService").click(function(){
		var code=$('input:radio[name="selectCode"]:checked').val();
		if(code==''){
			return;
		}else{
		jump("customerProductService.html?type=9&proCode="+code);
		}
	});
});

function jump(url){

	var tmpForm = $("<form  method='post'></form>");
	$(tmpForm).attr("action",url);
	tmpForm.appendTo(document.body).submit();
}
</script>
<div class="jss_xx">
		<table width="100%"  border="0">
			<tr  class="tool_title">
			        <td>${bundle('common.openselect.choose')}</td>
					
					<td>${bundle('memberman.complaintman.productserial')}</td>
					<!-- <td>${bundle('syssetting.areaconfig.areaconfigname')}</td> -->
					<td>${bundle('memberman.saleinfoman.sealerid')}</td>
					<td>${bundle('memberman.customman.outfactorydate')}</td>
					<td>${bundle('memberman.customman.proregisterdate')}</td>
					<td>${bundle('memberman.customman.bindingstate')}</td>
			    
			  </tr>
			  
			   <#if productList?size gt 0 >
				<#list productList as list>
				<#if list??>
				<tr height="35">
				     <td><input type='radio' name="selectCode" id="selectCode" value="${list.proCode}"/></td>
					
						<td>${list.proSerialNo}</td>
					<!-- 	<td>${list.areaCfgName}</td> -->
						<td>${list.sealerAutelId}</td>
						<td>${list.proDate}</td>
						<td>${list.proRegTime}</td>
						<td class="regstatustd">
					    <#if list.proRegStatus == 1>${bundle('memberman.customman.isbinding')}</#if>
				        <#if list.proRegStatus == 2>${bundle('memberman.customman.unbinded')}</#if>
						<#if list.proRegStatus == 0>${bundle('memberman.customman.pronoreg')}</#if>
						</td>
				  </tr>
			</#if>
			   </#list>
			<#else>
			   		<tr><td colspan="8"><div  class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			</#if>
		</table>
	
	</div>
		
		<div style="padding-top:20px">
                <!-- 	<input name="proUpgrade"  class="renew3" id="proUpgrade" type="button" value="${bundle('homepage.customer.queryUpgrade')}"  /> -->
				    <input name="proService"  class="renew3" id="proService" type="button" value="${bundle('homepage.customer.queryRepair')}"  />
			
	</div>
	
	