
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript">
function WidthCheck(str, maxLen){  
	var w = 0;  
	var tempCount = 0;
	for (var i=0; i<str.value.length; i++) {  
	   var c = str.value.charCodeAt(i);  
	   if ((c >= 0x0001 && c <= 0x007e) || (0xff60<=c && c<=0xff9f)) {  
	    w++;    
	   }else {    
	    w+=2;  
	  
	   }   
	   tempCount=w;
	   if (w > maxLen) {  
	   str.value = str.value.substr(0,i);
	   break;
	   }    
	}  

	}
</script>

<div class="account_right">
    	<h4 style="padding-right:0px">${bundle("customercomplaint.add.title")}
    	<span>
    	<input style="margin-right: 0px" type="button" value="${bundle('common.return.name')}" name="previosBtn" id="previosBtn" class="renew3" />
    	</span>
    	</h4>
        <div class="my_products_table">
	        <form id="addCustomerComplaint" name="addCustomerComplaint" method="post"  enctype="multipart/form-data">
			<input type="hidden" name="userType" id="userType" value="${userType!''}">
			<input type="hidden" name="userCode" id="userCode" value="${userCode!''}">
			<input type="hidden" name="productSN" id="productSN" value="${productSN!''}">
			<input type="hidden" name="dataloggingId" id="dataloggingId"/>
			<input type="hidden" name="complaintTypeCode" id="complaintTypeCode" value="${complaintType!''}">
        	<table style="width:790px" border="1" bordercolor="#cccccc">
					  <tr>
					    <td width="85px" height="40" style="padding-left:12px;">${bundle("customercomplaint.person.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="285px" colspan="2"><input style="width:295px"  name="complaintPerson" id="complaintPerson" type="text" value="${userName!''}" maxlength="25" class="declar" /></td>
					    <td width="85px" height="40" style="padding-left:12px;">${bundle("customercomplaint.company.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="315px" colspan="3"><input name="company" id="company" type="text" value="${company!''}" maxlength="120" class="organ"    /></td>
					    </tr>
					  <tr>
					    <td width="85px" height="40" style="padding-left:12px;">${bundle("customercomplaint.phone.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="285px" colspan="2"><input style="width:295px" name="phone" id="phone" type="text" value="${phone!''}" maxlength="120" class="declar" /></td>
					    <td width="85px" height="40" style="padding-left:12px;">${bundle("customercomplaint.email.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="315px" colspan="3"><input name="email" id="email" type="text" value="${email!''}" maxlength="120" class="organ" /></td>
					  </tr>
					  <tr>
					    <td width="85px" height="40" style="padding-left:12px;"><strong>${bundle("customercomplaint.title.name")}</strong><span class="font12red">&nbsp;*</span></td>
					    <td width="705px" colspan="6"><input style="width:700px" name="complaintTitle" id="complaintTitle" type="text" value="" onchange="WidthCheck(this,198);" onkeyup="WidthCheck(this,198);" class="theme"/></td>
					    </tr>
					   
					   <tr>
					    <td width="85px" height="40" style="padding-left:12px;"><strong>${bundle("sealer.plat.complaint.type")}</strong><span class="font12red">&nbsp;</span></td>
					    <td width="705px" colspan="6">
					      <!--  <select name="questionType" id="questionType" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:200px">
					    	<option   value="" selected="selected">${bundle("product.select")}</option>	
						     <option value="1">${bundle("sealer.plat.complaint.type.hardware")}</option>
						     <option value="2">${bundle("sealer.plat.complaint.type.software")}</option>
						     <option value="3">${bundle("sealer.plat.complaint.type.other")}</option>
						 </select> -->
						 <span style="font-size:13px; margin-left:15px;"><input id="questionType" name="questionType" type="radio" value="1" checked="checked"/> ${bundle("sealer.plat.complaint.type.hardware")}</span>
						 <span style="font-size:13px; margin-left:15px;"><input id="questionType" name="questionType" type="radio" value="2" checked="checked"/> ${bundle("sealer.plat.complaint.type.software")}</span>
						 <span style="font-size:13px; margin-left:15px;"><input id="questionType" name="questionType" type="radio" value="3" checked="checked"/> ${bundle("sealer.plat.complaint.type.other")}</span>
					    </td>
					    </tr>
					    
					  <tr>
					    <td width="85px" height="40" style="padding-left:12px;" rowspan="3"><strong>${bundle("customercomplaint.vehicle.name")}<br />${bundle("customercomplaint.info.name")}</strong></td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.caryear.name")}</td>
					    <td width="200px">
					    <select name="carYear" id="carYear" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:200px">
					    <option   value="" selected="selected">${bundle("product.select")}</option>	
						     <#list yearList as item >
						     <option tag="${item.yearName}" value="${item.yearName!''}">${item.yearName!''}</option>
						     </#list>
						 </select>
					    </td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.system.name")}</td>
					    <td width="250px" colspan="3">
					    
					    
					    <select name="system" id="system" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:300px">
					    <option   value="" selected="selected">${bundle("product.select")}</option>	
						</select>
					    
					    </td>
					   
					  </tr>
					 
					  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.vehiclesystem.name")}</td>
					    <td width="200px">
					    <select name="vehicleSystem" id="vehicleSystem" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:200px">
					    <option   value="" selected="selected">${bundle("product.select")}</option>	
						</select>
					    
					    </td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.enginetype.name")}</td>
					    <td width="250px" colspan="3">
					    <select name="engineType" id="engineType" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:300px">
					    <option   value="" selected="selected">${bundle("product.select")}</option>	
						</select>
					    
					    </td>
					    
					  </tr>
					  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.vehicletype.name")}</td>
					    <td width="200px">
					    <select name="vehicleType" id="vehicleType" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:200px">
					    <option   value="" selected="selected">${bundle("product.select")}</option>	
						</select>
					    
					    </td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.carnumber.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="250px" colspan="3">
 							<input name="carnumber" id="carnumber" type="text" value=""  maxlength="120" class="organ"  />					  
					    </tr>
					    
					   <!--  <tr>
					  <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.carnumber.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="620px" colspan="5"><input  name="carnumber" id="carnumber" type="text" value="" maxlength="17" style="width:600px;height:40px;font-size:13px;border:0;color:#4d4d4d;line-height:40px" /></td>
					  </tr>   -->
					    
					 <!--  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.other.name")}</td>
					    <td width="620px" colspan="5"><input name="other" id="other"  type="text" value="" class="other_in" maxlength="255" style="width:600px;" /></td>
					   </tr>
					  -->
					    
					    
					    <tr>
						    <td width="85px" rowspan="3" style="padding-left:12px;"><strong>${bundle("customercomplaint.diagnosticdevice.name")}</strong></td>
						    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.product.name")}</td>
						    <td>
						    
						    <input style="width:190px" name="productName" id="productName" value="${productTypeName!''}" maxlength="120" type="text" class="ve_ser" />
						     
						    </td>
						    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.productno.name")}<span class="font12red">&nbsp;*</span></td>
						    <td width="250px" colspan="3"><input readonly name="productNo" id="productNo" value="${productSN!''}" maxlength="120" type="text" class="organ" /></td>
    					</tr>
					  
					  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.software.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="200px"><input  name="softwareName" id="softwareName" type="text" value="" class="ve_ser"  maxlength="120" /></td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.softwareedition.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="250px" colspan="3"><input name="softwareEdition" id="softwareEdition" type="text" class="organ" value="" maxlength="120"  /></td>
					  </tr>
					  
					  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("complaint.adapter.name")}</td>
					    <td width="200px"><input  name="adapter" id="adapter" type="text" value="" class="ve_ser"  maxlength="120" /></td>
					    <td width="85px" style="padding-left:12px;">${bundle("complaint.datalogging.name")}</td>
					    <td width="250px" colspan="3">
					    <select name="datalogging" id="datalogging" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:300px">
					    <option   value="" selected="selected">${bundle("product.select")}</option>	
						     <#list dataList as item >
						     <option tag="${item.id}" value="${item.title!''}">${item.title!''}</option>
						     </#list>
						 </select>
					    
					    </td>
					  </tr>
					  
					 <!--  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.testpath.name")}</td>
					    <td width="620px"  colspan="5"><input name="testPath" id="testPath" type="text" style="height:40px;font-size:13px;border:0;color:#4d4d4d;line-height:40px;width:600px" value="" maxlength="120" /></td>
					  </tr> -->
					  <tr>
					    <td width="85px"  style="padding-left:12px;"><strong>${bundle("customercomplaint.complaintcontent.name")}</strong></td>
					    <td width="705px"  colspan="6"><textarea style="width:700px;height:100px" id="complaintContent" name="complaintContent" class="p_des" cols="" rows=""  maxlength="2000" ></textarea></td>
					  </tr>
					
					  <tr>
					    <td style="padding-left:12px;"><strong>${bundle("customercomplaint.degreeofurgency.name")}</strong></td>
					    <td colspan="6" style="padding-bottom:10px;">
					    <h3 style="font-size:13px; margin-left:15px; margin-top:24px; margin-bottom:10px;">${bundle("customercomplaint.peleasemarktime.name")}.</h3>
					       <span style="font-size:13px; margin-left:15px;"><input id="emergencyLevel" name="emergencyLevel" type="radio" value="1" checked="checked"/>${bundle("customercomplaint.oneday.name")}</span>
					       <span style="font-size:13px; margin-left:50px;"><input id="emergencyLevel" name="emergencyLevel" type="radio" value="2" />${bundle("customercomplaint.threeday.name")} </span>
					       <span style="font-size:13px; margin-left:50px;"><input id="emergencyLevel" name="emergencyLevel" type="radio" value="3" />${bundle("customercomplaint.twoweek.name")}</span>
					       <span style="font-size:13px; margin-left:50px;"><input id="emergencyLevel" name="emergencyLevel" type="radio" value="4" />${bundle("customercomplaint.twomonth.name")}</span>
					    	
					    </td>
					  </tr>
					  
					   <tr style="height:40px">
					    <td style="padding-left:12px;"><strong>${bundle("sealer.plat.complaint.result")}</strong></td>
					    <td colspan="6" >
					       <span style="font-size:13px; margin-left:15px;"><input id="fixFlagRadio" name="fixFlagRadio" type="checkbox" value="1"  /> ${bundle("sealer.plat.complaint.result.yes")}</span>
					        <input type="hidden" name="fixFlag" id="fixFlag"/>
					    </td>
					  </tr>
					  
					  <tr>
					    <td width="85px"  style="padding-left:12px;"><strong>${bundle("complaint.plat.solutionContent")}</strong></td>
					    <td width="705px"  colspan="6"><textarea style="width:700px;height:100px" id="solutionContent" name="solutionContent" class="p_des" cols="" rows=""  maxlength="2000" ></textarea></td>
					  </tr>
					  
					  
					  <tr >
					 
					    <td colspan="7" align="right" style="padding-bottom:20px;">
					    	<p align="center"><span  id="operationResultTip" style="font-size:20px;color:red;">&nbsp;</span></p>
				    		<input  type="button" value="${bundle('common.btn.ok')}" name="subBtn" id="subBtn" class="renew3" style="margin-right:20px;" />
				    		<input  type="reset" name="canelID" id="canelID"  value="${bundle('common.btn.reset')}" class="renew3" />

					    </td>
					  </tr>
					</table>
			</form>
       </div>
</div>

<!--中间结束-->
<div style=" height:40px;"></div>
