<div class="jss_xx">
		<table width="100%"  border="0">
			<tr  class="tool_title">
			     	<td>${bundle('memberman.customman.cusid')}</td>
					<td>${bundle('memberman.customman.cusname')}</td>
					<td>${bundle('memberman.complaintman.productserial')}</td>
					<td>${bundle('customer.product.soft')}</td>
					<td>${bundle('memberman.customman.exptime')}</td>
			    
			  </tr>
		  <#if dataList?size gt 0 >
				<#list dataList as item>
				<#if item??>
				<tr height="35">
				    <td>${item.customerAutelId!''}</td>
					<td>${item.customerName!''}</td>
					<td>${item.proSerialNo!''}</td>
					<td>${item.minSaleUnitName!''}</td>
					<td>${item.proSoftValidDate!''}</td>	
				  </tr>
			</#if>
			   </#list>
			<#else>
			   		<tr><td colspan="5"><div  class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			</#if>
		</table>
	</div>
	<div style="padding-top:20px">
                	
				    <input onclick="window.history.back()" name="proService"  class="renew3" id="proService" type="button" value="${bundle('common.btn.return')}"  />
			</div>
		
	