<div class="jss_xx">
		<table width="100%"  border="0">
			<tr  class="tool_title">
			         <td>${bundle('memberman.customman.cusid')}</td>
					 <td>${bundle('memberman.customman.cusloginip')}</td>
					 <td>${bundle('memberman.customman.cuslogintime')}</td>
			    
			  </tr>
			  	<#if loginList?size gt 0 >
				<#list loginList as item>
				<#if item??>
			
				<tr height="35">
				    <td>${item.customerAutelId}</td>
					<td>${item.loginIP}</td>
					<td>${item.loginTime}</td>
				  </tr>
			</#if>
			   </#list>
			<#else>
			   		<tr><td colspan="3"><div  class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			</#if>
		</table>
	</div>
	
	