<script>
$(document).ready(function(){
	var code=$("#code").val();
	var type=$("#type").val();
	setHref(code,type);
	  $("#detail").load(function(){
	      $(this).height(0); //用于每次刷新时控制IFRAME高度初始化
	      var height = $(this).contents().height() + 10;
	      $(this).height( height < 300 ? 300 : height );
	   });
});

function jump(url){

	var tmpForm = $("<form  method='post'></form>");
	$(tmpForm).attr("action",url);
	tmpForm.appendTo(document.body).submit();
}

function setHref(code,type){
	$("#span0").attr("name","customerBaseInfo.html?type=2&code="+code);
	$("#span1").attr("name","customerProductInfo-1-1.html?type=3&code="+code);
	$("#span2").attr("name","customerComplaint-1-1.html?type=4&code="+code);
	$("#span3").attr("name","customerPurchaseInfo-1-1.html?type=5&code="+code);
	$("#span4").attr("name","customerLoginInfo-1-1.html?type=6&code="+code);
	$("#span5").attr("name","customerResetPwd-1-1.html?type=R&code="+code);
	if(type=="v"){
	$("#detail").attr("src","customerComplaint-1-1.html?type=4&code="+code);
	for(var i=0;i<6;i++){
		if(i==2){
			document.getElementById("span"+2).className="hover down_menu_lm";
			document.getElementById("a"+2).className="myTab";
		}else{
			document.getElementById("span"+i).className="down_menu_lm";
			document.getElementById("a"+i).className="";
		}
	}
	}else{
	$("#detail").attr("src","customerBaseInfo.html?type=2&code="+code);	
	}
}

function setMessageTab(n)
{
	var url=$("#span"+n).attr("name");
	if(url==""){
		url="";
	}
	for(var i=0;i<6;i++){
		if(i==n){
			document.getElementById("span"+i).className="hover down_menu_lm";
			document.getElementById("a"+i).className="myTab";
		}else{
			document.getElementById("span"+i).className="down_menu_lm";
			document.getElementById("a"+i).className="";
		}
	}
	
	$("#detail").attr("src",url);

}
</script>
<style type="text/css">
.hover{
    color: #333333;
    font-weight: normal;
    padding-top: 8px;
}
a.myTab:hover{
text-decoration: none;
color: #333333;
 cursor: auto;
}

</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<form id="queryInfoForm" name="queryInfoForm" method="post" action="queryCustomerInfo-1-1.html">
<input type="hidden" id="code" name="code" value="${code}"/>
<input type="hidden" id="type" name="type" value="${type!''}"/>
<input type="hidden" id="userType" name="userType" value="${userType!''}"/>
<input type="hidden" id="msgTypeCode" name="msgTypeCode" value=""/>
<input type="hidden" id="divValue" name="divValue" value="${divValue!''}"/>
		<div class="account_right">
        <h4 style="padding-left:0px">${bundle('saler.customer.query.result')}:${autelID}</h4>
    	<div class="down_menu" style="width:790px;border-bottom: 0px solid #CCCCCC;border-top: 0px solid #CCCCCC;color:#08c;">
		<ul class="clearfix" style="font: 13px/1.5 arial;">
		<li style="width:90px;text-align: left" class="hover" id="span0" name=""><a id="a0" class="myTab" onclick='javascript:setMessageTab(0)'> ${bundle('homepage.customer.customerInfo')}</a></li>
		<li class="down_menu_tb" style="color:#808080;height:20px;padding-top:8px">|</li>
		<li style="width:80px" class="down_menu_lm" id="span1" name=""><a id="a1" onclick='javascript:setMessageTab(1)'> ${bundle('homepage.customer.productInfo')}</a></li>
	    <li class="down_menu_tb"  style="color:#808080;padding-top:8px">|</li>
	    <li style="width:110px" class="down_menu_lm" id="span2" name="" ><a id="a2" onclick='javascript:setMessageTab(2)'> ${bundle('homepage.customer.complaintInfo')}</a></li>
	    <li class="down_menu_tb"  style="color:#808080;padding-top:8px">|</li>
	    <li style="width:110px" class="down_menu_lm" id="span3" name="" ><a id="a3" onclick='javascript:setMessageTab(3)'> ${bundle('homepage.customer.consumptionInfo')}</a></li>
	    <li class="down_menu_tb"  style="color:#808080;padding-top:8px">|</li>
	    <li style="width:90px" class="down_menu_lm" id="span4" name=""><a id="a4" onclick='javascript:setMessageTab(4)'> ${bundle('homepage.customer.loginInfo')}</a></li>
	    <li class="down_menu_tb"  style="color:#808080;padding-top:8px">|</li>
	    <li style="width:110px" class="down_menu_lm" id="span5" name=""><a id="a5" onclick='javascript:setMessageTab(5)'> ${bundle('homepage.customer.resetPwd')}</a></li>
	    </ul>
	</div>
   
	  <iframe name="detail"  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" id="detail" width="100%"   src=""></iframe>
	
	</div>
</form>
	
	