<script>
function back()
{
	var code=$("#code").val();
	var type=$("#type").val();
	var productSN=$('#productSN').val();
	jump("queryCustomerInfo-1-1.html?m=1&userType=2&type=S4&code="+code+"&productSN="+productSN);
}
function jump(url){

	var tmpForm = $("<form  method='post'></form>");
	$(tmpForm).attr("action",url);
	tmpForm.appendTo(document.body).submit();
}

</script>
<style>
.jam_left2 {
   /*  background-color: #EAEAEA; */
    float: left;
    font-size: 13px;
    padding-bottom: 25px;
    padding-top: 10px;
    width: 480px;
    border: 1px solid #CCCCCC;
    BORDER-TOP:0px;
    BORDER-left:0px;
}

.jam_right2 {
    color: #4D4D4D;
    float: right;
    font-size: 12.5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    width: 230px;
    border: 1px solid #CCCCCC;
    BORDER-TOP:0px;
    padding-bottom:10px;
}
.rightTitle{
font-weight: bold;
background-color: #EAEAEA;
align:right;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script src="${bundle('autelproweb.url')}/themes/autel/js/common/common-min.js" type="text/javascript"></script>
<input type="hidden" name="type" id="type" value="${type!''}"/>
<input type="hidden" name="code" id="code" value="${code!''}"/>
<input type="hidden" name="productSN" id="productSN" value="${productSN!''}"/>
<div class="account_right" id="customerDiv">
    	<h4>
    		<#if log??>
    			<label>${log.title!''}</label>
    		</#if>
    	</h4>
        <div class="success" id="success"  style="display:none;">
        	<img src="${imagePath}/images/gou1.gif" width="27" height="25" /> 
        	${bundle("customercomplaint.operation.title")}
        </div>
        
        <div class="success" id="operationResult" style="display:none;"><span id="operationResultTip" style="font-size:20px;color:red;">&nbsp;</span></div>
  		<div class="my_products">
        	<div class="ticket">
            	<h3>
            		<span style="float:right;">
            			
            		</span>
            		<span style="float:right;">
            			&nbsp;&nbsp;&nbsp;&nbsp;
            		</span>
            		<span style="float:right;">
	            		<input  onclick="back()" name="update_id" type="button" class="renew3" value="${bundle('common.btn.return')}" />
	            	</span>
	            	ID：
	            	 <#if log.id??>
	            	 	${log.id!''}
	            	 </#if>
            	 
            	 </h3>
            </div>
      		<div class="state">
	            <input type="hidden" name="autelId" id="autelId" value="${autelId!''}">
				<input type="hidden" name="userType" id="userType" value="2">
		  		<input type="hidden" name="reCode" id="reCode" value="${reCode!''}"/>
            	<!-- <table width="616" border="1" bordercolor="#cccccc">
					  <tr>
					    <td width="50%" height="26" align="center">发送原因</td>
					    <td align="center">${log.content!''}</td>
					  </tr>
					  <tr>
					    <td align="center" height="26">
					   		年份
					    </td>
					    <td align="center">${log.year!''}</td>
					  </tr>
					  <tr>
					    <td align="center" height="26">
					   		品牌
					    </td>
					    <td align="center">${log.make!''}</td>
					  </tr>
					  <tr>
					    <td align="center" height="26">
					   		型号
					    </td>
					    <td align="center">${log.car!''}</td>
					  </tr>
					  <tr>
					    <td align="center" height="26">
					   		发动机
					    </td>
					    <td align="center">${log.engine!''}</td>
					  </tr>
					  <tr>
					    <td align="center" height="26">
					   		VIN
					    </td>
					    <td align="center">${log.vin!''}</td>
					  </tr>
					  <tr>
					    <td align="center" height="26">
					   		软件版本
					    </td>
					    <td align="center">${log.version!''}</td>
					  </tr>
					  <tr>
					    <td align="center" height="26">
					   		联系人
					    </td>
					    <td align="center">${log.contractUser!''}</td>
					  </tr>
					  <tr>
					    <td align="center" height="26">
					   		电话
					    </td>
					    <td align="center">${log.contractTel!''}</td>
					  </tr>
					  <tr>
					    <td align="center" height="26">
					   		电子邮件
					    </td>
					    <td align="center">${log.contractEmail!''}</td>
					  </tr>
				</table> -->
          		</div>
          

          <!--   <#if logList?size gt 0 >
				<#list logList as item >
		            <div class="james clearfix">
		            	<div class="jam_left" id="rating">
		                	<h3 class="autobr">系统回复</h3>
		                	只展示系统客户回复信息
		                	
								<h3 align="center"></h3>
							
		                </div>
		                <div class="jam_right">
		                    <p>
		                    <a  href="javascript:downLoadProductTools('${item.attachment!''}')" >${item.showAttachment!''}</a>
		                    </p>
		                    <hr/>
		                	<p style="TABLE-LAYOUT: fixed;OVERFLOW: hidden;TEXT-OVERFLOW: ellipsis;WORD-WRAP: break-word;"><pre style="white-space: pre-wrap;word-wrap: break-word;">${item.content!''}</pre></p><br /><br /><br />
							<p style="text-align:right;">${item.createTime!''}</p>
		                </div>
		            </div>
		            
	             </#list>
   			</#if>  	
        </div > -->
        
        <div class="james clearfix">
        <div class="jam_left2" >
           <table style="width:100%;padding-left:10px" border="0">
           <tr >
           <td style="color: #4D4D4D;font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;<strong>${bundle("customer.plat.datalog.content")}:</strong></td>
           </tr>
           <tr>
           <td>&nbsp;&nbsp;&nbsp;&nbsp;<textarea disabled style="width:460px">${log.content!''}</textarea></td>
           </tr>
            <#if logList?size gt 0 >
				<#list logList as item >
				<tr>
				<td>
		            	
		                <div class="jam_right" style="width: 460px;">
		                    <p>
		                    <a  href="javascript:downLoadProductTools('${item.attachment!''}')" >${item.showAttachment!''}</a>
		                    </p>
		                    <hr/>
		                	<p style="TABLE-LAYOUT: fixed;OVERFLOW: hidden;TEXT-OVERFLOW: ellipsis;WORD-WRAP: break-word;"><pre style="white-space: pre-wrap;word-wrap: break-word;">${item.content!''}</pre></p><br /><br /><br />
							<p style="text-align:right;">${item.createTime!''}</p>
		                </div>
		            
	             </#list>
   			</#if>
   			</td> 
   			</tr> 	
        </div >
           
           
           </table>
        </div>
        <div class="jam_right2">
        <div class="vps_ms" style="border:0px;width: 230px;">
        <ul>
         <li><strong>${bundle("customer.plat.datalog.year")}:</strong> ${log.year!''}</li>
         <li><strong>${bundle("customer.plat.datalog.make")}:</strong> ${log.make!''}</li>
         <li><strong>${bundle("customer.plat.datalog.model")}:</strong> ${log.car!''}</li>
         <li><strong>${bundle("customer.plat.datalog.engine")}:</strong> ${log.engine!''}</li>
         <li><strong>${bundle("customer.plat.datalog.vin")}:</strong> ${log.vin!''}</li>
         <li><strong>${bundle("customer.plat.datalog.version")}:</strong> ${log.version!''}</li>
         <li><strong>${bundle("customer.plat.datalog.contract")}:</strong> ${log.contractUser!''}</li>
         <li><strong>${bundle("customer.plat.datalog.tel")}:</strong> ${log.contractTel!''}</li>
         <li><strong>${bundle("customer.plat.datalog.email")}:</strong> ${log.contractEmail!''}</li>
		</ul>
		</div>		
					<!-- <table  border="1">
					<tr>
					    <td  height="26" class="rightTitle">
					   		年份
					    </td>
					    <td >${log.year!''}</td>
					  </tr>
					</table>
					<table border="1">  
					  <tr>
					    <td  height="26" class="rightTitle">
					   		品牌
					    </td>
					    <td >${log.make!''}</td>
					  </tr>
					  </table>
					  <tr>
					    <td  height="26" class="rightTitle">
					   		型号
					    </td>
					    <td >${log.car!''}</td>
					  </tr>
					  <tr>
					    <td  height="26" class="rightTitle">
					   		发动机
					    </td>
					    <td >${log.engine!''}</td>
					  </tr>
					  <tr>
					    <td  height="26" class="rightTitle">
					   		VIN
					    </td>
					    <td >${log.vin!''}</td>
					  </tr>
					  <tr>
					    <td  height="26" class="rightTitle">
					   		软件版本
					    </td>
					    <td >${log.version!''}</td>
					  </tr>
					  <tr>
					    <td  height="26" class="rightTitle">
					   		联系人
					    </td>
					    <td >${log.contractUser!''}</td>
					  </tr>
					  <tr>
					    <td  height="26" class="rightTitle">
					   		电话
					    </td>
					    <td >${log.contractTel!''}</td>
					  </tr>
					  <tr>
					    <td  height="26" class="rightTitle">
					   		电子邮件
					    </td>
					    <td >${log.contractEmail!''}</td>
					  </tr>
				</table>  -->
        </div>
        </div>
  
    </div>
</div>
