
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<form id="updateCustomerInfo" name="updateCustomerInfo" action="" method="post">
<input type="hidden" name="operationType" id="operationType" value="6">
<input type="hidden" name="autelId" id="autelId" value="${customerInfo.autelId!''}">
<input type="hidden" name="actCode" id="actCode" value="${customerInfo.actCode!''}">
<input type="hidden" name="oldPassword" id="oldPassword" value="${customerInfo.userPwd!''}">
<div class="account_right">
    	
        <div class="my_products">
        	<div class="registe_infor">
            	<h3 class="infor_mation">${bundle("saler.customer.id.and.name")}.</h3>
            	<table width="790" border="0">
					 
					   <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.autelid.name")} </td>
					    <td>
						    <input name="firstName" id="firstName" type="text" value="${customerInfo.autelId!''}" class="input_sign" size="50" maxlength="25" disabled/>
						    <img id="firstNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  
						<tr>
			            <td class="">&nbsp;</td>
			           </tr>
					  
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.first.name")}</td>
					    <td>
						    <input name="firstName" id="firstName" type="text" value="${customerInfo.firstName!''}" class="input_sign" size="50" maxlength="25" disabled />
						    <img id="firstNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
						
					<tr id="firstNameResult" style="display:none;">
			             	<td align="center" class="font14black">&nbsp;</td>
			                <td style="padding-top:5px;"><span id="firstNameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
		        	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
					  <tr id="middleNameDiv" style="display:none;">
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.middle.name")} </td>
					    <td><input name="middleName" id="middleName" type="text" value="${customerInfo.middleName!''}" class="input_sign" size="50" maxlength="25" disabled />
					    <img id="middleNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					  </tr>
					  
					<tr id="middleNameResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="middleNameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr id="middlenametr" style="display:none;">
			            <td class="">&nbsp;</td>
			        </tr>
					<tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.last.name")}</td>
					    <td><input name="lastName" id="lastName" type="text" value="${customerInfo.lastName!''}" class="input_sign" size="50" maxlength="25" disabled />
					    <img id="lastNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					</tr>
					
					  <tr id="lastNameResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="lastNameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
				</table>
					<!--
				<h3 class="infor_mation">${bundle("saler.customer.update.password")} </h3>
                <p>${bundle("memberman.customman.passwordinfo")}</p>
                <table>
                  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("memberman.sealerinfoman.newpassword")}  </td>
					    <td><input  name="password" id="password" value="" type="password" class="input_sign" size="50" maxlength="50" />
					    	<img id="password" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    	</td>
				 </tr>
				 <tr><td class="">&nbsp;</td></tr>
				  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("memberman.sealerinfoman.repasswd")}  </td>
					    <td><input  name="repassword" id="repassword" value="" type="password" class="input_sign" size="50" maxlength="50" />
					    	<img id="repasswordImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    	</td>
				 </tr>
				 
				  <tr id="passwordResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="passwordResultResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
                
                </table>
					-->
				
				<h3 class="infor_mation">${bundle("saler.customer.tech.desc")} </h3>
                <p>${bundle("saler.customer.tech.desc2")}</p>
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("memberman.complaintman.username")}  </td>
					    <td><input disabled name="comUsername" id="comUsername" value="${customerInfo.comUsername!''}" type="text" class="input_sign" size="50" maxlength="50" />
					    	<img id="comUsernameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    	</td>
					  </tr>
					 <tr id="comUsernameResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="comUsernameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
				</table>
				
				<h3 class="infor_mation"> ${bundle("saler.customer.second.email")} </h3>
                <p> ${bundle("saler.customer.second.email.desc")}</p>
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.second.email")} </td>
					    <td>
					    <input id="secondEmailValue" value="${customerInfo.secondEmail!''}" type="hidden" />
					    <input name="secondEmail" onfocus="clearsecondEmailValue();" id="secondEmail" value="${customerInfo.secondEmail!''}" disabled type="text" class="input_sign" size="50" maxlength="50" />
					    <img id="secondEmailImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="secondEmailResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="secondEmailResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
	        	 
				</table>
				<!--
				<h3 class="infor_mation">${bundle("accountinformation.update.answer")}. </h3>
                <p>${bundle("accountinformation.user.regselectsecurity")}. </p>
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.user.regsecquestion")}<span class="font12red">&nbsp;* </span> </td>
					    <td>
					    	 <select name="questionCode" id="questionCode" style="width:280px;">
                        		<option value="-1">${bundle("product.select")}</option>
		                        <#list questionInfoList as questionDesc>
			                        	<#if customerInfo.questionCode ?? && customerInfo.questionCode == questionDesc.questionCode>
			                        		<option id="${questionDesc.questionCode!''}" value="${questionDesc.questionCode!''}" selected>${questionDesc.questionDesc!""}</option>	
			                        	<#else>
			                        		<option id="${questionDesc.questionCode!''}" value="${questionDesc.questionCode!''}" >${questionDesc.questionDesc!""}</option>	
			                        	</#if> 
								</#list>
                      		</select>
                      		<img id="questionCodeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="questionCodeResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="questionCodeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
	        	 	
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.answer.name")} <span class="font12red">&nbsp;* </span></td>
					    <td>
						    <input name="answer" id="answer" type="text" value="${customerInfo.answer!''}" class="input_sign" size="50" maxlength="50" />
						    <img id="answerImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="answerResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="answerResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
				</table>
				-->
				<h3 class="infor_mation">${bundle("saler.customer.main.address")}</h3>
                
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.country.name")}<span class="font12red">&nbsp;* </span></td>
					    <td>
						    <input disabled name="country" id="country" type="text" value="${customerInfo.country!''}" class="input_sign" size="50" maxlength="50" />
						    <img id="countryImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="countryResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="countryResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
	        	 
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.company.name")} </td>
					    <td><input disabled name="company" id="company" type="text" class="input_sign" size="50" value="${customerInfo.company!''}" maxlength="25" />
					    <img id="companyImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					  </tr>
					  
					  <tr id="companyResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="companyResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        		 </tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
			        
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.address.name")}</td>
					    <td> <input disabled name="address" id="address" type="text" class="input_sign" size="50" value="${customerInfo.address!''}" maxlength="50" />
					    <img id="addressImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					  </tr>
					  <tr id="addressResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="addressResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.city.name")}</td>
					    <td> <input disabled name="city" id="city" type="text" class="input_sign" size="50" value="${customerInfo.city!''}" maxlength="50" />
					    <img id="cityImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					  </tr>
					  <tr id="cityResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="cityResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.zipcode.name")}</td>
					    <td> 
					    	<input disabled name="zipCode" id="zipCode" type="text" class="input_sign" size="50" value="${customerInfo.zipCode!''}" maxlength="25" />
					     	<img id="zipCodeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					     </td>
					  </tr>
					<tr id="zipCodeResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="zipCodeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
				</table>
				<h3 class="infor_mation">${bundle("saler.customer.contract")}</h3>
                
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px"></td>
					    <td>${bundle("accountinformation.countrycode.name")}  
					    	&nbsp;&nbsp;&nbsp;&nbsp;        
					    	${bundle("accountinformation.areacode.name")}         
					    </td>
					  </tr>
					 <tr>
			            <td class="">&nbsp;</td>
			        </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("memberman.sealerinfoman.phonec")}</td>
					    <td>
					    	<input disabled name="dayTimePhoneCC" id="dayTimePhoneCC" type="text" value="${customerInfo.daytimePhoneCC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	<input disabled name="dayTimePhoneAC" id="dayTimePhoneAC" type="text" value="${customerInfo.daytimePhoneAC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	<input disabled name="dayTimePhone" id="dayTimePhone" type="text" value="${customerInfo.daytimePhone!''}" class="input_sign" size="11" maxlength="15" />
					    	<img id="dayTimeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					    
					  </tr>
					  <tr id="dayTimeResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="dayTimeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.mobilephone.name")}</td>
					    <td>
					    	 <input disabled name="mobilePhoneCC" id="mobilePhoneCC" type="text" value="${customerInfo.mobilePhoneCC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	 <input disabled name="mobilePhoneAC" id="mobilePhoneAC" type="text" value="${customerInfo.mobilePhoneAC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	 <input disabled name="mobilePhone" id="mobilePhone" type="text" value="${customerInfo.mobilePhone!''}" class="input_sign" size="11" maxlength="15" />
					    	<img id="mobileImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="mobileResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="mobileResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
				</table>
				<h3 class="infor_mation">${bundle("accountinformation.preferredlanguage.name")}.</h3>
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.preferredlanguage.name2")}<span class="font12red">&nbsp;* </span></td>
					    <td>
					    	<select disabled name="languageCode" id="languageCode" style="width:280px;" >
		                        <option value="-1">${bundle("product.select")}</option>
		                        <#list languageList as language>
		                        	<#if customerInfo.languageCode ?? && customerInfo.languageCode == language.code>
		                        		<option id="${language.code!''}" value="${language.code!''}" selected >${language.name!""}</option>
		                        	<#else>
		                        		<option id="${language.code!''}" value="${language.code!''}" >${language.name!""}</option>	
		                        	</#if>
								</#list>
                      		</select>
                      		 <img id="languageCodeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					 <tr id="languageCodeResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="languageCodeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        		 </tr>
				</table>
				<h3 class="infor_mation">${bundle("accountinformation.user.regcommunicationautel")}.</h3>
                <p>
               		<#if customerInfo.isAllowSendEmail == 1>
               			<input disabled type="checkbox" value="1"  checked="checked" id="isAllowSendEmail" name="isAllowSendEmail" onclick="setEmail(this);"/>
               		<#else>
               			 <input disabled type="checkbox" value="0"  id="isAllowSendEmail" name="isAllowSendEmail" onclick="setEmail(this);"/>
               		</#if>
                	${bundle("customercomplaint.email.name")}
                 </p>
                <p>${bundle("accountinformation.autelnews.softwareupdate")}</p>
                <table width="790" border="0">
                	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
                	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
                 	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td align="center"><span id="operationResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
                	</tr>
                 </table>
             
            	</div>
        </div>
    </div>
</form>