<script type="text/javascript">
function queryDetails(code,userCode,productSN){
	
	window.parent.parent.jump("customerPlatLogDetail.html?type=S41&LogId="+code+"&code="+userCode+"&productSN="+productSN);
}
</script>
<div style="height:10px;"></div>
<div class="jss_xx">
		<table width="100%"  border="0">
			<tr  class="tool_title">
			     	<td style="width:10%">${bundle('customer.plat.datalog.id')}</td>
					<td style="width:55%">${bundle('customer.plat.datalog.title')}</td>
					<td style="width:15%">${bundle('customer.plat.datalog.serial')}</td>
					<td style="width:10%">${bundle('customer.plat.datalog.date')}</td>
					<td style="width:10%">${bundle('customer.plat.datalog.status')}</td>
			    
			  </tr>
		  <#if dataList?size gt 0 >
				<#list dataList as item>
				<#if item??>
				<tr height="35">
				    <td>${item.id!''}</td>
					<td><a style="color:#08c;" onclick="queryDetails('${item.id!''}','${code!''}','${productSN!''}')">${item.title!''}</a></td>
					<td>${item.productNo!''}</td>
					<td>${item.createDate!''}</td>
					<td>
					 <#if item.status ?? && item.status == "1">
					 	${bundle('customer.plat.datalog.status.close')}
					 <#else>
					    ${bundle('customer.plat.datalog.status.open')}
					 </#if>
					
					</td>	
				  </tr>
			</#if>
			   </#list>
			<#else>
			   		<tr><td colspan="5"><div  class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			</#if>
		</table>
	</div>
		
	