<div class="jss_xx">
		<table width="100%"  border="0">
			<tr  class="tool_title">
			       
					<td>${bundle('memberman.complaintman.productserial')}</td>
					<td>${bundle('product.software.name')}</td>
					<td>${bundle('memberman.customman.upgradetime')}</td>
			    
			  </tr>
			<#if dataList?size gt 0 >
				<#list dataList as item>
				<#if item??>
				<tr height="35">
				
					<td>${item.proSerialNo!''}</td>
					<td>${item.softwareTypeName!''}</td>
					<td>${item.upgradeTime!''}</td>	
				  </tr>
			</#if>
			   </#list>
			<#else>
			   		<tr><td colspan="5"><div  class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			</#if>
		</table>
	</div>
	<div style="padding-top:20px">
                	
				    <input onclick="window.history.back()" name="proService"  class="renew3" id="proService" type="button" value="${bundle('common.btn.return')}"  />
			
		</div>
	