
<form id="updatePassword" name="updatePassword" action="" method="post">
<input type="hidden" name="productSN" id="productSN" value="${productSN!''}">
<input type="hidden" name="code" id="code" value="${code!''}">
 <div class="account_right">
   
        <div class="my_products">
        	<div class="registe">
					<table width="790" border="0">
					
	        	 	<tr>
			           <td class="">&nbsp;</td>
			     	</tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("update.newpassword.name")}</td>
					    <td><input name="userPwd" id="userPwd" type="password" value="" class="input_sign" size="50" maxlength="25" />
					     <img id="userPwdImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					  </tr>
					  <tr id="userPwdResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="userPwdResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        		 </tr>
					  <tr>
			           <td class="">&nbsp;</td>
			     	</tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("update.confirmpassword.name")}</td>
					    <td><input name="confirmPassword" id="confirmPassword" type="password" value="" class="input_sign" size="50" maxlength="25" />
					    <img id="confirmPasswordImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					  </tr>
					   <tr id="confirmPasswordResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="confirmPasswordResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	
					  <tr>
					     	<td align="right" class="font14black">&nbsp;</td>
					        <td><span id="confirmPasswordTip" style="font-size:20px;color:red;"></span></td>
					  </tr>
					  
					  <tr height="48">
					    <td align="right" width="254">&nbsp;</td>
					    <td><input onclick="resetPwd()" name="restPwd" id="restPwd"   type="button" value="${bundle('common.btn.ok')}" class="renew3" />
					    <input name="calenId" onclick="clearAllErrorInfo();" id="calenId" type="reset" value="${bundle('common.btn.reset')}" class="renew3" style="margin-left:50px;" /></td>
					  </tr>
					</table>
</div>
</div>
</div>
</form>

