<div class="jss_xx">
		<table width="100%"  border="0">
			<tr  class="tool_title">
			    <td>${bundle('memberman.customman.ordernum')}</td>
				<td>${bundle('memberman.customman.cunsumetype')}</td>
				<td>${bundle('memberman.complaintman.productserial')}</td>
			<!--	<td>${bundle('marketman.minusalenit')}</td> -->
				<td>${bundle('memberman.customman.cunsumeprice')}</td>
				<td>${bundle('memberman.customman.cunsumetime')}</td>
				
				<td>${bundle('orderman.list.paystate')}</td>
				<!-- <td>${bundle('order.gathering.money.status')}</td> -->
			    
			  </tr>
			<#if consumeList?size gt 0 >
				<#list consumeList as item>
				<#if item??>
<tr height="35">
				   <td>${item.code}</td>
				<td>
				
					 <#if item.consumeType == 0>${bundle('orderman.list.gm')}</#if>
					 <#if item.consumeType == 1>${bundle('orderman.list.xf')}</#if>
				</td>
				<td>${item.serialNo}</td>
			<!--  	<td>${item.minSaleUnitName!''}</td> -->
				<td>${item.orderMoney!''}</td>
				<td>${item.orderDate!''}</td>
			
				<td>
					<#if item.orderPayState == '0'> ${bundle('orderman.list.nopay')} </#if>
					<#if item.orderPayState == '1'> ${bundle('orderman.list.payed')} </#if>
				</td>
			<!-- 	<td>
					<#if item.recConfirmState == 0 >${bundle('orderman.list.noconfirm')}</#if>
					<#if item.recConfirmState == 1 >${bundle('orderman.list.confirmed')}</#if>
				</td> -->
				  </tr>
			</#if>
			   </#list>
			<#else>
			   		<tr><td colspan="8"><div  class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			</#if>
		</table>

	</div>
			
	