<div class="jss_xx">
		<table width="100%"  border="0">
			<tr  class="tool_title">
				  <td>${bundle("customer.plat.soft.soft")}</td>
				  <td>${bundle("customer.plat.soft.version")}</td>
				    <td>${bundle("customer.plat.soft.sys.version")}</td>
			  	  <td>${bundle("customer.plat.soft.update")}</td>
			  	
			  </tr>
			  
			  <#if record?size gt 0 >
				<#list record as item>
				<#if item??>
			
					  <tr height="35">
					   <td>${item.softName!''}</td>
					   <td <#if item.softVersion?? && item.softVersion!=item.softSysVersion> style="background:#e47911"</#if>>${item.softVersion!''}</td>
					   <td>${item.softSysVersion!''}</td>
					   <td>${item.syncTime!''}</td>
					  
					  </tr>
					
                
                
			</#if>
			   </#list>
			<#else>
			   		<tr><td colspan="4"><div style="text-align:center;"  class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			</#if>
			  	</table>
	</div>