<div class="jss_xx">
		<table width="100%"  border="0">
			<tr  class="tool_title">
				<td  width="20%">${bundle('memberman.complaintman.productserial')}</td>
				<td  width="10%">${bundle('syssetting.outfactoryproman.repairdate')}</td>
				<td  width="20%">${bundle('syssetting.outfactoryproman.brokentype')}</td>
			    <td  width="50%">${bundle('syssetting.outfactoryproman.repaircontent')}</td>
			  </tr>
			  
			    <#if dataList?size gt 0 >
				<#list dataList as item>
				<#if item??>
			
				<tr height="35">
				<td>${item.proSerialNo!''}</td>
				<td>${item.repDate!''}</td>
				<td>${item.repType!''}</td>
				<td>${item.repContent!''}</td>
				  </tr>
			</#if>
			   </#list>
			<#else>
			   		<tr><td colspan="6"><div  class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			</#if>
		</table>
	</div>
	<div style="padding-top:20px">
                	
				    <input onclick="window.history.back()" name="proService"  class="renew3" id="proService" type="button" value="${bundle('common.btn.return')}"  />
			</div>
		
	