
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript">
function changeProduct(productSN,customerCode){
	var url="customerPlatChangeNo.html?type=S21&productSN="+productSN+"&code="+customerCode;
	window.parent.jump(url);
}

function resetPwd(productSN,customerCode){
	var url="customerPlatResetPwd.html?type=S22&productSN="+productSN+"&code="+customerCode;
	window.parent.jump(url);
}

function updateInfo(productSN,customerCode){
	var url="customerPlatUpdateInfo.html?type=S23&productSN="+productSN+"&code="+customerCode;
	window.parent.jump(url);
}

</script>
<h3 class="infor_mation" style="padding-left:0px;color: #808080;">${bundle("customer.plat.base.customer")}</h3>
<div style="height:8px"></div>
<form id="updateCustomerInfo" name="updateCustomerInfo" action="" method="post">
<div class="my_products">
<div class="registe_infor">
<table width="790" border="0">

					<tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.autelid.name")}:</td>
					    <td width="300">${customerInfo.autelId!''}</td>
					    <td>
					   <!--  <input type="button" onclick="queryInfo()" value="${bundle('homepage.customer.resetPwd')}" class="renew3" id="pageQuery" /> -->
					    <a class="font14red" onclick="javascript:resetPwd('${productSN!''}','${code!''}')" style="color:#08c;">${bundle("homepage.customer.resetPwd")} ></a> 
					    </td>
					  </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.first.name")}:</td>
					    <td width="300">${customerInfo.firstName!''}</td>
					    <td><!-- <a class="font14red" href="updateCustomerInformation.html?operationType=5" style="color:#08c;">${bundle("common.list.mod")} ></a> --></td>
					  </tr>
					  <tr id="middleNameDiv" style="display:none;">
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.middle.name")}:</td>
					    <td>${customerInfo.middleName!''}</td>
					    <td>&nbsp;</td>
					  </tr>
					<tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.last.name")}:</td>
					    <td>${customerInfo.lastName!''}</td>
					    <td>&nbsp;</td>
					</tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.country.name")}:</td>
					    <td>${customerInfo.country!''}</td>
					    <td>&nbsp;</td>
					  </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.company.name")}:</td>
					    <td>${customerInfo.company!''}</td>
					    <td>&nbsp;</td>
					  </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.address.name")}:</td>
					    <td>${customerInfo.address!''}</td>
					     <td>
					    <a class="font14red" onclick="javascript:updateInfo('${productSN!''}','${code!''}')" style="color:#08c;">${bundle("customer.plat.update.cust.info")} ></a> 
					    </td>
					  </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.city.name")}:</td>
					    <td>${customerInfo.city!''}</td>
					    <td>&nbsp;</td>
					  </tr>
					    <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("regcustomer.info.province")}:</td>
					    <td>${customerInfo.province!''}</td>
					    <td>&nbsp;</td>
					  </tr>
					  
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.zipcode.name")}:</td>
					    <td>${customerInfo.zipCode!''}</td>
					    <td>&nbsp;</td>
					  </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("memberman.sealerinfoman.phonec")}:</td>
					    <td>
						    <#if customerInfo.daytimePhoneCC ?? && customerInfo.daytimePhoneCC != ''>${customerInfo.daytimePhoneCC!''}&nbsp;&nbsp;</#if>
						    <#if customerInfo.daytimePhoneAC ?? && customerInfo.daytimePhoneAC != ''>${customerInfo.daytimePhoneAC!''}&nbsp;&nbsp;</#if>
						    ${customerInfo.daytimePhone!''}
					    </td>
					    <td>&nbsp;</td>
					  </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.mobilephone.name")}:</td>
					    <td>
						    <#if customerInfo.mobilePhoneCC ?? && customerInfo.mobilePhoneCC != ''>${customerInfo.mobilePhoneCC!''}&nbsp;&nbsp;</#if>
						    <#if customerInfo.mobilePhoneAC ?? && customerInfo.mobilePhoneAC != ''>${customerInfo.mobilePhoneAC!''}&nbsp;&nbsp;</#if>
						    ${customerInfo.mobilePhone!''}
					    </td>
					    <td>&nbsp;</td>
					  </tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>				</table>
</div>
</div>
</form>

<h3 class="infor_mation" style="padding-left:0px;color: #808080;">${bundle("customer.plat.base.product")}</h3>
<div style="height:8px"></div>

<div class="jss_xx">
		<table width="100%"  border="0">
			<tr  class="tool_title">
			<td>${bundle('memberman.complaintman.productserial')}</td>
			<td>${bundle('product.producttypevo')}</td>
			<td>${bundle('sealer.query.product.password')}</td>
			<td>${bundle('customer.plat.data.language')}</td>
			<td>${bundle('customer.plat.soft.valid')}</td>
			<td>${bundle('customer.plat.soft.warranty')}</td>
			<#if customerProductVoSel.sealerAutelId ?? && (customerProductVoSel.sealerAutelId=="C-0063" || customerProductVoSel.sealerAutelId=="C-0759")>
			<td>${bundle('customer.plat.soft.change.title')}</td>
			</#if>
			</tr>
			<tr height="35">
			<td>${customerProductVoSel.proSerialNo!''}</td>
			<td>${customerProductVoSel.productTypeName!''}</td>
			<td>${customerProductVoSel.regPwd!''}</td>
			<td>${customerProductVoSel.language!''}</td>
			<td>${customerProductVoSel.proRegTime!''} - ${customerProductVoSel.validDate!''}</td>
			<td>${customerProductVoSel.proDate!''} - ${customerProductVoSel.endDate!''}</td>
			<#if  customerProductVoSel.sealerAutelId ?? &&  (customerProductVoSel.sealerAutelId=="C-0063" || customerProductVoSel.sealerAutelId=="C-0759")>
			<td><a style="color:#08c;" onclick="changeProduct('${productSN!''}','${code!''}')">${bundle('customer.plat.soft.change')}</td>
			</#if>
			</tr>
			</table>
