 <script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/artDialog.js?skin=default"></script>
<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var tempStatus=$('#tempStatus').val();
	if(tempStatus=="2"){
		$("#showTD1").show();
		$("#showTD2").show();
		$("#showTR").show();
		$("input").attr("disabled","true");
		$("select").attr("disabled","true");
		$("textarea").attr("disabled","true");
	}else{
		$("#showTD1").hide();
		$("#showTD2").hide();
		$("#showTR").hide();
	}

	var tempCity=$("#tempCity").val();
	 $("#city").find("option").each(function (){
			if($(this).val()==tempCity) $(this).attr("selected", true);
		 });
	
});

function showRemark(module){
	if(module=="2"){
		$("#showTD1").show();
		$("#showTD2").show();
		$("#showTR").show();
	}else{
		$("#showTD1").hide();
		$("#showTD2").hide();
		$("#showTR").hide();
	}
}

function closePage(){
		
	   var origin = art.dialog.open.origin;
		art.dialog.close();
		origin.querySubmit();
	}
function saveSalesQueryInfo(){
	var firstName=$.trim($("#firstName").val());
	var lastName=$.trim($("#lastName").val());
	var proTypeCode=$("#proTypeCode").val();
	var email=$("#email").val();
	var telphone=$.trim($("#telphone").val());
	var address=$("#address").val();
	var openRemark=$("#openRemark").val();
	var city=$("#city").val();
	var zipCode=$("#zipCode").val();
	var status=$("#status").val();
	var serialNo=$("#serialNo").val();
	var closeRemark=$("#closeRemark").val();
	var code=$("#code").val();
	var id=$("#queryID").val();
	var createDate=$('#createDate').val();
	var createUser=$('#createUser').val();
	
	var resultTip=$("#resultTip");
	var regEmail = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
	if(proTypeCode=="-1"){
		resultTip.html($('#productTypeNull').val());
		return;
	}
	if(firstName==""){
		resultTip.html($('#firstNameError').val());
		return;
	}
	if(lastName==""){
		resultTip.html($('#lastNameError').val());
		return;
	}
	
	if(email==""){
		resultTip.html($('#emailError').val());
		return;
	} 
	if(!regEmail.test(email)){
		resultTip.html($('#emailRegError').val());
		return;
	}
	if(telphone==""){
		resultTip.html($('#telphoneError').val());
		return;
	}
	if(city=="-1"){
		city="";
	}
	
	 $.ajax({
			url:'front/sealer/updateSalesQueryInfo.do',
			type:"post",
			async:false,
			data:{"salesQueryInfo.firstName":firstName,
				  "salesQueryInfo.lastName":lastName,
				  "salesQueryInfo.proTypeCode":proTypeCode,
				  "salesQueryInfo.email":email,
				  "salesQueryInfo.telphone":telphone,
				  "salesQueryInfo.address":address,
				  "salesQueryInfo.openRemark":openRemark,
				  "salesQueryInfo.status":status,
				  "salesQueryInfo.serialNo":serialNo,
				  "salesQueryInfo.id":id,
				  "salesQueryInfo.code":code,
				  "salesQueryInfo.createDate":createDate,
				  "salesQueryInfo.createUser":createUser,
				  "salesQueryInfo.city":city,
				  "salesQueryInfo.zipCode":zipCode,
				  "salesQueryInfo.closeRemark":closeRemark
			},
			dataType:'JSON',
			success :function(data)
			{
				var jsonData = data;
				if(jsonData=="EXIST"){
					resultTip.html($('#usedMsg').val());
					return;
				}else if(jsonData=="SUCCESS"){
					resultTip.html($('#successMsg').val());
					window.setTimeout(function(){closePage()},3000);
				}else{
					resultTip.html($('#FailMsg').val());
					return;
				}
			}
		}); 
	
}
</script> 

<form id="submitToPay" method='post' action=''>
<input type="hidden" name="nameNull" id="nameNull" value="${bundle('sale.query.customer.name.null')}"/>
<input type="hidden" name="productTypeNull" id="productTypeNull" value="${bundle('sale.query.customer.protype.null')}"/>
<input type="hidden" name="userPwdError" id="userPwdError" value="${bundle('sealer.auth.add.userpwd.error')}"/>
<input type="hidden" name="confirmError" id="confirmError" value="${bundle('sealer.auth.add.confirmpwd.error')}"/>
<input type="hidden" name="matchError" id="matchError" value="${bundle('sealer.auth.add.confirmpwd.match')}"/>
<input type="hidden" name="successMsg" id="successMsg" value="${bundle('customer.plat.soft.change.success')}"/>
<input type="hidden" name="FailMsg" id="FailMsg" value="${bundle('customer.plat.soft.change.fail')}"/>
<input type="hidden" name="usedMsg" id="usedMsg" value="${bundle('sealer.auth.add.used.error')}"/>
<input type="hidden" name="emailError" id="emailError" value="${bundle('card.support.email.null')}"/>
<input type="hidden" name="emailRegError" id="emailRegError" value="${bundle('card.support.email.check')}"/>
<input type="hidden" name="tempStatus" id="tempStatus" value="${salesQueryInfo.status}"/>
<input type="hidden" name="code" id="code" value="${salesQueryInfo.code}"/>
<input type="hidden" name="queryID" id="queryID" value="${salesQueryInfo.id}"/>
<input type="hidden" name="createDate" id="createDate" value="${salesQueryInfo.createDate}"/>
<input type="hidden" name="createUser" id="createUser" value="${salesQueryInfo.createUser}"/>
<input type="hidden" name="tempCity" id="tempCity" value="${salesQueryInfo.city!''}"/>
<input type="hidden" name="firstNameError" id="firstNameError" value="${bundle('sale.query.customer.first.name.null')}"/>
<input type="hidden" name="lastNameError" id="lastNameError" value="${bundle('sale.query.customer.last.name.null')}"/>
<input type="hidden" name="telphoneError" id="telphoneError" value="${bundle('sale.query.customer.telphone.null')}"/>


<div class="account_right">
        	<div class="registe" style="padding-left:120px">
					<table width="100%" border="0">
			     	<tr>
					    <td style="width:100px;text-align:right" >${bundle('product.producttypevo')} <span class="font12red"> *</span></td>
					    <td>
					     <select style="width:200px"  class="p_name_car" name="proTypeCode" id="proTypeCode" >
			    <option value="-1">${bundle("product.select")}</option>
				<#list productTypeList as item >
					<option value="${item.code}" <#if  salesQueryInfo.proTypeCode== item.code > selected="selected"</#if>>${item.name}</option>
				</#list>
			</select>
					     </td>
					    <td  style="width:90px;text-align:right" >&nbsp;&nbsp;${bundle('sale.query.customer.first.name')} <span class="font12red"> *</span></td>
					    <td><input name="salesQueryInfo.firstName" id="firstName" type="text" value="${salesQueryInfo.firstName!''}" style="width:200px"   class="input_sign" size="50"  />
					     </td>
					    
					 </tr>
			     	
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			     	</tr>
			     	
			     	 <tr>
					    <td  style="width:100px;text-align:right">${bundle('sale.query.customer.email')}<span class="font12red"> *</span></td>
					    <td><input name="salesQueryInfo.email" id="email" type="text" value="${salesQueryInfo.email!''}" style="width:200px"   class="input_sign" size="50"  />
					     </td>
					     
					    <td  style="width:70px;text-align:right">&nbsp;&nbsp;${bundle('sale.query.customer.last.name')}<span class="font12red"> *</span></td>
					   <td><input name="salesQueryInfo.lastName" id="lastName" type="text" value="${salesQueryInfo.lastName!''}" style="width:200px"   class="input_sign" size="50"  />
					  </tr>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			     	</tr>
					    <tr>
					   <td  style="width:100px;text-align:right">&nbsp;&nbsp;${bundle('sale.query.customer.telphone')}<span class="font12red"> *</span></td>
					   <td><input name="salesQueryInfo.telphone" id="telphone" type="text" value="${salesQueryInfo.telphone!''}" style="width:200px"   class="input_sign"   />
					    <td  style="width:90px;text-align:right">${bundle('sale.query.customer.address')}&nbsp;</td>
					    <td><input name="salesQueryInfo.address" id="address" type="text" value="${salesQueryInfo.address!''}" style="width:200px"   class="input_sign"   />
					    
					  </tr>
	        	 	<tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			            <td class="">&nbsp;</td>
			     	</tr>
			     	
			     	 <tr>
					    <td  style="width:100px;text-align:right">${bundle('sale.query.customer.city')}&nbsp;</td>
					    <td>
					    <select class='input_sign2' name='salesQueryInfo.city' id='city' style="width:205px">
					    	<option value="-1">Please select</option>
							<option value="Alabama">Alabama</option>
							<option value="Alaska">Alaska</option>
							<option value="Arizona">Arizona</option>
							<option value="Arkansas">Arkansas</option>
							<option value="Armed Forces Americas">Armed Forces Americas</option>
							<option value="Armed Forces Europe">Armed Forces Europe</option>
							<option value="Armed Forces Pacific">Armed Forces Pacific</option>
							<option value="California">California</option>
							<option value="Colorado">Colorado</option>
							<option value="Connecticut">Connecticut</option>
							<option value="Delaware">Delaware</option>
							<option value="Dist of Columbia">Dist of Columbia</option>
							<option value="Florida">Florida</option>
							<option value="Georgia">Georgia</option>
							<option value="Guam">Guam</option>
							<option value="Hawaii">Hawaii</option>
							<option value="Idaho">Idaho</option>
							<option value="Illinois">Illinois</option>
							<option value="Indiana">Indiana</option>
							<option value="Iowa">Iowa</option>
							<option value="Kansas">Kansas</option>
							<option value="Kentucky">Kentucky</option>
							<option value="Louisiana">Louisiana</option>
							<option value="Maine">Maine</option>
							<option value="Maryland">Maryland</option>
							<option value="Massachusetts">Massachusetts</option>
							<option value="Michigan">Michigan</option>
							<option value="Minnesota">Minnesota</option>
							<option value="Mississippi">Mississippi</option>
							<option value="Missouri">Missouri</option>
							<option value="Montana">Montana</option>
							<option value="Nebraska">Nebraska</option>
							<option value="Nevada">Nevada</option>
							<option value="New Hampshire">New Hampshire</option>
							<option value="New Jersey">New Jersey</option>
							<option value="New Mexico">New Mexico</option>
							<option value="New York">New York</option>
							<option value="North Carolina">North Carolina</option>
							<option value="North Dakota">North Dakota</option>
							<option value="Ohio">Ohio</option>
							<option value="Oklahoma">Oklahoma</option>
							<option value="Oregon">Oregon</option>
							<option value="Pennsylvania">Pennsylvania</option>
							<option value="Puerto Rico">Puerto Rico</option>
							<option value="Rhode Island">Rhode Island</option>
							<option value="South Carolina">South Carolina</option>
							<option value="South Dakota">South Dakota</option>
							<option value="Tennessee">Tennessee</option>
							<option value="Texas">Texas</option>
							<option value="Utah">Utah</option>
							<option value="Vermont">Vermont</option>
							<option value="Virgin Islands">Virgin Islands</option>
							<option value="Virginia">Virginia</option>
							<option value="Washington">Washington</option>
							<option value="West Virginia">West Virginia</option>
							<option value="Wisconsin">Wisconsin</option>
							<option value="Wyoming">Wyoming</option>
					    </select>
					    </td>
					    <td  style="width:90px;text-align:right">&nbsp;&nbsp;${bundle('sale.query.customer.zipcode')}&nbsp;</td>
					    <td><input name="salesQueryInfo.zipCode" id="zipCode" type="text" value="${salesQueryInfo.zipCode!''}" style="width:200px"   class="input_sign"   />
					  </tr>
	        	 	
	        	 	<tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			            <td class="">&nbsp;</td>
			     	</tr>
	        	 	 <tr>
					    <td  style="width:100px;text-align:right">${bundle('sale.query.customer.create.desc')}&nbsp;</td>
					    <td colspan="3"><textarea name="salesQueryInfo.openRemark" id="openRemark"   style="width:302px;height:80px"   class="input_sign" size="50"  >${salesQueryInfo.openRemark!''}</textarea>
					  </tr>
					  	        	 	<tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			            <td class="">&nbsp;</td>
			     	</tr>
			     	<tr>
					  
					   <td  style="width:100px;text-align:right">${bundle('sales.query.status')}&nbsp;</td>
					   <td>
					   <select style="width:200px"  class="p_name_car" name="salesQueryInfo.status" id="status" onchange="showRemark(this.value)" >
					   <option value="1" <#if  salesQueryInfo.status== "1" > selected="selected"</#if>>${bundle('sales.query.status.open')}</option>
					   <option value="2" <#if  salesQueryInfo.status== "2" > selected="selected"</#if>>${bundle('sales.query.status.close')}</option>
					   </select>
					   </td>
					   <td id="showTD1" style="display:none;text-align:right">${bundle('sale.query.customer.serial')}&nbsp;</td>
					   <td id="showTD2" style="display:none"><input name="salesQueryInfo.serialNo" id="serialNo" type="text" value="${salesQueryInfo.serialNo!''}" style="width:200px"   class="input_sign" size="50"  /></td>
					 </tr>
					  	        	 	<tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			            <td class="">&nbsp;</td>
			     	</tr>
					  
					  <tr id="showTR" style="display:none">
					    <td  style="width:100px;text-align:right">${bundle('sale.query.customer.close.desc')}&nbsp;</td>
					    <td colspan="3"><textarea name="salesQueryInfo.closeRemark" id="closeRemark"  style="width:302px;height:80px"   class="input_sign" size="50"  >${salesQueryInfo.closeRemark!''}</textarea>
					  </tr>
					  
					  <td>
					  </tr>
					  
					  <tr>
					        <td colspan="4" style="padding-left:80px">&nbsp;<span id="resultTip" style="color: #EA0000;font-size: 12px;font-weight: bold;"></span></td>
					  </tr>
					  <#if salesQueryInfo.status== "1" >
					   <tr height="48">
					   
					    <td align="center" colspan="4"><input onclick="saveSalesQueryInfo();" name="submitSales" id="submitSales"   type="button" value="${bundle('common.btn.ok')}" class="renew3" />
					    </td>
					  </tr> 
					  </#if>
					</table>
</div>
</div>
</div>
</form>