<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<style type="text/css">
* {margin:0px;padding:0px;}
html,body { height:100%;}
body { line-height:24px;}
#tip 
{
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 0px;
	width: 180px;
	border: 1px solid #CCCCCC;
	background-color: #ffffff;
	padding: 1px;
	overflow:hidden;
	display:none;
	font-size:12px;
	z-index:10;
}
#tip p { padding:6px;}
#tip h1,#detail h1
{
	font-size:14px;
	height:25px;
	line-height:25px;
	background-color:#e40210;
	color:#FFFFFF;
	padding:0px 3px 0px 3px;
	filter: Alpha(Opacity=100);
}
#tip h1 a,#detail h1 a 
{
	float:right;
	text-decoration:none;
	color:#FFFFFF;
}

#shadow 
{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000000;
	z-index:11;
	filter: Alpha(Opacity=70);
	display:none;
	overflow:hidden;
}

#detail 
{
	width:500px;
	height:200px;
	border:3px double #ccc;
	background-color:#FFFFFF;
	position:absolute;
	z-index:30;
	display:none;
	left:30%;
	top:30%
}
</style>

<input type="hidden" id="userType" name="userType" value="2"/>
<div class="my_message">
				
            	<div class="mess_one clearfix">
                	<div class="message_pic"><img src="${imagePath}/images/message.gif" width="96" height="85" /></div>
                    <div class="message_wor">
                    	<h6><a href="myMessageInfo-1-1.html?userType=2">${bundle("autel.menu.mymessage")}
                    	<#if userMessageCount??>
                    		(${userMessageCount}) 
                    	</#if>
                    	</a> 
                    	<img src="${imagePath}/images/jiant.gif" width="10" height="10" /></h6>
                        <p>${bundle("mydistributor.viewmymessage.name")} </p>
                        
                    </div>
                </div>
            	<div class="mess_two clearfix">
                	<div class="message_pic"><img src="${imagePath}/images/shez.gif" width="96" height="85" /></div>
                    <div class="message_wor">
                    	<h6><a href="updateSealerInfo.html?operationType=1">${bundle("autel.menu.myaccountinformation")} </a> <img src="${imagePath}/images/jiant.gif" width="10" height="10" /></h6>
                      <p>${bundle("mydistributor.editaccountinformation.name")} </p>
                    </div>
                </div>
</div>
  <div class="expir">
  	<div class="mess_one clearfix">
      	<div class="message_pic"><img src="${imagePath}/images/exp.gif" width="96" height="85" /></div>
          
          <div class="message_wor">
              
              <h6><a href="toCustomerCharge-1-1.html?m=1&operationType=1">${bundle("renew.card.name")} 
              	
              </a> 
              <img src="${imagePath}/images/jiant.gif" width="10" height="10" /></h6>
              <p>${bundle("autel.menu.sealer.redeem")} </p>
          </div>
      </div>
      <div class="mess_two clearfix">
      	<div class="message_pic"><img src="${imagePath}/images/toux.gif" width="96" height="85" /></div>
          <div class="message_wor">
          		<h6><a href="salerComplaintInfo-1-1.html?m=1&userType=2&operationType=1">${bundle("autel.menu.mycomplaints")} 
          			<#if customerComplaintCount??>
          				(${customerComplaintCount})
          			</#if>
          		</a>
          		 <img src="${imagePath}/images/jiant.gif" width="10" height="10" /></h6>
                <p>${bundle("mydistributor.query.customercomplaintinfo")} </p>
          </div>
     </div>
</div>

<div id="tip"><h1><a href="javascript:void(0)" onclick="start()">×</a>${bundle("mydistributor.your.have")} <span id="message_count_id">0</span> ${bundle("mydistributor.have.newmesage")} </h1>
   <#list messageList as item>
   		<p><a href="myMessageInfo-1-1.html?userType=2" ><@substring title="${item.title!''}" length="22" dot="..." /> </a></p>
	</#list>
	<p><a href="myMessageInfo-1-1.html?userType=2" >${bundle("mydistributor.query.all")}</a></p>
</div>

