<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<form id="myMessageInfoForm" name="myMessageInfoForm" method="post" action="myMessageInfo-1-1.html">
<input type="hidden" id="userType" name="userType" value="${userType!''}"/>
<input type="hidden" id="msgTypeCode" name="msgTypeCode" value=""/>
<input type="hidden" id="divValue" name="divValue" value="${divValue!''}"/>
		
		<div class="account_right">
    	<h4 style="padding-right:0px">
    		<span>
	    		<select id="timeRange" style="width:220px;" name="timeRange" onchange="setTimeRange();" class="placed1" >
	    			<#if timeRange == '2'>
    					<option value="1" >${bundle("message.lately.threemonth")}</option>	
	                	<option value="2" selected="selected">${bundle("message.before.threemonth")}</option>	
	                <#else>
	                		<option value="1" selected="selected">${bundle("message.lately.threemonth")}</option>	
	                	    <option value="2" >${bundle("message.before.threemonth")}</option>	
    				</#if>
    				
	    		</select>
    		</span>
    		${bundle("autel.menu.mymessage")}
    	</h4>
        <div class="pay_leg">
	
    <div id="my_tabs0">
	<div class="my_tt">
	<ul class="my_menu0" id="my_menu0">
		<li id="all_id"  onclick="javascript:setMessageTab(0,'')" class="hover">${bundle("message.all.message")}<span class="hongs">(${totalMessageTypeCount!''})</span></li>
		<#list messageTypeList as item>
			<li id="span${item.messageCount!''}" onclick="javascript:setMessageTab('${item.messageCount!''}','${item.code!''}')">${item.name!""} <span class="hongs">(${item.messageTypeCount!''})</span></li>
		</#list>

	</ul></div>
	
	<div class="my_main" id="my_main0">
			<#list messageList as item>
				<ul class="block">
			   		<li>
				        <div class="my_mess">
					        <#if item.messageIsRead?? && item.messageIsRead == 1>
			         			<h3>&nbsp;&nbsp;${item.msgTypeName!''}  <img src="themes/autel/images/xinfk.gif"  title="${bundle('message.yidu.name')}" /></h3>
			         		<#else>
			         			<h3>&nbsp;&nbsp;${item.msgTypeName!''}  <img src="themes/autel/images/xinf.gif"  title="${bundle('message.weidu.name')}"  onclick="javascript:addUserMessageIsRead('${userType!''}','${item.code!''}','${userCode!''}')"/></h3>
			         		</#if>
			         		<p><a href="javascript:queryMessageInfo('${item.title!''}','${item.code!''}','${userType!''}','${userCode!''}','${item.messageIsRead!''}')">${item.title!""}</a></p>
							<p style="text-align:right;">${item.creatTime!''}</p>
				 		</div>
				 		<#if (item_index+1)!= messageList?size>
				 			<div class="border_bottom"></div>
				 		</#if>
		          	</li>
	       		</ul>
         	</#list>
         	<#if pager != "">
	         	<div class="check clearfix">
					${pager}			
				</div>
			</#if>
	</div>
	</div>
</div>
    </div>
</div>
</form>
	