<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div class="account_right">
    	<h4>${bundle("autel.menu.myvendproduct")}</h4>
        <div class="my_products">
        	<dl>
        	<#if myVendProduct??>
        	 <#list myVendProduct as item>
           	  <dt class="clearfix">
           	  	<div class="my_pr_in"></div>
               	<div class="my_pro_pic"><img src="${item.picPath!''}" width="183" height="125" /></div>
                <div class="extend">
                	<h3>${item.name!''}</h3>
                    <div class="s_n">
                    <span>${bundle("memberman.customman.heyetime")}：${item.contractDate!''} -- ${item.expirationTime!''}</span>
                    <div class="warranty">${bundle("myvendproduct.salearea.name")}：${item.areaName!''}</div>
                    <h5></h5>
                    <div><input name="" type="button" value="${bundle('myvendproduct.annualsale.name')}" onclick="javascript:goSaleInfo('${item.name!''}')" class="renew5" />
                   <!-- <input name="" type="button" value="${bundle('myvendproduct.programrenewal.name')}" class="renew5" onclick="javascript:goToCustomerCharge('${item.productCode!''}')"/>
                   --> 
                   </div>
                </div>
              </dt>
              <#if (item_index+1)!= myVendProduct?size>
			       <dd></dd> 
			  </#if>
        	</#list>
        	 	<#if pager != "">
        		<ul class="block">
			   		<li >
				   		<div class="check1 clearfix">
				   			<#if totalpagecount == 1>
				   				<div style="text-align:center">&nbsp;</div>
				   			<#else>
				   				${pager}
				   			</#if>
			
						</div>
					</li>	
			   	 </ul>
        		</#if>
        	</#if>
            </dl>
        </div>
    </div>