<script type="text/javascript">
$(function(){
	changeState();
})
function changeState(){
	var state = $("#state").val();
	$(".ofnstate").hide();
	if(state=="4"){
		$(".logistics").show();
	}else if(state=="2"){
		$(".received").show();
	}else if(state=="3"){
        $(".reasons").show();
    }
}
function dispose(){
	var id = $("#id").val();
	var state = $("#state").val();
	var data = {id:id,state:state};
	$(".ofnstate").hide();
	if(state=="4"){
		$(".logistics").show();
		var logisticsCompany = $("#logisticsCompany").val();
		if(logisticsCompany==null||$.trim(logisticsCompany)==""){
			$("#inputLogisticsCompany").html('${bundle("ofn.txt.logistics.company.empty")}');
			return ;
		}
		$("#inputLogisticsCompany").html("");
		data.logisticsCompany=logisticsCompany;
		var logisticsNo = $("#logisticsNo").val();
        if(logisticsNo==null||$.trim(logisticsNo)==""){
            $("#inputLogisticsNo").html('${bundle("ofn.txt.logistics.no.empty")}');
            return ;
        }
        $("#inputLogisticsNo").html("");
        data.logisticsNo=logisticsNo;
        
        data.logisticsTime=$("#logisticsTime").val();
	}else if(state=="2"){
        $(".received").show();
        var receivedDate = $("#receivedDate").val();
        data.receivedDate = receivedDate;
    }else if(state=="3"){
        $(".reasons").show();
        var reasons = $("#reasons").val();
        if(reasons==null||$.trim(reasons)==""){
            $("#inputReasons").html('${bundle("ofn.txt.reasons.no.empty")}');
            return ;
        }
        $("#inputReasons").html("");
        data.reasons = reasons;
    }
	var giftTypeSelect = $("#giftTypeSelect").val();
	data.giftType = giftTypeSelect;
    data.giftProTypeCode = giftTypeSelect;
    
    var consignee = $("#consignee").val();
     data.consignee = consignee;
     
    var mailAddress = $("#address").val();
    data.mailAddress = mailAddress;
     var phone = $("#phone").val();
     data.phone = phone; 
	 $("#disposeButton").attr("disabled","true");
	 var isCommon = $("#isCommon");
        $.ajax({
            url:'front/usercenter/oldForNew/dispose.do',
            type:"post",
            data:data,
            dataType:"JSON",
            success:function(result){
            	  var jsonData=eval(result);
            	  if(jsonData[0].regResult=="notLogin"){
            		    $("#isCommonErrorInfo").show();
                        isCommon.html("${bundle('customer.session.not.valid')}");
            	  }else if(jsonData[0].regResult=="notFind"){
            		  $("#isCommonErrorInfo").show();
                      isCommon.html("${bundle('ofn.txt.no.find')}");
                      $("#disposeButton").removeAttr("disabled");
            	  }else if(jsonData[0].regResult=="true"){
            		  $("#isCommonErrorInfo").show();
                      isCommon.html("${bundle('ofn.txt.dispose.success')}");
                      setTimeout(jumpToURL("oldForNewList-1-1.html"),15000);
                  }else{
                	  $("#isCommonErrorInfo").show();
                      isCommon.html("${bundle('ofn.txt.dispose.fail')}");
                      $("#disposeButton").removeAttr("disabled");
                  }
            },
            error:function(data){
                $("#isCommonErrorInfo").show();
                isCommon.html("${bundle('customer.session.not.valid')}");
                $("#disposeButton").removeAttr("disabled");
            }
        })
}
</script>
<div class="account_right">
        <h4>${bundle('ofn.title')}</h4>
        <div class="my_products">
                <div class="registe">
                    <input type="hidden" id="id" value="${oldForNew.id}">
                    <table width="790" border="0">
                        <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.code')}</td>
                            <td>${oldForNew.code!''}
                            </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                        <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("regproduct.productmodel.name")}</td>
                            <td>${oldForNew.proTypeName!''}
                            </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                        <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("myproducts.sn.name")}</td>
                            <td>${oldForNew.serialNo!''}</td>
                       </tr>
                        <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.opt')}</td>
                           <td>${oldForNew.oproTypeName!''}
                            </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <#if oldForNew.oproductTypeCode=="MaxiDAS DS708">
                           <tr class="oprotr">
                                <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.opn')}</td>
                                <td>${oldForNew.oserialNo!''}</td>
                           </tr>
                           <tr>
                               <td>&nbsp;</td>
                               <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                           </tr>
                       </#if>
                       <#if oldForNew.state ==1||oldForNew.state ==2>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.op.gift')}</td>
                            <td>
                                 <select id="giftTypeSelect" style="width:275px">
                                    <option value="1" data-giftType="1" <#if oldForNew.giftProTypeCode='TS501'>selected</#if> path="statics/gift/TS501.png">TS501</option>
                                    <option value="3" data-giftType="1" <#if oldForNew.giftProTypeCode='MP408'>selected</#if> path="statics/gift/MP408.png">MP408</option>
                                    <option value="2" data-giftType="2" <#if oldForNew.giftProTypeCode='300'>selected</#if> path="statics/gift/gifecard.png">${bundle("ofn.pro.op.gift3")}</option>
                                </select>
                            </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.consignee')}</td>
                            <td><input type="text" class="input_sign" id="consignee" style="width:270px;" value="${oldForNew.consignee!''}"></td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.op.mail.address')}</td>
                            <td><input type="text" class="input_sign" style="width:270px;" id="address" value="${oldForNew.mailAddress!''}"></td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.phone')}</td>
                            <td><input type="text" class="input_sign" style="width:270px;" id="phone" value="${oldForNew.phone!''}"></td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <#else>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.op.gift')}</td>
                            <td><#if oldForNew.giftType=2>${bundle('ofn.pro.op.gift3')}<#else>${oldForNew.giftProTypeCode}</#if>
                            </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.consignee')}</td>
                            <td>${oldForNew.consignee!''}</td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.op.mail.address')}</td>
                            <td>${oldForNew.mailAddress!''}</td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.phone')}</td>
                            <td>${oldForNew.phone!''}</td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       </#if>
                       
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.state')}</td>
                            <td><select id="state" onchange="changeState()" style="width:275px;">
                                <option value="1" <#if oldForNew.state ==1>selected</#if> >${bundle('ofn.pro.state1')}</option>
                                <option value="2" <#if oldForNew.state ==2>selected</#if> >${bundle('ofn.pro.state2')}</option>
                                <option value="3" <#if oldForNew.state ==3>selected</#if> >${bundle('ofn.pro.state3')}</option>
                                <option value="4" <#if oldForNew.state ==4>selected</#if> >${bundle('ofn.pro.state4')}</option>
                            </select>
                            </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                        <tr class="ofnstate logistics" style="display: none">
                           <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.ship.time')}</td>
                           <td><input type="text" value="${oldForNew.logisticsTime!now}" name="logisticsTime" id="logisticsTime" class="input_sign" style="width:270px;"/></td>
                       </tr>
                       <tr class="ofnstate logistics" style="display: none">
                          <td>&nbsp;</td>
                          <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                      </tr>
                       <tr class="ofnstate logistics" style="display: none">
                           <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.logistics.company')}<span  style="color:red">&nbsp;*</span></td>
                           <td>
                                <select  name="logisticsCompany" id="logisticsCompany" style="width:270px;">
                                    <option value="Fedex"  >Fedex</option>
                                    <option value="UPS" <#if oldForNew.logisticsCompany??&&oldForNew.logisticsCompany=="UPS">selected</#if> >UPS</option>
                                    <option value="DHL" <#if oldForNew.logisticsCompany??&&oldForNew.logisticsCompany=="DHL">selected</#if> >DHL</option>
                                    <option value="USPS" <#if oldForNew.logisticsCompany??&&oldForNew.logisticsCompany=="USPS">selected</#if> >USPS</option>
                                </select>
                           </td>
                       </tr>
                       <tr class="ofnstate logistics" style="display: none">
                          <td>&nbsp;</td>
                          <td><span id="inputLogisticsCompany" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                      </tr>
                       <tr class="ofnstate logistics" style="display: none">
                           <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.logistics.no')}<span  style="color:red">&nbsp;*</span></td>
                           <td><input type="text" value="${oldForNew.logisticsNo!''}" name="logisticsNo" id="logisticsNo" class="input_sign" style="width:270px;"/></td>
                       </tr>
                       <tr class="ofnstate logistics" style="display: none">
                          <td>&nbsp;</td>
                          <td><span  id="inputLogisticsNo" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                      </tr>
                      <tr class="ofnstate received" style="display: none">
                           <td align="right" width="238" style="padding-right: 16px">${bundle('ofn.pro.received.time')}<span  style="color:red">&nbsp;*</span></td>
                           <td><input type="text" value="${oldForNew.receivedDate!now}" name="receivedDate" id="receivedDate" class="input_sign" style="width:270px;"/></td>
                       </tr>
                       <tr class="ofnstate received" style="display: none">
                          <td>&nbsp;</td>
                          <td><span  id="inputReceivedDate" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                      </tr>
                      <tr class="ofnstate reasons" style="display: none">
                           <td align="right" width="238" style="padding-right: 16px" valign="top">${bundle('ofn.pro.reasons')}<span  style="color:red">&nbsp;*</span></td>
                           <td><textarea name="reasons" id="reasons" style="width:270px;">${oldForNew.reasons!''}</textarea></td>
                       </tr>
                       <tr class="ofnstate reasons" style="display: none">
                          <td>&nbsp;</td>
                          <td><span  id="inputReasons" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                      </tr>
                      <tr id="isCommonErrorInfo"  style="display:none;">
                            <td>&nbsp;</td>
                            <td ><span id="isCommon" class="font12gray" style="line-height:15px;color:red"></span></td>
                        </tr>
                       <tr>
                            <td width="254" align="right">&nbsp;</td>
                            <td><input type="button" onclick="dispose();" id="disposeButton" class="renew3" value="${bundle('customercomplaint.commit.name')}" name="button">
                            </td>
                        </tr>
                   </table>
               </div>
       </div>
    </div>