
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<div class="account_right">
    	<h4 style="padding-right:0px">${bundle("customercomplaint.complaintdetails.name")}
    	<span><input value="${bundle('common.return.name')}" name="subBtn" id="subBtn" onclick="window.history.go(-1)" type="button" class="renew3"  /></span>
    	</h4>
    	 <br/>
        <div class="my_products_table">
	        <form id="addCustomerComplaint" name="addCustomerComplaint" method="post"  enctype="multipart/form-data">
			<input type="hidden" name="cusComCode" id="cusComCode" value="${customerComplaintInfo.code!''}">
			<input type="hidden" name="userType" id="userType" value="${userType!''}">
	  		<input type="hidden" name="attachment" id="attachment" value="${customerComplaintInfo.attachment!''}"/>
        	<table width="790" border="1" bordercolor="#cccccc">
				
					  <tr>
					    <td width="85px" height="40" style="padding-left:12px;">${bundle("customercomplaint.person.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="285px" colspan="2"><input readonly style="width:295px"  name="complaintPerson" id="complaintPerson" type="text" value="${customerComplaintInfo.complaintPerson!''}" maxlength="25" class="declar" /></td>
					    <td width="85px" height="40" style="padding-left:12px;">${bundle("customercomplaint.company.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="315px" colspan="3"><input readonly name="company" id="company" type="text" value="${customerComplaintInfo.company!''}" maxlength="120" class="organ"    /></td>
					    </tr>
					  <tr>
					    <td width="85px" height="40" style="padding-left:12px;">${bundle("customercomplaint.phone.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="285px" colspan="2"><input readonly style="width:285px" name="phone" id="phone" type="text" value="${customerComplaintInfo.phone!''}" maxlength="120" class="declar" /></td>
					    
					     <td width="85px" height="40" style="padding-left:12px;">${bundle("customercomplaint.time.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="120px"><input style="width:120px" name="complaintDate" id="complaintDate" type="text" value="${customerComplaintInfo.complaintDate!''}" maxlength="120" class="declar" /></td>
					    
					    <td width="85px" height="40" style="padding-left:12px;">${bundle("customercomplaint.email.name")}<span class="font12red">&nbsp;*</span></td>
					    <td width="130px"><input readonly style="width:110px" name="email" id="email" type="text" value="${customerComplaintInfo.email!''}" maxlength="120" class="organ" /></td>
					  </tr>
					  <tr>
					    <td width="85px" height="40" style="padding-left:12px;"><strong>${bundle("customercomplaint.title.name")}</strong><span class="font12red">&nbsp;*</span></td>
					    <td width="705px" colspan="6">&nbsp; ${customerComplaintInfo.complaintTitle!''}</td>
					    </tr>
					    
					     <tr>
					    <td width="85px" height="40" style="padding-left:12px;"><strong>${bundle("sealer.plat.complaint.type")}</strong><span class="font12red">&nbsp;*</span></td>
					    <td width="705px" colspan="6">&nbsp;
					    <#if customerComplaintInfo.questionType ?? && customerComplaintInfo.questionType==1>${bundle("sealer.plat.complaint.type.hardware")}</#if>
					    <#if customerComplaintInfo.questionType ?? && customerComplaintInfo.questionType==2>${bundle("sealer.plat.complaint.type.software")}</#if>
					    <#if customerComplaintInfo.questionType ?? && customerComplaintInfo.questionType==3>${bundle("sealer.plat.complaint.type.other")}</#if>
					    </td>
					    </tr>
					    
					  <tr>
					    <td width="85px" height="40" style="padding-left:12px;" rowspan="3"><strong>${bundle("customercomplaint.vehicle.name")}<br />${bundle("customercomplaint.info.name")}</strong></td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.caryear.name")}</td>
					    <td width="200px"><input readonly  name="vehicleSystem" id="vehicleSystem" value="${customerComplaintInfo.carYear!''}" maxlength="120" type="text" class="ve_ser" /></td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.vehiclesystem.name")}</td>
					    <td width="250px" colspan="3"><input readonly  name="vehicleType" id="vehicleType" value="${customerComplaintInfo.vehicleSystem!''}" maxlength="120" type="text" class="organ" /></td>
					   
					  </tr>
					 
					  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.vehicletype.name")}</td>
					    <td width="200px"><input readonly name="carYear" id="carYear" type="text" value="${customerComplaintInfo.vehicleType!''}" maxlength="120" class="ve_ser" /></td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.system.name")}</td>
					    <td width="250px" colspan="3"><input readonly name="diagnosticConnector" id="diagnosticConnector"  value="${customerComplaintInfo.system!''}" maxlength="120" type="text" class="organ" /></td>
					    
					  </tr>
					  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.enginetype.name")}</td>
					    <td width="200px"><input  readonly name="engineType" id="engineType" type="text" value="${customerComplaintInfo.engineType!''}" maxlength="120" class="ve_ser" /></td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.carnumber.name")}</td>
					    <td width="250px" colspan="3">
 							<input name="system" readonly id="system" type="text" value="${customerComplaintInfo.carnumber!''}"  maxlength="120" class="organ"  />					  
					    </tr>
					 <!--    
					    <tr>
					  <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.carnumber.name")}</td>
					    <td width="620px" colspan="5"><input readonly  name="carnumber" id="carnumber" type="text" value="${customerComplaintInfo.carnumber!''}" maxlength="17" style="width:600px;height:40px;font-size:13px;border:0;color:#4d4d4d;line-height:40px" /></td>
					  </tr>  
					    
					  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.other.name")}</td>
					    <td width="620px" colspan="5"><input readonly name="other" id="other"  type="text" value="${customerComplaintInfo.other!''}" class="other_in" maxlength="255" style="width:600px;" /></td>
					   </tr> -->
					 
					    
					    
					    <tr>
						    <td width="85px" rowspan="3" style="padding-left:12px;"><strong>${bundle("customercomplaint.diagnosticdevice.name")}</strong></td>
						    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.product.name")}</td>
						    <td>
						   
						    <input style="width:190px" readonly name="productName" id="productName" value="${customerComplaintInfo.productName!''}" maxlength="120" type="text" class="ve_ser" />
						    
						     
						    </td>
						    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.productno.name")}</td>
						    <td width="250px" colspan="3"><input readonly name="productNo" id="productNo" value="${customerComplaintInfo.productNo!''}" maxlength="120" type="text" class="organ" /></td>
    					</tr>
					  
					  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.software.name")}</td>
					    <td width="200px"><input readonly name="softwareName" id="softwareName" type="text" value="${customerComplaintInfo.softwareName!''}" class="ve_ser"  maxlength="120" /></td>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.softwareedition.name")}</td>
					    <td width="250px" colspan="3"><input readonly name="softwareEdition" id="softwareEdition" type="text" class="organ" value="${customerComplaintInfo.softwareEdition!''}" maxlength="120"  /></td>
					  </tr>
					  
					  <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("complaint.adapter.name")}</td>
					    <td width="200px"><input readonly  name="adapter" id="adapter" type="text" value="${customerComplaintInfo.adapter!''}" class="ve_ser"  maxlength="120" /></td>
					    <td width="85px" style="padding-left:12px;">${bundle("complaint.datalogging.name")}</td>
					    <td width="250px" colspan="3"><input readonly name="datalogging" id="datalogging" type="text" class="organ" value="${customerComplaintInfo.datalogging!''}" maxlength="120"  /></td>
					  </tr>
					  
					  <!-- <tr>
					    <td width="85px" style="padding-left:12px;">${bundle("customercomplaint.testpath.name")}</td>
					    <td width="620px"  colspan="5"><input readonly name="testPath" id="testPath" type="text" style="height:40px;font-size:13px;border:0;color:#4d4d4d;line-height:40px;width:600px" value="${customerComplaintInfo.testPath!''}" maxlength="120" /></td>
					  </tr>
					   -->
					  <tr>
					    <td style="padding-left:12px;"><strong>${bundle("customercomplaint.complaintcontent.name")}</strong></td>
					    <td colspan="6"><textarea  readonly id="complaintContent" name="complaintContent" class="p_des" cols="" rows="" style="width:700px;height:100px" readonly="readonly">${customerComplaintInfo.complaintContent!''}</textarea></td>
					  </tr>
					  
					  
					  <tr>
					   
					    <td style="padding-left:12px;"><strong>${bundle("customercomplaint.attachment.name")}</strong></td>
					     <#if customerComplaintInfo.attachment ??>
					     <td colspan="6">&nbsp;&nbsp;<input name="queryAttachment" id="queryAttachment" type="button" value='${bundle("customercomplaint.query.attacement")}' readonly="readonly" class="renew_lan" /></td>
					    </#if>
					    </tr>
					  <tr>
					    <td style="padding-left:12px;"><strong>${bundle("customercomplaint.degreeofurgency.name")}</strong></td>
					    <td colspan="6" style="padding-bottom:32px;">
					    <h3 style="font-size:13px; margin-left:15px; margin-top:24px; margin-bottom:10px;">${bundle("customercomplaint.peleasemarktime.name")}.</h3>
							<#if customerComplaintInfo.emergencyLevel == 1>
					    	<span style="font-size:13px; margin-left:15px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="1" checked="checked" disabled="disabled">${bundle("customercomplaint.oneday.name")}&nbsp;&nbsp;&nbsp;</span>
		                   	<span style="font-size:13px; margin-left:50px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="2" disabled="disabled">${bundle("customercomplaint.threeday.name")}&nbsp;&nbsp;&nbsp;</span>
		                   	<span style="font-size:13px; margin-left:50px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="3" disabled="disabled">${bundle("customercomplaint.twoweek.name")}&nbsp;&nbsp;&nbsp;</span>
		                   	<span style="font-size:13px; margin-left:50px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="4" disabled="disabled">${bundle("customercomplaint.twomonth.name")}</span>
				    	<#elseif customerComplaintInfo.emergencyLevel == 2>
				    		<span style="font-size:13px; margin-left:50px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="1" disabled="disabled">${bundle("customercomplaint.oneday.name")}&nbsp;&nbsp;&nbsp;</span>
		                   	<span style="font-size:13px; margin-left:15px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="2" checked="checked"  disabled="disabled">${bundle("customercomplaint.threeday.name")}&nbsp;&nbsp;&nbsp;</span>
		                   	<span style="font-size:13px; margin-left:50px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="3" disabled="disabled">${bundle("customercomplaint.twoweek.name")}&nbsp;&nbsp;&nbsp;</span>
		                   	<span style="font-size:13px; margin-left:50px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="4" disabled="disabled">${bundle("customercomplaint.twomonth.name")}</span>
				    	<#elseif customerComplaintInfo.emergencyLevel == 3>
				    		<span style="font-size:13px; margin-left:50px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="1" disabled="disabled">${bundle("customercomplaint.oneday.name")}&nbsp;&nbsp;&nbsp;</span>
		                   	<span style="font-size:13px; margin-left:50px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="2" disabled="disabled">${bundle("customercomplaint.threeday.name")}&nbsp;&nbsp;&nbsp;</span>
		                   	<span style="font-size:13px; margin-left:15px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="3"  checked="checked"  disabled="disabled">${bundle("customercomplaint.twoweek.name")}&nbsp;&nbsp;&nbsp;</span>
		                   	<span style="font-size:13px; margin-left:50px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="4" disabled="disabled">${bundle("customercomplaint.twomonth.name")}</span>
				    	<#elseif customerComplaintInfo.emergencyLevel == 4>
				    		<span style="font-size:13px; margin-left:50px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="1" disabled="disabled">${bundle("customercomplaint.oneday.name")}&nbsp;&nbsp;&nbsp;</span>
		                   	<span style="font-size:13px; margin-left:50px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="2"  disabled="disabled">${bundle("customercomplaint.threeday.name")}&nbsp;&nbsp;&nbsp;</span>
		                   	<span style="font-size:13px; margin-left:50px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="3" disabled="disabled">${bundle("customercomplaint.twoweek.name")}&nbsp;&nbsp;&nbsp;</span>
		                   	<span style="font-size:13px; margin-left:15px;"><input type="radio" id="emergencyLevel" name="emergencyLevel" value="4" checked="checked"  disabled="disabled">${bundle("customercomplaint.twomonth.name")}</span>
				    	</#if>					    	
					    </td>
					  </tr>
					  
					  <tr>
					    <td style="padding-left:12px;"><strong>${bundle("complaint.plat.solutionContent")}</strong></td>
					    <td colspan="6"><textarea  readonly id="solutionContent" name="solutionContent" class="p_des" cols="" rows="" style="width:700px;height:100px" readonly="readonly">${customerComplaintInfo.solutionContent!''}</textarea></td>
					  </tr>
					  <!--  <tr>
					   <td colspan="7" align="right" style="padding-bottom:20px; padding-top:20px;">
					    <input value="${bundle('common.return.name')}" name="subBtn" id="subBtn" onclick="window.history.go(-1)" type="button" class="renew3" style="margin-right:20px;" /></td>
					  </tr>  -->
					</table>
			</form>
       </div>
</div>

<!--中间结束-->
<div style=" height:40px;"></div>