<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body >
<script>
function querySubmit(){
		var serialNo = $("#serialNo").val();
		var operationType = $("#operationType").val();
		var $form = $("#toCustomerChargeForm");
		var productTypeCode=$('#productTypeCode').val();
		$("#serialNo").val(serialNo);
		
		
		$form.attr("action","querySealerProduct-1-1.html?m=1&operationType=3&serialNo="+serialNo+"&productTypeCode="+productTypeCode);
		$form.submit();
}
</script>
<form id="toCustomerChargeForm" name="toCustomerChargeForm" method="post" action="">

<div class="account_right">
    	<h4>${bundle("sealer.query.product.title")}</h4>
    	
    	<div class="my_xs">
    	
    	    ${bundle('product.producttypevo')}: 
			 <select class="p_name_car" name="productTypeCode" id="productTypeCode" >
				<option value='0'>${bundle("product.select")}</option>
				<#list productType as item >
					<option value="${item.code}" <#if productTypeCode?? && productTypeCode == item.code > selected="selected"</#if>>${item.name}</option>
				</#list>
			</select>
    	    
    	
    		${bundle("memberman.complaintman.productserial")}： 
	        <input id="serialNo" name="serialNo" value="${serialNo!''}" maxlength="25" style="height:22px;line-height:22px;border:#c0c0c0 solid 1px;width:150px;"  type="text" />
	        &nbsp; &nbsp;
	     
	        <input id="queryToCustomerChange" onclick="javascript:querySubmit()" name="queryToCustomerChange" type="button" value="${bundle('common.query.name')}"  class="renew3" /> 
        	<br>
        	<span id="serialNoTip" style="font-size:20px;color:red;display:none;">&nbsp;</span>
        </div>
        
        <div class="jss_xx">
        	<table width="100%" border="0" class="autobr">
			  <tr class="tool_title">
			    <td width="15%">${bundle("sealer.change.language.protype")}</td>
			    <td width="20%">${bundle("sealer.change.language.serial")}</td>
			    <!-- <td width="20%">${bundle("tocustomercharge.saleconfig.name")}</td> -->
			    <td width="15%">${bundle("sealer.change.language.language")}</td>
			    <td width="12%">${bundle("sealer.change.language.status")}</td>
			    <td width="10%">${bundle("sealer.query.product.password")}</td>
			  </tr>
			  	<#if customerChargeList ?? >
					<#list customerChargeList as item>
					  <#if item ??>
					  		<tr height="40">
						  		<td>${item.proTypeName!""}</td>
								<td>${item.serialNo!""}</td>
								<!-- <td><a href="javascript:querySoftwareInfo('${item.saleCfgCode!""}')">${item.saleCfgName!""}</a></td>	 -->
								<td>${item.languageName!""}</td>
								<td>
								<#if item.regStatus == "0">${bundle("syssetting.outfactoryproman.noregist")}</#if>
								<#if item.regStatus == "1">${bundle("syssetting.outfactoryproman.registed")}</#if>
								<#if item.regStatus == "2">${bundle("memberman.customman.unbinded")}</#if>
								
								</td>
								<td>${item.regPwd}</td>
					  		</tr>
					  </#if>
				   </#list>
			   </#if>
			   
			   
		</table>
	</div>
				<#if pager != "">
					<#if totalpagecount gt 1>
					
						<div class="check1 clearfix">
							${pager}
						</div>
						<#else>
							${pager}
					</#if>
			 </#if>
	
</div>
</form>
</body>
	