<script type="text/javascript">
function getValue(productSN,customerCode){
	 $('#showTab').show();
	$('#hiddenTab').hide(); 
	$('#innerHtml').html(productSN);
	$('#productSNValue').val(productSN);
	$('#customerCode').val(customerCode);
	setMessageTab(0);
}

$(document).ready(function(){
	var code=$("#productSNValue").val();
	var type=$("#customerCode").val();
	var defaultValue=$("#default").val();
	var selectProvince=$("#selectProvince").val();
	
	 $("#province").find("option").each(function (){
			if($(this).val()==selectProvince) $(this).attr("selected", true);
		 });
	
	if(defaultValue!="Y"){
		$('#showTab').show();
		$('#hiddenTab').hide();
		setMessageTab(defaultValue);
	}else{
		$('#showTab').hide();
		$('#hiddenTab').show();
	}
	
	  $("#detail").load(function(){
	      $(this).height(0); //用于每次刷新时控制IFRAME高度初始化
	      var height = $(this).contents().height() + 10;
	      $(this).height( height < 200 ? 200 : height );
	   });
});

</script>
<style>
li:hover{

cursor:pointer;
}
.selectedCss{
 background-color: #FF7201;
    margin: 0 -1px;
    padding: 0 16px;
    position: relative;
}

.sy_mod_rank_ext .SelectedOn {
    background-color:#7A8B8B;
    margin: 0 -1px;
    color: #FFFFFF;
    padding-bottom: 7px;
   /*  padding: 0 16px; */
    position: relative;
}
.sy_mod_rank_ext .sy_mod_rank_gap {
    background-color: #B6B6B6;
    height: 14px;
    margin: 11px 0 0;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

.sy_mod_rank_ext {
    height: 32px;
    padding-right: 15px;
}

</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<form id="queryInfoForm" name="queryInfoForm" method="post" action="queryCustomerInfo-1-1.html">
<input type="hidden" id="type" name="type" value="0"/>
<input type="hidden" id="userType" name="userType" value="${userType!''}"/>
<input type="hidden" id="msgTypeCode" name="msgTypeCode" value=""/>
<input type="hidden" id="divValue" name="divValue" value="${divValue!''}"/>
<input type="hidden" id="default" name="default" value="${default!''}"/>
		<div class="account_right">
    <h4>${bundle('homepage.customer.allinfo')}</h4>
		
		<div class="my_xs">
		   
		   <table border="0">
		   <tr style="text-align:right">
		   <td>${bundle('accountinformation.autelid.name')}:</td>
		   <td>&nbsp;<input id="autelID" name="autelID" class="p_name_car" type="text" style="width:180px" value="${autelID!''}"/></td>
		   <td>${bundle('memberman.complaintman.productserial')}:</td>
		   <td>&nbsp;<input name="productSN" id="productSN" class="p_name_car" style="width:180px"  type="text" value="${productSN!''}"/></td>
		   <td></td>
		   </tr>
		   <tr style="text-align:right">
		   <td> ${bundle('accountinformation.city.name')}:</td>
		   <td>&nbsp;<input name="city" id="city" class="p_name_car" type="text" style="width:180px" value="${city!''}"/></td>
			<td> ${bundle('regcustomer.info.province')}:</td>
			<td>&nbsp;
			<#if showCity ?? && showCity=="Y">
			<input type="hidden" name="selectProvince" id="selectProvince" value="${province!''}"/>
			<select name="province" id="province" class="p_name_car" style="width:184px">
			<option value="-1">Please select</option>
							<option value="Alabama">Alabama</option>
							<option value="Alaska">Alaska</option>
							<option value="Arizona">Arizona</option>
							<option value="Arkansas">Arkansas</option>
							<option value="Armed Forces Americas">Armed Forces Americas</option>
							<option value="Armed Forces Europe">Armed Forces Europe</option>
							<option value="Armed Forces Pacific">Armed Forces Pacific</option>
							<option value="California">California</option>
							<option value="Colorado">Colorado</option>
							<option value="Connecticut">Connecticut</option>
							<option value="Delaware">Delaware</option>
							<option value="Dist of Columbia">Dist of Columbia</option>
							<option value="Florida">Florida</option>
							<option value="Georgia">Georgia</option>
							<option value="Guam">Guam</option>
							<option value="Hawaii">Hawaii</option>
							<option value="Idaho">Idaho</option>
							<option value="Illinois">Illinois</option>
							<option value="Indiana">Indiana</option>
							<option value="Iowa">Iowa</option>
							<option value="Kansas">Kansas</option>
							<option value="Kentucky">Kentucky</option>
							<option value="Louisiana">Louisiana</option>
							<option value="Maine">Maine</option>
							<option value="Maryland">Maryland</option>
							<option value="Massachusetts">Massachusetts</option>
							<option value="Michigan">Michigan</option>
							<option value="Minnesota">Minnesota</option>
							<option value="Mississippi">Mississippi</option>
							<option value="Missouri">Missouri</option>
							<option value="Montana">Montana</option>
							<option value="Nebraska">Nebraska</option>
							<option value="Nevada">Nevada</option>
							<option value="New Hampshire">New Hampshire</option>
							<option value="New Jersey">New Jersey</option>
							<option value="New Mexico">New Mexico</option>
							<option value="New York">New York</option>
							<option value="North Carolina">North Carolina</option>
							<option value="North Dakota">North Dakota</option>
							<option value="Ohio">Ohio</option>
							<option value="Oklahoma">Oklahoma</option>
							<option value="Oregon">Oregon</option>
							<option value="Pennsylvania">Pennsylvania</option>
							<option value="Puerto Rico">Puerto Rico</option>
							<option value="Rhode Island">Rhode Island</option>
							<option value="South Carolina">South Carolina</option>
							<option value="South Dakota">South Dakota</option>
							<option value="Tennessee">Tennessee</option>
							<option value="Texas">Texas</option>
							<option value="Utah">Utah</option>
							<option value="Vermont">Vermont</option>
							<option value="Virgin Islands">Virgin Islands</option>
							<option value="Virginia">Virginia</option>
							<option value="Washington">Washington</option>
							<option value="West Virginia">West Virginia</option>
							<option value="Wisconsin">Wisconsin</option>
							<option value="Wyoming">Wyoming</option>
			</select>
			<#else>
			<input name="province" id="province" class="p_name_car" type="text" style="width:180px" value="${province!''}"/>
			</#if>
			
			
			</td>
			<td>
			&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" onclick="javascript:queryInfo()" value="${bundle('common.btn.search')}" class="renew3" id="pageQuery" />
		   </td>
		   </tr>
		   
		   </table>
	</div>

  
   <div id="hiddenTab">
		</div>
  
   
   <div id="showTab" style="display:none" >
     <input type="hidden" name="productSNValue" id="productSNValue" value="${productSN!''}"/>
      <input type="hidden" name="customerCode" id="customerCode" value="${code!''}"/>
     <h4 style="border-top: 0px solid #E40210;padding-left:0px">${bundle('saler.customer.query.result')}:<span style="padding-right: 400px;" id="innerHtml">${productSN!''}</span></h4>
    	<div class="down_menu" style="width:790px;border-bottom: 0px solid #CCCCCC;border-top: 0px solid #CCCCCC;">
		<ul class="sy_mod_rank_ext" style="font: 14px/1.5 arial;font-weight: bold;">
		<li class="sy_mod_rank_gap" style="padding-top:2px">|</li>
		<li style="width:150px;" class="down_menu_lm" id="span0" name="" onMouseOver="" onclick="javascript:setMessageTab('0')">${bundle('customer.plat.base.info')}</li>
		<li class="sy_mod_rank_gap" style="height:15px;padding-top:2px">|</li>
		<li style="width:150px" onclick="javascript:setMessageTab('1')" onMouseOver="" class="down_menu_lm" id="span1" name=""><span style="align:center">${bundle('homepage.customer.querySoftware')}</span></li>
	    <li class="sy_mod_rank_gap" style="padding-top:2px">|</li>
	    <li style="width:150px" onclick="javascript:setMessageTab('2')" onMouseOver="" class="down_menu_lm" id="span2" name="" > ${bundle('homepage.customer.complaintInfo')}</li>
	    <li class="sy_mod_rank_gap" style="padding-top:2px">|</li>
	    <li style="width:150px" onclick="javascript:setMessageTab('3')" onMouseOver="" class="down_menu_lm" id="span3" name="" > ${bundle('customer.plat.data.logging')}</li>
	    <li class="sy_mod_rank_gap" style="padding-top:2px">|</li>

	    </ul>
	</div>
<!-- 	<hr style="border: 1px solid #CCCCCC;"> -->
 </div>
	  <iframe name="detail"  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" id="detail" width="100%"   src=""></iframe>
	
	</div>
</form>
	