
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script src="${bundle('autelproweb.url')}/themes/autel/js/common/common-min.js" type="text/javascript"></script>

<div class="account_right" id="customerDiv">
    	<h4>
    		<#if customerComplaintInfo??>
    		    ${customerComplaintInfo.complaintTitle}
    		</#if>
    	</h4>
    	
        <div class="success" id="success"  style="display:none;">
        	<img src="${imagePath}/images/gou1.gif" width="27" height="25" /> 
        	${bundle("customercomplaint.operation.title")}
        </div>
        
        
  		<div class="my_products" style="min-height:500px;height:auto;position:relative">
  		<br style="clear:both;" />
        	<div class="ticket">
            	<h3>
            		<span style="float:right;">
            		<input id="reply_id"   name="reply_id" type="button" class="renew6" value="${bundle('customercomplaint.postreply.name')}"  />
            			
            		</span>
            		<span style="float:right;">
            			&nbsp;&nbsp;&nbsp;&nbsp;
            		</span>
            		<span style="float:right;">
	            		<input id="back_id" name="back_id" type="button" class="renew3" value="${bundle('common.return.name')}"  onclick="javascript:back()" />
	            	</span>
            		
            		
	            	${bundle("customercomplaint.tickedid.view")}:
	            	 <#if customerComplaintInfo??>
	            	 	${customerComplaintInfo.code!''}
	            	 </#if>
            	 
            	 </h3>
            </div>
      		<div class="state" >
      		    <form id="replyCustomerComplaint" name="replyCustomerComplaint" method="post"  enctype="multipart/form-data">
	            <input type="hidden" name="autelId" id="autelId" value="${autelId!''}">
			    <input type="hidden" name="cusComCode" id="cusComCode" value="${customerComplaintInfo.code!''}">
				<input type="hidden" name="userType" id="userType" value="${userType!''}">
		  		<input type="hidden" name="attachment" id="attachment" value="${customerComplaintInfo.attachment!''}"/>
		  		<input type="hidden" name="reCode" id="reCode" value="${reCode!''}"/>
		  		<input type="hidden" name="code" id="code" value="${code!''}"/>
            	<table width="500" border="1" bordercolor="#cccccc">
					  <tr>
					    <td width="194" height="26" align="center">${bundle("customercomplaint.complaintstate.name")}</td>
					    <td align="center" colspan="2">${bundle("common.list.operation")}</td>
					    <td  width="194" align="center">${bundle("customercomplaint.complaintdetails.name")}</td>
					  </tr>
					  <tr>
					    <td align="center" height="26">
					    	
					            <#if customerComplaintInfo.complaintState == 1>
										${bundle("customercomplaint.complaintstate.open")}
								<#elseif customerComplaintInfo.complaintState == 2>
										${bundle("customercomplaint.complaintstate.guaqi")}
								<#elseif customerComplaintInfo.complaintState == 3>
										${bundle("customercomplaint.complaintstate.waitreply")}
								<#elseif customerComplaintInfo.complaintState == 4>
										${bundle("customercomplaint.complaintstate.close")}
								</#if>
	              			
					    </td>
					       
					    <#if customerComplaintInfo.complaintState == 1>
					       <td align="center">
					          <a class="font14red" style="color:#08c;" id="stateGuaqi_id" name="stateGuaqi_id" >${bundle("memberman.complaintman.stateguaqi2")}</a>
						      
					        </td>
					        
					       <td align="center" >
					         <a class="font14red" style="color:#08c;" id="transcomplaint_id" name="transcomplaint_id" >${bundle("memberman.complaintman.transcomplaint")}</a>
					         <input type="hidden" name="showOrHiddenTranslationDiv" id="showOrHiddenTranslationDiv" value="0"/>
					       </td>
					    
					    <#elseif customerComplaintInfo.complaintState != 1>
					       <td align="center" colspan="2">
					         <a class="font14red" style="color:#08c;" id="transcomplaint_id" name="transcomplaint_id" >${bundle("memberman.complaintman.transcomplaint")}</a>
					         <input type="hidden" name="showOrHiddenTranslationDiv" id="showOrHiddenTranslationDiv" value="0"/>
					       </td>
					    </#if>
					    
					    <td align="center"><a class="font14red" style="color:#08c;" id="queryComplaintTable" name="queryComplaintTable" onclick="javascript:queryComplaintTableDetail('${customerComplaintInfo.code!''}')">${bundle("customercomplaint.complainttable.name")}</a></td>
					  </tr>
					  
					  <tr ><th style="height:30px" colspan="4"><strong>${bundle("customercomplaint.complaintcontent.name")}</strong></th></tr>
					  <tr>
					  <td colspan="4" style="padding-left:5px;padding-top:10px;padding-bottom:10px">
					  <p style="TABLE-LAYOUT: fixed;OVERFLOW: hidden;TEXT-OVERFLOW: ellipsis;WORD-WRAP: break-word;">
					  <pre style="white-space: pre-wrap;word-wrap: break-word;">${customerComplaintInfo.complaintContent}</pre>
					  </td>
					  </tr>
					  
				</table>
			
			<table style="position:absolute;width:250px;height:80px;left:530px;top:70px;"  border="1" bordercolor="#cccccc">
			<tr height="26" style="padding-left:5px"><th><strong>${bundle("customercomplaint.vehicle.name")}</strong></th></tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.caryear.name")}：${customerComplaintInfo.carYear}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.vehiclesystem.name")}：${customerComplaintInfo.vehicleSystem}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.vehicletype.name")}：${customerComplaintInfo.vehicleType}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.system.name")}：${customerComplaintInfo.system}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.enginetype.name")}：${customerComplaintInfo.engineType}</td>
			</tr>
			
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.carnumber.name")}：${customerComplaintInfo.carnumber}</td>
			</tr>
			</table>
	        
   	
   	       <table style="position:absolute;width:250px;height:80px;left:530px;top:270px;"  border="1" bordercolor="#cccccc">
			<tr height="26" style="padding-left:5px"><th><strong>${bundle("customercomplaint.diagnosticdevice.name")}</strong></th></tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.product.name")}：${customerComplaintInfo.productName}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.productno.name")}：${customerComplaintInfo.productNo}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.software.name")}：${customerComplaintInfo.softwareName}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.softwareedition.name")}：${customerComplaintInfo.softwareEdition}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("complaint.adapter.name")}：${customerComplaintInfo.adapter}</td>
			</tr>
			
			<tr>
			<td height="26" style="padding-left:5px;word-break:break-all;">${bundle("complaint.datalogging.name")}：${customerComplaintInfo.datalogging}</td>
			</tr>
			</table>
   	
				
				 <div id="show_reply_connect" style="display:none;width:500px">
					<h3>${bundle("customercomplaint.complaintcontent.name")}</h3>
	        		<textarea style="width:500px;margin:0;border:1px solid #CCCCCC;" id="reContent" name="reContent" class="p_des_ks" cols="" rows=""   onchange = "textAreaOnchange()"></textarea>
	          		
	          		<br/>
	          		<br/>
	          		<span style="margin-bottom: 10px;padding-top: 15px;"><span style="font-size: 14.5px;font-weight: bold;color: #4D4D4D;">${bundle("customercomplaint.uploadfile.name")}</span>
	          		<span style="color:#e47911;width: 500px;">(${bundle("complaint.upload.file")})</span>
	          		</span>
	          		
	          		<div style="position:relative;width:360px; margin-left:0px;">
    					 <input type='text' name='textfield' id='textfield' style="margin-left:0px;height:26px; border:1px solid #cdcdcd; width:160px;" readonly="readonly"/> &nbsp;&nbsp; 
 						 <input type='button' class='renew8' value="${bundle('customercomplaint.uploadfile.name')}"/>
    					 <input type="file" name="uploadFile"  id="uploadFile" size="28" style="position:absolute; top:0; right:121px; height:28px; filter:alpha(opacity:0);opacity: 0;width:240px" onchange="document.getElementById('textfield').value=this.value" />
	          			&nbsp;&nbsp;&nbsp;&nbsp;
	          			<br />

                        <div id="titileResultTip" style="font-size:20px;color:red;display:none;width:760px">
                        </div>
                        <br/>
	          			<input type="button" id="tijiao" name="tijiao" value="${bundle('customercomplaint.commit.name')}"  class="renew3" />
	          	     </div>
	          	  </div>
	          	  
				 <div id="win_complaint" style="display:none;" >
					<h3>${bundle("memberman.complaintman.transcomplaint")}：</h3>
				    <table width="500" border="1" bordercolor="#cccccc">
		              <tr style="height:26px">
		                  <td width="194" align="center">${bundle("memberman.complaintman.customserviceid")}</td>
		                  <td  align="center">${bundle("syssetting.authorityman.managername")}</td>
		                  <td   width="194" align="center">${bundle("common.list.operation")}</td>
		              </tr>	 
		             <#if customerServiceUsers?size gt 0 >
				     <#list customerServiceUsers as item >
		             <tr align="center" style="height:26px">
		               <td>${item.username!''}</td>
		               <td>${item.realname!''}</td>
		               <td>
		               <a style="color:#08c;" class="diw_but selacceptortrans" acceptor="${item.username!''}">${bundle('common.openselect.choose')}</a>
		               </td>
		             </tr>
	                 </#list>
   			         </#if>  
       
		           </table>
		          
          	   </div>
				
				
				
				<div id="guaqikefu_Div" style="display:none;">
			
					<h3>${bundle("memberman.complaintman.message28")}：</h3>
	        		<textarea id="guaqiContent" name="guaqiContent" class="p_des_ks" style="width:500px;margin:0;border:1px solid #CCCCCC;" cols="" rows=""  onchange = "textAreaOnchangeSuspend()"></textarea>
	        		<br/> <br/>
	        		<div id="SuspendTip" style="font-size:20px;color:orange;display:none;width:616px">
	        		</div>
	          	    <input type="button" id="guaqiButton" name="guaqiButton" value="${bundle('customercomplaint.commit.name')}"  class="renew3" />
	          	</div>	
	          	
	          	
          		</div>
				
          </form>
          		
          		     		
          		
            <#if reCustomerComplaintInfoList?size gt 0 >
				<#list reCustomerComplaintInfoList as item >
		            <div class="james clearfix">
		            	<div class="jam_left" id="rating">
		                	<h3 class="autobr">${item.rePerson!''}</h3>
		                	<!-- 只展示系统客户回复信息 -->
		                	 <#if item.rePersonType == 2>
		                		<h3 class="rev_${item.id}"  align="center"></h3>
			                	<script type="text/javascript">
		                		    var complaintScore = '${item.complaintScore}';
		                		    
									var star = new Star(complaintScore,5,"star1");
									star.initstar(${item.id});
								</script>
							<#else>
								<h3 align="center"></h3>
							</#if>
		                </div>
		                <div class="jam_right">
		                    <p><a style="padding-left:5px"  href="javascript:downLoadProductTools('${item.attachment!''}','${item.sourceType!''}')" >${item.showAttachment!''}</a></p>
		                    <hr/>
		                	<p style="TABLE-LAYOUT: fixed;OVERFLOW: hidden;TEXT-OVERFLOW: ellipsis;WORD-WRAP: break-word;"><pre style="padding-left: 145px;white-space: pre-wrap;word-wrap: break-word;">${item.reContent!''}</pre></p><br /><br /><br />
							<p style="text-align:right;">${item.reDate!''}</p>
		                </div>
		            </div>
		            
	             </#list>
   			</#if>  	
        </div>
  
    </div>
</div>

</div>
 <form id="ForWardCustomerComplaint" name="ForWardCustomerComplaint" method="post"  enctype="multipart/form-data">
  <textarea id="guaqiContent2" name="guaqiContent2" style="display:none;"></textarea>
 </form>
	
	





