<script>
function back()
{
	var code=$("#code").val();
	var type=$("#type").val();
	var autelID=$("#autelID").val();
	var productSN=$('#productSN').val();
	jump("queryCustomerInfo-1-1.html?m=1&userType=2&type=S3&code="+code+"&productSN="+productSN);
}
function jump(url){

	var tmpForm = $("<form  method='post'></form>");
	$(tmpForm).attr("action",url);
	tmpForm.appendTo(document.body).submit();
}

</script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script src="${bundle('autelproweb.url')}/themes/autel/js/common/common-min.js" type="text/javascript"></script>
<input type="hidden" name="type" id="type" value="${type!''}"/>
<input type="hidden" name="code" id="code" value="${customerComplaintInfo.userCode!''}"/>
<input type="hidden" name="autelID" id="autelID" value="${autelID!''}"/>
<input type="hidden" name="productSN" id="productSN" value="${productSN!''}"/>
<div class="account_right" id="customerDiv">
    	<h4>
    		<#if customerComplaintInfo??>
    			${customerComplaintInfo.complaintTitle!''}
    		</#if>
    	</h4>
        <div class="success" id="success"  style="display:none;">
        	<img src="${imagePath}/images/gou1.gif" width="27" height="25" /> 
        	${bundle("customercomplaint.operation.title")}
        </div>
        
        <div class="success" id="operationResult" style="display:none;"><span id="operationResultTip" style="font-size:20px;color:red;">&nbsp;</span></div>
  		<div class="my_products" style="min-height:500px;height:auto;position:relative">
        	<div class="ticket">
            	<h3>
            		<span style="float:right;">
            			
            		</span>
            		<span style="float:right;">
            			&nbsp;&nbsp;&nbsp;&nbsp;
            		</span>
            		<span style="float:right;">
	            		<input  onclick="back()" name="update_id" type="button" class="renew3" value="${bundle('common.btn.return')}" />
	            	</span>
	            	${bundle("customercomplaint.tickedid.view")}:
	            	 <#if customerComplaintInfo??>
	            	 	${customerComplaintInfo.code!''}
	            	 </#if>
            	 
            	 </h3>
            </div>
      		<div class="state">
      		    <form id="replyCustomerComplaint" name="replyCustomerComplaint" method="post"  enctype="multipart/form-data">
	            <input type="hidden" name="autelId" id="autelId" value="${autelId!''}">
			    <input type="hidden" name="cusComCode" id="cusComCode" value="${customerComplaintInfo.code!''}">
				<input type="hidden" name="userType" id="userType" value="2">
		  		<input type="hidden" name="attachment" id="attachment" value="${customerComplaintInfo.attachment!''}"/>
		  		<input type="hidden" name="reCode" id="reCode" value="${reCode!''}"/>
            	<table width="500" border="1" bordercolor="#cccccc">
					  <tr>
					    <td width="50%" height="26" align="center">${bundle("customercomplaint.complaintstate.name")}</td>
					    <td align="center">${bundle("customercomplaint.complaintdetails.name")}</td>
					  </tr>
					  <tr>
					    <td align="center" height="26">
					    <#if customerComplaintInfo.complaintState == 1>${bundle("customercomplaint.complaintstate.open")}</#if>
					    <#if customerComplaintInfo.complaintState == 2>${bundle("customercomplaint.complaintstate.guaqi")}</#if>
					    <#if customerComplaintInfo.complaintState == 3>${bundle("customercomplaint.complaintstate.waitreply")}</#if>
					    <#if customerComplaintInfo.complaintState == 4>${bundle("customercomplaint.complaintstate.close")}</#if>
					    	
					    </td>
					   
					    <td align="center"><a class="font14red" style="color:#08c;" id="queryComplaintTable" name="queryComplaintTable" onclick="javascript:queryComplaintTableDetail('${customerComplaintInfo.code!''}')">${bundle("customercomplaint.complainttable.name")}</a></td>
					  </tr>
					  
					  
					   <tr ><th style="height:30px" colspan="4"><strong>${bundle("customercomplaint.complaintcontent.name")}</strong></th></tr>
					  <tr>
					  <td colspan="4" style="padding-left:5px;padding-top:10px;padding-bottom:10px">
					  <p style="TABLE-LAYOUT: fixed;OVERFLOW: hidden;TEXT-OVERFLOW: ellipsis;WORD-WRAP: break-word;">
					  <pre style="white-space: pre-wrap;word-wrap: break-word;">${customerComplaintInfo.complaintContent}</pre>
					  </td>
					  </tr>
					  
				</table>
				
				<table style="position:absolute;width:250px;height:80px;left:530px;top:53px;"  border="1" bordercolor="#cccccc">
			<tr height="26" style="padding-left:5px"><th><strong>${bundle("customercomplaint.vehicle.name")}</strong></th></tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.caryear.name")}：${customerComplaintInfo.carYear}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.vehiclesystem.name")}：${customerComplaintInfo.vehicleSystem}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.vehicletype.name")}：${customerComplaintInfo.vehicleType}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.system.name")}：${customerComplaintInfo.system}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.enginetype.name")}：${customerComplaintInfo.engineType}</td>
			</tr>
			
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.carnumber.name")}：${customerComplaintInfo.carnumber}</td>
			</tr>
			</table>
	        
   	
   	       <table style="position:absolute;width:250px;height:80px;left:530px;top:253px;"  border="1" bordercolor="#cccccc">
			<tr height="26" style="padding-left:5px"><th><strong>${bundle("customercomplaint.diagnosticdevice.name")}</strong></th></tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.product.name")}：${customerComplaintInfo.productName}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.productno.name")}：${customerComplaintInfo.productNo}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.software.name")}：${customerComplaintInfo.softwareName}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px">${bundle("customercomplaint.softwareedition.name")}：${customerComplaintInfo.softwareEdition}</td>
			</tr>
			<tr>
			<td height="26" style="padding-left:5px;">${bundle("complaint.adapter.name")}：${customerComplaintInfo.adapter}</td>
			</tr>
			
			<tr>
			<td height="26" style="padding-left:5px;word-break:break-all;">${bundle("complaint.datalogging.name")}：${customerComplaintInfo.datalogging}</td>
			</tr>
			</table>
				
				
          		</div>
          		</form>
          

            <#if reCustomerComplaintInfoList?size gt 0 >
				<#list reCustomerComplaintInfoList as item >
		            <div class="james clearfix">
		            	<div class="jam_left" id="rating">
		                	<h3 class="autobr">${item.rePerson!''}</h3>
		                	<!-- 只展示系统客户回复信息 -->
		                	 <#if item.rePersonType == 2>
		                		<h3 class="rev_${item.id}"  align="center"></h3>
			                	<script type="text/javascript">
		                		    var complaintScore = '${item.complaintScore}';
		                		    
									var star = new Star(complaintScore,5,"star1");
									star.initstar(${item.id});
								</script>
							<#else>
								<h3 align="center"></h3>
							</#if>
		                </div>
		                <div class="jam_right">
		                    <p><a style="padding-left:5px"  href="javascript:downLoadProductTools('${item.attachment!''}')" >${item.showAttachment!''}</a></p>
		                    <hr/>
		                	<p style="TABLE-LAYOUT: fixed;OVERFLOW: hidden;TEXT-OVERFLOW: ellipsis;WORD-WRAP: break-word;"><pre style="padding-left: 145px;white-space: pre-wrap;word-wrap: break-word;">${item.reContent!''}</pre></p><br /><br /><br />
							<p style="text-align:right;">${item.reDate!''}</p>
		                </div>
		            </div>
		            
	             </#list>
   			</#if>  	
        </div>
  
    </div>
</div>





