<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<form id="saleInfoForm" name="saleInfoForm" method="post" action="">
<div class="account_right">
    	<h4>${bundle("autel.menu.mysales")}</h4>
        <!-- 
        <div class="my_xs">
        	${bundle("customercomplaint.product.name")}：
        	<input id="productName" name="productName" value="${productName!''}" maxlength="25"  style="height:22px;line-height:22px;border:#c0c0c0 solid 1px;width:150px;"  type="text" />
        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	<input id="querySaleInfo" name="querySaleInfo" type="button" value="${bundle('common.query.name')}" class="renew3" /> 
       		<br>
       		<span id="productNameTip" style="font-size:20px;color:red;display:none;" >&nbsp;</span>
     
        </div>
           -->
        <div class="jss_xx">
        	<table width="791" border="0" class="autobr">
				  <tr class="tool_title">
				    <td width="160">${bundle("customercomplaint.product.name")}</td>
				    <td width="100">${bundle("mysales.salequantity.name")}</td>
				    <td width="100">${bundle("mysales.salereturn.name")}</td>
				    <td width="100">${bundle("mysales.returnquantity.name")}</td>
				    <td width="100">${bundle("mysales.returnamount.name")} </td>
				    <td width="130">${bundle("mysales.salenetquantity.name")}</td>
				    <td>${bundle("mysales.netsales.name")}</td>
				  </tr>
		  	<#if saleInoList?size gt 0 >
				<#list saleInoList as item>
					  <tr height="40"  <#if (item_index+1) % 2 == 0 > class="jx_trbg"</#if>>
						<td>${item.proName}</td>
						<td>${item.salesNum}</td>
						<td>${item.salesMoney}</td>
						<td>${item.pinBackNum}</td>
						<td>${item.pinBackMoney}</td>
						<td>${item.netWeight}</td>
						<td>${item.netSales}</td>		
					  </tr>
				</#list>
	
				  <tr height="58" style="font-size:14px;">
				  		<td><strong>${bundle("mysales.total.name")}</strong></td>
					  	<#if saleInfo ?? >
						    <td>${saleInfo.salesNum}</td>
							<td>${saleInfo.salesMoney}</td>
							<td>${saleInfo.pinBackNum}</td>
							<td>${saleInfo.pinBackMoney}</td>
							<td>${saleInfo.netWeight}</td>
							<td>${saleInfo.netSales}</td>	
					     </#if>
				  </tr>
				   <#if pager != "">
				   		
					   <tr>
					   		<td colspan="9" >
					   		<div class="check1 clearfix">
									${pager}
								</div>
							</td>	
				   	   </tr>
			   	    </#if>
	    <#else>
	     	<#if pager != "">
	    		<tr><td colspan="9"><div class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			</#if>
		</#if>
		</table>
        </div>
    </div>
</form>
