<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body >
<script>
function querySubmit(){
	var sealerCode = $("#sealerCode").val();
	var $form = $("#toSealerAuth");
	$form.attr("action","sealerAuth-1-1.html?operationType=1&sealerCode="+sealerCode);
	$form.submit();
}

function getDetail(sealerCode,status){
	jump("salerAuthComplaintInfo-1-1.html?operationType=3&sealerCode="+sealerCode+"&complaintState="+status);
}

function jump(url){
	var tmpForm = $("<form  method='post'></form>");
	$(tmpForm).attr("action",url);
	tmpForm.appendTo(document.body).submit();
   
}

function assign(sealerCode){
	 var  url="assignSealerAuth.html?operationType=4&autelId="+sealerCode;
	    art.dialog.open(url, {
	    title: '',
		lock:true,
		cancelVal:'Cancel',
		width: 600, 
		height: 345,
		init: function () {
			var iframe = this.iframe.contentWindow;
			var top = art.dialog.top;
		}, 
		cancel: true
		});
}

function stop(autelId){
	if(confirm($('#confirm').val())){
	 $.ajax({
			url:'front/sealer/updateSealerStatus.do',
			type:"post",
			async:false,
			data:{"sealer.autelId":autelId},
			dataType:'JSON',
			success :function(data)
			{
				var jsonData = data;
				if(jsonData=="SUCCESS"){
					alert($('#successMsg').val());
					querySubmit();
				}else{
					alert($('#FailMsg').val());
				}
			}
		}); 
	}
}

function addAuth(){
	
	    var  url="addSealerAuth.html?operationType=2";
	    art.dialog.open(url, {
	    title: '',
		lock:true,
		cancelVal:'Cancel',
		width: 600, 
		height: 345,
		init: function () {
			var iframe = this.iframe.contentWindow;
			var top = art.dialog.top;
		}, 
		cancel: true
		});
	
}

</script>


<form id="toSealerAuth" name="toSealerAuth" method="post" action="">
<input type="hidden" name="successMsg" id="successMsg" value="${bundle('customer.plat.soft.change.success')}"/>
<input type="hidden" name="FailMsg" id="FailMsg" value="${bundle('customer.plat.soft.change.fail')}"/>
<input type="hidden" name="confirm" id="confirm" value="${bundle('sealer.auth.stop.comfirm')}"/>
<div class="account_right">
    	<h4 style="padding-right:0px">${bundle("sealer.left.menu.auth")}
    	<span>
    	<input onclick="javacript:addAuth()" style="margin-right: 0px" type="button" value="${bundle('sealer.auth.add')}" name="previosBtn" id="previosBtn" class="renew3" />
    	</span>
    	</h4>
    	
    	<div class="my_xs">
    	
    		${bundle("sealer.auth.account")}： 
	        <input id="sealerCode" name="sealerCode" value="${sealerCode!''}" maxlength="25" style="height:22px;line-height:22px;border:#c0c0c0 solid 1px;width:150px;"  type="text" />
	        &nbsp; &nbsp;
	     
	        <input id="queryToCustomerChange" onclick="javascript:querySubmit()" name="queryToCustomerChange" type="button" value="${bundle('common.query.name')}"  class="renew3" /> 
        	<br>
        	<span id="serialNoTip" style="font-size:20px;color:red;display:none;">&nbsp;</span>
        </div>
        
        <div class="jss_xx">
        	<table width="100%" border="0" class="autobr">
			  <tr class="tool_title">
			    <td width="15%">${bundle("sealer.auth.account")}</td>
			    <td width="20%">${bundle("sealer.auth.name")}</td>
			    <td width="20%">${bundle("customercomplaint.complaintstate.open2")}</td>
			    <td width="20%">${bundle("customercomplaint.complaintstate.close2")}</td>
			    <td width="15%">${bundle("common.list.operation")}</td>
			  
			  </tr>
			  	<#if authList ?? >
					<#list authList as item>
					  <#if item ??>
					  		<tr height="40">
						  		<td>${item.sealerCode!""}</td>
								<td>${item.sealerName!""}</td>
								<td><a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" onclick="javacript:getDetail('${item.sealerCode!''}','1')">${item.openNum!""}</a></td>
								<td><a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" onclick="javacript:getDetail('${item.sealerCode!''}','4')">${item.closeNum!""}</a></td>
								<td><a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" onclick="javacript:stop('${item.sealerCode!''}')">${bundle("sealer.auth.stop")}</a>/
								    <a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" onclick="javacript:assign('${item.sealerCode!''}')">${bundle("sealer.auth.assign")}</a>
								</td>
					  		</tr>
					  </#if>
				   </#list>
			   </#if>
			   
			   
		</table>
	</div>
				<#if pager != "">
					<#if totalpagecount gt 1>
					
						<div class="check1 clearfix">
							${pager}
						</div>
						<#else>
							${pager}
					</#if>
			 </#if>
	
</div>
</form>
</body>
	