
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<div class="account_right">
		
    	<h4>
    		<span>
				<input class="renew3" type="button" onclick="window.history.back();" value="${bundle('soft.backbutton.name')}" name="">
			</span>
    		${bundle("autel.menu.tocustomercharge")}
    	</h4>

        <div class="jss_xx">
        	<table width="100%" border="0" class="autobr">
			  <tr class="tool_title">
			    <td width="30%">${bundle("customercomplaint.software.name")}</td>
			    <td width="30%">${bundle("product.softwareversion")}</td>
			    <td width="30%">${bundle("sealerinfo.update.date")}</td>
			  </tr>
			  	<#if softwareInfoList?size gt 0 >
					<#list softwareInfoList as item>
					  <#if item ??>
					  		<tr height="40">
						  		 <td>${item.name!""}</td>
							     <td>${item.versionNo!""}</td>
							     <td>${item.releaseDate!""}</td>
					  		</tr>
					  		
					  </#if>
				   </#list>
				 <#else>
				 	<tr><td colspan="3"><div class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			   </#if>
			</table>
		</div>
</div>
	