
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<form id="updateSealerInfo" name="updateSealerInfo" action="updateSealerInfoResult.html" method="post">
<input type="hidden" name="autelId" id="autelId" value="${sealerInfo.autelId!''}">
<input type="hidden" name="code" id="code" value="${sealerInfo.code!''}">
<div class="account_right">
    	<h4>${bundle("autel.menu.myaccountinformation")}</h4>
        <div class="my_products">
        	<div class="registe_infor">
            	<h3 class="infor_mation">${bundle("accountinformation.company.name")}.</h3>
            	<table width="790" border="0">
					  <!--  
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.first.name")}<span class="font12red">&nbsp;* </span></td>
					    <td>
						    <input name="firstName" id="firstName" type="text" value="${sealerInfo.firstName!''}" class="input_sign" size="50" maxlength="25" />
						    <img id="firstNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  
					  <tr id="firstNameResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="firstNameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
	        	 	
					  <tr id="middleNameDiv" style="display:none;">
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.middle.name")}</td>
					    <td><input name="middleName" id="middleName" type="text" value="${sealerInfo.middleName!''}" class="input_sign" size="50" maxlength="25" />
					    <img id="middleNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="middleNameResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="middleNameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr id="middlenametr" style="display:none;">
			            <td class="">&nbsp;</td>
			        </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.last.name")}<span class="font12red">&nbsp;* </span></td>
					    <td><input name="lastName" id="lastName" type="text" value="${sealerInfo.lastName!''}" class="input_sign" size="50" maxlength="25" />
					    <img id="lastNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="lastNameResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="lastNameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
			        </tr>
			        -->
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.company.name")}</td>
					    <td>
						    <input name="company" id="company" type="text" class="input_sign" size="50" value="${sealerInfo.company!''}" maxlength="25" disabled	 />
						    					    <td><a class="font14red" href="updatePasswordSealer.html?m=1&operationType=3" style="color:#08c;">${bundle("autel.menu.myupdatepassword")} ></a></td>
					    </td>
					  </tr>
					   <tr id="companyResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="companyResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        		 </tr>
	        		 <tr>
			            <td class="">&nbsp;</td>
			        </tr>
			        
				</table>
		
				<h3 class="infor_mation">${bundle("accountinformation.updateemail.autelsupport")}.</h3>
            	<table width="790" border="0">
            		 <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.first.email")}<span class="font12red">&nbsp;* </span> </td>
					    <td><input name="email" id="email" value="${sealerInfo.email!''}" type="text" class="input_sign" size="50" maxlength="50" />
					    <img id="emailImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					  </tr>
					   <tr id="emailResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="emailResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
	
				</table>
				
				
				<h3 class="infor_mation">${bundle("accountinformation.update.youraddress")}.</h3>
                
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.country.name")}<span class="font12red">&nbsp;* </span></td>
					    <td>
						    <input name="country" id="country" type="text" value="${sealerInfo.country!''}" class="input_sign" size="50" maxlength="120" />
						    <img id="countryImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="countryResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="countryResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.address.name")}</td>
					    <td> 
						    <input name="address" id="address" type="text" class="input_sign" size="50" value="${sealerInfo.address!''}" maxlength="120" />
						    <img id="addressImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="addressResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="addressResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.city.name")}</td>
					    <td> 
						    <input name="city" id="city" type="text" class="input_sign" size="50" value="${sealerInfo.city!''}" maxlength="120" />
						    <img id="cityImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="cityResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="cityResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.zipcode.name")}</td>
					    <td> 
						    <input name="zipCode" id="zipCode" type="text" class="input_sign" size="50" value="${sealerInfo.zipCode!''}" maxlength="100" />
						    <img id="zipCodeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="zipCodeResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="zipCodeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
				</table>
				<h3 class="infor_mation">${bundle("accountinformation.update.yourcontactinformation")}.</h3>
                
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px"></td>
					    <td>${bundle("accountinformation.countrycode.name")}
					       &nbsp;&nbsp;&nbsp;&nbsp;${bundle("accountinformation.areacode.name")}                
					      </td>
					    
					  </tr>
					  <tr>
			            <td class="">&nbsp;</td>
			        </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("memberman.sealerinfoman.phonec")}</td>
					    <td>
					    	<input name="dayTimePhoneCC" id="dayTimePhoneCC" type="text" value="${sealerInfo.daytimePhoneCC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	<input name="dayTimePhoneAC" id="dayTimePhoneAC" type="text" value="${sealerInfo.daytimePhoneAC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	<input name="dayTimePhone" id="dayTimePhone" type="text" value="${sealerInfo.daytimePhone!''}" class="input_sign" size="11" maxlength="15" />
					    	<img id="dayTimeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="dayTimeResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="dayTimeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.mobilephone.name")}</td>
					    <td>
					    	 <input name="mobilePhoneCC" id="mobilePhoneCC" type="text" value="${sealerInfo.mobilePhoneCC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	 <input name="mobilePhoneAC" id="mobilePhoneAC" type="text" value="${sealerInfo.mobilePhoneAC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	 <input name="mobilePhone" id="mobilePhone" type="text" value="${sealerInfo.mobilePhone!''}" class="input_sign" size="11" maxlength="15" />
					   		<img id="mobileImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="mobileResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="mobileResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
				</table>
				<h3 class="infor_mation">${bundle("accountinformation.preferredlanguage.name")}</h3>
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.preferredlanguage.name")}<span class="font12red">&nbsp;* </span></td>
					    <td>
					    	<select name="languageCode" id="languageCode" style="width:280px;">
		                        <option value="-1">${bundle("product.select")}</option>
		                        <#list languageList as language>
		                        	<#if sealerInfo.languageCode ?? && sealerInfo.languageCode == language.code>
		                        		<option id="${language.code!''}"  value="${language.code!''}" selected>${language.name!""}</option>
		                        	<#else>
		                        		<option id="${language.code!''}"  value="${language.code!''}" >${language.name!""}</option>	
		                        	</#if>
								</#list>
                      		</select>
                      		<img id="languageCodeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="languageCodeResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="languageCodeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        		 </tr>
				</table>
				<h3 class="infor_mation">${bundle("accountinformation.communication.name")}</h3>
                <p>
               		<#if sealerInfo.isAllowSendEmail == 1>
               			<input type="checkbox" value="1"  checked="checked" id="isAllowSendEmail" name="isAllowSendEmail" onclick="setEmail(this);"/>
               		<#else>
               			 <input type="checkbox" value="0"  id="isAllowSendEmail" name="isAllowSendEmail" onclick="setEmail(this);"/>
               		</#if>
                	${bundle("customercomplaint.email.name")}
                 </p>
                <p>${bundle("accountinformation.autelnews.softwareupdate")}</p>
                <table width="790" border="0">
                	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
                	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
                 	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td align="center"><span id="operationResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
                	</tr>
                 </table>
                <p style="padding-bottom:20px; padding-top:20px; padding-right:200px;border-top:#cccccc 1px solid; text-align:right; margin-top:10px;">
                	<input name="checkUpdateSealerInfo" id="checkUpdateSealerInfo" type="button" value="${bundle('common.btn.ok')}" class="renew3" style="margin-right:20px;" />
                	<input name="" type="reset" value="${bundle('common.btn.reset')}" class="renew3" />
                </p>
            	</div>
        </div>
    </div>
</div>
</form>