 <script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/artDialog.js?skin=default"></script>
<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript">
function closePage(){
	$("#submitSales").attr("disabled",false);
	   var origin = art.dialog.open.origin;
		art.dialog.close();
		origin.location.reload();
	}
function saveRemarkInfo(){
	$("#subBtn").attr("disabled",true);
	var remark=$.trim($("#remark").val());
	var proCode=$("#proCode").val();
	var autelId=$("#autelId").val();
	var callFlag="0";
	var orderFlag="0";
	
	
	if ($('#callFlag').attr('checked')) {
		callFlag="1";
	}
	
	if ($('#orderFlag').attr('checked')) {
		orderFlag="1";
	}
	var resultTip=$("#resultTip");
	if(remark==""){
		resultTip.html($('#remarkError').val());
		$("#subBtn").attr("disabled",false);
		return;
	}
	
 	 $.ajax({
			url:'front/sealer/addCustomerProRemark.do',
			type:"post",
			async:false,
			data:{
				  "customerProRemark.proCode":proCode,
				  "customerProRemark.autelId":autelId,
				  "customerProRemark.callFlag":callFlag,
				  "customerProRemark.orderNo":orderFlag,
				  "customerProRemark.remark":remark},
			dataType:'JSON',
			success :function(data)
			{
				var jsonData = data;
				if(jsonData=="SUCCESS"){
					resultTip.html($('#successMsg').val());
					window.setTimeout(function(){closePage()},500);
				}else{
					resultTip.html($('#FailMsg').val());
					$("#subBtn").attr("disabled",false);
					return;
				}
			}
		});  
	
}
</script> 

<form id="submitToPay" method='post' action=''>
<input type="hidden" name="remarkError" id="remarkError" value="${bundle('sealer.renew.remarked.error')}"/>
<input type="hidden" name="successMsg" id="successMsg" value="${bundle('customer.plat.soft.change.success')}"/>
<input type="hidden" name="FailMsg" id="FailMsg" value="${bundle('customer.plat.soft.change.fail')}"/>
<input type="hidden" name="remarkId" id="remarkId" value="${remarkId}"/>

<div class="account_right">
        	<div class="registe" style="padding-left:250px">
					<table width="100%" border="0">
			     	<tr>
					    <td style="width:100px;text-align:right" >  ${bundle('sealer.renew.call.flag')}&nbsp;&nbsp;&nbsp;&nbsp; </td>
					    <td >
			     <input id="callFlag" name="callFlag" type="text" disabled="true" <#if remark.callFlag ?? && remark.callFlag=='1'> value="${bundle('rga.management.radio.yes')}"  <#else> value='${bundle("rga.management.radio.no")}' </#if> /></span>
					     </td>
					    <td style="width:100px;text-align:right" >  ${bundle('order.number.name')}&nbsp;&nbsp;&nbsp;&nbsp; </td>
					    <td >
					    
			          <input id="orderFlag" name="orderFlag" type="text"   value="${remark.orderNo!''}" disabled="true"/> 
					     </td>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			     	</tr>
			     	
			     	
			     	<tr>
					    <td style="width:100px;text-align:right" >  ${bundle('sale.query.create.user')}&nbsp;&nbsp;&nbsp;&nbsp; </td>
					    <td >
			     <input id="callFlag" name="callFlag" type="text" disabled="true" value="${remark.createUser!''}" /></span>
					     </td>
					    <td style="width:100px;text-align:right" >  ${bundle('sale.query.create.createDate')}&nbsp;&nbsp;&nbsp;&nbsp; </td>
					    <td >
					    
			          <input id="orderFlag" name="orderFlag" type="text"   value="${remark.createDate!''}" disabled="true"/> 
					     </td>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			     	</tr>
			     	
			     	
			     	
			     	 <tr>
					    <td  style="width:150px;text-align:right">&nbsp;&nbsp;${bundle('sealer.renew.memo')}&nbsp;</td>
					   <td colspan="3"><textarea name="remark" id="remark" type="text"  value="" style="width:350px;height:150px"   class="input_sign"   >${remark.remark!''}</textarea>
					  
					  </tr>
					 </tr>
			     	 <tr style="height:20px;">
			     	   <td>&nbsp;</td>
			           <td colspan="3">
			           <span id="resultTip" style="color: #EA0000;font-size: 12px;font-weight: bold;"></span>
			           </td>
			     	</tr>
				    <tr>
				    
				    <td colspan="4" style="padding-left:250px">
				    		<input  type="button" value="${bundle('common.btn.ok')}" name="subBtn" id="subBtn" onclick="saveRemarkInfo();" class="renew3" style="margin-right:20px;" />

					    </td>
				    </tr>
					</table>
</div>
</div>
</div>
</form>