@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, input, textarea, img, blockquote, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5 "宋体",tahoma,arial ;}
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:bold; }
ul, ol { list-style:none; }
select, input,img{ vertical-align:middle; }
a:link, a:visited { text-decoration:none; color:#4d4d4d; }
a:hover{ color:#e60012; text-decoration:none;}
fieldset, img { border:0 ;   }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility:hidden; }
.clearfix { display: inline-block; } /* Hides from IE-mac\*/
* html .clearfix { height: 1%; }
.clearfix { display: block; } /* End hide from IE-mac*/
#footercon{ width:100%; border-top:#E9E4E4 5px solid; padding-top:10px; margin-top:10px;}
a{cursor: pointer;}

#content, #footer{ clear:both;}
.layout:after{content:'\20';display:block;height:0;clear:both;}
.layout{*zoom:1;} 
body{
	background-color:#9b140c;
	overflow-y:hidden;
	height:auto;
	background:url(../images/leg_49_1.gif) top left repeat-y;
	}
	


.leg_tople{


	width:224px;
	height:42px;
	background:url(../images/leg_033.gif) top left no-repeat;
	}
.leg_topri{

	height:63px;
	width:100%;
	background:url(../images/leg_034.gif) top right no-repeat;
	}
.leg_mid{
	background:url(../images/leg_49_1.gif) top left repeat-y;
	width:100%;;
	margin:0 auto;
	}	
.leg_down{
	background:url(../images/leg_48.gif) top left no-repeat;
	width:100%;
	height:18px;
	margin:0 auto;
	}
.leg_downle{
	background:url(../images/leg_48_1.gif) top left no-repeat;
	width:245px;
	height:18px;
	position:fixed;bottom:0;left:0;
	}
.leg_downri{
	background:url(../images/leg_48_2.gif) top right no-repeat;
	height:18px;
	width:100%;}	
.left_menu{
	padding-top:21px;
	width:214px;
	height:100%;
	overflow:auto;
	padding-left:10px;
	color:#b74033;
	background:url(../images/leg_49_1.gif) top left repeat-y;
	}	
.left_all{
	height:100%;
	width:245px;
	overflow:auto;
	background:url(../images/leg_49_1.gif) top left repeat-y;
	}
.right_tab{
	width:auto;

	padding-right:22px;
	
	background:url(../images/leg_49_2.gif) top right repeat-y;
	}
.lanm{
	padding-bottom:5px;
	
	}	
.lanm dl dt{
	background:url(../images/leg_20.gif) top left no-repeat;
	margin-left:28px;
	padding-left:20px;
	height:20px;
	line-height:20px;
	}	
.lanm dl dd{
	background:url(../images/leg_23.gif) left top no-repeat;
	margin-left:28px;
	padding-left:20px;
	height:20px;
	line-height:20px;
	}	
.lanm dl dt a,.lanm dl dd a{
	color:#b74033;
	}	
.sear{
	width:100%;
	border:#dddddd 1px solid;
	background-color:#ffffff;
	}	
.sear_tj{
	background:url(../images/leg_12.gif) top left repeat-x;
	height:28px;
	border-bottom:#dddddd 1px solid;
	line-height:28px;
	padding-left:20px;
	}	
.sear_table{
	padding:7px;
	}	
.sear_table table{
	background-color:#f1f5fe;
	color:#5b5a59;
	}	

.time_in{
	width:145px;
	height:23px;
	border:#d4d2d1 1px solid;
	color:#5b5a59;
	padding-left:2px;
	}
.act{
	background-color:#ffffff;
	}	
.act_zt{
	width:149px;
	height:23px;
	border:#d4d2d1 1px solid;
	color:#5b5a59;
	padding-left:2px;
	}
.search_but{
	background:url(../images/leg_27.gif) top left no-repeat;
	width:65px;
	height:25px;
	line-height:25px;
	border:0;
	color:#ffffff;
	cursor:pointer;
	}	
.search_but:hover{
	background:url(../images/leg_28.gif) top left no-repeat;
	width:65px;
	height:25px;
	line-height:25px;
	border:0;
	color:#ffffff;
	cursor:pointer;
	}		
.active h4{
	font-size:14px;
	padding-left:20px;
	color:#b84435;
	padding-right:20px;
	padding-bottom:10px;
	padding-top:10px;
	}	
.active h4 span{
	float:right;
	}
.act{
	width:100%;
	border-left:#dddddd 1px solid;
	color:#888888;
	text-align:center;
	}
.act td{
	border-bottom:#dddddd 1px solid;
	border-right:#dddddd 1px solid;
	height:28px;
	
	}
.title{
	background:url(../images/leg_12.gif) top left repeat-x;
	height:28px;
	color:#5b5a59;
	}
.tr_bgc{
	background-color:#fafafa;
	}
.bott_col{ 
	background-color:#efefef;
	}
.caoz a{
	color:#d71200;
	}
.diw_but{
	background:url(../images/butbg.gif)  top left no-repeat;
	width:98px;
	height:23px;
	border:0;
	color:#5b5a59;
	margin-left:10px;
	}
.diw_but1{
	background:url(../images/butbg1.gif)  top left no-repeat;
	width:138px;
	height:23px;
	border:0;
	color:#5b5a59;
	margin-left:10px;
	}
.color{
	color:#5b5a59;
	}
.page{
	padding-left:10px;
	padding-right:10px;
	color:#5b5a59;
	}
.page_in{
	width:28px;
	height:14px;
	border:#bdbec0 1px solid;
	text-align:center;
	line-height:14px;
	}

* html,* html body{background-image:url(../images/leg_49_1.gif) top left repeat-y;background-attachment:fixed} 
* html .leg_downle{position:absolute;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}
* html .leg_downri{position:absolute;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}













