@charset "utf-8";

/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,button,input,textarea,img,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

body,button,input,select,textarea {
	font-family: Arial,"宋体",Verdana,sans-serif;
	 font-size: 12px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: bold;
}

ul,ol {
	list-style: none;
}

select,input,img {
	vertical-align: middle;
}

a:link,a:visited {
	text-decoration: none;
	color: #4d4d4d;
}

a:hover {
	color: #e60012;
	text-decoration: none;
}

fieldset,img {
	border: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}  /* Hides from IE-mac\*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}  /* End hide from IE-mac*/
#footercon {
	width: 100%;
	border-top: #E9E4E4 5px solid;
	padding-top: 10px;
	margin-top: 10px;
}

a {
	cursor: pointer;
}

#content,#footer {
	clear: both;
}

.layout:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}

.layout {
	*zoom: 1;
}

body {
	/*background-color: #9b140c;
	background: url(../images/leg_49_2.gif) top right repeat-y;*/
}

input {
	height: 21px;
}

.top {
	height: 106px;
	background: url(../images/topbg.gif) top right no-repeat;
}

.logo {
	float: left;
	height: 78px;
}

.amo {
	float: right;
	padding-right: 12px;
	color: #ffffff;
	padding-top: 10px;
	height: 68px;
}

.amo li {
	float: right;
	text-align: center;
}

.amo li a {
	color: #ffffff;
}

.amo li img {
	margin-bottom: 10px;
}

.menu li {
	float: left;
	background: url(../images/menubg.png) top left no-repeat;
	width: 85px;
	text-align: center;
	height: 26px;
	line-height: 26px;
	float: right;
	margin-left: 2px;
}

.menu li a {
	color: #ffffff;
}

.add {
	height: 35px;
	line-height: 35px;
	padding-left: 44px;
	color: #ffffff;
}

.leg {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.leg_top {
	height: 63px;
	width: 100%;
	margin: 0 auto;
}

.leg_tople {
	position: absolute;
	width: 245px;
	height: 63px;
	background: url(../images/leg_033.gif) top left no-repeat;
}

.leg_topri {
	height: 42px;
	line-height: 42px;
	width: 100%;
}

.leg_mid {
	background: url(../images/leg_49_1.gif) top left repeat-y;
	width: 100%;;
	margin: 0 auto;
}

.leg_down {
	background: url(../images/leg_48.gif) top left no-repeat;
	width: 100%;
	height: 18px;
	margin: 0 auto;
}

.leg_downle {
	background: url(../images/leg_48_1.gif) top left no-repeat;
	width: 245px;
	height: 18px;
}

.leg_downri {
	background: url(../images/leg_48_2.gif) top right no-repeat;
	height: 18px;
	width: 100%;
	position: fixed;
	bottom: 0;
	right: 0;
}

.left_menu {
	width: 235px;
	height: 100%;
	overflow: auto;
	padding-left: 10px;
	color: #b74033;
	background: url(../images/leg_49_1.gif) top left repeat-y;
}

.left_all {
	height: 100%;
	overflow: hidden;
	background: url(../images/leg_49_1.gif) top left repeat-y;
}

.right_tab {
	width: auto;
	padding-right: 22px;
}

.lanm {
	padding-bottom: 5px;
}

.lanm dl dt {
	background: url(../images/leg_20.gif) top left no-repeat;
	margin-left: 28px;
	padding-left: 20px;
	height: 20px;
	line-height: 20px;
}

.lanm dl dd {
	background: url(../images/leg_23.gif) left top no-repeat;
	margin-left: 28px;
	padding-left: 20px;
	height: 20px;
	line-height: 20px;
}

.lanm dl dt a,.lanm dl dd a {
	color: #b74033;
}

.sear {
	/*width: 100%;*/
	border: #dddddd 1px solid;
	background-color: #ffffff;
}

.sear_tj {
	background: url(../images/leg_12.gif) top left repeat-x;
	height: 28px;
	border-bottom: #dddddd 1px solid;
	line-height: 28px;
	padding-left: 20px;
}

.sear_table {
	padding: 7px;
}

.sear_table table {
	background-color: #f1f5fe;
	color: #5b5a59;
}

.time_in {
	width: 145px;
	height: 23px;
	border: #d4d2d1 1px solid;
	color: #5b5a59;
	padding-left: 5px;
}

.time_in_tc {
	width: 185px;
	height: 23px;
	border: #d4d2d1 1px solid;
	color: #5b5a59;
	padding-left: 5px;
}

.banb_tc {
	width: 185px;
	height: 63px;
	border: #d4d2d1 1px solid;
	color: #5b5a59;
	padding-left: 2px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.act {
	background-color: #ffffff;
}

.act_zt {
	width: 149px;
	height: 23px;
	border: #d4d2d1 1px solid;
	color: #5b5a59;
	padding-left: 2px;
	line-height: 23px;
}

.act_zt_tc {
	width: 189px;
	height: 23px;
	border: #d4d2d1 1px solid;
	color: #5b5a59;
	padding-left: 2px;
}

.search_but {
	color: #5b5a59;
	padding-left: 10px;
	padding-right: 10px;
	height:24px;
	cursor: pointer;
}

.search_but_fb {
	padding-left: 10px;
	padding-right: 10px;
	color: #5b5a59;
	cursor: pointer;
	height:24px;
	margin-left: 10px;
}

.active h4 {
	font-size: 14px;
	padding-left: 20px;
	color: #b84435;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.active h4 span {
	float: right;
}

.act {
	width: 100%;
	border-left: #dddddd 1px solid;
	color: #888888;
	text-align: center;
}

.act td {
	border-bottom: #dddddd 1px solid;
	border-right: #dddddd 1px solid;
	height: 28px;
}

.act_dd {
	width: 100%;
	/*border-left: #dddddd 1px solid;*/
	border-right: #dddddd 1px solid;
	color: #888888;
	text-align: center;
	background-color: #ffffff;
}

.act_dd td {
	border-bottom: #dddddd 1px solid;
	height: 28px;
}

.act_dd {
	width: auto;
	padding-right: 0px;
}

/*定义列表容器中所有公用元素样式，需要重定义的，在下面再重新定义*/
.act_dd ul {
	list-style-type: none;
	text-align: center;
}

.act_dd ul li {
	float: left;
}

/*定义列表容器中表格的样式，使用table元素*/
.act_dd table {
	width: 100%;
	border-left: #dddddd 1px solid;
	color: #888888;
	text-align: center;
	background-color: #ffffff;
}

/*定义表格中列头的样式，使用th元素*/
.act_dd table th {
	background: url(../images/leg_12.gif) top left repeat-x;
	height: 28px;
	color: #5b5a59;
	border-bottom: #dddddd 1px solid;
	border-right: #dddddd 1px solid;
}

/*定义表格中列头中链接样式，使用th元素*/
.act_dd th a {
	color: #234f8d;
	text-decoration: none;
	padding-left: 10px;
}

/*定义表格中单元格的样式，使用td元素*/
.act_dd table td { /*
	border-bottom:#dddddd 1px solid;
	border-right:#dddddd 1px solid;
	height:28px;*/
	border-bottom: #dddddd 1px solid;
	height: 28px;
}

.act_dd table td  a {
	color: #d71200;
}

.act_dd table tbody a {
	text-decoration: none;
}

.act_dd table tr {
	border-collapse: collapse;
	border-bottom: 1px dotted #DEEFFB;
	height: 30px;
}

.even {
	background-color: #fafafa;
}

.act_dd tbody tr:hover {
	background: none repeat scroll 0 0 #F1F7FD;
}

/*定义列表容器中分页的样式，使用div元素*/
.act_dd .page {
	padding-left: 10px;
	padding-right: 10px;
	color: #5b5a59;
	background-color: #efefef;
	border-bottom: #dddddd 1px solid;
	border-left: #dddddd 1px solid;
	border-right: #dddddd 1px solid;
	height: 25px;
	padding-top: 10px
}

.act_dd .page .margin {
	margin-right: 5px;
}

/*定义列表容器中分页链接的样式，使用li元素*/
.act_dd .page li a {
	text-decoration: none;
}

/*定义表格中列头升序的样式，使用元素*/
.act_dd .asc {
	color: #000;
	padding-right: 18px;
	background: url(../images/arrow_up.gif) no-repeat center right;
}

/*定义表格中列头降序的样式，使用a元素*/
.act_dd .desc {
	color: #000;
	padding-right: 18px;
	background: url(../images/arrow_down.gif) no-repeat center right;
}

/*定义表格中每一页*/
.act_dd .page .first {
	background: url(../images/leg_34.gif) center no-repeat;
	width: 20px;
	height: 19px;
}

/*定义表格中上一页*/
.act_dd .page  .pre {
	background: url(../images/leg_36.gif) center no-repeat;
	width: 20px;
	height: 18px;
}

/*定义表格中下一页*/
.act_dd .page  .next {
	background: url(../images/leg_39.gif) center no-repeat;
	width: 20px;
	height: 18px;
}

/*定义表格中最后一页*/
.act_dd .page .end {
	background: url(../images/leg_41.gif) center no-repeat;
	width: 20px;
	height: 19px;
}

/*定义表格中刷新*/
.act_dd .page .refresh {
	background: url(../images/leg_31.gif) center no-repeat;
	width: 20px;
	height: 22px;
}

/*定义表格中分割线*/
.act_dd .page .split {
	background: url(../images/shx.gif) center no-repeat;
	width: 20px;
	height: 20px;
}

.act_dd .page .page_in {
	width: 28px;
	height: 14px;
	border: #bdbec0 1px solid;
	text-align: center;
	line-height: 14px;
}

.title2 {
	background: url(../images/leg_12.gif) top left repeat-x;
	height: 28px;
	color: #5b5a59;
}

.title2_ht {
	background: #f3f3f3;
	height: 28px;
	color: #5b5a59;
}

.tr_bgc {
	background-color: #fafafa;
}

.bott_col {
	background-color: #efefef;
}

.caoz a {
	color: #d71200;
}

.diw_but {
	background: url(../images/butbg.gif) top left no-repeat;
	width: 98px;
	height: 23px;
	border: 0;
	color: #5b5a59;
	margin-left: 10px;
	cursor: pointer;
}

.diw_but_tc {
	background: url(../images/butbg.gif) top left no-repeat;
	width: 98px;
	height: 23px;
	border: 0;
	color: #5b5a59;
	cursor: pointer;
}

.diw_but_sh {
	background: url(../images/butbg_sh.gif) top left no-repeat;
	width: 65px;
	height: 23px;
	border: 0;
	color: #5b5a59;
	cursor: pointer;
}

.diw_but1 {
	background: url(../images/butbg1.gif) top left no-repeat;
	width: 138px;
	height: 23px;
	border: 0;
	color: #5b5a59;
	margin-left: 10px;
	cursor: pointer;
}

.color {
	color: #5b5a59;
}

.page {
	padding-left: 10px;
	padding-right: 10px;
	color: #5b5a59;
}

.page_in {
	width: 28px;
	height: 14px;
	border: #bdbec0 1px solid;
	text-align: center;
	line-height: 14px;
}

.pro_compar {
	background: url(../images/leg_38.gif) top left no-repeat;
	width: 85px;
	height: 25px;
	line-height: 25px;
	border: 0;
	color: #ffffff;
	cursor: pointer;
}

.tc_tab {
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.tc_tab tr {
	height: 45px;
	border: #CCC 1px solid;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.1;
	filter: alpha(opacity = 50);
	display: none;
}

#win {
	position: absolute;
	top: 50%;
	width: 600px;
	background: #f1f5fe;
	margin: -10% 0 0 20%;
	display: none;
}

h2 {
	font-size: 12px;
	height: 18px;
	text-align: right;
	padding: 5px;
	cursor: move;
}

h2 span {
	cursor: pointer;
	padding: 0 2px;
}

#close {
	padding-right: 5px;
}

/*ie6*/
* html,* html body {
	background-image: url(about:blank);
	background-attachment: fixed
}

* html .leg_downri {
	position: absolute;
	left: expression(eval(document.documentElement.scrollLeft +
		document.documentElement.clientWidth-this.offsetWidth) -(
		parseInt(this.currentStyle.marginLeft, 10) || 0 ) -(
		parseInt(this.currentStyle.marginRight, 10) || 0 ) );
	top: expression(eval(document.documentElement.scrollTop +
		document.documentElement.clientHeight-this.offsetHeight- ( parseInt(this.currentStyle.marginTop
		, 10) || 0 ) -( parseInt(this.currentStyle.marginBottom, 10) || 0 ) )
		)
}

* html .leg_downri {
	position: absolute;
	left: expression(eval(document.documentElement.scrollLeft +
		document.documentElement.clientWidth-this.offsetWidth) -(
		parseInt(this.currentStyle.marginLeft, 10) || 0 ) -(
		parseInt(this.currentStyle.marginRight, 10) || 0 ) );
	top: expression(eval(document.documentElement.scrollTop +
		document.documentElement.clientHeight-this.offsetHeight- ( parseInt(this.currentStyle.marginTop
		, 10) || 0 ) -( parseInt(this.currentStyle.marginBottom, 10) || 0 ) )
		)
}

.xz {
	vertical-align: middle;
}

.act_tj {
	width: 100%;
	border-left: #dddddd 1px solid;
	color: #888888;
	text-align: center;
	background-color: #ffffff;
}

.act_tj td {
	border-bottom: #dddddd 1px solid;
	border-right: #dddddd 1px solid;
	border-top: #dddddd 1px solid;
	height: 28px;
}

.pro_compar_time {
	background: url(../images/leg_38.gif) top left no-repeat;
	width: 85px;
	height: 25px;
	line-height: 25px;
	border: 0;
	color: #ffffff;
	cursor: pointer;
}

.pro_compar_tj {
	padding-left: 10px;
	padding-right: 10px;
	color: #5b5a59;
	cursor: pointer;
}

.pro_compar_dw {
	background: url(../images/leg_38.gif) top left no-repeat;
	width: 85px;
	height: 25px;
	line-height: 25px;
	border: 0;
	color: #ffffff;
	cursor: pointer;
}

.pro_compar_pz {
	background: url(../images/leg_38.gif) top left no-repeat;
	width: 85px;
	height: 25px;
	line-height: 25px;
	border: 0;
	color: #ffffff;
	cursor: pointer;
}

.xinx_xq {
	width: 500px;
	height: 60px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left:5px;
}

.fj span {
	float: right;
}

.fj {
	padding-left: 10px;
	padding-right: 10px;
}

.ke_nr {
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: text-top;
}

.act_ks {
	width: 100%;
	border-left: #dddddd 1px solid;
	color: #888888;
	text-align: center;
	background-color: #ffffff;
}

.act_ks td {
	border-bottom: #dddddd 1px solid;
	border-right: #dddddd 1px solid;
}

.pro_compar_ketab {
	background: url(../images/leg_37.gif) top left no-repeat;
	width: 85px;
	height: 25px;
	line-height: 25px;
	border: 0;
	color: #ffffff;
	cursor: pointer;
}

.pro_compar_btn {
	background: url(../images/leg_38.gif) top left no-repeat;
	width: 85px;
	height: 25px;
	line-height: 25px;
	border: 0;
	color: #ffffff;
	cursor: pointer;
}

#win_tc {
	position: absolute;
	width: 800px;
	top: 5%;
	margin: 0 0 0 0;
	display: none;
	left: 5%;
	border: #CCC 3px solid;
	background-color: #f1f5fe;
}

.tc_tab_ts {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.tc_tab_ts tr {
	height: 34px;
}

.tc_tab_ts td {
	border: #CCC 1px solid;
}

.tc_input {
	width: 100%;
	height: 34px;
	border: 0;
	background-color: #f1f5fe;
}

.tc_wb {
	vertical-align: text-top;
	width: 100%;
	border: 0;
	background-color: #f1f5fe;
	height: 70px;
}

.act_dt dl dt {
	height: 28px;
	border-bottom: #dddddd 1px solid;
	line-height: 28px;
	width: 100%;
}

.act_dt dl dd {
	height: 28px;
	border-bottom: #dddddd 1px solid;
	line-height: 28px;
}

.act_dt dl dt li {
	float: left;
	border-left: #dddddd 1px solid;
}

.act_dt dl dd li {
	float: left;
	border-left: #dddddd 1px solid;
}

.act_dt {
	width: 100%;
	border-right: #dddddd 1px solid;
	color: #888888;
	text-align: center;
	background-color: #ffffff;
}

.act_dt td {
	border-bottom: #dddddd 1px solid;
	border-right: #dddddd 1px solid;
	height: 28px;
}

.page {
	padding-left: 10px;
	padding-right: 10px;
	color: #5b5a59;
	text-align: left;
}

.new_kes td {
	border: #cccccc 1px solid;
}

.act_qingd {
	border: #dddddd 1px solid;
	background-color: #fafafa;
	height: 28px;
	line-height: 28px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 20px;
}

.hongs {
	color: #b84435;
}

.dialog_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.1;
	filter: alpha(opacity = 50);
	display: none;
}

.dialog_win {
	position: absolute;
	top: 50%;
	width: 600px;
	background: #ffffff;;
	margin: -10% 0 0 20%;
	display: none;
}

.dialog_close {
	padding-right: 5px;
}

#win_complaint {
	position: absolute;
	top: 50%;
	width: 450px;
	max-height: 450px;
	margin: -10% 0 0 20%;
	display: none;
	background-color: #f1f5fe;
	overflow: auto;
}

#win_online {
	position: absolute;
	top: 50%;
	width: 450px;
	max-height: 550px;
	margin: -10% 0 0 20%;
	display: none;
	border: #CCC 3px solid;
	background-color: #f1f5fe;
	overflow: auto;
}

#win_pronoreg {
	position: absolute;
	top: 50%;
	width: 450px;
	background: #f1f5fe;
	margin: -10% 0 0 20%;
	display: none;
	border: #CCC 3px solid;
}

#win_testpackdetail {
	position: absolute;
	width: 650px;
	top: 5%;
	margin: 0 0 0 0;
	display: none;
	left: 5%;
	border: #CCC 3px solid;
	background-color: #f1f5fe;
}

.right_tab .grid {
	width:auto;
	padding-right:0px;
}