<#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />
<@fmt.setBundle basename="backstage"/>
<div class="leg_topri"><@fmt.message key="common.nva.currentloaction" />:<@fmt.message key="cententman.cms.contentmanager" />  > CMS ><@fmt.message key="syssetting.cmsmenu.content.list" />  > 
	<#if isEdit>
		<@fmt.message key="syssetting.cmsmenu.content.editlist" />
	<#else>
		<@fmt.message key="syssetting.cmsmenu.content.addlist" />
	</#if>
</div>

	 <form method="post" <#if isEdit  >action="data!saveEdit.do"<#else>action="data!saveAdd.do"</#if> class="validate" name="theForm" id="theForm" >
<div class="input">
	<h4 class="title"><div class="icon">&nbsp;</div>&nbsp;
		<#if isEdit>
			<@fmt.message key="syssetting.cmsmenu.content.editlist" />
		<#else>
			<@fmt.message key="syssetting.cmsmenu.content.addlist" />
		</#if>
 	</h4>
	
	  
	  <input type="hidden" name="modelid" value="${modelid}" />
	  
	  <#if isEdit  ><input type="hidden" name="dataid" value="${dataid}"/></#if>
	   <table cellspacing="1" cellpadding="3" width="100%" class="form-table">
	   	  <tr>
	       <th><label class="text"><@fmt.message key="cententman.messageman.belongclassify" />:</label></th>
	       <td>
	       	<select name="catid">
	       		<option value="${catid}" selected>${cat.name}</option>
 				<#assign children=catList />
				<#assign level=1 />
				<#include 'select_children.html' />
	       	</select>
		   </td>
	      </tr>
	     <tr>
	       <th><label class="text"><@fmt.message key="syssetting.cmsmenu.article.weight" />:</label></th>
	       <td>
			<input type="text" name="sort" dataType="int"   <#if isEdit  >value="${(article.sort?c)!0}"</#if> />
			<@fmt.message key="syssetting.cmsmenu.article.weighttip" />
		   </td>
	      </tr>	 	      
	   <#list fieldList as field  >
	     <tr>
	       <th><label class="text"><@fmt.message key="${field.china_name}" />:</label></th>
	       <td>
			${field.inputHtml}
		   </td>
	      </tr>
	    </#list>  
	   	  <tr>
	       <th><label class="text"><@fmt.message key="syssetting.cmsmenu.article.title" />:</label></th>
	       <td>
	        <input type="text" name="page_title" style="width:250px"  <#if isEdit  >value="${article.page_title!''}"</#if>/>
		   </td>
	      </tr>
	   	  <tr>
	       <th><label class="text"><@fmt.message key="syssetting.cmsmenu.article.keyword" />:</label></th>
	       <td>
	        <input type="text" name="page_keywords" style="width:250px" <#if isEdit  >value="${article.page_keywords!''}"</#if> />
		   </td>
	      </tr>	      
	   	  <tr>
	       <th><label class="text"><@fmt.message key="syssetting.cmsmenu.article.description" />:</label></th>
	       <td>
	        <textarea  name="page_description" style="width:400px;height:150px"  ><#if isEdit  >${article.page_description!''}</#if></textarea>
		   </td>
	      </tr>		      
	   </table>
</div>
	<div class="submitlist" align="center">
	 <table>
	 <tr><td >
	 	 <input name="submit" type="submit"	  value=<@fmt.message key="common.btn.ok" /> class="submitBtn" />
		 <input  type="button" onclick="javascript:history.go(-1)"	  value=<@fmt.message key="common.btn.return" /> class="submitBtn" />
	   </td>
	   </tr>
	 </table>
	</div>
	 </form>
<script type="text/javascript">
$(function(){
	$("form.validate").validate();
});
</script>