<#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />
<@fmt.setBundle basename="backstage"/> 
<#list children as sealerDataAuth> 
<tr>
    <td style="padding-left:${level*40+20}px;font-weight: bold;" align="left">${sealerDataAuth.name}</td>
    <td><a href="javascript:;" parentcode="${sealerDataAuth.code}" class="addBtn"><@fmt.message key="common.btn.add" /></a></td>
    <td>
   		<a href="javascript:;" sealerDataAuthCode="${sealerDataAuth.code}" class="editBtn"><@fmt.message key="common.list.mod" /></a>
    </td>
    <td>
   		<a href="javascript:;" sealerDataAuthCode="${sealerDataAuth.code}" class="delBtn"><@fmt.message key="common.list.del" /></a>
    </td>
</tr>
	<#if sealerDataAuth.hasChildren>
		<#assign level=level+1 />
	  	<#assign children=sealerDataAuth.children />
		<#include 'list_children.html' />
  		<#assign level=level-1/>
	</#if>
</#list>