<#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />
<@fmt.setBundle basename="backstage"/>
<script type="text/javascript">
window.onload = function(){
	var divId=document.getElementById("dlg_addDlg");
	divId.style.top=getScrollHeight()/2;
	
	var divId2=document.getElementById("dlg_editDlg");
	divId2.style.top=getScrollHeight()/2;
	
	//alert(getScrollHeight());
	}; 


	function getScrollHeight()
	{ 
	    return Math.max(document.body.scrollHeight,document.documentElement.scrollHeight);
	}
	
var msg1="添加数据角色";
var msg2="修改数据角色";
var msg3='<@fmt.message key="product.virtualdir.delete"/>';
var msg4='<@fmt.message key="syssetting.toolman.message1"/>';
var msg5='<@fmt.message key="syssetting.toolman.message2"/>';
var msg6='<@fmt.message key="syssetting.toolman.message3"/>';
var msg7='<@fmt.message key="syssetting.toolman.message4"/>';
var msg8='<@fmt.message key="syssetting.toolman.message5"/>';
var msg9='<@fmt.message key="syssetting.toolman.message6"/>';
var msg10='<@fmt.message key="product.virtualdir.samename"/>';
var msg11='<@fmt.message key="product.virtualdir.delete.ischildobj"/>';
var msg12='<@fmt.message key="product.virtualdir.updateparent.ischildobj"/>';

</script>
<style>
.input table th {
padding-left:5px;
width:80px;
}
</style>
<script type="text/javascript" src="js/SealerDataAuth.js"></script>

<div class="leg_topri"><@fmt.message key="common.nva.currentloaction" />:<@fmt.message key="menu.system.setting" /> 
                      > <@fmt.message key="syssetting.toolman" /> 
                      > 数据角色管理</div>

<div class="grid"> 
<form id="sortForm" action="sealerDataAuth!list.do">
	
	<div class="toolbar" >
		<h4 class="sear_tj">
			<img src="../../autel/main/images/leg_16.gif" width="14" height="16" />&nbsp;数据角色管理
		</h4>
		<div class="sear_table">
			
		</div>
		<div class="active">
			<h4>
				<span>
					<input type="button"  value="添加数据角色" class="search_but addBtn" parentcode="0" />
				</span>
				&nbsp;
			</h4>
		</div>
	</div>

<div id="productSoftwareConfig_list">
	
<table>
	<thead>
		<tr>
		<th><@fmt.message key="common.name" /></th>
		<th width=100><@fmt.message key="product.virtualdir.addchild" /></th>
		<th width=70><@fmt.message key="cententman.cms.edit" /></th>
		<th width=70><@fmt.message key="common.list.del" /></th>
		</tr>
	</thead> 
	<tbody>
		<#assign children=sealerDataAuths />
		<#assign level=0 />
		<#include 'list_children.html' />
	</tbody>
</table>	
	
</div>

</form>
<div style="clear:both;padding-top:5px;"></div>
</div>

<div name="addDlg" id="addDlg"></div>
<div name="editDlg" id="editDlg"></div>
<script>
$(function(){
	SealerDataAuth.init();
});
</script>