



#myjQuery {
	 OVERFLOW: hidden; WIDTH: 970px;POSITION: relative; HEIGHT: 435px
}
#myjQueryContent {
	 OVERFLOW: hidden; WIDTH: 970px;  HEIGHT: 354px; position:absolute;
}
#myjQueryContent DIV {
	POSITION: absolute; HEIGHT: 355px;
}
#myjQueryContent .smask {
	Z-INDEX: -1
}
#myjQueryContent IMG {
	WIDTH: 968px; HEIGHT: 352px;
}
#myjQueryNav {
	 DISPLAY: block; OVERFLOW: hidden; WIDTH: 970px; HEIGHT:101px; position:relative;  z-index:200; top:343px;
}
#myjQueryNav LI {
	DISPLAY: block; FLOAT: left; WIDTH:193px; CURSOR: pointer; PADDING-TOP: 28px; HEIGHT: 67px; TEXT-ALIGN: center; BACKGROUND: url(../img/sanj1.gif) bottom left no-repeat; color:#646464;
}
#myjQueryNav .nbg {
	
}
#myjQueryNav A {
	DISPLAY: block; Z-INDEX: 9999; font-size:18px; font-weight:bold; text-align:center; MARGIN: 0px auto; TEXT-TRANSFORM: uppercase; WIDTH: 193px; COLOR: #646464; LINE-HEIGHT: 16px; POSITION: relative; HEIGHT: 85px;
	font-family:"微软雅黑"; padding-top:15px;
}
#myjQueryNav .current {
	 BACKGROUND: url(../img/sanj1.gif) bottom left no-repeat;
}
#myjQueryNav .current A {
	COLOR: #646464; 
}
#myjQuery #flow {
	MARGIN-TOP: 236px; Z-INDEX: 8888; BACKGROUND: url(../img/sanj.png) top left no-repeat;  POSITION: absolute; HEIGHT: 67px; width:163px; padding-top:30px; padding-left:15px; padding-right:15px;
}
