/* CSS Document */
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:bold; }
ul, ol { list-style:none; }
a:link, a:visited { text-decoration:none; color:#4d4d4d; }
a:hover{ color:#e60012; text-decoration:none;}
fieldset, img { border:0 ;   }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility:hidden; }
.clearfix { display: inline-block; } /* Hides from IE-mac\*/
* html .clearfix { height: 1%; }
.clearfix { display: block; } /* End hide from IE-mac*/
#footercon{ width:100%; border-top:#E9E4E4 5px solid; padding-top:10px; margin-top:10px;}
.top_font_color{color:#ffffff;}
#content, #footer{ clear:both;}
.layout:after{content:'\20';display:block;height:0;clear:both;}
.layout{*zoom:1;} 

/*top*/
.top2014{ width:auto; height:71px; background:url(../../images/topng.gif) top left repeat-x;}
#head_div{ height:30px; width:auto; margin:0 auto; background:url(../../images/menubg.gif) top left repeat-x;}
.top{ width:970px; height:71px; background:url(../../images/topng.gif) top left repeat-x; margin:0 auto;}
.top_left{ float:left; height:50px; padding-top:21px;}
.top_right{ float:right; padding-top:45px; color:#ffffff;}
.change{ width:340px;}
.lang{ width:151px; height:20px; border:#7f9db9 1px solid; text-align:right;}
/*top*/
/*menu*/
.menu{ width:970px; margin:0 auto; height:30px; background:url(../../images/menubg.gif) top left repeat-x;}
.menu_mid{ background:url(../../images/menumid.gif) top left no-repeat; width:2px; height:30px;}
.on{ background:url(../../images/menu_onbg.gif) top left repeat-x; height:30px; color:#e40218;}
.on a{ color:#e40218;}
.home{ padding-left:20px; padding-right:20px; text-align:center;}

.menu ul li{ float:left; font-size:13px; color:#ffffff; font-weight:bold; line-height:30px; display:inline;}
.menu_left{ float:left;} 
.menu_right{ float:right;}
.search_but{ background:url(../../images/srabg.gif) top left no-repeat; border:0; width:53px; height:20px; margin-top:5px; font-size:12px; color:#f00; cursor:pointer; margin-left:3px;}
.search{ width:142px; height:20px; background:url(../../images/searchbg.gif) top left no-repeat; border:0; margin-top:5px; line-height:20px; color:#cccccc; font-size:13px;}
.ad{ width:970px; margin:0 auto; height:105px; padding-top:11px; padding-bottom:23px;}
/*menu*/
/*middle*/
.leg{ width:970px; margin:0 auto; padding-bottom:20px;}
.leg_let{ float:left; width:632px;}
.leg_right{ float:right; width:320px;  padding-left:18px;}
.spname{border-bottom:#cecece 1px solid; padding-left:5px; margin-bottom:10px; margin-top:5px; padding-bottom:5px; color:#898989;}
.spname1{ padding-left:5px; margin-bottom:10px; margin-top:5px; padding-bottom:5px; color:#898989;}
/*left*/
/*banner*/
.banner{ width:970px; height:437px; margin:0 auto;}
.about_all{padding-top: 10px;}
.regi{/* padding-top: 40px; */}
.hdp { width:970px; height:437px;}
.clear{clear:both;  font-size:0; overflow:hidden; height:0;}
.blank10{clear:both;  font-size:0; overflow:hidden; height:10px;}
.blank{clear:both;  font-size:0; overflow:hidden; height:10px; background:#FFF;}
/*********content css***********/
#content{width:970px;margin:0 auto;}

#footer{padding-bottom:0;margin:0px auto 0;}
/*********main css***********/
.mb15 {margin-bottom: 0px;}
#main{width:970px; overflow:hidden;}
/********* css***********/
.sub_box{width:970px; height:437px; float:left; position:relative; overflow:hidden;  background:url() center center no-repeat; *background:url() 220px 120px no-repeat;}
.sub_box img{border:none; width:970px; height:353px;}
#bd1lfimg{ position:absolute; width:968px; height:353px; overflow:hidden; border:#b3b2b2 1px solid;}
#bd1lfimg div{width:100000px; margin-left:-4px;}
#bd1lfimg dl{width:970px; height:355px; position:relative; overflow:hidden; float:left;}
#bd1lfimg dt{width:970px; height:355px; position:absolute; left:0px; top:0px;}
#bd1lfimg dd{width:970px; height:355px; background:#000000; filter:alpha(Opacity=70); Opacity:0.7; position:absolute; left:0px; bottom:0px; padding:0 20px;}
.sub_nav{ width:972px; height:101px; bottom:0px; position:relative;  z-index:200; top:343px;}
.sub_no{ height:101px; float:left;}
.sub_no li{ font-weight:bold; padding-left:15px; padding-right:15px; padding-top:40px; background:url(../../images/sanj1.gif) bottom left no-repeat; font-size:16px; font-weight:bold; display:block; width:211.8px; height:45px; float:left; overflow:hidden; vertical-align:middle; text-align:center; color:#000000; cursor:pointer;}
.sub_no li.show{ padding-left:15px; padding-right:15px; padding-top:40px; background:url(../../images/sanj.png) top left no-repeat; font-size:16px; font-weight:bold; color:#000000; display:block; width:211.8px; height:53px;}

.sub_more{float:right; width:50px; height:25px; background:#000000; color:#999999; text-align:center; line-height:25px;}
.sub_more a{color:#999999;}
.sub_more a:hover{color:#cccccc; text-decoration:none;}

.sub_no5{ height:101px; float:right;}
.sub_no5 li{ font-family:"微软雅黑"; font-weight:bold; padding-top:18px; background:url(../../images/sanj1.gif) bottom left no-repeat; font-size:16px; font-weight:bold; display:block; width:193px; margin-right:1px; height:83px; float:left; overflow:hidden; vertical-align:middle; text-align:center; color:#000000; cursor:pointer;}
.sub_no5 li.show{ background:url(../../images/sanj.png) top center no-repeat; font-size:16px; font-weight:bold; color:#242424; display:block; width:193px; }
.sub_no5 li div{width:193px; height:83px; display:table-cell; vertical-align:middle; font-size:16px; font-family:"宋体"; *height:53px; *padding-top:30px;}

/*.sub_no5 li div.t-wrap {display: table;width:193px; height:83px;s*position: relative;overflow: hidden;}
.sub_no5 li div.t-subwrap {vertical-align: middle;display: table-cell;*position: absolute;*top: 50%;}
.sub_no5 li div.t-content {*position: relative;*top: -50%;} */

/*banner*/

.thr{ height:280px; width:632px;}
.new{ width:192px; border-right:#cccccc 1px solid; float:left; height:273px; padding-right:10px; letter-spacing:-0.3px;}
.new h4{ border-top:#e40210 3px solid; font-size:16px; color:#ed1c24; border-bottom:#cccccc 1px solid; line-height:34px;}
.new h5{ font-size:13px; color:#ff0000;}
.new_pic{ margin-top:10px;}
.new_word{ color:#555555; margin-bottom:10px; padding-top:10px; height:78px; border-bottom:#c8c8c8 1px solid; font-size:13px;}
.new_word1{ color:#555555; margin-bottom:12px; padding-top:10px; font-size:12px;}
.new_word2014{ color:#555555;padding-top:10px; height:138px; font-size:15px;}
.new_word2{ color:#555555; height:54px; font-size:15px;}
.more{ text-align:right; padding-right:3px; padding-top:25px;}
.new_word4{ font-size:13px; font-weight:bold; color:#fd1610;}
.new_word5{ font-size:11.5px; font-weight:bold; color:#8f1d22;}

.supports{ letter-spacing:-1px; width:192px; border-right:#cccccc 1px solid; float:left; height:273px; padding-left:10px; padding-right:10px;}
.supports h4{ border-top:#88307f 3px solid; font-size:16px; color:#88307f; border-bottom:#cccccc 1px solid; line-height:34px;}

.community{letter-spacing:-0.2px; width:192px; border-right:#cccccc 1px solid; float:right; height:273px; padding-right:10px;}
.community h4{ border-top:#0072bc 3px solid; font-size:16px; color:#0072bc; border-bottom:#cccccc 1px solid; line-height:34px; margin-bottom:10px;}
.comm{ height:130px; margin-top:10px;}
.comm_left{ float:left; width:104px;}
.comm_right{ float:right; width:105px; height:128px;}
.comm_right img{ width:105px; height:128px;}
.community ul li{ height:23px; line-height:23px; padding-top:4px; border-bottom:#e5e5e5 1px solid; color:#5c5b5b; background:url(../../images/cion1.gif) center left no-repeat; padding-left:10px;}

.join_in{ margin-top:19px; margin-bottom:19px; background:url(../../images/inputbg.gif) top left no-repeat; width:155px; height:21px; border:0px; padding-left:3px; padding-right:42px; padding-top:3px;}

.p_v{
	margin-top:11px;
	border-right:#cccccc 1px solid;
	padding-right:11px;
	
	}
.p_v h4{ border-top:#f26522 3px solid; font-size:16px; color:#f26522; border-bottom:#cccccc 1px solid; line-height:34px; margin-bottom:10px;}
.view2014{
	margin-top:14px;
	
	}
.v2014_le{
	float:left;
	height:262px;
	width:415px;
	border-right:#cccccc 1px solid;
	color:#646464;
	font-size:12px;
	}
.v2014_ri{
	float:right;
	width:192px;
	
	height:262px;
	padding-left:11px;
	color:#646464;
	line-height:24px;
	}
.aamain{
	

}
.main p{ line-height:24px;}
.main p span{ color:#dfb7b7;}
/*xuanxiangka*/
#aatabs0 {width:320px;}
.aatt{ position:relative; height:28px; line-height:28px;text-align: center; border-top:#6b7b84 1px solid;}
.aamenu0 li{
display:block;
float: left;
width:160px;
cursor:pointer;
background:url(../../images/pay_5.gif) top left no-repeat;
width:160px; height:28px;
font-size:12px;
color:#627885;
 line-height:24px;
}
.aamenu0 li.hover{ background:url(../../images/pay_4.gif) top left no-repeat; font-size:12px; color:#ffffff;  width:160px; height:28px; line-height:24px;}
#aamain0 ul{ display: none;}
#aamain0 ul.block{ display: block;}
.leg_right h4{ border-top:#6b7b84 3px solid; font-size:16px; color:#6b7b84; line-height:34px; margin-bottom:4px;}
.com_new{
	height:225px;
	}
.com_new dt{
	border-bottom: 1px solid #dadada;
	color:#555555;
	line-height:30px;
	height:30px;
	}
.com_new dd{
	height:1px;
	 }
.more_vi{
	 background:url(../../images/view.gif) top left no-repeat;
	 width:82px; height:17px;
	 border:0;
	 cursor:pointer;
	 color:#666666;
	 font-size:10px;
	 font-family:"寰蒋闆呴粦";
	}
.total{
	margin-top:14px;
	}
.sub{
	background-color:red;
	font-size:14px;
	font-family:SimSun;
	font-weight:bold;
	color:white;
	width:101px;
	height:25px;
	border:0;
	cursor:pointer;
	background:url(../../images/at_28.jpg) top left no-repeat;
	}
.di{
	width:970px;
	margin:0 auto;
	border-bottom:#000000 1px solid;
	border-top:#000000 1px solid;
	height:254px;
	}
.di_le{
	width:270px;
	float:left;
	}
.di_ri{
	float:right;
	width:690px;
	}
.di_le h4{ font-size:18px; color:#000000; padding-left:8px; border-bottom:#cccccc 1px solid; line-height:34px; margin-bottom:10px;}
.di_ri h4{ font-size:18px; color:#000000; padding-left:8px; border-bottom:#cccccc 1px solid; line-height:34px; margin-bottom:10px;}
.china_au{
	float:left;
	width:370px;
	padding-left:8px;
	font-size:11px;
	color:#5b5b5b;
	line-height:16px;
	}
.china_au li{
	float:left;
	width:120px;
	padding-top:15px;
	}
.down2014{
	float:right;
	border:#cccccc 1px solid;
	}
.foot2014{
	height:42px;
	background-color:#000000;
	line-height:42px;
	}
.foot_copy{
	width:932px;
	margin:0 auto;
	color:#ffffff;
	font-size:10.25px;
	padding-left:12px;
	padding-right:26px;
	
	}
.foot_copy span{
	float:right;
	padding-top:13px;
	}
.foot_copy span img{
	margin-left:9px;
	}
/*left*/

/*right*/


/*right*/
/*middle*/
#slide-box {
	MARGIN: 0 auto; WIDTH: 232px; POSITION: relative; HEIGHT: 194px
}
#slide-box .corner {
	CLEAR: both; DISPLAY: block; MARGIN: 0px 1px; OVERFLOW: hidden; HEIGHT: 0px
}

#slide-box .ks-switchable-triggers A {
	DISPLAY: block; Z-INDEX: 99; WIDTH: 29px; COLOR: #b4b4b4; POSITION: absolute; TOP: 89px; HEIGHT: 47px; TEXT-DECORATION: none
}
#slide-box .ks-switchable-triggers .sp_left {
	DISPLAY: block; color:#000; background:url(../../images/left.png) top left no-repeat; FONT: 500 53px/37px arial; WIDTH: 29px; CURSOR: pointer; HEIGHT: 47px; TEXT-ALIGN: center
}
#slide-box .ks-switchable-triggers .sp_right {
	DISPLAY: block; color:#000; background:url(../../images/right.png) top left no-repeat; FONT: 500 53px/37px arial; WIDTH: 29px; CURSOR: pointer; HEIGHT: 47px; TEXT-ALIGN: center
}

#slide-box .ks-switchable-triggers .prev {
	LEFT: 0px
}
#slide-box .ks-switchable-triggers .next {
	RIGHT: 0px
}
#slide-box .ks-switchable-triggers A:hover {
	COLOR: #f43d1e
}
#slide-box .ks-switchable-triggers A:hover SPAN {
	COLOR: #f43d1e
}

#slide-box .wrap {
	OVERFLOW: hidden; WIDTH: 232px; HEIGHT: 194px
}
#slide-box UL {
	WIDTH: 10000px
}
#slide-box LI {
	FLOAT: left; WIDTH: 232px; HEIGHT: 194px
}
#slide-box LI IMG {
	WIDTH: 232px; HEIGHT: 194px
}

.foot{ color:#808081; width:970px; margin:0 auto; font-size:11px;  border-top:#e40210 3px solid; padding-top:12px;}
.links{ text-align:center; padding-top:13px; padding-bottom:10px;}
.links img{ margin-right:10px; margin-left:10px;}
.copy{ text-align:center; padding-bottom:10px;}
.foot span{ float:right;}
.down_menu{ color:#808080; width:970px; height:32px; border-bottom:#cccccc 1px solid; border-top:#cccccc 1px solid; margin:0 auto;}
.down_menu li{ float:left;}
.down_menu_lm{ width:160px; text-align:center; padding-top:8px;}
.down_menu_tb{ padding-top:10px;}
/*products*/
.products{ width:970px; margin:0 auto;margin-top: 20px;}
.products_right_dow{ padding-left:8px; padding-right:25px; width:937px;}
.products_right{ width:912px;}
.pro_title{ font-size:14px; color:#e60011; padding-left:8px; margin-bottom:35px;font-family: "新宋体";}
.pro_shp{ width:338px; height:230px;}
.pro_email{ float:right; color:#9a9a9a; font-size:12px;font-family:arial;}
.pro360{ text-align:center; color:#e60011; margin-top:13px;}
.pro_js{ font-size:13px; margin-top:3px; border-bottom:#b5b5b5 1px solid; height:199px;color: black;font-family: "新宋体"}
.products_p1{ color:#c20002; font-weight:bold; font-size:18px; font-family: Arial;}
.products_right_downle{ float:left; width:324px;}
.products_right_downri{ width:552px; float:right;}
.acc1{ width:196px; height:30px; padding-left:40px; line-height:30px; background:#e3e3e3 url(../../images/acc1.gif) top left no-repeat; float:left; margin-right:2px; color:#666666;}
.acc2{ width:196px; height:30px; padding-left:40px; line-height:30px; background:#ffffff url(../../images/acc3.gif) top left no-repeat; float:left; margin-right:2px;}
.acc3{ width:196px; height:30px; padding-left:40px; line-height:30px; background:#e3e3e3 url(../../images/acc2.gif) top left no-repeat; float:left; margin-right:2px;}
.acc4{ width:196px; height:30px; padding-left:40px; line-height:30px; background:#ffffff url(../../images/acc4.gif) top left no-repeat; float:left; margin-right:2px;}
.pic_pro{ margin-top:30px; width:778px; height:207px; border:#c3c1c1 1px solid;}
.pic_pro h3{ font-size:13px; height:27px; border-bottom:#c3c1c1 1px solid; padding-top:8px; padding-left:15px; padding-right:15px;}
.pic_pro h3 span{ float:right; color:#9a0201; text-decoration:underline;}
.pic_pro h3 a{ color:#9a0201;}
/*xuanxiangka*/
.main{
min-height:500px;
clear:both;
padding:16px 16px;
border: 1px solid #cbcbcb;
}

#tabs0 {
min-height: 562px;
width: 780px;
margin-top:10px;
}
.menu0{
width: 509px;
}
.menu0 li{
font-weight:bold;
display:block;
float: left;
line-height:26px;
width:100px;
height:26px;
background:url(../../images/pro_22.gif) top left no-repeat;
text-align: center;
cursor:pointer;
color:#666666;
}
.menu0 li.hover{
font-weight:bold;
color:#ffffff;
background:url(../../images/pro_21.gif) top left no-repeat;
}
#main0 ul{
display: none;
}
#main0 ul.block{
display: block;
}
.pro_size{ width:97px;border-left:#e4e4e4 1px solid;border-RIGHT:#e4e4e4 1px solid; text-align:center; font-size:12px;}
.pro_name{ width:500px; padding-left:6px;}
.downl_bg{ background-color:#e4e4e4;}
.pro_down{ text-align:right; padding-right:3px;}
.downl_h1{height:24px; line-height:24px;}
.downl_h2{height:30px; line-height:20px;}
.feature_tex{ background:url(../../images/faetur_bg.gif) top left no-repeat; background-position:0px 10px; padding-left:18px; line-height:23px; color:#666666;}
.spec_name{ width:148px; padding-left:30px; line-height:30px;}
.spec_down{padding-left:20px;}

/*gundong*/
#featureContainer {
	WIDTH: 760px; FONT-SIZE: 80%; margin-left:10px; margin-top:10px;
}
#wrap {
	OVERFLOW: hidden; width:738px;
}
#load {
	BACKGROUND-IMAGE: url(../../images/loader32x32.gif); BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; TEXT-INDENT: -9999px; MARGIN: 0px auto; WIDTH: 923px; DISPLAY: none; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; HEIGHT: 100px; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted;
}
#feature {
	BORDER-BOTTOM: #999 0px dotted; POSITION: relative; BORDER-LEFT: #999 0px dotted; MARGIN-TOP: 5px; MARGIN-BOTTOM: 20px; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted;
}
#feature .button {
	BORDER-BOTTOM: #999 0px dotted; POSITION: absolute; BORDER-LEFT: #999 0px dotted; WIDTH: 840px; BORDER-TOP: #999 0px dotted; TOP: 72px; BORDER-RIGHT: #999 0px dotted; LEFT: 0px; 
}
#feature .prev {
 TEXT-INDENT: -9999px; WIDTH: 30px; DISPLAY: block; BACKGROUND: url(../../images/feature_left.gif) center top; FLOAT: left; HEIGHT: 48px; TOP: -100px; position:relative; 
}
#feature .next {
	 TEXT-INDENT: -9999px; WIDTH: 30px; DISPLAY: block; BACKGROUND: url(../../images/feature_right.gif) center top; FLOAT: right; HEIGHT: 48px;  TOP: -100px; position:relative; 
}
#feature .prev:hover {
	BACKGROUND-POSITION: center bottom
}
#feature .next:hover {
	BACKGROUND-POSITION: center bottom
}
.featureUL {
	 POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 2800px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px; LEFT: 0px;
}
.featureBox {
	  WIDTH: 162px; background:url(../../images/boxbg.gif) top left no-repeat; FLOAT: left; HEIGHT: 148px; OVERFLOW: hidden; margin-left:8px; text-align:center; font-size:12px; color:#a72120; font-weight:bold; display:inline;
}
#botton-scroll {
	Z-INDEX: 0; BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; margin-left:35px; WIDTH: 636px; FLOAT: left; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted; display:inline;
}
#block {
	Z-INDEX: 0; POSITION: relative; MARGIN: 0px auto; PADDING-LEFT: 0px;  PADDING-RIGHT: 0px;FONT-SIZE: 70%; OVERFLOW: hidden; PADDING-TOP: 0px;
}
#block .box {
	 WIDTH: 156px; FLOAT: left; HEIGHT: 143px;
}
#block .box .feature-title {
	FONT-SIZE: 140%; FONT-WEIGHT: normal
}
#block .box .feature-thumb {
	WIDTH: 240px; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 150px
}

/*about
.products_right H6{ font-size:16px; color:#a72223;}
.products_p2{ font-weight:bold; font-size:14px;}
.about_ma{ color:#666666; background:url(../../images/ab_03.gif) top right no-repeat; width:736px; height:160px; margin-top:5px;}
.about_ad{ color:#666666; background:url(../../images/ab_06.gif) top left no-repeat; width:366px; padding-left:36px;}
.about_phone{ color:#666666; background:url(../../images/ab_09.gif) top left no-repeat; width:366px; padding-left:36px; margin-top:10px;}
.about_ma span{ color:#666666; font-size:14px; font-weight:bold;}
.about_fax{ color:#666666; background:url(../../images/ab_11.gif) top left no-repeat; width:366px; padding-left:36px; margin-top:10px;}
.about_emall{ color:#666666; background:url(../../images/ab_13.gif) top left no-repeat; width:366px; padding-left:36px; margin-top:10px;}
.about_table{ width:700px; border-top:#221816 2px solid;}
.table_top{ padding-right:30px; padding-top:16px; padding-bottom:16px; color:#666666;}
table{ border-top:1px #999999 solid; border-right:1px #999999 solid; border-bottom:#999999 1px solid;}
table td{ border-top:1px #999999 solid; border-left:1px #999999 solid;}
.tab_bd{ width:152px; height:20px; margin-left:5px; margin-right:10px;}
.tab_wb{ width:340px; height:80px; margin:5px;}
.table_butt{ width:58px; height:24px; margin-right:10px;}
.about_add{ background:url(../../images/addbg.gif) top left repeat-x; line-height:40px; width:970px; margin:0 auto;}
.about_menu ul li{ height:28px; border-bottom:#c3c3c3 1px solid; line-height:28px; padding-left:24px; color:#666666;}
.about_on{ background:url(../../images/abm.gif) top left no-repeat;}
.about_menu ul li:hover{  background:url(../../images/abm.gif) top left no-repeat;}
*/
/*support*/
.sign_in{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:24px; color:#333333; padding-bottom:15px; padding-top:10px;}
.autel{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:30px; color:#444444; padding-bottom:15px; padding-top:10px;}
.sign_in span{ float:right; font-size:12px; color:#666666; padding-top:15px;}
.supp{ width:970px; margin:0 auto; height:281px;}
.supp_left{ width:8px; height:281px; float:left; background:url(../../images/suppor_03.gif) top left no-repeat;}
.supp_midd{  width:954px; height:279px; float:left; border-bottom:#dad7d7 1px solid; border-top:#dad7d7 1px solid;}
.supp_right{ width:8px; height:281px; float:right; background:url(../../images/suppor_05.gif) top left no-repeat;}
.sign_left{ padding-top:26px; width:374px; float:left; height:253px;}
.sign_right{ display:inline; width:340px; float:right; margin-right:148px; padding-top:26px;}
.sign_right p{ line-height:26px;  color:#666666;}
.login{ border:0; background:url(../../images/suppor_08.gif) top left no-repeat; width:71px; height:25px;}
.password{ width:260px; height:22px; border:#c0c0c0 1px solid;}
.password1{ width:167px; height:22px; border:#c0c0c0 1px solid;}
.supp_name{ width:96px; text-align:right; padding-right:16px; font-size:14px; color:#333333; height:38px;}
.forgot{ color:#3385ad; font-size:12px; height:36px;}
.forgot a{ color:#3385ad; text-decoration:underline;}
.welcome{ font-size:24px; color:#333333;}
.regsiter{ background:url(../../images/suppor_12.gif) top left no-repeat; width:98px; height:33px; border:0;}
.foot_supp{ text-align:center; font-size:14px; color:#666666;}
/**/
.forums{ width:967px; margin:0 auto;}
.for_down{ height:8px; width:967px; background:url(../../images/forbg.gif) top left no-repeat;}
.tools{ padding:28px; width:909px; border-top:#d9d9d9 1px solid; border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid;}
.for_search{ color:#929292; font-size:11px; padding-left:9px; width:168px; line-height:23px; height:23px; background:url(../../images/autel_03.gif) top left no-repeat; border:0; float:right;}
.hongs{ color:#ca0002;}
.tools_left{ float:left; width:636px;}
.tools_right{ float:right; width:195px;}
.tools_right ul li{ line-height:24px; color:#76797c;}
.toux{ margin-left:14px; width:78px; height:78px; float:left;}
.wel_word{ float:right; width:516px;}
.wel_word dl dt{ font-size:30px; color:#000000; line-height:30px;}
.wel_word dl dd{ font-size:16px; color:#333333;}
.quse{ width:617px; height:99px; border:#e8e8e8 1px solid; margin-top:22px; padding-left:17px; padding-top:17px;}
.your_ques{ width:451px; height:29px; border:#c5c5c5 1px solid; color:#ca0002; font-size:14px; line-height:29px; padding-left:11px;}
.submit{ width:294px; height:20px; background-color:#878787; padding-left:11px; margin-top:9px;}
.tolls{ font-size:18px;}
.autel_table{ margin-top:20px;}
/**/
.au_table{ width:908px; height:32px; background:url(../../images/autel19.gif) top left repeat-x; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid;}
.autel_pa{ padding-left:36px; width:393px; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid; font-size:14px;}
.topics{ width:101px; text-align:center; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid; font-size:14px;} 
.posts{ width:131px; text-align:center; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid; font-size:14px;}
.last{ padding-left:53px; border-bottom:#c5c5c5 1px solid; border-right:#c5c5c5 1px solid;}
.foot_autel{ font-size:12px; width:970px; margin:0 auto; color:#76797c; margin-bottom:95px;}
/**/
.regi{ width:970px; margin:0 auto;}
.regi_top{ background:url(../../images/regit.png) top left no-repeat; height:8px; width:970px; overflow:hidden;}
.regi_dowm{ background:url(../../images/regid.png) top left no-repeat; height:8px; width:970px;}
.regi_midd{ padding-bottom:30px; padding-top:42px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.regi_name{ width:170px; text-align:right; padding-right:6px; font-size:14px; color:#333333; height:38px;}
.techid{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:30px; color:#333333; padding-bottom:15px; padding-top:10px;}
.techid span{ float:right; font-size:12px; color:#666666; padding-top:15px;}
.male{ margin-left:20px; vertical-align:middle; line-height:38px; margin-right:2px;}
.dl_yzm{ margin-left:20px;}
.fuxuan{ height:58px; text-decoration:underline; font-size:14px; color:#666666;}
.create{ color:#666666; font-size:14px; width:970px; margin:0 auto;}
.create span{ font-size:20px; padding-left:18px;}
/**/
.discuss span{ color:#333333;}
.peoblem_left{ width:674px; float:left;}
.peoblem_right{ width:215px; float:right;}
.pro_up{ font-size:18px; color:#444444; text-decoration:underline;}
.pro_date{ font-size:14px; color:#01398d; margin-top:16px;}
.pro_page{ color:#737373;}
.pro_page .heise{ color:#000000;}
.fenye{ float:right;}
.page_1{ border:#e8e6e7 1px solid; width:16px; height:16px; background-color:#f9f9f9; float:left; text-align:center; margin-right:2px;}
.page2{ float:left; text-align:center;width:16px; height:16px; border:#ffffff 1px solid; margin-right:4px;}
.previous{ float:left; line-height:19px; padding-left:3px; float:left; width:59px; height:19px; border-left:#e8e6e7 1px solid; background-color:#f9f9f9; border-bottom:#e8e6e7 1px solid; border-top:#e8e6e7 1px solid;}
.page_next{ color:#333333; width:39px; border:#e8e6e7 1px solid; height:19px; float:left; background-color:#f9f9f9; line-height:19px; padding-left:6px;}
.level{ float:left; width:55px; color:#929292;}
.level img{ border:#dbd9dc 1px solid; }
.level_right{ width:609px; float:right;}
.spirzzon{ padding-top:24px; padding-right:20px; padding-left:53px; color:#0a3d88; width:536px; background:url(../../images/tech21.gif) top right no-repeat; height:18px;}
.lev_word span{ color:#929292;}
.lev_word{ padding-bottom:24px; color:#545454; padding-right:20px; padding-left:53px; width:536px; background:url(../../images/tech30.gif) top right repeat-y;}
.lev_down{ text-align:right; padding-right:20px; padding-left:53px; color:#777777; width:536px; background:url(../../images/tech_46.gif) top right no-repeat; height:33px;}
.lev_down span{ margin-left:70px; color:#545454; font-weight:bold;}
.spirzzon_black{ padding-top:24px; padding-right:20px; padding-left:53px; color:#0a3d88; width:536px; background:url(../../images/tech47.gif) top right no-repeat; height:18px;}
.huise{ color:#929292;}
.lev_word_black{ padding-bottom:24px; color:#545454; padding-right:20px; padding-left:53px; width:536px; background:url(../../images/tech61.gif) top right repeat-y;}
.lev_down_black{ text-align:right; padding-right:20px; padding-left:53px; color:#777777; width:536px; background:url(../../images/tech62.gif) top right no-repeat; height:33px;}
.lev_down_black span{ margin-left:34px; color:#545454; font-weight:bold;}
.lvse{ color:#67cb2a;}
.peoblem_left ul li{ margin-top:50px;}
.reply{ margin-bottom:30px; text-align:right; margin-top:10px;}
.reply span{ margin-left:34px; color:#545454;}
.rel_links{ width:197px; border:#e8e6e7 1px solid; background-color:#f9f9f9; color:#444444; padding-left:16px; padding-top:12px; padding-bottom:12px; line-height:26px;}
.rel_links dl dt{ font-size:14px;}
.rel_links dl dd{ font-size:12px;}
.rel_links img{ vertical-align:middle; margin-right:5px;}
.more_links{ margin-top:50px;}
.links_top{ color:#444444; padding-left:15px; background:url(../../images/tech22.gif) top left no-repeat; width:200px; height:34px; line-height:34px;}
.links_down{ border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid; border-bottom:#d9d9d9 1px solid; padding:13px 10px 20px 10px;}
.links_down ul li{ color:#444444; margin-bottom:5px;}
.links_down img{ margin-right:5px; vertical-align:middle;}
/**/
.submit{ background:url(../../images/submit.gif) top left no-repeat; width:92px; height:30px; border:0; margin-top:20px;}
.cancel{ background:url(../../images/cancel.gif) top left no-repeat; width:92px; height:30px; border:0; margin-left:22px; margin-top:20px;}
.regi_name_sub{ width:190px; text-align:right; padding-right:20px; font-size:14px; color:#333333; height:38px;}
.resetmain{
clear:both;
padding-top:20px;
border-top: 1px solid #dddddd;
margin-top:-1px;
position:relative;
width: 908px;
}
.resettt{ height:40px;}
#resettabs0 {
width: 898px;

padding-left:10px; font-size:14px;
}
.resetmenu0{
width: 509px;
 height:40px;

 position:absolute;
 z-index:99999;
 padding-left:28px;
 font-size:14px;

}
.resetmenu0 li{

display:block;
float: left;
line-height:39px;
padding-left:10px;
padding-right:10px;
height:39px;
color:#333333;
text-align: center;
cursor:pointer;

 border-top:#ffffff 1px solid;
}
.resetmenu0 li.hover{

 background-color:#ffffff;
 height:39px;
color:#333333;
border-left:#dddddd 1px solid;border-top:#dddddd 1px solid;border-right:#dddddd 1px solid;
}
#resetmain0 ul{
display: none;
}
#resetmain0 ul.block{
display: block;
}
.forget{ font-size:14px; padding-left:40px; margin-bottom:20px;}
.forget_midd{ padding-bottom:30px; padding-top:30px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.regi_name_forget{ width:140px; text-align:right; padding-right:20px; font-size:14px; color:#333333; height:38px;}
/**/
.commu_top{ background:url(../../images/commutop.gif) top left no-repeat; height:8px; width:918px; overflow:hidden;}
.commu_dowm{ background:url(../../images/commudo.gif) top left no-repeat; height:8px; width:918px;}
.commu_midd{ padding-bottom:30px; padding-top:20px; width:918px; background:url(../../images/commumi.gif) top left repeat-y;}
.commu_left{ float:left; width:325px; font-size:14px; color:#888888; padding-left:25px;}
.commu_right{ width:418px; float:right; color:#333333; margin-right:80px; display:inline;}
.commu_right h3{ font-size:16px;}
.ready{ font-size:14px; border-bottom:#e3e3e3 1px solid; padding-bottom:128px; padding-top:10px;}
/**/
.tby_top{ color:#333333; margin-top:30px; margin-bottom:10px;}
.tyb_sr dl dt{ float:left; margin-left:3px;}
.rep_wb{ width:680px; height:228px;}
.bro{ width:172px; height:15px; border:#dddddd 1px solid; background-color:#f0f0f0; margin-left:14px; margin-right:6px;}
.browse{ border:0; background:url(../../images/tby_68.jpg) top left no-repeat; width:69px; height:23px;}
.bro_lj{ margin-top:6px; color:#333333; margin-bottom:40px;}
.add_replay{ background:url(../../images/tby_71.jpg) top left no-repeat; width:131px; height:30px; border:0;}
.cancel_re{ background:url(../../images/cancel.gif) top left no-repeat; width:92px; height:30px; border:0; margin-left:22px;}
.add{ margin-bottom:72px;}
.for_wel_ydl{ padding-left:32px; padding-right:36px; padding-top:16px; width:899px; height:58px; background:url(../../images/autel1.gif) top left no-repeat; color:#666666; font-size:14px;}
.for_search_ydl{ color:#929292; font-size:11px; padding-left:9px; width:168px; line-height:23px; height:23px; background:url(../../images/autel_03.gif) top left no-repeat; border:0; float:right; margin-top:10px;}
.edit{ color:#333333; font-weight:bold;}
.edit span{ color:#929292;}
.edit h4{ font-size:14px; margin-bottom:30px;}
.how{ width:760px; height:27px; border:#cccccc 1px solid; color:#333333; font-size:18px; line-height:27px; padding-left:24px; margin-top:52px; margin-bottom:14px;}
.edit1{ color:#333333; font-weight:bold; margin-bottom:10px;}
.edit1 span{ color:#929292; font-weight:normal;}
.post{ background:url(../../images/post.jpg) top left no-repeat; width:131px; height:30px; border:0;}
/*8-10*/
.etiq_midd{ padding-bottom:30px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.etiq_midd dl dt{ font-size:30px; color:#444444; text-align:center;}
.etiq_midd dl dd{ color:#444444; padding-left:170px; padding-right:150px; font-size:14px; margin-top:30px;}
.guide{ width:524px; margin:0 auto;}
.guide_top{ background:url(../../images/guideto.gif) top left no-repeat; width:524px; height:14px;}
.guide_mi{ background:url(../../images/guidemi.gif) top left repeat-y; width:389px; padding-left:55px; padding-right:80px;}
.guide_down{ background:url(../../images/guidedo.gif) top left no-repeat; width:524px; height:14px;}
.guide_mi ul li{ background:url(../../images/hfk.gif) top left no-repeat; padding-left:18px; padding-top:10px; padding-bottom:10px; font-size:14px; color:#444444; background-position-y:17px;}
.datails{ text-align:center; color:#434343; font-size:14px;}
.datails span{ color:#cb0003;}
.forums_bg{ background:url(../../images/ready.gif) top left repeat-x; width:885px; padding-left:55px; margin-top:25px;}
.forums_bg span{ color:#cb0003;}
.forums_bg ul li{ padding-top:25px;}
/*asking*/
.asking_midd{ padding-bottom:30px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.ask_title{ font-size:24px; color:#444444;}
.to_ask{ color:#777777; font-size:14px; margin-bottom:15px;}
.asking_midd span{ color:#cb0003;}
.asking_midd ul li{ padding-left:46px; padding-right:60px;}
.before{ margin-bottom:15px; font-size:14px; color:#444444; margin-top:5px;}
.asking_midd dl{ padding-left:34px; font-size:14px; color:#333333;}
.asking_midd dl dt,.asking_midd dl dd{ margin-bottom:28px;}
.asking_midd dl dt h3{ font-size:18px; font-weight:bold;}
/*user*/
.user_left{ float:left; width:667px;}
.user_right{ float:right;}
.user_left_top{ width:667px; height:8px; background:url(../../images/user_03.gif) top left no-repeat;}
.user_left_down{ width:667px; height:8px; background:url(../../images/user_06.gif) top left no-repeat;}
.user_left_mid{ padding-top:20px; padding-bottom:118px; padding-left:25px; padding-right:25px; width:616px; border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid;}
.user_tx{ float:left; width:204px; font-size:12px;}
.toux_xx{ float:right; width:335px; color:#333333;}
.user_tx img{ border:#dddddd 1px solid; width:202px; height:150px;}
.user_tx dl dt{ margin-bottom:30px;}
.user_tx dl dd{ margin-top:3px;}
.user_tx dl dd span{ color:#777777;}
.toux_tx{ width:52px; height:52px; float:left;}
.toux_mail{ float:right; width:270px; font-size:12px; color:#333333;}
.toux_tx img{ border:#dddddd 1px solid; width:50px; height:50px;}
.toux_mail span{ color:#fb0202;}
.toux_mail dl dd{ margin-bottom:20px; margin-top:20px;}
.toux_mail dl dt{ margin-top:10px;}
.actions img{ margin-right:7px;}
.actions dl dt{ font-size:18px; margin-left:20px; margin-bottom:10px; color:#777777;}
.acti_on{ background:url(../../images/acti_07.gif) bottom right no-repeat;}

.actions dl dd{}
.actions{ margin-bottom:25px;}
.act_img{ float:left; padding-top:10px;submit}
.act_title{ float:right; width:173px; height:28px; border-bottom:#dddddd 1px solid; margin-right:20px; padding-top:6px;}
.save{ background:url(../../images/save.gif) top left no-repeat; width:92px; height:30px; border:0; margin-top:20px;}
.photo{ margin-left:144px; font-size:12px; color:#333333; width:204px; text-align:center; margin-bottom:5px;}
.photo1{ margin-left:144px; font-size:12px; color:#333333;}
.photo img{ border:#dddddd 1px solid;}
.dont_have{ color:#fb0202; margin-left:58px; margin-top:20px;}
.tiez_top{ background:url(../../images/tz.gif) top left no-repeat; width:650px; height:33px; color:#333333; line-height:33px; padding-left:17px;}
.tiez_down{ width:587px; border:#e1e1e1 1px solid; padding:10px 53px 30px 25px;}
.tiez_down dl dd{ color:#fb0202; margin-bottom:10px; margin-top:5px;}
.shenhong{ color:#fb0202;}
.tiez_down dl dt{ font-size:12px;}
.jf_name{ background:url(../../images/jf.gif) top left repeat-x; height:28px; width:188px; padding-left:29px;}
.jf_time{ background:url(../../images/jf.gif) top left repeat-x; height:28px; width:214px; padding-left:29px;}
.jf_points{ background:url(../../images/jf.gif) top left repeat-x; height:28px; width:131px; padding-left:29px;}
.jf_expert{ background:url(../../images/jf.gif) top left repeat-x; height:28px; padding-left:29px;}
.jf_bg{ height:27px; border-bottom:#dddddd 1px solid;}
.jf_sz{ width:16px; height:16px; background-color:#dddddd; float:left; text-align:center; margin-right:7px; margin-left:2px;}
.jf_midd{ color:#333333; padding-top:10px; padding-bottom:30px; padding-left:30px; width:910px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.sw_user{ background:url(../../images/jf.gif) top left repeat-x; height:28px; width:203px; padding-left:14px;}
.sw_login{ background:url(../../images/jf.gif) top left repeat-x; height:28px; width:125px; text-align:center;}
.sw_online{ background:url(../../images/jf.gif) top left repeat-x; height:28px; width:118px; text-align:center;}
.sw_idle{ background:url(../../images/jf.gif) top left repeat-x; height:28px; width:121px; text-align:center;}
.sw_posts{ background:url(../../images/jf.gif) top left repeat-x; height:28px; text-align:center;}
.sw_bg{ height:43px; border-bottom:#dddddd 1px solid;}
.sw_sz{ width:16px; height:16px; background-color:#dddddd; float:left; text-align:center; margin-right:4px; margin-left:10px;}
.ss_left{ width:10px; height:141px; background:url(../../images/ss_03.gif) top left no-repeat; float:left;}
.ss_mid{ padding-top:10px; width:910px; height:131px; background:url(../../images/ss_04.gif) top left repeat-x; float:left;}
.ss_right{ width:10px; height:141px; background:url(../../images/ss_05.gif) top left no-repeat; float:right;}
.ss_jm{ padding-left:17px; padding-right:18px; padding-top:24px; width:930px; border-top:#d9d9d9 1px solid; border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid;}
.conte{ font-size:18px; line-height:27px; padding-left:10px; height:27px; border:#cccccc 1px solid; background-color:#f8fafd; width:606px;}
.cate{ width:277px; height:17px; border:#7f9db9 1px solid; padding-left:20px;}
.ss_sea{ text-align:right; padding-right:24px; color:#414141; font-size:14px;}
.ssbg{ height:35px;}
.ss_serch{ width:131px; height:30px; background:url(../../images/ss08.gif) top left no-repeat; border:0;}
.ss_mess{ background:url(../../images/ss_14.gif) top left no-repeat; margin-top:20px; width:869px; height:31px; line-height:31px; margin-left:20px; padding-left:10px;}
.ss_nos{ color:#fe1008; padding-left:10px; margin-top:10px; margin-left:20px; padding-bottom:200px;}
.ss_wt{ padding-left:15px; padding-right:150px; line-height:20px;}
.ss_wt dl dt{ margin-top:20px;}
.ss_wt dl dd{ padding-left:15px;}
/*8-13*/
.north{ width:970px; margin:0 auto;padding-top:75px}
.su_addres{ width:960px; margin:0 auto;}
.su_addres dl dt{ font-size:14px; margin-top:25px; color:#3f3e3d; font-weight:bold;}
.su_addres dl dd{ margin-top:10px; color:#666666;}
.su_addres dl dd img{ margin-right:15px;}
.lanse{ color:#041a76;}
.lo_top{ background:url(../../images/lo_03.gif) top left no-repeat; width:303px; height:10px;}
.lo_dow{ background:url(../../images/lo_23.gif) top left no-repeat; width:303px; height:10px;}
.lo_mid{ background:url(../../images/lo_05.gif) top left repeat-y; padding-bottom:22px;}
.login_form{ width:303px; text-align:center;}
.login_form ul li{ padding-top:10px;}
.lo_in{ width:218px; height:37px; background:url(../../images/lo_08.gif) top left no-repeat; border:0; color:#525252; font-size:13px; line-height:37px; padding-left:25px;}
.lo_in1{ width:218px; height:37px; background:url(../../images/lo_11.gif) top left no-repeat; border:0; color:#525252; font-size:13px; line-height:37px; padding-left:25px;}
.infor{ margin-top:35px; margin-left:10px;}
.manuals{ width:876px; border-bottom:#9b9b9b 1px solid; margin-left:30px; padding-top:10px;}
.manu_name{ font-size:18px; color:#373737;}
.bowse{ padding-bottom:40px;}
.bowse h4{ font-size:14px; color:#373737; background:url(../../images/fea_03.gif) center left no-repeat; padding-left:10px;}
.auto{ width:204px; height:47px; color:#373737; background-color:#efefef; text-align:center; padding-top:3px;}
.auto_img{ height:197px;}
.bowse dl dt{ float:left; width:204px; height:247px;}
.bowse dl dd{ width:20px; height:247px; float:left;}
.auto_midd{ padding-bottom:30px; width:940px; border-left:#dad7d7 1px solid; border-right:#dad7d7 1px solid;}
.manual_li ul li{ background:url(../../images/fea_15.gif) top left no-repeat; margin-bottom:17px; text-align:center; width:250px; height:164px; float:left; margin-left:17px;}
#manual_li0 ul li{font-size: 11.4px;}
.manu_li_img{ height:118px; padding-top:2px;}
.manual_li{ width:876px; margin-left:30px; font-size:12px; color:#9e9798; padding-bottom:100px;margin-top:20px;}
.pro_title_su{ font-size:12px; color:#c20002; margin-bottom:15px; padding-top:4px;font-family: "新宋体";}
.vedio_li_img{ height:139px; padding-top:3px;}
.sufor_top{ width:747px; height:20px; background:url(../../images/sufor1.jpg) top left no-repeat;}
.sufor_mid{ padding-bottom:50px; width:747px; background:url(../../images/sufor2.jpg) top left repeat-y;}
.sufor_dow{ width:747px; height:20px; background:url(../../images/sufor3.jpg) top left no-repeat;}
.sufor_name{ padding-left:10px; width:258px; text-align:right; padding-right:6px; font-size:12px; color:#000000; height:38px;}
.plea_sel{ width:298px; height:20px; border:#7f9db9 1px solid; line-height:20px;}
.plea_sel1{ width:298px; height:120px; border:#7f9db9 1px solid; line-height:20px;}
.subm{ width:72px; height:23px; background:url(../../images/sufor_08.gif) top left no-repeat; border:0;}

.follow{ color:#666666; line-height:24px;}
.follow dl dd{ padding-left:12px;}
.follow span{ color:#03F;}
.sitemap{ font-size:14px; color:#605e5f;}
.sie_bg{ padding-bottom:10px;}
.tip_sear{ color:#dddddd; width:527px; height:21px; font-size:14px; line-height:21px; border:#dddddd 1px solid;}
.tips{ font-size:14px;}
.tips a{ color:#00649a; text-decoration:underline;}
.sear_coun{ width:210px; float:left; margin-right:110px;color:#666666; margin-top:20px;}
.country{ color:#666666; width:210px; height:22px; border:#dddddd 1px solid;}
.sear_langu{ float:left;color:#666666; margin-top:20px;}
.sear_langu span{ margin-left:10px;}
.many_eys{ width:780px; border-bottom:#dddddd 2px solid; border-top:#dddddd 2px solid; margin-top:60px;}
.per_page a{ color:#0064c4;}
.per_page span{ float:right;}
.per_page{ height:35px; line-height:35px; border-bottom:#dddddd 1px dashed;}
.eyes_dl{ font-size:16px; padding-right:10px;color:#343233; padding-bottom:25px; border-bottom:#dddddd 1px dashed; margin-bottom:10px;}
.eyes_dl dl dt{ color:#0064c4; margin-top:10px; margin-bottom:2px;}
.eyes_dl dl dt{ margin-bottom:3px;}
.eye_wz{ color:#666666;}
.eyes_feny{ width:780px; margin-top:10px; margin-bottom:50px; text-align:center;}
.eyes_feny a{ color:#0064c4;}
.eyes_feny span{ margin-left:5px; margin-right:5px;}

.sup_bj{ width:802px; border-bottom:#999999 10px solid; border-left:#999999 10px solid; border-right:#999999 10px solid; padding:0px 32px 36px 16px;}
.pro_com{ color:#ffffff; text-align:center; font-weight:bold; width:190px; height:21px; border-bottom:#e5e5e3 1px solid; border-top:#e5e5e3 1px solid; border-left:#e5e5e3 1px solid; background-color:#1f1a17;}
.al_301{ color:#ffffff; text-align:center; font-weight:bold; width:67px; height:21px; border-bottom:#e5e5e3 1px solid; border-top:#e5e5e3 1px solid; background-color:#da251c;}
.bj_baid{ height:20px; text-align:center;}
.bj_baid1 td{ height:20px; text-align:center;}
.al_302{ text-align:center; font-weight:bold; height:20px; background-color:#c3c3c1;}
.bj_kong{ border-bottom:#e5e5e3 1px solid; border-top:#e5e5e3 1px solid; border-left:#e5e5e3 1px solid;}
.bj_img{ width:66px; height:108px; border-bottom:#e5e5e3 1px solid; border-left:#e5e5e3 1px solid;}
.bj_img1{ width:65px; height:108px; border-bottom:#e5e5e3 1px solid; border-left:#e5e5e3 1px solid; border-right:#e5e5e3 1px solid;}
.chaz{ height:10px; background-color:#999999; text-align:right; width:872px;}


.sea_sous h4{ margin-top:30px; margin-bottom:10px;}
#overlay{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;background: none repeat scroll 0% 0% #000;opacity: 0.5;display: none;}
#win{position:absolute;top:50%;width:872px;height:648px; background:url(../../images/tc.gif) top left no-repeat;margin:-102px 0 0 60px;display:none;}
h2{font-size:12px;height:18px;text-align:right;padding:5px;cursor:move;}
h2 span{cursor:pointer;padding:0 2px;}
.pro_compar{ background:url(../../images/pc.jpg) top left no-repeat; border:0; width:133px; height:17px; padding-top:5px; margin-bottom:10px; vertical-align:middle;}
.web_top{ padding-left:5px; background:url(../../images/colobg.jpg) top left no-repeat; width:525px; height:22px; line-height:22px; font-size:14px; font-weight:bold;}
.wen_con_down{ width:528px; border:#cccccc 1px solid;}
.sleect_one{ border:#7e9db9 1px solid; width:257px; height:17px;}
.web_choose{ margin-left:6px; margin-top:8px;}
.web_chioce{ margin-left:6px; margin-top:15px; margin-bottom:15px;}
.web_wird{ padding-left:6px; padding-right:25px; margin-bottom:10px;}
.web_con_an{ width:530px; margin-bottom:180px;}
.tl_top{ width:833px; height:53px; background-color:#ca0002; padding-top:10px;}
.tech_nical{ padding-top:20px; padding-bottom:10px; color:#ca0002; font-size:18px; width:798px; margin:0 auto;}
.tl_all{ width:833px;}
.tl_nr{ width:798px; margin:0 auto;}
.tl_input{ width:793px; margin:0 auto; height:430px; padding-left:5px; padding-top:10px;}
.dl_clo{ background:url(../../images/close.gif) top left no-repeat; width:92px; height:30px; border:0;}
.dl_close{ width:798px; margin:0 auto; text-align:right; padding-bottom:20px; padding-top:20px;}
#close{ padding-right:5px;cursor: pointer;
position: absolute;
text-align: center;
text-indent: -9999em;
width: 802px;
display: block;
background: url('../../images/images/close.png') no-repeat scroll 782px -2px transparent;
height: 20px; }

/*about*/
.about_all{ width:970px; margin:0 auto; margin-top: -30px;}
.about_all h3{font-family: "黑体";}
.last_news{ width:970px; margin:0 auto;}
.last_news ul li{ border-top:#cccccc 1px solid; padding-top:14px; padding-bottom:16px;}
.last_news ul li p{ color:#666666; text-indent:2em; font-size:14px; line-height:24px;}
.last_news h3{ border-bottom:#cccccc 2PX solid; padding-top:25px; padding-bottom:10px; font-size:22px; font-family:"黑体";}
.last_news711{ width:970px; margin:0 auto;}
.last_news711 ul li{ border-top:#cccccc 1px solid; padding-top:14px; padding-bottom:16px;}
.last_news711 ul li p{ color:#666666; text-indent:1em; font-size:14px; line-height:24px;}
.last_news711 h3{ border-bottom:#cccccc 2PX solid; padding-top:25px; padding-bottom:10px; font-size:22px; font-family:"黑体";}
.latest_left{ float:left; width:93px;}
.latest_left img{ width:73px; height:95px; border:#000000 1px solid;}
.latest_right{ float:left; width:812px;}
.latest_right dl dt{ font-weight:bold; margin-bottom:3px;}
.latest_right dl dd{ line-height:20px;}
.view1{ color:#666666;}
.view{ color:#b4b4b4}
.su_addres1{ margin:0 auto;}
.su_addres1{ width:960px; margin:0 auto; padding-left:10px;}
.su_addres1 dl dt{ font-size:14px; margin-top:25px; color:#3f3e3d; font-weight:bold;}
.su_addres1 dl dd{ margin-top:10px; color:#666666;}
.su_addres1 dl dd img{ margin-right:15px;}



/*News*/

#resettabs1 {
width:100%;
font-size:14px;
overflow:hidden;
}
.tools1{ padding:12px 0 28px 0; width:965px; border-top:#d9d9d9 1px solid; border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid;}
.tools_left1{ float:left; width:636px;}
.tools_right1{ float:right; width:195px;}
.tools_right1 ul li{ line-height:24px; color:#76797c;}
.resetmain1{
clear:both;
padding-top:20px;
border-top: 1px solid #dddddd;
margin-top:-1px;
position:relative;
width: 963px;
}
.resetmain2{
clear:both;
padding-top:20px;
border-top: 1px solid #dddddd;
margin:0 15px;
position:relative;
width: 933px;
}
.autel1{ padding-left:8px; padding-right:32px; width:930px; margin:0 auto; font-size:24px; color:#444444; padding-bottom:15px; padding-top:80px;}
.autel2{ padding-left:0; padding-right:32px; width:930px; margin:0 auto; font-size:14px; color:#414141; padding-bottom:0; padding-top:5px;}
.discuss1{width:960px; margin:0 auto; color:#ff0000; font-size:14px; margin-top:4px;}
.discuss1 span{ color:#a2a2a2; font-size:12px}
.for_wel_ydl1{ padding-left:32px; padding-right:36px; padding-top:10px; padding-bottom:10px; width:899px; height:34px; background:url(../../images/autel1a.jpg) top left no-repeat; color:#333; font-size:14px;}
.for_wel_ydl1 img{ border:#ccc solid 1px;}
.for_wel_ydl1font1{
	font-size:14px;
	font-weight:bold;
}
.Edit_Profile{
	width:900px; padding:0 30px 10px 30px;
}
.Edit_Profile h4{
	font-size:18px;
	color:#373737;
	font-weight:normal;
	padding-left:16px;
	background:url(../../images/dot_2.jpg) no-repeat left center;
}
.Edit_Profile h5{
	font-size:14px;
	color:#373737;
	font-weight:normal;
	padding-left:16px;
}

.resettt1{ height:25px;}
#resettabs01 {
width: 898px;

padding-left:10px; font-size:14px;
}
.resetmenu01{
width: 509px;
 height:40px;

 position:absolute;
 z-index:99999;
 padding-left:28px;
 font-size:14px;

}
.resetmenu01 li{

display:block;
float: left;
line-height:39px;
padding-left:10px;
padding-right:10px;
height:39px;
color:#333333;
text-align: center;
cursor:pointer;

 border-top:#ffffff 1px solid;
}
.resetmenu01 li.hover{

 background-color:#ffffff;
 height:39px;
color:#333333;
border-left:#dddddd 1px solid;border-top:#dddddd 1px solid;border-right:#dddddd 1px solid;
}
#resetmain01 ul{
display: none;
}
#resetmain01 ul.block{
display: block;
}
.input_support{
	border:#b9c9d9 solid 1px;
	height:19px;
	line-height:19px;
}
.textarea_support{
	border:#b9c9d9 solid 1px;
}
.textarea_support1{
	border:#dad7d7 solid 1px;
}
.border_bottom{
	border-bottom:#e3e3e3 solid 1px;
}
.table_from td{
	font-size:12px;
	padding:5px;
}
.hongs1{ color:#ff0000;}
.user_left1{ float:left; width:667px; padding-left:20px;}
.user_right1{ float:right; padding-right:20px;}
.table_user_info{
	float:left;
}
.table_user_info td{
	font-size:14px;
	padding:3px;
}
.table_user_info img{
	border:#ccc solid 1px;
}
.user_info{
	float:left;
	padding-left:20px;}
.user_info td{
	padding:3px;}
.user_info img{
	border:#ccc solid 1px;
}
.font24black{
	font-size:24px;
	font-weight:bold;
	color:#000000;
	line-height:18px;
}
.font24black1{
	font-size:24px;
	font-weight:normal;
	color:#000000;
}
.font18gray{
	font-size:18px;
	font-weight:bold;
	color:#9a9a9a;
	line-height:18px;
}
.font18black{
	font-size:18px;
	color:#030303;
}
.font12gray{
	font-size:12px;
	color:#9a9a9a;
}
.font14black{
	font-size:14px;
	color:#333;
}
.font14gray{
	font-size:14px;
	color:#666666;
}
.font12red{
	font-size:12px;
	color:#ff0000;
}
.font14red{
	font-size:14px;
	color:#924343;
}
.font14red1{
	font-size:14px;
	color:#ff0000;
}
.no_info{
	padding:10px 30px;
}
.no_info .p2border{
	font-size:12px;
	padding-top:10px;
	margin-top:5px;
	border-top:#d3d3d3 solid 1px;
}
/**/
.regi1{ width:950px; margin:0 auto;}
.commu_top1{ background:url(../../images/commutop.jpg) top left no-repeat; height:8px; width:950px; overflow:hidden;}
.commu_dowm1{ background:url(../../images/commudo.jpg) bottom left no-repeat; height:8px; width:950px;}
.commu_midd1{ padding-bottom:30px; padding-top:20px; width:950px; background:url(../../images/commumi.jpg) top left repeat-y;}
.commu_left1{ float:left; width:325px; font-size:14px; color:#888888; padding-left:25px;}
.commu_right1{ width:518px; float:left; color:#333333;display:inline; padding:0 0 0 50px;}
.commu_right1 h3{ font-size:16px;}
.ready{ font-size:14px; border-bottom:#e3e3e3 1px solid; padding-bottom:128px; padding-top:10px;}

/*4-24*/
/* .crbt{
	background:url(../../images/btn_autelid2.jpg) top left no-repeat;
	width:154px;
	height:33px;
	color:#ffffff;
	cursor:pointer;
	font-size:15px;
	border:0;
	} */
/* .canbt{
	background:url(../../images/btn_cancel12.jpg) top left no-repeat;
	width:98px;
	height:33px;
	color:#404040;
	cursor:pointer;
	font-size:14px;
	border:0;
	} */
.sibt{
	background:url(../../images/btn_signin.gif) top left no-repeat;
	width:95px;
	height:25px;
	color:#ffffff;
	cursor:pointer;
	font-size:14px;
	border:0;
	}
.nexbt{
	background:url(../../images/nexbt.gif) top left no-repeat;
	width:98px;
	height:33px;
	color:#ffffff;
	cursor:pointer;
	font-size:14px;
	border:0;
	}
.create_bt{
	background:url(../../images/btn_create2.jpg) top left no-repeat;
	width:203px;
	height:32px;
	color:#404040;
	cursor:pointer;
	font-size:14px;
	border:0;
	}
.createbt{
	background:url(../../images/btn_autel.gif) top left no-repeat;
	width:201px;
	height:29px;
	color:#ffffff;
	cursor:pointer;
	font-size:14px;
	border:0;
	}
.sign_bt{
	background:url(../../images/btn_signin2.jpg) top left no-repeat;
	width:120px;
	height:36px;
	color:#404040;
	cursor:pointer;
	font-size:15px;
	border:0;
	}
.dibu{
	width:970px;
	margin:0 auto;
	border-top:#b2b2b2 1px solid;
	padding-top:14px;
	line-height:12px;
	color:#646464;
	}
.dibu a{
	color: #808080;
}
.dibu a:HOVER{
	color: #c20002;;
}
.banquan span{
	float:right;
	}
.banquan{
	padding-top:10px;
	}
.year{
/* 	width:76px;
	height:25px;
	background:#dcdcdc;
	line-height:25px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#C20002; */
	}
.chano_xj h4{
	margin-top:6px;
	font-size:14px;
	color:#666666;
	}
.last_news_ry{ width:970px; margin:0 auto;}
.last_news_ry li{float:left; margin-left:26px; margin-right:26px; margin-top:29px;}
.last_news_ry h3{ border-bottom:#cccccc 3PX solid; padding-bottom:10px; font-size:22px;font-family: "黑体";padding-top: 25px; }
.jiaz_left{ float:left; width:361px;}
.jiaz_right{ float:right; width:515px; font-size:14px; color:#656565;}
.jiaz_right h4{ margin-top:26px;}
.jiazg{ padding-top:52px; padding-bottom:150px;}
.linax_us_left{ width:455px; float:left;}
.linax_us_right{ width:460px; float:right; margin-right:22px; font-size:14px; color:#656565; line-height:30px;}
.linax_us_right dt a{ font-size:12px; color:#0066bc; text-decoration:underline;}
.linax_us{ padding-top:32px; padding-bottom:100px;}
.yuanj{ padding-top:30px; padding-bottom:270px;}
.yuanj_left{ float:left; width:419px;}
.yuanj_right{ float:right; width:499px; font-size:14px; color:#656565; margin-right:30px; line-height:28px;}
.yuanj_right p{ text-indent:2em; font-weight:bold; line-height:28px;}
.yuanj_right h4{ margin-top:28px;} 
.zhil{  font-size:16px; padding-top:32px; font-weight:bold; color:#656565; line-height:30px;}
.daiyu dt{ font-size:14px; color:#C20002; font-weight:bold; margin-top:23px;}
.daiyu{ line-height:23px; font-size:14px; color:#666666; padding-bottom:40px;}
.zhp_ss{ width:436px; height:61px; border:#dcdcdc 1px solid; float:left; background:url(../../images/suok.gif) top left no-repeat; padding-left:214px; padding-top:33px;}
.zhp_dd{ float:right; width:287px; height:74px; border:#dcdcdc 1px solid; font-size:18px; color:#990000; font-weight:bold; padding-left:16px; padding-top:20px; }
.zsear{ width:340px; height:36px; border:#d6d6d6 1px solid; padding-left:10px;}
.bsous{ width:64px; height:38px; border:0; background:url(../../images/bss.gif) top left no-repeat; cursor:pointer;}
.zpsearch{padding-top:32px;}
.zhaop_xq{ width:922px; border:#dedede 1px solid; padding-top:25px; padding-left:23px; padding-right:23px; padding-bottom:25px;}
.zhp_left{ float:left; width:452px; border:#dedede 1px solid;}
.zhp_right{ float:right; width:452px; border:#dedede 1px solid;}
.zhiwei{ margin-left:13px; margin-right:13px; /* font-size:14px; */ color:#666666; padding-bottom:30px;}
.zhiwei h4{ font-size:18px; color:#990000; line-height:30px; margin-top:16px;}
.zhiwei p{ font-size:12px; line-height:20px; margin-bottom:15px;}
.zhiwei dt{ line-height:27px;}
.zhiwei dd{ border-top:#ccc 1px dashed; text-align:right; padding-top:8px;}
.zhiwei dd a{ color:#003399;}
.rc_zhanl{ border-top:#dedede 1px solid; padding-left:13px; padding-right:40px; padding-top:23px; padding-bottom:30px; color:#666666; /* font-size:14px; */}
.rc_zhanl h4{ font-size:18px; color:#990000; line-height:30px; margin-top:16px;}
.rc_zhanl h5{ font-size:14px; margin-top:10px;}
.rc_zhanl dd{ border-top:#ccc 1px dashed; text-align:right; padding-top:8px;}
.rc_zhanl dd a{ color:#003399;}
.rc_zhanl p{ margin-bottom:20px;}
.youq_link{ border-top:#dedede 1px solid; padding-left:40px; padding-right:40px; padding-top:23px; color:#666666; /* font-size:14px; */ padding-bottom:58px;}
.youq_link h4{ font-size:18px; color:#990000; line-height:30px;}
.youq_link dt{ line-height:27px;}
.rc_zhanl2{ border-top:#dedede 1px solid; padding-left:30px; padding-right:30px; padding-top:23px; padding-bottom:24px; color:#666666; /* font-size:14px; */}
.rc_zhanl2 h4{ font-size:18px; color:#990000; line-height:30px; margin-top:16px;}
.rc_zhanl2 h5{ font-size:14px; margin-top:10px;}
.rc_zhanl2 dd{ border-top:#ccc 1px dashed; text-align:right; padding-top:8px;}
.rc_zhanl2 dd a{ color:#003399;}
.rc_zhanl2 p{ margin-bottom:15px;}
.rc_zhanl2 dt{ font-weight:bold; line-height:27px;}
.chengz{ width:968px; border:#dedede 1px solid; margin-top:25px;}
.chengz h4{ font-size:24px; color:#cc0000; height:65px; line-height:65px; border-bottom:#dedede 1px solid; text-align:center;}
.cz1{ border-bottom:#dedede 1px dashed; margin-left:30px; margin-right:30px; padding-top:23px; padding-bottom:52px;}
.cz2{ margin-left:30px; margin-right:30px; padding-top:23px; padding-bottom:52px;}
.new_tec{ width:914px; padding-top:42px; border:#dedede 1px solid; margin-top:20px; padding-left:30px; padding-right:24px; padding-bottom:24px;background-color: #f4f4f4;}
.gongsinl{ width:481px; float:left;}
.gongsinr{ width:404px; float:right;}
.n_c_x span{ float:right;}
.n_c_x{ font-size:16px;}
.n_c_x strong a{ text-decoration:underline; color:#000; line-height:30px;}
.n_c_x span a{font-size:14px; line-height:30px;}
.n_c_x a:HOVER{ text-decoration:underline; }
.cg_pic{ float:left; width:203px;}
.cg_wor{ float:right; width:178px;}
.cg_wor a:HOVER{text-decoration: underline;}
.cangu{ border-bottom:#dedede 1px solid; padding-left:10px; padding-bottom:10px;}
.cangu1{ padding-left:10px; padding-bottom:10px; padding-top:10px;}
.riqi{ float:left; width:104px; font-size:15px; color:#666666; font-weight:bold;}
.nier{ float:right; width:864px; font-size:14px; color:#666666;}
.nier h4{ font-size:16px;}
.nier h4 a{ color:#00649d;text-decoration: none;}
.nier a:HOVER{ color:#00649d;text-decoration: underline;}
.xinw_table dt{ padding-top:20px; padding-bottom:20px;}
.xinw_table dd{ border-bottom:#dedede 1px dashed;}
.ncx a{ text-decoration:underline;}
.thrid_new{ border:#dedede 1px solid; width:898px; padding-left:35px; padding-right:35px;margin-top: 15px; padding-bottom: 35px;}
.next_new{ color:#004781; font-size:14px; margin-top:20px;}
.next_new a{ color:#999999;}
.next_new1{ color:#004781; font-size:14px; margin-top:20px;}
.next_new1 a{ color:#999999;}
.mt_gs{
	float:left;
	width:143px;
	height:246px;
	background:url(../../images/mtgsbg.gif) top right no-repeat;
	font-weight:bold;
	font-size:13px;
	color:#000;
	}
.mt_gs a{
	color:#000;
	}
.dahui{
	width:280px;
	float:left;
	height:246px;
	background:url(../../images/mtgsbg.gif) top right no-repeat;
	font-size:13px;
	padding-left:36px;
	padding-right:36px;
	color:#666666;
	line-height:20px;
	}
.dahui1{
	width:280px;
	float:left;
	height:246px;
	
	font-size:13px;
	padding-left:36px;
	padding-right:36px;
	color:#666666;
	line-height:20px;
	}
.dahui h4,.dahui1 h4{
	line-height:28px;
	}
.GO{
	background:url(../../images/gobg.gif) top left no-repeat;
	width:31px;
	height:19px;
	border:0;
	}
.yeshu{
	width:35px;
	height:15px;
	border:#000 1px solid;
	}
.fen_page{
	color:#000;
	text-align:right;
	}
.fen_page a{
	color:#000;
	}
.zhiw_ms{
	border-bottom:#d2d2d2 1px solid;
	margin-top:18px;
	}
.zhiw_ms dt{
	height:25px;
	background:#efefef;
	line-height:25px;
	padding-left:10px;
	}
.zhiw_ms dt strong{
	font-size:14px;
	color:#cc0000;
	}
.zhiw_ms dt a{
	color:#003399;
	}
.zhiw_ms dd{
	padding-left:10px;
	line-height:16px;
	margin-top:10px;
	margin-bottom:40px;
	}
	
	.zhiw_ms1{
	margin-top:18px;
	float: left;
	}
.zhiw_ms1 dt{
	height:25px;
	background:#efefef;
	line-height:25px;
	padding-left:10px;
	width: 960px;
	}
.zhiw_ms1 dt strong{
	font-size:14px;
	color:#cc0000;
	}
.zhiw_ms1 dt a{
	/* color:#003399; */
	}
.zhiw_ms1 dd{
	padding-left:10px;
	line-height:16px;
	margin-top:10px;
	margin-bottom:40px;
	}
.zhuw_ll{
	width:742px;
	position:absolute;
	left:28%;
	z-index: 5000;
	display: none;
	}
.ll1{
	background:url(../../images/ll1.gif) top left no-repeat;
	width:702px;
	height:22px;
	font-weight:bold;
	padding-left:20px;
	padding-top:14px;
	padding-right:20px;
	line-height:14px;
	}
.ll1 span{
	float:right;
	font-size:14px;
	
	}
.ll2{
	width:728px;
	background:url(../../images/ll2.gif) top left repeat-y;
	padding-top:16px;
	padding-left:14px;
	}
.ll3{
	width:742px;
	background:url(../../images/ll3.gif) top left repeat-y;
	height:40px;

	}
.lfya{
	
	font-weight:bold;
	background:#e5e5e5;
	
	}
.ll2 tr{
	
	}
.ll2 table{
	margin:0;
	padding:0;
	list-style:none;
	}
.padd10{
	padding-bottom:12px;
	padding-top:12px;
	padding-left:25px;
	padding-right:14px;
	color:#666666;
	}
.ll_yw{border-bottom:#d2d2d2 1px solid; text-align:right;}
.ll_yw a{ font-size:14px; color:#004781; text-decoration:underline;}
.ship{
	width:690px;
	margin:0 auto;
	}
.new_n_p p{
	text-indent:2em;
	font-size:14px;
	line-height:32px;
	}
.new_n_p{
	padding-bottom:40px;
	padding-top:40px;
	}
.zzh_left{
	width:390px;
	float:left;
	}
.zzh_right{
	float:right;
	width:532px;
	padding-top:64px;
	}
.guon_p p{
	text-indent:2em;
	color:#666666;
	margin-top:18px;
	}
.cp_center li{
	float:left;
	
	text-align:center;
	margin-left:20px;
	margin-right:10px;
	}
.cp_center li a{
	color:#990000;
	display:block;
	}
/* .cp_center{
	padding-top:30px;
	} */
.zzh_left {
  float: left;
  width: 390px;
}
.zzh_right {
  float: right;
  padding-top: 64px;
  width: 532px;
}

.video_li ul li{ margin-bottom:17px; text-align:center; width:275px; height:220px; float:left; margin-left:17px;}
#video_li0 ul{
display: none;
}
#video_li0 ul.block{
display: block;
}
.video_li_img{ height:145px; padding-top:2px;}

.video_li{ width:876px; margin-left:20px; font-size:12px; color:#9e9798; padding-bottom:100px;}

/**add by zxc 7.18*/
.small_pic{
	float: left;
    margin-right: 5px;
    margin-top: 15px;
}


.video_li{ width:876px; margin-left:20px; font-size:12px; color:#9e9798; padding-bottom:100px;}
#apply{background-color: #D9D9D9;border-width: 1px;height: 25px;width: 98px;color: gray;margin-left: 300px;margin-top: 15px;}
.falvli{margin-top: 20px;}
.falvli li{border: 0px;}
.falvli h3{border-bottom: 2px solid #CCCCCC; font-family: "黑体";font-size: 22px;padding-bottom: 10px;padding-top: 25px;}
.falvli ul h4{ font-family: "黑体";font-size: 17px;margin-bottom: 3px;}
.falvli ul{margin-top: 15px;}
.falvli ul li{margin-bottom: 10px;}
#prev-arrow{cursor: pointer;}
.next_f {position: absolute;text-align: right;}
#html-carousel {margin-bottom: 10px;float: left;width: 968px;margin-top: 63px;border: 1px solid #DEDEDE;}
.carousel-component {padding: 0px;color: #618CBE;position: relative;overflow: hidden;visibility: visible;}
.carousel-component .carousel-clip-region {margin: 0px auto;position: relative;}.carousel-component ul.carousel-list {margin: 0px;padding: 0px;width: 1e+7px;position: relative;z-index: 999;}
#html-carousel .carousel-list li {width: 222px;border-right: 1px solid #DADADA;padding: 15px 10px 10px;margin: 0px;color: #000;font-size: 12px;line-height: 24px;text-align: center;font: 10px verdana,arial,sans-serif;float: left;list-style: none outside none;overflow: hidden;}
#html-carousel .carousel-list li img {border: 1px solid #999;display: block;width: 222px;height: 148px;}
#prev-arrow-container {margin: 0px;padding: 0px;float: left;height: 63px;position: absolute;top: 22px;left: 887px;}
#next-arrow-container {margin: 0px;padding: 0px;float: left;height: 63px;position: absolute;top: 22px;left: 929px;}
.showImg{border: 2px solid black;}
.weixin_cn{width:26px;height:21px;background-image:url("../../images/weixin.png"); float:right;display: block;}


/*
	20140806
*/

/*
	TYPOGRAPHY
*/
ul											{ list-style: square inside; }
a, a:visited								{ text-decoration: none; }
blockquote									{ padding: 0 20px; margin-left: 20px; border-left: 20px solid #ccc; font-size: 14px; 
									  		  font-family: Georgia, serif; font-style: italic; margin-top: 10px;}

/*
	SLIDER
*/
.slider-wrap								{ width: 455px; position: absolute; }			
.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 455px; height: 302px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 455px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ margin-right: 5px; }
#movers-row									{ margin: -68px 0 0 112px; }
#movers-row div								{ width: 20%; float: left; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{ background: url(../images/transpBlack.png); padding: 10px; height: 30px; 
											  margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; width: 88px; margin-top: -6px; 
											  position: relative; padding-top: 15px; z-index: 9999; }
.active-thumb 								{ background: transparent url(../images/icon-uparrowsmallwhite.png) top center no-repeat; }


#nav_ul {
  height: 30px;  list-style-type: none; width:970px;

line-height:30px;overflow:hidden; background:url(../../images/menubg.gif) top left repeat-x; margin:0 auto;
}

#nav_ul a {
 display: block; 
 text-align:center; 
 padding:0px 27px;
 font-weight:bold; 
 font-size:15px;
}

#nav_ul a:link  {
 color:#EEE; text-decoration:none;
}
#nav_ul a:visited  {
 color:#EEE;text-decoration:none;
}
#nav_ul a:hover  {
 text-decoration:none;font-weight:bold; background:url(../../images/menu_onbg.gif) top left repeat-x; color:#e40218;
}
#nav_ul li {
 float: left;
}
#nav_ul li ul {
	line-height: 24px; 
	list-style-type: none;
	text-align:left;
	left:-999px;
	width: 970px; 
	position: absolute;
}
#nav_ul li ul li{
  	float: left;
}
#nav_ul li ul a{
	display: block;
	font-size:12px;
}

#nav_ul li ul a:link  {
 /* color:#F1F1F1; */ text-decoration:none;
}
#nav_ul li ul a:visited  {
 color:#F1F1F1;text-decoration:none;
}
#nav_ul li ul a:hover  {
 color:#FFF;text-decoration:none;font-weight:normal;
}

#nav_ul li:hover ul {
 left:50%;
 width:970px;
 margin-left:-485px;
}

#nav_ul li.sfhover ul {
 left:50%;
 width:970px;
 margin-left:-485px;
 
}

#content {
 clear: left;
}
.cp_center li{
	float:left;
	
	text-align:center;
	margin-right:15px;
	margin-left:15px;
	}
#nav_ul li.sfhover ul .cp_center ul{
	margin:0;
	left:0;
	}
#nav_ul li li .cp_center li a{
	color:#990000;
	display:block;
	padding-top:10px;
	font-weight:normal;
	padding-left:0px; padding-right:0px;
	
	}
.cp_center{
	/* padding-top:30px; */
	background:url(../../images/cen.gif) top left repeat-x;
	height:335px;
	width:970px;
	}
#nav_ul li li .cp_center li a:hover{
	cursor:pointer;
	background:none;
	font-weight:normal;
	}
#nav_ul li li dl{ width:140px; float:left; margin-top:20px; margin-left:10px;}
#nav_ul li li dl dt{ font-weight:bold; color:#000; height:30px;}
#nav_ul li li dl dd{background:url(../../images/bullets.gif) no-repeat 0px 9px; margin-top:3px; padding-left:10px;font-family: Arial, sans-serif; color:#555555; list-style:none; width:130px; }
#nav_ul li li .mt_gs a{
	color:#000;
	background:none;
	padding:0;
	margin:0;
	text-align:left;
	}
#nav_ul li li .mt_gs a:hover{
	font-weight:bold}
	
	
	
.wrapwx{ float:left;}
.wrapwx .box{ background:url(../../images/weixin.png) top left no-repeat;width:26px;height:21px;float:left;}
.wrapwx .box:hover h1{display:block;}
.wrapwx .box h1{background:#333;color:white;display:none; width:95px; height:95px; margin-top:-102px; margin-left:-40px;}
.guanzhu{
	background:url(../../images/gz.gif) top left no-repeat;
	width:56px;
	height:20px;
	cursor:pointer;
	border:0;
	}

#nav_ul li li div dl dd a{
 text-align:left; 
 font-size:12.5px;
 padding-left:0px;
 color: #555555;
 font-weight:normal;
	}
#nav_ul li li div dl dd a:link{
 text-align:left; 
 font-size:12.5px;
 padding-left:0px;
 color: #555555;
 font-weight:normal;
	}
#nav_ul li li div dl dd a:hover{
 	background:none;
 	text-decoration:underline;
	}
#nav_ul li li .dahui  a:hover{
	background:none;
	color:#555555;
	text-decoration:underline;
}		
#nav_ul li li .dahui1  a:hover{
	background:none;
	color:#555555;
	text-decoration:underline;
}
#nav_ul li li a:hover{
 	background:none;
 	text-decoration:underline;
	}
.selectImg{
border:2px solid #707070
}

.zhiw_ms1 dl dt .zhaopin_a :hover{
color:#e60012;
}