 <#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />
<@fmt.setBundle basename="backstage"/>
 
 <form class="validate" id="editForm">
<div class="input">
 	<input type="hidden" name="menu.id" value="${menu.id}" />
   <table cellspacing="1" cellpadding="3" width="100%" class="form-table">
     <tr> 
       <th><label class="text"><@fmt.message key="common.name" /></label></th>
       <td><input type="text" name="menu.title" id="name"   maxlength="60" value="${menu.title}"  dataType="string" isrequired="true"/>       </td>
     </tr>
     <tr>
       <th><label class="text"><@fmt.message key="syssetting.authorityman.managertype" /></label></th>
       <td>
		 <select name="menu.menutype">
		  	<option value="2" <#if menu.menutype==2>selected</#if> ><@fmt.message key="system.menu.setting.application" /></option>
			 <option value="1" <#if menu.menutype==1>selected</#if>><@fmt.message key="system.menu.setting.system" /></option>
			
		 </select>
		</td>
     </tr>     
     <tr>
       <th><label class="text"><@fmt.message key="cententman.overallman.fathermenu" /></label></th>
       <td>

		<select name="menu.pid"  id="pid">
		<option value="0"><@fmt.message key="cententman.overallman.topmenu" /></option>
 		<#assign children=menuList />
		<#assign level=1 />
		<#assign pid=menu.pid />
		<#include 'select_children.html' />  
		</select>	</td>
     </tr>
     <tr>
       <th><label class="text">URL</label></th>
       <td>
		 <input type="text" name="menu.url" id="url" value="${menu.url}"   dataType="string" isrequired="true"/>
		</td>
     </tr>
     <tr>
       <th><label class="text">Target</label></th>
       <td>
		 <input type="text" name="menu.target" id="target" value="${menu.target!''}" />
		</td>
     </tr>     
     <tr>
       <th><label class="text"><@fmt.message key="cententman.cms.sort" /></label></th>
       <td>
       <input type="text" name="menu.sorder" value="${menu.sorder}" style="width:50px"   dataType="int" isrequired="true"/>       </td>
     </tr>
   </table>
 </div>
	<div class="submitlist" align="center">
	 <table>
	 <tr><td >
	           <input  type="button"  value=<@fmt.message key="common.btn.ok" /> class="submitBtn" id="saveEditBtn"/>
	           <input name="reset" type="reset"  value=<@fmt.message key="common.btn.reset" /> class="submitBtn"/>
	   </td>
	   </tr>
	 </table>
	</div>   
   </form>
<script type="text/javascript">
$(function(){
	$("#editForm").validate();
});
</script>
