<#assign fmt=JspTaglibs["http://java.sun.com/jsp/jstl/fmt"] />
<@fmt.setBundle basename="backstage"/> 
<#list children as menu> 
<tr>
    <td style="padding-left:${(level+1)*20}px;font-weight: bold;" align="left">${menu.title}</td>
    <td>${menu.url}</td>
    <td><#if menu.menutype==1><@fmt.message key="syssetting.toolman.sysmenu" /><#else><@fmt.message key="syssetting.toolman.applicationmenu" /></#if></td>
    <td>
		 <input type="hidden" name="menu_ids" value="${menu.id }"/>
	     <input type="text" name="menu_sorts" style="width:30px" value="${menu.sorder }"/>
    </td> 
    <td> ${menu.target!''} </td> 
    <td><a href="javascript:;" parentid="${menu.id}" class="addBtn"><@fmt.message key="common.btn.add" /></a></td>
    <td><a href="javascript:;" menuid="${menu.id}" class="editBtn"><@fmt.message key="common.list.mod" /></a></td>
    <td>
    <a href="javascript:;" menuid="${menu.id}" class="delBtn"><@fmt.message key="common.list.del" /></a>
     
    </td>
</tr>
	<#if menu.hasChildren>
		<#assign level=level+1 />
	  	<#assign children=menu.children /> 
		<#include 'list_children.html' />
  		<#assign level=level-1/>
	</#if>
</#list>