<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/My97DatePicker/WdatePicker.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
.theme {
width:650px;
}
.declar {
width:240px;
}
.organ {
width:250px;
}
</style>
<div class="account_right">
    	<h4 style="padding-right:0px">${bundle("rga.management.new")}
    	<span>
    	<input style="margin-right: 0px" type="button" value="${bundle('common.return.name')}" name="previosBtn" id="previosBtn" class="renew3" />
    	</span>
    	</h4>
        <div class="my_products_table">
	        <form id="addCustomerComplaint" name="addCustomerComplaint" method="post"  enctype="multipart/form-data">
        	
        	<input type="hidden" name="proTypeCode" id="proTypeCode" />
        	<table style="width:790px" border="1" bordercolor="#cccccc">
					  <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("product.producttypevo")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="2" id="selectProType">
					    <select class="easyui-combobox" style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:240px" name="proTypeCode2" id="proTypeCode2" >
						    <option value="-1">${bundle("rga.management.select.or.enter")}</option>
							 <#list productTypeList as item >
								<option value="${item.name}" <#if proTypeCode?? && proTypeCode == item.code > selected="selected"</#if>>${item.name}</option>
							</#list> 
							<option value="-2">${bundle("rga.management.select.change.input")}</option>
						</select> 
					




					</td>
					    <td  height="40" style="padding-left:12px;">${bundle("sale.query.customer.serial")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="3"><input name="serialNo" id="serialNo" type="text"  maxlength="120" class="organ"    /></td>
					    </tr>
					  <tr>
					  
					  <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("customer.plat.soft.warranty")}</td>
					    <td  colspan="2">
					    <input  name="proStartDate" id="proStartDate" type="text" value="" readonly  class="organ" style="width:75px"/>-
					    <input  name="proEndDate" id="proEndDate" type="text" value=""  readonly  class="organ" style="width:100px"/>
					    </td>
					    <td  height="40" style="padding-left:12px;">${bundle("myproducts.exp.name")}</td>
					    <td  colspan="3">
					    <input  name="updateStartDate" id="updateStartDate" type="text" value="" readonly  class="organ" style="width:75px"/>-
					    <input  name="updateEndDate" id="updateEndDate" type="text" value=""  readonly  class="organ" style="width:100px"/>
					    </td>
					    
					  </tr>
					  
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.customer.name")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="2"><input  name="customerName" id="customerName" type="text"  maxlength="120" class="declar" /></td>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.customer.company")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="3"><input name="company" id="company" type="text"  maxlength="120" class="organ" /></td>
					  </tr>
					  
					   <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.customer.telphone")}</td>
					    <td  colspan="2"><input  name="telphone" id="telphone" type="text"  maxlength="120" class="declar" /></td>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.customer.email")}</td>
					    <td  colspan="3"><input name="email" id="email" type="text"  maxlength="120" class="organ" /></td>
					  </tr>
					  
					  
					  
					  <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.customer.address")}</td>
					    <td  colspan="6"><input  name="address" id="address" type="text" value=""   class="theme"/></td>
					  </tr>
					   <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.return.reason")}</td>
					    <td  colspan="6"><textarea style="height:100px" name="reason" id="reason" type="text" value=""   class="theme">Spoke to  </textarea></td>
					  </tr>
					  
					  
					   <tr>
					    <td height="40" style="padding-left:12px;">${bundle("rga.management.rga.date")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="2"><input  name="rgaDate" id="rgaDate" type="text"  maxlength="120" class="declar Wdate" style="height:40px;border:0px"  onfocus="WdatePicker({lang:'en'})" readonly/></td>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.trackNum")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="3"><input name="trackingNum" id="trackingNum" type="text"  maxlength="160" class="organ" style="height:40px;border:0px" /></td>
					  </tr>
					  
					  
					   <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.receiveDate")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="6"><input name="receiveDate" id="receiveDate" type="text"  maxlength="120" class="declar Wdate"  style="height:40px;border:0px" onfocus="WdatePicker({lang:'en'})" readonly/></td>
					  </tr>
					  
					  
					    <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.cable")}</td>
					    <td  colspan="2">
					      &nbsp;&nbsp;<input type="radio" name="cableFlag" id="cableFlag" value="1"/>&nbsp;${bundle("rga.management.radio.yes")}
					      &nbsp;&nbsp;<input type="radio" name="cableFlag" id="cableFlag" value="0" checked="true"/>&nbsp;${bundle("rga.management.radio.no")}
					    
					    </td>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.connector")}</td>
					    <td  colspan="3">
					     &nbsp;&nbsp;<input type="radio"  name="connectorFlag" id="connectorFlag" value="1"/>&nbsp;${bundle("rga.management.radio.yes")}
					     &nbsp;&nbsp;<input type="radio"  name="connectorFlag" id="connectorFlag" value="0" checked="true"/>&nbsp;${bundle("rga.management.radio.no")}
					    
					    </td>
					  </tr>
					  
					 <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.other")}</td>
					    <td  colspan="6"><input  name="otherPart" id="otherPart" type="text" value=""  class="theme"/></td>
					 </tr>
					  
					   <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.solution")}</td>
					    <td  colspan="6"><textarea style="height:100px" name="solution" id="solution" type="text" value=""  class="theme"></textarea></td>
					  </tr>
					  
					    <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.return.date")}</td>
					    <td  colspan="2"><input  name="returnDate" id="returnDate" type="text" style="height:40px;border:0px"  maxlength="120"  readonly class="declar Wdate"  onfocus="WdatePicker({lang:'en'})"/></td>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.trackNum2")}</td>
					    <td  colspan="3"><input name="returnNum" id="returnNum" type="text"  maxlength="120" class="organ" /></td>
					  </tr>
					  
					  <tr>
					  <td  height="40" style="padding-left:12px;">${bundle("sales.query.status")}</td>
					    <td  colspan="6">
					    	&nbsp;&nbsp;<input type="radio"  name="status" id="status" value="1" checked="true"/>&nbsp;${bundle("sales.query.status.open")}
					     	&nbsp;&nbsp;<input type="radio"  name="status" id="status" value="0" />&nbsp;${bundle("sales.query.status.close")}
					    </td>
					  </tr>
					  
					  <tr >
					 
					    <td colspan="7" align="right" style="padding-bottom:20px;">
					    	<p align="center"><span  id="operationResultTip" style="font-size:20px;color:red;">&nbsp;</span></p>
				    		<input  type="button" value="${bundle('common.btn.ok')}" name="subBtn" id="subBtn" class="renew3" style="margin-right:20px;" />
				    		<input  type="reset" name="canelID" id="canelID"  value="${bundle('common.btn.reset')}" class="renew3" />

					    </td>
					  </tr>
					</table>
			</form>
       </div>
</div>

<!--中间结束-->
<div style=" height:40px;"></div>
