 <script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/artDialog.js?skin=default"></script>
<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript">
function closePage(){
		
	   var origin = art.dialog.open.origin;
		art.dialog.close();
		origin.querySubmit();
	}
function submitUser(){
	var autelId=$.trim($("#autelId").val());
	var autelName=$("#autelName").val();
	var email=$("#email").val();
	var userPwd=$("#userPwd").val();
	var confirmPwd=$("#confirmPwd").val();
	var resultTip=$("#resultTip");
	var regEmail = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
	if(autelId==""){
		resultTip.html($('#accountError').val());
		return;
	}
	if(autelName==""){
		resultTip.html($('#nameError').val());
		return;
	}
	if(userPwd==""){
		resultTip.html($('#userPwdError').val());
		return;
	}
	if(confirmPwd==""){
		resultTip.html($('#confirmError').val());
		return;
	}
	if(email==""){
		resultTip.html($('#emailError').val());
		return;
	}
	if(!regEmail.test(email)){
		resultTip.html($('#emailRegError').val());
		return;
	}
	
	
	if(userPwd!=confirmPwd){
		resultTip.html($('#matchError').val());
		return;
	}
	
	
	 $.ajax({
			url:'front/sealer/addSealerInfo.do',
			type:"post",
			async:false,
			data:{"sealer.autelId":autelId,"sealer.name":autelName,"sealer.userPwd":userPwd,"sealer.email":email},
			dataType:'JSON',
			success :function(data)
			{
				var jsonData = data;
				if(jsonData=="EXIST"){
					resultTip.html($('#usedMsg').val());
					return;
				}else if(jsonData=="SUCCESS"){
					resultTip.html($('#successMsg').val());
					window.setTimeout(function(){closePage()},3000);
				}else{
					resultTip.html($('#FailMsg').val());
					return;
				}
			}
		}); 
	
}
</script> 

<form id="submitToPay" method='post' action=''>
<input type="hidden" name="accountError" id="accountError" value="${bundle('sealer.auth.add.account.error')}"/>
<input type="hidden" name="nameError" id="nameError" value="${bundle('sealer.auth.add.name.error')}"/>
<input type="hidden" name="userPwdError" id="userPwdError" value="${bundle('sealer.auth.add.userpwd.error')}"/>
<input type="hidden" name="confirmError" id="confirmError" value="${bundle('sealer.auth.add.confirmpwd.error')}"/>
<input type="hidden" name="matchError" id="matchError" value="${bundle('sealer.auth.add.confirmpwd.match')}"/>
<input type="hidden" name="successMsg" id="successMsg" value="${bundle('customer.plat.soft.change.success')}"/>
<input type="hidden" name="FailMsg" id="FailMsg" value="${bundle('customer.plat.soft.change.fail')}"/>
<input type="hidden" name="usedMsg" id="usedMsg" value="${bundle('sealer.auth.add.used.error')}"/>
<input type="hidden" name="emailError" id="emailError" value="${bundle('card.support.email.null')}"/>
<input type="hidden" name="emailRegError" id="emailRegError" value="${bundle('card.support.email.check')}"/>
<div class="account_right">
        	<div class="registe" style="padding-left:150px">
					<table width="500" border="0">
			     	<tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("sealer.auth.account")} <span class="font12red"> *</span></td>
					    <td><input name="autelId" id="autelId" type="text" style="width:200px"  value=""  class="input_sign" size="50" maxlength="25" />
					     </td>
					    <td class="">&nbsp;</td>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("sealer.auth.name")} <span class="font12red"> *</span></td>
					    <td><input name="autelName" id="autelName" type="text" value="" style="width:200px"   class="input_sign" size="50" maxlength="50" />
					     </td>
					     <td class="">&nbsp;</td>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			     	</tr>
			     	
			     	 <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.first.email")} <span class="font12red"> *</span></td>
					    <td><input name="email" id="email" type="text" value="" style="width:200px"   class="input_sign" size="50" maxlength="50" />
					     </td>
					     <td class="">&nbsp;</td>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			     	</tr>
			     	
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.password.title")} <span class="font12red"> *</span></td>
					   <td><input name="userPwd" id="userPwd" type="password" value="" style="width:200px"   class="input_sign" size="50"  />
					  </tr>
					  <tr>
			           <td class="">&nbsp;</td>
			     	</tr>
					   <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("update.confirmpassword.name")} <span class="font12red"> *</span></td>
					    <td><input name="confirmPwd" id="confirmPwd" type="password" value="" style="width:200px"   class="input_sign" size="50"  />
					    <td class="">&nbsp;</td>
					  </tr>
	        	 	
					  <tr>
					     	<td align="right" class="font14black">&nbsp;</td>
					        <td colspan="2"><span id="resultTip" style="color: #EA0000;font-size: 12px;font-weight: bold;"></span></td>
					  </tr>
					  
					  <tr height="48">
					    <td align="right" width="254">&nbsp;</td>
					    <td align="center"><input onclick="javascript:submitUser()" name="changeNo" id="changeNo"   type="button" value="${bundle('common.btn.ok')}" class="renew3" />
					    </td>
					  </tr>
					</table>
</div>
</div>
</div>
</form>