 <script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/artDialog.js?skin=default"></script>
<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript">
function closePage(){
		
	   var origin = art.dialog.open.origin;
		art.dialog.close();
		origin.querySubmit();
	}
function submitUser(){
	var autelId=$.trim($("#autelId").val());
	var resultTip=$("#resultTip");
	if(autelId==""){
		resultTip.html($('#accountError').val());
		return;
	}
	var sealerAuthDesc="";
	$("input[name='sealerAuthDesc']:checkbox").each(function(i){
		if($(this).attr("checked")){
			sealerAuthDesc+=$(this).attr("value")+",";
		}
	});  
	
	 $.ajax({
			url:'front/sealer/updateSealerAuthInfo.do',
			type:"post",
			async:false,
			data:{"sealerAuth.autelId":autelId,"sealerAuthDesc":sealerAuthDesc},
			dataType:'JSON',
			success :function(data)
			{
				var jsonData = data;
				if(jsonData=="SUCCESS"){
					resultTip.html($('#successMsg').val());
					//window.setTimeout(function(){closePage()},3000);
				}else{
					resultTip.html($('#FailMsg').val());
					return;
				}
			}
		}); 
	
}
</script> 

<form id="submitToPay" method='post' action=''>
<input type="hidden" name="successMsg" id="successMsg" value="${bundle('customer.plat.soft.change.success')}"/>
<input type="hidden" name="FailMsg" id="FailMsg" value="${bundle('customer.plat.soft.change.fail')}"/>
<div class="account_right">
        	<div class="registe" style="padding-left:150px">
					<table width="500" border="0">
			     	<tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("sealer.auth.account")} <span class="font12red"> *</span></td>
					    <td><input name="autelId" id="autelId" type="text" style="width:200px"  value="${autelId!''}"  class="input_sign" size="50" maxlength="25" readonly />
					     </td>
					    <td class="">&nbsp;</td>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           </tr>
			          <tr>
			           <td align="right" width="238" style="padding-right:16px">${bundle("sealer.auth.access")}</td>
					    <td>
					    <#if newList ?? >
					    <#list newList as item >
						<input  <#if item.checkedFlag=="Y" > checked="true" </#if> type="checkbox" name="sealerAuthDesc" value="${item.code}"> ${bundle("${item.name}")} <br/>
						
				       </#list>
				       </#if>
				</td>
					     <td class="">&nbsp;</td>
					 </tr>
			     	 
					  <tr>
					     	<td align="right" class="font14black">&nbsp;</td>
					        <td colspan="2"><span id="resultTip" style="color: #EA0000;font-size: 12px;font-weight: bold;"></span></td>
					  </tr>
			           
					  <tr height="48">
					    <td align="right" width="254">&nbsp;</td>
					    <td align="center"><input onclick="javascript:submitUser()" name="changeNo" id="changeNo"   type="button" value="${bundle('common.btn.ok')}" class="renew3" />
					    </td>
					  </tr>
					</table>
</div>
</div>
</div>
</form>