<script>
$(document).ready(function(){
	var CustomerCode=$("#CustomerCode").val();
	var productSN=$("#productSN").val();
	
	  $("#detail3").load(function(){
		  var height = $(this).contents().height() + 10;
	      var height2 = height + 200;
	      $(this).height( height < 100 ? 100 : height ); 
	      var obj=parent.document.getElementById("detail");
	      $(obj).height(height2 < 110 ? 110 : height2 ); 
	   });
	  url="customerPlatSoftDesc.html?type=S11&productSN="+productSN+"&code="+CustomerCode+"&queryType=1";
	  $("#detail3").attr("src",url);
});

function querySoftware(){
	var CustomerCode=$('#CustomerCode').val();
	var softName=$("#softName").val();
	var productSN=$("#productSN").val();
	var url="customerPlatSoftDesc.html?type=S11&productSN="+productSN+"&code="+CustomerCode+"&softName="+softName+"&queryType=2";
	$("#detail3").attr("src",url);
}
</script>
<div style="height:10px;"></div>
<input type="hidden" name="CustomerCode" id="CustomerCode" value="${code!''}"/>
<input type="hidden" name="productSN" id="productSN" value="${productSN!''}"/>
	
	
	<div class="my_xs" >
	          <span style="padding-left:390px">
		        ${bundle('customer.plat.soft.software')}: <input id="softName" name="softName" class="p_name_car" type="text" style="width:120px" value="${autelID!''}"/>
			    <input type="button"  onclick="querySoftware()" value="${bundle('common.btn.search')}" class="renew3" id="pageQuery" />
	          </span>
	</div>


 <iframe name="detail3"  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" id="detail3" width="100%"   src=""></iframe>


