<script type="text/javascript">
function queryDetails(code,userCode,productSN){
	
	window.parent.parent.jump("queryCustomerComplaintForSealer.html?type=S34&code="+code+"&userCode="+userCode+"&productSN="+productSN);
}
</script>
<div class="jss_xx">
<input type="hidden" name="productSN" id="productSN" value="${productSN!''}"/>
		<table width="100%"  border="0">
			<tr  class="tool_title">
				  <td width="180">${bundle("customercomplaint.tickedid.name")}</td>
				  <td width="110">${bundle("memberman.complaintman.createtime")}</td>
			  	  <td width="160">${bundle("memberman.complaintman.state")}</td>
			  	  <td width="100">${bundle("common.list.operation")}</td>
			  </tr>
			  	</table>
	</div>
	  <div class="my_products">
        
        	<dl>
        	<#if complaintList?size gt 0 >
				<#list complaintList as item>
				<#if item??>
			
			<dt>
                	<div class="ks_tab" style="width:768px;word-wrap:break-word"><strong><a style="color:#08c;" onclick="queryDetails('${item.code!''}','${item.userCode!''}','${productSN!''}')">${item.complaintTitle!""}</a></strong></div>
                    <table width="768" border="0" style="font-size:14px; margin-left:22px; color:#4d4d4d;" class="autobr">
					  <tr>
					    <td width="25%"><strong>${bundle("customercomplaint.tickedid.name")}:</strong> ${item.code!""}
					    <#if item.sourceType?? && item.sourceType==1>
					   		 <img src="${bundle('autelproweb.url')}/themes/autel/images/Phone.png"/>
					    <#else>
					    	<img src="${bundle('autelproweb.url')}/themes/autel/images/Computer.png"/>
					    </#if>
					    
					    </td>
					    <td width="26%" align="center">
					    	<#if item.complaintDate??>
					    		${item.complaintDate?substring(0,10)}
					    	</#if>
					    	<#if item.hoursBetween??>
					    	<font color="#e47911" size="1.5px">(<strong>${item.hoursBetween} hr</strong>)</font>
					        </#if>
					    </td>
					    <td width="30%" align="center" style="border-left:#cccccc 1px solid; border-right:#cccccc 1px solid;">
					    	<#if item.complaintState == 1>
									${bundle("customercomplaint.complaintstate.open2")}
								<#elseif item.complaintState == 2>
									${bundle("customercomplaint.complaintstate.guaqi2")}
								<#elseif item.complaintState == 3>
									${bundle("customercomplaint.complaintstate.waitreply2")}
								<#elseif item.complaintState == 4>
									${bundle("customercomplaint.complaintstate.close2")}
								</#if>
					    </td>
					   <td width="19%" align="center"><a class="font16red" style="color:#08c;"  onclick="javascript:queryDetails('${item.code!''}','${item.userCode!''}','${productSN!''}')">${bundle("customercomplaint.view.name")}</a>
					     <img src="${imagePath}/images/view.gif" id="queryCustomer" style="cursor:pointer;padding-bottom: 3px;" name="queryCustomer" width="18" height="18" onclick="javascript:queryCustomerComplaintDeatil('${item.code!''}','${userType!''}','${item.complaintPerson!''}')"/>
					    </td>
					  </tr>
					</table>
                </dt>
                <dd></dd>
			</#if>
			   </#list>
			<#else>
			   		<tr><td colspan="5"><div style="text-align:center;"  class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			</#if>
	</dl></div>