<script type="text/javascript">
function returnCust(){
	var productSN=$('#productSN').val();
	var code=$('#code').val();
	var url="queryCustomerInfo-1-1.html?m=1&userType=2&type=S2&code="+code+"&productSN="+productSN;
    var tmpForm = $("<form  method='post'></form>");
	$(tmpForm).attr("action",url);
	tmpForm.appendTo(document.body).submit();
}
</script>
<form id="changeNoForm" name="changeNoForm" action="" method="post">
<input type="hidden" name="productSN" id="productSN" value="${productSN!''}">
<input type="hidden" name="code" id="code" value="${code!''}">
 <div class="account_right">
   <h4>${bundle("customer.plat.soft.change")}</h4>
        <div class="my_products">
        	<div class="registe">
					<table width="790" border="0">
					
	        	 	<tr>
			           <td class="">&nbsp;</td>
			     	</tr>
			     	
			     	<tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("customer.plat.soft.change.oldSN")}</td>
					    <td><input name="oldProductSN" id="oldProductSN" type="text" value="${productSN!''}" disabled class="input_sign" size="50" maxlength="25" />
					     </td>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			     	</tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("customer.plat.soft.change.newSN")}</td>
					    <td><input name="newProductSN" id="newProductSN" type="text" value="" class="input_sign" size="50" maxlength="25" />
					  </tr>
					 
					  <tr>
			           <td style="padding-left:140px;color:red;font-size:12px">(Unregistered SN)</td>
			     	</tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("customer.plat.soft.change.password")}</td>
					    <td><input name="registerPassword" id="registerPassword" type="text" value="" class="input_sign" size="50" maxlength="25" />
					  </tr>
					   <tr id="confirmPasswordResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="confirmPasswordResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	
					  <tr>
					     	<td align="right" class="font14black">&nbsp;</td>
					        <td><span id="resultTip" style="color: #EA0000;font-size: 12px;font-weight: bold;"></span></td>
					  </tr>
					  
					  <tr height="48">
					    <td align="right" width="254">&nbsp;</td>
					    <td><input  name="changeNo" id="changeNo"   type="button" value="${bundle('common.btn.ok')}" class="renew3" />
					    <input name="calenId" onclick="returnCust();" id="calenId" type="button" value="${bundle('common.previous.name')}" class="renew3" style="margin-left:50px;" /></td>
					  </tr>
					</table>
</div>
</div>
</div>
</form>

