<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/My97DatePicker/WdatePicker.js"></script>

<script>
$(document).ready(function(){
	var CustomerCode=$("#CustomerCode").val();
	var productSN=$("#productSN").val();
	
	   $("#detail2").load(function(){
	    // $(this).height(0); //用于每次刷新时控制IFRAME高度初始化
	      var height = $(this).contents().height() + 10;
	      var height2 = height + 200;
	      $(this).height( height < 100 ? 100 : height ); 
	      var obj=parent.document.getElementById("detail");
	      $(obj).height(height2 < 110 ? 110 : height2 ); 
	   });  

	  var url="customerPlatComplaintDesc.html?type=S31&productSN="+productSN+"&code="+CustomerCode;
	  $("#detail2").attr("src",url);
});

function queryComplaint(){
	var complaintCode=$('#complaintCode').val();
	var complaintState=$('#complaintState').val();
	var CustomerCode=$("#CustomerCode").val();
	var productSN=$("#productSN").val();
	var complaintDate=$('#complaintDate').val();
	var url="customerPlatComplaintDesc.html?type=S31&productSN="+productSN+"&code="+CustomerCode+"&complaintState="+complaintState+"&complaintCode="+complaintCode+"&complaintDate="+complaintDate;
	$("#detail2").attr("src",url);
}

function newComplaint(){
	var CustomerCode=$("#CustomerCode").val();
	var productSN=$("#productSN").val();
	var url="customerPlatAddCom.html?type=S32&productSN="+productSN+"&code="+CustomerCode;
	 
	window.parent.jump(url);
	
}


</script>
<div style="height:10px;"></div>
<input type="hidden" name="CustomerCode" id="CustomerCode" value="${code!''}"/>
<input type="hidden" name="productSN" id="productSN" value="${productSN!''}"/>
	
	
	<div class="my_xs">
	          <div style="padding-left:580px">
	            <input type="button" onclick="newComplaint()" value="${bundle('customercomplaint.add.title')}" class="renew_lan2" id="pageQuery" />
	          </div>
	          <div style="height:10px"></div>
		  <!--    ${bundle('customercomplaint.tickedid.name')}:  -->
		  <input id="complaintCode" name="complaintCode" class="p_name_car" type="hidden" style="width:120px" value="${autelID!''}"/>
			 ${bundle("memberman.complaintman.createtime")}:<input id="complaintDate" name="complaintDate" class="p_name_car Wdate" readonly="true"  type="text" style="width:120px" onfocus="WdatePicker({lang:'en'})"/>
			 
			 ${bundle('memberman.complaintman.state')}: 
			 <select id="complaintState" name="complaintState" class="p_name_car" style="margin-top:0px;margin-right:30px;width:160px;"  onchange="javascript:queryComplaint()">
			 		<option value="-1">${bundle("common.btn.search.all")}</option>	
  					<option value="1" >${bundle("customercomplaint.complaintstate.open2")}</option>	
	         		<option value="2" >${bundle("customercomplaint.complaintstate.guaqi2")}</option>
	         		<option value="3" >${bundle("customercomplaint.complaintstate.waitreply2")}</option>
	         		<option value="4" >${bundle("customercomplaint.complaintstate.close2")}</option>
			 </select>
			 <span style="padding-left:128px">
			    <input type="button"  onclick="queryComplaint()" value="${bundle('common.btn.search')}" class="renew3" id="pageQuery" />
	         </span>
	</div>


 <iframe name="detail2"  frameborder="no" border="0"  marginwidth="0" marginheight="0" scrolling="no" id="detail2" width="100%"   src=""></iframe>


