<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/My97DatePicker/WdatePicker.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
.theme {
width:650px;
}
.declar {
width:240px;
}
.organ {
width:230px;
}
</style>
<div class="account_right">
    	<h4 style="padding-right:0px">${bundle("rga.management.detail")}
    	<span>
    	<input style="margin-right: 0px" type="button" value="${bundle('rga.management.print')}" name="printWeb" id="printWeb" class="renew3" />
    	<input style="margin-right: 0px" type="button" value="${bundle('common.return.name')}" name="previosBtn" id="previosBtn" class="renew3" />
    	</span>
    	</h4>
    	<!--startprint-->
        <div id="my_products_table" class="my_products_table">
	        <form id="addCustomerComplaint" name="addCustomerComplaint" method="post"  enctype="multipart/form-data">
	        
	        <input type="hidden" name="code" id="code" value="${info.code!''}"/>
	        <input type="hidden" name="id" id="id" value="${info.id!''}"/>
	        <input type="hidden" name="showStatus" id="showStatus" value="${info.status!''}"/>
        	<table style="width:790px" border="1" bordercolor="#cccccc">
					  <tr>
					  <td  height="40" style="padding-left:12px;width:200px">${bundle("rga.management.code.name")}</td>
					  <td colspan="6" style="text-align:center;font-weight: bold;font-size: 14px;"> ${info.code!''}</td>
					  </tr>
					  <tr>
					    <td  height="40" style="padding-left:12px;width:200px">${bundle("sale.query.create.user")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="2"><input  name="createUserName" id="createUserName" type="text"  maxlength="120" readonly value="${info.createUserName!''}" class="declar" /></td>
					    <td  height="40" style="padding-left:12px;width:170px">${bundle("sale.query.create.createDate")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="3"><input name="createDate" id="createDate" type="text"  maxlength="120" class="organ" readonly value="${info.createDate!''}" /></td>
					  </tr>
					  
					  <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("product.producttypevo")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="2">
					    <input type="text" name="proTypeCode" id="proTypeCode" value="${info.proTypeCode!''}" class="organ" readonly/>
					    <!--  <select style="height:30px;font-size:13px;padding-top:5px;padding-bottom:5px;width:240px" name="proTypeCode" id="proTypeCode"  >
						    <option value="-1">${bundle("product.select")}</option>
							<#list productTypeList as item >
								<option value="${item.code}" <#if info.proTypeCode?? && info.proTypeCode == item.code > selected="selected"</#if>>${item.name}</option>
							</#list>
						</select> -->
					    </td>
					    <td  height="40" style="padding-left:12px;">${bundle("sale.query.customer.serial")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="3"><input name="serialNo" id="serialNo" type="text"  maxlength="120" class="organ" value="${info.serialNo!''}" readonly   /></td>
					    </tr>
					    
					     <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("customer.plat.soft.warranty")}</td>
					    <td  colspan="2">
					    <input  name="proStartDate" id="proStartDate" type="text" value="${info.proStartDate!''}" readonly  class="organ" style="width:75px"/>-
					    <input  name="proEndDate" id="proEndDate" type="text" value="${info.proEndDate!''}"  readonly  class="organ" style="width:100px"/>
					    </td>
					     <td  height="40" style="padding-left:12px;">${bundle("myproducts.exp.name")}</td>
					    <td  colspan="3">
					    <input  name="updateStartDate" id="updateStartDate" type="text" value="${info.updateStartDate!''}" readonly  class="organ" style="width:75px"/>-
					    <input  name="updateEndDate" id="updateEndDate" type="text" value="${info.updateEndDate!''}"  readonly  class="organ" style="width:100px"/>
					    </td>
					    
					  </tr>
					    
					  <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.customer.name")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="2"><input  name="customerName" id="customerName" type="text"  maxlength="120" value="${info.customerName!''}" class="organ" /></td>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.customer.company")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="3"><input name="company" id="company" type="text"  maxlength="120" class="organ" value="${info.company!''}" /></td>
					  </tr>
					  
					   <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.customer.telphone")}</td>
					    <td  colspan="2"><input  name="telphone" value="${info.telphone!''}" id="telphone" type="text"  maxlength="120" class="organ" /></td>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.customer.email")}</td>
					    <td  colspan="3"><input name="email" id="email" value="${info.email!''}" type="text"  maxlength="120" class="organ" /></td>
					  </tr>
					  
					  
					  
					  <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.customer.address")}</td>
					    <td  colspan="6"><input  name="address" id="address" type="text" value="${info.address!''}"   class="theme"/></td>
					  </tr>
					   <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.return.reason")}</td>
					    <td  colspan="6"><textarea style="height:100px" name="reason" id="reason" type="text"   class="theme">${info.reason!''}</textarea></td>
					  </tr>
					  
					  
					   <tr>
					    <td height="40" style="padding-left:12px;">${bundle("rga.management.rga.date")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="2"><input  name="rgaDate" id="rgaDate" style="height:40px;border:0px" type="text" value="${info.rgaDate!''}"  maxlength="120" class="organ Wdate"  onfocus="WdatePicker({lang:'en'})" readonly/></td>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.trackNum")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="3"><input name="trackingNum" id="trackingNum" type="text"  maxlength="120" value="${info.trackingNum!''}" class="organ" /></td>
					  </tr>
					  
					  
					  <tr>
					    <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.receiveDate")}<span class="font12red">&nbsp;*</span></td>
					    <td  colspan="6"><input name="receiveDate" id="receiveDate" type="text"  maxlength="120" value="${info.receiveDate!''}" class="organ Wdate" onfocus="WdatePicker({lang:'en'})" style="height:40px;border:0px" readonly /></td>
					  </tr>
					  </tr>
					  
					    <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.cable")}</td>
					    <td  colspan="2">
					      &nbsp;&nbsp;<input type="radio" name="cableFlag" id="cableFlag" value="1"  <#if info.cableFlag=="1"> checked="true" </#if> />&nbsp;${bundle("rga.management.radio.yes")}
					      &nbsp;&nbsp;<input type="radio" name="cableFlag" id="cableFlag" value="0"  <#if info.cableFlag=="0"> checked="true" </#if>/>&nbsp;${bundle("rga.management.radio.no")}
					    
					    </td>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.connector")}</td>
					    <td  colspan="3">
					     &nbsp;&nbsp;<input type="radio"  name="connectorFlag" id="connectorFlag" value="1"  <#if info.connectorFlag=="1"> checked="true" </#if> />&nbsp;${bundle("rga.management.radio.yes")}
					     &nbsp;&nbsp;<input type="radio"  name="connectorFlag" id="connectorFlag" value="0"  <#if info.connectorFlag=="0"> checked="true" </#if> />&nbsp;${bundle("rga.management.radio.no")}
					    
					    </td>
					  </tr>
					  
					 <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.other")}</td>
					    <td  colspan="6"><input  name="otherPart" id="otherPart" type="text" value="${info.otherPart!''}"  class="theme"/></td>
					 </tr>
					  
					   <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.solution")}</td>
					    <td  colspan="6"><textarea style="height:100px" name="solution" id="solution" type="text" value=""  class="theme">${info.solution!''}</textarea></td>
					  </tr>
					  
					    <tr>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.return.date")}</td>
					    <td  colspan="2"><input  name="returnDate" id="returnDate" type="text" value="${info.returnDate!''}"  style="height:40px;border:0px"" maxlength="120"  readonly class="organ Wdate"  onfocus="WdatePicker({lang:'en'})"/></td>
					    <td  height="40" style="padding-left:12px;">${bundle("rga.management.trackNum2")}</td>
					    <td  colspan="3"><input name="returnNum" id="returnNum" type="text"  value="${info.returnNum!''}" maxlength="120" class="organ" /></td>
					  </tr>
					  
					  <tr>
					  <td  height="40" style="padding-left:12px;">${bundle("sales.query.status")}</td>
					    <td  colspan="6">
					    	&nbsp;&nbsp;<input type="radio"  name="status" id="status" value="1"  <#if info.status=="1"> checked="true" </#if> />&nbsp;${bundle("sales.query.status.open")}
					     	&nbsp;&nbsp;<input type="radio"   name="status" id="status" value="0"  <#if info.status=="0"> checked="true" </#if> />&nbsp;${bundle("sales.query.status.close")}
					    </td>
					  </tr>
					    <!--endprint-->
					  
					  <#if info.status=="1" >
					  <tr >
					 
					    <td colspan="7" align="right" style="padding-bottom:20px;">
					    	<p align="center"><span  id="operationResultTip" style="font-size:20px;color:red;">&nbsp;</span></p>
				    		<input  type="button" value="${bundle('common.btn.ok')}" name="subBtn" id="subBtn" class="renew3" style="margin-right:20px;" />
				    		<input  type="reset" name="canelID" id="canelID"  value="${bundle('common.btn.reset')}" class="renew3" />

					    </td>
					  </tr>
					  </#if>
					</table>
			</form>
       </div>
     
</div>

<!--中间结束-->
<div style=" height:40px;"></div>
