<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body >
<script>
function querySubmit(){
        var $form = $("#toOldForNewForm");
        $form.attr("action","oldForNewList-1-1.html");
        $form.submit();
}
</script>
<form id="toOldForNewForm" name="toOldForNewForm" method="post" action="">

<div class="account_right">
        <h4>${bundle("ofn.title")}</h4>
        <div class="my_xs">
           ${bundle("ofn.pro.code")}: 
             <input id="code" name="code" value="${code!''}" maxlength="25" style="height:22px;line-height:22px;border:#c0c0c0 solid 1px;width:140px;"  type="text" />
           AutelId: 
             <input id="autelId" name="autelId" value="${autelId!''}" maxlength="25" style="height:22px;line-height:22px;border:#c0c0c0 solid 1px;width:140px;"  type="text" />
       
            ${bundle("memberman.complaintman.productserial")}： 
            <input id="serialNo" name="serialNo" value="${serialNo!''}" maxlength="25" style="height:22px;line-height:22px;border:#c0c0c0 solid 1px;width:140px;"  type="text" />
            &nbsp; &nbsp;
         
            <input id="queryToOldForNewForm" onclick="javascript:querySubmit()" name="queryToOldForNewForm" type="button" value="${bundle('common.query.name')}"  class="renew3" /> 
            <br>
            <span id="serialNoTip" style="font-size:20px;color:red;display:none;">&nbsp;</span>
        </div>
        
        <div class="jss_xx">
            <table width="100%" border="0" class="autobr">
              <tr class="tool_title">
                <td width="15%">${bundle("ofn.pro.code")}</td>
                <td width="12%">${bundle("memberman.complaintman.productserial")}</td>
<!--                 <td width="15%">旧产品型号</td> -->
                <td width="10%">${bundle("ofn.pro.op.gift")}</td>
                <td width="20%">AutelId</td>
                <td width="10%">${bundle("ofn.pro.state")}</td>
              </tr>
                <#if oldForNewList ?? >
                    <#list oldForNewList as item>
                      <#if item ??>
                            <tr height="40">
                                <td><a href="oldForNewDispose.html?id=${item.id}">${item.code!""}</a></td>
                                <td>${item.serialNo!""}</td>
<#--                                 <td>${item.oproTypeName!""}</td> -->
                                <td><#if item.giftType=2>${bundle("ofn.pro.op.gift3")}<#else>${item.giftProTypeCode}</#if></td>
                                <td>${item.autelId!""}</td>
                                <td>
                               <#if item.state==1>${bundle("ofn.pro.state1")}<#elseif item.state==3>${bundle("ofn.pro.state3")}
                                <#elseif item.state==4>${bundle("ofn.pro.state4")}</#if>
                                </td>
                            </tr>
                      </#if>
                   </#list>
               </#if>
               
               
        </table>
    </div>
                <#if pager != "">
                    <#if totalpagecount gt 1>
                    
                        <div class="check1 clearfix">
                            ${pager}
                        </div>
                        <#else>
                            ${pager}
                    </#if>
             </#if>
    
</div>
</form>
</body>
    