<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
<form id="productToolsForm" name="productToolsForm" method="post" action="downLoadProductTools.html">
<div>
	<h4>${bundle("autel.menu.downloadcenter")}</h4>
	
	<div class="my_tt">
		<ul class="my_menu0" id="my_menu0">
			<#list fileTypeList as item>
				<#if fileType = item.type >
					<li id="span${item.type!''}" class="hover" onclick="location.href='querySealerDownLoadList.html?m=1&fileType=${item.type!''}'">${item.type!""} 
<!-- 					<span class="hongs">(${sealerDownLoadList?size})</span> -->
					</li>
				<#else>
					<li id="span${item.type!''}" onclick="location.href='querySealerDownLoadList.html?m=1&fileType=${item.type!''}'">${item.type!""} 
<!-- 					<span class="hongs">(${sealerDownLoadList?size})</span> -->
					</li>
				</#if>
				
			</#list>
		</ul>
	</div>
	
	<div class="jss_xx">
		<table width="792" border="0" bordercolor="#cccccc" class="autobr">
			<tr class="tool_title">
				<td width="500">${bundle("file.name")}</td>
				<td width="200">${bundle("memberman.complaintman.publishdate")}</td>
			    <td>${bundle("common.operation.name")}</td>
			</tr>
			<#if sealerDownLoadList?? && sealerDownLoadList?size gt 0 >
				<#list sealerDownLoadList as item>
				<#if item??>
					<tr>
						<td height="30" style="WORD-BREAK: normal; WORD-WRAP: break-word;">
							${item.name!''}
						</td>
						<td>
							${item.releaseDate!''}
						</td>
						<td>
							<a class="font14red" style="color:#08c;" href="${item.fileUrl!''}">${bundle("sealerinfo.download.name")}</a>
						</td>
					</tr>  
				</#if>
			   </#list>
			 <#else>
			   		<tr><td colspan="6"><div  class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			</#if>
		</table>
	</div>
</div>
</form>
	