<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body >
<script>
$(document).ready(function(){
	$('#proTypeCode2').combobox().next('span').find('input').focus(function(){
	  $(this).val("");
	})
	var proTypeCode=$("#proTypeCode").val();
	if(proTypeCode!=''){
		$('#proTypeCode2').combobox().next('span').find('input').val(proTypeCode);
	}
	
});

function querySubmit(){
	var serialNo = $("#serialNo").val();
	var proTypeCode = $("#proTypeCode2").combobox('getText');
	if(proTypeCode==$("#selectMsg").val()){
		proTypeCode="";
	}
	var code = $("#code").val();
	var $form = $("#toSealerAuth");
	$form.attr("action","rgaManagement-1-1.html?operationType=1&serialNo="+serialNo+"&code="+code+"&proTypeCode="+proTypeCode);
	$form.submit();
}



function jump(url){
	var tmpForm = $("<form  method='post'></form>");
	$(tmpForm).attr("action",url);
	tmpForm.appendTo(document.body).submit();
}

function addRgaInfo(){
	    var  url="addRgaInfo.html?operationType=2";
	    jump(url);
}
</script>


<form id="toSealerAuth" name="toSealerAuth" method="post" action="">
<input type="hidden" name="selectMsg" id="selectMsg" value="${bundle('rga.management.select.or.enter')}"/>
<input type="hidden" name="successMsg" id="successMsg" value="${bundle('customer.plat.soft.change.success')}"/>
<input type="hidden" name="FailMsg" id="FailMsg" value="${bundle('customer.plat.soft.change.fail')}"/>
<input type="hidden" name="confirm" id="confirm" value="${bundle('sealer.auth.stop.comfirm')}"/>
<input type="hidden" name="proTypeCode" id="proTypeCode" value="${proTypeCode!''}"/>
<div class="account_right">
    	<h4 style="padding-right:0px">${bundle("sale.left.menu.rga.management")}
    	<span>
    	<input onclick="javacript:addRgaInfo()" style="margin-right: 0px" type="button" value="${bundle('sealer.auth.add')}" name="previosBtn" id="previosBtn" class="renew3" />
    	</span>
    	</h4>
    	
    	<div class="my_xs">
    	
    	     ${bundle('product.producttypevo')}: 
			
			 <select class="easyui-combobox" style="height:25px;font-size:13px;padding-top:5px;padding-bottom:5px;width:150px" name="proTypeCode2" id="proTypeCode2" >
						    <option value="-1">${bundle("rga.management.select.or.enter")}</option>
							 <#list productTypeList as item >
								<option value="${item.name}" <#if proTypeCode?? && proTypeCode == item.name > selected="selected"</#if>>${item.name}</option>
							</#list> 
			</select> 
			
    	  ${bundle("sale.query.customer.serial")}: 
    	  <input id="serialNo" name="serialNo" value="${serialNo!''}" maxlength="25" style="height:22px;line-height:22px;border:#c0c0c0 solid 1px;width:130px;"  type="text" />
    		${bundle("rga.management.code.name")}： 
	        <input id="code" name="code" value="${code!''}" maxlength="25" style="height:22px;line-height:22px;border:#c0c0c0 solid 1px;width:130px;"  type="text" />
	        &nbsp; &nbsp;
	     
	        <input id="queryToCustomerChange" onclick="javascript:querySubmit()" name="queryToCustomerChange" type="button" value="${bundle('common.query.name')}"  class="renew3" /> 
        	<br>
        	<span id="serialNoTip" style="font-size:20px;color:red;display:none;">&nbsp;</span>
        </div>
        
        <div class="jss_xx">
        	<table width="100%" border="0" class="autobr">
			  <tr class="tool_title">
			    <td width="20%">${bundle("rga.management.code.name")}</td>
			    <td width="15%">${bundle("sale.query.create.user")}</td>
			    <td width="15%">${bundle("sale.query.create.createDate")}</td>
			    <td width="15%">${bundle("sale.query.customer.serial")}</td>
			    <td width="15%">${bundle("sales.query.status")}</td>
			    <td width="15%">${bundle("common.list.operation")}</td>
			  
			  </tr>
			  	<#if rgaInfo ?? >
					<#list rgaInfo as item>
					  <#if item ??>
					  		<tr height="40">
					  		    <#if item.dayNum gt 10 && item.status=="1">
					  		     <td><font color="red">${item.code!""}</font></td>
					  		    <#else>
					  		    <td>${item.code!""}</td>
					  		    </#if>
						  		<td>${item.createUserName!""}</td>
								<td>${item.createDate!""}</td>
								<td>${item.serialNo!""}</td>
								<td>
								<#if item.status=="1">
								${bundle("sales.query.status.open")}
								</#if>
								<#if item.status=="0">
								${bundle("sales.query.status.close")}
								</#if>
								</td>
								<td>
								<#if item.status=="1">
									<a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" href="editRgaInfo.html?operationType=3&code=${item.code}" >${bundle("sale.query.operation.edit")}</a>
								</#if>
								<#if item.status=="0">
									<a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" href="editRgaInfo.html?operationType=3&code=${item.code}" >${bundle("sale.query.operation.view")}</a>
								</#if>
								</td>
					  		</tr>
					  </#if>
				   </#list>
			   </#if>
			   
			   
		</table>
	</div>
				<#if pager != "">
					<#if totalpagecount gt 1>
					
						<div class="check1 clearfix">
							${pager}
						</div>
						<#else>
							${pager}
					</#if>
			 </#if>
	
</div>
</form>
</body>
	