<script type="text/javascript">
function queryCustomerComplaint(){
	var complaintState = $("#complaintState").val();
	var sealerCode=$("#sealerCode").val();
	jump("salerAuthComplaintInfo-1-1.html?operationType=3&sealerCode="+sealerCode+"&complaintState="+complaintState);
}
function queryCustomerComplaintDeatil(code,userType)
{
     jump("queryCustomerComplaintDetail.html?operationType=3&code="+code+"&userType="+userType);
}

function jump(url){
	var tmpForm = $("<form  method='post'></form>");
	$(tmpForm).attr("action",url);
	tmpForm.appendTo(document.body).submit();
   
}
</script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<input type="hidden" id="userType" name="userType" value="${userType!''}">
  <div class="account_right">
  	<h4 style="padding-right:0px"><span>
  	<!--  <input id="addcomplaint" name="addcomplaint" type="button" value="${bundle('customercomplaint.add.title')}" class="renew_lan" /> -->
  		</span>
  		<span>
  			
  			<select id="sealerCode" name="sealerCode" class="placed1" style="margin-top:0px;width:160px;" onchange="javascript:queryCustomerComplaint()">
  			
  			<option value="-1">${bundle("product.select")}</option>
                        <#if sealerDataList??>
                        <#list sealerDataList as item>
                        <option id="${item.sealerCode!''}" <#if sealerCode==item.sealerCode>selected="selected"</#if> value="${item.sealerCode!''}" >${item.sealerName!""}</option>		 
                        </#list>
                        </#if>
  			</select>
  			
  			<select id="complaintState" name="complaintState" class="placed1" style="margin-top:0px;width:160px;"  onchange="javascript:queryCustomerComplaint()">
  				<#if complaintState == '1'>
  					<option value="-1" >${bundle("common.btn.search.all")}</option>	
  					<option value="1" selected="selected">${bundle("customercomplaint.complaintstate.open2")}</option>	
	         		<option value="2" >${bundle("customercomplaint.complaintstate.guaqi2")}</option>
	         		<option value="3" >${bundle("customercomplaint.complaintstate.waitreply2")}</option>
	         		<option value="4" >${bundle("customercomplaint.complaintstate.close2")}</option>
	         	<#elseif complaintState == '2' >
	         		<option value="-1" >${bundle("common.btn.search.all")}</option>	
	         		<option value="1" >${bundle("customercomplaint.complaintstate.open2")}</option>	
	         		<option value="2" selected="selected">${bundle("customercomplaint.complaintstate.guaqi2")}</option>
	         		<option value="3" >${bundle("customercomplaint.complaintstate.waitreply2")}</option>
	         		<option value="4" >${bundle("customercomplaint.complaintstate.close2")}</option>
	         	<#elseif complaintState == '3' >
	         		<option value="-1" >${bundle("common.btn.search.all")}</option>	
	         		<option value="1" >${bundle("customercomplaint.complaintstate.open2")}</option>	
	         		<option value="2" >${bundle("customercomplaint.complaintstate.guaqi2")}</option>
	         		<option value="3" selected="selected">${bundle("customercomplaint.complaintstate.waitreply2")}</option>
	         		<option value="4" >${bundle("customercomplaint.complaintstate.close2")}</option>
	         	<#elseif complaintState == '4' >
	         		<option value="-1" >${bundle("common.btn.search.all")}</option>	
	         		<option value="1" >${bundle("customercomplaint.complaintstate.open2")}</option>	
	         		<option value="2" >${bundle("customercomplaint.complaintstate.guaqi2")}</option>
	         		<option value="3" >${bundle("customercomplaint.complaintstate.waitreply2")}</option>
	         		<option value="4" selected="selected">${bundle("customercomplaint.complaintstate.close2")}</option>
	         	<#else>
	         		<option value="-1" selected="selected">${bundle("common.btn.search.all")}</option>	
	         		<option value="1" >${bundle("customercomplaint.complaintstate.open2")}</option>	
	         		<option value="2" >${bundle("customercomplaint.complaintstate.guaqi2")}</option>
	         		<option value="3" >${bundle("customercomplaint.complaintstate.waitreply2")}</option>
	         		<option value="4" >${bundle("customercomplaint.complaintstate.close2")}</option>
	         	</#if>
	         		
  			</select>
  			
  			<!-- <input id="subBtn" class="renew3" type="button" onclick="window.history.go(-1)" name="subBtn" value="Back"> -->
  		</span>
  		${sealerCode!''}</h4>
  
        <div class="my_products">
        
        	<dl>
			<#list customerComplaintInfoList as item>
            	<dt>
                	<div class="ks_tab"><strong><a style="color:#08c;" onclick="javascript:queryCustomerComplaintDeatil('${item.code!''}','${userType!''}')">${item.complaintTitle!""}</a></strong></div>
                    <table width="768" border="0" style="font-size:14px; margin-left:22px; color:#4d4d4d;" class="autobr">
					  <tr>
					    <td width="160"><strong>${bundle("customercomplaint.tickedid.name")}:</strong> ${item.code!""}</td>
					    <td width="200" style="padding-left:20px">
					    <!-- <a onclick="javascript:jump('customerPlatlist.html?code=${item.userCode}&autelID=${item.complaintPerson!''}&type=v')"  style="color:#08c;"> -->
					    <a style="color:#08c;" href="queryCustomerInfo-1-1.html?m=1&userType=2&type=S3&code=${item.userCode!''}&productSN=${item.productNo!''}">${item.productNo!""} </a>
					    <!-- </a> -->
					    </td>
					    <td width="150" align="left">
					    	<#if item.complaintDate??>
					    		${item.complaintDate?substring(0,10)}
					    	</#if>
					    	<#if item.hoursBetween??>
					    	<font color="#e47911" size="1.5px">(<strong>${item.hoursBetween} hr</strong>)</font>
					    	</#if>
					    </td>
					    <td width="180" align="center" style="border-left:#cccccc 1px solid; border-right:#cccccc 1px solid;">
					    	<#if item.complaintState == 1>
									${bundle("customercomplaint.complaintstate.open2")}
								<#elseif item.complaintState == 2>
									${bundle("customercomplaint.complaintstate.guaqi2")}
								<#elseif item.complaintState == 3>
									${bundle("customercomplaint.complaintstate.waitreply2")}
								<#elseif item.complaintState == 4>
									${bundle("customercomplaint.complaintstate.close2")}
								</#if>
					    </td>
					    <td width="80" align="center"><a class="font16red" style="color:#08c;"  onclick="javascript:queryCustomerComplaintDeatil('${item.code!''}','${userType!''}')">${bundle("customercomplaint.view.name")}</a>
					     <img src="${imagePath}/images/view.gif" id="queryCustomer" style="cursor:pointer;padding-bottom: 3px;" name="queryCustomer" width="18" height="18" onclick="javascript:queryCustomerComplaintDeatil('${item.code!''}','${userType!''}')"/>
					    </td>
					  </tr>
					</table>
                </dt>
                <dd></dd>
                <!--  
                <#if (item_index+1)!= customerComplaintInfoList?size>
				 	<dd></dd>
				 </#if>-->
				 
               
                 </#list>
	               <div class="check1 clearfix">
	               		    <#if customerComplaintInfoList?size gt 0 >
	               		    	<table width="100%" border="0"   class="autobr">
									<tr height="30px">
										
										<td width="30%">
											${pager}	
										</td>
									</tr>
								</table>
							<#else>
								${pager}	
							</#if>
								
					</div>
            </dl>
        </div>
        
    </div>
</div>
