<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body >
<script>

function querySubmit(){
	var customerName = $("#customerName").val();
	var proTypeCode = $("#proTypeCode").val();
	var status = $("#status").val();
	var $form = $("#toSealerAuth");
	$form.attr("action","salesQuery-1-1.html?operationType=1&customerName="+customerName+"&status="+status+"&proTypeCode="+proTypeCode);
	$form.submit();
}

function getDetail(sealerCode,status){
	jump("salesQuery-1-1.html?operationType=1");
}

function jump(url){
	var tmpForm = $("<form  method='post'></form>");
	$(tmpForm).attr("action",url);
	tmpForm.appendTo(document.body).submit();
   
}

function addSalesQueryInfo(){
	
	    var  url="addSalesQueryInfo.html?operationType=2";
	    art.dialog.open(url, {
	    title: '',
		lock:true,
		cancelVal:'Cancel',
		width: 700, 
		height: 400,
		init: function () {
			var iframe = this.iframe.contentWindow;
			var top = art.dialog.top;
		}, 
		cancel: true
		});
	
}


function editSalesQueryInfo(code){
    var  url="editSalesQueryInfo.html?operationType=3&code="+code;
    art.dialog.open(url, {
    title: '',
	lock:true,
	cancelVal:'Cancel',
	width: 700, 
	height: 540,
	init: function () {
		var iframe = this.iframe.contentWindow;
		var top = art.dialog.top;
	}, 
	cancel: true
	});
}

function closeSalesQueryInfo(code){
    var  url="closeSalesQueryInfo.html?operationType=4&code="+code;
    art.dialog.open(url, {
    title: '',
	lock:true,
	cancelVal:'Cancel',
	width: 800, 
	height:470,
	init: function () {
		var iframe = this.iframe.contentWindow;
		var top = art.dialog.top;
	}, 
	cancel: true
	});
}
</script>


<form id="toSealerAuth" name="toSealerAuth" method="post" action="">
<input type="hidden" name="successMsg" id="successMsg" value="${bundle('customer.plat.soft.change.success')}"/>
<input type="hidden" name="FailMsg" id="FailMsg" value="${bundle('customer.plat.soft.change.fail')}"/>
<input type="hidden" name="confirm" id="confirm" value="${bundle('sealer.auth.stop.comfirm')}"/>
<div class="account_right">
    	<h4 style="padding-right:0px">${bundle("saler.left.menu.sales.query")}
    	<span>
    	<input onclick="javacript:addSalesQueryInfo()" style="margin-right: 0px" type="button" value="${bundle('sealer.auth.add')}" name="previosBtn" id="previosBtn" class="renew3" />
    	</span>
    	</h4>
    	
    	<div class="my_xs">
    	
    	     ${bundle('product.producttypevo')}: 
			 <select class="p_name_car" name="salesQueryInfo.proTypeCode" id="proTypeCode" >
			    <option value="-1">${bundle("product.select")}</option>
				<#list productTypeList as item >
					<option value="${item.code}" <#if proTypeCode?? && proTypeCode == item.code > selected="selected"</#if>>${item.name}</option>
				</#list>
			</select>
    	  ${bundle("sales.query.status")}: 
			 <select class="p_name_car" name="salesQueryInfo.status" id="status" style="width:110px" >
			    <option value="-1">${bundle("product.select")}</option>
				<option value="1" <#if status?? && status == "1" > selected="selected"</#if>>${bundle("sales.query.status.open")}</option>
				<option value="2" <#if status?? && status == "2" > selected="selected"</#if>>${bundle("sales.query.status.close")}</option>
			</select>
    		${bundle("sale.query.customer.name")}： 
	        <input id="customerName" name="salesQueryInfo.customerName" value="${sealerCode!''}" maxlength="25" style="height:22px;line-height:22px;border:#c0c0c0 solid 1px;width:130px;"  type="text" />
	        &nbsp; &nbsp;
	     
	        <input id="queryToCustomerChange" onclick="javascript:querySubmit()" name="queryToCustomerChange" type="button" value="${bundle('common.query.name')}"  class="renew3" /> 
        	<br>
        	<span id="serialNoTip" style="font-size:20px;color:red;display:none;">&nbsp;</span>
        </div>
        
        <div class="jss_xx">
        	<table width="100%" border="0" class="autobr">
			  <tr class="tool_title">
			    <td width="15%">${bundle("sale.query.create.user")}</td>
			    <td width="12%">${bundle("sale.query.create.createDate")}</td>
			    <td width="25%">${bundle("sale.query.customer.name")}</td>
			    <td width="18%">${bundle("product.producttypevo")}</td>
			    <td width="15%">${bundle("sales.query.status")}</td>
			    <td width="15%">${bundle("common.list.operation")}</td>
			  
			  </tr>
			  	<#if salesQueryInfo ?? >
					<#list salesQueryInfo as item>
					  <#if item ??>
					  		<tr height="40">
						  		<td>${item.createUserName!""}</td>
								<td>${item.createDate!""}</td>
								<td>${item.customerName!""}</td>
								<td>${item.proTypeName!""}</td>
								<td>
								<#if item.status=="1">
								   ${bundle("sales.query.status.open")}
								</#if>
								<#if item.status=="2">
								   ${bundle("sales.query.status.close")}
								</#if>
								
								</td>
								<td>
								<#if item.status=="1">
								<a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" onclick="javacript:editSalesQueryInfo('${item.code}')" >${bundle("sale.query.operation.edit")}</a>
								<#else>
								<a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" onclick="javacript:editSalesQueryInfo('${item.code}')" >${bundle("sale.query.operation.view")}</a>
								</#if>
								</td>
					  		</tr>
					  </#if>
				   </#list>
			   </#if>
			   
			   
		</table>
	</div>
				<#if pager != "">
					<#if totalpagecount gt 1>
					
						<div class="check1 clearfix">
							${pager}
						</div>
						<#else>
							${pager}
					</#if>
			 </#if>
	
</div>
</form>
</body>
	