 <script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/artDialog.js?skin=default"></script>
<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript">
$(function($) {
	  var totalCount=$('#totalCount').val();
	  if(totalCount==1){
		  var productSerialNo=$('#productSerialNo').val();
		  var customerCode=$('#customerCode').val();
		  closePage(productSerialNo,customerCode);
	  }
	});
 function closePage(serialNo,customerCode){
		
	   var origin = art.dialog.open.origin;
		art.dialog.close();
		origin.getValue(serialNo,customerCode);
	}
 
</script> 

<form id="submitToPay" method='post' action=''>
<input type="hidden" name="productSerialNo" id="productSerialNo" value="${productSerialNo!''}"/>
<input type="hidden" name="customerCode" id="customerCode" value="${customerCode!''}"/>
<input type="hidden" name="totalCount" id="totalCount" value="${totalCount!''}"/>
<!-- <h4 style="padding-bottom: 5px;padding-top:15px">${bundle('saler.customer.query.show')}</h4> -->
<div class="jss_xx">
		<table width="100%"  border="0">
			<tr  class="tool_title">
			         <!--  <td width="20%">选择</td> -->
			          <td width="40%">${bundle('accountinformation.autelid.name')}</td>
			          <!-- <td width="40%">${bundle("common.name")}</td> -->
			          <td width="40%">${bundle('memberman.complaintman.productserial')}</td>
			         <!--  <td width="15%">${bundle("accountinformation.mobilephone.name")}</td>
			          <td width="15%">${bundle("memberman.sealerinfoman.phonec")}</td> -->
			          
			 </tr>
 <#if listCustomerProduct?size gt 0 >
				<#list listCustomerProduct as item>
				<#if item??>
			 
			 <tr height="30px">
			<!--  <td><input type="radio" id="productSN" name="productSN" value="${item.proSerialNo!''}" />	</td> -->
			 <td>	${item.autelId!''}</td>
			 <!-- <td>${item.firstName!''} ${item.middleName!''} ${item.lastName!''} </td> -->
		     <td><a onclick="closePage('${item.proSerialNo!''}','${item.code!''}')" class="font14red" style="color:#08c;">${item.proSerialNo!''}</a></td>
		     <!-- <td>${item.mobilePhoneCC!''} ${item.mobilePhoneAC!''} ${item.mobilePhone!''}</td>
		     <td>${item.daytimePhoneCC!''} ${item.daytimePhoneAC!''} ${item.daytimePhone!''}</td>
		    -->
		     </tr>
			</#if>
			   </#list>
			<#else>
			   		<tr><td colspan="5"><div  class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
			</#if>
			</table>
</form>