<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/My97DatePicker/WdatePicker.js"></script>
<script>
function viewCustomerInfo(code){
	
	    var  url="viewCustomerInfo.html?operationType=2&customerCode="+code;
	    art.dialog.open(url, {
	    title: '',
		lock:true,
		cancelVal:'Cancel',
		width: 700, 
		height: 400,
		init: function () {
			var iframe = this.iframe.contentWindow;
			var top = art.dialog.top;
		}, 
		cancel: true
		});
}

function remarkCustomer(proCode,customerName){
		var  url="remarkCustomerInfo.html?operationType=3&proCode="+proCode+"&autelId="+customerName;
		art.dialog.open(url, {
		title: '',
		lock:true,
		cancelVal:'Cancel',
		width: 500, 
		height: 320,
		init: function () {
			var iframe = this.iframe.contentWindow;
			var top = art.dialog.top;
		}, 
		cancel: true
		});
}

function viewCustomerRemark(id){
	var  url="viewRemarkCustomerInfo.html?operationType=4&id="+id;
	art.dialog.open(url, {
	title: '',
	lock:true,
	cancelVal:'Cancel',
	width: 500, 
	height: 340,
	init: function () {
		var iframe = this.iframe.contentWindow;
		var top = art.dialog.top;
	}, 
	cancel: true
	});
}

function viewCustomerRemarkList(proCode){
	var  url="viewRemarkList.html?operationType=5&proCode="+proCode;
	art.dialog.open(url, {
	title: '',
	lock:true,
	cancelVal:'Cancel',
	width: 800, 
	height:400,
	init: function () {
		var iframe = this.iframe.contentWindow;
		var top = art.dialog.top;
	}, 
	cancel: true
	});
}


</script>
<body >
<form id="toCustomerChargeForm" name="toCustomerChargeForm" method="post" action="">
<input type="hidden" id="proCode" name="proCode" value=""/><!-- 产品code -->
<!-- <input type="hidden" id="proSerialNo" name="proSerialNo" value=""/> --><!-- 产品序列号 -->
<input type="hidden" id="proName" name="proName" value=""/>
<input type="hidden" id="memberName" name="memberName" value=""/>
<input type="hidden" id="proTypeCode" name="proTypeCode" value=""/><!-- 产品型号code -->
<input type="hidden" id="areaCfgCode" name="areaCfgCode" value=""/><!-- 区域配置Code -->
<input type="hidden" id="saleCfgCode" name="saleCfgCode" value=""/><!-- 标准销售配置Code -->
<!-- 产品续租默认一年 -->
<input type="hidden" id="reChargeTime" name="reChargeTime" value="1"/>
<input type="hidden" id="operationType" name="operationType" value="1"/>
<div class="account_right">
    	<h4>${bundle("renew.card.name")}</h4>
    	
    	<div class="my_xs">
    		${bundle("memberman.complaintman.productserial")}: 
	        <input id="serialNo" name="serialNo" value="${serialNo!''}" maxlength="25" style="height:22px;line-height:22px;border:#c0c0c0 solid 1px;width:90px;"  type="text" />
	        &nbsp;
	        ${bundle('customercomplaint.product.name')}: 
			 <select class="p_name_car" name="proTypeCodeQuy" id="proTypeCodeQuy" >
			    <option value="-1">${bundle("product.select")}</option>
				<#list productTypeList as item >
					<option value="${item.code}" <#if proTypeCode?? && proTypeCode == item.code > selected="selected"</#if>>${item.name}</option>
				</#list>
			</select>
			 ${bundle('tocustomercharge.exp.date')}:
			<input id="expDate" name="expDate" class="Wdate" readonly="true"  type="text" style="width:90px" onfocus="WdatePicker({lang:'en'})" value="${expDate!''}"/>
	        <input id="queryToCustomerCharge" name="queryToCustomerCharge" type="button" value="${bundle('common.query.name')}"  class="renew3" style="margin-left: 7px;"/> 
        	<br>
        	<span id="serialNoTip" style="font-size:20px;color:red;display:none;">&nbsp;</span>
        </div>
        
        <div id="chongzhi" style="display:none;" class="my_xs">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" class="p_table">
   			<tr>
    			<td>
    				${bundle("memberman.complaintman.productserial")}：<input type="text" readonly id="proSerialNo" name="proSerialNo" style="height:22px;line-height:22px;border:#c0c0c0 solid 1px;width:150px;" value=""/>
    				${bundle("renew.card.active.code")}： <input type="text" id="reChargeCardPassword" name="reChargeCardPassword"  style="height:22px;line-height:22px;border:#c0c0c0 solid 1px;width:150px;"  value="" maxlength="25"/>
    			   	&nbsp;&nbsp;&nbsp;&nbsp;
    			    <input type="button" id="reChargeCard" name="reChargeCard"  class="renew3" value="${bundle('tocustomercharge.charge.name')}" />
    				<br>
    				<span id="resultTip" style="font-size:20px;color:red;"></span>
    			</td>
    		</tr>
    		</table>
	</div>
	
        <div class="jss_xx">
        	<table width="100%" border="0" class="autobr">
			  <tr class="tool_title">
			    <td width="13%">${bundle("customercomplaint.product.name")}</td>
			    <td width="12%">${bundle("memberman.complaintman.productserial")}</td>
			    <td width="20%">${bundle("tocustomercharge.customer.name")}</td>
			    <td width="10%">${bundle("tocustomercharge.exp.date")}</td>
			    <td width="15%">${bundle("order.number.name")}</td>
			    <td width="10%">${bundle("common.list.operation")}</td>
			    <td width="15%">${bundle("sealer.renew.memo")}</td>
			  </tr>
			  	<#if customerChargeList ?? >
					<#list customerChargeList as item>
					  <#if item ??>
					  		<tr height="40">
						  		<td>${item.productName!""}</td>
								<td>${item.serialNo!""}</td>
								<td><a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" href="javascript:viewCustomerInfo('${item.customerCode}')">${item.customerName!""}</a></td>
								<td>${item.validDate!""}</td>
								<td>${item.orderNo!""}</td>
								<td><a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" href='javascript:xuzuOperation("${item.proCode!""}","${item.serialNo!""}","${item.productName!""}","${item.customerName!""}","${item.proTypeCode!""}","${item.areaCfgCode!""}","${item.saleCfgCode!""}")'>${bundle("tocustomercharge.charge.name")}</a></td>
								
								<#if item.remarkId ?? && item.remarkId!=0>
								<td>
								<!-- <a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" href="javascript:viewCustomerRemark('${item.remarkId!''}')">${bundle("sealer.renew.remarked")}</a> -->
								<a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" href="javascript:remarkCustomer('${item.proCode!''}','${item.customerName!''}')">Add</a>
								<a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" href="javascript:viewCustomerRemarkList('${item.proCode!''}')">View</a>
								</td>
					  		    <#else>
					  		    <td>
					  		    <a style=" font-size:14.5px; text-decoration:underline; color:#0085cd;" href="javascript:remarkCustomer('${item.proCode!''}','${item.customerName!''}')">Add</a>
					  		    </td>
					  		    </#if>
					  		</tr>
					  </#if>
				   </#list>
			   </#if>
			   
			   
		</table>
	</div>
				<#if pager != "">
					<#if totalpagecount gt 1>
					
						<div class="check1 clearfix">
							${pager}
						</div>
						<#else>
							${pager}
					</#if>
			 </#if>
	
</div>
</form>
</body>
	