 <script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/artDialog.js?skin=default"></script>
<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript">
function closePage(){
	$("#submitSales").attr("disabled",false);
	   var origin = art.dialog.open.origin;
		art.dialog.close();
		origin.location.reload();
	}
function saveRemarkInfo(){
	$("#subBtn").attr("disabled",true);
	var remark=$.trim($("#remark").val());
	var proCode=$("#proCode").val();
	var autelId=$("#autelId").val();
	var callFlag="0";
	var orderFlag="0";
	
	
	if ($('#callFlag').attr('checked')) {
		callFlag="1";
	}
	
	if ($('#orderFlag').attr('checked')) {
		orderFlag="1";
	}
	var resultTip=$("#resultTip");
	if(remark==""){
		resultTip.html($('#remarkError').val());
		$("#subBtn").attr("disabled",false);
		return;
	}
	
 	 $.ajax({
			url:'front/sealer/addCustomerProRemark.do',
			type:"post",
			async:false,
			data:{
				  "customerProRemark.proCode":proCode,
				  "customerProRemark.autelId":autelId,
				  "customerProRemark.callFlag":callFlag,
				  "customerProRemark.orderNo":orderFlag,
				  "customerProRemark.remark":remark},
			dataType:'JSON',
			success :function(data)
			{
				var jsonData = data;
				if(jsonData=="SUCCESS"){
					resultTip.html($('#successMsg').val());
					window.setTimeout(function(){closePage()},500);
				}else{
					resultTip.html($('#FailMsg').val());
					$("#subBtn").attr("disabled",false);
					return;
				}
			}
		});  
	
}
</script> 

<form id="submitToPay" method='post' action=''>
<input type="hidden" name="remarkError" id="remarkError" value="${bundle('sealer.renew.remarked.error')}"/>
<input type="hidden" name="successMsg" id="successMsg" value="${bundle('customer.plat.soft.change.success')}"/>
<input type="hidden" name="FailMsg" id="FailMsg" value="${bundle('customer.plat.soft.change.fail')}"/>
<input type="hidden" name="remarkId" id="remarkId" value="${remarkId}"/>

<div class="jss_xx">
		<table width="790px"  border="0">
			<tr  class="tool_title">
					    <td style="width:20%">${bundle('sale.query.create.createDate')}</td>
					    <td style="width:10%">${bundle('sale.query.create.user')}</td>
					    <td style="width:10%">${bundle('sealer.renew.call.flag')}</td>
					    <td style="width:10%">${bundle('order.number.name')}</td>
					    <td style="width:50%">${bundle('sealer.renew.memo')}</td>
					     </tr>
					    
					    	<#if list ?? >
					<#list list as item>
					  <#if item ??>
					    <tr style="height:35px">
					    <td>${item.createDate!''}</td>
					    <td>${item.createUser!''}</td>
					    <td>
					    <#if item.callFlag ?? && item.callFlag=="1" >
					      ${bundle('rga.management.radio.yes')}
					    <#else>
					      ${bundle('rga.management.radio.no')}
					    </#if>
					    
					    </td>
					    <td>${item.orderNo!''}</td>
					    <td>${item.remark!''}</td>
					    </tr>
					     </#if>
				   </#list>
			   </#if>
					    
					    
					</table>
</div>
</div>
</div>
</form>