 <script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/artDialog.js?skin=default"></script>
<script type="text/javascript" src="${bundle('autelproweb.url')}/autel/js/common/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var str=usaProvinceStr();
	$('#city').append(str);
});
function closePage(){
	$("#submitSales").attr("disabled",false);
	   var origin = art.dialog.open.origin;
		art.dialog.close();
		origin.querySubmit();
	}
function saveSalesQueryInfo(){
	$("#submitSales").attr("disabled",true);
	var firstName=$.trim($("#firstName").val());
	var lastName=$.trim($("#lastName").val());
	var proTypeCode=$("#proTypeCode").val();
	var email=$("#email").val();
	var telphone=$.trim($("#telphone").val());
	var address=$("#address").val();
	var openRemark=$("#openRemark").val();
	var city=$("#city").val();
	var zipCode=$("#zipCode").val();
	var resultTip=$("#resultTip");
	var regEmail = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
	if(proTypeCode=="-1"){
		resultTip.html($('#productTypeNull').val());
		$("#submitSales").attr("disabled",false);
		return;
	}
	if(firstName==""){
		resultTip.html($('#firstNameError').val());
		$("#submitSales").attr("disabled",false);
		return;
	}
	if(lastName==""){
		resultTip.html($('#lastNameError').val());
		$("#submitSales").attr("disabled",false);
		return;
	}
	if(email==""){
		resultTip.html($('#emailError').val());
		$("#submitSales").attr("disabled",false);
		return;
	} 
	if(email!=''){
	if(!regEmail.test(email)){
		resultTip.html($('#emailRegError').val());
		$("#submitSales").attr("disabled",false);
		return;
	}
	}
	if(telphone==""){
		resultTip.html($('#telphoneError').val());
		$("#submitSales").attr("disabled",false);
		return;
	}
	if(city=="-1"){
		city="";
	}
	 $.ajax({
			url:'front/sealer/addSalesQueryInfo.do',
			type:"post",
			async:false,
			data:{"salesQueryInfo.firstName":firstName,
				  "salesQueryInfo.lastName":lastName,
				  "salesQueryInfo.proTypeCode":proTypeCode,
				  "salesQueryInfo.email":email,
				  "salesQueryInfo.telphone":telphone,
				  "salesQueryInfo.address":address,
				  "salesQueryInfo.city":city,
				  "salesQueryInfo.zipCode":zipCode,
				  "salesQueryInfo.openRemark":openRemark},
			dataType:'JSON',
			success :function(data)
			{
				var jsonData = data;
				if(jsonData=="EXIST"){
					resultTip.html($('#usedMsg').val());
					$("#submitSales").attr("disabled",false);
					return;
				}else if(jsonData=="SUCCESS"){
					resultTip.html($('#successMsg').val());
					window.setTimeout(function(){closePage()},500);
				}else{
					resultTip.html($('#FailMsg').val());
					$("#submitSales").attr("disabled",false);
					return;
				}
			}
		}); 
	
}
</script> 

<form id="submitToPay" method='post' action=''>
<input type="hidden" name="telphoneError" id="telphoneError" value="${bundle('sale.query.customer.telphone.null')}"/>
<div class="account_right">
        	<div class="registe" style="padding-left:120px">
					<table width="100%" border="0">
			     	<tr>
					    <td style="width:100px;text-align:right" >  ${bundle('sale.query.customer.first.name')}&nbsp; </td>
					    <td >
			      <input name="customerInfo.firstName" id="firstName" disabled="true" type="text" value="${customerInfo.firstName!''}" style="width:200px"   class="input_sign"   />
					     </td>
					    <td  style="width:90px;text-align:right" >&nbsp;&nbsp;${bundle('sale.query.customer.last.name')} &nbsp;</td>
					    <td><input name="customerInfo.lastName" id="lastName" disabled="true" type="text" value="${customerInfo.lastName!''}" style="width:200px"   class="input_sign"   />
					     </td>
					 </tr>
			     	
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			     	</tr>
			     	
			     	 <tr>
					    <td  style="width:100px;text-align:right">${bundle('accountinformation.country.name')}&nbsp;</td>
					    <td><input name="customerInfo.country" id="country" type="text" disabled="true" value="${customerInfo.country!''}" style="width:200px"   class="input_sign"   />
					     </td>
					     
					    <td  style="width:90px;text-align:right">&nbsp;&nbsp;${bundle('accountinformation.company.name')}&nbsp;</td>
					   <td><input name="customerInfo.company" id="company" type="text" disabled="true" value="${customerInfo.company!''}" style="width:200px"   class="input_sign"   />
					  
					  </tr>
					 </tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			     	</tr>
					   <tr>
					   <td  style="width:100px;text-align:right">&nbsp;&nbsp;${bundle('accountinformation.address.name')}&nbsp;</td>
					   <td><input name="customerInfo.address" id="address" type="text" disabled="true" value="${customerInfo.address!''}" style="width:200px"   class="input_sign"   />
					    <td  style="width:90px;text-align:right">${bundle('accountinformation.city.name')}&nbsp;</td>
					    <td><input name="customerInfo.city" id="city" type="text" disabled="true" value="${customerInfo.city!''}" style="width:200px"   class="input_sign"   />
					    
					  </tr>
	        	 	
	        	 	<tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			            <td class="">&nbsp;</td>
			     	</tr>
			     	
			     	 <tr>
					    <td  style="width:100px;text-align:right">${bundle('regcustomer.info.province')}&nbsp;</td>
					    <td>
					    <input name="customerInfo.province" id="address" type="text" disabled="true" value="${customerInfo.province!''}" style="width:200px"   class="input_sign"   />
					     </td>
					     
					    <td  style="width:90px;text-align:right">&nbsp;&nbsp;${bundle('sale.query.customer.zipcode')}&nbsp;</td>
					   <td><input name="customerInfo.zipCode" id="zipCode" type="text" disabled="true" value="${customerInfo.zipCode!''}" style="width:200px"   class="input_sign"   />
					  </tr>
					 </tr>
					 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			            <td class="">&nbsp;</td>
			     	</tr>
			     	 <tr>
			           <td class="">&nbsp;</td>
			           
			           <td class="" colspan="3">${bundle("accountinformation.countrycode.name")}  
					    	&nbsp;&nbsp;&nbsp;&nbsp;        
					    	${bundle("accountinformation.areacode.name")} </td>
			     	</tr>
					 <tr style="height:10px">
			          
			     	</tr>
					 <tr>
					 <td style="width:100px;text-align:right">${bundle("memberman.sealerinfoman.phonec")}&nbsp;</td>
					    <td colspan="3">
					    	<input name="dayTimePhoneCC" id="dayTimePhoneCC" disabled="true" type="text" value="${customerInfo.daytimePhoneCC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	<input name="dayTimePhoneAC" id="dayTimePhoneAC" disabled="true" type="text" value="${customerInfo.daytimePhoneAC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	<input name="dayTimePhone" id="dayTimePhone" type="text" disabled="true" value="${customerInfo.daytimePhone!''}" class="input_sign" size="11" maxlength="15" />
					    	<img id="dayTimeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					 </tr>
					 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			            <td class="">&nbsp;</td>
			     	</tr>
					 <tr>
					 <td  style="width:100px;text-align:right">${bundle("accountinformation.mobilephone.name")}&nbsp;</td>
					    <td colspan="3">
					    	 <input name="mobilePhoneCC" id="mobilePhoneCC" type="text" disabled="true" value="${customerInfo.mobilePhoneCC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	 <input name="mobilePhoneAC" id="mobilePhoneAC" type="text" disabled="true" value="${customerInfo.mobilePhoneAC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	 <input name="mobilePhone" id="mobilePhone" type="text" disabled="true" value="${customerInfo.mobilePhone!''}" class="input_sign" size="11" maxlength="15" />
					    	<img id="mobileImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					 </tr>
					 <tr>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			           <td class="">&nbsp;</td>
			            <td class="">&nbsp;</td>
			     	</tr>
					  <tr>
					 <td  style="width:100px;text-align:right">${bundle("sealer.renew.call.flag")}&nbsp;</td>
					    <td colspan="3">
					     <input name="callFlag" disabled="true" id="callFlag" type="text" <#if remark ??> value="${bundle('rga.management.radio.yes')}"</#if> class="input_sign" size="11" maxlength="5" />
					    </td>
					   
					 </tr>
					 
					 
					</table>
					
					
				
					
</div>
</div>
</div>
</form>