<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <p style="font-size:13px; color:#727272; padding-left:276px;">${bundle("mydistributor.dear.name")} ${bundle("welcome.distributor.support")}: ${userName!""}</p> -->
<p style="font-size:28px; line-height:24px; font-weight:bold; color:#000000; padding-left:230px;">${bundle("mydistributor.welcometoautel.name")}</p>
<!-- <p style="font-size:13px; margin-top:10px; line-height:18px; color:#727272; padding-left:116px; padding-right:116px;"> -->
<!-- 					${bundle("mydistributor.welcome.desc")}</p> -->
<p style="font-size:13px; padding-bottom:10px; padding-top:10px; color:#727272; padding-left:290px;">${bundle("mydistributor.lastlogintime.name")}: ${lastLoginTime!""}</p>