<?xml version="1.0" encoding="UTF-8" ?>

<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
	version="2.0">

	<description>COP 1.0 XML library</description>
	<display-name>COP Server Components tld</display-name>
	<tlib-version>1.0</tlib-version>
	<short-name>tree</short-name>
	<uri>http://www.javashop.cn/grid</uri>
    
    
    <tag>
		<description>grid tag</description>
		<name>grid</name>
		<tag-class>com.cheriscon.cop.sdk.webapp.taglib.html.GridTaglib</tag-class>
		<body-content>JSP</body-content>
		
		<attribute>
			<name>from</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		
		<attribute>
			<name>pager</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

		<attribute>
			<name>panel</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>	
		<attribute>
			<name>type</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>						
				
	</tag>

	<tag>
		<description>grid header tag</description>
		<name>header</name>
		<tag-class>com.cheriscon.cop.sdk.webapp.taglib.html.GridHeaderTaglib</tag-class>
		<body-content>JSP</body-content>
	</tag>
	
 	<tag>
		<description>grid body tag</description>
		<name>body</name>
		<tag-class>com.cheriscon.cop.sdk.webapp.taglib.html.GridBodyTaglib</tag-class>
		<body-content>JSP</body-content>
	 	
		<attribute>
			<name>item</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	
	<tag>
		<description>grid cell tag</description>
		<name>cell</name>
		<tag-class>com.cheriscon.cop.sdk.webapp.taglib.html.GridCellTaglib</tag-class>
		<body-content>JSP</body-content>
		<attribute>
			<name>sort</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

		<attribute>
			<name>sortDefault</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	
		<attribute>
			<name>width</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		

		<attribute>
			<name>height</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>

		<attribute>
			<name>style</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>		

		<attribute>
			<name>align</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		
		<attribute>
			<name>plugin_type</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		
		<attribute>
			<name>clazz</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
					
		<attribute>
			<name>id</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		
		<attribute>
			<name>attrs</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>	
	</tag>
</taglib>
