
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--中间开始-->

<!--中间开始-->
<div class="autel1">${bundle("accountinformation.user.resetpasswordtitle")}</div>
<div class="regi1">
	<div class="commu_top1"></div>
    <div class="commu_midd1 clearfix">
    	<div class="commu_left1">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td class="font18black">${bundle("accountinformation.user.regresult.title")}</td>
			  </tr>
			  <tr>
			    <td class="font14black">${bundle("accountinformation.user.checkEmail.name")}. </td>
			  </tr>
			</table>

		</div>
  		<div class="commu_right1">
          
          <table width="90%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="8%" class="font24black1">
              	<#if result == "2">
              		<img src="${imagePath}/images/dot_7.jpg" width="27" height="27" />
              	<#else>
              		<img src="${imagePath}/images/dot_5.jpg" width="32" height="31" />
              	</#if>
              	
              </td>
              <td width="92%" class="font14black">
              		<#if result == "0">
              	 		${bundle("accountinformation.secondemail.isnotexisterror")}
              	 	<#elseif result == "1">
              	 		${bundle("accountinformation.user.activeinvalid")}
              	 	<#elseif result == "2">
              	 		${bundle("accountinformation.secondemail.activesuccess")}
              	 	<#elseif result == "3">
              	 		${bundle("accountinformation.secondemail.isactive")}
              	 	</#if>
              </td>
            </tr>
           <tr>
              <td height="10" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="2"><a href="#" class="hongs1"></a>
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="font14red1">&nbsp;&nbsp;&nbsp;&nbsp;<a href="login.html?operationType=3" style="color:red;">${bundle("accountinformation.login.name")}</a>&nbsp;</td>
                    <td><a href="login.html?operationType=3" class="hongs1"><img src="${imagePath}/images/dot_6.jpg" width="7" height="7" /></a></td>
                  </tr>
                </table></td>
            </tr>
            <tr>
              <td height="180" colspan="2" align="right">&nbsp;</td>
            </tr>
          </table>
  		</div>
    </div>
    <div class="commu_dowm1"></div>
</div>
<div style=" height:30px;"></div>

  		