<div class="account_right530">
    	<h4></h4>
        <div class="my_products_g530">
   	    <div class="clearfix it_car">
   	    		<#if type== 0>
   	    			<div class="ql_left"><img src="themes/autel/images/qg.gif" width="36" height="36" /> &nbsp; ${bundle("cart.item.add.name")}</div>
   	    		<#else>
   	    			<div class="ql_left1"><img src="themes/autel/images/hth.gif" width="36" height="36" /> &nbsp;${bundle("cart.already.name")}</div>
   	    		</#if>
            	
                <div class="ql_right">
                	<div class="or1"><strong>${bundle("mysales.total.name")}:</strong>  <span style="color:#990000;"><strong id="smoney" sallmoney="0.00"><span id="money" allmoney="0.00" style="color:#8f1d22;font-weight:bold;font-size:20px;">$0.00</span></span></div>
                    <div class="or2"><span id="number" name="number">0</span> ${bundle("cart.itemscart.name")}</div>
                	<div class="or3"><span>
                	<input name="" type="button" value="${bundle('cart.editcart.name')}" class="renew_lan618" onclick="javacript:jump('cart.html?way=1')"/></span>
                	<input name="" type="button" value="${bundle('cart.proceedcheckout.name')}" class="renew1618" onclick="submitOrdey();"/>
                	</div>
                </div>
          </div>
          <div style="margin-top:2px;">
          	<table width="910" border="0">
  <tr>
    <td colspan="6" style="font-size:24px; padding-left:28px; color:#666666;">${bundle("cart.shoppingcart.name")}</td>
    
  </tr>
  <tr>
    <td style="padding-left:28px; color:#666666;">${bundle("order.items.name")}</td>
   
    <td width="227" align="right" style="color:#666666;">${bundle("order.type.name")} </td>
    <td width="180"></td>
    <td width="104" align="left" style="color:#666666;">${bundle("order.quantity.name")}</td>
    <td width="30" align="right"></td>
    <td align="right" width="60" style="color:#666666;">${bundle("order.price.name")}</td>
  </tr>
</table>
          </div>
        	<dl>
        	<#list shoppingCart as cart>
        		<#list cart.minUnitVOs as minUnit>
	              <dd style="margin-left:14px; margin-right:14px;" id="dd_${cart.proSerial}_${minUnit.minSaleUnitCode}"></dd>
	           	  <dt class="clearfix" id="${cart.proSerial}_${minUnit.minSaleUnitCode}">
	           	  	<div class="my_pr_in69_ll"></div>
	               	<div class="my_pro_piciit"><img src="${cart.picPath!''}" width="83" height="77" /></div>
	                <div class="cart2_a69_ll">
	                	<h3><label class="cart_name">${minUnit.name}</label></h3>
	                    <p style="font-weight:normal;font-size:14px; color:#666666;">${bundle("myproducts.sn.name")}: ${cart.proSerial}</p>
	                    <div class="my_table">
	                    	<#if minUnit.type == 1>
		                    	<table width="786" border="0">
						  <tr>
						  <input type="hidden" picPath="${cart.picPath!''}" isSoft="${minUnit.isSoft}" isRenew="1" price="${minUnit.discountPrice}" id="hid_${cart.proSerial}_${minUnit.minSaleUnitCode}" mCode="${minUnit.minSaleUnitCode}" serialNo="${cart.proSerial}" cartid="${cart.id}"/>
						    <td width="30"><span class="remove"><a  onclick="deleteOneData('${cart.proSerial}', '${minUnit.minSaleUnitCode}')">${bundle("cart.remove.name")}</a></span></td>
						    <td align="left" width="175"></td>
						    <td width="227" style="font-weight:normal;" align="right">${bundle("myproducts.renewal.name")}</td>
						    <td width="150"></td>
						    <td width="104" align="left" style="font-weight:normal;"><input name="" style="text-align:center;" type="text" class="re_year" value="${minUnit.year}" maxlength="2" onkeyup="value=this.value.replace(/\D+/g,'');upadateYear('${cart.proSerial}','${minUnit.minSaleUnitCode}','${cart.id}')" id="year_${cart.id}${minUnit.minSaleUnitCode}" rentyear="${minUnit.year}"/> ${bundle("myproducts.year.name")}</td>
						    <td width="60" align="right"></td>
						    <td align="right" width="70" class="add_tocart69_ll"><span style="color:#8f1d22;font-weight:bold;font-size:20px;font-weight:normal;">$${minUnit.discountPrice}</span></td>
						  </tr>
						</table>
					<#else>
						<table width="786" border="0">
						  <tr>
						  <input type="hidden" picPath="${cart.picPath!''}" isSoft="${minUnit.isSoft}" isRenew="0" price="${minUnit.discountPrice}" id="hid_${cart.proSerial}_${minUnit.minSaleUnitCode}" mCode="${minUnit.minSaleUnitCode}" serialNo="${cart.proSerial}" cartid="${cart.id}"/>
						    <td width="30"><span class="remove"><a onclick="deleteOneData('${cart.proSerial}', '${minUnit.minSaleUnitCode}')">${bundle("cart.remove.name")}</a></span></td>
						    <td align="left" width="175"></td>
						    <td width="227" align="right" style="font-weight:normal;">${bundle("myproducts.new.name")}</td>
						    <td width="150"></td>
						    <td width="104" align="left"></td>
						    <td width="60" align="right"></td>
						    <td align="right" width="70" class="add_tocart69_ll"><span style="color:#8f1d22;font-weight:bold;font-size:20px;font-weight:normal;">$${minUnit.discountPrice}</span></td>
						  </tr>
						</table>
					</#if>
	                    </div>
	                </div>
	              </dt>
	            </#list>
	       </#list>
              
              
            </dl>
        </div>
    </div>