<div class="since">
	<h5>${bundle("myproducts.softrent.name")}</h5>
	<table width="750" border="0">
		<#if minSaleUnitDetailVOs?has_content> 
		<#list minSaleUnitDetailVOs as detailVO>
		<tr>
			<td width="15"><input name="chk" type="checkbox" value=""
				minSaleUnitCode='${detailVO.minSaleUnitCode }'
				areaCfgCode='${detailVO.areaCfgCode }' isSoft='1'/>
			</td>
			<td align="left" width="205"><a href="minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0">${detailVO.minSaleUnitName }</a></td>
			<td width="150" align="left">${bundle("myproducts.exp.name")}:<label id="validData_${detailVO.minSaleUnitCode }" validData="${detailVO.date }">${detailVO.date }</td>
			<#if detailVO.isValid == 0>
				<td width="134" align="right">${bundle("myproducts.renewal.name")}
					<input name="" maxlength="2" type="text" class="re_year" style="text-align:center;" value="1" id="rentYear_${detailVO.minSaleUnitCode}" onkeyup="value=this.value.replace(/\D+/g,'');rentYear('${detailVO.minSaleUnitCode}');"/>
						${bundle("myproducts.year.name")}
				</td>
			<#else>
				<td width="134" align="right">${bundle("myproducts.renewal.name")}
					<input name="" readonly="readonly" type="text" class="re_year" style="text-align:center;" value="1" id="rentYear_${detailVO.minSaleUnitCode}" onkeyup="value=this.value.replace(/\D+/g,'')"/>
						${bundle("myproducts.year.name")}
				</td>
			</#if>	
				
			<td width="84" align="right" style="color: #000000;"><strong>$${detailVO.discountPrice}</strong>
			</td>
			<td width="60" align="right" style="text-decoration: line-through;">$<label id="price_${detailVO.minSaleUnitCode }" price="${detailVO.price}">${detailVO.price}</label></td>
			<td align="right" class="add_tocart">
				<a onclick="addShoppingCart('${buySoftRentInfoVO.proName }','${buySoftRentInfoVO.proSerial }','${buySoftRentInfoVO.proCode }','${detailVO.minSaleUnitCode}','${detailVO.areaCfgCode}','${buySoftRentInfoVO.picPath }','1');">
				${bundle("myproducts.addcart.name")}</a>
			</td>
		</tr>
		</#list> </#if>
	</table>
</div>
<div class="check clearfix">
	<div style="font-size: 14px; float: left;">
		<span class="chickall">
			<input name="chkAll" type="checkbox" value="" />
		</span>
		<strong class="check_hei">
			<a href="#">${bundle("myproducts.checkall.name")}</a>
		</strong>
		<span class="add_lan">
			<a onclick="addShoppingCarts('${buySoftRentInfoVO.proName }','${buySoftRentInfoVO.proSerial }','${buySoftRentInfoVO.proCode }','${buySoftRentInfoVO.picPath }','1');">
				${bundle("myproducts.addcart.name")}
			</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span id="addtocart" class="font12gray" style="line-height:15px;color:red"></span>
	</div>
	<div class="my_page">
		<#if minSaleUnitDetailVOs?has_content> 
			${pager}
		</#if> 
	</div>
</div>
