<h4>${bundle("myproducts.softwarepurchase.name")}</h4>
        <div class="my_products">
<dl>
<dt class="clearfix">
	<div class="my_pr_in"></div>
	<div class="my_pro_pic">
		<a href="#"><img src="${buySoftInfoVOs.picPath }" width="183" height="125" />
		</a>
	</div>
	<div class="extend">
		<h3>
			${buySoftInfoVOs.proName }<span>${bundle("myproducts.sn.name")}: ${buySoftInfoVOs.proSerial }</span>
		</h3>
		<h5>${bundle("order.software.name")}</h5>
		<div class="my_table">
			<table width="531" border="0">
<#if minSaleUnitS??>
	<#list minSaleUnitS as detailVO>
		<tr>
		    <td width="15"><input name="chk" type="checkbox" value="" minSaleUnitCode='${detailVO.minSaleUnitCode }' areaCfgCode='${detailVO.areaCfgCode }'/></td>
		    <td align="left" width="180"><a href="minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0">${detailVO.minSaleUnitName }</a></td>
		    <td width="90" align="right" style="color:#000000;"><strong>$${detailVO.discountPrice }</strong></td>
		    <td width="80" align="right" style=" text-decoration:line-through;">$${detailVO.price }</td>
		    <td align="right" class="add_tocart"><a onclick="addShoppingCart('${buySoftInfoVOs.proName }','${buySoftInfoVOs.proSerial }','${buySoftInfoVOs.proCode }','${detailVO.minSaleUnitCode}','${detailVO.areaCfgCode}','${buySoftInfoVOs.picPath }');">${bundle("myproducts.addcart.name")}</a></td>
	  	</tr>
	</#list> 
</#if>
			</table>
		</div>
	</div>
</dt>
</dl>

<div class="check clearfix">
	<div style="font-size: 14px; float: left;">
		<span class="chickall"><input name="chkAll" type="checkbox"
			value="" />
		</span><strong class="check_hei"><a href="#">${bundle("myproducts.checkall.name")}</a>
		</strong><span class="add_lan"><a onclick="addShoppingCarts('${buySoftInfoVOs.proName }','${buySoftInfoVOs.proSerial }','${buySoftInfoVOs.proCode }','${buySoftInfoVOs.picPath }');">${bundle("myproducts.addcart.name")}</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span id="addtocart" class="font12gray" style="line-height:15px;color:red"></span>
	</div>
	
		<div class="my_page">
			<#if minSaleUnitS?has_content>
				${pager}
			</#if>
		</div>
	
</div>