<#macro cfgSoftRent names>
	<#assign minSaleUnitName=""> 
	<#if names??>
			<#list names as minSaleUnitsMemo> 
				<#assign minSaleUnitName=minSaleUnitName+minSaleUnitsMemo.name> 
				<span sname="${minSaleUnitsMemo.name!''}" des="${minSaleUnitsMemo.memo!''}" style="display: none;"></span>
				<#if minSaleUnitsMemo_has_next>
						<#assign minSaleUnitName=minSaleUnitName+"、"> 
				</#if>
			</#list>
	</#if>
	<#if (minSaleUnitName?length>=10) >
				${minSaleUnitName?substring(0,9)}...
		<#else>
				${minSaleUnitName}
	</#if>
</#macro>
<#macro title names>
<#assign minSaleUnitName="">
<#if names??>
<#list names as minSaleUnitsMemo>
<#assign minSaleUnitName=minSaleUnitName+minSaleUnitsMemo.name>
<#if minSaleUnitsMemo_has_next><#assign minSaleUnitName=minSaleUnitName+'&#10'></#if>
</#list>
</#if>${minSaleUnitName}
</#macro>

<#macro minSaleUnitCode names><#assign code=""><#if names??><#list names as minSaleUnitsMemo><#assign code=code+minSaleUnitsMemo.minSaleUnitcode><#if minSaleUnitsMemo_has_next><#assign code=code+"-"></#if></#list></#if>${code?trim}</#macro>
<h4><span><input id="renewPaybyCard" type="button" value="${bundle('myproducts.renewbycard.name')}" class="renew_lan" onclick="RenewPaybyCard();" /></span>${bundle("myproducts.softwarerenewal.name")}</h4>
<div class="my_products">
<div class="rechar" style="display: none;" id="reChargeCard">
	<br>
	<table cellpadding="10">
		<tr height="10">
			<td align="left">
				${bundle("myproducts.rechargaccount.name")}
			</td>
			<td>
				:&nbsp;<input name="account"id="account" type="text" class="rech_input" onfocus="clearInfo();"/>
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;</td>
			<td>
				<span>
					<input name="" value="${bundle('customercomplaint.commit.name')}" type="button" class="ok" onclick="reChargeCard('${cfgSoftRentInfoVO.proSerial}');" style="font-size:17px;"/>
				</span>
			</td>
		</tr>
		<tr>
             <td>&nbsp;</td>
             <td >&nbsp;&nbsp;<span id="isAccount" class="font12gray" style="line-height:15px;color:red"></span></td>
         </tr>
		<tr height="10">
			<td align="left">
				${bundle("myproducts.rechargepwd.name")}
			</td>
			<td>
				:&nbsp;<input type="password" class="rech_input" name="pwd" id="pwd" onfocus="clearInfo();"/>
			</td>
		</tr>
		<tr>
             <td>&nbsp;</td>
             <td >&nbsp;&nbsp;<span id="isCommon" class="font12gray" style="line-height:15px;color:red"></span></td>
         </tr>
	</table>
	
</div>
<dl>
	<dt class="clearfix">
		<div class="my_pr_in"></div>
		<div class="my_pro_pic">
			<img src="${cfgSoftRentInfoVO.picPath!'' }" width="183"
				height="125" /> 
		</div>
		<div class="extend">
			<h3>
				${cfgSoftRentInfoVO.proName!'' }<span>${bundle("myproducts.sn.name")}: ${cfgSoftRentInfoVO.proSerial!''}</span>
			</h3>
			<h5>${bundle("myproducts.cfgsoftware.name")}</h5>
			<div class="my_table">
				<table width="531" border="0">
					<tr>
						<td width="15"><input name="chk" type="checkbox" value="" minSaleUnitCode='${cfgSoftRentInfoVO.saleCfgCode }'
							areaCfgCode='${cfgSoftRentInfoVO.areaCfgCode }' isSoft='0'/>
						</td>
						<td align="left" width="65" title='<@title names=minSaleUnitsMemos/>' style="WORD-BREAK: break-all; WORD-WRAP: break-word">
							<a href="minSaleUnitSoftware.html?saleCfgCode=${cfgSoftRentInfoVO.saleCfgCode}&type=1" >
								<!-- <@cfgSoftRent names=minSaleUnitsMemos/> -->								
								${cfgSoftRentInfoVO.saleCfgName }
							</a>
						</td>
						<td width="140" align="left">${bundle("myproducts.exp.name")}: <label id="validData_${cfgSoftRentInfoVO.saleCfgCode}" validData="${cfgSoftRentInfoVO.date!''}">${cfgSoftRentInfoVO.date!''}</label></td>
						
						<#if cfgSoftRentInfoVO.isValid == 0>
							<td width="120" align="right">${bundle("myproducts.renewal.name")}<input name=""
								type="text" class="re_year" style="text-align:center;" value="1" id="rentYear_${cfgSoftRentInfoVO.saleCfgCode}" maxlength="2" onkeyup="value=this.value.replace(/\D+/g,'');rentYear('${cfgSoftRentInfoVO.saleCfgCode}');"/> ${bundle("myproducts.year.name")}</td>
							<#else>
							
							<td width="120" align="right">${bundle("myproducts.renewal.name")}
								<input name="" type="text" class="re_year" style="text-align:center;" value="1" id="rentYear_${cfgSoftRentInfoVO.saleCfgCode}" readonly="readonly"/> 
								${bundle("myproducts.year.name")}
							</td>
						</#if>	
						
						
						<td width="50" align="center" style="color: #000000;"><strong>$${cfgSoftRentInfoVO.discountPrice!'0'}</strong>
						</td>
						<td width="50" align="center"
							style="text-decoration: line-through;">$<label id="price_${cfgSoftRentInfoVO.saleCfgCode}" price="${cfgSoftRentInfoVO.price!'0'}">${cfgSoftRentInfoVO.price!'0'}</label></td>
						<td align="right" class="add_tocart">
							<a onclick="addShoppingCart('${cfgSoftRentInfoVO.proName }','${cfgSoftRentInfoVO.proSerial }','${cfgSoftRentInfoVO.proCode }','${cfgSoftRentInfoVO.saleCfgCode}','${cfgSoftRentInfoVO.areaCfgCode}','${cfgSoftRentInfoVO.picPath }','0');">
								${bundle("myproducts.addcart.name")}
							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</dt>
</dl>




