<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--中间开始-->
<div class="autel1"><p class="font24black1">${bundle("accountinformation.user.resetpasswordtitle")}</p></div>
<div class="regi1">
	<div class="commu_top1"></div>
    <div class="commu_midd1 clearfix">
    	<div class="commu_left1">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td class="font18black">${bundle("changeAutelID.html.titile")}</td>
			  </tr>
			  <tr>
			    <td class="font14black">${bundle("customer.change.info3")} </td>
			  </tr>
			   
		</table>

		</div>
  		<div class="commu_right1">
  		 <form id="changeAutelForm" name="changeAutelForm" action="changeAutelIDResult.html" method="post">
          <input type="hidden" id="operationType" name="operationType" value="22">
          <input type="hidden" id="autelId" name="autelId" value="${autelId!''}">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td colspan="2" width="100%" class="font24black1">${bundle("customer.change.title")}</td>
            </tr>
            <tr>
              <td colspan="2" style="color:red;">
       
              </td>
            </tr>
            <tr>
	            <td width="30%" height="66"  align="right" class="font14black">Autel ID:&nbsp;&nbsp;</td>
	            <td width="70%" align="left">
	     			${autelId!''}
	            </td>
	         </tr>
	         
            <tr>
              <td align="right" class="font14black">${bundle("syssetting.batch.productnumber")}<span  

style="color:red">&nbsp;*&nbsp;&nbsp;</span></td>
              <td align="left">
              <input type="text" style="width:200px" id="productSN" name="productSN" class="input_sign2" maxlength="25"  

size="35"/>
              <img id="productSNImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
              </td>
            </tr>
            
            <tr id="productErrorInfo"  style="display:none;">
             <td>&nbsp;</td>
              <td style="padding-top:5px;"><span id="productErrorInfoTip" class="font12gray" style="font-

size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
            
            <tr >
              <td>&nbsp;</td>
              <td align="left"></td>
            </tr>
            
             <tr>
              <td align="right" class="font14black">${bundle("regproduct.registerpwd.name")}<span  

style="color:red">&nbsp;*&nbsp;&nbsp;</span></td>
              <td align="left">
              <input type="password" style="width:200px" id="productPwd" name="productPwd" class="input_sign2" 

maxlength="25"  size="35"/>
              <img id="productPwdImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
              </td>
            </tr>
            <tr id="passwordErrorInfo"  style="display:none;">
             <td>&nbsp;</td>
              <td style="padding-top:5px;"><span id="passwordErrorInfoTip" class="font12gray" style="font-

size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
            <tr id="passwordNull">
              <td>&nbsp;</td>
              <td align="left"></td>
            </tr>
            <tr>
              <td align="right" class="font14black">${bundle("customer.change.new.autel")}<span  

style="color:red">&nbsp;*&nbsp;&nbsp;</span></td>
              <td align="left">
              <input type="text" style="width:200px"  onfocus="clearautelIdValue();" onkeyup="checkAutelID2();" 

onblur="onblurAutelId();" id="newAutelId" name="newAutelId" class="input_sign2" value="${bundle

('customerinfo.user.forexample')}:steve@auteltech.com" maxlength="25" size="35" />
              <img id="newAutelIdImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
              
                    
              <div class="au_id_2" id="au_id" style="display:none;margin-left: 210px">
							<div class="id_top"></div>
	    					<div class="id_midd">
	    						<dl>
				        			<dt style="margin-bottom: 2px;margin-top:2px;">${bundle

("accountinformation.autelIDbixu.name")}</dt>
				            		<font id="emailError" color="">${bundle

("accountinformation.emailAddress.name")}</font><br/>
				            		<font id="isUse" color="">${bundle

("accountinformation.isUse.name")}</font>
	        					</dl>
	  						</div>
	    					<div class="id_down"></div>
						</div>
              
              </td>
            </tr>
           <tr id="newAutelIdErrorInfo"  style="display:none;">
             <td>&nbsp;</td>
              <td style="padding-top:5px;"><span id="newAutelIdErrorInfoTip" class="font12gray" style="font-

size:12px;color:#ea0000;font-weight:bold;"></span>
              </td>
            </tr>
             <tr >
              <td>&nbsp;</td>
              <td align="left"></td>
            </tr>
              <tr>
              <td align="right" class="font14black">${bundle("accountinformation.user.regcode")}<span  

style="color:red">&nbsp;*&nbsp;&nbsp;</span></td>
              <td><input onfocus="clearImagenumErrorInfo();" name="imagenum"  id="imagenum" type="text" class="input_sign" 

id="textfield4" style="width:100px" maxlength="4" size="15"/>
              	  <img src="" id="image_validate" name="image_validate" class="remember_login_name" width="100" 

height="30"  onclick="javascript:buildRandom();" alt='${bundle("accountinformation.user.regclickchange")}' 

style="cursor:hand;"/>
              	  <a onclick="javascript:buildRandom();" style="padding-left:5px;font-size:11px;color:#08c;" 

class="font14red">${bundle("accountinformation.user.regclickchange")}</a>
              	  
              </td>
            </tr>
            <tr id="imagenumErrorInfo"  style="display:none;">
              <td class="font14black">&nbsp;</td>
              <td><img id="imagenumImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img><span 

id="imagenumErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
             <tr >
              <td>&nbsp;</td>
              <td align="left"></td>
            </tr>
            <tr>
              <td colspan="2" align="center">
              	<input type="button" id="imageField" name="imageField" onclick="window.history.go(-1);" value="${bundle

('common.previous.name')}" class="canbt"/>&nbsp;&nbsp;
                <label>
  					<input type="button"  id="changeAutelCheck" name="changeAutelCheck" 

value="${bundle('common.next.name')}" class="canbt"/>
                </label>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          </form>
  		</div>
        
    </div>
    <div class="commu_dowm1"></div>
</div>
<div style=" height:30px;"></div>

<script type="text/javascript">

function buildRandom()
{
	var date = new Date();
	$("#image_validate").attr("src","validcode.do?vtype=_customer&rmd="+new Date().getTime());
}
buildRandom();
</script>