<div class="about_all">
	<div class="last_news">
    	<h3>${bundle("contactUs.name")}</h3>
        <ul>
        	<li>
            	<div class="su_addres1">
  					<p style="margin-top:10px; color:#666666;">${bundle("contactUs.memo")}</p>
    			<dl>
    				<dt>${bundle("contactUs.northAmerica.name")}:</dt>
        				<dd><img src="themes/autel/images/north_06.jpg" width="19" height="16" /><strong>${bundle("contactUs.northAmerica.phone.name")}:</strong> ${bundle("contactUs.northAmerica.phoneNumber.name")}</dd>
        				<dd><img src="themes/autel/images/north_08.jpg" width="19" height="19" /><strong>${bundle("contactUs.northAmerica.email.name")}:</strong> <span class="lanse">${bundle("contactUs.northAmerica.emailNumber.name")}</span></dd>
        				<dd><img src="themes/autel/images/north_03.jpg" width="19" height="18" /><strong>${bundle("contactUs.northAmerica.mail.name")}:</strong> <span class="lanse">${bundle("contactUs.northAmerica.mailNumber.name")}</span></dd>
        				<dd><img src="themes/autel/images/north_10.gif" width="19" height="16" /><strong>${bundle("contactUs.northAmerica.fax.name")}:</strong> ${bundle("contactUs.northAmerica.faxNumber.name")}</dd>
        				<dt>${bundle("contactUs.europe.name")}:</dt>
        				<dd><img src="themes/autel/images/north_06.jpg" width="19" height="16" /><strong>${bundle("contactUs.europe.phone.name")}:</strong> ${bundle("contactUs.europe.phoneNumber.name")}</dd>
        				<dd><img src="themes/autel/images/north_08.jpg" width="19" height="19" /><strong>${bundle("contactUs.europe.email.name")}:</strong> <span class="lanse">${bundle("contactUs.europe.emailNumber.name")}</span></dd>
        				<dd><img src="themes/autel/images/north_03.jpg" width="19" height="18" /><strong>${bundle("contactUs.europe.mail.name")}:</strong> <span class="lanse">${bundle("contactUs.europe.mailNumber.name")}</span></dd>
        				<dd><img src="themes/autel/images/north_09.jpg" width="19" height="19" /><strong>${bundle("contactUs.europe.web.name")}:</strong> ${bundle("contactUs.europe.webNumber.name")}</dd>
        				<dt>${bundle("contactUs.chinaheadquarters.name")}:</dt>
        				<dd><img src="themes/autel/images/north_06.jpg" width="19" height="16" /><strong>${bundle("contactUs.chinaheadquarters.phone.name")}:</strong> ${bundle("contactUs.chinaheadquarters.phoneNumber.name")}</dd>
        				<dd><img src="themes/autel/images/north_08.jpg" width="19" height="19" /><strong>${bundle("contactUs.chinaheadquarters.email.name")}:</strong> <span class="lanse">${bundle("contactUs.chinaheadquarters.emailNumber.name")}</span></dd>
        				<dd><img src="themes/autel/images/north_03.jpg" width="19" height="18" /><strong>${bundle("contactUs.chinaheadquarters.mail.name")}:</strong> ${bundle("contactUs.chinaheadquarters.mailNumber1.name")}<br /><span style="margin-left:64px;">${bundle("contactUs.chinaheadquarters.mailNumber2.name")}</span></dd>
        				<dd><img src="themes/autel/images/north_10.gif" width="19" height="16" /><strong>${bundle("contactUs.chinaheadquarters.fax.name")}:</strong> ${bundle("contactUs.chinaheadquarters.faxNumber.name")}</dd>
    					<dd><input name="" type="button" value="${bundle('calendar.close.name')}" class="renew3" onclick="window.close();"/></dd>
    			</dl>
				</div>
            </li>
        </ul>
    </div>
</div>