<form id="alipaysubmit" name="alipaysubmit"
	action="https://mapi.alipay.com/gateway.do?_input_charset=utf-8"
	method="get">
	<input type="hidden" name="sign"
		value="d00e619f59417f637a14823096a3e5d8" /><input type="hidden"
		name="_input_charset" value="utf-8" /><input type="hidden"
		name="exter_invoke_ip" value="113.106.60.20" /><input type="hidden"
		name="total_fee" value="0.01" /><input type="hidden" name="sign_type"
		value="MD5" /><input type="hidden" name="service"
		value="create_direct_pay_by_user" /><input type="hidden"
		name="notify_url"
		value="http://113.106.60.20:8086/autelproweb/notify_url.html" /><input
		type="hidden" name="partner" value="LeiJingLing@auteltech.net" /><input
		type="hidden" name="seller_email" value="LeiJingLing@auteltech.net" />
		<input type="hidden"
		name="out_trade_no" value="ori201303171139130636" /><input
		type="hidden" name="payment_type" value="1" /><input type="hidden"
		name="return_url"
		value="http://113.106.60.20:8086/utelproweb/return_url.html" /><input
		type="submit" value="确认" style="display: none;">
</form>
<script>document.forms['alipaysubmit'].submit();</script>