
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body onkeydown="enterkey(event.keyCode||event.which)">

<!--中间开始-->
<div class="autel1"><p class="font24black1">${bundle("loginpage.html.titile")}.</p><p class="autel2">${bundle("accountinformation.returningcommuntity.name")}	

 <span class="autel2" style="color: #E47911;">${bundle("maxidas.titile.info")}
 
 ${bundle("create.an.new.user")}
 </span>
 </p>

</div>


          

<div class="regi1">
	<div class="commu_top1"></div>
    <div class="commu_midd1 clearfix">
    	<div class="commu_left1">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="font24black1">${bundle("accountinformation.newauteltech.name")} </td>
  </tr>
  <tr>
    <td height="45"><label>
      <input type="button" id="imageField" value="${bundle('customerinfo.user.create')}" name="imageField" class="create_bt" onclick="" />
    </label></td>
  </tr>
  <tr>
    <td class="font14black">${bundle("accountinformation.freetakes.name")}</td>
  </tr>
  <tr>
    <td>${bundle("accountinformation.getcomplete.name")}:</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
	    <table width="100%" border="0" cellspacing="0" cellpadding="0">
	      <tr>
	        <td width="15" align="left"><img src="${imagePath}/images/dot_3.jpg" width="4" height="4" /></td>
	        <td>${bundle("accountinformation.freedownload.name")}</td>
	      </tr>
	     <!--  <tr>
	        <td width="15" align="left"><img src="${imagePath}/images/dot_3.jpg" width="4" height="4" /></td>
	        <td>${bundle("accountinformation.hundredextension.name")} </td>
	      </tr> -->
	      <tr>
	        <td width="15" align="left"><img src="${imagePath}/images/dot_3.jpg" width="4" height="4" /></td>
	        <td>${bundle("accountinformation.communityarea.name")} </td>
	      </tr>
	      <tr>
	        <td width="15" align="left"><img src="${imagePath}/images/dot_3.jpg" width="4" height="4" /></td>
	        <td>${bundle("accountinformation.memberdownload.name")}</td>
	      </tr>
	      <tr>
	        <td width="15" align="left"><img src="${imagePath}/images/dot_3.jpg" width="4" height="4" /></td>
	        <td>${bundle("accountinformation.ondemandsemiars.name")}</td>
	      </tr>
	    </table>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

		</div>
  		<div class="commu_right1">
  		<form id="loginCustomerInfo" name="loginCustomerInfo" action="loginCustomerInfoResult.html" method="post">
          <input type="hidden" id="operationType" name="operationType" value="4">
          <input type="hidden" id="returnUrl" name="returnUrl" value="">
          <input type="hidden" id="loginToType" name="loginToType" value="${loginToType!}">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="2" class="font24black1" style="padding-left: 30px">${bundle("accountinformation.returnmember.name")}</td>
            </tr>


            <tr>
              <td width="19%" height="10">&nbsp;</td>
              <td width="81%">&nbsp;</td>
            </tr>
            <tr id="userTypeErrorInfo"  style="display:none;">
              <td class="font14black">&nbsp;</td>
              <td style="padding-top:5px;"><span id="userTypeErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
            
            <tr>
              <td class="font14black">&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            
            <tr>
              <td align="right">
              	<span class="font14black" style="padding-right:15px;">${bundle("accountinformation.autelid.name")}</span><br />
              </td>
              <td valign="top">
	              <input onfocus="clearAutelIdErrorInfo();" name="autelId" id="autelId" type="text" class="input_sign"  size="50"/>
	              <img id="autelIdImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
              </td>
            </tr>
            
            <tr id="autelIdErrorInfo"  style="display:none;">
              <td class="font14black">&nbsp;</td>
              <td style="padding-top:5px;"><span id="autelIdErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
            
            <tr>
              <td>&nbsp;</td>
              <td class="font14red" style="padding-top:5px;padding-bottom:15px;">
              	<a onclick="jump('goFindAutelId.html')" class="font14red" style="color:#08c;"  >${bundle("accountinformation.forgotautelId.name")}</a>
              </td>
            </tr>
           	
            
            <tr style="padding-top:10px;">
              <td align="right">
              	<span class="font14black" style="padding-right:15px;">${bundle("memberman.sealerinfoman.passwd")}</span>
              </td>
              <td>
              	<input onfocus="clearPasswordErrorInfo();" type="password" id="password" name="password" class="input_sign" maxlength="25" size="50"/>
              	<img id="passwordImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
              </td>
            </tr>
            
            <tr id="passwordErrorInfo"  style="display:none;">
              <td class="font14black">&nbsp;</td>
              <td style="padding-top:5px;"><span id="passwordErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
            
            <tr>
              <td>&nbsp;</td>
              <td class="font14red" style="padding-top:5px;padding-bottom:15px;"><a onclick="javacript:fawordUrl()" class="font14red" style="color:#08c;">${bundle("accountinformation.forgotpassword.name")}</a></td>
            </tr>
            <tr>
              <td colspan="1"></td>
            </tr>
            
            <tr>
              <td align="right"><span class="font14black" style="padding-right:15px;">${bundle("accountinformation.user.regcode")}</span></td>
              <td><input onfocus="clearImagenumErrorInfo();" name="imagenum"  id="imagenum" type="text" class="input_sign" id="textfield4"  maxlength="4" size="15"/>
              	  <img src="" id="image_validate" name="image_validate" class="remember_login_name" width="100" height="30"  onclick="javascript:buildRandom();" alt='${bundle("accountinformation.user.regclickchange")}' style="cursor:hand;"/>
              	  <a onclick="javascript:buildRandom();" style="padding-left:5px;font-size:11px;color:#08c;" class="font14red">${bundle("accountinformation.user.regclickchange")}</a>
              	  
              </td>
            </tr>
            <tr id="imagenumErrorInfo"  style="display:none;">
              <td class="font14black">&nbsp;</td>
              <td><img id="imagenumImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img><span id="imagenumErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
            
            <tr>
              <td>&nbsp;</td>
              <td ><span class="font12gray" style="line-height:15px;color:red"></span></td>
            </tr>
          
            <tr>
              <td colspan="2">&nbsp;</td>
            </tr>
            
            <tr>
                 <td colspan="2" align="right"><label>
                <input type="button" value="${bundle('accountinformation.login.name')}" id="loginCheck" name="loginCheck" class="sign_bt"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label></td>
            </tr>
          </table>
          </form>
  		</div>

        
        
    </div>
    <div class="commu_dowm1"></div>
</div>

<!--中间结束-->
<div style=" height:30px;"></div>

<script type="text/javascript">

function buildRandom()
{
	var date = new Date();
	$("#image_validate").attr("src","validcode.do?vtype=_customer&rmd="+new Date().getTime())

}

buildRandom();
</script>

