
<h4>${bundle("soft.detail.name")} </h4>

<div class="vps_ms">
	<ul>
    	<li><strong>${bundle("soft.name")}:</strong>  ${minSaleUnitSoftwareVO.name}</li>
        <li><strong>${bundle("soft.versionno.name")} : </strong>  ${minSaleUnitSoftwareVO.versionNo}</li>
        <li><strong>${bundle("soft.releasedate.name")}  :</strong>  ${minSaleUnitSoftwareVO.releaseDate2} </li>
        <li><strong>${bundle("softe.description.name")}</strong></li>
    </ul>
    <pre style="padding-left:10px;white-space: pre-wrap;word-wrap: break-word;">${minSaleUnitSoftwareVO.versionMemo!''}</pre>
    <p style="text-align:right; margin-bottom:5px;">
    	<input name="" style="padding-right:5px; " type="button" value="${bundle('soft.backbutton.name')}" class="renew3" onclick="window.history.back();"/>
    </p>
</div>