<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<h4><span></span>
	${bundle("autel.menu.payinstructions")}</h4>
        <div class="pay_leg">
<div id="my_tabs0">
	<div class="my_tt">
	<ul class="my_menu0" id="my_menu0">
	   <li onclick="setTab(0,0)" class="hover">${bundle("mypay.onlinepayment.name")}</li>
	</ul></div>
	<div class="my_main" id="my_main0">
	   <ul class="block"><li>
         <div class="my_pay_at">
         	<dl>
            	<dt><strong style="font-size:14px;">${bundle("mypay.stepone.name")}:</strong></dt>
            	<dt>${bundle("mypay.stepone.titleinfo")}</dt>
                <dt style="text-align:center">
                	<#if languageCode??>
                		<#if languageCode == 'zh'>
                			<img src="themes/autel/images/1_CN.png"/>
                		<#else>
                			<img src="themes/autel/images/1_EN.png"/>
                		</#if>
                	<#else>
                		<img src="themes/autel/images/1_EN"/>
                	</#if>
               	 	
                </dt>
                
                <dt><strong style="font-size:14px;">${bundle("mypay.steptwo.name")}:</strong></dt>
                <dt>${bundle("mypay.steptwo.titleinfo")}</dt>
                <dt style="text-align:center">
                	<#if languageCode??>
                		<#if languageCode == 'zh'>
                			<img src="themes/autel/images/2_CN.png"/>
                		<#else>
                			<img src="themes/autel/images/2_EN.png"/>
                		</#if>
                	<#else>
                		<img src="themes/autel/images/2_EN"/>
                	</#if>
                </dt>
                
 				<dt><strong style="font-size:14px;">${bundle("mypay.stepthree.name")}:</strong></dt>
 				<dt>${bundle("mypay.stepthree.titleinfo")}
 				</dt>
                <dt style="text-align:center">
               		<#if languageCode??>
                		<#if languageCode == 'zh'>
                			<img src="themes/autel/images/3_CN.png"  />
                		<#else>
                			<img src="themes/autel/images/3_EN.png"   />
                		</#if>
                	<#else>
                		<img src="themes/autel/images/3_EN.png"  />
                	</#if>
                </dt>
                
                <dt><strong style="font-size:14px;">${bundle("mypay.stepfour.name")}:</strong></dt>
                <dt>
          		${bundle("mypay.steptfour.titleinfo")}
                </dt>
                <dt style="text-align:center">
                	<#if languageCode??>
                		<#if languageCode == 'zh'>
                			<img src="themes/autel/images/4_CN.png"   />
                		<#else>
                			<img src="themes/autel/images/4_EN.png"   />
                		</#if>
                	<#else>
                		<img src="themes/autel/images/4_EN.png"  />
                	</#if>
                </dt>
                
                <dt><strong style="font-size:14px;">${bundle("mypay.stepfive.name")}:</strong></dt>
                <dt>
                	${bundle("mypay.steptfive.titleinfo")}
                </dt>
            </dl>
          </div>
       </li></ul>
	   
	</div>
	</div>
</div>
        