<div class="account_right">
        <h4>${bundle("ofn.title")}</h4>
        <div class="my_products">
                <div class="registe">
                    <table width="790" border="0">
                        <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.code")}</td>
                            <td>${oldForNew.code!''}
                            </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                        <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("regproduct.productmodel.name")}</td>
                            <td>${oldForNew.proTypeName!''}
                            </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                        <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("myproducts.sn.name")}</td>
                            <td>${oldForNew.serialNo!''}</td>
                       </tr>
                        <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.opt")}</td>
                           <td>${oldForNew.oproTypeName!''}
                            </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <#if oldForNew.oproductTypeCode=="MaxiDAS DS708">
	                       <tr class="oprotr">
	                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.opn")}</td>
	                            <td>${oldForNew.oserialNo!''}</td>
	                       </tr>
	                       <tr>
	                           <td>&nbsp;</td>
	                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
	                       </tr>
                       </#if>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.op.gift")}</td>
                            <td><#if oldForNew.giftType=2>${bundle("ofn.pro.op.gift3")}<#else>${oldForNew.giftProTypeCode}</#if>
                            </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                        <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.consignee")}</td>
                            <td>${oldForNew.consignee!''}</td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.op.mail.address")}</td>
                            <td>${oldForNew.mailAddress!''}</td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.phone")}</td>
                            <td>${oldForNew.phone!''}</td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.state")}</td>
                            <td><#if oldForNew.state==1>${bundle("ofn.pro.state1")}<#elseif oldForNew.state==3>${bundle("ofn.pro.state3")}
                                <#elseif oldForNew.state==4>${bundle("ofn.pro.state4")}</#if></td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <#if oldForNew.state==4>
                            <tr>
                                <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.logistics.company")}</td>
                                <td>${oldForNew.logisticsCompany!''}</td>
                            </tr>
                            <tr>
	                           <td>&nbsp;</td>
	                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
	                       </tr>
                            <tr>
                                <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.logistics.no")}</td>
                                <td>${oldForNew.logisticsNo!''}</td>
                            </tr>
                            <tr>
	                           <td>&nbsp;</td>
	                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
	                       </tr>
                            <tr>
                                <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.logistics.time")}</td>
                                <td>${oldForNew.logisticsTime!''}</td>
                            </tr>
                            <tr>
	                           <td>&nbsp;</td>
	                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
	                       </tr>
                       </#if>
                   </table>
               </div>
       </div>
    </div>