<div class="account_right">
        <h4>${bundle('ofn.title')}</h4>
        <div class="my_products">
            <div>${bundle("ofn.txt.tian")}</div>
            <form action=""  class="validate" method="post" name="theForm" id="theForm">
                <div class="registe">
                    <table width="790" border="0">
                        <#if productinfo??>
                            <#if code??>
                            <tr>
                                <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.code")}<span  style="color:red">&nbsp;*</span></td>
                                <td>
                                    <input type="text" value="${code}" id="code" class="input_sign" style="width:270px;" disabled="disabled"/> 
                                </td>
                           </tr>
                           <tr>
                               <td>&nbsp;</td>
                               <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                           </tr>
                           </#if>
	                        <tr>
	                            <td align="right" width="238" style="padding-right: 16px">${bundle("regproduct.productmodel.name")}<span  style="color:red">&nbsp;*</span></td>
	                            <td><input type="hidden" value="${productinfo.proTypeCode}" name="proTypeCode" id="proTypeCode" class="input_sign" style="width:270px;"/> 
	                                <input type="text" value="${productinfo.proTypeName}" class="input_sign" style="width:270px;" disabled="disabled"/> 
	                            </td>
	                       </tr>
	                       <tr>
	                           <td>&nbsp;</td>
	                           <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
	                       </tr>
	                        <tr>
	                            <td align="right" width="238" style="padding-right: 16px">${bundle("myproducts.sn.name")}<span  style="color:red">&nbsp;*</span></td>
	                            <td><input type="text" value="${productinfo.serialNo}" name="proSerialNo" id="proSerialNo" class="input_sign" disabled="disabled" style="width:270px;"/> </td>
	                       </tr>
	                        <tr>
	                           <td>&nbsp;</td>
	                           <td><span id="inputProSerialNo" class="font12gray" style="line-height: 15px; color: red; "></span></td>
	                       </tr>
                       <#else>
                            <tr>
                                <td align="right" width="238" style="padding-right: 16px"></td>
                                <td>${bundle("ofn.txt.tiaojian")}
                                </td>
                           </tr>
                           <tr>
                               <td>&nbsp;</td>
                               <td><span  class="font12gray" style="line-height: 15px; color: red; "></span></td>
                           </tr>
                            <tr>
                                <td align="right" width="238" style="padding-right: 16px">${bundle("myproducts.sn.name")}<span  style="color:red">&nbsp;*</span></td>
                                <td><input type="text" value="" name="proSerialNo" id="proSerialNo" class="input_sign" style="width:270px;"/> </td>
                           </tr>
                            <tr>
                               <td>&nbsp;</td>
                               <td><span id="inputProSerialNo" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                           </tr>
                       </#if>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.opt")}<span  style="color:red">&nbsp;*</span></td>
                           <td><select style="width:275px" name="oProductTypeCode" id="oProductTypeCode" class="input_sign" onchange="changeOproType(this)">
                                
                                <option value="" selected="selected">${bundle("product.select")}</option>   
                                <option value="MaxiDAS DS708">MaxiDAS DS708</option> 
                                <option value="Ohter Professional Scan tool" >${bundle("ofn.txt.pt.select.opst")}</option>
                                </select>
                            </td>
                       </tr>
<!--                        错误 -->
                       <tr id="optce">
                           <td>&nbsp;</td>
                           <td><span  id="selectoProductTypeCode" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
<!--                        提示 -->
                       <tr id="oproop" style="display: none">
                           <td>&nbsp;</td>
                           <td><span id="oProductTypeTip" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
<!--                        非DS708 -->
                       <tr class="otherTooltr" style="display: none">
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.txt.other.tool")}<span  style="color:red">&nbsp;*</span></td>
                            <td><input type="text" value="" name="ohterTool" id="ohterTool" class="input_sign" style="width:270px;"/> </td>
                       </tr>
                       <tr class="otherTooltr" style="display: none">
                           <td>&nbsp;</td>
                           <td><span  id="inputohterToole" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
<!--                        DS708 -->
                       <tr class="oprotr" style="display: none">
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.opn")}<span  style="color:red">&nbsp;*</span></td>
                            <td><input type="text" value="" name="oSerialNo" id="oSerialNo" class="input_sign" style="width:270px;"/> </td>
                       </tr>
                       <tr class="oprotr" style="display: none">
                           <td>&nbsp;</td>
                           <td><span  class="font12gray" ><a href="#help" style=" color: red; ">Need Help?</a></span></td>
                       </tr>
                       <tr class="oprotr" style="display: none">
                           <td>&nbsp;</td>
                           <td><span  id="inputoSerialNo" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <tr class="oprotr" style="display: none">
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.op.pw")}<span  style="color:red">&nbsp;*</span></td>
                            <td><input type="text" value="" name="proRegPwd" id="proRegPwd" class="input_sign" style="width:270px;"/> </td>
                       </tr>
                       <tr class="oprotr" style="display: none">
                           <td>&nbsp;</td>
                           <td><span  id="inputProRegPwd" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.op.gift.select")}<span  style="color:red">&nbsp;*</span></td>
                            <td>
                                <select id="giftTypeSelect" style="width:275px">
                                    <option value="" selected="selected">${bundle("product.select")}</option> 
                                    <option value="1" data-giftType="1" path="statics/gift/TS501.png">TS501</option>
                                    <option value="3" data-giftType="1" path="statics/gift/MP408.png">MP408</option>
                                    <option value="2" data-giftType="2" path="statics/gift/gifecard.png">${bundle("ofn.pro.op.gift3")}</option>
                                </select>
                            </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td>
                           <span  id="selectGiftType" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.consignee")}<span  style="color:red">&nbsp;*</span></td>
                            <td><input type="text" value="" name="consignee" id="consignee" class="input_sign" style="width:270px;"/> </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  id="inputConsignee" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.op.mail.address")}<span  style="color:red">&nbsp;*</span></td>
                            <td><input type="text" value="" name="mailAddress" id="mailAddress" class="input_sign" style="width:270px;"/> </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  id="inputMailAddress" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                       <tr>
                            <td align="right" width="238" style="padding-right: 16px">${bundle("ofn.pro.phone")}<span  style="color:red">&nbsp;*</span></td>
                            <td><input type="text" value="" name="phone" id="phone" class="input_sign" style="width:270px;" maxlength="30"/> </td>
                       </tr>
                       <tr>
                           <td>&nbsp;</td>
                           <td><span  id="inputPhone" class="font12gray" style="line-height: 15px; color: red; "></span></td>
                       </tr>
                        <tr id="isCommonErrorInfo"  style="display:none;">
                            <td>&nbsp;</td>
                            <td ><span id="isCommon" class="font12gray" style="line-height:15px;color:red"></span></td>
                        </tr>
                       <tr>
                            <td width="254" align="right">&nbsp;</td>
                            <td><input type="button" onclick="exchange();" id="exchangeButton" class="renew3" value="${bundle('customercomplaint.commit.name')}" name="button">
<!--                             <input type="reset" style="margin-left: 50px;" class="renew3" value="重置"  name="reset"> -->
                            </td>
                        </tr>
                        <tr id="successInfo" >
                        <td colspan=2 style="padding-left:40px;"><span id="suss" class="font12gray" style="line-height:18px;font-size: 18px;font-weight: bold;color:#000"></span></td>
                        </tr>
                   </table>
               </div>
           </form>
           <div class="question" style="border-top: 1px solid #CCCCCC">
                    <p>${bundle("ofn.txt.act.dec")}</p>
                    <p id="imageShow" style="padding-left: 100px; margin-top: 10px;">
                        
                    </p>
                </div>
               <div id="help" class="question oprotr" style="border-top: 1px solid #CCCCCC;display:none;">
                   <h5>${bundle("regproduct.questions.name")}</h5>
                   <h5 style="padding-left: 25px;">${bundle("regproduct.serialnumber.name")}</h5>
                   <p>${bundle("regproduct.serialnumberfind.name")}</p>
                   <p style="padding-left: 40px;">
                       ${bundle("regproduct.aboutscreen.name")}
                   </p>
                   <p   style="padding-left: 100px; margin-top: 10px;">
                       <img  src="statics/serialimg/DS708.png">
                   </p>
               </div>
       </div>
    </div>