<div class="account_right">
    	<h4>${bundle("order.details.name")}</h4>
    	<#list orderDetailInfos as data>
        <div class="my_products">
        	<div class="status">
            	<div class="or_com"><strong>${bundle("order.number.name")}: ${data.orderInfo.code}</strong><span style="margin-left:38px;"><strong>
            	${bundle("order.status.name")}: 
	            	<#if data.orderInfo.orderState == 0>
	            		${bundle("memberman.customman.canceled")}
	            		<#else>
	            		<#if data.orderInfo.orderPayState == 1>
	            			<#if data.orderInfo.recConfirmState == 0>
	            			${bundle("order.wait")}
	            			<#else>
	            			${bundle("order.completed.name")}
	            			</#if>
	            		<#else>
	            			${bundle("order.nopay")}
	            		</#if>
	            	</#if></strong></span><br /><strong>${bundle("order.shopping.auteltech.name")}</strong></div>
           		<div class="or_lc clearfix">
                	<dl class="clearfix">
                    	<dt><img src="themes/autel/images/lvq.gif" width="22" height="22" /><br />${bundle("order.time.name")}: <br />${data.orderInfo.orderDate}</dt>
                        <dt style="padding-top:8px;"><img src="themes/autel/images/lvg.gif" width="103" height="7" /></dt>
                      	<#if data.orderInfo.orderPayState == 1>
                        	<dt><img src="themes/autel/images/lvq.gif" width="24" height="24" /><br />${bundle("order.paysuccess.name")}: <br />${data.orderInfo.payDate!''}</dt>
                        	<dt style="padding-top:8px;"><img src="themes/autel/images/lvg.gif" width="103" height="7" /></dt>
                        	<#else>
                        	<dt><img src="themes/autel/images/huiq.gif" width="24" height="24" /><br />${bundle("order.paysuccess.name")}: <br />${data.orderInfo.payDate!''}</dt>
                        	<dt style="padding-top:8px;"><img src="themes/autel/images/hg.gif" width="103" height="7" /></dt>
                        </#if>
                        <#if data.orderInfo.recConfirmState == 1>
                        	<dt><img src="themes/autel/images/lvq.gif" width="24" height="24" /><br />${bundle("order.rechargesuccess.name")}: <br />${data.orderInfo.recConfirmDate!''}</dt>
                        	<#else>
                        	<dt><img src="themes/autel/images/huiq.gif" width="24" height="24" /><br />${bundle("order.rechargesuccess.name")}: <br />${data.orderInfo.recConfirmDate!''}</dt>
                        </#if>
                    </dl>
                	
              </div>
            </div>
            <div class="list69">
            	<table width="770" border="0">
  
  <tr>
    <td width="210" style="font-size:16px; padding-left:8px; color:#666666;">${bundle("order.items.detail")}</td>
   
    <td width="220" align="right">${bundle("order.type.name")} </td>
    <td width="130"></td>
    <td width="120" align="left">${bundle("order.quantity.name")}</td>
    <td width="60" align="right">${bundle("order.price.name")}</td>
    <td align="right" width="30"></td>
  </tr>
  
  
</table>
            </div>
        	<dl>
        	 <#list data.details as detail >
        	  	<#list detail.minSaleUnitDetails as minSaleUnit >
        	  	<dt class="clearfix">
           	  	<div class="my_pr_in69_tl"></div>
               	<div class="my_pro_piciit"><a href="#"><img src="${detail.picPath!''}" width="80" height="91" /></a></div>
                <div class="cart2_a69_tl">
                    <div class="my_table">
                    	<table width="642" border="0">
				  <tr>
				    <td width="275" style="font-size:16px; font-weight:bold; color:#000000;">${minSaleUnit.saleName}</td>
					<#if minSaleUnit.consumeType ==1>
					    <td width="143">${bundle("myproducts.renewal.name")}</td>
					    <td width="16"></td>
					    <td width="88" align="left">${minSaleUnit.year} ${bundle("myproducts.year.name")}</td>
					    <td width="90" align="right"><span style="font-size:14px; color:#990000">$${minSaleUnit.minSaleUnitPrice}</span></td>
					<#else>
					    <td width="143">${bundle("myproducts.new.name")}</td>
					    <td width="16"></td>
					    <td width="88" align="left"></td>
					    <td width="90" align="right"><span style="font-size:14px; color:#990000">$${minSaleUnit.minSaleUnitPrice}</span></td>
					</#if>
				 <td align="right" width="30" class="add_tocart69"></td>
				  </tr>
				</table>
                    </div>
                    <p style="font-size:14px; color:#666666;">${bundle("myproducts.sn.name")}: ${detail.proSerialNo}</p>
                </div>
              </dt>
              <dd style="margin-left:20px; margin-right:20px;"></dd>
			</#list>
		</#list>
            </dl>
      	<div class="check_cancel5 clearfix">
            	<div style="font-size:14px; float:left;"><span class="chickall"></span></div>
                <div class="my_check_mo">
                	<span class="total1">${bundle("order.total.name")}:</span><span class="money169">$${data.orderInfo.orderMoney}</span>
                </div>
            </div>
        </div>
        </#list>
    </div>