<div class="account_right">
    	<h4><span><input name="" type="button" value="${bundle('order.continue.name')}" class="renew_lan" onclick="javascript:jump('myProducts-1-1.html');"/></span>
    	<span>
    		<select name="" class="placed" id="orderDate">
    			<#if orderDate == 1>
    				<option value="0" >${bundle("order.nearly")}</option>
					<option value="1" selected="selected">${bundle("order.ago")}</option>
					<#else>
					<option value="0" selected="selected">${bundle("order.nearly")}</option>
					<option value="1">${bundle("order.ago")}</option>
    			</#if>
    		</select>
    	</span>
    	<span>
    		<select name="" class="placed1" id="orderState">
    			<#if orderState == 2>
	    			<option value="2" selected="selected">${bundle("order.all")}</option>
					<option value="1">${bundle("order.valid")}</option>
					<option value="0">${bundle("order.canceled")}</option>
    			</#if>	
    			<#if orderState == 1>
		    		<option value="2" >${bundle("order.all")}</option>
					<option value="1" selected="selected">${bundle("order.valid")}</option>
					<option value="0">${bundle("order.canceled")}</option>
	    		</#if>
    			<#if orderState == 0>
    				<option value="2" >${bundle("order.all")}</option>
					<option value="1" >${bundle("order.valid")}</option>
					<option value="0" selected="selected">${bundle("order.canceled")}</option>
    			</#if>
    		</select>
    	</span>${bundle("customer.myorders.name")}</h4>
    	<#list orderPageDatas as data>
	    	<#if data_index == 0>
	    		<div class="my_products"  style="margin-top:0px;">
	        	<div class="order_num">${bundle("order.number.name")}:&nbsp;${data.orderInfo.code	}<span>${bundle("order.time.name")}:&nbsp;${data.orderInfo.orderDate}</span></div>
	        	<dl>
	        	<#list data.details as detail >
	           	  	<dt class="clearfix">
		           	  	<div class="my_pr_in"></div>
		                <div class="my_pro_pic"><img src="${detail.picPath}" width="183" height="125" /></div>
		                <div class="cart2">
		                	<h3>${detail.proName}<span>${bundle("myproducts.sn.name")}:&nbsp;${detail.proSerialNo}</span></h3>
		                    <h5>${bundle("order.software.name")}</h5>
		                    <div class="my_table">
		                    <table width="531" border="0">
		                    	<#list detail.minSaleUnitDetails as minSaleUnit >
								  	<#if minSaleUnit.consumeType ==1>
										<tr>
										    <td width="5%"><img src="themes/autel/images/yuanq.gif" width="14" height="12" /></td>
										    <td align="left" width="40%"><label id="" onblur="">${minSaleUnit.saleName}</label></td>
										    <td width="10%" align="right">${bundle("myproducts.renewal.name")}</td>
										    <td width="20%" align="left"><span class="year">${minSaleUnit.year}</span> ${bundle("myproducts.year.name")}</td>
										    <td width="16%" align="right">$${minSaleUnit.minSaleUnitPrice}</td>
										    <td align="right" class="add_tocart"></td>
								  		</tr>
										<#else>
										 <tr>
										    <td width="5%"><img src="themes/autel/images/yuanq.gif" width="14" height="12" /></td>
										    <td align="left" width="40%">${minSaleUnit.saleName}</td>
										    <td width="10%" align="right">${bundle("myproducts.new.name")}</td>
										    <td width="20%" align="left"></td>
										    <td width="16%" align="right">$${minSaleUnit.minSaleUnitPrice}</td>
										    <td align="right" class="add_tocart"></td>
		 						 		</tr>
									</#if>
								 </#list>
							</table>
		                    </div>
		                </div>
	              	</dt>
	              	<#if (detail_index+1)!= data.details?size>
	              		<dd style="margin-left:10px; margin-right:10px;"></dd>
	              	</#if>
	              </#list>
	            </dl>
	            
	      		<div class="check_cancel clearfix">
	            	<div style="font-size:14px; float:left;"><span class="chickall"></span></div>
	                <div class="my_check_mo">
	                	<span class="total1">${bundle("mysales.total.name")}</span><span class="money1">$${data.orderInfo.orderMoney}</span>
	                	<span style="display:block; width:105px; float:left">
	                		<#if data.orderInfo.orderState==1> 
								<#if data.orderInfo.orderPayState ==0> 
							<input name="" type="button" value="${bundle('order.checkout.name')}" class="renew2" onclick="javascript:jump('OnlinePay.html?orderInfoCode=${data.orderInfo.code}');"/><br />
				                	<input name="" type="button" value="${bundle('order.cancel.name')}" class="renew3" onclick="closeOrder('${data.orderInfo.code}');"/>
				                	<#else>
				                	<input name="" type="button" value="${bundle('order.view.name')}" class="renew4" onclick="javascript:jump('orderDetailInfo.html?orderCode=${data.orderInfo.code}');"/><br />
								</#if>
								<#else>
				                	<input name="" type="button" value="${bundle('order.view.name')}" class="renew4" onclick="javascript:jump('orderDetailInfo.html?orderCode=${data.orderInfo.code}');"/><br /> 
							</#if> 
	                	</span>
	                </div>
	            </div>
	        </div>
    	<#else>
	    	<div class="my_products"  style="margin-top:25px;">
	        	<div class="order_num">${bundle("order.number.name")}:${data.orderInfo.code	}<span>${bundle("order.time.name")}: ${data.orderInfo.orderDate}</span></div>
	        	<dl>
	        	<#list data.details as detail >
	           	  	<dt class="clearfix">
		           	  	<div class="my_pr_in"></div>
		                <div class="my_pro_pic"><img src="${detail.picPath}" width="183" height="125" /></div>
		                <div class="cart2">
		                	<h3>${detail.proName}<span>${bundle("myproducts.sn.name")}:${detail.proSerialNo}</span></h3>
		                    <h5>${bundle("order.software.name")}</h5>
		                    <div class="my_table">
		                    <table width="531" border="0">
		                    	<#list detail.minSaleUnitDetails as minSaleUnit >
								  	<#if minSaleUnit.consumeType ==1>
										<tr>
										    <td width="5%"><img src="themes/autel/images/yuanq.gif" width="14" height="12" /></td>
										    <td align="left" width="40%"><label id="" onblur="">${minSaleUnit.saleName}</label></td>
										    <td width="10%" align="right">${bundle("myproducts.renewal.name")}</td>
										    <td width="20%" align="left"><span class="year">${minSaleUnit.year}</span> ${bundle("myproducts.year.name")}</td>
										    <td width="16%" align="right"s>$${minSaleUnit.minSaleUnitPrice}</td>
										    <td align="right" class="add_tocart"></td>
								  		</tr>
										<#else>
										 <tr>
										    <td width="5%"><img src="themes/autel/images/yuanq.gif" width="14" height="12" /></td>
										    <td align="left" width="40%">${minSaleUnit.saleName}</td>
										    <td width="10%" align="right">${bundle("myproducts.new.name")}</td>
										    <td width="20%" align="left"></td>
										    <td width="16%" align="right">$${minSaleUnit.minSaleUnitPrice}</td>
										    <td align="right" class="add_tocart"></td>
		 						 		</tr>
									</#if>
								 </#list>
							</table>
		                    </div>
		                </div>
	              	</dt>
	              	<#if (detail_index+1)!= data.details?size>
	              		<dd style="margin-left:10px; margin-right:10px;"></dd>
	              	</#if>
	              </#list>
	            </dl>
	            
	      		<div class="check_cancel clearfix">
	            	<div style="font-size:14px; float:left;"><span class="chickall"></span></div>
	                <div class="my_check_mo">
	                	<span class="total1">${bundle("mysales.total.name")}</span><span class="money1">$${data.orderInfo.orderMoney}</span>
	                	<span style="display:block; width:105px; float:left">
	                		<#if data.orderInfo.orderState==1> 
								<#if data.orderInfo.orderPayState ==0> 
									<input name="" type="button" value="${bundle('order.checkout.name')}" class="renew2" onclick="javascript:jump('OnlinePay.html?orderInfoCode=${data.orderInfo.code}');"/><br />
				                	<input name="" type="button" value="${bundle('order.cancel.name')}" class="renew3" onclick="closeOrder('${data.orderInfo.code}');"/>
				                	<#else>
				                	<input name="" type="button" value="${bundle('order.view.name')}" class="renew4" onclick="javascript:jump('orderDetailInfo.html?orderCode=${data.orderInfo.code}');"/><br />
								</#if>
								<#else>
				                	<input name="" type="button" value="${bundle('order.view.name')}" class="renew4" onclick="javascript:jump('orderDetailInfo.html?orderCode=${data.orderInfo.code}');"/><br /> 
							</#if> 
	                	</span>
	                </div>
	            </div>
	        </div>
    	</#if>
        
        </#list>
        	<#if pager != "">	
		        <div style="border-bottom:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;width:790px;margin-top:25px;">
			        <div class="check clearfix">
						${pager}			
					</div>
				</div>
			</#if>
</div>