<div class="other_pay">
	<h4>${bundle("otherpay.welcome.name")}</h4>
 <#if country == "CN">
	 <p>${bundle("other.pay.desc")}</p>
	 <br>
	
	 <p><strong>${bundle("other.pay.warn")}</strong>: ${bundle("other.pay.warn.desc")}</p>
	 <br>
	
	 <p>${bundle("other.pay.rmb.desc")}:</p>
	 
	 <p>${bundle("other.pay.company")}: ${bundle("other.pay.company.name")}</p>
	 <p>${bundle("other.pay.bank")}: ${bundle("other.pay.bank.name")}</p>	 
	 <p>${bundle("other.pay.bank.number")}: ${bundle("other.pay.bank.number.desc")}</p>	 
     <br>
     <p>${bundle("other.pay.warning")}</p>
   <#else>
     <p>${bundle("other.pay.desc")}</p>
	 <br>
	
	 <p><strong>${bundle("other.pay.warn")}</strong>: ${bundle("other.pay.warn.desc")}</p>
	 <br>
	 
	  <p>${bundle("other.pay.beneficiary")}: ${bundle("other.pay.beneficiary.desc")}</p>
	  <p>${bundle("other.pay.address")}: ${bundle("other.pay.address.desc")}</p>
	  <p>${bundle("other.pay.account")}: ${bundle("other.pay.account.desc")}</p>
	  <p>${bundle("other.pay.bank")}: ${bundle("other.pay.bank.desc")}</p>		
	  <p>${bundle("other.pay.bic.code")}: ${bundle("other.pay.bic.code.desc")}</p>
	  <p>${bundle("other.pay.bank2")}: ${bundle("other.pay.bank2.desc")}</p>
	  <p>${bundle("other.pay.bank2.code")}: ${bundle("other.pay.bank2.code.desc")}</p>
	  <p>${bundle("other.pay.bank2.address")}: ${bundle("other.pay.bank2.address.desc")}</p>		
	 <br>
     <p>${bundle("other.pay.warning")}</p>
   </#if>
</div>