<script type="text/javascript">
	$(document).ready(function(){
		
		$("#submitBtn").click(function(){
			var payinfo = $("#payinfo");
			payinfo.html("");
			var $checkboxs=$("body").find("input[type='radio']");
			$checkboxs.each(function(){
				if($(this).attr("checked") == "checked"){
					var $pluginid=$(this).val();
					$("#payType").attr("value",$pluginid);
				}
			});
			
			if($("#payType").val()=="other"){
				jump('otherPay.html');
			}else if($("#payType").val()=="directCart"){
				jump('creditPay.html?orderNo='+$('#orderNo').val());
			}
			else{
			$.ajax({
				url:'front/usercenter/customer/payMent.do',
				type:'post',
				data:$("#payForm").serialize(),
				dataType:'json',
				success:function(data){
					var htmlData = eval(data);
					if(htmlData[0].html!=""){
						document.write(htmlData[0].html);
					}else{
						//jump(htmlData[0].paypalURL);
						if(htmlData[0].paypalURL==""){
							$("#SECURETOKEN").val(htmlData[0].SECURETOKEN);
							$("#SECURETOKENID").val(htmlData[0].SECURETOKENID);
							$("#submitToPay").submit();
						}else{
							jump(htmlData[0].paypalURL);
						}
					}
				},
				error:function(data){
					payinfo.html("${bundle('system.error.name')}");
				}
			});
			}
		});
		
		changePayType();
		
	});

	function changePayType(){
		if($("#alipayDirectPlugin")!=undefined){
			if($("#alipayDirectPlugin").attr("checked") == "checked"){
				$money=$("#money").attr("value");
				
				$smoney=$("#smoney").attr("money");
				if(parseFloat($money)==parseFloat($smoney)){
					
					$biref=$("#alipayDirectPlugin").attr("biref");
					$money=parseFloat($money)*1000;
					$biref=parseFloat($biref)*1000;
					var smoney=parseFloat($money)*parseFloat($biref)/1000000;
					$("#smoney").html("${bundle('pay.rmb.name')}"+parseFloat(smoney));
					$("#money").attr("value",parseFloat(smoney));
				}else{
					$("#smoney").html("${bundle('pay.rmb.name')}"+parseFloat($money));
					$("#money").attr("value",parseFloat($money));
				}
			}else{
				$money=$("#smoney").attr("money");
				$("#smoney").html("${bundle('pay.usd.name')}"+parseFloat($money));
				$("#money").attr("value",parseFloat($money));
			}
		}
	}
	
	function jump(url){
	
		var tmpForm = $("<form  method='post'></form>");
		$(tmpForm).attr("action",url);
		tmpForm.appendTo(document.body).submit();
	}
</script>
<#if orderPayState ?? && orderPayState==0>

<form action="front/usercenter/customer/payMent.do" method="post" id="payForm">
<!-- <iframe src="" id="payPalPage" width="490" height="565" border="0" frameborder="0" scrolling="no" allowtransparency="true"></iframe> -->

<div class="online">
	<div class="status">
       <div class="or_com"><strong>${bundle("pay.submitsuccess.name")}</strong>
       <br />
       <span style="color:#999999; font-size:14px; line-height:30px;"><a style="color:#08c;font-size:14px;" class="font14red" onclick="javascript:jump('orderDetailInfo.html?orderCode=${orderInfoCode}')">${bundle("order.number.name")}: ${orderInfoCode}</a></span>
        <input type="hidden" id="orderNo" name="orderNo" value="${orderInfoCode}"/>
       <span style="color:#999999; font-size:14px; margin-left:30px; margin-right:30px;">|</span>
       <span style="color:#999999; font-size:14px;">${bundle("pay.amoutpayable.name")}:  $ ${money}</span></div>
    </div>
    <div class="pay_ment">
    	<h4>${bundle("pay.immediate.payment.name")}: $ ${money}</h4>
    	<h4>${bundle("pay.selectpayment.name")}</h4>
    	
   	    <ul>
       	  <li><img src="themes/autel/images/yuanq.gif" width="14" height="12" />${bundle("pay.contactus.name")}</li>
        <!--   <li style="color:#e47911"><img src="themes/autel/images/yuanq.gif" width="14" height="12" />${bundle("pay.selectpayment.submit")}</li> -->
        </ul>
    </div>
    <#if country == "CN">
	    <div class="credit">
	    	<div style="margin-top:8px; margin-bottom:8px;"><input id="alipayDirectPlugin" name="q" type="radio" value="alipayDirectPlugin" checked="checked" biref="${biref}" onclick="changePayType();"/> <strong>支付宝</strong>&nbsp;&nbsp;&nbsp; 人民币对应的美元汇率是：${biref}，美元自动转化为人民币支付</div>
	    	<div class="bank_pic"><img src="themes/autel/images/zhifubao.jpg" width="150" height="43" /></div>
	    </div>
	    <div class="credit">
	    	<div style="margin-top:8px; margin-bottom:8px;"><input id="directCart" name="q" type="radio" value="directCart" onclick="changePayType();"/> <strong>${bundle("pay.creditordebitcard.name")}</strong>&nbsp;&nbsp;&nbsp; ${bundle("pay.acceptcreditdebitcards.name")}</div>
	    	<div class="bank_pic">
	        	<ul class="clearfix">
	            	<li><img src="themes/autel/images/bbb.gif" width="77" height="47" /></li>
	                <li><img src="themes/autel/images/visa.gif" width="77" height="47" /></li>
	                <li><img src="themes/autel/images/card.gif" width="77" height="47" /></li>
	                <li><img src="themes/autel/images/amer.gif" width="77" height="47" /></li>
	                <li><img src="themes/autel/images/disc.gif" width="77" height="47" /></li>
	            </ul>
	      </div>
   	 	</div>
	    <div class="credit">
	    	<div style="margin-top:8px; margin-bottom:8px;"><input id="paypal" name="q" type="radio" value="paypal" onclick="changePayType();"/> <strong>${bundle("pay.paypal.name")}</strong>&nbsp;&nbsp;&nbsp; ${bundle("pay.paypalaccount.name")}</div>
	    	<div class="bank_pic"><img src="themes/autel/images/paypal.gif" width="150" height="43" /></div>
	    </div>
	    
	    <div class="credit">
	    	<div style="margin-top:8px; margin-bottom:8px;"><input id="otherPay" name="q" type="radio" value="other" /> <strong>${bundle('mypay.otherpayment.name')}</strong>&nbsp;&nbsp;&nbsp; ${bundle("customer.pay.other.desc")}</div>
	         <div class="bank_pic">
	        	<ul class="clearfix">
	            	<li><img src="themes/autel/images/bankTransfer.png"  /></li>
	            </ul>
	         </div>
	    </div>
	    
	    
	    <#else>
	    <div class="credit">
	    	<div style="margin-top:8px; margin-bottom:8px;"><input id="directCart" name="q" type="radio" value="directCart" checked="checked" /> <strong>${bundle("pay.creditordebitcard.name")}</strong>&nbsp;&nbsp;&nbsp; ${bundle("pay.acceptcreditdebitcards.name")}</div>
	    	<div class="bank_pic">
	        	<ul class="clearfix">
	            	<!-- <li><img src="themes/autel/images/bbb.gif" width="77" height="47" /></li> -->
	                <li><img src="themes/autel/images/visa.gif" width="77" height="47" /></li>
	                <li><img src="themes/autel/images/card.gif" width="77" height="47" /></li>
	                <li><img src="themes/autel/images/amer.gif" width="77" height="47" /></li>
	                <li><img src="themes/autel/images/disc.gif" width="77" height="47" /></li>
	            </ul>
	      </div>
   	 	</div>
	    <div class="credit">
	    	<div style="margin-top:8px; margin-bottom:8px;"><input id="paypal" name="q" type="radio" value="paypal" /> <strong>${bundle("pay.paypal.name")}</strong>&nbsp;&nbsp;&nbsp; ${bundle("pay.paypalaccount.name")}</div>
	    	<div class="bank_pic"><img src="themes/autel/images/paypal.gif" width="150" height="43" /></div>
	    </div>
	    
	    <div class="credit">
	    	<div style="margin-top:8px; margin-bottom:8px;"><input id="checkboxs" name="q" type="radio" value="other"/> <strong>${bundle('mypay.otherpayment.name')}</strong>&nbsp;&nbsp;&nbsp; ${bundle("customer.pay.other.desc")}</div>
	        <div class="bank_pic">
	        	<ul class="clearfix">
	            	<li><img src="themes/autel/images/bankTransfer.png"  /></li>
	              
	            </ul>
	         </div>
	    </div>
	    
	    &nbsp;&nbsp;&nbsp;
		<span id="payinfo" class="font12gray" style="line-height:15px;color:red"></span>
    </#if>
	
    <input type="hidden" id="payType" name="payType" value="paypal"/>
    <div class="check_cancel clearfix">
        <div style="font-size:14px; float:left;"><span class="chickall"></span></div>
        <div class="my_check_mo">
                	<span class="total1">${bundle("pay.paytotalamount.name")}: <label id="smoney" money="${money}" style="color:#8f1d22;font-weight:bold;font-size:20px;">${bundle("pay.usd.name")} ${money}</label> </span>
                	<input type="hidden" id="money" name="money" value="${money}"/>
                	<span class="money2"><input name="" id="submitBtn" type="button" class="renew3" value="${bundle('mypay.pay.name')}" /></span>       
	      <span class="total1" ><a  style="font-size:13px;text-decoration:underline;"  target="_blank" href="termsOfRenewal.html">Terms and Conditions of Renewal</a></span>
        </div>
    </div>
</div>
</form>

<form id="submitToPay" method='post' action='https://payflowlink.paypal.com/'>
<input type='hidden' id="SECURETOKEN" name='SECURETOKEN'/>
<input type='hidden' id="SECURETOKENID" name='SECURETOKENID'  />
<input type='hidden' name='MODE' value='LIVE' />
<input style="display:none" type='image' name='submit' id="submitBtn" src='https://www.paypal.com/en_US/i/btn/btn_dg_pay_w_paypal.gif' border='0' align='top' alt='Check out with PayPal'/>
</form>
<#else>
<div class="online">
	<div class="status">
       <div class="or_com"><strong>${bundle("paypage.html.had.paid")}</strong>
       <br />
       <span style="color:#999999; font-size:14px; line-height:30px;"><a style="color:#08c;font-size:14px;" class="font14red" onclick="javascript:jump('orderDetailInfo.html?orderCode=${orderInfoCode}')">${bundle("order.number.name")}: ${orderInfoCode}</a></span>
        <input type="hidden" id="orderNo" name="orderNo" value="${orderInfoCode}"/>
       <span style="color:#999999; font-size:14px; margin-left:30px; margin-right:30px;">|</span>
       <span style="color:#999999; font-size:14px;">${bundle("pay.amoutpayable.name")}:  $ ${money}</span></div>
    </div>
    </div>
</#if>