<select id="productType" style="width:275px" name="proTypeCode" class="input_sign" onchange="clearInfo()">
	<option  value="" selected="selected">${bundle("product.select")}</option>	
<#list productTypes as productType>
	<option value="${productType.code!''}" path=${productType.serialPath!''}>${productType.name}</option>		 
</#list>
</select>