<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<form id="sealerInfoForm" name="sealerInfoForm" method="post" action="querySealerInfoList-1-1.html?m=1&operationType=5">
<input type="hidden" id="operationType" name="operationType" value="5"/>
<div class="account_right">
    	<h4>${bundle("autel.menu.querysealinfo")} </h4>
        <div class="distri">
        	${bundle("sealerinfo.area.name")}：&nbsp;&nbsp;<select id="areaCode" name="areaCode"  style="width:153px;height:22px;line-height:22px;border:#c0c0c0 solid 1px;">
        				<option value="">${bundle("common.all.name")}</option>
        				<#if areaConfigList ??>
        				<#list areaConfigList as item>
	    						<#if areaCode ??>
	    							<#if areaCode == item.code>
	                        			<option id="${item.code!''}" value="${item.code!''}" selected>${item.name!""}</option>	
		                        	<#else>
		                        		<option id="${item.code!''}" value="${item.code!''}" >${item.name!""}</option>	
		                        	</#if> 
		                        <#else>
		                        	<option id="${item.code!''}" value="${item.code!''}" >${item.name!""}</option>	
	    						</#if>
						</#list>
						</#if>
        	</select>
        	&nbsp;&nbsp;&nbsp;&nbsp;
        	${bundle("sealerinfo.country.name")}：
        	 <input type="text" id="country" name="country" value="${country!''}" class="input_sign" size="25"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	 <input type="button"  value="${bundle('common.query.name')}" id="querySealerInfoSubmit" name="querySealerInfoSubmit" class="renew3" style="margin-right:20px;"/>
       		 <br>
        	 <span id="resultTip"  style="font-size:20px;color:red;display:none;" >&nbsp;</span>
        </div>
      <div style="height:12px;"></div>
        <div class="jss_xx">
        	<table width="792" border="0">
			  <tr class="tool_title">
			    <td width="130">${bundle("sealerinfo.area.name")}</td>
			    <td width="130">${bundle("sealerinfo.country.name")}</td>
			    <td width="130">${bundle("customerinfo.usertype.distributor")}</td>
			    <td width="122">${bundle("customercomplaint.phone.name")}</td>
			    <td>${bundle("accountinformation.address.name")}</td>
			  </tr>
			   <#if sealerInfoList??>
				<#list sealerInfoList as item>
				  <tr <#if (item_index+1) % 2 == 0 > class="jx_trbg"</#if>>
				   		<td height="30">${item.areaName!''}</td>
						<td>${item.country!''}</td>
						<td>${item.sealerName!''}</td>
						<td>${item.daytimePhone!''}</td>	
						<td>${item.address!''}</td>
				  </tr>
			   </#list>
			   	<#if pager != "">
				         <tr>
					   		<td colspan="5" >
					   		<div class="check1 clearfix">
									${pager}
								</div>
							</td>	
				   	   </tr>
				   </#if>
			   </#if>
				   
			</table>
</div>
</div>
		
</form>
	