
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script>

function setCountry(country){
	$('#country').val(country);
	if(country=='United States'){
		usaProvince();
	}else{
		$('#province').remove();
		$('#provinceTR').append('<input name="province" id="province" type="text" class="input_sign2" maxlength="120" size="50"/>');
	}
}

function usaProvince(){
	$('#province').remove();
	$('#provinceTR').append("<select class='input_sign2' name='province' id='province'>"+usaProvinceStr()+"</select>");
}

$(document).ready(function(){
	$("#country").click(function()
	{
			var url='selectCountry.html?operationType=27';
			art.dialog.open(url, {
			title: '',
			lock:true,
			okVal:'Ok',
			cancelVal:'Cancel',
			width: 1000, 
			height: 550,
			// 在open()方法中，init会等待iframe加载完毕后执行
			init: function () {
				var iframe = this.iframe.contentWindow;
				var username = iframe.document.getElementById('country');
				var top = art.dialog.top;// 引用顶层页面window对象
			}, 
			ok: function () {
		    	var iframe = this.iframe.contentWindow;
		    	var form = iframe.document.getElementById('selectForm');
		        country = iframe.document.getElementById('country').value;
		    	$('#country').val(country);  
		    	if(country=='United States'){
		    		usaProvince();
		    	}else{
		    		$('#province').remove();
		    		$('#provinceTR').append('<input name="province" id="province" type="text" class="input_sign2" maxlength="120" size="50"/>');
		    	}
		    },

			cancel: true
			});
	});
});

</script>
<!--中间开始-->
<div class="autel1"><p class="font24black1">${bundle("accountinformation.user.create")}</p><p class="autel2">${bundle("accountinformation.user.regtitle")}
</p><p class="autel2"><span class="font12red">* </span>  &nbsp;${bundle("accountinformation.user.regfidld")}</p>	
</div>
<div class="regi1">

	<div class="commu_top1"></div>
    <div class="commu_midd1 clearfix">
    	<div class="commu_left1">
			<table border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td colspan="2" class="font14black"> ${bundle("accountinformation.user.regprivacy")}</td>
				  </tr>
				  <tr>
				    <td class="hongs1"><a style="color:#08c;" href="privacyPolicy.html" target="_blank">${bundle("accountinformation.user.regreadprivacy")}</a>&nbsp;&nbsp;</td>
				    <td class="hongs1"><img src="${imagePath}/images/morearrow_08c.gif" width="4" height="7" /></td>
				  </tr>
			</table>
			
		</div>
	  <div class="commu_right1">
	  <form  id="regCustomerInfoForm" name="regCustomerInfoForm" action="regCustomerInfoResult.html" method="post" >
		<input type="hidden" name="operationType" id="operationType" value="2">
		<input type="hidden" id="isAllowSendEmail" name="isAllowSendEmail" value="1"/>
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="font24black1">${bundle("accountinformation.user.regaccountdetails")}</td>
            </tr>
            
	 		 <tr>
              <td class="font24black1">&nbsp;</td>
            </tr>
            
            <tr>
              <td class="font18black">${bundle("accountinformation.user.regchooseautel")}</td>
            </tr>
            <tr>
              <td width="19%" class="font14gray">${bundle("accountinformation.user.regentryyourtitle")}</td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                <tr>
                  <td width="30%" align="right" class="font14black">&nbsp;</td>
                  <td width="70%">&nbsp;</td>
                </tr>
                <tr>
                  <td align="right" class="font14black">Autel ID
                 <!--  <span class="font12red" style="padding-right:20px;">&nbsp;*</span> -->
                 <b style="font-family: '????';font-weight: normal;margin-right: 20px;color:#FF0000;">*</b>
                  </td>
                  <td>
                  <div>
                  	<div>
                  	<input onfocus="clearautelIdValue();" onkeyup="checkAutelID();" id="autelId" name="autelId" onblur="onblurAutelId();"  value="${bundle('customerinfo.user.forexample')}:steve@auteltech.com" class="input_sign2" maxlength="50" size="50" />
                  	<img id="autelIdImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                  	</div>
                  	<div class="au_id" id="au_id" style="display:none;">
						<div class="id_top"></div>
    					<div class="id_midd">
    						<dl>
			        			<dt>${bundle("accountinformation.autelIDbixu.name")}</dt>
			            		<dd><font id="emailError" color="">${bundle("accountinformation.emailAddress.name")}</font></dd>
			            		<dd><font id="isUse" color="">${bundle("accountinformation.isUse.name")}</font></dd>
        					</dl>
  						</div>
    					<div class="id_down"></div>
					</div>
					</div>
                  </td>
                </tr>
                
                <tr id="autelIDResult" style="display:none;">
	             	<td align="center" class="font14black">&nbsp;</td>
	                <td style="padding-top:5px;"><span id="autelIDResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
        		</tr>
        		
                <tr>
                	<td align="right" class="font14black">&nbsp;</td>
                    <td><span id="usernameTip" style="font-size:12px;color:red;">&nbsp;</span></td>
                </tr>
                <tr>
                  <td align="right" class="font14black">${bundle("accountinformation.password.title")}  <b style="font-family: '????';font-weight: normal;margin-right: 20px;color:#FF0000;">*</b></td>
                  <td>
                  
                  <div>
                  	<div>
		                <input onfocus="userPwdValue();" onblur="onbluruserPwdValue();" onkeyup="checkAutelPwd();" id="userPwd" type="password" name="userPwd" class="input_sign2" maxlength="25" size="50"/>
		                <img id="userPwdImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                  	</div>
                  	<div class="au_pwd" id="au_pwd" style="display:none;">
						<div class="id_top"></div>
			    		<div class="id_midd">
		    			<dl>
		        			<dt>${bundle("accountinformation.pwdbixu.name")}</dt>
		            		<dd><font id="numberError" color="">${bundle("accountinformation.regpwd.name")}</font></dd>
		            		<dd><font id="lengthError" color="">${bundle("accountinformation.regpwdlength.name")}</font></dd>
		        		</dl>
			  			</div>
			    		<div class="id_down"></div>
					</div>
                  </div>
                  
                  </td>
                </tr>
                
                <tr id="userPwdResult" style="display:none;">
	             	<td align="center" class="font14black">&nbsp;</td>
	                <td style="padding-top:5px;"><span id="userPwdResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
        		</tr>
                
                <tr>
                	<td align="right" class="font14black">&nbsp;</td>
                    <td><span id="passwordTip" style="font-size:12px;color:red;">&nbsp;</span></td>
                </tr>
                <tr>
                  <td align="right" class="font14black">${bundle("update.confirmpassword.name")}  <b style="font-family: '????';font-weight: normal;margin-right: 20px;color:#FF0000;">*</b></td>
                  <td>
	                  <input id="userPwd2" onblur="onblurUserPwd2Value();" name="userPwd2" type="password" class="input_sign2" maxlength="25" size="50"/>
	                  <img id="userPwd2Img" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                  </td>
                </tr>
                 <tr id="userPwd2Result" style="display:none;">
	             	<td align="center" class="font14black">&nbsp;</td>
	                <td style="padding-top:5px;"><span id="userPwd2ResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
        		</tr>
        		
                <tr>
                	<td align="right" class="font14black">&nbsp;</td>
                    <td><span id="confirmPasswordTip" style="font-size:12px;color:red;">&nbsp;</span></td>
                </tr>
              </table></td>
            </tr>
          </table>
  		<table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="font18black">${bundle("accountinformation.user.regentryname")}</td>
            </tr>
            <tr>
              <td width="19%" class="font14gray">${bundle("accountinformation.user.regenterfullname")}.</td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                  <tr>
                    <td width="30%" align="right" class="font14black">&nbsp;</td>
                    <td width="70%">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="right" class="font14black">${bundle("accountinformation.first.name")}  <b style="font-family: '????';font-weight: normal;margin-right: 20px;color:#FF0000;">*</b></td>
                    <td>
                    	<input name="firstName" id="firstName" type="text" class="input_sign2" maxlength="100" size="50"/>
                    	<img id="firstNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                    </td>
                  </tr>
                  
	             <tr id="firstNameResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="firstNameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
	        	 
                  <tr>
                	<td align="right" class="font14black">&nbsp;</td>
                    <td><span id="firstNameTip" style="font-size:12px;color:red;">&nbsp;</span></td>
                  </tr>
                  <tr id="middleNameDiv" style="display:none;">
                    <td align="right" class="font14black" style="padding-right:23px;">${bundle("accountinformation.middle.name")}&nbsp;&nbsp;</td>
                    <td><input name="middleName" id="middleName" type="text" class="input_sign2" maxlength="100" size="50"/>
                    	<img id="middleNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                    </td>
                  </tr>
                  
                  <tr id="middleNameResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="middleNameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
	        	 
	        	 
                  <tr id="middleNameTipDiv" style="display:none;">
                	<td align="right" class="font14black">&nbsp;</td>
                    <td><span id="middleNameTip" style="font-size:12px;color:red;">&nbsp;</span></td>
                  </tr>
                  
                  <tr>
                    <td align="right" class="font14black">${bundle("accountinformation.last.name")}  <b style="font-family: '????';font-weight: normal;margin-right: 20px;color:#FF0000;">*</b></td>
                    <td>
	                    <input name="lastName" id="lastName" type="text" class="input_sign2" maxlength="100" size="50"/>
	                    <img id="lastNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                    </td>
                  </tr>
                   <tr id="lastNameResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="lastNameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
                  
                  <tr>
                	<td align="right" class="font14black">&nbsp;</td>
                    <td><span id="lastNameTip" style="font-size:12px;color:red;">&nbsp;</span></td>
                  </tr>
                  <tr>
                    <td align="right" class="font14black">&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
              </table></td>
            </tr>
          </table>
          <!--  
          	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="font18black">${bundle("accountinformation.user.regenteryemail")}.</td>
            </tr>
            <tr>
              <td width="19%" class="font14gray">${bundle("accountinformation.user.regentrysecondemail")}</td>
            </tr>
            <tr>
              <td>
              	<table width="100%" border="0" cellspacing="5" cellpadding="0">
                  <tr>
                    <td width="30%" align="right" class="font14black">&nbsp;</td>
                    <td width="70%">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="right" class="font14black" style="padding-right:20px;">${bundle("accountinformation.second.email")}&nbsp;</td>
                    <td>
                    	<input name="secondEmail" id="secondEmail" type="text" class="input_sign2" maxlength="25" size="50"/>
                    	<img id="secondEmailImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                    </td>
                  </tr>
                  
                  <tr id="secondEmailResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="secondEmailResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
	        	 
                  <tr>
                	<td align="right" class="font14black">&nbsp;</td>
                    <td><span id="secondEmailTip" style="font-size:12px;color:red;">&nbsp;</span></td>
                  </tr>
              	</table>
              </td>
            </tr>
          </table>
          -->
  		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="font18black">${bundle("accountinformation.user.regchoosesupportname")}</td>
            </tr>
            <tr>
              <td width="19%" class="font14gray">${bundle("accountinformation.user.regyournamecommun")}.<br />
              </td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                  <tr>
                    <td width="30%" align="right" class="font14black">&nbsp;</td>
                    <td width="70%">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="right" class="font14black">${bundle("memberman.complaintman.username")}  <b style="font-family: '????';font-weight: normal;margin-right: 20px;color:#FF0000;">*</b> </td>
                    <td>
                    	<input  name="comUsername" id="comUsername" type="text" class="input_sign2" maxlength="100" size="50"/>
                    	<img id="comUsernameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                    </td>
                  </tr>
                 <tr id="comUsernameResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="comUsernameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
	        	 
                  <tr>
                	<td align="right" class="font14black">&nbsp;</td>
                    <td><span id="comUsernameTip" style="font-size:12px;color:red;">&nbsp;</span></td>
                  </tr>
              </table></td>
            </tr>
          </table>
	      <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="font18black">${bundle("accountinformation.user.regcreatequestion")}</td>
            </tr>
            <tr>
              <td width="19%" class="font14gray">${bundle("accountinformation.user.regselectsecurity")}.<br />
             ${bundle("accountinformation.user.regquestionforget")}.</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                  <tr>
                    <td width="30%" align="right" class="font14black">${bundle("accountinformation.user.regsecquestion")}  <b style="font-family: '????';font-weight: normal;margin-right: 20px;color:#FF0000;">*</b></td>
                    <td width="70%"><label>
                       <select  name="questionCode" id="questionCode"  class="input_sign2" >
                        <option value="-1">${bundle("product.select")}</option>
                        <#if questionInfoList??>
                        <#list questionInfoList as questionDesc>
							<option id="${questionDesc.questionCode!''}" value="${questionDesc.questionCode!''}" >${questionDesc.questionDesc!""}</option>		 
						</#list>
						</#if>
                      </select>
                      <img id="questionCodeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                    </label></td>
                  </tr>
                  <tr id="questionCodeResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="questionCodeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
	        	 
                  <tr>
                	<td align="right" class="font14black">&nbsp;</td>
                    <td><span id="questionCodeTip" style="font-size:12px;color:red;">&nbsp;</span></td>
                  </tr>
                  <tr>
                    <td align="right" class="font14black">${bundle("accountinformation.answer.name")}  <b style="font-family: '????';font-weight: normal;margin-right: 20px;color:#FF0000;">*</b> </td>
                    <td>
                    	<input name="answer" id="answer" type="text" class="input_sign2" maxlength="100" size="50"/>
                    	<img id="answerImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                    </td>
                  </tr>
                   <tr id="answerResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="answerResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
	        	 
                  <tr>
                	<td align="right" class="font14black">&nbsp;</td>
                    <td><span id="answerTip" style="font-size:12px;color:red;">&nbsp;</span></td>
                  </tr>
              </table></td>
            </tr>
          </table>
	  	<table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="19%">&nbsp;</td>
            </tr>
            <tr>
              <td class="font18black">${bundle("accountinformation.user.regenteryaddress")}</td>
            </tr>
			<tr>
              <td>&nbsp;</td>
            </tr>
            
            <tr>
              <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                  <tr>
                    <td width="30%" align="right" class="font14black">${bundle("accountinformation.country.name")}  <b style="font-family: '????';font-weight: normal;margin-right: 20px;color:#FF0000;">*</b></td>
                    <td width="70%">
                    	
                    	<input name="country" id="country" type="text" class="input_sign2" maxlength="100" size="50" />
                    	
                    	
                    	<img id="countryImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                    </td>
                  </tr>
                  <tr id="countryResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="countryResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
                  
                  <tr>
                	<td align="right" class="font14black">&nbsp;</td>
                    <td><span id="countryTip" style="font-size:12px;color:red;">&nbsp;</span></td>
                  </tr>
                   <tr>
                    <td align="right"  class="font14black" style="padding-right:23px;padding-top:0px;padding-bottom:0px;">${bundle("accountinformation.company.name")}  &nbsp;</td>
                    <td>
                    	<input  name="company" id="company" type="text" class="input_sign2" maxlength="100" size="50"/>
                   		<img id="companyImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                    </td>
                  </tr>
                  <tr id="companyResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="companyResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
	        	 
                    <tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
            	   
                  <tr>
                    <td align="right" class="font14black" style="padding-right:23px;">${bundle("accountinformation.address.name")} &nbsp;</td>
                    <td>
                    	<input name="address" id="address" type="text" class="input_sign2" maxlength="120" size="50"/>
                    	<img id="addressImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                    </td>
                  </tr>
                  <tr id="addressResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="addressResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
                  <tr>
	              		<td class="font14black">&nbsp;</td>
	              		<td></td>
            	   </tr>
                  
               
                  
                  
                  <tr>
                    <td align="right" class="font14black" style="padding-right:23px;">${bundle("accountinformation.city.name")} &nbsp;</td>
                    <td><input name="city" id="city" type="text" class="input_sign2" maxlength="100" size="50"/>
                    <img id="cityImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
                  </tr>
                  <tr id="cityResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="cityResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
	        	 
                  <tr>
	              		<td class="font14black">&nbsp;</td>
	              		<td>&nbsp;</td>
            	   </tr>
                  
                  
                     
                   <tr>
                    <td align="right" class="font14black" style="padding-right:23px;">${bundle("regcustomer.info.province")} &nbsp;</td>
                    <td id="provinceTR">
                    	<input name="province" id="province" type="text" class="input_sign2" maxlength="120" size="50"/>
                    	<img id="provinceImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                    </td>
                  </tr>
                  <tr id="provinceResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="provinceResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
                  <tr>
	              		<td class="font14black">&nbsp;</td>
	              		<td></td>
            	   </tr>
                  
                  
                  <tr>
                    <td align="right" class="font14black" style="padding-right:23px;">${bundle("accountinformation.zipcode.name")} &nbsp;</td>
                    <td>
                    <input name="zipCode" id="zipCode" type="text" class="input_sign2" maxlength="100" size="50"/>
                    <img id="zipCodeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                    </td>
                  </tr>
                  <tr id="zipCodeResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="zipCodeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
              </table></td>
            </tr>
          </table>
          
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="font18black">${bundle("accountinformation.preferredlanguage.name")}</td>
            </tr>
            <tr>
              <td width="19%" class="font14gray"></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
                  <tr>
                    <td width="30%" align="right" class="font14black" >${bundle("accountinformation.preferredlanguage.name")}  <b style="font-family: '????';font-weight: normal;margin-right: 20px;color:#FF0000;">*</b></td>
                    <td width="65%"><label>
                        <select name="languageCode" id="languageCode"  class="input_sign2" >
                        <option value="-1">${bundle("product.select")}</option>
                        <#if languageList??>
	                        <#list languageList as language>
								<option id="${language.code!''}" value="${language.code!''}" >${language.name!""}</option>		 
							</#list>
						</#if>
                      </select>
                      <img id="languageCodeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
                    </label></td>
                  </tr>
                   <tr id="languageCodeResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="languageCodeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
                  <tr>
                	<td align="right" class="font14black">&nbsp;</td>
                    <td><span id="languageCodeTip" style="font-size:12px;color:red;">&nbsp;</span></td>
                  </tr>
                  
              </table></td>
            </tr>
          </table>
          
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="19%">&nbsp;</td>
        </tr>
        <tr>
          <td class="font18black">${bundle("accountinformation.user.regcommunicationautel")}</td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
              <tr>
                <td width="4%" align="right" class="font14black"><label>
                 <input type="checkbox"  checked="checked" id="allowSendEmail" name="allowSendEmail" value="1" onclick="setEmail(this)" />
                </label></td>
                <td width="96%">&nbsp;${bundle("customercomplaint.email.name")}</td>
              </tr>
              <tr>
                <td align="right" class="font14black">&nbsp;</td>
                <td class="font14gray"> ${bundle("accountinformation.autelnews.softwareupdate")}</td>
              </tr>

          </table></td>
        </tr>
      </table>
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" class="font18black">${bundle("accountinformation.user.regpleaseimagebelow")}.</td>
        </tr>
        <tr>
          <td colspan="2"><table width="90%" border="0" cellpadding="0" cellspacing="5">
              <tr>
                <td width="45%" align="right" class="font14black"><label> <img src="" id="image_validate" name="image_validate"   class="remember_login_name" width="80" height="30"  onclick="javascript:buildRandom();" alt='${bundle("accountinformation.user.regclickchange")}' style="cursor:hand;"/></label></td>
                <td width="55%" class="hongs1"><a onclick="javascript:buildRandom();" style="padding-left:10px;font-size:11px;color:#08c;" >${bundle("accountinformation.user.regclickchange")}</a></td>
              </tr>
              <tr>
                <td class="font14black" align="right">
				<input id="imagenum" class="input_sign" type="text" size="10" maxlength="4" name="imagenum">
				</td>
				<td class="font14gray">
				<span id="imagenumCodeTip" style="font-size:12px;color:red;"></span>
				</td>
              </tr>
               <tr id="imagenumResult" style="display:none;">
               			<td colspan="2" style="padding-top:5px;" align="center">
               			<img id="imagenumImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
               			<span id="imagenumResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span>
               			</td>
	        	</tr>
              
              
              
          </table></td>
        </tr>
        
        <tr>
			<td class="font14black" align="right">&nbsp;</td>
		</tr>
		
        <tr>
          <td width="4%" align="center">
          <input type="checkbox" name="agree" id="agree" checked="checked" value="1" onclick="setAgree(this);"/>
         
          </td>
          <td width="96%" class="font14gray">${bundle("accountinformation.user.regagreecondition")}.</td>
        </tr>
        <tr id="agreeResult" style="display:none;">
		    <td align="center" class="font14black">&nbsp;</td>
		    <td style="padding-top:5px;">
			    <img id="agreeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
			    <span id="agreeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span>
		    </td>
	    </tr>
        
        
       	<tr>
       			<td align="center" class="font14black">&nbsp;</td>
       	</tr>
        <tr>
             	<td align="center" class="font14black">&nbsp;</td>
                <td align="center"><span id="operationResultTip" style="font-size:20px;color:red;">&nbsp;</span></td>
        </tr>
        <tr>
          <td height="50" align="center">&nbsp;</td>
          <td height="45" align="center"><br />
           <input type="reset" id="calcl" name="calcl" value="${bundle('common.btn.reset')}" class="canbt"/>
            	&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" id="regCustomerCheck" name="regCustomerCheck" value="${bundle('customerinfo.user.create')}" class="crbt"/>
        </tr>
      </table>
      
	  </div>
	  
      </form>
	  </div>
         <div class="commu_dowm1"></div>
    </div>
   
</div>
<div style=" height:30px;"></div>

    <script type="text/javascript">
 	
 	function buildRandom()
	{
		var date = new Date();
		$("#image_validate").attr("src","validcode.do?vtype=_customer&rmd="+new Date().getTime())

	}

	buildRandom();
 </script>
</div>
