<div class="account_right">
    	<h4>${bundle("autel.menu.productreg")}</h4>
        <div class="my_products">
        	<form action=""  class="validate" method="post" name="theForm" id="theForm">
				<div class="registe">
					<table width="790" border="0">
						<tr>
							<td align="right" width="238" style="padding-right: 16px">${bundle("regproduct.productmodel.name")}<span  style="color:red">&nbsp;*</span></td>
							
						