
						</tr>
						<tr>
             				<td>&nbsp;</td>
              				<td ><span id="selectProType" class="font12gray" style="line-height:15px;color:red"></span></td>
            			</tr>
						<tr>
							<td align="right" width="238" style="padding-right: 16px">${bundle("myproducts.sn.name")}<span  style="color:red">&nbsp;*</span></td>
							<td><input type="text" value="" name="proSerialNo"
								id="proSerialNo" class="input_sign"   onfocus="clearInfo();" style="width:270px;text-transform:uppercase"/>
							</td>
						</tr>
						<tr>
             				<td>&nbsp;</td>
              				<td ><span id="inputSerialNo" class="font12gray" style="line-height:15px;color:red"></span></td>
            			</tr>
						<tr>
							<td align="right" width="238" style="padding-right: 16px">${bundle("regproduct.registerpwd.name")} <span  style="color:red">&nbsp;*</span></td>
							<td><input type="text" value="" name="proRegPwd"
								id="proRegPwd" class="input_sign"  style="width:270px;" onfocus="clearInfo();"/>
							</td>
						</tr>
						<tr>
             				<td>&nbsp;</td>
              				<td ><span id="inputPwd" class="font12gray" style="line-height:15px;color:red"></span></td>
            			</tr>
						
            			
						<tr>
			              <td align="right"><span class="font14black" style="padding-right:15px;">${bundle("accountinformation.user.regcode")}<span  style="color:red">&nbsp;*</span></span></td>
			              <td><input onfocus="clearImagenumErrorInfo();" name="imagenum"  id="imagenum" 
					              type="text" class="input_sign"
					              id="textfield4"  maxlength="4" />
			              	  <img src="" id="image_validate" name="image_validate" class="remember_login_name" width="80" height="30"  onclick="javascript:buildRandom();" alt='${bundle("accountinformation.user.regclickchange")}' style="cursor:hand;"/>
			              	  <a onclick="javascript:buildRandom();" style="padding-left:5px;font-size:11px;color:#08c;" class="font14red">${bundle("accountinformation.user.regclickchange")}</a>
			              	  
			              </td>
			            </tr>
			            <tr id="imagenumErrorInfo"  style="display:none;">
			              <td class="font14black">&nbsp;</td>
			              <td>
				              <img id="imagenumImg" src="${imagePath}/images/myappleid_error.png"></img>
				              <span id="imagenumErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span>
			              </td>
			            </tr>
			            <tr id="isCommonErrorInfo"  style="display:none;">
             				<td>&nbsp;</td>
              				<td ><span id="isCommon" class="font12gray" style="line-height:15px;color:red"></span></td>
            			</tr>
			            <tr>
			              <td>&nbsp;</td>
			              <td ><span class="font12gray" style="line-height:15px;color:red"></span></td>
			            </tr>
			            
						
            			
						<tr>
							<td align="right" width="254">&nbsp;</td>
							<td><input name="button" type="button" value="${bundle('customercomplaint.commit.name')}" class="renew3" id="regProductButton" onclick="regProduct();"/>
							<input name="reset" onclick="clearInfo();" type="reset" value="${bundle('common.btn.reset')}" class="renew3" style="margin-left: 50px;" />
							</td>
						</tr>
					</table>
				</div>
			</form>
				<div class="question" style="border-top: 1px solid #CCCCCC">
					<h5>${bundle("regproduct.questions.name")}</h5>
					<h5 style="padding-left: 25px;">${bundle("regproduct.serialnumber.name")}</h5>
					<p>${bundle("regproduct.serialnumberfind.name")}</p>
					<p style="padding-left: 40px;">
						${bundle("regproduct.aboutscreen.name")}
					</p>
					<p id="imageShow" style="padding-left: 100px; margin-top: 10px;">
						
					</p>
				</div>
			</div>
    </div>
    
<script type="text/javascript">

function buildRandom()
{
	var date = new Date();
	$("#image_validate").attr("src","validcode.do?vtype=_customer&rmd="+new Date().getTime())

}

buildRandom();
</script>