<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--中间开始-->
<div class="autel1"><p class="font24black1">${bundle("accountinformation.user.resetpasswordtitle")}</p></div>
<div class="regi1">
	<div class="commu_top1"></div>
    <div class="commu_midd1 clearfix">
    	<div class="commu_left1">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td class="font18black">${bundle("accountinformation.forgotpassword2.name")}</td>
			  </tr>
			  <tr>
			    <td class="font14black">${bundle("accountinformation.noproblem.name")} </td>
			  </tr>
			   <tr>
			    <td class="font14black">${bundle("accountinformation.findID.question")} </td>
			  </tr>
		</table>

		</div>
  		<div class="commu_right1">
  		 <form id="resetPasswordForm" name="resetPasswordForm" action="resetPasswordResult.html" method="post">
          <input type="hidden" id="operationType" name="operationType" value="17">
          <input name="autelId" id="autelId" type="hidden" value="${autelId!''}" />
          <input name="actCode" id="actCode" type="hidden" value="${actCode!''}" />
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td colspan="2" width="100%" class="font24black1">${bundle("accountinformation.pleaseinputpassword.name")}.</td>
            </tr>
            <tr>
              <td colspan="2" style="color:red;">
       
              </td>
            </tr>
            <tr>
	            <td width="30%" height="66"  align="right" class="font14black">Autel ID：</td>
	            <td width="70%" align="left">
	     			${autelId!''}
	            </td>
	         </tr>
	         
            <tr>
              <td align="right" class="font14black">${bundle("update.newpassword.name")}：</td>
              <td align="left">
              <input type="password" id="userPwd" name="userPwd" class="input_sign" maxlength="25"  size="35"/>
              <img id="passwordImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
              </td>
            </tr>
            <tr id="passwordNull">
              <td>&nbsp;</td>
              <td align="left"></td>
            </tr>
             <tr id="passwordErrorInfo"  style="display:none;">
             <td>&nbsp;</td>
              <td style="padding-top:5px;"><span id="passwordErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
            <tr>
              <td align="right" class="font14black">${bundle("update.confirmpassword.name")}：</td>
              <td align="left">
              <input type="password" id="confirmPassword" name="confirmPassword" class="input_sign" maxlength="25" size="35" />
              <img id="confirmPasswordImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
              </td>
            </tr>
           <tr id="confirmPasswordErrorInfo"  style="display:none;">
             <td>&nbsp;</td>
              <td style="padding-top:5px;"><span id="confirmPasswordErrorInfoTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
            <tr>
              <td height="66" class="font14black">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="2" align="center">
              	<input type="button" id="imageField" name="imageField" onclick="window.history.go(-1);" value="${bundle('common.previous.name')}" class="canbt"/>&nbsp;&nbsp;
                <label>
  					<input type="button"  id="resetPasswordCheck" name="resetPasswordCheck" value="${bundle('common.next.name')}" class="canbt"/>
                </label>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          </form>
  		</div>
        
    </div>
    <div class="commu_dowm1"></div>
</div>
<div style=" height:30px;"></div>