<#if result == "success">
<div class="no_pro_kong"></div>
<div class="online">
	<div class="status_ok">
		<div class="or_com">
			<strong>${bundle("order.success.name")} ${out_trade_no} ${bundle("order.success.name2")}, </strong><br />
			<strong>${bundle("order.query.name")} <a href="myOrders-1-1.html">${bundle("order.myorder.name")}</a> ${bundle("order.query.name1")}</strong>
		</div>
	</div>
</div>
</#if>