<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--中间开始-->
<div class="autel1"><p class="font24black1">${bundle("accountinformation.user.resetpasswordtitle")}</p></div>
<div class="regi1">
	<div class="commu_top1"></div>
    <div class="commu_midd1 clearfix">
    	<div class="commu_left1">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td class="font18black">${bundle("accountinformation.forgotpassword2.name")}</td>
			  </tr>
			  <tr>
			    <td class="font14black">${bundle("accountinformation.noproblem.name")} </td>
			  </tr>
			  <tr>
			    <td class="font14black">${bundle("accountinformation.findID.question")} </td>
			  </tr>
			  
			</table>

		</div>
  		<div class="commu_right1">
  		<form id="selectForGotForm" name="selectForGotForm" method="post" action="">
  		  <input type="hidden" name="autelId" id="autelId" value="${autelId!''}"/>
  		  <input type="hidden" id="hiddenType" name="hiddenType" value="1">
  		  <table width="90%" border="0" cellpadding="0" cellspacing="0">
            <tr >
              <td  colspan="2" class="font24black1">${bundle("accountinformation.selectauthentication.name")}.</td>
            </tr>
            <tr>
              <td height="20" valign="top" class="font14black">&nbsp;</td>
              <td class="font14black">&nbsp;</td>
            </tr>
           
           
            <tr>
              <td  valign="top" class="font14black"><label>
                <input type="radio" name="type" id="type" value="1" checked="checked" onclick="setCheckValue(this)"/>
              </label></td>
              <td ><strong>&nbsp;${bundle("accountinformation.emailauthentication.name")}:</strong>  ${bundle("accountinformation.toaccessinformation.name")}</td>
            </tr>
            <tr>
              <td height="35" valign="top" class="font14black">&nbsp;</td>
              <td class="font14black">&nbsp;</td>
            </tr>
            <tr>
              <td  valign="top" class="font14black"><label>
               <input type="radio" name="type" id="type" value="2" onclick="setCheckValue(this)"/>
              </label></td>
              <td><strong>&nbsp;${bundle("accountinformation.answerquestion.name")}:</strong>  ${bundle("accountinformation.toaccessoriginally.name")}</td>
            </tr>
            <tr>
              <td height="35" align="right" valign="top"><label></label></td>
              <td align="right"><label></label></td>
            </tr>
            <tr>
              <td align="right" valign="top">&nbsp;</td>
              <td align="right" valign="top">
	              <label>
	              <input type="button" id="imageField" name="imageField" onclick="window.history.go(-1);" value="${bundle('common.previous.name')}" class="canbt" />
	              </label>&nbsp;&nbsp;               
	               <input type="button" id="selectForGotSubmit" name="selectForGotSubmit" value="${bundle('common.next.name')}" class="canbt"/>          
             </td>
            </tr>
            <tr>
              <td height="55" align="right" valign="top">&nbsp;</td>
              <td align="right" valign="top">&nbsp;</td>
            </tr>
          </table>
          </form>
  		</div>

        
        
    </div>
    <div class="commu_dowm1"></div>
</div>