<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--中间开始-->
<div class="autel1"><p class="font24black1">${bundle("accountinformation.user.resetpasswordtitle")}</p></div>
<div class="regi1">
	<div class="commu_top1"></div>
    <div class="commu_midd1 clearfix">
    	<div class="commu_left1">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td class="font18black">${bundle("accountinformation.forgotpassword2.name")} </td>
			  </tr>
			  <tr>
			    <td class="font14black">${bundle("accountinformation.noproblem.name")} </td>
			  </tr>
			   <tr>
			    <td class="font14black">${bundle("accountinformation.findID.question")} </td>
			  </tr>
			  
			</table>
		</div>
  		<div class="commu_right1">
  		<form id="selectQuestionForgotFrom" name="selectQuestionForgotFrom" method="post" action="">
  		<input type="hidden" name="autelId" id="autelId" value="${autelId}"/>
  		<input type="hidden" name="operationType" id="operationType" value="15"/>
          <table width="90%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="19%" class="font24black1">${bundle("accountinformation.pleasequestion.name")}.</td>
            </tr>
            <tr height="30">
              <td>${questionDesc!''}</td>
            </tr>
            <tr>
              <td height="30">
              	<input name="answer" id="answer" type="text" class="input_sign" maxlength="50" size="70" />
              	<img id="answerImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
              </td>
            </tr>
            <tr id="answerErrorInfo"  style="display:none;">
              <td style="padding-top:5px;"><span id="answerTip" class="font12gray" style="font-size:12px;color:#ea0000;font-weight:bold;"></span></td>
            </tr>
            <tr>
              <td height="66" class="font14black">&nbsp;</td>
            </tr>
            <tr>
              <td align="right">
                <label>
                <input type="button" id="imageField" name="imageField" onclick="window.history.go(-1);" value="${bundle('common.previous.name')}" class="canbt"/>
                </label>&nbsp;&nbsp;
   				<input type="button"   id="checkQuestionAnswer" name="checkQuestionAnswer" value="${bundle('common.next.name')}" class="canbt"/>  
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
          </form>
  		</div>

        
        
    </div>
    <div class="commu_dowm1"></div>
</div>