<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



<!--中间开始-->
<div class="autel1">${bundle("accountinformation.user.regresult.title")}</div>
<div class="regi1">
	<div class="commu_top1"></div>
    <div class="commu_midd1 clearfix">
    	<div class="commu_left1">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="font18black">${bundle("accountinformation.user.regcongratualation")}!</td>
  </tr>
  <tr>
    <td class="font14black">${bundle("accountinformation.user.regcreateautel")}. </td>
  </tr>
</table>

		</div>
  		<div class="commu_right1">
          <table width="90%" border="0" cellpadding="0" cellspacing="0">
            
            <#if result == "2">
            <tr>
              <td width="8%" class="font24black1"><img src="${imagePath}/images/dot_7.jpg" width="32" height="31" /></td>
              <td width="92%" class="font24black1">${bundle("accountinformation.user.regreadygo")}</td>
            </tr>
            <tr>
              <td height="35" colspan="2" class="font14black">${bundle("accountinformation.user.regcongratulver")} ${autelId}  ${bundle("accountinformation.user.regcongratulver2")}<br />
              </td>
            </tr>
           <#else>
             <tr>
              <td width="8%" class="font24black1"><img src="${imagePath}/images/dot_5.jpg" width="32" height="31" /></td>
              <td width="92%" class="font24black1">${bundle("other.pay.warn")}</td>
            </tr>
            <tr>
              <td height="35" colspan="2" class="font14black">${bundle("system.error.name")}<br />
              </td>
            </tr>
           </#if>
            
            <tr>
              <td height="120" colspan="2">&nbsp;</td>
            </tr>
            <tr>
          <td height="50" align="center">&nbsp;</td>
          <td height="45" align="center"><br />
          	 <a href="login.html?operationType=3">${bundle("accountinformation.user.reglogin")}</a>&nbsp;&nbsp;&nbsp;&nbsp;
          	 <!--  <a href="${webSite!''}">${bundle("accountinformation.user.reggoemail")}</a> -->
			</td>
        </tr>
          </table>
  		</div>

        
        
    </div>
    <div class="commu_dowm1"></div>
</div>

<!--中间结束-->