<#list shoppingCartBuys as buy>
			<tr id="${buy.minSaleUnitCode}">
				<td>
				<input type="checkbox" id="check_buy_${buy.minSaleUnitCode}" value="-1" checked="checked" onclick="check_soft('${buy.minSaleUnitCode}','buy');updateAllMoney();" />
				</td>
				<th width="150px;">${buy.proName}</th>
				<th width="180px;"><serial id="serial_${buy.minSaleUnitCode}" serial="${buy.proSerial}">${buy.proSerial}</serial></th>
				<th width="180px;">${buy.name}</th>
				<th width="120px;"><price id="price_${buy.minSaleUnitCode}" smoney="${buy.discountPrice}">原价:${buy.costPrice}折后价:${buy.discountPrice}省:
				<discount id="discount_${buy.minSaleUnitCode}" smoney="${buy.sparePrice}">${buy.sparePrice}</discount></price></th>
				<th width="120px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<money id="money_${buy.minSaleUnitCode}" smoney="${buy.discountPrice}">${buy.discountPrice}</money></th>
				<th width="120px;"><a href="deleteShoppingCartResult.html?proSerial=${buy.proSerial}&minSaleUnit=${buy.minSaleUnitCode}&areaCfgCode=${buy.areaCfgCode}&consumeType=0">删除</a></th>
			</tr>
</#list>

