<#list shoppingCartRents as rent>
			<tr id="${rent.minSaleUnitCode}">
				<td>
				<input type="checkbox" id="check_rent_${rent.minSaleUnitCode}" value="-1" checked="checked" onclick="check_soft('${rent.minSaleUnitCode}','rent');updateAllMoney();" />
				</td>
				<th width="150px;">${rent.proName}</th>
				<th width="180px;">
				<serial id="serial_${rent.minSaleUnitCode}" serial="${rent.proSerial}">${rent.proSerial}</serial></th>
				<th width="180px;">${rent.name}</th>
				<th width="120px;"><price id="price_${rent.minSaleUnitCode}" smoney="${rent.discountPrice}">原价:${rent.costPrice}折后价:${rent.discountPrice}省:
				<discount id="discount_${rent.minSaleUnitCode}" smoney="${rent.sparePrice}">${rent.sparePrice}</discount></price></th>
				<th width="120px;"><a id="lower_${rent.minSaleUnitCode}" onclick="lower('${rent.minSaleUnitCode}');">-&nbsp;&nbsp;</a><span id="year_${rent.minSaleUnitCode}" rentyear="${rent.year}">${rent.year}</span>&nbsp;&nbsp;<a id="up_${rent.minSaleUnitCode}" onclick="up('${rent.minSaleUnitCode}');">+</a></th>
				<th width="120px;"><money id="money_${rent.minSaleUnitCode}" smoney="${rent.discountPrice}">${rent.discountPrice}</money></th>
				<th width="120px;"><a href="deleteShoppingCartResult.html?proSerial=${rent.proSerial}&minSaleUnit=${rent.minSaleUnitCode}&areaCfgCode=${rent.areaCfgCode}&consumeType=1">删除</a></th>
			</tr>
</#list>
