<div class="account_right">
    	<h4>${bundle("myproducts.softwarepurchase.name")}</h4>
   <#if minSaleUnitS?size gt 0>     
  <div class="jss_xx69">
  	<#list minSaleUnitS as detailVO>
  	 <#if detailVO_index lt 3 > 
  	 <div style="float:left; width:235px; margin-left:28px;">
  	   <table width="790" border="0">
		  <tr height="48">
		  	<td colspan="6" ></td>
		  </tr>
	  	<tr>
	    <td width="235" >
	    	<div><a href="minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0&isRenew=0&serialNo=${buySoftInfoVOs.proSerial }">
	    	<img src="${detailVO.picpath!'' }" width="130" height="120"/></a></div>
	        <div class="epb">
	        	<h3>${detailVO.minSaleUnitName }</h3>
	             <div style="width:235px"><p style="WORD-BREAK: normal; WORD-WRAP: break-word"><a style="color:#08c;font-weight:bold;" class="font14red" onclick="javascript:jump('minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0&isRenew=0&serialNo=${buySoftInfoVOs.proSerial }')">${detailVO.memo!'' }</a></p>
			     </div>
			<p><span style="text-decoration:line-through;">$${detailVO.price }</span><span style="color:#8f1d22;font-weight:bold;font-size:20px;">$${detailVO.discountPrice }</span></p>
	        </div>
	    </td>
	    </tr>
	    </table>
	    </div>
	  </#if>
    </#list> 
    <#if minSaleUnitS?size gt 3 >
	     <table width="790" border="0">
	    	<tr height="48" style="border-bottom:#cccccc 1px solid;">
	  			<td colspan="6" ></td>
			</tr>
		</table>
		<#list minSaleUnitS as detailVO>
	  	 <#if detailVO_index gt 2 > 
	  	   <div style="float:left; width:235px; margin-left:28px;">
		  	   <table width="790" border="0">
				  <tr height="48">
				  	<td colspan="6" ></td>
				  </tr>
			  	<tr>
			    <td width="235">
			    	<div><a href="minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0&isRenew=0&serialNo=${buySoftInfoVOs.proSerial }">
			    	<img src="${detailVO.picpath!'' }" width="130" height="120"/></a></div>
			        <div class="epb">
			        	<h3>${detailVO.minSaleUnitName }</h3>
			           <div style="width:235px">  <p style="WORD-BREAK: normal; WORD-WRAP: break-word"><a style="color:#08c;font-weight:bold;" class="font14red" onclick="javascript:jump('minSaleUnitSoftware.html?saleCfgCode=${detailVO.minSaleUnitCode }&type=0&isRenew=0&serialNo=${buySoftInfoVOs.proSerial }')">${detailVO.memo!'' }</a></p>
					</div>
					<p><span style="text-decoration:line-through;">$${detailVO.price }</span><span style="color:#8f1d22;font-weight:bold;font-size:20px;">$${detailVO.discountPrice }</span></p>
			        </div>
			    </td>
			    </tr>
			    </table>
		    </div>
		  </#if>
	    	</#list> 
    </#if>
    
        </#if> 
			<table width="790" border="0">
			  <tr height="48" style="border-bottom:#cccccc 1px solid;">
			  	<td colspan="6" ></td>
			  </tr>
		  
		  		
		  		<#if minSaleUnitS?has_content> 
		  		<tr >
		  			<td colspan="6" >
		  				<div class="check11 clearfix" style="background-color:#f3f3f3;">
		            	<div style="font-size:14px; float:left;"></div>
		                <div class="my_page">
								${pager}
		                </div>
		            </div>  
		    	</td>
		    	</tr>
		    	<#else>
		    	<tr  style="border:#cccccc 1px solid;text-align:center;"><td colspan="6"><div  class="check1 clearfix">${bundle("common.have.nrecord")}</div></td></tr>
		    	</#if>
		    	
		  	
	  		</table>
  		</div>
</div>
