<div class="policy">
	<h4><img src="themes/autel/images/${bundle('termsofuser.img')}" width="472" height="24" /></h4>
    <dl>
    	<dd>${bundle("termsofuser.one1")}</dd>
        <dd>${bundle("termsofuser.one2")}</dd>
        <dd>${bundle("termsofuser.one3")}</dd>
        <dd>${bundle("termsofuser.one25")}: </dd>
        <dd>${bundle("termsofuser.one26")}</dd>
        <dd>${bundle("termsofuser.one27")}:</dd>
        <dd>${bundle("termsofuser.one28")}</dd>
        <dd><strong>${bundle("termsofuser.one29")}</strong></dd>
        <dd><strong>${bundle("termsofuser.one30")}</strong></dd>
        <dd><strong>${bundle("termsofuser.one31")}
</strong></dd>
        <dd>${bundle("termsofuser.one32")}:<strong> ${bundle("termsofuser.one33")}</strong></dd>
        <dd>${bundle("termsofuser.one34")}:<strong> ${bundle("termsofuser.one35")}</strong></dd>
        <dd>${bundle("termsofuser.one36")}: 
</dd>
        <dd>${bundle("termsofuser.one37")}</dd>
        <dd>${bundle("termsofuser.one38")}</dd>
        
        <dd>${bundle("termsofuser.one70")}</dd>
        <dd>${bundle("termsofuser.one71")}</dd>
        <dd>${bundle("termsofuser.one72")}</dd>
        <dd>${bundle("termsofuser.one73")}</dd>
        <dd>${bundle("termsofuser.one74")}</dd>
        <dd>${bundle("termsofuser.one75")}</dd>
        <dd>${bundle("termsofuser.one76")}
</dd>
		<dd>${bundle("termsofuser.one77")}</dd>
        <dd>${bundle("termsofuser.one78")}</dd>
        <dd>${bundle("termsofuser.one79")}</dd>
        <dd>${bundle("termsofuser.one80")}</dd>
        <dd>${bundle("termsofuser.one81")}
</dd>
        <dd>${bundle("termsofuser.one82")}</dd>
        <dd>${bundle("termsofuser.one83")}</dd>
        <dd>${bundle("termsofuser.one86")}</dd>
        <dd><input name="" type="button" value="${bundle('calendar.close.name')}" class="renew3" onclick="window.close();"/></dd>
    </dl>
</div>