<script>

function setCountry(country){
	$('#country').val(country);
	if(country=='United States'){
		usaProvince();
	}else{
		$('#province').remove();
		$('#provinceTR').append('<input name="province" id="province" type="text" class="input_sign2" maxlength="120" size="50"/>');
	}
}

function usaProvince(){
	$('#province').remove();
	$('#provinceTR').append("<select class='input_sign2' name='province' id='province'>"+usaProvinceStr()+"</select>");
}


$(document).ready(function(){
	$("#country").click(function()
	{
			var url='selectCountry.html?operationType=27';
			art.dialog.open(url, {
			title: '',
			lock:true,
			okVal:'Ok',
			cancelVal:'Cancel',
			width: 1000, 
			height: 600,
			// 在open()方法中，init会等待iframe加载完毕后执行
			init: function () {
				var iframe = this.iframe.contentWindow;
				var username = iframe.document.getElementById('country');
				var top = art.dialog.top;// 引用顶层页面window对象
			}, 
			ok: function () {
		    	var iframe = this.iframe.contentWindow;
		    	var form = iframe.document.getElementById('selectForm');
		        country = iframe.document.getElementById('country').value;
		    	$('#country').val(country);  
		    	if(country=='United States'){
		    		usaProvince();
		    	}else{
		    		$('#province').remove();
		    		$('#provinceTR').append('<input name="province" id="province" type="text" class="input_sign2" maxlength="120" size="50"/>');
		    	}
		    },

			cancel: true
			});
	});
});

</script>
<#if customerInfo ??>
<form id="updateCustomerInformation" name="updateCustomerInformation" action="" method="post">
<input type="hidden" name="operationType" id="operationType" value="6">
<input type="hidden" name="code" id="code" value="${customerInfo.code!''}">
<input type="hidden" name="actCode" id="actCode" value="${customerInfo.actCode!''}">
<div class="account_right">
        <div class="my_products">
        	<div class="registe_infor">
            	<h3 class="infor_mation">${bundle("accountinformation.update.name")}</h3>
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.first.name")}<span class="font12red">&nbsp;* </span> </td>
					    <td>
						    <input name="firstName" id="firstName" type="text" value="${customerInfo.firstName!''}" class="input_sign" size="50" maxlength="100" />
						    <img id="firstNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
						
					<tr id="firstNameResult" style="display:none;">
			             	<td align="center" class="font14black">&nbsp;</td>
			                <td style="padding-top:5px;"><span id="firstNameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
		        	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
					  <tr id="middleNameDiv" style="display:none;">
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.middle.name")} </td>
					    <td><input name="middleName" id="middleName" type="text" value="${customerInfo.middleName!''}" class="input_sign" size="50" maxlength="100" />
					    <img id="middleNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					  </tr>
					  
					<tr id="middleNameResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="middleNameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr id="middlenametr" style="display:none;">
			            <td class="">&nbsp;</td>
			        </tr>
					<tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.last.name")}<span class="font12red">&nbsp;* </span></td>
					    <td><input name="lastName" id="lastName" type="text" value="${customerInfo.lastName!''}" class="input_sign" size="50" maxlength="100" />
					    <img id="lastNameImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					</tr>
					
					  <tr id="lastNameResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="lastNameResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
				</table>
				<h3 class="infor_mation">${bundle("accountinformation.update.youraddress")}</h3>
                
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.country.name")}<span class="font12red">&nbsp;* </span></td>
					    <td>
						    <input name="country" id="country" type="text" value="${customerInfo.country!''}" class="input_sign" size="50" maxlength="120" />
						    <img id="countryImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="countryResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="countryResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
	        	 
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.company.name")} </td>
					    <td><input name="company" id="company" type="text" class="input_sign" size="50" value="${customerInfo.company!''}" maxlength="120" />
					    <img id="companyImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					  </tr>
					  
					  <tr id="companyResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="companyResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        		 </tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
			        
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.address.name")}</td>
					    <td> <input name="address" id="address" type="text" class="input_sign" size="50" value="${customerInfo.address!''}" maxlength="120" />
					    <img id="addressImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					  </tr>
					  <tr id="addressResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="addressResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
			        
			        
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.city.name")}</td>
					    <td> <input name="city" id="city" type="text" class="input_sign" size="50" value="${customerInfo.city!''}" maxlength="120" />
					    <img id="cityImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					  </tr>
					  <tr id="cityResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="cityResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
			        
			        
			          <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("regcustomer.info.province")}</td>
					    <td id="provinceTR"> <input name="province" id="province" type="text" class="input_sign" size="50" value="${customerInfo.province!''}" maxlength="120" />
					    <img id="provinceImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
					  </tr>
					  <tr id="provinceResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="provinceResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
			        
			        
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.zipcode.name")}</td>
					    <td> 
					    	<input name="zipCode" id="zipCode" type="text" class="input_sign" size="50" value="${customerInfo.zipCode!''}" maxlength="100" />
					     	<img id="zipCodeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					     </td>
					  </tr>
					<tr id="zipCodeResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="zipCodeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
				</table>
				<h3 class="infor_mation">${bundle("accountinformation.update.yourcontactinformation")}</h3>
                
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px"></td>
					    <td>${bundle("accountinformation.countrycode.name")}  
					    	&nbsp;&nbsp;&nbsp;&nbsp;        
					    	${bundle("accountinformation.areacode.name")}         
					    </td>
					  </tr>
					 <tr>
			            <td class="">&nbsp;</td>
			        </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("memberman.sealerinfoman.phonec")}</td>
					    <td>
					    	<input name="dayTimePhoneCC" id="dayTimePhoneCC" type="text" value="${customerInfo.daytimePhoneCC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	<input name="dayTimePhoneAC" id="dayTimePhoneAC" type="text" value="${customerInfo.daytimePhoneAC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	<input name="dayTimePhone" id="dayTimePhone" type="text" value="${customerInfo.daytimePhone!''}" class="input_sign" size="11" maxlength="15" />
					    	<img id="dayTimeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					    
					  </tr>
					  <tr id="dayTimeResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="dayTimeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.mobilephone.name")}</td>
					    <td>
					    	 <input name="mobilePhoneCC" id="mobilePhoneCC" type="text" value="${customerInfo.mobilePhoneCC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	 <input name="mobilePhoneAC" id="mobilePhoneAC" type="text" value="${customerInfo.mobilePhoneAC!''}" class="input_sign" size="11" maxlength="5" />&nbsp;&nbsp;
					    	 <input name="mobilePhone" id="mobilePhone" type="text" value="${customerInfo.mobilePhone!''}" class="input_sign" size="11" maxlength="15" />
					    	<img id="mobileImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					  <tr id="mobileResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="mobileResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 	</tr>
	        	 	<tr>
			            <td class="">&nbsp;</td>
			        </tr>
				</table>
				<h3 class="infor_mation">${bundle("accountinformation.user.regcommunicationautel")}</h3>
                <p>
               		<#if customerInfo.isAllowSendEmail == 1>
               			<input type="checkbox" value="1"  checked="checked" id="isAllowSendEmail" name="isAllowSendEmail" onclick="setEmail(this);"/>
               		<#else>
               			 <input type="checkbox" value="0"  id="isAllowSendEmail" name="isAllowSendEmail" onclick="setEmail(this);"/>
               		</#if>
                	${bundle("customercomplaint.email.name")}
                 </p>
                <p>${bundle("accountinformation.autelnews.softwareupdate")}</p>
                <table width="790" border="0">
                	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
                	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
                 	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td align="center"><span id="operationResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
                	</tr>
                 </table>
                <p style="padding-bottom:20px; padding-top:20px; padding-right:200px;border-top:#cccccc 1px solid; text-align:right; margin-top:10px;">
                	<input name="" type="button" onclick="location.href='updateCustomerInfo.html?operationType=5'" value="${bundle('common.btn.return')}" class="renew3" style="margin-right:20px;" />
                	<input name="checkUpdateCustomerInfo" id="checkUpdateCustomerInfo" type="button" value="${bundle('produdt.js.save')}" class="renew3" style="margin-right:20px;" />
                </p>
            	</div>
        </div>
    </div>
</div>
</form>
<#else>
<script type="text/javascript">
window.location="login.html";
</script>
</#if>