<form id="updatePassword" name="updatePassword" action="" method="post">
<input type="hidden" name="autelId" id="autelId" value="${autelId!''}">
<input type="hidden" name="id" id="id" value="${id!''}">
 <div class="account_right">
    	<h4>${bundle("mydistributor.editpassword")}</h4>
        <div class="my_products">
        	<div class="registe">
            	<table width="790" border="0">
				  <tr >
				    <td align="right" width="238" style="padding-right:16px">${bundle("update.oldpassword.name")}</td>
				    <td>
				    <input  name="oldPassword" id="oldPassword" type="password" class="input_sign" size="50" maxlength="25" onfocus="clearAllErrorInfo();"/>
				    <img id="oldPasswordImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
				    </td>
				  </tr>
				  <tr id="oldPasswordResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="oldPasswordResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
	        	 <tr>
			           <td class="">&nbsp;</td>
			     </tr>
	        	 
				  <tr >
				    <td align="right" width="238" style="padding-right:16px">${bundle("update.newpassword.name")}</td>
				    <td><input name="userPwd" id="userPwd" type="password" class="input_sign" size="50" maxlength="25" onfocus="clearAllErrorInfo();"/>
				    <img id="userPwdImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img></td>
				  </tr>
				  <tr id="userPwdResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="userPwdResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
				  <tr>
			            <td class="">&nbsp;</td>
			     </tr>
				  <tr>
				    <td align="right" width="238" style="padding-right:16px">${bundle("update.confirmpassword.name")}</td>
				    <td>
					    <input name="confirmPassword" id="confirmPassword" type="password" class="input_sign" size="50" maxlength="25" onfocus="clearAllErrorInfo();"/>
					    <img id="confirmPasswordImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
				    </td>
				  </tr>
				  
				 <tr id="confirmPasswordResult" style="display:none;">
		             <td align="center" class="font14black">&nbsp;</td>
		             <td style="padding-top:5px;"><span id="confirmPasswordResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        	 </tr>
				  <tr>
				     	<td align="right" class="font14black">&nbsp;</td>
				        <td><span id="confirmPasswordTip" style="font-size:20px;color:red;"></span></td>
				  </tr>
				  
				  <tr height="48">
				    <td align="right" width="254">&nbsp;</td>
				    <td><input  name="checkUpdatePassword" id="checkUpdatePassword" type="button" value="${bundle('common.btn.ok')}" class="renew3" />
				    <input name="canel" id="canel" type="reset" value="${bundle('common.btn.reset')}" class="renew3" style="margin-left:50px;" /></td>
				  </tr>
				</table>
		</div>
</div>
    </div>
</form>

