<#if customerInfo ??>
<form id="updateCustomerInfo" name="updateCustomerInfo" action="" method="post">
<input type="hidden" name="operationType" id="operationType" value="6">
<input type="hidden" name="code" id="code" value="${customerInfo.code!''}">
<input type="hidden" name="actCode" id="actCode" value="${customerInfo.actCode!''}">
<div class="account_right">
        <div class="my_products">
        	<div class="registe_infor">
        	
				<h3 class="infor_mation">${bundle("accountinformation.preferredlanguage.name")}</h3>
            	<table width="790" border="0">
					  <tr>
					    <td align="right" width="238" style="padding-right:16px">${bundle("accountinformation.preferredlanguage.name2")}<span class="font12red">&nbsp;* </span></td>
					    <td>
					    	<select name="languageCode" id="languageCode" style="width:280px;">
		                        <option value="-1">${bundle("product.select")}</option>
		                        <#list languageList as language>
		                        	<#if customerInfo.languageCode ?? && customerInfo.languageCode == language.code>
		                        		<option id="${language.code!''}" value="${language.code!''}" selected >${language.name!""}</option>
		                        	<#else>
		                        		<option id="${language.code!''}" value="${language.code!''}" >${language.name!""}</option>	
		                        	</#if>
								</#list>
                      		</select>
                      		 <img id="languageCodeImg" src="${imagePath}/images/myappleid_error.png" style="display:none;"></img>
					    </td>
					  </tr>
					 <tr id="languageCodeResult" style="display:none;">
		             	<td align="center" class="font14black">&nbsp;</td>
		                <td style="padding-top:5px;"><span id="languageCodeResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
	        		 </tr>
				</table>
                <table width="790" border="0">
                	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
                	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
                	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
                	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
                	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
                	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
                	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td></td>
                	</tr>
                 	<tr>
	                	<td align="right" class="font14black">&nbsp;</td>
	                    <td align="center"><span id="operationResultTip" style="font-size:12px;color:#ea0000;font-weight:bold;">&nbsp;</span></td>
                	</tr>
                 </table>
                <p style="padding-bottom:20px; padding-top:20px; padding-right:200px;border-top:#cccccc 1px solid; text-align:right; margin-top:10px;">
                	<input name="" type="button" onclick="location.href='updateCustomerInfo.html?operationType=5'" value="${bundle('common.btn.return')}" class="renew3" style="margin-right:20px;" />
                	<input name="checkUpdateCustomerInfo" id="checkUpdateCustomerInfo" type="button" value="${bundle('produdt.js.save')}" class="renew3" style="margin-right:20px;" />
                </p>
            	</div>
        </div>
    </div>
</div>
</form>
<#else>
<script type="text/javascript">
window.location="login.html";
</script>
</#if>