<#if userLoginInfo?has_content>
<p style="font-size:13px; color:#727272; padding-left:276px;">${bundle("mydistributor.dear.name")} ${userName}:</p>
                <p style="padding-top:5px;font-size:28px; line-height:24px; font-weight:bold; color:#000000; padding-left:240px;">${bundle("mydistributor.welcometoautel.name")}</p>
                <p style="font-size:13px; margin-top:10px; line-height:18px; color:#727272; padding-left:116px; padding-right:116px;">${bundle("customer.welcome.desc")}</p>
				<p style="font-size:13px; padding-bottom:10px; padding-top:10px; color:#727272; padding-left:276px;">${bundle("mydistributor.lastlogintime.name")}: ${userLoginInfo.loginTime}</p>
	<#else>
            <p style="font-size:13px; color:#727272; padding-left:276px;">${bundle("mydistributor.dear.name")} ${userName}:</p>
                <p style="font-size:28px; line-height:24px; font-weight:bold; color:#000000; padding-left:240px;">${bundle("mydistributor.welcometoautel.name")}</p>
                <p style="font-size:13px; margin-top:10px; line-height:18px; color:#727272; padding-left:116px; padding-right:116px;">${bundle("customer.welcome.desc")}</p>
				<p style="font-size:13px; padding-bottom:10px; padding-top:10px; color:#727272; padding-left:276px;">${bundle("mydistributor.firstlogin.name")}</p>	
</#if>

            	
