.onEmptyShow
{
    padding-left:25px; 
	font-size: 14px;
	line-height:22px; 
	vertical-align:middle;
}
.onShow
{
    background:url(../images/onShow.gif) no-repeat 0px -2px; 
    padding-left:25px; 
	font-size: 14px;
	line-height:22px; 
	vertical-align:middle;
}
.onFocus
{
    background: url(../images/onFocus.gif) no-repeat 0px -2px; 
    padding-left:25px; 
	font-size: 14px;
	line-height:22px; 
	vertical-align:middle;
}
.onError
{
    background: url(../images/onError.gif) no-repeat 0px -2px;
    padding-left:25px;
	font-size: 14px;
	line-height:22px; 
	vertical-align:middle;
}
.onCorrect
{
    background: url(../images/onCorrect.gif) no-repeat 0px -2px;
    padding-left:25px;
	font-size: 14px;
	line-height:22px; 
	vertical-align:middle;
}
.onLoad
{
    background:url(../images/onLoad.gif) no-repeat 3px 3px;
    padding-left:25px;
	font-size: 14px;
	line-height:22px; 
	vertical-align:middle;
} 