* {
	margin: 0;
	padding: 0;
	text-decoration: none;

}

div{
	text-decoration: none;
	font-family: 'Lato',Heltevica,Arial,sans-serif;

}
.sign_text_tips{
	width: auto;
    padding: 0 25px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 32px;
    font-family: 'Lato',Heltevica,Arial,sans-serif;
    color: #999999;
    line-height: 1.4;
}
.xianyi{
	width: 800px;
	margin: 0 auto;
}
.xianyi .neirong{
	font-family: 'Lato',Heltevica,Arial,sans-serif;
	font-size: 18px;
	color: #333;
	display: block;
	margin-top: 21px;

}
.xianyi li{
	font-family: 'Lato',Heltevica,Arial,sans-serif;
	font-size: 14px;
	color: #666;
	margin-top:21px;
}
.xianyi a{
	font-family: 'Lato',Heltevica,Arial,sans-serif;
	font-size: 14px;
	display: block;
	margin-top:21px;
	margin-bottom: 50px;

}
.xianyi .anniu{

}
.xianyi .anniu a{
	width: 130px;
	height: 45px;
	border: 1px #e3e3e3 solid ;
	line-height: 45px;
	text-align: center;
	float: left;
}
.xianyi .anniu a:hover{
	background: red;
	color: #fff;
	text-decoration: none;

}
.xianyi .anniu .AGREE{
	background: red;
	color: #fff;
	text-decoration: none;
	float: right;
}


.xianyi-z .xianyi{
	width: 80%;
	margin: 0 auto;
}

/*sdk*/

.sdk {
	width: 100%;
	margin: 0 auto;
}

.sdk .zuo{
	width: 100%;
	border-bottom: 1px #e5e5e5 solid;
	float: left;
}

.sdk .zuo p{
	font-family: 'Lato',Heltevica,Arial,sans-serif;
	font-weight: bold;
	font-size: 14px;
	margin:10px  20px;
	float: left;

}
.sdk .zuo a{
	margin:10px  20px;
	line-height: 40px;
	font-size: 14px;
	color: #999;
	
}
.sdk .zuo .zhong{
	color: #EC2028;
}

.sdk .you {
        
		font-size: 14px;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 20px;
		padding-top: 50px;
}
.sdk .you  select{
	width: 180px;
	height: 30px;
	border: 1px #e5e5e5 solid;
	line-height: 3.75rem;
	padding: 5px;		
	font-size: 14px;		
	float: left;
	margin-top: 20px;
	margin-bottom: 0px;
}
.sdk .you  option {
	line-height: 1.875rem;

}

.sdk .you .btn1{
    	width: 138px;
    	height: 44px;
    	color: #fff;
    	background: red;
    	text-align: center;
    	line-height: 44px;
    	display: block;
    	float: right;
    	margin-top: 10px;
    	
}
.sdk .sdk-a{
	border-top:1px #e5e5e5 solid;
	margin-top: 60px;


} 

.sdk .sdk-1{
	width: 95%;
	height: 100px;
	border-bottom:1px #e5e5e5 solid;
} 

.sdk .sdk-1 .zuo-1{
    	width: 30%;
    	background: #1db7e4;
    	border-radius: 5px;
    	font-size: 1.2rem;
    	line-height: 4.95rem;
    	color: #fff;
    	text-align: center;
    	margin: 10px 0;
    	margin-left: 0.5rem;
    	float: left;

    }
.sdk .sdk-1 .you-1{
	display: block;
	float: left;
	margin-left: 30px;
	margin-top: 15px;
}

.sdk .sdk-1 .you-1 h4{
	margin: 0 10px 0 0;
	padding:0;
    	font-size: 1rem;
    	color: #333;
    	margin-bottom: 1.5rem;

    	

    }
.sdk .sdk-1 .you-1 h2 {
    	font-size: 1rem;
    	color: #999;
    	margin: 0;
    	padding: 0;
    	margin-top: 1rem;
    	text-align: left;

    }

.sdk .you .span9 .btn1 a{
	color: #fff;
	line-height: 44px;
}

/*弹窗*/

.demo16 .guanbi {
	color: #fff;
	text-decoration: none;

}

.demo16 a:hover {
	color: #000;
	text-decoration: none;
}

#demo16 {
	display: none;
	width: 100%;
	background: #fff;
	margin: 0 auto;
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	float: left;

}

.WER p{
	font-family:'Lato',Heltevica,Arial,sans-serif;
	font-size: 1.5rem;
	color: #666;

}
#demo16 h4 {
	font-family:'Lato',Heltevica,Arial,sans-serif;
	color: #333;
	text-align: left;
	font-weight:500;
	font-size: 1rem;



}
#demo16 h5 {
	font-size: 0.875rem;
	font-weight:300;
	font-family:'Lato',Heltevica,Arial,sans-serif;
	color: #666;
	text-align: left;
}
#demo16 .xianyi-lianjie{
	font-family:'Lato',Heltevica,Arial,sans-serif;
	font-size: 0.875rem;
	color: #20a2ec;
	text-align: left;
	text-decoration: none;
	display: block;
}

#demo16 .anniu{
	width: 138px;
    	height: 44px;
    	color: #fffFFF;
    	background: red;
    	text-align: center;
    	line-height: 2.75rem;
    	display: block;
    	float: right;
    	margin-top: 10px;
    	
}
.WER .btn1{
	    width: 138px;
    	height: 44px;
    	color: #a0a0a0;
    	border: 1px #e5e5e5 solid;
    	line-height: 2.75rem;
    	display: block;
    	float: left;
    	margin-top: 10px;
    	
    	
}
#demo17 .anniu{
	width: 138px;
    	height: 44px;
    	color: #fffFFF;
    	background: red;
    	text-align: center;
    	line-height: 2.75rem;
    	display: block;
    	float: right;
    	margin-top: 10px;
}

#demo17 {
	display: none;
	width: 100%;
	height: 540px;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
    background: #fff;
}

.WER .yi{
	width: 100%;
	margin: 20px auto;
	line-height: 2.5rem;
}
.WER .yi .kuang{
	width: 60%;
	height: 40px;
	float: right;
	border: 1px #e5e5e5 solid;
	padding-left: 20px;
}
.WER .yi-1{
	width: 100%;
	height: 100px;
	margin: 20px auto;
	line-height: 1.875rem;
}
.WER .yi-1 .kuang1{
	font-size: 1rem;
	width: 60%;
	height: 100px;
	float: right;
	border: 1px #e5e5e5 solid;
	padding-left: 20px;
}
.sdk .android{
	width: 440px;
	text-align: center;
	float: left;
}
.sdk .android h4{
	width: 210px;
	height: 50px;
	border: 1px #e5e5e5 solid;
	line-height: 50px;
	margin: 50px auto;
}
.sdk .android .xia{
	color: #666;
	height: 40px;
	width: 440px;
	display: block;
	float: left;
	margin: 0px auto;
	padding-right: 30px;
	border-right: 1px #a5a5a5 solid;
}
.sdk .android .xia-1{
	border-right: 0px ;
}