@import
	url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900")
	;

@import
	url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	;

@import url("css/bootstrap.min.css");

@media ( min-width : 768px) {
	.row-relative {
		position: relative;
	}
	.col-border-padding {
		padding-left: 15px;
	}
	.col-border {
		padding-left: 0;
		position: static;
	}
	.col-border:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		border-left: 1px dotted #dddddd;
	}
}

body {
	font-family: 'Lato', Heltevica, Arial, sans-serif;
	color: #666666;
}

a,a:focus,a:hover {
/* 	color: #cf0000; */
	text-decoration: none;
}

.font-12 {
	font-size: 12px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.no-border {
	border: none;
}

.padding-10 {
	padding: 10px;
}

.padding-30 {
	padding: 30px;
}

.padding-top-0 {
	padding-top: 0;
}

.row>div:first-child .padding-30 {
	padding-left: 0;
}

.row>div:last-child .padding-30 {
	padding-right: 0;
}

.btn-danger {
	background-color: #EC1C24;
}

h1 {
	font-weight: 100;
	margin-bottom: 40px;
}

h4 {
	font-weight: 700;
	color: #cf0000;
}

header {
	position: absolute;
	z-index: 20;
	width: 100%;
	top: 0;
}

.navbar {
	border-radius: 0;
	border: none;
	background-color: rgba(255, 255, 255, .8);
	box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}

.navbar-brand {
	height: 84px;
	padding: 0;
	margin-right: 40px;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover
	{
	color: #cf0000;
	background-color: transparent;
}

@media ( max-width : 767px) {
	.navbar-nav>li>a>span {
		display: none;
	}
	.navbar-toggle {
		float: left;
		margin-left: 15px;
		border: none;
		border-radius: 0;
		margin-top: 25px;
	}
	.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover
		{
		background-color: transparent;
	}
	.navbar-collapse {
		background-color: #ffffff;
	}
}

@media ( min-width : 768px) {
	.navbar-nav>li {
		position: static;
	}
	.navbar-nav>li>a {
		padding-top: 38px;
		padding-bottom: 26px;
		padding-left: 26px;
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-right: 10px;
	}
	.navbar-nav>li>a>span {
		display: block;
		float: right;
		font-weight: 300;
		margin-top: 13px;
		-ms-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		transform-origin: left top 0;
	}
}

.dropdown-menu {
	width: 100%;
	border: none;
	border-radius: 0;
	padding: 20px 0 0 0;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175) inset;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175) inset;
	background-color: rgba(255, 255, 255, .95);
}

.dropdown-menu h5 {
	margin-top: 0;
}

.dropdown-menu h5 a,.dropdown-menu h5 a:focus,.dropdown-menu h5 a:hover
	{
	color: #666666;
}

.dropdown-menu .col-lg-6:first-child h5 {
	margin-right: 50px;
}

.dropdown-menu .col-lg-6:last-child h5 {
	margin-left: 35px;
}

.dropdown-menu-footer {
	margin-top: 10px;
	background: #444444;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 0;
	letter-spacing: .5px;
}

.dropdown-menu-footer a,.dropdown-menu-footer a:hover {
	color: #ffffff;
	text-decoration: none;
}

@media ( max-width : 767px) {
	.dropdown-menu .product {
		text-align: center;
		margin-bottom: 20px;
	}
	.dropdown-menu .product h5 {
		margin-left: 0 !important;
		margin-right: 0 !important;
		text-align: center;
	}
	.dropdown-menu-footer {
		display: none;
	}
}

.content {
	margin-top: 84px;
	min-height: 500px;
}

.home .content {
	margin-top: 0;
}

.home #hero-slider {
	
}

#hero-slider .item {
	height: 685px;
}

#hero-slider .item.x-star {
	background: url('/wp-content/uploads/2015/12/hero1b_3840.jpg') center;
	background-size: cover;
}

#hero-slider .item.x-star-standard {
	background: url('/wp-content/uploads/2016/01/hero3_3840.jpg') center;
	background-size: cover;
}

#hero-slider .item.x-star-premium {
	background: url('/wp-content/uploads/2016/01/hero4_3840.jpg') center;
	background-size: cover;
}

#hero-slider .item .carousel-caption {
	right: 230px;
	top: 75px;
	left: 50%;
	padding-top: 100px;
	padding-left: 50px;
	text-align: left;
	text-transform: uppercase;
	font-size: 16px;
}

#hero-slider .item .carousel-caption h4 {
	color: #fff;
	font-size: 48px;
	font-weight: 400;
}

#hero-slider .item .carousel-caption h5 {
	font-size: 24px;
	font-weight: 400;
	margin-top: 30px;
}

#hero-slider .item .carousel-caption p {
	font-size: 14px;
}

#hero-slider .item .carousel-caption a.btn {
	font-size: 13px;
	padding: 8px 16px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	margin-top: 20px;
	letter-spacing: 1px;
}

#hero-slider .item .carousel-caption a.btn:hover,#hero-slider .item .carousel-caption a.btn:focus,#hero-slider .item .carousel-caption a.btn:active
	{
	background-color: #AF0000;
}

@media ( max-width : 767px) {
	#hero-slider .item {
		height: 380px;
	}
	#hero-slider .item.x-star {
		background: url('/wp-content/uploads/2015/12/hero1b_1024.jpg') -130px
			-110px;
	}
	#hero-slider .item.x-star-standard {
		background: url('/wp-content/uploads/2016/01/hero3_1024.jpg') -230px
			-120px;
	}
	#hero-slider .item.x-star-premium {
		background: url('/wp-content/uploads/2016/01/hero4_1024.jpg') -230px
			-120px;
	}
	#hero-slider .item .carousel-caption {
		position: static;
		padding-left: 0;
		text-align: center;
	}
	#hero-slider .item .carousel-caption img {
		display: none;
	}
	#hero-slider .item .carousel-caption h4 {
		font-size: 28px;
	}
	#hero-slider .item .carousel-caption h5 {
		font-size: 16px;
		margin-top: 66px;
	}
	#hero-slider .item .carousel-caption p {
		display: none;
	}
}

.home .hr-h5 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 40px;
	margin-bottom: 40px;
	background: url('img/hr-bg.gif') center repeat-x;
}

.home .hr-h5 span {
	background: #ffffff;
	padding-right: 10px;
}

@media ( max-width : 767px) {
	.home .hr-h5 {
		text-align: center;
	}
	.home .hr-h5 span {
		padding-left: 10px;
	}
}

.featured-products {
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.featured-products img {
	margin: 0 auto;
}

.featured-products h3 {
	font-weight: 100;
	font-size: 30px;
}

.featured-products a {
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@media ( max-width : 767px) {
	.featured-products {
		text-align: center;
		padding-bottom: 0;
	}
	.padding-30 {
		padding: 0;
	}
	.featured-products div.col-border {
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px dotted #dddddd;
	}
}

.featured-videos {
	background: #f1f1f1;
	padding: 40px 0;
}

.featured-videos .container {
	
}

.featured-videos .video a {
	display: block;
	position: relative;
	height: 150.5px;
	overflow: hidden;
	color: rgba(255, 255, 255, .8);
}

.featured-videos .video a i {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.featured-videos .video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.featured-videos .video-container iframe,.featured-videos .video-container object,.featured-videos .video-container embed
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.product-header {
	background: #f2f2f2;
	padding: 20px 0;
	box-shadow: 0 0 6px rgba(0, 0, 0, .2);
	margin-bottom: 40px;
}

.product-header h1 {
	margin: 0;
}

.product-header .nav-tabs {
	border: none;
	text-transform: uppercase;
}

.product-header .nav-tabs>li {
	padding: 10px 0;
}

.product-header .nav-tabs>li>a {
	font-size: 13px;
	letter-spacing: 1.2px;
}

.product-header .nav-tabs>li>a,.product-header .nav-tabs>li>a:focus,.product-header .nav-tabs>li>a:hover
	{
	color: #666666;
	background: none;
	border: none;
	border-radius: 0;
	padding: 0 15px;
	cursor: pointer;
}

.product-header .nav-tabs>li.active>a,.product-header .nav-tabs>li.active>a:focus,.product-header .nav-tabs>li.active>a:hover
	{
	color: #cf0000;
	background: none;
	border: none;
	border-radius: 0;
	padding: 0 15px;
	cursor: default;
}

.product-header .nav-tabs>li:first-child>a,.product-header .nav-tabs>li:first-child>a:focus,.product-header .nav-tabs>li:first-child>a:hover
	{
	border-right: 1px dotted #dddddd;
}

.product-content .row {
	padding-bottom: 40px;
	border-bottom: 1px solid #f2f2f2;
}

.product-content .row-relative {
	border-bottom: 1px dotted #dddddd;
}

.product-content .row-relative:last-child {
	border-bottom: none;
}

.product-content .img-responsive {
	margin: 0 auto;
}

.product-content .img-responsive.text-left {
	margin: 0;
}

.product-content .intro h2 {
	font-size: 48px;
	color: #333;
}

.product-content .intro p {
	font-size: 16px;
	line-height: 28px;
}

.product-content h5 {
	font-size: 32px;
	font-weight: 100;
	margin-bottom: 20px;
}

.product-content h6 {
	font-size: 22px;
	margin-bottom: 20px;
	font-weight: 300;
}

.product-content p {
	line-height: 26px;
}

.product-content .product-smart-features {
	background: url("img/x-star-feature-6.gif") no-repeat;
	padding-left: 36px;
	padding-bottom: 5px;
}

.product-content .product-smart-features li {
	line-height: 22px;
	margin-bottom: 10px;
}

.product-content #specs dl {
	margin-bottom: 40px;
}

.product-content #specs dl dt {
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 20px;
}

.product-content #specs ul li {
	line-height: 40px;
	padding: 0 10px;
}

.product-content #specs ul li:nth-child(odd) {
	background: #f0f0f0;
}

.product-content #specs ul li span {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

@media ( max-width : 767px) {
	.product-content h2 {
		text-align: center;
	}
	.product-content h5 {
		font-size: 30px;
		text-align: center;
	}
}

footer,footer a,footer a:hover,footer a:focus {
	color: #aeaeae;
}

footer,footer a {
	font-size: 16px;
}

.footer-top {
	padding-top: 30px;
	padding-bottom: 30px;
	background: #505050;
}

.footer-newsletter-tagline,.footer-social {
	line-height: 34px;
}

.footer-newsletter input {
	border: none;
	box-shadow: none;
	width: 222px;
}

@media ( min-width : 768px) {
	.form-inline .input-group>.form-control {
		width: 222px;
	}
}

.footer-newsletter .input-group-addon {
	background: #ffffff;
	border: none;
	padding: 9px 6px 10px;
	cursor: pointer;
}

.footer-newsletter .input-group-addon span {
	background: #757575;
	color: #ffffff;
	padding: 0 7px 3px;
	border-radius: 40px;
	line-height: 14px;
}

.footer-social a {
	padding: 0 10px;
	font-size: 18px;
}

.footer-social a:last-child {
	padding-right: 0;
}

.footer-bottom {
	padding-top: 30px;
	padding-bottom: 30px;
	background: #383838;
	font-size: 14px;
}

.footer-bottom hr {
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid #454545;
}

.footer-bottom .contact {
	text-align: right;
}

.footer-bottom .links a {
	vertical-align: 3px;
	font-size: 14px;
}

.footer-bottom .contact a,.footer-bottom .copyright a {
	font-size: 14px;
}

.footer-bottom .links span,.footer-bottom .contact span,.footer-bottom .copyright span
	{
	padding: 0 5px;
	font-size: 24px;
	color: #757575;
}

.footer-bottom .contact span,.footer-bottom .copyright span {
	vertical-align: -2px;
}

.footer-bottom .copyright p {
	display: inline-block;
}

.footer-bottom .copyright a:first-child {
	padding-left: 10px;
}

@media ( max-width : 767px) {
	.footer-top,.footer-bottom,.footer-top .text-right,.footer-bottom .contact
		{
		text-align: center;
	}
	.footer-bottom .links a {
		padding: 5px;
	}
	.footer-bottom .contact {
		margin-top: 20px;
	}
	.footer-bottom .contact a {
		display: block;
	}
	.footer-bottom .links span,.footer-bottom .contact span {
		display: none;
	}
	.footer-bottom .copyright img {
		display: block;
		margin: 20px auto 0;
	}
	.footer-bottom .copyright p {
		display: block;
	}
	.footer-bottom .copyright a:first-child {
		padding-left: 0px;
	}
	//头部样式
	.my_header{width:100%;background:rgba(255, 255, 255, .8);position: absolute; top: 0;width: 100%;z-index: 20;
	box-shadow: 0 0 6px rgba(0, 0, 0, .2);
	height: 84px;
	}
	.header_container{
		width:768px;
		height: 84px;
		margin:0 auto;
	}
}