.sdk .app-detail-container {
	font-family:"Open Sans","Helvetica Neue","Microsoft YaHei","WenQuanYi Micro Hei",Arials,sans-serif;
	font-size:14px;
	line-height:1.6;
	color:#979797;
}
.sdk .app-detail-container h3{
	color:#707473;
	font-weight: bold;
	
}
.sdk .btn-cancel,.btn-normal {
	text-align:center;
	min-width:120px;
	padding:9px 10px;
	background:#fff;
	border:1px solid #aaa;
	color:#979797;
	line-height:17px;
	font-weight:400;
	cursor:pointer;
	text-transform:uppercase;
	border-radius:2px;

	margin-right: 20px;
}
.sdk .form-btns :hover{
	background:#aaa;
	color:#fff;
	line-height:17px;
	font-weight:400;
	cursor:pointer;
	text-transform:uppercase;
	border-radius:2px;
	-webkit-transition:all .5s;
	transition:all .5s;
	margin-right: 20px;
}
.sdk .app-detail-container .form-btns{
	margin-top: 20px;

}