<tr>
	 <th>
	 	${bundle("syssetting.payset.alipaypartnerid") }:
	 </th>
	 <td>
 	 <input type="text" name="partner" value="${partner!''}" dataType="string" isrequired="true" maxlength="80"  />
	</td>
</tr>
<tr>
	 <th>${bundle("syssetting.payset.alipaycheckcode") }:</th>
	 <td>
 	 <input type="text" name="key"  value="${key!''}" dataType="string" isrequired="true"  maxlength="80"  />
	</td>
</tr>
<tr>
	 <th> ${bundle("syssetting.payset.alipaysaleaccount") }:</th>
	 <td>
 	 <input type="text" name="seller_email"  value="${seller_email!''}" dataType="string" isrequired="true" maxlength="80"  />
	</td>
</tr>
<tr>
	 <th>&nbsp;</th>
	 <td>
	 	${bundle("syssetting.payset.alipayparameter") }
	</td>
</tr>
<tr>
	 <th> ${bundle("syssetting.payset.alipayparameternotiy") }:</th>
	 <td>
 	 	<select name="callback_encoding">
 	 		<option value="">${bundle("syssetting.payset.alipayparamenocode") }</option>
 	 		<option value="UTF-8"  <#if callback_encoding?exists && callback_encoding=='UTF-8'>selected</#if>  >UTF-8</option>
 	 		<option value="GBK" <#if callback_encoding?exists && callback_encoding=='GBK'>selected</#if> >GBK</option>
 	 	</select>
	</td>
</tr>
<tr>
	 <th>${bundle("syssetting.payset.alipayparameterreturn") }:</th>
	 <td>
 	 	<select name="return_encoding">
 	 		<option value="">${bundle("syssetting.payset.alipayparamenocode") }</option>
 	 		<option value="UTF-8" <#if return_encoding?exists &&  return_encoding=='UTF-8'>selected</#if> >UTF-8</option>
 	 		<option value="GBK" <#if  return_encoding?exists && return_encoding=='GBK'>selected</#if> >GBK</option>
 	 	</select>
	</td>
</tr>

